[2021-09-10 23:34] Nic-Ma commented on #2927
Hi @yiheng-wang-nv ,

Could you please help take a look at this issue and share some comments?
I think it because the VAE version outputs several values, not only the prediction.

Thanks.

[2021-09-11 10:58] #2925 closed

[2021-09-11 13:36] Nic-Ma opened #2928 "Add Tensor support in `ScaleIntensityRange` transform"
**Is your feature request related to a problem? Please describe.**
Hi @rijobro ,

As `ScaleIntensityRange` is popular in many existing solutions: spleen, pathology, etc. it would be great to have Tensor support for it to tune the performance.
Could you please help mark it a high priority to develop?

Thanks in advance.

[2021-09-12 03:02] #2920 closed

[2021-09-12 14:27] drbeh opened #2929 "RandZoom on batch"
**Is your feature request related to a problem? Please describe.**
`RandZoom` uses `Zoom` which uses [`torch.nn.functional.interpolate`](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html) under the hood to extract randomly zoomed images. Although `torch.nn.functional.interpolate` is capable of being applied on batch x channels x [optional depth] x [optional height] x w

[2021-09-13 04:13] zephyrie commented on #2735
Added docs page with MONAI Core and MONAI Label cards.

Needed to add a CSS height fix to make the footer float at the bottom.

[2021-09-13 04:17] zephyrie commented on #2736
I added a short/hacky fix for this issue for the docs page using inline CSS on the main section to fix this issue.  We can address this better when we work on our redesign.

[2021-09-13 05:27] yiheng-wang-nv commented on #2927
Hi @lyndonboone and @Nic-Ma, using this return format is to make the network be compatible with torchscript (see https://github.com/Project-MONAI/MONAI/pull/1259).

[2021-09-13 07:15] Nic-Ma opened #2933 "MONAI transforms can't only support `Tensor` backend"
**Is your feature request related to a problem? Please describe.**
Currently, some transforms only support Tensor backend, which will break previous numpy based transform chains.
Need to update them to make sure all the transforms support both `numpy` and `Tensor` backends or only `numpy` backend.

[2021-09-13 07:16] Nic-Ma commented on #2933
Hi @rijobro ,

I will try to enhance them ASAP before 0.7 release if you have no concerns.

Thanks in advance.

[2021-09-13 07:25] wyli commented on #2929
the concept of minibatch is part of the model optimization using stochastic gradient descent, anything that dealing with minibatches should be in the 'monai.networks' module of monai.

The price for mixing the concepts of batch and nonbatch is not just a simple flag, it requires a full set of dimensionality input validation, and potentially reduces the usability/code readability.

[2021-09-13 07:39] #2736 closed

[2021-09-13 07:41] wyli commented on #2735
Addressed by https://github.com/Project-MONAI/project-monai.github.io/pull/19

[2021-09-13 07:41] #2735 closed

[2021-09-13 07:42] wyli commented on #2736
Addressed by https://github.com/Project-MONAI/project-monai.github.io/pull/19

[2021-09-13 07:56] #2893 closed

[2021-09-13 07:57] #2886 closed

[2021-09-13 07:59] #2883 closed

[2021-09-13 08:01] #2825 closed

[2021-09-13 08:34] yiheng-wang-nv commented on #2186
FYI: this transform is used in the classification model of [RANZCR challenge's 1st place solution](https://www.kaggle.com/haqishen/ranzcr-1st-place-soluiton-cls-model-small-ver)

[2021-09-13 08:44] rijobro commented on #2933
Hi, all of the transforms that I have been updating will perform any necessary numpy<->torch conversions. Do you mean that the updated transforms might now return the data in a different format (e.g., torch instead of numpy) and some of the old transforms can't handle that?

[2021-09-13 10:26] Nic-Ma commented on #2933
Hi @rijobro ,

Yes, that's the problem, old transforms can't handle the `Tensor` output, and another problem is that: if we input `numpy array` to random transform and output `Tensor`, if the `prob` is < 1.0, then some output will be `numpy array` and some will be `Tensor`, then we can't **collate** them in DataLoader.

Thanks.

[2021-09-13 10:49] rijobro commented on #2933
I've tried to make it so that for random transforms, I've tried to perform the data conversion that would have been applied if the transform had have been applied. If I've missed that anywhere, please let me know and I'll update. (example of conversion when transform is not applied [here](https://github.com/Project-MONAI/MONAI/pull/2922/files#diff-3a1b9fb96f9cde878a33605fcbd39cf1af51a79c285fe662d8

[2021-09-13 10:55] Nic-Ma commented on #2933
Thanks @rijobro ,

I already fixed this kind issue in `RandZoom` transform, I haven't checked other transforms. But I still think we should not only support `Tensor` to be compatible with other old transforms.

Thanks.

[2021-09-13 11:07] wyli commented on #2933
Just to clarify, my understanding is that the backend is about how the computation is implemented, using numpy or torch API. For now it's fine to have numpy-only or torch-only backend. But we should ensure all the transforms support these input-output types:
- input: numpy, output: numpy
- (optionally) input: torch, output: torch

[2021-09-13 12:00] ericspod commented on #2927
The `x, None` return value was to match the training output of two values, that is indeed needed for Torchscript. The issue with this network I think is that we wanted to implement the paper closely as a reference network. Returning a tuple of values I'd consider bad form and not consistent with all of our other networks (and most everyone else's too). The reason this is here is because the networ

[2021-09-13 13:16] wyli opened #2939 "B904 error from codeformat"
**Describe the bug**
the code format checker raises new errors:
[code]

[2021-09-13 13:40] rijobro commented on #2933
My vision is that, if necessary, each transform will convert to the correct image type. That is to say, if the computation requires `torch.Tensor` and input is numpy, then convert. To reduce the number of conversions, I don't convert back to the original type at the end of the transform. This means that all transforms will need to be able to accept torch or numpy input. By the time I've finished u

[2021-09-13 13:42] Nic-Ma commented on #2933
Hi @rijobro ,

Yes, that's exactly what I planed to do for this ticket.

Thanks.

[2021-09-13 13:47] rijobro commented on #2933
Great.

However, [this change](https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/spatial/array.py#L635) was something I was trying to avoid (converting back to original type). Rather than converting back at the end of the transform, all other transforms should be able to handle torch and numpy input.

[2021-09-13 13:50] Nic-Ma commented on #2933
Hi @rijobro ,

I agree with your point, maybe when we added Tensor support to all the existing transforms, we can refactor the output logic.
But for now, we need to make sure at least the existing numpy transform chain can work after 0.7 release.

Thanks.

[2021-09-13 13:52] rijobro commented on #2933
Ok, sounds reasonable.

[2021-09-13 14:06] #2774 closed

[2021-09-13 14:06] #2776 closed

[2021-09-13 14:06] #2777 closed

[2021-09-13 14:37] #2939 closed

[2021-09-13 15:30] #2772 closed

[2021-09-13 17:42] wyli commented on #175
closing this in favour of https://github.com/Project-MONAI/MONAI/issues/2231, see also https://github.com/Project-MONAI/MONAI/blob/8651b622df76b75a9477538e985a14896f827150/monai/utils/type_conversion.py#L26-L36

[2021-09-13 17:43] #175 closed

[2021-09-13 17:51] drbeh commented on #2929
Hi @wyli,  isn't it a too restrictive assumption?
What about validation and testing (inference in general)? There is no optimization there but mini-batch is required for computational efficiency.

[2021-09-13 18:20] #2715 closed

[2021-09-13 19:04] diazandr3s opened #2946 "Add dropout argument in init method in DynUNet"
In order to compute entropy and use it as an Active Learning strategy, dropout should be available as an argument in DynUNet. Similar to what is currently available in vanilla UNet (https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/nets/unet.py#L44)

cc @wyli

[2021-09-13 22:36] #2946 closed

[2021-09-14 12:00] #2928 closed

[2021-09-14 12:04] ChristianEschen opened #2948 "Training on dicom images throws key errors: "0008|0005", "0008|1050" or similar"
Hi all

I have been facing some problems training on DICOM images. In specific I found that training throws key errors on "0008|0005", "0008|1050", which conditional optional and optional.

The files can be found here:
http://www.rubomedical.com/dicom_files/dicom_viewer_0002.zip
http://www.rubomedical.com/dicom_files/dicom_viewer_0003.zip

My enviroment is:
Ubuntu 20.04 LTS
Monai: 0.7.dev2137 (I h

[2021-09-14 17:29] wyli commented on #2948
Thanks for the detailed report, I can replicate the issue. The root cause is that not all the items in the dataset have the same set of metadata keys, but the data loader tries to 'stack' the value of each metadata field respectively.

a few possible solutions:
- enhance `monai.data.utils.PadListDataCollate` to be robust to batch a set of heterogeneous metadata
- enhance the image loader to load d

[2021-09-14 18:24] lyndonboone commented on #2927
Thanks, @ericspod ! I'll use that for now until we reach a longer-term solution

[2021-09-14 18:52] wyli commented on #2917
addressed by #2922 #2945

[2021-09-14 18:52] #2917 closed

[2021-09-14 19:22] #2933 closed

[2021-09-15 02:25] Nic-Ma opened #2951 "Add `kwargs` to `ToTensor`, `ToNumpy` and `ToCupy`"
**Is your feature request related to a problem? Please describe.**
As we are adding more and more args based on `torch` API or `numpy` API, I think we should use `kwargs` directly for future support.
And I will also update the `covert_to_type` utility to convert `dtype` and `device` in 1 call to avoid duplicated copy.

[2021-09-15 02:26] Nic-Ma commented on #2951
Hi @wyli @rijobro ,

If you guys don't have concerns, I will make a PR for it today ASAP.

Thanks in advance.

[2021-09-15 02:33] drbeh commented on #2951
Thank you very much @Nic-Ma for taking care of this!
Is there any reason that we can't just add `dtype` to these APIs? Not having explicit input arguments is a bit strange to me. I know that you are thinking of future addition arguments but I believe we will compromise the APIs to be explicit and self-explanatory, and it might not worth it.

[2021-09-15 02:39] Nic-Ma commented on #2948
Hi @wyli ,

Thanks for your analysis, I will enhance the transform to filter items.

[2021-09-15 06:20] #2927 closed

[2021-09-15 14:15] Nic-Ma commented on #2948
Hi @ChristianEschen ,

The enhancement PR had been merged into dev branch, could you please help sync and try again?
You just need to add the `DeleteItemsd` transforms to delete the keys：
[code]

Thanks.

[2021-09-15 16:37] akmal871026 opened #2956 "Nvidia for liver segmentation using segment from the boundary point"
Hello,

Before, I used Nvidia for liver segmentation using segments from the boundary point. but this time there not have. Why?

Any suggestion? because clara 4.0 take over for annotation liver that using clara 2.0

[2021-09-15 16:51] #2956 closed

[2021-09-15 18:17] ChristianEschen commented on #2948
Hi @Nic-Ma

Thank you for the response

Yes you can fix it like this.
I work with images from a lot of different sources, and with a wide variety of tags (keys).
So the data loader will continue to throw more key errors.
For example I also need to delete these keys:
[code]
So I think we need a more viable solution here.
Maybe we should focus the data loader to only focus on designated tags.

[2021-09-15 18:42] #2951 closed

[2021-09-15 22:16] wyli opened #2959 "integration error -- IntegrationClassification2D"
**Describe the bug**
from the test of 0f17aa991592fc6e635e86da3061b5dd3d669597
[code]

[2021-09-15 22:17] wyli commented on #2959
could you please help @Nic-Ma, thanks in advance!

[2021-09-15 23:15] Nic-Ma commented on #2948
Hi @ChristianEschen ,

Thanks for your feedback, we can try to also provide the transform to only `keep` some items instead of `delete` in future.

[2021-09-15 23:18] Nic-Ma commented on #2959
Sure, I will try to investigate ASAP.

Thanks.

[2021-09-16 02:23] #2884 closed

[2021-09-16 03:55] #2959 closed

[2021-09-16 19:54] Borda commented on #2289
nice, just wondering how it differs from the MONAI implementation... :)

[2021-09-17 15:24] #2819 closed

[2021-09-17 16:25] rijobro opened #2972 "torch gibbs and kspace noise"
Hi @rijobro ,

I am checking the left transforms, seems these 4 intensity transforms already execute with Tensor data, but the code stype doesn't follow our backend design:
    "GibbsNoise",
    "RandGibbsNoise",
    "KSpaceSpikeNoise",
    "RandKSpaceSpikeNoise",
Do you also plan to add backend support for them in v0.7?

Thanks in advance.

_Originally posted by @Nic-Ma in https://github.com/Proj

[2021-09-17 16:29] rijobro commented on #2972
@Nic-Ma In the big PR, I made the FFT and invFFT compatible with both torch and numpy input. So these transforms will support both numpy and torch input without needing to convert.

[2021-09-17 16:30] Nic-Ma commented on #2972
Cool, that's great!

Thanks.

[2021-09-17 17:09] rijobro opened #2975 "Torch `FgBgToIndices`"
BTW, to cache the foreground & background indices for pos / neg crop, could you please help also add Tensor backend for `FgBgToIndices` transform?

Thanks in advance.

_Originally posted by @Nic-Ma in https://github.com/Project-MONAI/MONAI/pull/2967#pullrequestreview-757677818_

[2021-09-20 10:41] rijobro opened #2980 "ScaleIntensity should give the option for channel_wise"
StdShiftIntensity gives the option for channel_wise, but ScaleIntensity doesn't.

[2021-09-20 14:00] Nic-Ma commented on #2828
Completed the task with below result:
![image](https://user-images.githubusercontent.com/27533405/134015193-5a2737f6-54bc-4d0d-9867-572459b2e5bc.png)

Thanks.

[2021-09-20 14:00] #2828 closed

[2021-09-20 14:03] dongyang0122 commented on #2705
Done.

[2021-09-20 14:03] dongyang0122 commented on #2705
Done

[2021-09-20 14:04] dongyang0122 commented on #2706
Done.

[2021-09-20 14:04] #2706 closed

[2021-09-21 08:00] wyli opened #2985 "nightly test error -- ./modules/postprocessing_transforms.ipynb"
**Describe the bug**
example log from the tutorial repo, but this is potentially due to a core codebase issue:
[code]

[2021-09-21 13:35] tashrifbillah opened #2988 "I want to attend MONAI MICCAI Bootcamp"
I came to know about this event after the registration deadline has passed:
https://www.gpuhackathons.org/event/monai-miccai-bootcamp-2021

It is scheduled to run September 22-24, 2021. I have sent an email to `monai.contact@gmail.com` expressing my interest to attend but did not hear back. So I am not sure if that inbox is monitored.

If you are one of the organizers and can still let people atte

[2021-09-21 13:37] wyli commented on #2988
cc @zephyrie @pdogra89

[2021-09-21 16:51] #2985 closed

[2021-09-21 23:11] wyli opened #2998 "mlflow handler implementation"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/2995

<div type='discussions-op-text'>

<sup>Originally posted by **jpcenteno80** September 21, 2021</sup>
Could you recommend a way to implement a handler to track experiments using mlflow and monai's engines?

Thanks!</div>

Would be great to have an mlflow + monai example. likely we'll have necessary utility components in the c

[2021-09-22 00:14] drbeh opened #2999 "CPU environment has CUDA?!"
**Describe the bug**
The PyTorch version that is being used for CPU only quick tests seems to be `1.9.0+cu102`, which is a cuda version.
https://github.com/Project-MONAI/MONAI/runs/3667531453#step:9:435
https://github.com/Project-MONAI/MONAI/runs/3667531453#step:10:10

Also the installed torchvision: `TorchVision version: 0.10.0+cu102`
https://github.com/Project-MONAI/MONAI/runs/3667531453#step:10

[2021-09-22 00:21] Nic-Ma commented on #2999
Hi @drbeh ,

I will submit a PR to skip cuCIM tests if CUDA < 11.0 today.

Thanks.

[2021-09-22 00:56] wyli commented on #2999
I think pytorch by default `pip install torch` is shipped with the compiled binaries, the test is simulating the commands. But it does not necessarily use the binaries during the tests -- I believe the flag `torch.cuda.is_avaialble()` is False in this case.

What's the issue here? please follow the bug report template to provide more information about the expected behavior.

[2021-09-22 01:04] wyli commented on #2999
Not sure how the reply is related to this ticket, I'm closing this ticket. please reopen with a detailed report following the template.

[2021-09-22 01:43] drbeh commented on #2999
@wyli, thanks for your comments. I updated the description to include why it is causing an error.

[2021-09-22 02:39] drbeh commented on #2999
So what's the reason that we have cuda102 version of some packages installed:
`Pytorch version: 1.9.0+cu102`: https://github.com/Project-MONAI/MONAI/pull/2987/checks?check_run_id=3669657801#step:10:18
`TorchVision version: 0.10.0+cu102`: https://github.com/Project-MONAI/MONAI/pull/2987/checks?check_run_id=3669657801#step:10:6200

[2021-09-22 09:03] wyli commented on #2999
That's the default behaviour of pytorch on Linux for `pip install torch` according to the installation guide (https://pytorch.org/), it'll install 1.9.0+cu102.

I believe this is expected for our testing pipeline, so I"m closing this ticket.

[2021-09-22 09:03] #2999 closed

[2021-09-22 11:23] Nic-Ma opened #3000 "Add support to avoid deepcopy in CacheDataset"
**Is your feature request related to a problem? Please describe.**
Currently, we always `deepcopy` the cache content for every epoch in `CacheDataset`, actually it's not necessary for multi-processing DataLoader or the random transforms don't change the cache data at all.

[2021-09-22 13:03] #3000 closed

[2021-09-22 13:09] wyli opened #3002 "compatibility with torch 1.9.1"
**Is your feature request related to a problem? Please describe.**
pytorch 1.9.1 is available, would be great to include it in the testing pipelines

[2021-09-22 13:53] drbeh commented on #2999
Hi @Nic-Ma , have you been able to submit a PR to skip cucim when cuda<11? It is a blocking factor in testing cucim and releasing monai. Thanks

[2021-09-22 15:35] #3002 closed

[2021-09-23 05:08] Nic-Ma opened #3009 "Update highlight features page for v0.7 release"
**Is your feature request related to a problem? Please describe.**
Need to update the highlight features page for MONAI v0.7 release.

[2021-09-23 05:13] Nic-Ma opened #3010 "Add what's news in v0.7 page"
**Is your feature request related to a problem? Please describe.**
Need to prepare the document page for `what's new in v0.7`.

[2021-09-23 15:30] #3009 closed

[2021-09-23 15:43] drbeh commented on #2729
https://github.com/Project-MONAI/tutorials/tree/master/performance_profiling/pathology
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/fast_model_training_guide.md

[2021-09-23 15:43] #2729 closed

[2021-09-23 21:11] jpcenteno80 opened #3014 "CacheDataset with .nrrd files throws error -> itk and swig"
**Describe the bug**
When working with `.nrrd` files, `CacheDataset` throws an error during instantiation. However, if working in a jupyter notebook, executing the `CacheDataset` instantiation cell again runs with no problems. Using `monai.data.Dataset` and `monai.data.PersistentDataset` work as expected.

**To Reproduce**
[code]

**Expected behavior**
Should not throw error. Training code not in

[2021-09-23 22:29] #3010 closed

[2021-09-24 02:55] Nic-Ma commented on #3014
I think the error mesage is: AttributeError: module 'itk.ITKIOImageBasePython' has no attribute 'swig'.
@thewtex Could you please help share any comments here?

Thanks in advance.

[2021-09-24 04:27] yiheng-wang-nv opened #3018 "MONAI docker 0.7.0 seems wrong"
When run `docker pull projectmonai/monai:0.7.0`, the pulled image is the same as 0.6.0

https://hub.docker.com/r/projectmonai/monai/tags?page=1&ordering=last_updated

![Screen Shot 2021-09-24 at 12 25 53 PM](https://user-images.githubusercontent.com/68361391/134618117-98da8cf8-0e18-48cf-b59a-25f4f7447635.png)

![Screen Shot 2021-09-24 at 12 25 18 PM](https://user-images.githubusercontent.com/68361

[2021-09-24 04:37] Nic-Ma commented on #3018
Hi @wyli ,

Could you please help confirm this issue? Maybe the pushed content is not correct?

Thanks in advance.

[2021-09-24 05:59] wyli commented on #3018
Thanks for reporting, this is now rectified. The root cause is that we changed to release the milestone from "main" since 0.6 https://github.com/Project-MONAI/MONAI/blob/aa4eb5ddc2e2cd435617ee5fc3de2fc30cf7bc77/.github/workflows/release.yml#L125
I'll enhance the release pipeline to avoid similar issues in the future.

[2021-09-24 05:59] #3018 closed

[2021-09-24 06:05] Nic-Ma opened #3020 "Enhance doc to show how to get all the tensor transforms"
**Is your feature request related to a problem? Please describe.**
Need to enhance the document to let users know how to check tensor transforms.

[2021-09-24 07:32] #3020 closed

[2021-09-24 09:18] 7oud opened #3021 "Could use "DHW" dimension order with ITKReader?"
**Is your feature request related to a problem? Please describe.**
There are different data storing order in Nibabel and ITK, `WHD` in Nibabel and `DHW` in ITK, Now MONAI uses the only dimension order `WHD` both with nibabel reader and ITK reader, paritcularly do data transpose in ITKReader. However, when using MONAI trained model in C++ with ITK library, addtiional transposes are needed, It's ter

[2021-09-24 11:39] wyli commented on #3021
The LoadImage transforms also support customised readers. Would it be feasible to extend the ITK reader to handle this spatial convention?

Also, I think itk returns a view instead of actually allocates a new array for the transpose https://blog.kitware.com/convert-itk-data-structures-to-numpy-arrays/ any chance that we can make the transpose cheap by simply changing the view cc @thewtex

[2021-09-24 11:41] wyli commented on #3021
This is somewhat related to #2891 perhaps we should consolidate the discussions.

[2021-09-24 13:18] 7oud commented on #3021
If using customised readers, can the transforms work correctly, such as `monai.transforms.Spacing`?

[2021-09-24 23:08] Borda commented on #2289
@JianJuly copy-pasted your suggested code and getting almost the same error:
[code]
for loading as:
[code]

[2021-09-27 00:06] Nic-Ma opened #3028 "Update to ignite 0.4.6"
**Is your feature request related to a problem? Please describe.**
As ignite already released 0.4.6 version, need to update our CI test to align with it.

[2021-09-27 10:25] yiheng-wang-nv opened #3030 "Implement transforms that can change `hue` and `saturation `"
Implement a transform that can change image's hue and saturation.
Reference:
https://albumentations.ai/docs/api_reference/augmentations/transforms/#albumentations.augmentations.transforms.HueSaturationValue

[2021-09-27 11:55] yiheng-wang-nv commented on #3030
More reference:
https://pytorch.org/vision/0.8/_modules/torchvision/transforms/functional.html#adjust_hue
https://pytorch.org/vision/0.8/_modules/torchvision/transforms/functional.html#adjust_saturation

[2021-09-27 12:57] dyollb opened #3031 "Monai generates lots of Pyright/pylance errors (reportPrivateImportUsage)"
**Describe the bug**
Pyright complains about import statements like:
[code]
This is the style used e.g. in the monai tutorials.

**To Reproduce**
Steps to reproduce the behavior:
1. Open empty file in vscode, type `from monai.losses import DiceLoss`
2. Select Python interpreter to a python with monai installed
3. Check the errors in Problems section

**Expected behavior**
Importing functions from

[2021-09-27 13:55] wyli opened #3032 "Interpretability of Segmentation UNet"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/3005

<div type='discussions-op-text'>

<sup>Originally posted by **joho84** September 22, 2021</sup>
Hi!
First of all, thank you very much for your work and the great support you offer!
I have a question concerning the interpretability of a segmentation Unet. I am trying to get some more insight into the functioning of my Unet tr

[2021-09-27 15:55] mattwarkentin opened #3035 "GradCAM not working with cryptic error message"
**Describe the bug**
I am trying to use the `GradCAM` on my model but I can't seem to get it working and the error isn't really helping me figure out the issue. Hoping someone here could provide some insight.

For context, this model is based on a `resnet50` backbone, so the input is RGB and size 224 x 224.

**To Reproduce**
[code]
[code]

[code]
[code]

**Expected behavior**
Expected that a tenso

[2021-09-27 17:20] #3028 closed

[2021-09-28 07:04] wyli commented on #3035
Strange here the param is `target_layers="model.layer4.2.relu"` but the error is about `KeyError: 'layer4.2.relu’`. It's not possible to reproduce the issue without `MyModule, MyDataModule`, could you make a self-contained example? I can then look into it.

[2021-09-28 07:47] wyli commented on #3031
I couldn't replicate this issue:
<img width="526" alt="Screenshot 2021-09-28 at 08 15 59" src="https://user-images.githubusercontent.com/831580/135040906-68c5f9d5-5191-4ef7-8ea1-b8e805600cf8.png">

Also I'm not sure why adding `__all__` is useful here, does pylance call `from monai.losses import *` implicitly?

--
vscode version:
Version: 1.60.2
Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Dat

[2021-09-28 07:49] wyli commented on #3021
yes, it'll work as long as these properties are defined: https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py#L233-L240

[2021-09-28 08:29] yiheng-wang-nv commented on #3030
Update: monai.transforms.TorchVision supports to call torchvision based transforms, thus there is no need to implement these features.

[2021-09-28 08:29] #3030 closed

[2021-09-28 09:49] dyollb commented on #3031
I am only just learning about static analysis in python, so I don't know if the behavior of pyright is correct/good, or why the `__all__` is [needed](https://docs.python.org/3/tutorial/modules.html#importing-from-a-package).

I checked again with monai==0.7, and get the same errors. Note that by default pyright is not enabled.
* install pylance vscode extension
* enable Type Checking (basic)

![im

[2021-09-28 10:30] wyli commented on #3031
Thanks for giving the details! I still couldn't replicate the issues, probably I messed up my local vscode configs. In general, I think if the linting tool and error reporting are coupled with vscode, it'll be difficult to enforce it throughout the project via [the automatic checking](https://github.com/Project-MONAI/MONAI/blob/dev/CONTRIBUTING.md#checking-the-coding-style). Let's keep this ticket

[2021-09-28 12:31] dyollb commented on #3031
In my project I added a github action to run pyright, like so:

[code]
with a pyrightconfig.json file at the top level of `my_project`.

[2021-09-28 13:45] mattwarkentin commented on #3035
@wyli Here is a minimal reproducible example:
[code]

[2021-09-28 13:51] mattwarkentin commented on #3035
Seems like the issue is related to freezing the backbone as the GradCAM works when I remove the `for` loop. I do actually want the backbone frozen, though, so how should I handle this when wanting to use CAM?

[2021-09-28 14:08] mattwarkentin commented on #3035
I don't think so. A PyTorch Lightning module is `nn_module` so it should work as such.

The code below still fails, albeit with an informative error this time around.
[code]
[code]

[2021-09-28 14:33] Nic-Ma commented on #3032
Hi @ericspod ,

I think you are expert on the UNet, could you please help share some comments?

Thanks in advance.

[2021-09-28 15:16] rijobro commented on #2980
Hi, thanks for looking into this. No, I haven't implemented anything on this topic yet.

[2021-09-28 15:28] wyli commented on #3035
I tried a few things and this one seems to work:

[code]

[2021-09-28 16:19] mattwarkentin commented on #3035
If the gradients can't be computed (and thus CAM can't be used) if `requires_grad` is `False` for the target layer(s), would it make sense for `GradCAM` et al. to automatically either throw a warning/error if this isn't true, or make it true?

[2021-09-28 17:01] wyli commented on #3035
sounds good,  I'll enhance the error handling.

[2021-09-28 23:02] #3035 closed

[2021-09-29 05:59] #2914 closed

[2021-09-29 10:56] #2972 closed

[2021-09-29 15:06] ericspod commented on #3032
I'm afraid I don't have much experience with this specific sort of interpretability. @rijobro already weighed in about gradcam and what we've done with it, but for this problem you're looking at discerning the contribution of specific parts of the input not just regions. I could guess at a few strategies to try which aren't specific in any way to what network you have. Adding noise to one channel

[2021-09-29 23:48] dongyang0122 opened #3049 ""RandGaussianSmoothd" and "RandGaussianNoised" failed when running with GPU tensors"
**Describe the bug**
Transfrom "RandGaussianSmoothd" and "RandGaussianNoised" failed when running with GPU tensors.

**To Reproduce**
Adding the transform "ToDeviced(keys=["image"], device="gpu")," before "RandGaussianSmoothd" or "RandGaussianNoised" for any segmentation pipeline.

**Expected behavior**
Expected to be without any error message.

**Screenshots**
If applicable, add screenshots to he

[2021-09-30 01:44] #2975 closed

[2021-09-30 03:11] Nic-Ma opened #3051 "Spacing transform outputs float64 Tensor data"
**Describe the bug**
The PR https://github.com/Project-MONAI/MONAI/pull/3045 introduced an issue that it converted the output data dytpe to the **computation dtype**, actually it should always output float32:
https://github.com/Project-MONAI/MONAI/blob/0.7.0/monai/transforms/spatial/array.py#L127
And I think no need to deepcopy the image:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/trans

[2021-09-30 04:52] Nic-Ma commented on #3049
Thanks for your bug report, I will take a look ASAP.

[2021-09-30 06:11] Nic-Ma commented on #3049
Hi @dongyang0122 ,

I tested `RandGaussianNoised` with GPU tensor, but didn't see any error during training.
Could you please help share your error log?

Thanks in advance.

[2021-09-30 08:42] rijobro commented on #3049
The unit test also checks that it works with GPU input. Keen to hear what your set up is so that we can improve the unit test, too.

[2021-09-30 09:00] rijobro opened #3053 "Distributed unit test fails regularly"
**Describe the bug**
Distributed unit test fails regularly, slowing down the merging of unrelated PRs.

example: https://github.com/Project-MONAI/MONAI/pull/3050/checks?check_run_id=3752705985#step:7:14964

[code]

[2021-09-30 14:07] Nic-Ma commented on #3053
Hi @rijobro ,

Thanks for your issue report.
I think the exact issue is `CUDA out of memory`, CC @madil90 to help check it.
Seems it's not easy to fix as we have limited GPU resources.

Thanks.

[2021-09-30 14:50] #3051 closed

[2021-10-01 09:04] codingS3b opened #3055 "DenseNet 201 and 264 seem to be identical"
I was wondering if it is intended that the `DenseNet201` and `DenseNet264` models are implemented ([see here](https://github.com/Project-MONAI/MONAI/blob/bfa054b9c3064628a21f4c35bbe3132964e91f43/monai/networks/nets/densenet.py#L344)) using the same parameters? Both have `init_features: int = 64`,  `growth_rate: int = 32` and `block_config: Sequence[int] = (6, 12, 48, 32)` giving them exactly the s

[2021-10-01 10:24] Nic-Ma commented on #3055
Hi @yiheng-wang-nv ,

Could you please help confirm this question? Maybe this is some typo in the implementation?

Thanks in advance.

[2021-10-02 05:00] Nic-Ma opened #3058 "fast training link is broken"
**Describe the bug**
Bug reported from internal team:
"Hi team. The link a fast model training guide on this page https://docs.monai.io/en/latest/whatsnew_0_7.html is broken. Shall we fix it?"

[2021-10-02 14:03] masadcv commented on #2872
@Nic-Ma Just to add to discussion here, there is an existing implementation of this for medical images, perhaps for paper @wyli linked (https://openreview.net/pdf?id=rkBBChjiG), in NiftNet at:  https://github.com/NifTK/NiftyNet/blob/935bf4334cd00fa9f9d50f6a95ddcbfdde4031e0/niftynet/application/segmentation_application.py#L325

[2021-10-02 23:53] Nic-Ma commented on #2872
Hi @masadcv ,

Thanks for your sharing.
Let me investigate and get back ASAP.

Thanks.

[2021-10-02 23:56] Nic-Ma opened #3060 "Add backends to `ClassesToIndices`"
**Is your feature request related to a problem? Please describe.**
As we already added backends to `FgBgToIndices`, also need to enhance `ClassesToIndices`.

[2021-10-04 00:38] #3060 closed

[2021-10-04 01:52] #2980 closed

[2021-10-04 09:46] wyli opened #3063 "error from `convert_to_tensor`"
**Describe the bug**
from the cron logs:
[code]

[2021-10-04 10:36] rijobro commented on #3063
Must be for older versions of pytorch because this works for me locally:
[code]

[2021-10-04 10:52] Nic-Ma commented on #3063
Hi @rijobro ,

PyTorch 1.5 can't support any operation for complex data type.
For example:
[code]

So I submitted PR: #3064 to fix this issue.

Thanks.

[2021-10-04 11:54] wyli commented on #3058
addressed by https://github.com/Project-MONAI/MONAI/pull/3059

[2021-10-04 11:54] #3058 closed

[2021-10-04 11:58] wyli commented on #3049
I couldn't replicate the issue with the latest `dev` branch, I'm closing this for now, but please feel free to reopen with more details.

[2021-10-04 11:58] #3049 closed

[2021-10-04 13:39] #3063 closed

[2021-10-04 22:29] wyli opened #3071 "build failed because of pip install"
**Describe the bug**
errors from the quick tests `pip install`:
[code]

[2021-10-05 03:20] Kaushalya commented on #2289
I could most parameters from the state dictionary except `layerx.0downsample.0.bias`. Every key in the pre-trained state dict has a prefix 'module.'. I could get rid of most of the key mismatches y removing the prefix of keys.
[code]
Running this code throws the following error.
[code]
model_dict = model.state_dict()
model_dict.update(weights_dict)
model.load_state_dict(model_dict)
[code]

[2021-10-05 10:00] Borda commented on #2289
Yes, that what did in the end too, the rename is critical...

[2021-10-05 11:02] #3071 closed

[2021-10-05 12:34] wyli commented on #2833
this is addressed when the workflow is triggered by the commenting

[2021-10-05 12:34] #2833 closed

[2021-10-06 14:37] #2849 closed

[2021-10-06 21:22] finalelement opened #3076 "[WIP] Contrastive Loss (Still in Research) [Estimated Decision Date 11/12/2021]"
Adding contrastive loss as a feature for Self-supervised training pipeline.

[2021-10-06 22:46] pritesh-mehta commented on #2860
Can you explain why change from HWD to DHW in line 223? Would it not be more natural to keep HWD throughout?

[2021-10-08 03:57] yiheng-wang-nv commented on #3055
Thanks @codingS3b for finding it, I made a mistake in [this PR](https://github.com/Project-MONAI/MONAI/commit/b6f213e57cea3e7b335b3a1f4f214cb43fc6d087#diff-20ffed4a2c429093d1a40f999d83355166538999fd93d342e35da525b59e9a77R304), let me fix it asap.

[2021-10-08 08:51] Nic-Ma opened #3082 "Avoid heavy random computation if `_do_transform=False`"
**Is your feature request related to a problem? Please describe.**
Currently, we always execute random computation in `randomize()` no matter `_do_transform` is True or False.
I think we should avoid some heavy computation, for example: generating random array with the same size as img.
It would be OK if only generate 1 random number for scaling or filter, etc.

[2021-10-08 10:31] rijobro opened #3087 "Random dictionary transforms that can't call their array version"
We have both array and dictionary transforms. In a lot of cases, our dictionary transforms include a for loop that repeatedly call the matching array transform. However, because most random array transforms have something like this:

[code]

[2021-10-08 15:26] Nic-Ma commented on #3087
Hi @rijobro ,

Thanks for raising this topic.
I think we should keep the `call()` clear and simple, so my proposal would to put the computation logic of array transform to a separate function to avoid calling "call()" in the dict transform. Something like:
[code]

What do you think?
I can think deeper and update some transforms as examples tomorrow.

Thanks.

[2021-10-08 17:50] #3082 closed

[2021-10-09 10:47] plu-project opened #3095 "Wrong multi-class label requirement for the compute_roc_auc function"
**Describe the bug**
monai.metrics.compute_roc_auc doesn't accept labels not in the one-hot format for multi-class classification.

**To Reproduce**
[code]

**Expected behavior**
In the documentation, it says that if the label has a shape: [16, 1], that label will be converted into [16, 2] (where 2 is inferred from y_pred). The function should internally convert the label into the one-hot format o

[2021-10-10 02:34] ramonemiliani93 opened #3097 "`deprecated_arg` replacing name when deprecated argument is also passed."
**Describe the bug**
When constructing a class that has a deprecated argument and both the new and deprecated argument are passed the construction fails. This may happen, for example, when using other libraries that automatically construct the classes from a yaml file.

**To Reproduce**
[code]

**Expected behavior**
The instance of `UNet` should be created.

**Screenshots**
The error happens on li

[2021-10-11 08:17] carlpe opened #3098 "Bug in validation"
Greetings,

I have found a bug in during validation of images. I believe it is something with validation transforms in the latest versions of Monai.  Everything works fine on Docker version 0.5.0 (projectmonai/monai:0.5.0) , but fails on Docker version => 0.7.0 and latest.

I ran the exact same validation code on both versions and here is the output of validation dataset shape.

It seems shapes ar

[2021-10-11 08:36] carlpe commented on #3098
import os
import glob
import shutil
import tempfile
import monai
from monai.transforms.croppad.dictionary import RandSpatialCropD, RandSpatialCropd
import torch
from monai.utils import first, set_determinism
import matplotlib.pyplot as plt
import numpy as np
from monai.networks.nets import UNet
from monai.data import CacheDataset, DataLoader, Dataset, NiftiSaver, list_data_collate
from tqdm import

[2021-10-11 08:40] carlpe commented on #3098
[code]

[2021-10-11 10:19] carlpe commented on #3098
Thank you @Nic-Ma ! It works now.
![image](https://user-images.githubusercontent.com/54416001/136773641-6b8a54cd-d351-4255-820d-d97ff2b1065b.png)

I do have another question for you if you do not mind me asking here.  In this example I  load in T1-images exclusively. However, I have three more MR-weightings (channels) also in the same folder.. named:

/train/DLK001_T1
/train/DLK001_PD
/train/DLK00

[2021-10-11 10:42] #3098 closed, assigned to nobody

[2021-10-11 12:36] #2998 closed

[2021-10-11 13:53] dongyang0122 opened #3100 "Converting transforms from original DiNTS repository to MONAI transforms"
**Is your feature request related to a problem? Please describe.**
Converting transforms (written using native Numpy) from original DiNTS repository to MONAI transforms

**Describe the solution you'd like**
Necessary fusion and modification of existing MONAI transforms.

[2021-10-11 13:55] dongyang0122 opened #3101 "Adding model training scripts for all 10 MSD tasks"
**Is your feature request related to a problem? Please describe.**
Adding model training scripts for all 10 MSD tasks.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2021-10-11 13:56] dongyang0122 opened #3102 "Cleaning up SuperNet Implementation with clear API for both global architecture search and local operation search"
**Is your feature request related to a problem? Please describe.**
Cleaning up SuperNet Implementation with clear API for both global architecture search and local operation search.

[2021-10-11 13:57] dongyang0122 opened #3103 "Adding model searching scripts for all 10 MSD tasks"
**Is your feature request related to a problem? Please describe.**
Adding model searching scripts for all 10 MSD tasks.

[2021-10-11 13:57] dongyang0122 opened #3104 "Adding model inference scripts for all 10 MSD tasks"
**Is your feature request related to a problem? Please describe.**
Adding model inference scripts for all 10 MSD tasks.

[2021-10-11 13:58] dongyang0122 opened #3105 "Adding model ensemble scripts for all 10 MSD tasks"
**Is your feature request related to a problem? Please describe.**
Adding model ensemble scripts for all 10 MSD tasks.

[2021-10-11 14:00] dongyang0122 opened #3106 "Creating tutorials for both network architecture search and operation Search"
**Is your feature request related to a problem? Please describe.**
Creating tutorials (notebook or markdown) for both network architecture search and operation Search.

[2021-10-12 12:27] wyli opened #3114 "integration tests for the fast training tutorials"
**Is your feature request related to a problem? Please describe.**
would be great to set up integration tests so that the recommendations in the tutorials (https://github.com/Project-MONAI/tutorials/blob/master/acceleration/fast_model_training_guide.md) are up-to-date while the codebase evolves.

see also: https://github.com/Project-MONAI/MONAI/issues/2676

[2021-10-12 13:27] wyli commented on #3053
I'm enabling blossom-ci and making the current github-based tests optional.
the blossom-ci tests have been stable for a while:
<img width="1203" alt="Screenshot 2021-10-12 at 14 25 50" src="https://user-images.githubusercontent.com/831580/136964940-d25eb9ad-fe55-4480-9a93-f44928585152.png">

cc @Project-MONAI/core-reviewers

[2021-10-12 14:48] neuronflow opened #3116 "epoch durations significantly increase over time when using cached datasets?!"
**Describe the bug**
On two servers I observe substantially increasing epoch durations when training with cached datasets. The effects are way more pronounced on server A (64cores) with no swap than on Server B (14cores) with now 144gb of swap memory.

The trainings start smooth and then become slower after a while. Unfortunately, I can atm only access server B now to provide logs. This should cha

[2021-10-13 08:41] Nic-Ma opened #3118 "Add support to track `engine.state.XXX` in handlers"
**Is your feature request related to a problem? Please describe.**
Referring to the latest ignite built-in handlers, I think we can add support to track specified state in `StatsHandler`, etc.
https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/base_logger.py#L55

[2021-10-13 08:43] Nic-Ma commented on #3114
Sure, let me try to make the integration test for fast training tutorial.

Thanks.

[2021-10-13 09:11] wyli opened #3119 "Error from nightly build -- tests.test_rand_weighted_cropd.TestRandWeightedCrop"
**Describe the bug**
[code]

[code]

[2021-10-13 09:46] wyli commented on #3097
Thanks for the detailed report, the issue is now addressed in the dev branch.

[2021-10-13 14:27] wyli opened #3122 "quick permerge tests for different torch versions"
**Is your feature request related to a problem? Please describe.**
would be great to have quick premerge tests for different torch versions, mainly to detect errors (such as https://github.com/Project-MONAI/MONAI/issues/3119) early.

[2021-10-14 02:12] Nic-Ma opened #3124 "There are 2 kinds of random state in transforms"
**Describe the bug**
Currently, in the case that a random transform contains another random transform, we have 2 different ways to set the random status:
1. Use the self.R of first transform the second:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/croppad/dictionary.py#L761
2. Use the same random seed or state for both transforms:
https://github.com/Project-MONAI/MONAI/blob/dev

[2021-10-14 09:08] #3122 closed, assigned to wyli

[2021-10-14 09:23] wyli opened #3126 "integration test errors"
**Describe the bug**
from cron tests pytorch 1.5 (last success was 12th/Oct):
[code]
from integration tests (last success was 13th/Oct)
https://github.com/Project-MONAI/MONAI/actions/runs/1340133963
[code]

[2021-10-14 09:53] Nic-Ma commented on #3126
Hi @wyli ,

Thanks for raising the issue, sorry for causing it.
Let me try to fix it ASAP.

[2021-10-14 10:02] wyli commented on #3124
these two options are equivalent, I don't see any issue there, or why is this a bug?

[2021-10-14 10:38] wyli opened #3127 "formatter error (circular import?)"
**Describe the bug**
from formatter's log:
[code]
such as https://github.com/Project-MONAI/monai-code-formatter/runs/3890657244?check_suite_focus=true

[2021-10-14 14:23] rijobro commented on #3124
I have no strong feelings either way. But you're right, the more we can unify our code, the better!

[2021-10-14 15:39] #3118 closed, assigned to Nic-Ma

[2021-10-14 22:01] #3114 closed

[2021-10-14 23:33] #2896 closed

[2021-10-15 08:39] yiheng-wang-nv opened #3132 "OpticalDistortion data augmentation"
**Is your feature request related to a problem? Please describe.**
random optical distortion data aug. in 2D and 3D, e.g. following the 2D impl. from albumentations (`class OpticalDistortion`):
https://github.com/albumentations-team/albumentations/blob/0173bfa4956780ed9b523447487233018fd25433/albumentations/augmentations/transforms.py#L382

[2021-10-15 08:40] wyli opened #3133 "upgrade base image to pytorch 21.09"
**Is your feature request related to a problem? Please describe.**
CUDA_VERSION=11.4.2.006 CUDA_DRIVER_VERSION=470.57.02

[2021-10-15 10:49] wyli commented on #3133
the fast training test can't pass the test, I'll increase the time limit https://github.com/Project-MONAI/MONAI/runs/3904103140?check_suite_focus=true cc @Nic-Ma

[2021-10-15 11:25] wyli opened #3134 "Network alias is conflicting with the module names"
**Describe the bug**
some network modules can't be imported, due to incorrect alias settings.

**To Reproduce**
[code]
The outcome is `<class 'type'>`.

**Expected behavior**
The outcome should be `<class 'module'>`, because `monai/networks/nets/densenet.py` is a file.

**Additional context**
for example https://github.com/Project-MONAI/MONAI/blob/ff083340c6aa674b43e36e6da42dcf7bef5c9bdd/monai/net

[2021-10-15 16:54] #3134 closed

[2021-10-15 18:04] #3133 closed, assigned to wyli

[2021-10-17 22:53] neuronflow commented on #3116
training continued:
<img width="621" alt="Screenshot 2021-10-18 at 00 51 04" src="https://user-images.githubusercontent.com/7048826/137647829-1eac061d-960f-4713-8a15-f29a7fd40e24.png">

[2021-10-18 04:19] Nic-Ma opened #3142 "Some transforms randomly output numpy or tensor that can't collate"
**Describe the bug**
Thanks for @rijobro 's reminder https://github.com/Project-MONAI/MONAI/pull/3113#discussion_r727913518, I double checked the transforms and found we truly have such issue in several transforms.
Let me try to fix it ASAP.

[2021-10-19 14:04] Nic-Ma opened #3146 "Add `output_transform` example for decollated data in handlers"
**Is your feature request related to a problem? Please describe.**
Thanks for the feedback from internal team:
To get expected data from MONAI engine, we usually use `output_transform` of handlers. But as the data may be decollated `list of dicts`, need to add some example lambda function in the doc-string to enhance user experience.

[2021-10-20 18:54] SachidanandAlle opened #3159 "load_mmar prints lots of information on console"
Too many print statements while using load_mmar.
Can we use `logger`? So that user can control if these wants to be displayed or not instead of using `print` function

[code]

[2021-10-20 23:45] drbeh opened #3161 "LoadImage support for TIFF files"
**Is your feature request related to a problem? Please describe.**
Currently due to the extra consideration needed for TIFF files of histopathology WSI images in Camelyon dataset (huge images), we were using `PatchWSIData` to load these images. However, with other datasets like PANDA dataset for prostate cancer, the size of images allow for loading the entire image into memory. Thus, it might be b

[2021-10-21 00:01] drbeh opened #3162 "Split into Tiles"
**Is your feature request related to a problem? Please describe.**
The `SplitOnGrid` transform in pathology application splits an image into patches give a `grid_shape` [and optional `patch_size`]. However, there are applications where we need to split an image into patches of a specific size for the entire image (tiling) without providing the grid shape.

[2021-10-21 00:10] drbeh opened #3163 "MIL: add MILModel component"
**Is your feature request related to a problem? Please describe.**
Our multi-instance learning application in pathology requires to add specific attention and transformer layers to a backbone architecture (like resnet50).

[2021-10-21 00:23] drbeh opened #3164 "Quadratic Weighted Kappa"
**Is your feature request related to a problem? Please describe.**
Quadratic Weighted Kappa (QWK) measures the similarity between the predictions and targets and is the main metric for PANDA challenge.

[2021-10-21 01:37] Nic-Ma commented on #3161
Hi @drbeh ,

I think `LoadImage` should already support TIFF based on ITK, could you please help try it?
If facing any issue, please let me know.

Thanks.

[2021-10-21 10:18] wyli opened #3165 "error from unit tests"
**Describe the bug**
see log: https://github.com/Project-MONAI/MONAI/pull/3160/checks?check_run_id=3962013500

[code]

[code]
[logs.txt](https://github.com/Project-MONAI/MONAI/files/7388123/logs.txt)

[2021-10-21 10:22] Nic-Ma commented on #3165
Hi @wyli ,

Is this bug related to my previous PR: https://github.com/Project-MONAI/MONAI/pull/3157?
If so, sorry about that, let me try to fix it ASAP.

Thanks.

[2021-10-21 16:42] Spenhouet opened #3167 "CropForegroundd does not adjust the affine accordingly"
**Describe the bug**

We are using the [CropForegroundd](https://docs.monai.io/en/latest/transforms.html#cropforegroundd) transform. We perform this on multiple images with different FoV. After storing all of them they no longer match (cannot be overlayed).

I'm unsure if there are multiple bugs but the first one I found is this one.
Apparently, the `CropForegroundd` transform does not update the

[2021-10-21 18:17] wyli commented on #3165
this is difficult to reproduce because of this condition: https://github.com/Project-MONAI/MONAI/blob/7da613056fec29ee764857a417d4cca61f07986b/monai/transforms/spatial/array.py#L207-L209.

[2021-10-21 19:58] wyli opened #3168 "compatibility with torch 1.10.0"
**Is your feature request related to a problem? Please describe.**
pytorch 1.10 is available, would be great to include it in the testing pipelines.

[2021-10-22 01:38] Nic-Ma commented on #3167
Hi @Spenhouet ,

Thanks for your investigation and suggestion.
Yes, you are right, all the MONAI spatial or crop / pad transforms don't update affine matrix so far.
I think the affine computation is not very easy for most developers, especially non-medical domain developers.
To keep the transforms development simpler, we don't update affine so far.
To achieve the similar purpose as your use case,

[2021-10-22 01:45] Nic-Ma commented on #3116
Hi @neuronflow ,

That's an interesting issue and seems hard to analyze.
Is there a way to print the memory / CPU / GPU utilization curve in parallel? Then maybe we can get what's happening when your epoch time goes up?
@ericspod do you have any related experience?

Thanks in advance.

[2021-10-22 02:52] #3165 closed

[2021-10-22 10:16] wyli opened #3171 "test error from test_testtimeaugmentation"
**Describe the bug**
from nightly build, probably a torch 1.5 only issue:

[code]

[code]

[2021-10-22 13:45] #3171 closed, assigned to nobody

[2021-10-22 14:24] #3146 closed, assigned to Nic-Ma

[2021-10-22 15:15] Nic-Ma opened #3172 "Add utility to save model into TorchScript model"
**Is your feature request related to a problem? Please describe.**
We have the utility in NVIDIA Clara train to save a model into TorchScript model, would like to reimplement it in MONAI.

[2021-10-22 16:42] Nic-Ma opened #3174 "Add support to scale datalist for training"
**Is your feature request related to a problem? Please describe.**
There is feature request from @dongyang0122 to scale a datalist then use it for training, for example repeat datalist for 4.5 times to make it bigger or scale it to 0.1 smaller for quick test.
We already have the implementation in NVIDIA Clara Train, need to reimplement in MONAI.

[2021-10-22 20:35] dyollb opened #3176 "Different dimensions when loading multi-channel image using nibabel vs itk"
**Describe the bug**
I create multi-channel images (e.g. two channels with T1, T2) using itk.compose_image_filter and save to a nifty file.
- When I load this image using the default `LoadImage` the shape of the array is `(Nx, Ny, Nz, 1, 2)`. The **ONE** causes issues in subsequent transforms (`Orientationd`), because the image is interpreted as 4D.
-  If I use the ITK reader LoadImage loads an im

[2021-10-22 23:53] Nic-Ma opened #3177 "Update the Brats training chart in docs to use latest version"
**Is your feature request related to a problem? Please describe.**
This is a feature request from Daguang and Prerna, the brats distributed training chart in docs is 1 year ago and mismatch current solution:
![image](https://user-images.githubusercontent.com/27533405/138534090-ccf0dfb9-5f32-487e-8b93-e36fef207a3b.png)

[2021-10-23 11:55] Spenhouet opened #3178 "Antialiasing for labels"
**Is your feature request related to a problem? Please describe.**
Low resolution labels are often too jagged.
![image](https://user-images.githubusercontent.com/7819068/138554494-c2149117-1849-47db-ba4a-603747991a47.png)

**Describe the solution you'd like**
Originally I hoped that the `Spacingd` transform would just have some antialiasing.
But a separate transform for this might be a better solu

[2021-10-23 19:35] #3159 closed, assigned to wyli

[2021-10-24 08:39] #3177 closed, assigned to Nic-Ma

[2021-10-24 12:58] Nic-Ma opened #3180 "Should we support random operation of PyTorch Tensor"
**Is your feature request related to a problem? Please describe.**
Hi @wyli @ericspod @rijobro ,

Currently, all the random operations in transforms are based on numpy, especially for deterministic purpose.
Most of them are light computation, but some are heavy to generate a random array, for example:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/array.py#L1910
It may

[2021-10-25 07:38] #3174 closed, assigned to Nic-Ma

[2021-10-25 07:40] Spenhouet opened #3181 "Not all load methods add pixdim to meta data"
**Description**
This might not necessarily be a bug but I did expect the pixdim to be stored in the meta data all the time - not only if a NIfTI was loaded.

When I'm loading a `.mgz` file with `LoadImaged(FILE_KEYS, "NibabelReader")` then the pixdim is missing.

I believe this can be calculated from the affine like this:

[code]

Would be good if someone with a good understanding of this topic co

[2021-10-25 09:29] Spenhouet opened #3182 "CropForegroundd only works for image with same size and orientation"
**Describe the bug**
The bounding box for the crop is not projected into the space of the target image.
This leads to wrong crops if the target image has another FoV or orientation than the image where the bounding box was taken.

**To Reproduce**

1. Download the following two images: [seg.nii.gz](https://github.com/Project-MONAI/MONAI/files/7408846/seg.nii.gz), [thalamic.nii.gz](https://github.c

[2021-10-25 11:24] #3172 closed, assigned to Nic-Ma

[2021-10-25 16:05] Erotemic opened #3185 "Focal loss with reduction=none returns an incorrect shape"
**Describe the bug**

Note: I've already submitted a patch for this in #3041

The MONAI implementation of `FocalLoss(reduction='none')(input, target)` does not return a Tensor with the same shape as `input`. This deviates from the behavior of `torch.nn.BCEWithLogitsLoss` and other similar loss functions.

Currently using FocalLoss with `reduction='none'` will accept an input and target tensor with

[2021-10-26 07:56] Nic-Ma opened #3189 "Besides `default_prepare_batch`, add support to prepare extra data from batch"
**Is your feature request related to a problem? Please describe.**
Currently, we have a basic `default_prepare_batch` in engines, it would be useful to add support to prepare extra data besides `image` and `label` as our engines already support `args` and `kwargs`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/engines/trainer.py#L181
We have reference implementation in NVIDIA Clara, will r

[2021-10-26 12:10] Spenhouet opened #3191 "NIfTI writer does not store cal_min and cal_max"
**Describe the bug**

I'm storing NIfTI images with `SaveImaged` but when viewed in MRIcroGL I'm seeing this:

![image](https://user-images.githubusercontent.com/7819068/138871245-20a4ea5a-3649-40b2-a682-dc3e3ccf6f6e.png)

This is due to wrong intensity values:
![image](https://user-images.githubusercontent.com/7819068/138873399-144183e9-cc41-4577-bdd2-44af9abeeb83.png)

These are read from the NI

[2021-10-26 15:20] #3189 closed, assigned to Nic-Ma

[2021-10-26 17:36] wyli opened #3192 "util to visualise 3d volumes"
**Is your feature request related to a problem? Please describe.**
a utility method to generate figures for 3d volumes as a grid of 2d frames.

[2021-10-26 21:50] Nic-Ma opened #3195 "CSVIterableDataset doesn't work in the same way as CSVDataset"
**Is your feature request related to a problem? Please describe.**
Here is the feedback from @holgerroth :

When I am using `CSVIterableDataset`, I get this error
[code]
Also, trying to set shuffle=True for the training dataset gives
[code]

[2021-10-26 22:33] #3176 closed, assigned to nobody

[2021-10-26 22:45] bhashemian opened #3197 "StatsHandler Has Wrong Numbering"
**Describe the bug**

StatsHandler uses 0 based number for iterations but goes up to N (instead of N -1) . Please find below an example output of what is happening. The training goes from 0/N to N/N which is N+1 number, so the iteration numbering of current epoch bleeds into the next epoch.

[code]

and it get worse over next epochs:
[code]

[2021-10-27 09:31] hired-ld opened #3201 "g++ error: no such file or directory (To build with MONAI Cpp/CUDA extensions)"
c, I ran codes:
git clone https://github.com/Project-MONAI/MONAI.git
cd MONAI/
BUILD_MONAI=1 python setup.py develop

but, some errors happened. How to solve this question?

g++: error: /home/.../MONAI/build/temp.linux-x86_64-3.6/home/.../MONAI/monai/csrc/ext.o: 没有那个文件或目录
g++: error: /home/.../MONAI/build/temp.linux-x86_64-3.6/home/.../MONAI/monai/csrc/resample/pushpull_cpu.o: 没有那个文件或目录
g++: error

[2021-10-27 11:20] #3197 closed, assigned to Nic-Ma

[2021-10-27 12:46] XieXiao1997 opened #3204 "About class CrossValidation issues"
First,Thanks to the Monet Project for providing clinicians with a concise use of deep learning!
When I try to use the Cross-validation method to load data, the training set and validation set will use different transforms to process data, so I would like to ask how to deal with this situation.
Thank you for your reply.

[2021-10-28 02:40] #3201 closed, assigned to nobody

[2021-10-28 10:41] #3204 closed, assigned to Nic-Ma

[2021-10-28 13:42] Nic-Ma opened #3207 "Add different reductions in metric handlers"
**Is your feature request related to a problem? Please describe.**
Currently, all the metric handlers set `reduction=MEAN`.
It would be nice to add reduction support for metric handlers, and if the metric is key metric to compare, must use "MEAN" reduction.

[2021-10-28 20:36] #3185 closed, assigned to nobody

[2021-10-29 04:37] Nic-Ma opened #3212 "Add utility to check missing images in Decathlon datalist"
**Is your feature request related to a problem? Please describe.**
Currently, we have the utility `decathlon_datalist` to load Decathlon stype images and labels:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/decathlon_datalist.py
It would be nice to have the utility to check whether some image or label files are missing before a heavy training.
NVIDIA Clara Train already has this feat

[2021-10-29 05:50] fgbxx opened #3213 "RandCropByPosNegLabeld self.center mix for multi-process and dataset different shape"
hi, all
  I found a bug when I use multi-process for different shape dataset.
  the transform is global , and the self.center will be changed during different processes,  so change it to a local parameter in call function is better solution I think.

Best,
Gang in Beijing

[2021-10-29 07:48] Spenhouet opened #3214 "ensure_tuple and ensure_tuple_rep does not work for dictionaries"
**Describe the bug**
If the method `ensure_tuple` and `ensure_tuple_rep` is used on a dictionary, it does not work.
This is due to `issequenceiterable` not excluding `Dict` as is done with `str` and `bytes`.

**To Reproduce**

Execute:
[code]

Output is:
[code]

**Expected behavior**
Dict is handled similar as a `str` or `bytes`.

[code]

**Environment**

<details>
  <summary>Click to view the env

[2021-10-29 09:42] #3213 closed, assigned to nobody

[2021-10-29 10:22] #3214 closed, assigned to nobody

[2021-10-29 10:36] #3191 closed, assigned to nobody

[2021-10-29 14:13] guigautier opened #3216 "RemoveOutlier in transform"
Hi,
I am not sure if a transform can removeOutlier base on sigma factor of a volume data. I implement something like this.

[code]

Do you think if it's possible to add to the next release ?

Thanks

[2021-10-29 18:06] myron commented on #3161
LoadImageD doesn't work to read tiff file (latest monai release)

[code]

[2021-10-29 18:13] myron commented on #3161
@Nic-Ma
I tried LoadImageD for .tiff (WSI) file

Initially I got error
`RuntimeError: can not find a suitable reader for file: ('/PandaChallenge2020/train_images/17cedc9620be373816ca026a94e0d6c3.tiff',).
    Please install the reader libraries, see also the installation instructions:
    https://docs.monai.io/en/latest/installation.html#installing-the-recommended-dependencies.
   The current regis

[2021-10-29 21:01] #3195 closed

[2021-10-29 23:08] YipengHu commented on #2755
Fine with me, although the equations do not show up well on my dark theme.
![2021-10-30 (2)](https://user-images.githubusercontent.com/2588157/139510293-16754fbc-a28b-431d-81f4-427f4a6d7518.png)

[2021-10-29 23:57] Nic-Ma commented on #3161
Hi @myron and @drbeh ,

Thanks for your feedback.
I am working on this ticket now to improve the image reader.
And BTW, I think `PILImage` is a better reader for your case, right?

Thanks.

[2021-10-30 00:32] myron commented on #3161
PIL can't read all tiff images (mine are multi page WSI images), but tiffile can
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/conda/lib/python3.8/site-packages/PIL/Image.py", line 3030, in open
    raise UnidentifiedImageError(
PIL.UnidentifiedImageError: cannot identify image file '/train_images/340236fc3587d38939e3dd669bbfe3e8.tiff'`

[2021-10-30 00:56] drbeh commented on #3161
Hi @Nic-Ma, thanks for taking care of this. I think it's better to have either `tifffile` or `WSIReader` (which uses `cuCIM` or `OpenSlide`) to handle TIFF files. What do you think?

[2021-10-30 11:42] #3207 closed

[2021-10-30 23:47] Nic-Ma commented on #3161
Hi @drbeh , I think we already have `WSIReader` to handle pathology images, could you please help share some usage examples with @myron ?
I will try to correct the error message as @myron suggested:
"which is confusing, it says I have ITKReader registered, but I didn't have itk installed. (we need a better error message)"

Thanks.

[2021-10-31 01:07] drbeh commented on #3161
Hi @Nic-Ma, `WSIReader` is not a transform so it cannot be used in the way that Andriy wants. I remember once you added `WSIReader` to be used as part of `LoadImage` transform but you removed it because of cuCIM dependency, I guess. Is that right?

Do you think that there is a way to bring it back `LoadImage`? We can implement a transform for WSIReader but it seems to be redundant.

[2021-10-31 08:47] Nic-Ma commented on #3161
Hi @drbeh ,

I think you can set `WSIReader` in `LoadImage` transform to load that image TIFF image, right?
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py#L663

Thanks.

[2021-10-31 11:04] demodoom1 opened #3225 "How could I use MONAI to preprocess my data and save it?"
I try to use MONAI transfroms to preprocess my nii data,but i can't save the post-processing file.
And many preprocessing methods result in nii images not being opened on ITKsnap,I want to know how could I use the transfroms to preprocess nii and open it in ITKsnap or others visual tool. Thanks!

[2021-10-31 11:07] Nic-Ma commented on #3225
Hi @ericspod ,

Do you have any experience with `ITKsnap` or other visual tools for our 3D output? I never used these tools...

Thanks in advance.

[2021-10-31 11:14] demodoom1 commented on #3225
![image](https://user-images.githubusercontent.com/61397387/139580063-8a5b04e2-9108-4191-b962-560df550e79f.png)
![image](https://user-images.githubusercontent.com/61397387/139580074-2fdb0edf-7711-4808-85ed-3b7185da8266.png)
When I try to use the SimpleITK module precessing nii image,I have saved the Origin,the Spacing and the Direction,but could not open the nii again.I think it was the absence of

[2021-10-31 11:22] demodoom1 commented on #3225
I want to use MONAI ,the transfrom like :
'    val_transforms = Compose([
        LoadImaged(keys=['image', 'label'])
        , EnsureChannelFirstd(keys=['image', 'label'])
        , Spacingd(keys=["image", "label"], pixdim=(1.0, 1.0, 3.0), mode=("bilinear", "nearest"))
        , Orientationd(keys=['image', 'label'], axcodes='PLI')
        , ScaleIntensityRanged(keys=['image'], a_min=-60, a_max=14

[2021-10-31 13:18] wyli commented on #3216
I feel the percentile based thresholding is more robust https://github.com/Project-MONAI/MONAI/blob/ec479d5b054063de61ef7af0caed021b36325fea/monai/transforms/intensity/array.py#L833 or do I miss something here?

[2021-10-31 14:53] #3225 closed

[2021-10-31 14:55] demodoom1 commented on #3225
Luckily,I solved the problem by MONAI,thx the project!

[2021-10-31 15:38] ericspod commented on #3225
This might have been something related to some specific values in Nifti headers causing some tools to fail on read. We encountered this before with some ITK based tools (eg. ITKSnap) that would complain about an incorrect transform, we never figured out what about the transform was a problem since other tools read them just fine. If you're ok with your solution that's great but any more details on

[2021-10-31 15:51] demodoom1 commented on #3225
When I try SimpleITK to resample nii file,whatever I save the imform,it can't open in ITKsnap...&nbsp;
To my surprise&nbsp;when I use MONAI transform and the nibabel module,it worded.&nbsp;You can use ITKsnap by only saving new_affine and image.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-10-31 22:51] finalelement commented on #2708
The tutorial is coming along, the experimental results have worked out well. With pretraining we can show improvements upto 7% given small finetuning data set size of 6 training volumes with a validation of 6 volumes on Beyond the cranial vault MICCAI 2015 challenge

[2021-11-01 08:40] wyli opened #3228 "make the netadapter `__str__` in the same order as `forward`."
Okay, my confusion was with how the layers are printed when you print the full `NetAdapter` instance. It shows the `pool` layer first, which made me think this was the first layer to receive the input tensor, even though the `pool` layer is called after `model.features()` in `model.forward()`.
[code]

The order of calls is `features -> pool [optional] -> flatten [optional] -> fc`. But this is how

[2021-11-01 11:27] #3228 closed

[2021-11-01 13:49] #3192 closed

[2021-11-01 14:00] #3100 closed

[2021-11-01 14:00] #3101 closed

[2021-11-01 14:00] #3102 closed

[2021-11-01 14:00] #3104 closed

[2021-11-01 16:49] drbeh commented on #3161
@myron
You can use `LoadImage` with `cuCIM` as follow:
[code]

I have tested it and it worked but please let me know if you encounter any problem.

[2021-11-01 16:54] wyli commented on #233
Here are some discussion points for the potential feature classifications:

Stable
Feature with code, documentation, tutorial ready, available in the milestone releases
- Relatively long-term maintenance (Pin down a few versions of pytorch/cuda for full tests)
- Breaking changes with notice/warnings one milestone release ahead of time
- Maintain an API changelog, migration guides
- Available using

[2021-11-01 17:07] wyli commented on #246
please file new tickets for any follow-ups.

[2021-11-01 17:07] #246 closed

[2021-11-01 22:53] Nic-Ma opened #3233 "Add AverageMeter metric handler"
**Is your feature request related to a problem? Please describe.**
It would be useful to have some AverageMeter metric or handler to continuously computing the average value during training, draft idea code:
[code]

[2021-11-01 22:54] Nic-Ma commented on #3233
CC @myron @drbeh

Thanks.

[2021-11-01 22:58] Nic-Ma opened #3234 "Add `dtype` arg to `ScaleIntensityRange` transform for output"
**Is your feature request related to a problem? Please describe.**
Need to add a `dtype` arg to `ScaleIntensityRange` to control the output datatype, same as other intensity transforms.

[2021-11-01 23:12] myron commented on #3161
Yes, It does not work for me
1) First, I need to read the image at level=1 of TIFF image (medium resolution), and WSIReader by default reads level=0 in get_data. I can't specify this option unless I manually call WSIReader.get_data(level=1)
I suggest we add this option in init method of WSIReader

2) Second  for some reason WSIReader (with cucim) returns channels first  3x10000x10000,
It's not a b

[2021-11-01 23:16] Nic-Ma commented on #3161
2 minor comments:
1. All the MONAI components expect `channel-first` data, so maybe you can adjust your transform for it.
2. If you must tifffile package, it's OK to write your own `TifffileReader` in the tutorial, use it in `LoadImage` transform.

Thanks.

[2021-11-01 23:35] myron commented on #3161
1. So for the tutorial,  what if instead of TiffileReader I just write a custom transform to load image.  It takes less space and is more explicit.  Why would I write TifffileReader class, which then needs to be initialized inside LoadImaged ?
2. Should we add tifffile option into WSIReader ? it seems like a more fundamental solution

[code]

[2021-11-01 23:38] myron commented on #3164
So the QWK is just a one-line to compute in numpy.  I think we can just call it directly when needed instead of adding this as a Metric to monai. What do you think?

[code]

[2021-11-01 23:40] Nic-Ma commented on #3161
Hi @myron ,

I prefer to option 2 if it makes sense to general WSI loading cases, @drbeh @wyli .
Option 1 to write a customized reader is good to show how to customize reader as a tutorial example, would be useful for other users.

Thanks.

[2021-11-02 00:11] drbeh commented on #3161
Thanks @myron and @Nic-Ma, I agree. I like the option 2 better. I can submit a PR to add `tifffile` to `WSIReader`. Also having general options (like the level) in the constructor makes sense to me. I will make a PR for that one too.

[2021-11-02 00:14] drbeh commented on #3164
@myron, sure, that makes sense. If you are not relying on a torch.Tensor computation and it works for you, let's keep it that way for now.

[2021-11-02 00:14] #3164 closed

[2021-11-02 05:54] myron opened #3238 "Multiple patches transform for MIL"
I need a spatial transform for MIL that takes an input (ndarray) NxCxWxH,
loops over the first dimension (patches) and randomly flips (see below)

What are my options with the current monai functionality?

1) I understand that in the previous transform I can output a list of dicts (each having one patch) to be able to use RandomFlip (form monai). But in this case I don't know how to handle "label"

[2021-11-02 06:06] myron commented on #2781
Preliminary draft PR were added to tutorials. working on moving some components into monai core

[2021-11-02 06:10] myron commented on #2782
duplicate

[2021-11-02 06:10] #2782 closed

[2021-11-02 08:05] wyli commented on #3233
is it possible to use the `CumulativeIterationMetric` API directly in the tutorial? https://github.com/Project-MONAI/MONAI/blob/3960a514a5f44a10aceab463e926a19bc0b8c79a/monai/metrics/metric.py#L210-L216

[2021-11-02 08:06] Nic-Ma commented on #3233
Interest idea, need to investigate it.

Thanks.

[2021-11-02 11:25] #3234 closed

[2021-11-02 11:53] Nic-Ma commented on #3238
Hi @myron ,

Thanks very much for your detailed explanation of the issue you are facing.
@wyli and I totally went through your code for this problem and we think it's better to do something like:
1. Define your patch creation transform in the similar way of `RandCropByPosNegLabeld`, return **a list of dictionaries** and label will be copied to every dictionary.
2. All the following transforms will

[2021-11-02 14:13] rijobro opened #3240 "plot_2d_or_3d_image with colour"
I have my ground truth image with overlaid segmentation. The image is in grayscale and the segmentation is in colour, the two have been blended together and a 2d slice is correctly displayed with `plt.imshow`. I'd like to log this image to tensorboard, for which I use `plot_2d_or_3d_image`. Since the image is 3D, a gif is created, but the colour information is lost. I use `max_channels=3`, but thi

[2021-11-02 14:36] drbeh commented on #3233
That's a great point @wyli.
@Nic-Ma, I checked on `CumulativeIterationMetric` but it is not possible to use it directly since the `aggregate` method is an abstract method.
However, I believe it would be nice to have another class (like `RunningAverage` or anything) that inherit from `CumulativeIterationMetric`. What do you guys think? I can submit a PR.

https://github.com/Project-MONAI/MONAI/blob

[2021-11-02 16:11] aarpon opened #3243 "LoadImage Transform returns transposed image in MONAI 0.7.0"
**Describe the bug**
The `monai.transforms.LoadImage` Transformer (independent of the reader used) erroneously returns a transpose of the image in MONAI 0.7.0, whereas it returned the correct image in previous versions.

**To Reproduce**
It is most obvious when the image is not square. I saw it when using images with shape (700, 1100).

With MONAI == 0.6.0:

[code]

With MONAI == 0.7.0:

[code]
Ch

[2021-11-02 16:33] myron commented on #3233
Here is a better version of it. it handles arrays and inf/nans
[code]

[2021-11-02 17:22] rijobro commented on #3243
Just had a very brief look so adding more information -- our unit tests only use cubic images of (128,128,128), so we wouldn't notice this sort of problem. Certainly something that needs to be rectified.

[2021-11-02 22:06] Nic-Ma commented on #3240
Hi @rijobro ,

Thanks for the idea, let me try to investigate it ASAP.

[2021-11-02 22:17] Nic-Ma commented on #3243
Hi @rijobro @aarpon ,

To be consistent with other libraries, we added logic to switch the axis in MONAI v0.7:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py#L641
We have received 2 feedback related to it, maybe I need to add some doc-string to make it clear.

Thanks.

[2021-11-03 02:30] myron commented on #3161
@drbeh are you still planning PR to support tifffile?

[2021-11-03 02:45] drbeh commented on #3161
Hi @myron, I have added support for specifying image level when using CuCIM in LoadImage. The PR is being merged #3241 so you should be able to use it very soon. `cuCIM` is supposed to be as fast as `tifffile` but please try it and let me know if it was not up to the expectations.

[code]

[2021-11-03 02:52] myron commented on #3161
I've already tried to compare tifffile vs cucim, see https://github.com/Project-MONAI/MONAI/issues/3161#issuecomment-956848740

it's 6x slower with cucim for reading level=1.  We can use it , but it won't be optimal. Is it difficult to add tiffile?

[2021-11-03 04:57] Nic-Ma commented on #3240
Hi @rijobro ,

I tried to enhance the plot function for RGB colorful 3D image, but unfortunately, it's very hard to set RGB GIF image with `PIL.GifImage` and `Tensorboard`, I got many errors in this function:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/visualize/img2tensorboard.py#L35
I think for most common cases, we don't use RGB images in 3D, usually some multi-channel images.
Can we

[2021-11-03 07:44] Nic-Ma commented on #3243
Enhanced the doc-string of axis order in PR: https://github.com/Project-MONAI/MONAI/pull/3247.

Thanks.

[2021-11-03 09:28] wyli commented on #3161
fyi @gigony

[2021-11-03 10:27] rijobro commented on #3240
Hi @Nic-Ma thanks for looking into this for me. In searching for a solution I found tensorboardX which seems to do what I want:

[code]

If we wanted, this could be incorporated into `plot_2d_or_3d_image`, but maybe more effort than it's worth?

[code]

[2021-11-03 10:28] aarpon commented on #3243
Thanks! I'll be happy to test and report.

[2021-11-03 10:55] Nic-Ma commented on #3240
Hi @rijobro ,

Sounds interesting an idea, let me try to investigate again, will get back to you soon.

Thanks.

[2021-11-03 12:35] Nic-Ma commented on #3240
Hi @rijobro ,

I submitted PR to totally add TensorBoardX support and 3D RGB GIF support: https://github.com/Project-MONAI/MONAI/pull/3250
Could you please help review it?

Thanks in advance.

[2021-11-03 13:44] drbeh commented on #3161
@gigony, I confirm that `tifffile` is 3X faster than `cuCIM`. Is it something expected?
That shapes are not the same but it seems that `tifffile` is not padding.

[code]

[code]

[2021-11-03 14:56] gigony commented on #3161
Hi @drbeh,

It is expected.

tifffile uses multithreads (# of cpus) internally while reading whole image(but it doesn't support partial image reading) whereas cuCIM's read_region doesn't use multithreads and whether if using them is delegated to the user.

If needed, We can make cuCIM use multithreads internally in C++ level or provide a utility function in Python to load whole image using multith

[2021-11-03 15:03] drbeh opened #3251 "`tifffile` support in WSIReader"
**Is your feature request related to a problem? Please describe.**
WSIReader currently supports `cuCIM` and `OpenSlide`, which can read patches from very large whole slide images without loading the entire image into memory. However, `tifffile` is another popular library to load TIFF files (which the most common format for whole slide imaging). Although it does not support extraction without loadi

[2021-11-03 15:06] drbeh commented on #3161
Thank you @gigony! I will make a request in cuCIM GitHub repo.

[2021-11-03 15:07] drbeh commented on #3161
@myron, I will add `tifffile` support to `WSIReader`. https://github.com/Project-MONAI/MONAI/issues/3251

[2021-11-03 16:38] #3212 closed

[2021-11-03 20:15] danieltudosiu opened #3253 "Numpy Loader doesn't create the right metadata"
**Describe the bug**
The Numpy loader creates the wrong spatial_shape metadata field.

**To Reproduce**
Use this code:

[code]

**Expected behavior**
The spatial_shape field should be a list of list each with 3 elements.

Something like:
[tensor([20,28,20]),tensor([20,28,20]),tensor([20,28,20]),tensor([20,28,20]),tensor([20,28,20])]

But instead we get:

[tensor([20, 20, 20, 20, 20]), tensor([28,

[2021-11-03 21:39] #3161 closed

[2021-11-03 22:54] Nic-Ma commented on #3253
Hi @danieltudosiu ,

Thanks for your feedback, let me take a look ASAP.

[2021-11-03 23:15] Nic-Ma commented on #3253
Hi @danieltudosiu ,

I tested the NumpyReader with:
[code]
The output is: `(1, 2, 3, 4, 5)` as expected.
Please note that, as we can't determine the channel dim in numpy file, we set the spatial_shape to data.shape directly:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py#L562

I will try to add `channel_dim` option in NumpyReader to make it more flexible.

Thanks.

[2021-11-03 23:20] danieltudosiu commented on #3253
Hi Nick,

Please, try with a batch size bigger than the channel+spatial dimension. For example for 3D a batch size of 4+ will error out. Please have a look at the example I submitted.

Cheers,

Dan

Best regards,

Petru-Daniel (Dan) Tudosiu

Biomedical Engineering PhD Student
School of Biomedical Engineering & Imaging Sciences
King's College London

Mobile: +447497517619
Email: ***@***.***

Office

[2021-11-03 23:23] Nic-Ma commented on #3253
Oh, I see your problem, it's related to the collate_fn instead of image reader.
Let me investigate it.

Thanks.

[2021-11-04 01:16] myron commented on #3161
@drbeh
I tried using the WSIReader, as below

[code]

it loads image fine, but then gives an error
[code]

it seems that LoadImageD creates an extra key d['image_meta_dict'] which is NoneType and couldn't be used to create a batch.  Since it's was working for other loaded images, the issue must be specific for WSIReader ?!

[2021-11-04 02:50] cgohlke commented on #3161
Tifffile provides zarr store interfaces, which support partial image reading through zarr or dask. Unfortunately the overhead by zarr can be detrimental depending on how the image data in the TIFF is chunked. Tifffile also allows to iterate over segments and to memory map contiguous image data to numpy arrays if possible (e.g. ImageJ hyperstacks).

It's not unusual that C++/GPU implementations out

[2021-11-04 03:09] drbeh opened #3256 "None value in image_meta_dict of WSIReader"
**Describe the bug**
The `image_meta_dict` of `WSIReader` contains None value.
Checkout this comment for the problem that it causes and more details: https://github.com/Project-MONAI/MONAI/issues/3161#issuecomment-960355992

[2021-11-04 06:28] myron commented on #3238
So this looks very 'hack-ish'.
To make this work , I'll have to modify the Tiling transform to create list of dicts, by copying some elements (that are not in keys argument), and splitting all ndarrays that are in the keys argument, a bit convoluted logic.  And most of these keys are just copies (and are later ignored, just to make it work) Then to use this additional custom collate function.  And

[2021-11-04 09:19] WouterDurnez opened #3258 "PyPi hosted monai (version 0.7.0) does not allow additional keyword arguments."
https://github.com/Project-MONAI/MONAI/blob/02efc604014ee52936dca8828f47a5cae0036f67/monai/apps/datasets.py#L374

Perhaps something went wrong when uploading the latest version to PyPI, but there are no additional `dataset_params` in the `get_data` signature. Doublechecked the version (which is 0.7.0).

[2021-11-04 09:27] Lnan1615 opened #3259 "The significance of position_embeddings"
I cann't understand what the point of adding position_embeddings to the sequence is. For image blocks, when 2d or 3D images are transformed into 1d sequence or 1d sequence is transformed into 2D or 3D images, the operation is carried out in strict order, and the sequence sequence is not disrupted later, so it seems that position embedding of the sequence is no longer needed. In addition, I didn't

[2021-11-04 09:29] #3259 closed

[2021-11-04 10:54] wyli commented on #3258
That feature was added after v0.7 and is currently on the development branch, you can access it via the weekly build https://pypi.org/project/monai-weekly/ (probably need to uninstall any existing versions to avoid conflicts).

[2021-11-04 10:55] WouterDurnez commented on #3258
Thanks a lot!

[2021-11-04 10:55] #3258 closed

[2021-11-04 13:46] drbeh commented on #3238
@myron, are you saying that MONAI's structure is not capable of handling pipelines like multi-instance learning? If so, it is very concerning since it would have made MONAI limited in the scope!
@Nic-Ma @wyli can you weigh in here? Is MONAI approach way more inefficient than what Andriy is already doing?

[2021-11-04 14:42] #3256 closed

[2021-11-04 20:13] myron commented on #3238
Monai is new to MIL, so there is not much support yet. we can be increasing the support over time. I think for now a simple way is sufficient, given the time constraint

[2021-11-04 23:40] Nic-Ma commented on #3238
Hi @myron and @drbeh ,

Thanks for the deep discussion!
The reason I suggested to make a list of dictionaries:
1. In current way, ff users want to try other MONAI transforms for the extracted patches, they need to develop their own transform like your `BatchedRandFlip`. But if you use a list of dictionaries, all the following transforms can be any regular MONAI transform. I think we build this MIL

[2021-11-05 09:59] wyli opened #3263 "nightly tests error: test_masked_inference_wsi_dataset"
**Describe the bug**
[code]

[2021-11-05 10:08] Nic-Ma commented on #3263
Hi @wyli,

Thanks for raising this issue.
I tested locally, I can reproduce the issue with latest cuCIM 21.10.01 which just released today, can't reproduce with previous cuCIM.

Thanks.

[2021-11-05 10:16] yiheng-wang-nv opened #3264 "Enhance DynUNet"
In the BraTS21 Challenge, the first place solution uses an optimized version of nnUNet, thus I think it would be better to enhance DynUNet to be compatible with it.

Reference:
https://arxiv.org/pdf/2110.03352.pdf

[2021-11-05 10:25] wyli commented on #3263
thanks, there are similar issues in `tests.test_smartcache_patch_wsi_dataset` `tests.test_cuimage_reader` `test_smartcache_patch_wsi_dataset` `test_patch_wsi_dataset`

[2021-11-05 10:45] wyli commented on #2231
This is now finalised, more info via `python monai/transforms/utils.py`:
[code]
Most IO and performance profiling utility transforms are uncategorised.
please feel free to open new tickets for any further issues/feature requests.

Thanks for leading this effort @rijobro.

[2021-11-05 10:45] #2231 closed

[2021-11-05 11:28] #3263 closed

[2021-11-05 13:04] drbeh opened #3268 "Investigate the performance gap between baseline MONAI and Clara Train"
Investigate the performance gap for digital pathology metastasis detection pipeline between baseline in MONAI (numpy transforms and torchvision for color jitter) and Clara Train (which has the same transforms as MONAI).

[2021-11-05 13:07] drbeh commented on #3268
I went through every detail of Clara and MONAI source codes and configurations to find any discrepancy. After spending tens of hours on this, the only difference that I found was MONAI version of pipeline was using `TorchVisionFCModel` while Clara Train version was using `TorchVisionFullyConvModel` (which is deprecated). However, I checked the implementation and both create exactly the same model.

[2021-11-05 13:10] LaiaHumbertVidan opened #3271 "ImportError: cannot import name 'get_act_layer'"
Hi,

I am getting an error when trying to import get_act_layer using 'from monai.networks.layers import get_act_layer' and not able to figure out the reason or fix it.

Any help will be much appreciated.

Thank you.

Laia

[2021-11-05 13:21] drbeh commented on #3268
To further confirm that there are not a performance gap and it might be the artifact of reporting a value instead of confidence interval, I ran 6 training (3 with Clara Train, and 3 with MONAI) with difference random seeds (0, 112, and 1123) and calculated their FROC. The results showed that there is no statistical difference between the two version (please see the comparison plot).

![Digital Pat

[2021-11-05 13:42] wyli commented on #3271
could you please follow the bug reporting template to provide more info? https://github.com/Project-MONAI/MONAI/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-11-05 14:45] drbeh opened #3274 "Aperio SVS file format support"
[Aperio SVS](https://openslide.org/formats/aperio/) (.svs.) is widely being used in digital pathology.

[2021-11-05 14:49] drbeh commented on #3274
cuCIM Team has done a great job to support this file format in cuCIM v21.10.1 (see the release note [here](https://github.com/rapidsai/cucim/wiki/release_notes_v21.10.01)). @gigony

Upon this update, in MONAI, we automatically support this file format through `WSIReader`, which uses cuCIM or OpenSlide as the backend.

[2021-11-05 14:49] #3274 closed

[2021-11-05 14:52] LaiaHumbertVidan opened #3275 "ImportError: cannot import name 'get_act_layer'"
**Describe the bug**
When trying to import get_act_layer using 'from monai.networks.layers import get_act_layer' I get an error which I am unable to solve or find the reason for: ImportError: cannot import name 'get_act_layer'. I am using Python 3.6.8 within Anaconda.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Python (v 3.6.8) within Anaconda
2. Try to import the get_act_layer Mon

[2021-11-05 14:56] LaiaHumbertVidan commented on #3271
Sure, done that now. Thank you.
________________________________
From: Wenqi Li ***@***.***>
Sent: 05 November 2021 14:42
To: Project-MONAI/MONAI ***@***.***>
Cc: Humbert-Vidan, Laia ***@***.***>; Author ***@***.***>
Subject: Re: [Project-MONAI/MONAI] ImportError: cannot import name 'get_act_layer' (Issue #3271)

could you please follow the bug reporting template to provide more info? https://gith

[2021-11-05 15:08] Nic-Ma commented on #3275
I would suggest you to try the latest MONAI version.

Thanks.

[2021-11-05 15:48] wyli commented on #3271
thanks, closing this in favour of https://github.com/Project-MONAI/MONAI/issues/3275.

[2021-11-05 15:49] #3271 closed

[2021-11-05 19:58] gigony commented on #3161
Thanks @cgohlke for the information!

It is great to see the message directly from the **tifffile** creator! :)
Thank you for building the awesome library!
I like its performance and flexibility -- decoding data (that takes most of the time) is done at C level (by using your imagecodecs package) and handling data is done in pure Python, that's why tifffile has a fairly great performance.

I just h

[2021-11-05 20:23] LaiaHumbertVidan commented on #3275
It worked! Thank you!
________________________________
From: Nic Ma ***@***.***>
Sent: 05 November 2021 16:08
To: Project-MONAI/MONAI ***@***.***>
Cc: Humbert-Vidan, Laia ***@***.***>; Author ***@***.***>
Subject: Re: [Project-MONAI/MONAI] ImportError: cannot import name 'get_act_layer' (Issue #3275)

I would suggest you to try the latest MONAI version.

Thanks.

—
You are receiving this because y

[2021-11-05 20:33] drbeh commented on #3162
Closing in favor of: https://github.com/Project-MONAI/MONAI/issues/3238

[2021-11-05 20:33] #3162 closed

[2021-11-05 22:30] myron opened #3276 "ScaleIntesityRange performance"
Related to https://github.com/Project-MONAI/MONAI/issues/3234

I need to normalize Uint8 image as (255 - x)/255,
for which, the closest transform I found is
ScaleIntensityRange(a_min=255., a_max=0., b_min=0., b_max=1., clip=False, dtype=np.float32)

But with this, the overall training speed is 12% slower. And this transform is 5-6 times slower the my Manual simple function.
First, the casting to f

[2021-11-05 23:55] Nic-Ma commented on #3276
Hi @myron ,

I think it will convert to `float32` before computation if you set `dtype=np.float32` in the transform.
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/utils.py#L168
Maybe the type check or data type check in the function took more time than converting directly:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/utils/type_conversion.py#L202
@wyli @rijobro What do

[2021-11-06 00:21] wyli commented on #3276
I feel this is reasonably good:
[code]
0.03402090072631836

[2021-11-06 00:58] myron commented on #3276
@wyli this works but produces  completely wrong output

It turned out if one of the args ( eg a_min) is an Integer,  the output is wrong completely! which looks like a BUG

[code]
output

[code]

In this example only scaler2 and scaler4 outputs the correct result.
For scaler1 all args are in int, and the result is wrong, I suspect it's because it does calcluations in int first (and only casts to f

[2021-11-06 16:10] #3253 closed

[2021-11-07 04:33] myron commented on #3238
I have implemented it via collate and RandFlipd transforms (from monai).
It is 15% slower, probably because of

- memory copies in RandFlipd.
- the final intensity normalization transform (ScaleIntensityRangeD) before would run once on a single large np.array , and now that we split it into batches that transforms runs separately for each patch, which is slower. Similar any other transforms we may

[2021-11-07 04:42] myron commented on #3276
scaler4 works correctly, but is still 2x slower than Direct on a large size data. I think When you merge https://github.com/Project-MONAI/MONAI/pull/3277 it will be acceptable

we should still file/fix this bug  .  Probably if the data is Unsigned int, we should convert to final precision right away in ScaleIntensityRange, and not at the end

[2021-11-07 10:41] wyli opened #3283 "test_cachedataset_persistent_workers freeze randomly for pytorch:21.09"
**Describe the bug**
[code]

this happens randomly and is difficult to reproduce.

[2021-11-07 11:05] wyli commented on #3276
Sure, Also I think in that case the conversion should be done explicitly by, for example `Compose([CastToType(dtype=np.float32), scaler])`.

[2021-11-07 21:01] myron commented on #3163
PR is here https://github.com/Project-MONAI/MONAI/pull/3236

[2021-11-07 21:45] wyli opened #3284 "pytorch version utility"
**Describe the bug**
the current utilities for identifying pytorch versions are not robust to those from nvidia pytorch docker images (such as `PT_BEFORE_1_7`, `version_leq(torch.__version__, '1.10')`). Given that these are important for compatibility with different pytorch versions, the utility should be unified and tested.

[2021-11-07 23:22] #3275 closed

[2021-11-07 23:23] #3243 closed

[2021-11-07 23:28] Nic-Ma commented on #3182
Hi @Spenhouet ,

Thanks for your feedback!
I think that's expected behavior of `CropForegroundd` which requires input images have the same orientation and size.
About how to align image and label images before transform, I think that's a topic we are discussing in another ticket.

Thanks.

[2021-11-08 07:07] Spenhouet commented on #3182
Hi @Nic-Ma,

in our case we can not align images before the `CropForegroundd` transform due to the image size.
Aligning them prior to the crop would not fit into the RAM.

Why do you call this "expected behavior" when I clearly show that the current function does not work and outputs wrong results and I even already provide a fix.
Also why is this labeled "question" while it is clearly a bug? I no

[2021-11-08 07:56] Spenhouet opened #3287 "CopyItemsd, DeleteItemsd and SelectItemsd do not consider meta_dict and transforms"
**Is your feature request related to a problem? Please describe.**
When copying or deleting, I would like the `meta_dict` and `transforms` to be copied accordingly.
For copy this also has the implication, that the `filename_or_obj` is not adjusted to the new name and therefore the images are stored (`SaveImage`) with a wrong name.

**Describe the solution you'd like**
The `CopyItemsd`, `DeleteItem

[2021-11-08 09:18] Nic-Ma commented on #3182
Hi @Spenhouet ,

Sorry maybe I didn't make it clear, the "expected behavior" I mean that `CropForegroundd` expects input images with same size and orientation, etc.
I think we try to make every transform simple and straight-forward to only perform 1 independent thing if possible, so I would suggest to add other transform to align images before `CropForegroundd` instead of adding more logic to this

[2021-11-08 09:52] Spenhouet commented on #3182
@Nic-Ma thanks for the clarification.

I get the desire for doing only one thing. My fix does not change that. With my fix the transform still performs only one thing.
Maybe there is some misunderstanding. My fix does not align the images, it aligns the bounding boxes.
It still then only performs the crop with the bounding boxes. The only difference is, that the bounding boxes actually fit to the

[2021-11-08 11:55] Nic-Ma opened #3288 "Add support to create train / val datalists for Decathlon dataset"
**Is your feature request related to a problem? Please describe.**
Currently, we already have the APIs to load Decathlon datalist or check missing files, would be nice to provide the API to split datalist into train / val or Kfolds cross validation, and save new datalist.json files.
We already have this feature in NVIDIA Clara, will reimplement in MONAI style.

[2021-11-08 12:30] #3276 closed

[2021-11-08 21:39] #3240 closed

[2021-11-09 08:58] Spenhouet opened #3292 "RandAffined fails with KeyError when allow_missing_keys and key at index 0 is missing"
**Describe the bug**
We have a pipeline in which not all samples have the same keys.
The `RandAffined` transform accesses fallback data via index 0.
If index 0 is a missing key, then this transform will fail with a `KeyError`.

[code]

**Expected behavior**
If the option `allow_missing_keys` is set, I would expect the `RandAffined` transform to take the first element of the existing keys as fallba

[2021-11-09 09:02] Nic-Ma commented on #3292
Hi @Spenhouet ,

Thanks for your feedback.
It sounds like a good enhancement for the components, we have the logic `data[self.keys[0]].shape[1:]` in several transforms. I will try to update them based on your idea.

Thanks.

[2021-11-09 10:05] yiheng-wang-nv opened #3293 "Further enhance DynUNet via removing unused parts"
In current implementation, no matter `deep_supervision` is used, the corresponding heads will be used. In addition, extra heads may be maintained, when `deep_supr_num` is less than `the number of up sample layer - 1`. It may also be related with https://github.com/Project-MONAI/MONAILabel/issues/492

I planned to change it within #3265 , but it brought breaking changes (https://github.com/Project-

[2021-11-09 10:05] yiheng-wang-nv commented on #3293
FYI @wyli @Nic-Ma @SachidanandAlle

[2021-11-09 11:06] wyli commented on #2721
Visualisations are included, I'm closing this ticket. Please feel free to file additional feature requests, e.g. https://github.com/Project-MONAI/tutorials/issues/436.

[2021-11-09 11:06] #2721 closed

[2021-11-09 11:57] #3216 closed

[2021-11-09 12:10] ericspod commented on #3182
I think I understand the issue here and the fix though @rijobro would be best to consult with on transforms when he's back.

[2021-11-09 13:13] Spenhouet commented on #3292
@Nic-Ma Any idea how I could work around this without needing to patch all augmentation transforms?
I tried adding a fake image as first key but this is then actually used to resize the image (in the RandAffine transform). Probably this is an independent bug report.

[2021-11-09 13:45] Spenhouet commented on #3292
Okay, the RandAffine has much more problems. It is not working at all for us... I will use the torch.io transform instead. I don't have the time to open the bug report currently. I have probably more than 20 bug reports on my list which I did not yet report. It feels like I have half of MONAI patched in my code base... this really start to get frustrating.

[2021-11-09 15:26] ericspod opened #3294 "CuPy Transforms"
**Is your feature request related to a problem? Please describe.**
Using CuPy in transforms introduces a host of advantages and issues to consider. CuPy provides a number of CUDA accelerated facilities not provided by Pytorch. One important aspect is replicating the NumPy API so it's possible to define/rewrite code to use one or the other based on which library inputs are from. This does add CuPy

[2021-11-09 23:20] wyli opened #3296 "decouple the transform stack API from `InvertibleTransforms`?"
**Is your feature request related to a problem? Please describe.**
Currently the `InvertibleTransforms` is coupled with the transform stack feature, this makes it difficult to create a non-invertible transform at the same time track the applied transforms.

https://github.com/Project-MONAI/MONAI/pull/3295 proposes to have separate interfaces for these concepts.

[2021-11-10 10:55] Spenhouet commented on #3292
Just to note down: RandGaussianNoised has the same issue with missing keys.

[2021-11-10 11:00] Nic-Ma commented on #3292
Hi @Spenhouet ,

Thanks for your feedback.
I am already working on a PR to address this issue, will submit for review soon.

Thanks.

[2021-11-10 11:36] #3233 closed

[2021-11-10 12:20] #3288 closed

[2021-11-10 13:15] #2213 closed

[2021-11-10 17:57] ebrahimebrahim opened #3306 "Documentation for DiceLoss is misleading"
The [documentation for `DiceLoss`](https://docs.monai.io/en/latest/losses.html?highlight=dice%20loss#diceloss) says (my bold):

The term "logit" here doesn't seem to match how `DiceLoss` [actually works](https://github.com/Project-MONAI/MONAI/blob/dev/monai/losses/dice.py#L162-L176); it expects class probabilities and not logit values. That can change for one of the inputs if the parameters `sigmo

[2021-11-10 18:12] #2755 closed

[2021-11-10 18:24] wyli opened #3307 "Niftisaver doesn't save new voxelspacing"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/3299 as well as https://github.com/Project-MONAI/MONAI/discussions/2029

<div type='discussions-op-text'>

<sup>Originally posted by **Gijz33** November 10, 2021</sup>
Hi,

I am changing the voxel spacing of my CT data using monai.transforms.Spacingd and saving the CT with new spacing into a .nii.gz-file using monai.data.NiftiSave

[2021-11-10 21:57] #3268 closed

[2021-11-10 23:36] Nic-Ma commented on #3306
Hi @ebrahimebrahim ,

Thanks for your feedback.
I will try to double-check the related document ASAP.

Thanks.

[2021-11-11 01:07] wyli commented on #3294
Perhaps cuda python should also be reviewed https://developer.nvidia.com/cuda-python for feasibility.

[2021-11-11 01:09] wyli commented on #3287
Thanks, these could be useful components towards #2424.

[2021-11-11 01:25] wyli commented on #3167
This and #3182 might be done lazily in terms of spatial resampling if there are multiple spatial transform s and we consider https://github.com/Project-MONAI/MONAI/issues/2425. I feel the feature request still requires more discussions and thorough design.

[2021-11-11 04:31] #3306 closed

[2021-11-11 06:51] #3251 closed

[2021-11-11 08:58] Spenhouet opened #3313 "The Affine transform currently does not have an affine matrix parameter"
**Is your feature request related to a problem? Please describe.**
The `Affine` transform forwards its parameters to the `AffineGrid` class.
But it currently does not provide the "affine" parameter which the `AffineGrid` class also has.

This allows to directly define a affine transformation matrix instead of individual parameters for transformations like rotation.
If computations are directly don

[2021-11-11 09:04] Nic-Ma commented on #3313
Hi @Spenhouet ,

Thanks for your feedback.
@wyli @ericspod I think this feature request can help improve the user experience, if you guys don't have other concerns, I will try to add it based on the suggestion here.

Thanks in advance.

[2021-11-11 09:05] Nic-Ma commented on #3292
Hi @Spenhouet ,

The PR had been merged into `dev` to fix this issue.

Thanks for your feedback.

[2021-11-11 10:07] codingS3b opened #3314 "ResNet class does not respect argument feed_forward=False"
**Describe the bug**
The ResNet class has a parameter `feed_forward` which allows skipping of the final dense layer if I intepret that correctly. A respective layer is only created if the parameter is set to True (see [here](https://github.com/Project-MONAI/MONAI/blob/bfa054b9c3064628a21f4c35bbe3132964e91f43/monai/networks/nets/resnet.py#L231)) but in the forward pass, there is no query for whethe

[2021-11-11 10:10] Nic-Ma commented on #3314
Hi @codingS3b ,

Thanks for your interest here and feedback.
We will try to investigate and reproduce the issue ASAP.

Thanks.

[2021-11-11 10:15] Spenhouet commented on #3292
@Nic-Ma Thanks, I'm already testing it. I will give feedback if something does not work.

[2021-11-11 10:23] Spenhouet commented on #3292
@Nic-Ma I'm running in the issue that our pipeline has completely different keys for different pipeline entries.
So for some, all keys are missing.
With the normal `allow_missing_keys` logic, that is not a problem, since the iteration which applies the transforms will not iterate anything and just return the unchanged dict.
This would also need to happen here in the case that all keys are missing.

[2021-11-11 10:25] Nic-Ma commented on #3292
Hi @Spenhouet ,

Thanks for your feedback, that's interesting for the all missing case, let me think about it and try to improve locally.

[2021-11-11 10:52] wyli commented on #3313
Sure I feel it might be simpler to have a warp function instead of transform class (unless we cache the grid for performance)

[2021-11-11 10:56] Nic-Ma commented on #3313
Hi @wyli ,

I think maybe we can just add an arg `affine` to `Affine` transform:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/spatial/array.py#L1432
If `affine` is not None, ignore the `rotate_params`, `shear_params`, `translate_params`, `scale_params` args.
What do you think?

Thanks.

[2021-11-11 11:07] wyli commented on #3313
I don't know what's the benefit here, there's not much benefit compared with "affine.resampler(img, affine.affinegrid(affine)[0])" unless we have additional caching capability

[2021-11-11 11:18] wyli commented on #1753
Mostly addressed by https://github.com/Project-MONAI/MONAI/issues/2231

[2021-11-11 11:18] #1753 closed

[2021-11-11 11:20] Nic-Ma commented on #3313
Hi @wyli ,

I think maybe @Spenhouet 's request is to set a fixed `affine` matrix in the transform chain, so adding an arg is easier to use?

Thanks.

[2021-11-11 12:28] Spenhouet commented on #3313
Yes, I also do not see the harm of adding this parameter. @wyli or what is your worry?

It would also enable to easily perform the inverse operation in the chain.

We have a transform which currently contains these lines:

[code]

Sure, we could also do this:

[code]

But compared to simply adding the additional parameter, I don't think this is a great way to solve this.

[2021-11-11 12:36] ChristianEschen commented on #2948
I think this issue is not solved, or maybe it has been more relevant in monai 0.7.
I need to drop at least all these keys in order to start at training session.

![image](https://user-images.githubusercontent.com/19329210/141299122-2269fc6b-2899-4037-9fa5-4abcdf8a26ee.png)

[2021-11-11 13:00] Nic-Ma commented on #2948
Hi @ChristianEschen ,

I think we already fixed it in MONAI v0.7, could you please help try it?

Thanks in advance.

[2021-11-11 14:03] #3307 closed

[2021-11-11 14:13] architraj29 opened #3315 "Pickling Error: Can't pickle <function SpatialCropForegroundd.<lambda> on monai.apps.deepgrow.transforms"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DeepGrow Tutorial](https://github.com/Project-MONAI/tutorials/tree/master/deepgrow/ignite)
2. Install  `monai==0.7.0` & `monai dev branch`
3. Run commands `python train_3d.py`

**Expected behavior**
The problem is similar to [Issue: Unable to Train Model in PyTorch Subprocess #2122](https://github.com/Project

[2021-11-11 14:15] Nic-Ma commented on #3315
Hi @architraj29 ,

Thanks for your bug feedback, good finding!
I will try to update it ASAP.
CC @SachidanandAlle .

Thanks.

[2021-11-11 14:41] wyli commented on #3313
We don't normally compose the array transforms. also, if we follow this pattern we'll build complicated transforms with many input arguments and if-else branches, then we lose the readability.

[2021-11-11 14:52] Spenhouet opened #3316 "RandAffined does not work as expected"
**Describe the bug**

Given the following image and label:
![image](https://user-images.githubusercontent.com/7819068/141314133-b37f21c1-48eb-413c-bba4-21c4e774f745.png)

When applying `RandAffined`, the image and labels no longer match:

![image](https://user-images.githubusercontent.com/7819068/141314287-5711ee04-cb1e-4cd7-9c55-451fcd0528b5.png)

**To Reproduce**

Steps to reproduce the behavior

[2021-11-11 14:58] Spenhouet commented on #3313
@wyli Maybe I misunderstood. We are not using the method to apply a static Affine in the pipeline.
We are in fact using it like mentioned above.

I get where you are coming from, but I wonder if this is the right case to focus on this.
The if-else branches already exist. The suggestion simply exposes the affine parameter to the Affine transform to not need to implement it like you suggested.

I do

[2021-11-11 15:22] Spenhouet opened #3317 "Rand3DElasticd does not work as expected"
**Describe the bug**

Given the following image and label:
![image](https://user-images.githubusercontent.com/7819068/141314133-b37f21c1-48eb-413c-bba4-21c4e774f745.png)

When applying `Rand3DElasticd`, the image and labels no longer match:

![image](https://user-images.githubusercontent.com/7819068/141323150-a7158815-719b-4d5c-b4b1-89efb5e22c8b.png)

**To Reproduce**

Steps to reproduce the behav

[2021-11-11 15:53] wyli commented on #3316
I couldn't replicate the issue locally with a macbook and visualise with itk-snap.
<img width="776" alt="Screenshot 2021-11-11 at 15 51 27" src="https://user-images.githubusercontent.com/831580/141327964-e01303f6-91a0-43d1-808a-4e0cc6599118.png">

could you help provide more info?

[2021-11-11 15:55] Spenhouet commented on #3316
@wyli You did not use the data provided by me. Could you try it with that? It is part of the reproduction.

[2021-11-11 15:58] wyli commented on #3316
I downloaded and unzipped the file, there are two files, `t1.nii.gz` and `labels.nii.gz`. itk-snap refuses to display
<img width="398" alt="Screenshot 2021-11-11 at 15 58 35" src="https://user-images.githubusercontent.com/831580/141328988-a1856c6e-2dce-4071-930e-00eb5e071bc7.png">
the labels.nii.gz as segmentations for t1.nii.gz

[2021-11-11 16:03] Spenhouet commented on #3316
I'm not a itk-snap user but if there is a problem in itk-snap probably good to report it to their project. Not really the issue I'm reporting here though.

Try using MRIcroGL or Slicer. Both work fine.

[2021-11-11 16:03] #3316 closed

[2021-11-11 16:04] wyli commented on #3317
probably duplicate of https://github.com/Project-MONAI/MONAI/discussions/3319 I'm converting it to discussions

[2021-11-11 16:04] #3317 closed

[2021-11-11 17:51] wyli commented on #3315
Your patch looks good @architraj29, in case you are interested in submitting a pull request (https://github.com/Project-MONAI/MONAI/blob/dev/CONTRIBUTING.md#submitting-pull-requests), we are also happy to help merge it...

[2021-11-11 18:26] architraj29 commented on #3315
Thanks @wyli @Nic-Ma, I have created a pull request [3321](https://github.com/Project-MONAI/MONAI/pull/3321 )

[2021-11-11 20:35] myron opened #3322 "LoadImageD performance"
@drbeh @Nic-Ma
Can I ask, why is LoadImageD with WSIReader is slower than WSIReader directly (both use tiffile backend)
https://github.com/Project-MONAI/MONAI/issues/3251

[code]

wsi time 0.02141376216002185 transform_time time 0.026847357701773596

which is 20% slower, and my overall code runs 10% slower

[2021-11-11 21:08] drbeh commented on #3322
Hi @myron,
That's interesting. The only thing that I see is that`LoadImage` performs additional data type change:
https://github.com/Project-MONAI/MONAI/blob/fb66ba0625c3a64ba7cdba9811a9997b336e3702/monai/transforms/io/array.py#L215

which should cause that much of overhead since in this scenario data is already in `unint8` format.

@Nic-Ma are you aware of any overhead that `LoadImage` may cause?

[2021-11-11 22:48] #3315 closed

[2021-11-11 23:30] GreySeaWolf opened #3323 "DICOM Series Management"
**Is your feature request related to a problem? Please describe.**
This is needed in order to coordinate and streamline image data management between MONAI Core and MONAI Deploy

**Describe the solution you'd like**
We need a package that we can: 1) Use to sort out and select which series can be used during training, inference, and re-training. 2) Guide and manage the series selection process with

[2021-11-11 23:44] ericspod commented on #3294
CUDA Python is a much lower level library than CuPy or Numba and it's positioning itself as a replacement for the CUDA backends to these two. That makes sense to reduce the amount of duplicate code and functionality. Unless we need some specific functionality from that low level we probably don't want to use CUDA Python since it's difficult and cumbersome out of necessity of being direct bindings

[2021-11-12 04:14] Nic-Ma commented on #3322
Hi @myron @drbeh ,

Thanks for the interesting feedback.
Could you please help test again with `image = wsi_reader.get_data(img_obj)[0].astype(np.uint8)`?

Thanks in advance.

[2021-11-12 04:50] CPBridge commented on #3323
The MONAI deploy app SDK working group is discussing the implementation of these rules in [DICOMSeriesSelectorOperator](https://github.com/Project-MONAI/monai-deploy-app-sdk/blob/main/monai/deploy/operators/dicom_series_selector_operator.py) class, which is currently a skeleton. However a few observations mean that I believe that this is not the best place for this functionality to live ultimately

[2021-11-12 06:25] #3314 closed

[2021-11-12 07:28] #3313 closed

[2021-11-12 07:40] Nic-Ma commented on #3292
Hi @Spenhouet ,

I submitted PR https://github.com/Project-MONAI/MONAI/pull/3325 to support no keys case.

Thanks.

[2021-11-12 08:01] Spenhouet commented on #3292
Hi @Nic-Ma,

looks good to me! Thanks you!

[2021-11-12 08:52] myron commented on #3322
[code]
result
wsi time 0.022537204954359267 wsi time2 0.028219649285981148 wsi time3 0.022044388934819387 transform_time time 0.027675144600145744

summary:
adding .astype(np.uint8) indeed makes it slower even if data is already np.uint8
we can solve it by checking for the type first
[code]
this runs fast. I suggest we make a PR for it, we can compare if dtype matches the provided type, and if the

[2021-11-12 09:01] Nic-Ma commented on #3322
Hi @myron ,

Thanks for your interesting experiments.
Let me try to investigate deeper soon.

Thanks.

[2021-11-12 09:31] #3296 closed

[2021-11-12 10:44] wyli commented on #3283
this is still an issue:
[code]

[2021-11-12 11:18] Nic-Ma commented on #3322
Mark: I will try to check all the transforms for this converting issue next week.

Thanks.

[2021-11-12 13:48] ericspod commented on #3294
@atbenmurray says that "we should choose something that doesn't add any burden on the user". This would require that the absense of CuPy would should be handled internally, so we would need a mechanism to detect this and convert tensors to Numpy and use Numpy calls instead, then possibly convert back. If CuPy is present then we can freely convert to CuPy array from tensor and do the operation.

[2021-11-12 13:55] cgohlke commented on #3322
[`numpy.ndarray.astype`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.astype.html) makes a copy by default. Try the `copy=False` parameter.

[2021-11-12 17:27] #3284 closed

[2021-11-12 18:03] masadcv opened #3328 "Heatmap generation transforms"
**Is your feature request related to a problem? Please describe.**
Heatmap regression is used to address a number of regression problems. In these approaches, the targets are usually converted into heatmaps, which are directly learned using a CNN.

**Describe the solution you'd like**
Currently, MONAI provides a number of transforms to process/pre-process input images, however a transform for gene

[2021-11-12 18:07] myron commented on #3322
how interesting. I wasn't aware of that

@Nic-Ma @wyli  I think we should use astype(copy=False) everywhere in the Monai codebase, I see no downsides only an advantage. Especially in all the loading/augmentation transforms. We'll get performance improvements, and and less memory peak pressure

[2021-11-12 20:10] industArk opened #3329 "download_and_extract to handle Path objects and downloaded file auto naming"
I rather work with pathlib and Path objects than with raw string paths. Today I stumbled upon two problems trying to use `download_and_extract()` from the apps module.

1. `filepath` and `output_dir` parameters don't get Path objects and it generates:

Wrapping them by str() helps to avoid the error.

As it is shown in the docs to use string, I think it would be good to have wider possibilities wi

[2021-11-12 20:15] wyli commented on #3329
transferring this issue to the core codebase, should review all the path-related string usages

[2021-11-12 21:58] Nic-Ma commented on #3322
Hi @myron ,

Thanks for your suggestion, I will try to make it clear next week, also for Tensor data.

Thanks.

[2021-11-14 03:41] finalelement commented on #3076
This has been contributed by the following [PR](https://github.com/Project-MONAI/MONAI/pull/3286)

[2021-11-14 03:41] #3076 closed

[2021-11-14 20:00] Jingnan-Jia opened #3333 "Please add another interpolation mode for NiftiSaver to avoid ziazag pattern caused by 'nearest'"
**Is your feature request related to a problem? Please describe.**
In the current NiftiSaver, there are only two interpolation modes:  "nereast" and "bilinear". It is not enough. Detailed explanication as follows.

If I have an lung CT image with shape (1024, 512, 512). To do lung or lobe segmentation, I need to down sample the original CT image to a smaller size (256, 256, 256). So the resample f

[2021-11-14 22:38] wyli commented on #3333
related to https://github.com/Project-MONAI/MONAI/issues/3178

[2021-11-14 23:33] wyli opened #3335 "unit test error from `python -m tests.clang_format_utils`"
**Describe the bug**
error from `python -m tests.clang_format_utils`
[code]

[2021-11-14 23:37] Nic-Ma commented on #3335
Thanks for your report, I also saw this error in PR: https://github.com/Project-MONAI/MONAI/pull/3325/.

[2021-11-14 23:48] Nic-Ma commented on #3333
Hi @Jingnan-Jia ,

Thanks for your interesting experiments and detailed feedback.
If I understand correctly, is it possible to execute your operations with several transforms with interpolation modes?
For example: `Resized`, `AsDiscreted`, `SaveImaged`, etc.

Thanks.

[2021-11-14 23:51] Nic-Ma commented on #3328
Hi @masadcv ,

Thanks for your feature request, sounds interesting.
Would you like to contribute a PR for this transform directly?

Thanks in advance.

[2021-11-14 23:57] Nic-Ma opened #3336 "Add backends and image visualization for transform `TileOnGrid`"
**Is your feature request related to a problem? Please describe.**
Thanks for @myron 's contribution for the new transform `TileOnGrid` in PR: https://github.com/Project-MONAI/MONAI/pull/3237.
I will try to add the visualization image and backend related logic when the PR merged.

Thanks.

[2021-11-15 04:06] Nic-Ma commented on #3322
Hi @myron ,

Could you please help try again with `np.asarray(data, dtype=mp.uint8)`?
I think this function can automatically avoid copying if `data` is already in `uint8`.
If works fine, I will try to check all the `astype` in codebase and optimize in PR #3338 for the cases that may have the same dtype for input and output.

Thanks in advance.

[2021-11-15 07:25] Spenhouet opened #3339 "RandAffined does not work for differently sized images"
**Describe the bug**

When the images in a pipeline entry have different sizes, then the RandAffined does not work properly.
The resulting images no longer match.

**To Reproduce**

Steps to reproduce the behavior:
1. Load these files: [example_files.zip](https://github.com/Project-MONAI/MONAI/files/7521159/example_files.zip). You can view them with Slicer or MRIcroGL (itk-snap seems to have a bug

[2021-11-15 07:53] Nic-Ma commented on #3339
Hi @Spenhouet ,

Thanks for your feedback!
I think that because our current implementation shares both `affine` and `spatial_size` for all the keys.
Let me try to improve it to only share the same `affine` between kyes.

Thanks.

[2021-11-15 10:10] wyli commented on #3339
Hi @Spenhouet, Without proper handling of the metadata, it doesn't make sense to compare the different shapes of the raw data arrays because they can be in different coordinate systems.

This goes back to the feature request https://github.com/Project-MONAI/MONAI/issues/2424. And the core team is fully aware of the ticket. It is a major feature and it takes time to analyse different use cases and

[2021-11-15 10:24] Spenhouet commented on #3339
@wyli @Nic-Ma @ericspod @rijobro The project management feels rather arbitrary to me. I had the same with https://github.com/Project-MONAI/MONAI/issues/2721. There I suggested a multiple of transforms to be implemented. There was some disagreement on if this should be tracked in a single issue or in individual issues. This disagreement does not seem to have been resolved. Instead the issue was sil

[2021-11-15 10:27] rijobro commented on #3182
Possibly related -- https://github.com/Project-MONAI/MONAI/discussions/3319? If so, it seems there are multiple places in MONAI transforms in which inputting different sized images/labels will cause problems. As much as I like the suggested code change in this issue, I'm not sure we're planning on committing to the large undertaking of updating all MONAI transforms to support different sized image

[2021-11-15 10:38] Spenhouet commented on #3182
Hi @rijobro,

I don't think our use case is clear. For our data we need this. There is no way around it. Prior resampling is not possible since it would not fit the ram. The individual images are from different areas of the image and therefore do mostly not overlap.

I would not see this as this large undertaking. Why not just fix the ones that are reported. This could also be a community driven i

[2021-11-15 13:18] #3335 closed

[2021-11-15 14:21] Nic-Ma commented on #3339
Hi @Spenhouet ,

Thanks very much for your great feedback and suggestions.
We discussed these medical-image processing related feature requests last week, the main missing part in current codebase is how to maintain the metadata during transforms.
It would be a very big task for us to update metadata in every transform, but we already started to investigate the details.

Thanks.

[2021-11-15 14:51] tomvars opened #3343 "Docs on https://docs.monai.io/ default to "latest" instead of "stable""
Can be frustrating for users to find API differences between the default version of docs and the latest stable release, e.g the default version of docs suggest the`RandCropByPosNegLabeld` transform accepts an `allow_smaller` argument but this is not implemented in `v0.7.0`. Might be better to default the docs version to "stable".

[2021-11-15 16:18] myron commented on #3322
I tried it and  np.asarray(data, dtype=np.uint8) is Fast (as fast as not  attempting  the data conversion)
but why do you think it's better than astype(copy=False) ?

[2021-11-15 16:49] wyli commented on #3343
thanks @tomvars, the default version is updated.

[2021-11-15 16:49] #3343 closed

[2021-11-15 23:17] Nic-Ma commented on #3322
Hi @myron ,

Sorry maybe I didn't make it clear.
1. I checked our codebase and found that many places use `np.asarray(XXXX).astype(XXX)`, I will change this code to `np.asarray(XXX, dtype=XXX)`.
2. And also change the places that may have same dtype for input / output to `XXX.astype(XXX, copy=False)` as you suggested.
3. For the places that obviously change the dtype, I will not update.

Thanks.

[2021-11-16 00:55] myron commented on #3238
merged https://github.com/Project-MONAI/MONAI/pull/3237

[2021-11-16 00:55] #3238 closed

[2021-11-16 00:56] myron commented on #3322
ok, nice!

[2021-11-16 05:20] #3163 closed

[2021-11-16 12:34] #3329 closed

[2021-11-16 13:53] wyli opened #3347 "notebook tests error: ./2d_registration/registration_mednist.ipynb"
**Describe the bug**

[code]

introduced since https://github.com/Project-MONAI/MONAI/pull/3332

[2021-11-16 17:55] #3292 closed

[2021-11-16 20:01] rfloca commented on #3323
I second @CPBridge point of view. We have the same experiences (e.g. fast growing rule sets with a lot of "entropy"; need to have the selection rules applied in different places) in our developments/projects.

That's why we are very carefull and try to have a high seperation of concerns here. One has at least:
1. Identifying which purpose/"role" a data item has in a certain workflow (and how to di

[2021-11-17 04:35] Nic-Ma commented on #3336
Hi @rijobro @wyli ,

I have a quick question that: currently, all the transforms under `monai.apps.deepgrow` and `monai.apps.pathology` don't have `backend`, `inverse` and `example images`, I am not sure should we try to enhance them or just leave it for now?
What do you guys think?

Thanks.

[2021-11-17 08:12] #3347 closed

[2021-11-17 10:44] wyli opened #3350 "nightly build: test_milmodel"
**Describe the bug**
[code]

[code]

[2021-11-17 10:46] Nic-Ma commented on #3350
Hi @wyli ,

Seems the TorchScript APIs of PyTorch 1.5.1 can't support it, let me try to update the implementation for it ASAP.

Thanks.

[2021-11-17 10:54] Nic-Ma commented on #3350
As discussed offline, @wyli will drop 1.5.1 support directly.
Please also remove other customized logic in the codecase for 1.5.1.

Thanks in advance.

[2021-11-17 11:16] wyli opened #3351 "releasing v0.8.0 -- checklist"
Tentative date: 25/Nov.

Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.
- [x] remove any promise

[2021-11-17 15:25] wyli commented on #3336
I feel this is not a requirement for v0.8, perhaps we can postpone it.

[2021-11-17 16:20] AnnaKlemen commented on #464
@ericspod Is it possible to find the see the settings used in the references paper (Left-Ventricle Quantification Using Residual U-Net) e.g. optimizer, learning rate, weight decay, learning rate scheduler ect. ? :)
I have tried with the setting from the "Road Extraction by Deep Residual U-Net"-paper, but it really does not work on my problem. (SGD, lr start: 0.001, reduced by 0.1 every 20 epochs)

[2021-11-17 21:19] mattwarkentin opened #3356 "MONAI loading a NRRD file into wrong orientation"
**Describe the bug**
When I load a NRRD file, the array is not in the right orientation according to the affine. Here is the text header of the NRRD file.
[code]

**To Reproduce**
[code]

**Expected behavior**
The array to be the shape of (512, 512, 321) to match the affine.

**Environment**
================================
Printing MONAI config...
================================
MONAI version: 0

[2021-11-17 21:22] #3356 closed

[2021-11-17 21:22] mattwarkentin commented on #3356
Looks like I accidentally downgraded to an old version of MONAI, fixed with upgrade to 0.7.0.

[2021-11-17 23:22] Nic-Ma commented on #3336
Yes, sounds good to me.
And @drbeh and @SachidanandAlle could you please help on Pathology and Deepgrow parts as you are experts on that?

Thanks in advance.

[2021-11-18 00:11] drbeh commented on #3336
I think having `numpy` backend and `inverse` is not necessary for pathology transforms. I don't see any added value. On the other hand, one of pathology transforms does not have `torch` backend which might be good to be added only if we want to go for a uniform torch Tensor backend.

[2021-11-18 08:43] yiheng-wang-nv opened #3357 "Missing `wrap_sequence` in `ToNumpy` and `EnsureType`"
These two transforms (also for their dict versions) miss the parameter `wrap_sequence`.

[2021-11-18 08:44] Nic-Ma commented on #3357
Hi @yiheng-wang-nv ,

Thanks for your finding, let me add it ASAP.

[2021-11-18 14:09] SachidanandAlle commented on #3336
@diazandr3s @finalelement
can you check if we can support invert on deepgrow/deepedit transforms..

[2021-11-18 14:40] drbeh opened #3359 "`TileOnGrid` test case for `step`"
The unit tests for `TileOnGrid` transform does not cover different values for `step` parameter, so any bug in its implementation cannot be captured.

[2021-11-18 14:47] diazandr3s commented on #3336
Thanks @SachidanandAlle for pinging me.

To be honest, I don't see the added value of having the inverse of the DeepGrow/DeepEdit transforms. Most of them only add info to the dictionary (i.e. slices IDs (sids), guidance), they don't modify the label or the image.
There is only one that adds channels to the input image: **AddGuidanceSignald** But again, not sure if this has an application.

Please

[2021-11-18 14:57] #3322 closed

[2021-11-18 18:05] finalelement commented on #2708
The tutorial has been completed, please check it out [here](https://github.com/Project-MONAI/tutorials/tree/master/self_supervised_pretraining)

There maybe minor edits in readme, nothing that will impact the overall results for it.

[2021-11-18 18:05] #2708 closed

[2021-11-18 20:49] myron commented on #3359
please take a look https://github.com/Project-MONAI/MONAI/pull/3361

[2021-11-19 00:56] ericspod commented on #464
I used Adam with a learning rate of 0.001 with default values otherwise. I didn't do learning rate scheduling in this paper.

[2021-11-19 02:46] #3357 closed

[2021-11-19 07:26] skrishnanv commented on #389
Hi,
Unfortunately the link above is broken.
i think it is here now
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/multi_gpu_test.ipynb

[2021-11-19 10:48] Jingnan-Jia commented on #3333
Hi @wyli  and @Nic-Ma , Thanks for your reply.

I have tried some experiments and found that my expectated feature is almost the same with [#3178 ].

The only difference is that the implementation of [#3178 ] is using Gaussian filger, while my implementation is using Mean filter.

I have tried his Gassian filter but it did not work. Maybe because I did not set the correct  sigma value.

[2021-11-19 10:49] Jingnan-Jia commented on #3333
![微信图片_20211119114856](https://user-images.githubusercontent.com/34941987/142610546-66b14713-92ce-46a2-84e3-f50d5cddbdf4.png)

[2021-11-19 10:52] Jingnan-Jia commented on #3333
The left figure is the original mask. The middle figure is the results after down-sampling and up-sampling. Obvious ziazzag pattern appeared at the edge. The right figgure is the result after I apply my smooth algorithm to the middle figure. We can see the significant improvement.

[2021-11-19 10:53] Jingnan-Jia commented on #3333
However, now I am not sure if we should add this feature to MONAI. Because it is not easy to select a good smooth super parameter or threshold for different masks with different resolutions.

[2021-11-19 11:01] Jingnan-Jia commented on #3178
@Spenhouet Hi Spenhouet, I am very interested in this smooth method. I also implementated a [similar method](https://github.com/Project-MONAI/MONAI/issues/3333).

However I found that in my task, I can not get good results using Gaussian filger (I tried different sigma values from 1 to 10). So I applied Mean filter and then got very good results. My threshold is still 0.4.

I do not know how you c

[2021-11-19 11:11] Spenhouet commented on #3178
@Jingnan-Jia I just finetuned the parameters for our data (trial and error).
What is the issue of "not good results"?

Could you share your transform code?

[2021-11-19 11:34] AnnaKlemen commented on #464
Thanks,  that is also what I have most luck with using :D

[2021-11-19 12:19] #3359 closed

[2021-11-19 12:41] Nic-Ma opened #3365 "Update highlights for v0.8 release"
**Is your feature request related to a problem? Please describe.**
Need to update the highlight features page for v0.8 release.

[2021-11-19 12:42] Nic-Ma opened #3366 "Add `What's new in v0.8` page"
**Is your feature request related to a problem? Please describe.**
Need to prepare the `What's new in v0.8` page for v0.8 release.

[2021-11-19 12:43] Nic-Ma commented on #3350
As we dropped 1.5.1 support, close the issue.

Thanks.

[2021-11-19 12:43] #3350 closed

[2021-11-19 12:48] Nic-Ma commented on #3336
Thanks for the discussion, I see your points.
@drbeh , do you think necessary to add `NUMPY` backend to the Patholopy transforms? Then we can combine these transforms with other MONAI transforms even other transforms are handling Tensor data.
If yes, I can try to add the `NUMPY` backend ASAP following the same pattern of other transforms.

Thanks in advance.

[2021-11-19 14:45] Nic-Ma opened #3368 "Add `frame_dim` to the matshow3d utility"
**Is your feature request related to a problem? Please describe.**
Currently, for higher dimensional data (like `BCHWD`), `matshow3d` will expand to a list of frame images on the flattened `BCH` dim. Would be useful to add a `frame_dim` arg to support any dim.

[2021-11-19 14:51] drbeh commented on #3336
Thanks @Nic-Ma! Right now, there is only one pathology transform that does not support numpy (SplitOnGrid). I don't think that it is necessary to add it but if you feel strongly about it, I can add the numpy backend. However, it cannot be directly translated to numpy since `unfold` does not exist in numpy.

[2021-11-19 14:59] drbeh commented on #2929
Do we have any decision here?
Is there any technical issue that prevents us from supporting batch transform for RandZoom?
Thanks

[2021-11-19 16:19] yiheng-wang-nv opened #3370 "`decollate_batch` return an empty list"
`decollate_batch` will return an empty list, if input is a dict, and one of its value is an empty list.
For example:
[code]
`decollate_batch(data)` will return `[]`

This case comes from a classification task, where I used `SupervisedTrainer`, and labels are achieved from `ToNumpyd`. The `data` in the above example belongs to `label_transforms` which is in `engine.state.batch`

[2021-11-19 16:23] mattwarkentin opened #3371 "Should AsDiscrete be refactored in favour of clarity and generality?"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/3346

<div type='discussions-op-text'>

<sup>Originally posted by **mattwarkentin** November 15, 2021</sup>
Hi,

For the `AsDiscrete`/`AsDiscreted` transform - I find the `logit_thresh` argument to be confusing. I have also found it confusing to have separate arguments for whether something happens (`threshold_values`) and how it

[2021-11-19 16:24] mattwarkentin commented on #3371
Closed with #3352

[2021-11-19 16:24] #3371 closed

[2021-11-19 16:32] yiheng-wang-nv commented on #3370
For classification tasks, labels may only have one dimension, thus in [this line](https://github.com/Project-MONAI/MONAI/blob/9048166225ab272750815af440060785e6854e4a/monai/transforms/inverse.py#L64), `info[TraceKeys.ORIG_SIZE]` will be `()`, which can lead to the issue above mentioned.

For example:
[code]
will get `()`

[2021-11-19 22:18] wyli commented on #3370
#3373 is one way to address this:
[code]
is this good enough?

[2021-11-20 05:19] #3368 closed

[2021-11-20 05:48] yiheng-wang-nv commented on #3370
Thanks @wyli , I think it solves the issue.

In addition, should this place be modified too? For input that only has one dimension.
https://github.com/Project-MONAI/MONAI/blob/9048166225ab272750815af440060785e6854e4a/monai/transforms/inverse.py#L64

[2021-11-20 15:15] wyli commented on #3370
I feel it makes sense to have [] spatial shape for non-spatial data. or we can use `TraceKey.NONE` but I don't see any use cases that require this value.

[2021-11-21 15:26] fluentgcc opened #3375 "Transforms support points and bounding boxes."
**Is your feature request related to a problem? Please describe.**
There is a lot of  other task except segmentation of 3d medical image,  such as keypoints regression, bbox detection, which needs to transform points and box along with image spacial transformations.  Also, when doing segmentation task, sometimes we have some extra infomation to spacial crop and sampling in order to balance samples

[2021-11-21 17:18] drbeh opened #3376 "Add `numpy` support to `SplitOnGrid`"
**Is your feature request related to a problem? Please describe.**
`SplitOnGrid` transform for digital pathology only supports `torch.Tensor` backend, it would be nice to have the `numpy` backend implementation as well.

Discussed at https://github.com/Project-MONAI/MONAI/issues/3336

cc @Nic-Ma

[2021-11-22 04:05] drbeh opened #3379 "Update TileOnGrid backend"
**Is your feature request related to a problem? Please describe.**
Update `TileOnGrid` to support input/output type of `torch.Tensor` and `numpy` while its backend is `numpy` only.

[2021-11-22 05:31] Nic-Ma commented on #2721
Thanks for the suggestion about visualization ideas.
I tried to use `itkwidget` in jupyter notebook:
`view(image=data["image"], label=data["label"])`
No image or chart shows, just got a log print:
[code]
@ericspod is this the same issue you mentioned before?

Thanks.

[2021-11-22 08:47] #3370 closed

[2021-11-22 14:38] aylward commented on #2721
Hi,

It isn't working in Google CoLab, but should be working otherwise.  Can you
please show the type of the data["image"] and data["label"] variables and
their intensity range?

Thanks!
s

On Mon, Nov 22, 2021 at 12:31 AM Nic Ma ***@***.***> wrote:

--
Stephen R. Aylward, Ph.D.
Senior Director of Strategic Initiatives
---
Kitware: *Delivering innovative, open source, scientific software.*

[2021-11-22 15:18] Nic-Ma commented on #2721
Hi @aylward ，

They are PyTorch Tensors and the intensity range is (0.0, 1.0) in my case.
Maybe someone from ITK team can help update the ITKWidget tutorial first as a reference?
https://github.com/KitwareMedical/MONAI-GettingStarted/blob/main/MONAI-ITKWidgets.ipynb

Thanks in advance.

[2021-11-22 16:37] #3376 closed

[2021-11-22 18:07] aylward commented on #2721
Hi,

It looks like you're running this in Jupyter Lab 3, CoLab, Sagemaker, or something other than Jupyter Notebooks, correct?

Jupyter Lab 2 works, but compatibility broke in Jupyter Lab 3.   Also, pyWidgets in general do not work without modification in CoLab and Sagemaker - Google and Amazon created their own, incompatible kernel communication protocols.  We hope to have updated itkWidgets (whi

[2021-11-22 18:26] ericspod commented on #2721
I've seen that behaviour in places that aren't compatible as @aylward discussed, I think also in places where it should work but where I'm missing the necessary packages.

[2021-11-22 22:40] Nic-Ma commented on #2721
Hi @aylward ,

Thanks for your detailed sharing.
I am using jupyter notebook instead of jupyter lab, I will try again later when your tutorial notebook is ready.

Thanks for your support!

[2021-11-23 13:35] #3379 closed

[2021-11-23 14:58] yiheng-wang-nv opened #3387 "`AsDiscreted` bug when `threshold=0.0`"
Reproduce the bug:

[code]

<img width="1089" alt="Screen Shot 2021-11-23 at 10 56 39 PM" src="https://user-images.githubusercontent.com/68361391/143047946-07624927-dda0-4899-bfe6-36caec03d26a.png">

[2021-11-23 15:05] Nic-Ma commented on #3387
Hi @yiheng-wang-nv ,

Thanks for your bug report, let me fix it now.

[2021-11-23 21:19] wyli commented on #3375
This is a good point, we'll implement relevant ideas soon, pls see also https://github.com/Project-MONAI/MONAI/pull/324 https://github.com/Project-MONAI/MONAI/discussions/3354, cc@Can-Zhao @Project-MONAI/core-reviewers

[2021-11-24 05:59] yiheng-wang-nv commented on #3387
I think the PR in #3388 does not solve the issue, and a `threshold=0.0` test case does not added in the PR.
As you can see:

![Screen Shot 2021-11-24 at 1 58 22 PM](https://user-images.githubusercontent.com/68361391/143183227-5ed3e4f2-842c-40d0-b95d-b12071f5b962.png)

[2021-11-24 06:34] yiheng-wang-nv commented on #3387
I think I've found the error place:
https://github.com/Project-MONAI/MONAI/blob/839f7ef0536129df806bc2f9317bc9e65e3eee70/monai/transforms/post/array.py#L246

@Nic-Ma , this line is wrong since `0.0 or None` is None.
In addition, parameters in `__call__` of `AsDiscrete` are not covered in `test_as_discrete.py`, thus the test function does not find this issue, I think we may need more test cases.

[2021-11-24 06:34] Nic-Ma commented on #3387
Hi @yiheng-wang-nv ,

Thanks for your test, let me have a try and investigate it ASAP.

[2021-11-24 07:06] Nic-Ma commented on #3387
Hi @yiheng-wang-nv ,

I submitted PR #3393 to fix it and added more unit tests to cover the threshold=0.0 case.
The `call()` function of array transform is already covered by the dict transform, because:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/post/dictionary.py#L204
Could you please help review it?

Thanks in advance.

[2021-11-24 09:53] Nic-Ma commented on #2721
Hi @aylward and @ericspod ,

Thanks for your help and examples, I submitted PR to add `itkwidgets` example in the MONAI visualization notebook:
https://github.com/Project-MONAI/tutorials/pull/454

Thanks.

[2021-11-24 10:57] #3387 closed

[2021-11-24 17:02] #3106 closed

[2021-11-25 02:55] #3366 closed

[2021-11-25 03:35] Nic-Ma opened #3397 "`threshold_values=True` doesn't raise warning in `AsDiscrete`"
**Is your feature request related to a problem? Please describe.**
Currently, if passing `threshold_values` to `AsDiscrete` transform, it should replace it to `threshold`, but seems it doesn't work as expected and no warning print.
[code]

[2021-11-25 07:11] Nic-Ma commented on #3397
The issue is becaue the tag of my local repo is too old, close the ticket as no issue for v0.8.

Thanks.

[2021-11-25 07:11] #3397 closed

[2021-11-25 10:24] #3365 closed

[2021-11-25 10:32] Nic-Ma opened #3398 "Support 3D RGB image in `matshow3d`"
**Is your feature request related to a problem? Please describe.**
As @rijobro requested in the TensorBoard ticket, we should also add `RGB` image support in the `matshow3d` API.

[2021-11-25 11:09] wyli commented on #2781
addressed by https://github.com/Project-MONAI/tutorials/pull/431

[2021-11-25 11:09] #2781 closed

[2021-11-25 11:15] wyli commented on #229
Github is providing some features for this https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes

[2021-11-25 16:30] yingdiLee opened #3402 "OverflowError: serializing a string larger than 4 GiB requires pickle protocol 4 or higher"
Thanks for your good work! MONAI helps me a lot.
When I use PersistentDataset, an error occurs. It seems like error comes from pickle:

Traceback (most recent call last):
  File "/data/zyd/beifen_xinsuoqu_/MedSeg/MedSeg/train/Task900TrainerDP.py", line 296, in <module>
    trainer.train(max_epochs=max_epochs, device=device)
  File "/data/zyd/beifen_xinsuoqu_/MedSeg/MedSeg/train/Task900TrainerDP.py

[2021-11-25 17:14] wyli opened #3404 "inconsistent output types for `correct_crop_centers`"
**Describe the bug**
[code]

the data types of the output of `correct_crop_centers` shouldn't depend on data.

(thanks @dongyang0122!)

[2021-11-25 18:16] #3404 closed

[2021-11-25 22:05] Nic-Ma commented on #3402
Hi @yingdiLee ,

Thanks for your interest and feedback.
Could you please help share your test program and image data for further analysis?Hi @yingdiLee ,

Thanks for your interest and feedback.
Could you please help share your test program and image data for further analysis?
Seems like maybe it can work well if a image is bigger than 4GB? Or something related to your file system type.
I will inve

[2021-11-26 20:06] ericspod commented on #3294
One feature that is very useful is the ability to define CUDA kernels without having to do so directly in that language. Cupy provides mechanisms for do so with templates for element-wise, reduction, and raw kernels, but these require the user to provide CUDA code to fill in the template. The JIT facility can take decorated Python functions and convert these to CUDA code like Numba's CUDA library,

[2021-11-26 23:37] #3398 closed

[2021-11-28 23:14] drbeh opened #3411 ""WG: Pathology" label and category"
**Is your feature request related to a problem? Please describe.**
For MONAI Pathology Working Group "WG: Pathology", *label* or *category (for discussion)* has been created. It would be great if we can have those tags to organize the issues and discussions. Thanks

[2021-11-29 02:40] Nic-Ma commented on #3402
Hi @yingdiLee ,

With a big cache content, I can reproduce this issue locally now, it's not related to file system type.
Let me try to figure out a solution or make it clear in the document ASAP.
Thanks very much for your finding!

[2021-11-29 02:42] Nic-Ma commented on #3402
BTW, have you edited the issue description? I think the previous log is something related to:
[code]

Thanks.

[2021-11-29 09:57] wyli commented on #3411
thanks, the label list is now updated.

[2021-11-29 09:57] #3411 closed

[2021-11-29 12:33] patricio-astudillo opened #3414 "Make activation function a parameter of ResBlock"
The activation function of a ResBlock is currently hard coded. It would be nice if we could set it ourselves to a specific activation function.

https://github.com/Project-MONAI/MONAI/blob/73d9afa0e21ed190a8582f2ef087d3a98388bec6/monai/networks/blocks/segresnet_block.py#L69

[2021-11-29 12:45] dccastro opened #3415 "WSIReader with OpenSlide can load regions of incorrect size by default"
**Describe the bug**
When `size` is unspecified and using the OpenSlide backend, `WSIReader.get_data()` assumes by default that the size of the slide at a given magnification `level` is `2**level` times smaller than the full-resolution size (see [here](https://github.com/Project-MONAI/MONAI/blob/0.8.0/monai/data/image_reader.py#L771-L773)). However, the magnification factors are not necessarily co

[2021-11-29 12:59] Nic-Ma commented on #3414
Hi @yiheng-wang-nv ,

Could you please help take a look at this ticket?

Thanks in advance.

[2021-11-29 13:04] Nic-Ma commented on #3415
Hi @drbeh ,

Could you please help take a look at this ticket?

Thanks in advance.

[2021-11-29 13:26] patricio-astudillo commented on #3414
I can add it too if you'd like and make a pull request?

[2021-11-29 14:20] drbeh commented on #3411
Thank you, @wyli!

[2021-11-29 15:17] yiheng-wang-nv commented on #3414
Hi @patricio-astudillo , sure, it would be nice if you can submit a pull request for it

[2021-11-30 09:00] wyli commented on #3351
website update addressed by https://github.com/Project-MONAI/project-monai.github.io/pull/25, please file separate tickets for any issues/requests.

[2021-11-30 09:00] #3351 closed

[2021-11-30 13:02] ericspod commented on #3294
Converting between Cupy arrays and Pytorch tensors isn't free either, if you're trying to do something fast there is a small cost on the order of microseconds that is avoided if you keep operations in one or the other. This is totally reasonable but needs to be considered if mixing operations.

[2021-11-30 20:08] tao558 opened #3423 "GPU out of memory when using `SupervisedTrainer` in a loop"
**Describe the bug**
Constructing and running a `SupervisedTrainer` in a loop eventually leads to GPU out of memory. See below example

**To Reproduce**
[code]
Around the 4th iteration or so, I get `RuntimeError: CUDA out of memory`. If this doesn't happen for anyone trying out the example, try increasing the `NUM_IMAGES` variable or the number of iterations of the loop. I know that there are a fe

[2021-11-30 21:24] Mm24 commented on #3328
I would like to contribute on this specific topic, but I am unexperience contributing to monay, so It will take some time

[2021-11-30 21:34] masadcv commented on #3328
Hi @Mm24 ,
Take your time, this would be a great first feature to get started with MONAI.
Let me know if you need a hand with anything related to this, I may be able to help out.

You may find it useful to go over how transforms in MONAI work, e.g. going through this tutorial: https://github.com/Project-MONAI/tutorials/blob/master/modules/3d_image_transforms.ipynb and looking through source code f

[2021-11-30 23:00] Nic-Ma commented on #3328
Thanks @masadcv for your help and @Mm24 welcome your contribution!

[2021-12-01 02:31] Nic-Ma commented on #3423
Hi @tao558 ,

Thanks for your experiments and feedback.
Is it possible that some memory leaking issue in `segmentation_models_pytorch`?
Could you please help test again without any network computation?

Thanks in advance.

[2021-12-01 07:57] Nic-Ma commented on #3294
Add @drbeh for further discussion.

Thanks.

[2021-12-01 12:13] #3414 closed

[2021-12-01 16:41] tao558 commented on #3423
I don't think so. Replacing the trainer with the classic "pytorch training loop" doesn't give out of memory issues.

Meaning just comment out `trainer.run()`? No memory leak in that case

[2021-12-01 17:03] drbeh commented on #3294
Thanks @ericspod for your detailed experiments.

It looks like that mixing CuPy (or NumPy) with PyTorch within a transform is not a very good idea as they may cause some overheads for constantly going back and forth as you mentioned. However, this overhead should be negligible when it is happening once or twice in the entire pipeline (for each iteration) and even less significant when using batch

[2021-12-01 18:05] tao558 commented on #3423
Interestingly, setting `trainer.optimizer = None` at the end of the loop reduces the memory overhead substantially. Memory usage is still climbing but I'm past iteration 15 with no memory issue yet.

[2021-12-01 22:24] Nic-Ma commented on #3423
Hi @tao558 ,

I also don't understand why you created `optimizer`, `trainer` for 50 times and also `run()` for 50 times?

Thanks.

[2021-12-02 01:07] YuanTingHsieh opened #3429 "Enables more flexible writer signature in TensorBoardHandler"
**Is your feature request related to a problem? Please describe.**
I want to use the TensorBoardHandler but my custom writer would requires more context from engine.

The logic in this line https://github.com/Project-MONAI/MONAI/blob/dev/monai/handlers/tensorboard_handlers.py#L224
required writer to have this fixed signature.

I would like to implement a custom writer which needs information from

[2021-12-02 01:46] holgerroth opened #3430 "Allow feeding Pandas DataFrames directly to CSV datasets"
**Is your feature request related to a problem? Please describe.**
In some situations, the user has not access to the csv files but some already generated pandas objects only.

**Describe the solution you'd like**
In that case, it would be useful to create `CSVDataset` and `CSVIterableDataset` directly from the pandas DataFrames.

**Describe alternatives you've considered**
n/a

**Additional conte

[2021-12-02 01:48] Nic-Ma commented on #3430
Hi @holgerroth ,

Thanks for your feature request.
It makes sense to me, I will try to enhance the `CSVDataset` and `CSVIterableDataset` for it soon.

Thanks.

[2021-12-02 03:38] Nic-Ma commented on #3430
Hi @holgerroth ,

BTW, I think `CSVIterableDataset` is designed to partly load extremely big CSV file or streaming, if you already have the DataFrame in memory, I think no need to use this class, so I will not enhance it.
What do you think?

Thanks.

[2021-12-02 03:39] yiheng-wang-nv opened #3432 "ViT does not support torchscript"
~~class `PatchEmbeddingBlock` does not support torchscript, due to the module `einops.layers.torch.Rearrange` used.~~

Update (02.09.2022) After Einops v0.4.0 released, it supports torchscript now, but the current ViT implementation still cannot support torchscript directly, some changes are necessary, and the einops usage should be kept.

[2021-12-02 03:40] yiheng-wang-nv commented on #3432
see also #3428

[2021-12-02 09:20] #3415 closed

[2021-12-02 10:46] wyli opened #3434 "test_wsireader full tests errors"
**Describe the bug**
[code]

env:
[code]

[2021-12-02 10:47] wyli commented on #3434
caused by https://github.com/Project-MONAI/MONAI/pull/3417, could you please look into this? @drbeh

[2021-12-02 11:45] wyli opened #3435 "improve the flexibility of `monai.data.create_file_basename`"
**Is your feature request related to a problem? Please describe.**
`monai_data.create_file_basename` computes a new filename but at the same time enforces the corresponding folders exist on the current file system.

The utility should be improved to have an option to compute the filename only.

[2021-12-02 13:43] holgerroth commented on #3430
Good point. I still think that the current class only accepts a filename as input and tries to use [pd.read_csv()](https://github.com/Project-MONAI/MONAI/blob/3960a514a5f44a10aceab463e926a19bc0b8c79a/monai/data/iterable_dataset.py#L211) from disk. It might be useful if it can accept the streaming object directly as well.

[2021-12-02 15:55] drbeh commented on #3434
@wyli, I'll take a look at this but do you know how should I reproduce it?

Also do you know why we have not been able to see this in all the checks that we have done before merging?!

[2021-12-02 16:07] wyli commented on #3434
yes, we only run basic tests before merging so that we handle PRs quickly.. after merging the PRs we have more tests against various environments...

[2021-12-02 16:13] tao558 commented on #3423
This is all in the context of k-fold cross validation. So I need to make a new optimizer for each fold, a new trainer to run the training, and run the trainer for each fold. Moving the optimizer outside of the loop causes a memory leak, anyway.

[2021-12-02 16:16] wyli commented on #3434
the test script is roughly with these commands:
[code]
on a v100 GPU, within a docker `nvcr.io/nvidia/pytorch:20.03-py3`

please let me know if these couldn't replicate it

[2021-12-02 16:37] ahatamiz commented on #3432
Hi @yiheng-wang-nv

Maybe you look at this:
https://github.com/arogozhnikov/einops/blob/45e795f122840beec70f0e1970b1e37b5809a8e6/tests/test_layers.py#L188

torchscript works on Rearrange.

[2021-12-02 20:41] #3435 closed

[2021-12-02 22:01] #3434 closed

[2021-12-02 23:15] Nic-Ma commented on #3430
Hi @holgerroth ,

OK, it makes sense to accept streaming iterable objects here:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/iterable_dataset.py#L211

Thanks.

[2021-12-03 00:03] Nic-Ma commented on #3423
Interesting finding!
CC @ericspod @rijobro @wyli for visibility.

Thanks.

[2021-12-03 00:49] moshicaixi opened #3439 "Can I use this tool for 3D voxel?"
Can I use this tool for 3D voxel segmentation. I think 3D voxel is similar to 3D medical image in structure, is that right? Hoping for your reply and advice.

[2021-12-03 01:51] Nic-Ma commented on #3439
Hi @moshicaixi ,

Thanks for your interest here.
@ericspod @wyli @dongyang0122 Could you please help share more info here?

Thanks in advance.

[2021-12-03 06:15] #3429 closed

[2021-12-03 08:47] wyli commented on #3439
Yes, it should be feasible. I'm converting this to a discussion.

[2021-12-03 10:39] ericspod commented on #3294
@drbeh I think so, we should focus on Pytorch however my issue with some of the things I was working on was a fast way to resize images and map coordinates. Without an implementation of the latter in Pytorch the best one is in scipy or cupyx's scipy layer. That was a source of inefficiency on the scale of microseconds for 2D images but will add up significantly for 3D in transform pipelines. We sh

[2021-12-05 17:41] ericspod commented on #3423
I think what's happening is that the instances of the trainer being created still aren't getting cleaned up after each loop. Once you assign a new value to `trainer` the previous object should be collectabled but the Python garbage collector won't do that until it needs to, and decides need based on allocated system memory and not GPU memory. That trainer objects keeps its reference to the optimiz

[2021-12-06 05:06] Nic-Ma opened #3444 "Add DecathlonDatalist to enhance decathlon style loading"
**Is your feature request related to a problem? Please describe.**
Currently, we already have several useful utilities to load or sample the decathlon datalist, would be nice to add a class to combine and enhance the feature.
We already have a reference implementation in NVIDIA Clara and can config it in the JSON file:
[code]
I will try to reimplement it according to MONAI style.

[2021-12-06 07:45] wyli commented on #3444
Hi Nic, would be great to have more details on this, is it an enhancement of https://github.com/Project-MONAI/MONAI/blob/0935d5ab60b78b74e37e542244846de9ccfe7e39/monai/apps/datasets.py#L152

[2021-12-06 11:32] Nic-Ma commented on #3444
Hi @wyli ,

`DecathlonDatalist` is mainly supposed to load "decathlon style" datalist from JSON file, and do more logic.
It's a class level combination of the utilities in this file:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/decathlon_datalist.py

Thanks.

[2021-12-07 13:16] sole12343 opened #3448 "无法从monai引入ImageDataset"
![1638882889(1)](https://user-images.githubusercontent.com/52155079/145035708-25083b9e-6d80-40a2-b180-118c44f80c22.png)
我本来可以正常引用，可是当我无法正常读取我的数据后，我在网上找到方法，我下载pip install monai all，然后我就无法正常引用ImageDataset ,是你们更新后取消了这个包嘛？

[2021-12-07 14:57] #3293 closed

[2021-12-07 15:29] Nic-Ma commented on #3448
Hi @sole12343 ,

The `ImageDataset` is still available in the latest MONAI codebase:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_dataset.py#L23

Thanks.

[2021-12-07 16:51] wyli commented on #3103
https://monai.io/research/dints should be redirected to this research contribution item once it's done.

[2021-12-07 18:36] silver-fox-12 opened #3449 "How to use Transchex?"
Thank you for all the work in creating Monai!

I'm new to the framework and curious if there are any tutorials on using the `Transchex` model? Is there any paper published related to the model? I could not find any information on the Internet.

Additionally, would it be possible to use `Transchex`(or any other model supported by Monai) on the [CheXpert dataset](https://stanfordmlgroup.github.io/co

[2021-12-07 18:42] ahatamiz commented on #3449
Hi @silver-fox-12

Thanks for your interest. We will have a tutorial for TrasnChex very soon.

Thanks

[2021-12-07 19:15] silver-fox-12 opened #3450 "Pretrained Models"
I wonder if it aligns with the project goals to support the integration of pretrained models.

A possible solution could be to host the pretrained models on the [Huggingface Model Hub](https://huggingface.co/models). It would then be possible to build a wrapper that loads a model from the hub & directly use it for inference to lower the entry barrier for noobs like me 🙂

[2021-12-07 19:16] silver-fox-12 commented on #3449
Thank you @ahatamiz! That'd be awesome 🙂

[2021-12-07 20:37] wyli commented on #3450
duplicate of https://github.com/Project-MONAI/MONAI/issues/271. Thanks for the suggestions, I'm converting this into a discussion.

Some of the models in this project already support loading from the pretrained, please see:
- https://github.com/Project-MONAI/MONAI/search?q=pretrained
- https://github.com/Project-MONAI/MONAI/blob/dev/monai/apps/mmars/model_desc.py
- https://github.com/Project-MONAI

[2021-12-07 20:39] #3448 closed

[2021-12-08 00:03] YuanTingHsieh opened #3452 "Inconsistency of type hints/docstring VS codes for PersistentDataset"
**Describe the bug**
There are inconsistencies in the PersistentDataset.
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/dataset.py#L100

In docstring it says the "cache_dir" can be None and type hint it shows Optional.
If we want to be consistent with the docstring, we should add a default value None to this cache_dir argument.

[2021-12-08 00:05] Nic-Ma commented on #3452
Hi @YuanTingHsieh ,

Thanks for raising the issue.
I will try to fix it ASAP.

Thanks.

[2021-12-08 08:34] wyli commented on #3452
Typing.Optional indicates that the value can be None: https://docs.python.org/3/library/typing.html#typing.Optional

[2021-12-08 08:38] Nic-Ma commented on #3452
Hi @wyli ,

Thanks for your sharing.
The `None` value actually has no meaning in `PersistentDataset`, it will do nothing if `cache_dir=None`.
So I tried to make it more clear in #3453 , same as what you have set for `LMDBDataset`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/dataset.py#L426

Thanks.

[2021-12-08 08:43] night-gale opened #3454 "Unused cls_token in PatchEmbeddingBlock"
**Describe the bug**
When I was training the `ViT` with `torch DistributedDataParallel`, during backward, `torch` raises error and reports that
[code]
which means that the `cls_token` did not participate in the backward process.

I checked the implementation of `ViT` and `PatchEmbeddingBlock` and found the unused `cls_token` in `monai.networks.blocks.patchembedding.py: PatchEmbeddingBlock`.
![imag

[2021-12-08 08:45] Nic-Ma commented on #3454
Thanks for raising the issue.
Hi @ahatamiz ,

Could you please help double confirm the issue?
If we really don't need the `cls_token`, please remove it.

Thanks in advance.

[2021-12-08 08:56] wyli commented on #3452
When None is provided, the dataset becomes a regular dataset, it is a convenient option, I suggest we keep the current behaviour.

[2021-12-08 09:03] Nic-Ma commented on #3452
Thanks @wyli for your explanation.

Hi @ericspod @rijobro ,

what do you guys think about this `cache_dir` arg of `PersistentDataset`?
I feel it's not necessary to allow `None` value for it. If all you guys think it should support `None` to fallback to regular Dataset, I am OK to update `LMDBDataset` to be consistent with `PersistenDataset`.

Thanks in advance.

[2021-12-08 09:11] wyli commented on #3452
In my opinion the lmdbdataset has an additional logic (compared with persistentdataset) of creating a database file, allowing for none is confusing.

[2021-12-08 09:18] hsiangyuzhao opened #3455 "The loaded image and label get reversed in MONAI"
I want to perform image registration and use MONAI-based data pipeline in my research. However, when I am loading image pair with MONAI, the image & label map of the moving image get "reversed".
![myplot](https://user-images.githubusercontent.com/53631393/145181218-483536d7-b8ca-44a4-8e2b-ddcd49a1e77d.png)
Here we can see that the label map of the image on the right doesn't match the one on the le

[2021-12-08 09:24] Nic-Ma commented on #3455
Hi @hsiangyuzhao ,

Thanks for your experiments and feedback here.
Could you please help share your test program with MONAI? Let's check deeper about the logic.

Thanks in advance.

[2021-12-08 09:28] hsiangyuzhao commented on #3455
Hi @Nic-Ma ,
Thanks for the reply. The data loading code with MONAI is pasted below.
I guess it has something to do with the coordinate system but I have no idea where the problem occurs. Also, I have found that loading the image with Nibabel directly leads to the same result (the label map and image get "reversed"). The code is also pasted below.
[code]

[code]

[2021-12-08 09:30] hsiangyuzhao commented on #3455
![1](https://user-images.githubusercontent.com/53631393/145183798-29a1177a-9212-411d-9f3c-d7a18d607df5.png)
That is what happens when loading with Nibabel directly. Just the same as using MONAI.

[2021-12-08 09:54] Nic-Ma commented on #3455
Thanks for the test program.
I didn't see any obvious issue in the program, @wyli do you have any findings here?
Maybe we should move it to discussion as @wyli suggested.

Thanks.

[2021-12-08 09:58] Nic-Ma commented on #3455
Hi @hsiangyuzhao ，

Cool!
Just set that parameter in MONAI `LoadImaged` transform:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/io/dictionary.py#L98

Thanks.

[2021-12-08 10:00] hsiangyuzhao commented on #3455
@Nic-Ma After reading the docs I have understood what to do with MONAI. Thanks for the reply, I will close the issue now.

[2021-12-08 10:00] #3455 closed

[2021-12-08 16:32] night-gale commented on #3454
Hi! @ahatamiz
Thanks for your reply!

I understand that the cls_token is an essential component of ViT and can be toggled off by passing classification as False.

However, the redundant cls_token I found is in the PatchEmbeddingBlock. It is not reference in the forward method and cannot be turned off by passing argument.

I currently removed the cls_token in my local copy of Monai and everything n

[2021-12-08 16:52] ahatamiz commented on #3454
May I ask what application the ViT is used for ? if it is for classification, what I meant was to turn on the classification by doing something like:
`monai.networks.nets.ViT(img_size=(96,96,96), patch_size=(16,16,16), classification=True)
`
This way, it ensures that `cls_token` is being created and used.

As indicated [here](https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/nets/vit.

[2021-12-08 20:28] surajpaib opened #3458 "Extension for cross-dimensional inference with SlidingWindowInferer"
**Is your feature request related to a problem? Please describe.**
The request is to have an addition for the SlidingWindowInferer to support inference on, for example, 3D CT scans on a slice-by-slice basis using a 2D model.

**Describe the solution you'd like**
A simple solution exists ofcourse, where the model is run using SimpleInferer on a slice-by-slice basis and then collected. However, addi

[2021-12-08 22:28] Nic-Ma commented on #3452
Hi @ericspod @rijobro ,

Could you please help share some comments about this discussion and the PR #3453 ?

Thanks in advance.

[2021-12-08 23:10] wyli opened #3460 "`reduction` for `ContrastiveLoss`"
**Describe the bug**
the error messages and docstring should be consistent
https://github.com/Project-MONAI/MONAI/blob/a7bc4a3cbaeaa3c505a25ca2ddf6922bda8ea7dc/monai/losses/contrastive.py#L89-L91

https://github.com/Project-MONAI/MONAI/blob/a7bc4a3cbaeaa3c505a25ca2ddf6922bda8ea7dc/monai/losses/contrastive.py#L58

**Expected behavior**
implementing the option `reduction="none"`?

[2021-12-08 23:11] wyli commented on #3460
Hi @finalelement, could you please help look into this one?

[2021-12-08 23:11] Nic-Ma commented on #3460
Hi @finalelement ,

Could you please help check it?

Thanks in advance.

[2021-12-08 23:13] Nic-Ma commented on #3458
Hi @surajpaib ,

Thanks for your idea here, sounds interesting to me.
And welcome to contribute a separate `inferer` for it.
@ericspod @rijobro What do you guys think?

Thanks in advance.

[2021-12-08 23:14] finalelement commented on #3460
Sure thing, will get back soon.

[2021-12-08 23:15] wyli commented on #3458
would be great to have a tutorial/demo instead of a dedicated module in the core codebase, please see the previous discussions https://github.com/Project-MONAI/tutorials/issues/130.

[2021-12-08 23:50] wyli commented on #3452
Just to clarify that the `Optional` type is different from an optional argument as described in the documentation (https://docs.python.org/3/library/typing.html#typing.Optional):

so I think for the `PersistentDataset`, it correctly states the type (`Optional`, allowing for `None`), and does not provide a default (https://github.com/Project-MONAI/MONAI/issues/2136).

For the lmdbdataset, I feel pr

[2021-12-09 00:06] surajpaib commented on #3458
@wyli I see that an appropriate use-case of this has been requested before as well, great!

The reason I proposed it as an addition to the `SlidingWindowInferer` is that, for most medical imaging use-cases, if you had a 3D volume of `[H, W, D]` and wanted to run a sliding window of size 1 in D over it, you would expect to receive 2D slices that can go into a 2D model then. By adding this to the `S

[2021-12-09 01:29] Nic-Ma commented on #3452
Hi @wyli ,

Thanks for your explanation, I understand your point.
I just feel maybe it's not necessary to allow passing `None` to `PersistentDataset` to fallback to the regular Dataset.
For example, we don't allow `None` output dir in `SaveImaged`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/io/dictionary.py#L220
Anyway, it's not a blocker issue or an obvious bug for us.

Than

[2021-12-09 01:51] YuanTingHsieh commented on #3452
Thanks for providing the difference between type hint `Optional` and an optional argument.
I understand the original logic of the code now.

When I use this PersistentDataset, I would expect this persist something for me.
So personally, I prefer the `cache_dir` be required or default to somewhere like `/tmp/`, and PersistentDataset always persist data.

But I can also understand maybe someone want

[2021-12-09 02:11] YuanTingHsieh commented on #2860
Hi @pritesh-mehta,

One major reason of that is because we can reuse the same transform https://github.com/Project-MONAI/MONAI/blob/dev/monai/apps/deepgrow/transforms.py for 2D and 3D since they both ends in [H, W]

[2021-12-09 09:05] wyli opened #3461 "premerge test error: 'ContentTooShortError' is not defined"
**Describe the bug**
[code]

[2021-12-09 10:38] wyli commented on #3452
We have the docstring for the input argument to describe this, which is quite clear to me: https://github.com/Project-MONAI/MONAI/blob/a7bc4a3cbaeaa3c505a25ca2ddf6922bda8ea7dc/monai/data/dataset.py#L165-L170

I'd suggest we close this ticket and the PR.

[2021-12-09 13:37] #3461 closed

[2021-12-09 14:39] wyli commented on #3458
sure, perhaps first a pull request to the tutorial repo for a self-contained example, and then we can move the key components to the core codebase. I feel in this way we can focus on the ideas/designs first and don't waste time on the coding style and unit testing etc

[2021-12-09 17:23] wyli commented on #3460
discussed with @finalelement that I'll deprecate the `reduction` option

[2021-12-09 18:24] surajpaib commented on #3458
Definitely agree. I'll submit a PR on the tutorial repo. I went through it a bit, where do you suggest I place it, similar to
https://github.com/Project-MONAI/tutorials/blob/master/modules/3d_image_transforms.ipynb I presume?

[2021-12-09 19:10] wyli commented on #3458
thanks @surajpaib, that'd be great!

[2021-12-09 20:24] #3460 closed

[2021-12-09 23:40] Nic-Ma commented on #3452
@ericspod @rijobro , seems you guys don't have any comments here, let me close the ticket and PR as @wyli suggested.

Thanks for the discussion.

[2021-12-09 23:40] #3452 closed

[2021-12-10 03:03] Nic-Ma opened #3465 "Support string dtype in transforms when processing Tensor data"
**Is your feature request related to a problem? Please describe.**
As numpy array can accept the `dtype` arg in string, so many previous programs use `dtype="float32"` in the MONAI transforms. If we put `ToTensor` before the transform to make it work on GPU Tensor, it will fail because PyTorch Tensor doesn't support string for dtype.
It broken many NVIDIA Clara MMARs when switching to GPU transfor

[2021-12-10 03:08] Nic-Ma commented on #3465
Add @deepib for issue visibility.

Thanks.

[2021-12-10 07:51] yiheng-wang-nv opened #3466 "`NormalizeIntensity` docstring error"
docstring of `channel_wise` is wrong, and it may mislead users that this parameter only works when subtrahend and divisor are not provided.

[2021-12-10 07:56] Nic-Ma commented on #3466
Hi @yiheng-wang-nv ,

Sorry for the wrong description of `channel_wise` arg, I will try to correct it ASAP.

Thanks.

[2021-12-10 09:14] neuronflow opened #3467 "channel_wise option for percentile based normalization"
****Is your feature request related to a problem? Please describe.****
Unlike the "standard" normalization, Percentile based normalization has no `channel_wise` option.
https://docs.monai.io/en/latest/transforms.html#normalizeintensity
https://docs.monai.io/en/latest/transforms.html#scaleintensityrangepercentiles

****Describe the solution you'd like****
introduce `channel_wise` option for percent

[2021-12-10 09:16] Nic-Ma commented on #3467
Hi @neuronflow ,

Thanks for raising this topic.
I am working on a related ticket #3466 , will cover your request together.

Thanks.

[2021-12-10 10:31] #3444 closed

[2021-12-10 22:12] ahatamiz commented on #3454
Hi @Nic-Ma

Thanks for the efforts. I would be appreciate it if this can be addressed in future PRs.

Thanks.

[2021-12-10 22:57] Nic-Ma commented on #3454
Hi @ahatamiz ,

OK, sure, I will fix it in a PR.

Thanks.

[2021-12-11 10:12] timeanddoctor opened #3473 "How to get the picture for the spleen_segmentation_3d?"
How to get the picture for the spheer segement?

![image](https://user-images.githubusercontent.com/28825816/145672767-31b6f303-30a1-4b39-b8d6-c5fc91e1995c.png)

[2021-12-11 19:55] ataML opened #3474 "ImportError: cannot import name 'Invertd' from 'monai.transforms' (/opt/monai/monai/transforms/__init__.py)"
Trying to run the Brain Tumor 3D segmentation with MONAI notebook, and i get this error.

ImportError: cannot import name 'Invertd' from 'monai.transforms' (/opt/monai/monai/transforms/__init__.py)

Environment:

OS: Ubuntu
python version: 3.8
monai version: latest
 cuda version: 11.2, V11.2.67

could you please help me with the issue?

[2021-12-12 08:10] #3466 closed

[2021-12-12 11:38] wyli commented on #3474
Could you please follow the bug report template to include more system info?

[2021-12-12 11:39] #3467 closed

[2021-12-12 22:37] Nic-Ma opened #3477 "Update CI tests and packaging for ignite v0.4.7"
**Is your feature request related to a problem? Please describe.**
Currently, we always set the minimal ignite requirements to 0.4.4:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/config/deviceconfig.py#L256
And set CI tests and packaging to the latest ignite version for compatible tests and verify / leverage the latest features.
Congratulations @vfdev-5 for the v0.4.7 release of ignite:
h

[2021-12-13 03:48] #3454 closed

[2021-12-13 08:57] wyli opened #3479 "releasing v0.8.1 -- checklist"
Patch release -- Tentative date: ~Jan~ Feb

Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.
- [x]

[2021-12-13 09:00] wyli commented on #3479
V0.8.1 will have minor code&doc quality/usability improvements based on various user feedback.

[2021-12-13 11:14] tomvars opened #3481 "Introduce Boundary loss and Hausdorff loss"
Would be great to see the Boundary loss (http://proceedings.mlr.press/v102/kervadec19a.html) introduced into MONAI. Would require a `Transform` to produce distance maps from labels similar to this function - https://github.com/LIVIAETS/boundary-loss/blob/749602d822fcb097c79a7fb708805b8982c37030/utils.py#L260 and two `Loss` classes which could be based off of these implementations:
 https://github.

[2021-12-13 11:23] Nic-Ma commented on #3481
Hi @tomvars ,

Thanks for your suggestion.
Sounds interesting, @wyli @ericspod is it common medical DL loss functions?
And @tomvars would you like to contribute PR for it?

Thanks in advance.

[2021-12-13 14:16] Nic-Ma commented on #3458
Hi @surajpaib ,

Thanks for your great work for the tutorial, would you like also contribute a PR to add your new SlidingWindow inferer?

[2021-12-13 14:42] Nic-Ma opened #3482 "Develop MVP of model package"
**Is your feature request related to a problem? Please describe.**
Thanks for the interesting technical discussion with @wyli @atbenmurray @rijobro , we plan to develop the model package feature step by step. For the initial step, I will try to implement a MVP, referring to some existing solutions, like NVIDIA Clara MMAR, ignite online package, etc. Draft task steps:

- [ ] Search specified python

[2021-12-13 17:37] tao558 commented on #3423
Thanks for the detailed response, Ill give your suggestions a shot. Is there a better way to do k-fold cross validation with monai that I'm unaware of?

Thanks again.

[2021-12-13 20:32] dbericat commented on #3482
@cpbridge this is the current PR to expand model metadata.

[2021-12-13 21:20] dbericat commented on #3323
@MMelQin @mocsharp @joshliberty @ericspod  thoughts from App SDK, Informatics Gateway and Workflow Manager?

Not an expert here by any means, but having this as its own component and being reused across the board conceptually makes the most sense to me.

[2021-12-13 22:31] Nic-Ma commented on #3423
Hi @tao558 ,

I think maybe you can leverage something in this tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/modules/cross_validation_models_ensemble.ipynb

Thanks.

[2021-12-13 22:44] MMelQin commented on #3323
I definitely seeing the maturing/industrialization of AI model development for the actually clinical deployment. Some of the points below are just some thoughts I had over the number of years trying to make AI actually usable.
- Looking at most of the AI competition, images (typically NIfTI) are provided, often times just a couple hundred of, without describing the demographics of the patient, or

[2021-12-13 23:31] ericspod commented on #3481
We'd definitely be interested in new loss functions. My experience was hausdorff calculations can be quite expensive but a fast implementation would be nice to have as a metric as well. @rijobro this might be of interest for the problem we've been working on too.

[2021-12-14 02:17] ebrahimebrahim opened #3485 "Bending energy loss is not scale invariant"
Bending energy loss is intended to be applied to a vector field to tell us something about the regularity of the image deformation that the vector field defines when interpreted as a displacement map. I think such a measure should not depend on the resolution of the images that are involved, and so it should also not depend on the spatial resolution used to describe the vector field.

**The proble

[2021-12-14 02:37] surajpaib commented on #3458
@Nic-Ma

Thanks and glad to contribute!

I do have a few design questions on how to add it to `monai`. There are two options I'm thinking of,
1. Editing the existing `SlidingWindowInferer` to add this functionality.
2. Creating a new `SlidingWindowInferer` / `SliceInferer` class that inherits `SlidingWindowInferer` and provides new functionality.

The caveat with 1 is that intuitively a user might

[2021-12-14 02:57] Nic-Ma commented on #3458
Hi @surajpaib ,

Thanks for your proposals.
I would suggest option 2, it's better to design multiple components for multiple features.
Please try to make the usage clear in the doc-string to help users.

Thanks in advance.

[2021-12-14 03:31] Nic-Ma opened #3486 "Cache data in both GPU memory and main memory"
**Is your feature request related to a problem? Please describe.**
This is interesting feedback from our internal SA team:
"Currently, the `CacheDataset` can obviously improve the training speed with caching either on main memory or on GPU memory. It would be nice to support caching on both sides to totally leverage the memory resources."

We can consider to set cache rate for both main memory and

[2021-12-14 05:46] yiheng-wang-nv opened #3487 "Update Novograd link"
This link in the doc string of `class Novograd` is disabled now:
https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/SpeechRecognition/Jasper/optimizers.py

[2021-12-14 06:01] ebrahimebrahim commented on #3485
Another thought: maybe there should be a parameter `normalize=True` in the constructor of `BendingEnergyLoss`, which provides as a default behavior the scale-invariance I am describing, and which can be turned off to get the "original" bending energy.

[2021-12-14 07:14] #3487 closed

[2021-12-14 10:37] Nic-Ma commented on #3482
Hi @wyli @ericspod @rijobro @atbenmurray ,

I updated the ticket description to make it more clear.

Thanks.

[2021-12-14 10:48] wyli commented on #3482
We've discussed that the MVP should focus on the minimal structure, including model weights, basic environment/system info, maintaining changelog/versioning, how to ensure accessibility for both human and machine.

[2021-12-14 10:50] suprosanna commented on #2080
I made a few changes and it runs smoothly
1. use ignite.distributed instead torch.ditributed in the following way
`import ignite.distributed as idist`
under `if __name__ == "__main__":` use this for using two gpus
`with idist.Parallel(backend='nccl', nproc_per_node=2) as parallel:
        parallel.run(main)`
2. pass a dummy rank in `def main(rank):`
3. turn off `torch.distributed.init_process_grou

[2021-12-14 10:54] Nic-Ma commented on #3482
Hi @wyli ,

Sure, I added these items to the MVP task list.

Thanks.

[2021-12-14 11:08] #3465 closed

[2021-12-14 11:48] #3477 closed

[2021-12-14 15:00] dbericat commented on #3482
@MMelQin @gigony @GreySeaWolf @cpbridge @mocsharp @joshliberty @vikashg thoughts on proposed MVP?

[2021-12-14 15:20] ericspod commented on #3482
We should discuss a clear definition of requirements and objectives. We want to define a format of a single file or multiples files which contains the model weights at least with secondary information describing how to use it for various use cases. This will allow a human or a program to determine what sort of model it is, how to use the model, and what tasks to use it for. For our MVP we want to

[2021-12-14 16:00] rijobro commented on #3481
definitely!

[2021-12-14 17:31] wyli commented on #3485
Thanks for the detailed analysis, I think it'd be nice to have a `normalize=True` option to make it resolution agnostic. The demo notebook could be a monai tutorial on this topic.

For the [previous discussions](https://github.com/Project-MONAI/MONAI/issues/1405), I can't remember the reasoning, perhaps there's a miscommunication between the input displacement field and the normalised relative coo

[2021-12-14 20:58] kate-sann5100 commented on #3485
@ebrahimebrahim Thank you for the nicely written notebook which clearly explains the need of a resolution-invariant implementation of bending energy.

The concern mentioned by @YipengHu in the previous discussion was that the normalisation of ddf to [-1, 1] in the resample (to fit the pytorch function `grid_sample`) may affect the bending energy calculation, which is different from your mentioned

[2021-12-14 21:02] ebrahimebrahim commented on #3485
I see, that makes sense now.

Great, I'll work on cleaning up my fix and contributing it!

Thanks for the comments @wyli and @kate-sann5100

[2021-12-15 02:38] Nic-Ma commented on #3482
Hi @ericspod ,

Thanks very much for your detailed description.
I will try to prepare a draft model package for discussion according to your summary and our basic ideas, and then develop the necessary features to support it.

Thanks.

[2021-12-15 02:54] Nic-Ma opened #3491 "Missing example images for transform `SavitzkyGolaySmooth` and `RandRicianNoise`"
**Is your feature request related to a problem? Please describe.**
I checked the document of intensity transforms, found that we didn't add example images for transform `SavitzkyGolaySmooth` and `RandRicianNoise`:
https://github.com/Project-MONAI/MONAI/blob/dev/docs/source/transforms.rst#RandRicianNoise
https://github.com/Project-MONAI/MONAI/blob/dev/docs/source/transforms.rst#SavitzkyGolaySmooth

[2021-12-15 04:05] function2-llx opened #3492 "Specify if input data is onehot for `KeepLargestConnectedComponent`"
**Is your feature request related to a problem? Please describe.**
I'm using the post-processing transform `KeepLargestConnectedComponent`, its calculation depends on if the input data is in onehot format. Currently, the transform determines if the input data is onehot by checking the number of channels.
https://github.com/Project-MONAI/MONAI/blob/f6648a3298ac31dfec7cda4064567c858c1aab1d/monai/tra

[2021-12-15 05:21] Nic-Ma commented on #3492
Hi @YuanTingHsieh ,

Could you please help share some comments here?
I feel maybe some misleading doc-string caused a wrong usage case here.

Thanks in advance.

[2021-12-15 05:41] YuanTingHsieh commented on #3492
For single channel data, you should pass `applied_labels=[1]`. (If 1 means foreground)

For multiple channel data, if the first channel is background, and you have 5 channels (categories) in total, you can pass `applied_labels=[1, 2, 3, 4]`

[2021-12-15 06:50] function2-llx commented on #3492
@YuanTingHsieh I can understand this by reading the doc. This is exactly what I mean by the inconvenience, because I'm always using onehot format no matter the data are single or multiple channels, and I'm not putting the background on the first channel. So I'll have to add an if clause when specifying `applied_labels` to check the data are single or multiple channels. I don't know if this is inte

[2021-12-15 08:59] Nic-Ma commented on #3491
And BTW, when I ran the program to generate images, I faced an error:
[code]

Thanks.

[2021-12-15 09:14] Nic-Ma commented on #3491
Hi @wyli @rijobro ,

Can you run `utils_create_transform_ims.py` in the latest codebase?
I am fixing the missing images and found the issue.

Thanks.

[2021-12-15 09:46] Nic-Ma commented on #3491
I found the root cause of AsDiscrete issue, seems the source image of LABEL changed to (0 - 255), fixed in PR #3494 .

Thanks.

[2021-12-15 12:10] #3491 closed

[2021-12-15 20:45] #3485 closed

[2021-12-16 08:48] wyli commented on #3482
I'd strongly recommend that the MVP should support the essential features for fast prototyping of model packages. The following uses the popular `detectron2` package as an example:

- Hybrid configs with python + yaml/json/xml
  Here is [an example](https://github.com/facebookresearch/detectron2/tree/v0.6/configs/COCO-Keypoints) of mixing .py and .yaml, and the essential mechanism is [a lazy insta

[2021-12-16 09:25] Nic-Ma commented on #3482
Hi @wyli ,

Thanks for your great suggestions.
These are very good references for config parsing logic in steps 3 and 4 of this ticket, we definitely need similar features for flexibility and extensibility.

Thanks.

[2021-12-16 09:45] Nic-Ma commented on #3482
Hi @wyli @ericspod @atbenmurray @rijobro ,

I tried to prepare a draft model package structure for the **first step** of this ticket in the tutorial PR.
https://github.com/Project-MONAI/tutorials/pull/487
Could you please help take a look and share some feedback for the model package structure?
(1) I didn't implement any config-parsing related logic so far, I think that's later steps.
(2) I am not

[2021-12-16 12:17] Nic-Ma opened #3498 "Add the missing kwargs for torch.jit.script"
**Is your feature request related to a problem? Please describe.**
Currently, we defined `kwargs` in the `convert_to_torchscript`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/utils.py#L441
But forgot to add it in the call of `torch.jit.script` and add the missing doc-string.
Would be nice to add it.

[2021-12-16 13:31] #3498 closed

[2021-12-16 23:02] Nic-Ma opened #3501 "Add dictionary version transform SavitzkyGolaySmoothd"
**Is your feature request related to a problem? Please describe.**
Currently, we have the array version intensity transform `SavitzkyGolaySmooth`, would be nice to add the dict version.

[2021-12-17 01:56] YuanTingHsieh commented on #3492
Hi @function2-llx

Let's say your single channel data use pixel 1 as foreground.
Then its shape is [1, S1, S2, S3]
In this case you pass `applied_labels=[1]`.

Your multi-channel data has 3 channels and no background.
Then its shape is [3, S1, S2, S3]
In this case you pass `applied_labels=[0, 1, 2]` if you want all three channels to find their largest connected component.

This is the current usag

[2021-12-17 15:02] #3501 closed

[2021-12-18 14:33] carlpe opened #3506 "Transforms for multichannel"
[code]

---------------------------------------------------------------------------------------------------------------------------

Loading dataset: 100%|█████████████████████████████████| 1/1 [00:01<00:00,  1.03s/it]
Loading dataset: 100%|█████████████████████████████████| 1/1 [00:01<00:00,  1.04s/it]
torch.Size([1, 4, 80, 80, 80]) torch.Size([1, 1, 80, 80, 80])

(monai) D:\>

------------------

[2021-12-18 22:57] Nic-Ma commented on #3506
Hi @carlpe ,

I didn't see the issue in `(torch.Size([1, 4, 80, 80, 80]) torch.Size([1, 1, 80, 80, 80])`, may I know what's the expected shape?

Thanks.

[2021-12-18 23:28] carlpe commented on #3506
Well, I just assumed that they had to be identical. Because if I run the training and validation steps, I get the following message:

epoch 1/500
1/1, train_loss: 0.9741
epoch 1 average loss: 0.9741

Traceback (most recent call last):
  File "d:/dlk_trainwindows3.py", line 203, in <module>
    epoch_num, m_epoch_loss_values, m_metric_values, m_epoch_times, m_best = train_process(fast=True)
  File

[2021-12-19 01:00] ebrahimebrahim commented on #3506
You might want to use [`monai.networks.utils.one_hot`](https://docs.monai.io/en/stable/transforms.html?highlight=onehot) to convert your ground truth labels to one-hot format

[2021-12-19 01:10] carlpe commented on #3506
Hi @ebrahimebrahim ,

Is it not done here;

    post_pred = AsDiscrete(argmax=True, to_onehot=True, n_classes=14)
    post_label = AsDiscrete(to_onehot=True, n_classes=14)

[2021-12-19 01:51] carlpe commented on #3506
if I print the shapes of val_outputs and val_labels
`                    with torch.cuda.amp.autocast():
                            val_outputs = sliding_window_inference(val_inputs, roi_size, sw_batch_size, model)
                            print(val_outputs.shape)
                            val_outputs = [post_pred(i) for i in decollate_batch(val_outputs)]
                            val_labe

[2021-12-19 19:42] carlpe commented on #3506
So, I found something interesting.
If I change only the validation transform _RandCropByPosNegLabeld_ configuration, it works correctly.
If I set the channels ['t1','pd','fs','ang'] here instead of the concatenated "image" from Concatitemsd (like I did in train_transforms) - then I get the following validation shapes and it seems to work:

[code]
-------------------------------------------------
e

[2021-12-19 20:52] #3506 closed

[2021-12-20 04:09] Nic-Ma opened #3511 "Example image of 3 transforms are missing in API doc"
**Is your feature request related to a problem? Please describe.**
After #3491 , I check all the other categories of transforms in the API doc, I think we only have 3 transforms left that need example image:
1. Spatial transform: `GridDistortion`
2. Smooth field transform: `RandSmoothFieldAdjustContrast`
3. Smooth field transform: `RandSmoothFieldAdjustIntensity`

Would be nice to add example imag

[2021-12-20 09:04] carlpe commented on #3506
I see the mistake now. I forgot to add "label"  to keys as such:

`RandCropByPosNegLabeld(keys=["image",'label'], label_key="label", spatial_size=[48,48,48], pos=1, neg=1, num_samples=1),`

Initially, I had only added it to label_key and not keys also.
Nevertheless, problem solved.

[2021-12-20 09:05] wyli opened #3513 "CI test errors"
I see some CI test errors in this PR, could you please help take a look?

Thanks in advance.

_Originally posted by @Nic-Ma in https://github.com/Project-MONAI/MONAI/issues/3508#issuecomment-997591075_

[2021-12-20 11:23] wyli commented on #3014
I think this has been addressed in the recent versions:
https://github.com/InsightSoftwareConsortium/ITK/blob/a89145bccda6a36f42cfdd45d3a6b27234ff54fe/Wrapping/Generators/Python/itk/support/base.py#L71-L72 I'm closing this ticket for now. Please feel free if it's still an issue after updating itk.

[2021-12-20 11:23] #3014 closed

[2021-12-20 11:27] #3513 closed

[2021-12-20 12:00] Nic-Ma opened #3517 "Minor issues in `AddCoordinateChannels` transform"
**Is your feature request related to a problem? Please describe.**
There are several minor issues in the `AddCoordinateChannels` transform that need to refine:
1. It's utility transform not spatial transform, because actually it changes the channel dim not spatial dims.
2. Better to use `spatial_dims` as arg name to be consistent with other transforms instead of `spatial_channels`.
3. Should count

[2021-12-20 12:11] #3511 closed

[2021-12-20 12:55] #2891 closed

[2021-12-20 12:55] #3021 closed

[2021-12-20 14:36] wyli commented on #3021
thanks for the comment, [this pull request](https://github.com/Project-MONAI/MONAI/pull/3508) adds a `reverse_indexing` option to `ITKReader`. Models trained with `reverse_indexing=True` should be compatible with the ITK c++ spatial indexing convention.

[2021-12-20 15:06] ahatamiz opened #3520 "Add Swin UNETR model"
**Is your feature request related to a problem? Please describe.**
Swin UNETR [1] has achieved SOTA performance in various datasets such as MSD and BTCV. It would be nice to have it implemented in MONAI.

[1]: Tang, Yucheng, Dong Yang, Wenqi Li, Holger Roth, Bennett Landman, Daguang Xu, Vishwesh Nath, and Ali Hatamizadeh. "Self-Supervised Pre-Training of Swin Transformers for 3D Medical Image Anal

[2021-12-20 15:18] #3103 closed

[2021-12-20 19:49] #3474 closed

[2021-12-20 19:50] wyli commented on #3449
addressed by https://github.com/Project-MONAI/tutorials/tree/master/multimodal/openi_multilabel_classification_transchex

[2021-12-20 19:50] #3449 closed

[2021-12-20 19:54] #3423 closed

[2021-12-20 20:31] wyli commented on #2809
addressed by https://github.com/Project-MONAI/MONAI/tree/dev/monai/apps/deepedit, the tensorboard handler is currently out-of-scope.

[2021-12-20 20:31] #2809 closed

[2021-12-20 21:20] wyli opened #3521 "copyright header without the year"
**Is your feature request related to a problem? Please describe.**
this is a request to remove the year number in the copyright header, to simplify the maintenance work.

similar approaches have been taken by
- itk ([example file](https://github.com/InsightSoftwareConsortium/ITK/blob/31ce3976231385c3193267b9ac020c37babb9d70/Modules/Core/Common/include/VNLIterativeSparseSolverTraits.h#L1-L16))
- az

[2021-12-21 00:31] ataML commented on #3474
In the following you can find the detailed system info:

================================
Printing MONAI config...
================================
MONAI version: 0.5.2+24.g2a4c9e5
Numpy version: 1.19.2
Pytorch version: 1.8.0a0+52ea372
MONAI flags: HAS_EXT = True, USE_COMPILED = False
MONAI rev id: 2a4c9e514bbc603191e49120e9d598a9414c0e75

Optional dependencies:
Pytorch Ignite version: 0.4.4
Nibab

[2021-12-21 00:47] Nic-Ma commented on #3474
Hi @ataML ,

`Invertd` was introduced in MONAI v0.7 release, could you please help update your MONAI package to the latest?

Thanks.

[2021-12-21 07:36] Nic-Ma opened #3525 "`OneOf` Compose can't support non-invertible transforms"
**Is your feature request related to a problem? Please describe.**
Issue reported from internal SA team, `OneOf` compose method can't support non-invertible transforms.
Program to reproduce the issue:
[code]
Got the error:
[code]

[2021-12-21 07:37] Nic-Ma commented on #3525
I think the root cause is we should not raise error when the transform is non-invertible:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/compose.py#L264
Will try to fix it ASAP.

Thanks.

[2021-12-21 08:53] stevewinger commented on #2073
Thank you very much! I met the same problem.

[2021-12-21 09:03] #3517 closed

[2021-12-21 09:29] ataML commented on #3474
Hi @Nic-Ma,
thanks for your reply. I updated monai to version 0.8 and still get the same error, here you can find the config:

================================
Printing MONAI config...
================================
MONAI version: 0.8.0
Numpy version: 1.21.5
Pytorch version: 1.10.1+cu102
MONAI flags: HAS_EXT = False, USE_COMPILED = False
MONAI rev id: 714d00dffe6653e21260160666c4c201ab66511b

Op

[2021-12-21 10:04] #3521 closed

[2021-12-21 12:10] wyli opened #3527 "prefer `pip install`"
**Is your feature request related to a problem? Please describe.**
the `python setup.py` based installation approaches are discouraged
[code]
documentation and test scripts should be updated to use `pip install`

- see also a similar approach used by cupy https://github.com/cupy/cupy/pull/985/files

[2021-12-22 00:27] Nic-Ma opened #3531 "Missing `copy_cache` and `progress` args in several subclass of CacheDataset"
**Is your feature request related to a problem? Please describe.**
We added `copy_cache` and `progress` args in `CacheDataset` for better performance and user experience:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/dataset.py#L673.
Would be nice to also add them in the subclasses of `CacheDataset`.

[2021-12-22 01:05] Nic-Ma opened #3533 "Update base PyTorch docker 21.12"
**Is your feature request related to a problem? Please describe.**
@yiheng-wang-nv and I are testing a performance drop issue in the spleen segmentation task when comparing MONAI 0.5 and 0.8. And I found that NVIDIA just released 21.12 PyTorch docker:
https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch
Will update it in MONAI docker and test.

[2021-12-22 06:58] wyli opened #3535 "Drop python 3.6 support"
**Is your feature request related to a problem? Please describe.**

Python 3.6 official end of support date is 23rd Dec 2021
- https://www.python.org/downloads/
- https://www.python.org/dev/peps/pep-0494/

[2021-12-22 09:00] #3533 closed

[2021-12-22 16:20] #3531 closed

[2021-12-22 17:10] #3525 closed

[2021-12-23 01:07] ericspod commented on #3482
To recap where we are with existing issues/PRs:
* #3138  is merged
*  https://github.com/Project-MONAI/tutorials/pull/487 package MVP is here to review

Related issues:
* https://github.com/Project-MONAI/monai-deploy-app-sdk/issues/227
* https://github.com/Project-MONAI/monai-deploy-app-sdk/issues/226
* https://github.com/Project-MONAI/monai-deploy-app-sdk/issues/213
* https://github.com/Project-M

[2021-12-23 03:57] Nic-Ma commented on #3482
Hi @ericspod ,

Thanks for your great summary!
There is another related PR: https://github.com/Project-MONAI/MONAI/pull/3518.

Thanks.

[2021-12-23 04:05] Nic-Ma opened #3539 "Misleading warning message in decollate=False"
**Is your feature request related to a problem? Please describe.**
Issue reported from NVIDIA QA team today:

Got this warning message in the Pathology program:
```MONAI transforms expect `channel-first` data, `decollate=False` may not work here.```
It has started since MONAI v0.6, where the default has changed to decollate=true.
@Nic-Ma isn’t this warning a bit misleading? Obviously, here everyth

[2021-12-23 04:06] Nic-Ma commented on #3539
Hi @wyli @ericspod @rijobro ,

If you guys don't have concerns, I plan to change this warning to `debug` level message.

Thanks in advance.

[2021-12-23 10:10] wyli opened #3541 "cupy_backends.cuda.api.driver.CUDADriverError"
Mark the Blossom error for future reference:
[code]

Thanks.

_Originally posted by @Nic-Ma in https://github.com/Project-MONAI/MONAI/issues/3532#issuecomment-999632799_

I had another look at this, it seems 21.12 docker container is not compatible with the NVTX utilities.

nightly test error logs:
<details>

[code]

</details>

[2021-12-23 13:03] #3535 closed

[2021-12-23 13:21] rijobro opened #3542 "Guided back propogation (also combined with GradCAM)"
Would be good to include guided back propagation to our list of interpretability classes. As seen in the screenshot below, Guided-GradCAM can then be given by combining the two together.

A lot of the functionality is already there, thanks to the `ModelWithHooks` class, but I couldn't quite figure out how to modify it to our needs.

![image](https://user-images.githubusercontent.com/33289025/14724

[2021-12-23 14:30] rijobro commented on #3539
Certainly shouldn't be a warning. If it's just a note on usage then it should be in a docstring somewhere.

[2021-12-24 03:27] Nic-Ma opened #3546 "`set_determinism` can't work when disable_global_flags"
**Is your feature request related to a problem? Please describe.**
Issue reported from the internal team, `set_determinism` raises error when disable_global_flags:
[code]
Would be nice to enhance the utility for the global status