[2020-12-04 14:49] wyli commented on #1317
I don't fully understand the issue here but you could try to make sure that `affine` and `original_affine` 4x4 numpy arrays

[2020-12-04 14:53] #1300 closed

[2020-12-04 14:54] #1258 closed

[2020-12-04 15:42] #1251 closed

[2020-12-04 23:43] Nic-Ma commented on #1306
Hi @saruarlive ,

Your code looks good to me, could you please also share your PyTorch program to compare it?
And it's better to paste your whole MONAI workflow program for analysis.
@ericspod @wyli could you please help also take a look where it is wrong?

Thanks.

[2020-12-05 00:56] saruarlive commented on #1306
Dear @Nic-Ma @wyli @ericspod, I am sharing ignite code since my problem with ignite handler only,

**In the evaluation section:**

[code]

**in the training section**

[code]
### Finally running,
[code]
After 100 hundred epochs, I got logs as shown below,

![image](https://user-images.githubusercontent.com/24542592/101228432-fdc04880-369b-11eb-9cb4-ee5731b17bed.png)

What I am missing here? I supp

[2020-12-05 13:06] saruarlive commented on #1267
@LucasFidon, @wyli, @Nic-Ma
Hi, hope you guys are doing good.
What is the current status of Wasserstein Dice loss class in monai library? Is it updated accordingly? The reason I am asking because I had used the loss function from Monai, it turns out that Dice+cross entropy performs better in brain tumor segmentation? Shall I update the monai from source if the loss function is optimal now?

[2020-12-05 14:50] Nic-Ma commented on #1315
Sure, thanks for your explanation.

[2020-12-05 14:50] #1315 closed

[2020-12-05 14:51] Nic-Ma commented on #1314
Hi @wyli ,

Could you please help share some idea as you are building a challenge baseline?

Thanks.

[2020-12-05 15:01] Nic-Ma commented on #1322
Hi @r-gray ,

MONAI transforms can do random transforming on `image` and `label` in sync.
Suggest you to use `dict` format data and `dict` specific transforms.

Thanks.

[2020-12-05 17:21] r-gray commented on #1322
OK, I will give that a try instead. Thanks very much for the response!

[2020-12-05 17:21] #1322 closed

[2020-12-05 19:02] LucasFidon commented on #1267
Hi @saruarlive,

Thank you for your message!

I have updated the Wasserstein Dice loss in MONAI (and its documentation) (please see #1272 for more detail).
But I don't think it is part of the latest release of MONAI yet, so you may have to install MONAI from source.

Yes, please, use the latest version of the Wasserstein Dice loss for brain tumor segmentation. For the distance matrix, you can use

[2020-12-05 19:09] LucasFidon commented on #1267
Hi @natacanta5,
The entries that you have already filled in your matrix are correct.
Maybe you can start by considering only the putamen, the thalamus, and the caudate (without distinguishing right and left).
In this case, would you be able to define your distance matrix based on the tree above?
For the weights on the tree, you have to choose values between 0 and 1.

[2020-12-05 19:51] saruarlive commented on #1267
@LucasFidon,

I had read your paper before. Great work you have done.
Would you recommend if any kind of normalization or noise-robust parameter needs to be introduced there as you had done in COVID19 CT segmenation challenge I guess? I am looking forward to hearing from you.

[2020-12-05 22:00] wyli commented on #1314
sure, perhaps we'd better discuss this after this year's public challenge, otherwise I feel it's a bit unfair for the other participants

[2020-12-06 21:22] LucasFidon commented on #1267
Hi @saruarlive,
Thank you!
For brain tumor segmentation, I have found that the original Wasserstein Dice loss (with `weighting_mode="default"` in MONAI) worked better than the Wasserstein Dice loss with the alternative normalization that we used for COVID-19 (with `weighting_mode="GDL"` in MONAI). It was only a quick comparison, so this has to be interpreted with caution.
It seems that the BraTS m

[2020-12-07 04:40] zhongqiu1245 opened #1323 "Can MONAI support multi GPU？"
Thank you for your amazing job!
Does MONAI support multi-GPU training?？
If support, how can I use it?
Thank you!(forgive me my poor English)

[2020-12-07 07:15] babbu3682 commented on #1298
Hi @wyli !

If I want to crop the images which have the target class, how can I revise your code? because I want to balance the mask class in cropped images.

[2020-12-07 08:17] kissievendor commented on #1317
The problem is, that it doesn't save the segmentations correctly.
In the transform, I change the orientation to 'RAS'.

If I don't do that, I do not get the error. So I think there is an error in coverting the segmentation back to the original orientation.

[2020-12-07 09:01] kissievendor commented on #1317
I think I may have solved it.
In your code, you use expand_dims (see below). I think it should be np.squeeze(data, 0)

It works for me now. Thank you.

![image](https://user-images.githubusercontent.com/54887561/101330594-146cc800-3873-11eb-927a-386d0dfeba19.png)

[2020-12-07 09:18] Nic-Ma commented on #1323
Hi @zhongqiu1245 ,

Yes, MONAI can support multi-GPU, you can use the standard PyTorch method to launch your multi-GPU program, we don't make any API above PyTorch multi-GPU API.

Thanks.

[2020-12-07 09:44] zhongqiu1245 commented on #1323
Thank you

[2020-12-07 09:44] #1323 closed

[2020-12-07 09:55] #1317 closed

[2020-12-07 12:07] jwutsetro commented on #1314
No problem! I ended up using another strategy anyway. But the idea of soft labels is still interesting I think! In another project I am having simular troubles with uncertain boundaries.

I will wait for after the challenge!
Kind regards,
Joris Wuts

[2020-12-07 19:07] YuanTingHsieh commented on #1273
Yeah, for the "PyTorch+CUDA10.2" environment whether you do torch.jit.script on CPU or GPU.

If you evaluate on GPU,
The original model's result will be different from the converted model's result

[2020-12-07 21:36] wyli commented on #1313
yes, not all the networks support arbitrary input dimensions, we don't currently have an exhaustive list of the suitable options, you could try different values and please consider using https://github.com/Project-MONAI/MONAI/blob/395fa23758faff0a15ff7e88d60d9fe142268118/monai/transforms/croppad/array.py#L598
or https://github.com/Project-MONAI/MONAI/blob/395fa23758faff0a15ff7e88d60d9fe142268118/m

[2020-12-07 21:36] #1313 closed

[2020-12-07 22:11] wyli commented on #1306
just wanted to make it clear that we won't be able to provide you deep learning consultancy just for your personal projects. but if you could provide sufficient information that is potentially beneficial for the other users and the community, we'll be happy to help.

[2020-12-07 22:11] #1306 closed

[2020-12-08 01:41] babbu3682 commented on #1298
Hi @wyli !

If I want to crop the images which have the target class, how can I revise your code? because I want to balance the mask class in cropped images.

[2020-12-08 02:16] GOZGOXGOYGO opened #1328 "RuntimeError: can't start new thread"
Hi there,

When I run the code for a time, it will come up with the RuntimeError and make the thread become all occupied. I don't know what is happening. Could you please help me solve it?

Best,
Frank

[2020-12-08 02:35] Nic-Ma commented on #1328
Hi @GOZGOXGOYGO ,

Could you please help share your error log or backtrace?

Thanks.

[2020-12-08 02:40] GOZGOXGOYGO commented on #1328
The error log is like this.
[code]
After that, when I open a python console and import numpy/pytorch etc. It will output this kind of log information.
[code]

[2020-12-08 02:43] Nic-Ma commented on #1328
Can you run other regular PyTorch program not related to MONAI?
And what's the MONAI program you are using?

Thanks.

[2020-12-08 02:46] GOZGOXGOYGO commented on #1328
Yes, I can run other pytorch program. And the MONAI program I am using is just like the tutorial code 2D unet training dict. Thank you.

[2020-12-08 03:00] Nic-Ma commented on #1328
Are you using MONAI docker or installed all the `requirements.txt` locally?
Could you please help call below code to provide the env details?
[code]
Seems like something related to PyTorch env settings, @wyli @ericspod have you guys seen this error before?

Thanks.

[2020-12-08 03:15] GOZGOXGOYGO commented on #1328
Here it is.
[code]

[2020-12-08 08:35] Nic-Ma opened #1330 "Combine compute_bounding_rect and generate_spatial_bounding_box"
**Is your feature request related to a problem? Please describe.**
`generate_spatial_bounding_box` and `compute_bounding_rect` have similar functions, need to refine and combine them.

[2020-12-08 10:01] rijobro commented on #1273
Because of the problems, the unit test that saves the network and loads it back in only uses the CPU (see https://github.com/Project-MONAI/MONAI/pull/1268). Now that @YuanTingHsieh has figured out which is the problematic configuration, it would be good if all the other configurations also tested the GPU if available.

[2020-12-08 20:48] tvercaut opened #1332 "Versatile distance transforms (Euclidean and Geodesic)"
**Is your feature request related to a problem? Please describe.**
Several segmentation pipelines, and in particular interactive segementation ones, rely on some form of distance transform (e.g. Euclidean, Chamfer or Geodesic Distance Transform).

At the moment there is no off-the-shelf pytorch function to compute these.

**Describe the solution you'd like**
A MONAI-based implementation of distanc

[2020-12-09 01:36] GOZGOXGOYGO commented on #1328
I create a new environment to run the code now, it seems alright. Maybe there exist some env conflict.

Thank you.

[2020-12-09 02:04] GOZGOXGOYGO opened #1333 "The prediction has different direction with the original val dataset"
Hi,

I am using NiftiSaver to save the  prediction of val dataset. However, the predict result has different direction with the original val dataset. Could you please help me find what is wrong? My code is here. It is almost the same with the code in tutorial.

[code]

Best,
Frank

[2020-12-09 02:10] Nic-Ma commented on #1328
sounds good!

[2020-12-09 02:10] #1328 closed

[2020-12-09 02:14] Nic-Ma commented on #1333
Hi @GOZGOXGOYGO ,

I think you can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_evaluation_dict.py
Note that `NiftiSaver` takes affine information from metadata(which is missing in your code):
[code]

Thanks.

[2020-12-09 03:19] GOZGOXGOYGO commented on #1333
I modify this part in my code, the prediction has the same naming index as the image has now. However, the direction still not match.

[2020-12-09 03:39] Nic-Ma commented on #1333
Hi @wyli , I want to double confirm whether the Nibabel reader/writer will change the image orientation during loading or writing? In this case, I think there are no spatial transforms at all.

Thanks.

[2020-12-09 06:38] AmoghJ001 opened #1335 "Type Error: Data Type not understood"
When I am loading the test set for inference after training, I am getting data type not understood error. And I tried searching but I guess no one has faced this issue while segmentation. Please help me @Nic-Ma  as I am a beginner. Thanks! Here’s the main inference code

    inferer = get_inferer()
    saver = monai.data.NiftiSaver(output_dir=prediction_folder, mode="nearest")
    with torch.no_gr

[2020-12-09 08:05] wyli commented on #1236
this is still an issue https://github.com/Project-MONAI/MONAI/actions/runs/409632569

[2020-12-09 08:12] wyli commented on #1333
orientation is defined by affine, could you share val_data["img_meta_dict"]["affine"] and val_data["img_meta_dict"]["original_affine"]

[2020-12-09 08:14] wyli commented on #1332
also used in monai metrics computation https://github.com/Project-MONAI/MONAI/blob/f01994d47403f920b5a51cfeae75418383d10178/monai/metrics/utils.py#L23

[2020-12-09 08:22] GOZGOXGOYGO commented on #1333
val_data["img_meta_dict"]["affine"]
[code]

val_data["img_meta_dict"]["original_affine"]
[code]

Thank you.

[2020-12-09 12:30] wyli commented on #1333
thanks, those affine mean both in reading and writing the volume orientation doesn't change.

maybe it's just the conventions of XY and HW makes the image 'flipped', you could try the PNG saver.

[2020-12-09 13:36] wyli commented on #1298
Hi @babbu3682 you can add a tiny value to all the locations in the weight map, something like `w = (label == label.max()) + 1e-2`

[2020-12-09 15:31] rijobro commented on #1335
The problem is during the inference? Try changing `dtype = (np.float32,)` to `dtype = np.float32`.

[2020-12-09 16:11] AmoghJ001 commented on #1335
Tried that. That doesnt solve the problem. Getting the same error.
RandGaussianNoised being a dict transform expects all the images to be of same shape. This is written on the MONAI transforms page. My test set contains images of varying slices like: (512,512,X).
Is that causing the issue?

[2020-12-09 17:09] #1330 closed

[2020-12-09 17:54] charliebudd opened #1337 "Providing a default profiling toolset for use in MONAI"
While we have the timing decorator in utils, this only registers cpu time which can be a poor indication of the actual proccessing time. It would be nice to have some default tools for profiling that takes gpu time into account.

Pytorch does supply a profiler (torch.autograd.profiler) however the interface is more complex than most uses cases require.

I suggest we provide a couple of common use

[2020-12-09 18:03] cemde opened #1338 "CheckpointSaver: incorrect labelling of final model"
**Describe the bug**
When using a `CheckpointSaver` among the validation handlers, the argument `save_final=True` results in every epoch being stored under `net_final_iteration=1.pt` when `final_filename=None`. I interpret the docs (`default to checkpoint_final_iteration=N.pt`) that the file will be renamed after each completed epoch.

**To Reproduce**
add `save_final=True` to the `CheckpointHandl

[2020-12-09 19:43] wyli commented on #292
possible the bounding box convention (this is in 2d only) https://github.com/albumentations-team/albumentations/blob/aa53526fdb6c789f640635a1917d4e4dd47d1069/albumentations/augmentations/bbox_utils.py#L211-L214

[2020-12-09 20:03] wyli commented on #1300
https://github.com/pytorch/pytorch/issues/48370

[2020-12-09 20:09] wyli commented on #1225
couldn't replicate this I'm closing the issue

[2020-12-09 20:09] #1225 closed

[2020-12-09 21:15] #1245 closed

[2020-12-10 02:16] GOZGOXGOYGO commented on #1333
I try the PNGSaver, but it seems not work as well. It is strange.

[code]

[2020-12-10 08:44] Nic-Ma commented on #1335
Hi @AmoghJ001 and @rijobro ,

The root cause of this issue is that we added Tensor data support  in `RandGaussianNoised ` after MONAI 0.3 release. So if you want to use it for Tensor data, please try to use the latest master code.

Thanks.

[2020-12-10 09:20] Nic-Ma commented on #1338
Hi @cemde ,

Thanks for your interest here.
Actually, `save_final` is used for trainer to save the last checkpoint when training completed or crashed, not for validator to save checkpoint every epoch.
For your use case, you can put below handler to the validation handlers:
[code]

Thanks.

[2020-12-10 09:43] Sabien1 opened #1340 "Why does the order in the upsampling path of the U-Net deviate from standard u-net?"
Hi,
I have a question about the U-Net you developed (with residual units). In every layer of the upsampling path, you first apply a transposed convolution, then a ‘normal’ convolution and then you concatanate the result with the result of the same layer of the downsampling path. However, in the link you refer to in the description of the U-Net (https://link.springer.com/chapter/10.1007/978-3-030-1

[2020-12-10 09:53] AmoghJ001 commented on #1335
Hi! Can you please elaborate further as I am a beginner. As you can see, I am converting to Tensors when applying transforms. So I am dealing with tensor data right? And what changes should I make to the above code?

[2020-12-10 09:59] Nic-Ma commented on #1340
@ericspod , could you please help share some details?

Thanks.

[2020-12-10 10:07] Nic-Ma commented on #1335
Hi @AmoghJ001 ,

I think the `infer_data` in below line is PyTorch Tensor:
[code]
So the easiest way for you is to uninstall your MONAI and install from the master code as we added support for Tensor in `RandGaussianNoised` transform after v0.3 release.
[code]

Thanks.

[2020-12-10 10:09] AmoghJ001 commented on #1335
Oh! Sure. Will try that! Thanks!

[2020-12-10 10:50] Nic-Ma commented on #1338
Hi @cemde ,

I submitted PR #1341 to enhance the `save_final` in `CheckpointSaver` handler, when PR merged, you can also use:
[code]
to achieve your requirement.

Thanks.

[2020-12-10 11:48] mikiwang820 opened #1342 "RandCropByPosNegLabeld"
**Hello,**
**I want to reproduce spleen_segmentation_3d code on LiTS open source dataset.**
**I tried two ways, but all of these didn't work.**
**Below is my code and error, and I consider these errors maybe come from RandCropByPosNegLabeld or memory is not large enough.**
**However, I can't figure out how should I deal with this problem.**
**Is there any solution for this? I will appreciate it.**

[2020-12-10 12:05] kissievendor commented on #1258
Yes. But in the encoding part, there is a additional convolution. This is why the number of parameters is larger when adding one Residual Unit.
But is the Convolution supposed to be there / does it do anything? Since it has a stride of 2, one would think the input size is downsampled.

[2020-12-10 12:34] Nic-Ma commented on #1342
Hi @mikiwang820 ,

I think maybe some of your images in the dataset is smaller than your crop size `(64,64,64)`?
Could you please try smaller crop size or different `spacing` parameters(now it's `pixdim=(1.0, 1.0, 2.0)`)?
You can also use some resize transform to unify the image size first.

Thanks.

[2020-12-10 13:10] mikiwang820 commented on #1342
Hi @Nic-Ma ,

First of all, thanks for your reply, and I will try it.
However, I have a question about resize transform, is that fine for medical images?
cause I think the shape.of organ could be fairly different.

[2020-12-10 13:44] #1338 closed

[2020-12-10 14:27] mikiwang820 commented on #1342
Hi, @Nic-Ma ,

Thanks for your reply. It works.

[2020-12-10 14:34] #1342 closed

[2020-12-10 15:52] wyli commented on #1337
fixed by #1343

[2020-12-10 15:52] #1337 closed

[2020-12-10 17:19] #1210 closed

[2020-12-10 17:29] wyli opened #1344 "compatibility with pytorch 1.7.1"
**Is your feature request related to a problem? Please describe.**
check compatibility with the latest pytorch

[2020-12-10 20:51] mbiparva opened #1346 "highresnet; there is no need to pass the inplace input argument for all activations except ReLU"
Hello guys,

I am using Highresnet in MONAI. There is a minor bug in the code at:

`monai/networks/nets/highresnet.py:79`

The issue is that there is no ```inplace``` input argument for activations other than ReLU such as PReLU.

[2020-12-10 21:32] wyli commented on #1346
thanks for reporting, indeed the api needs to be enhanced similarly to this https://github.com/Project-MONAI/MONAI/blob/453d40dee43dc8e3723c9ff4ebb92728763d63fe/monai/networks/nets/basic_unet.py#L144-L145

[2020-12-10 23:42] mbiparva opened #1348 "dynunet block: stride is unused but rather upsample_kernel_size is used"
Hello guys,

In the `monai/networks/blocks/dynunet_block.py:183` input argument `stride` is not used and then oddly `upsample_stride = upsample_kernel_size`. I would say you should change it to something like this:

[code]

This is going to lead to issue if the stride at some layer is different than upsample_kernel_size.

[2020-12-11 00:41] Nic-Ma opened #1349 "Missing "astype(img.dtype)" in NormalizeIntensity"
**Describe the bug**
Need to add `astype(img.dtype)` in NormalizeIntensity transform, same as others.
Working on a PR, will fix it soon.

[2020-12-11 00:41] Nic-Ma commented on #1349
FYI @madil90

[2020-12-11 00:47] ericspod commented on #1340
What is going on is what is described in the paper. [Here](https://github.com/Project-MONAI/MONAI/blob/453d40dee43dc8e3723c9ff4ebb92728763d63fe/monai/networks/nets/unet.py#L103) each layer of the UNet structure is represented by a Sequential containing a layer of the downsample path, the skip connection, and a layer of the upsample path. As configured here the [skip connection](https://github.com/

[2020-12-11 05:51] ChenglongWang commented on #1348
Hope this comment may help. https://github.com/Project-MONAI/MONAI/pull/1070#issuecomment-706195760

[2020-12-11 07:18] shenao1994 opened #1350 "I'm going to use AHNet."
I want to use AHNet for image classification.I read articles about AHNet. He mentioned that 2D images can be used for input, and the correlation between slices can be learned. But I want to know how the network knows that these individual 2D images come from the same lesion when I input 2D images.Or does it learn more about the relationship between slices when inputting 3D images?Thanks！

[2020-12-11 10:32] #1344 closed

[2020-12-11 11:12] wyli opened #1353 "lmdbdataset progress bar optional"
**Is your feature request related to a problem? Please describe.**
the current lmdbdataset always displays progress bars, it might be verbose in certain cases.
the API could include an option to switch them off

[2020-12-11 14:58] take5v opened #1357 "Need to transpose array obtained from itk instead of reversing of itk.size() in ITKReader"
### Description

In ITKReader, ```itk.size(img)``` should not be reversed since it outputs correct size of an image. Instead, itk.array_view_from_image(img, keep_axes=False) provides the transposed array and such numpy array must be transposed because of the differences of storing the data in numpy and itk.

This PR is wrong: https://github.com/Project-MONAI/MONAI/pull/1045. See also https://githu

[2020-12-11 15:40] #1349 closed

[2020-12-11 16:05] wyli opened #1358 "issues vs discussions"
**Is your feature request related to a problem? Please describe.**
as discussed in the dev meeting we'd like to experiment with [github discussions tab](https://github.com/Project-MONAI/MONAI/discussions):

- setup the discussions tab with an initial message
- update the issue templates with a link to the tab and encourage the usage/generic questions etc. go to the discussions tab, the issue list

[2020-12-11 16:29] Sabien1 commented on #1340
@ericspod Thank you for your reply! However, I still don't quite understand, which is mostly caused by this image (from the paper)
![residual_unit](https://user-images.githubusercontent.com/75782467/101927112-65165500-3bd4-11eb-9def-da5d8d3e0f25.PNG)
In this image, the residual unit in the upsampling path consist of a transposed convolution, then the concatenation and then a normal conv2d. The way

[2020-12-11 16:51] #1353 closed

[2020-12-12 18:19] massimilianoporzio opened #1362 "USING LR REDUCE LR ON PLATEAU"
In the file test_handler_lr_scheduler.py  :
  lr_scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, patience=1)
  handler = LrScheduleHandler(lr_scheduler, step_transform=lambda x: val_engine.state.metrics["val_loss"])

In the code of challenge_baseline how to use it? Can anyone explain what to specify in step_transform and output_transform?
evaluator.state.metrics["val_loss"] does

[2020-12-13 10:54] #1335 closed

[2020-12-13 10:59] wyli commented on #1284
no progress for 3 weeks I'm closing this for now

[2020-12-13 10:59] #1284 closed

[2020-12-13 11:05] #1240 closed

[2020-12-14 01:37] thewtex commented on #1357
@take5v we need to avoid `itk.array_view_from_image(img, keep_axes=False)` because it results in data storage that [is different from NumPy](https://scikit-image.org/docs/dev/user_guide/numpy_images.html) and PyTorch. We need to avoid unnecessary related performance penalties.

#1045 adds the correct reversal in `itk.size` to correspond to the index ordering of a C-order NumPy array, described in

[2020-12-14 08:47] Nic-Ma commented on #1350
Hi @shenao1994 ,

Sorry for the delayed response, thanks for your interest here, let me ask the author of AHNet to help answer.
Thanks.

[2020-12-14 08:50] Nic-Ma commented on #1357
Hi @thewtex and @aylward ,

Thanks for your detailed explanation here.
Could you please help submit a MR to MONAI to update something once ITK fixed the order?
Let's keep this ticket open to track it.

Thanks in advance.

[2020-12-14 08:57] Nic-Ma commented on #1362
Hi @wyli ,

Could you please help share some info here? I think may need to change the expected metric key in `step_transform` according to `challenge_baseline` notebook.

Thanks.

[2020-12-14 09:19] massimilianoporzio commented on #1362
THE problem is that the trainer is a MONAI trainer not a Ignite trainer and
is training using a dictionary based dataset so I think I have to change
something but I don't know  exactly what...
As soon as possible I will share a code chunk with errors....

Il giorno lun 14 dic 2020 alle ore 09:57 Nic Ma <notifications@github.com>
ha scritto:

[2020-12-14 09:43] patriciacs1994 commented on #415
Hi @Nic-Ma, I have followed your steps to build a multi-classes segmentation model but I am getting an error in this line:

`value = monai.metrics.compute_meandice(y_pred=val_outputs, y=val_labels, include_background=False)`
_ValueError: y_pred and y should have same shapes._
y_pred shape is: torch.Size([1, 4, 192, 192])
y shape is:  torch.Size([1, 1, 192, 192])

So, I guess I have to include **to

[2020-12-14 11:07] Nic-Ma commented on #415
Hi @patriciacs1994 ,

You should consider to apply `post transforms` before metrics, refer to:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d.ipynb

Thanks.

[2020-12-14 14:40] patriciacs1994 commented on #415
Thank you for your quick response @Nic-Ma,
Now, it works!

[2020-12-14 14:50] take5v commented on #1357
Hi @aylward, @thewtex, @Nic-Ma!

I have made a simple test in order to check ITKReader currently implemented in MONAI. Beforehand, I converted nifty anatomical.nii availble in MONAI test data.

[code]

Currently this test is failed:
itk_array shape is (25, 41, 33) whereas nifty_array shape is (33, 41, 25)
itk_meta_data['spatial_shape'] is (25, 41, 33) whereas nifty_metadata['spatial_shape'] is (33

[2020-12-14 15:01] Nic-Ma commented on #1350
After syncing with internal team:
The AHNet learns about the relation when inputting 3D images, and current version of AHNet is not for classification.

Thanks.

[2020-12-14 20:34] #1290 closed

[2020-12-14 20:49] #1350 closed

[2020-12-14 20:50] #1348 closed

[2020-12-14 20:54] wyli commented on #1215
fixed by https://github.com/Project-MONAI/MONAI/pull/1320, please reopen if needed

[2020-12-14 20:54] #1215 closed

[2020-12-14 20:55] #1169 closed

[2020-12-15 01:50] ericspod commented on #1340
Sorry, I did state incorrectly that the paper is describing the current UNet. I think the implementation has changed from what's described in this figure, in the upsample layer the input from the previous layer and the skip connect are concatenated together before being passed to the transposed convolution. This figure shows the skip connect data being concatenated with the output from the transpo

[2020-12-15 12:53] #1358 closed

[2020-12-15 14:11] #1346 closed

[2020-12-15 15:45] patriciacs1994 opened #1367 "No Expected Model Output dimensions"
Hello,
I am using an autoencoder but the output channel dimension of the model does not correspond with the out-channel variable.
Here is my code:
[code]

I am getting this error:

RuntimeError                              Traceback (most recent call last)
<ipython-input-7-779c911ab35f> in <module>
    224
    225 with tempfile.TemporaryDirectory() as tempdir:
--> 226     outputs, labels, outputs1

[2020-12-16 14:09] Nic-Ma commented on #1367
Hi @rijobro ,

Could you please help check this issue as you are expert on the AutoEncoder?
Thanks in advance.

[2020-12-16 14:11] Nic-Ma commented on #1362
Sure, please share your code for better debug and analysis.
Thanks.

[2020-12-16 15:11] patriciacs1994 commented on #1367
Hi,
I went able to fix it by changing the number of channels:

[code]
Thank you, anyway.

[2020-12-16 16:07] Sabien1 commented on #1340
@ericspod Thanks! Then the network is completely clear to me now. Is there any particular reason why you deviate from it? Or just because it improved the performance?

[2020-12-16 16:27] rijobro commented on #1367
Looks a little bit suspicious to me. I'll look at this, thanks for bringing it to our attention.

[2020-12-16 16:32] rijobro commented on #1367
Ah I see the problem. The number of strides should match the number of channels for the autoencoder, which it doesn't in your first example.

I'll add a check for this to avoid future confusion.

[2020-12-16 16:38] charliebudd opened #1370 "Auto formatting includes '.venv' directory"
**Describe the bug**
flake8 and isort are configured to ignore 'venv' not the also common '.venv' directory leading to false fails and corrupted virtual environments

**To Reproduce**
Steps to reproduce the behavior:
1. Setup dev environment with a virtual environment named '.venv'
2. run './runtests.sh --codeformat --nounittests'
3. tests will fail due to files in in the virtual environment folde

[2020-12-16 17:10] #1370 closed

[2020-12-16 17:17] charliebudd opened #1373 "pip modules required to build docs not in requirements-dev.txt"
Certain modules are missing from 'requirements-dev.txt' that are required to build the docs...
Sphinx
recommonmark
sphinx-autodoc-typehints
sphinx-rtd-theme

**To Reproduce**
Steps to reproduce the behavior:
1. Make a fresh pip/conda environment
2. Install requirementsfrom 'requirements-dev.txt'
3. Try to build docs (cd docs -> make html)
4. Fails due to missing modules

**Expected behavior**
'req

[2020-12-16 18:53] #1367 closed

[2020-12-16 19:58] #1373 closed

[2020-12-17 03:14] thewtex commented on #1357
@Nic-Ma @take5v just a note that I will take some time to follow up on this over the next few days.

[2020-12-17 10:16] michalhg opened #1377 "bug with inference when working with multiple GPUs"
I received this error :
seg_prob = predictor(window_data, *args, **kwargs).to(device)  # batched patch segmentation
AttributeError: 'tuple' object has no attribute 'to'

the network I ran is SegResnetVAE, on two GPUs,  using DataParallel for the model.

I don't understand this error

[2020-12-17 11:03] elitap opened #1378 "SegmentationSaver fails if dtype is np.uint8"
SegmentationSaver fails with RuntimeError: "inverse_cpu" not implemented for 'Byte' if dtype is np.uint8 in monai.networks.utils line 158. It hapens when the output image that should be written by the Segmentation Saver should be uint8 (which in my eyes is the most meaningfull datatype for saving labelmaps) and an affine transformation is to be applied to rescale the output to the same spacing as

[2020-12-17 11:55] wyli commented on #1377
looks like duplicate of https://github.com/Project-MONAI/MONAI/issues/1263 the network returns a tuple instead of tensor. so  could try using `lambda image: segresnet(image)[0]` as the model to sliding window

[2020-12-17 13:39] wyli opened #1380 "docker image tests failed due to dockerhub limitation"
cron-docker-test couldn't pull from dockerhub:
[code]

https://github.com/Project-MONAI/MONAI/runs/1567795300?check_suite_focus=true#step:2:14

cc @IsaacYangSLA @YuanTingHsieh @behxyz @yanchengnv

[2020-12-17 14:12] wyli commented on #1380
I've submitted an OSS project application to get dockerhub's support
https://www.docker.com/community/open-source/application

[2020-12-17 15:17] wyli commented on #1378
thanks for the detailed feedback, there are options of `dtype` and `output_dtype` in nifti_writer 0.4.0 to address this issue: https://github.com/Project-MONAI/MONAI/blob/1608b10fa9ad2ced77d7fc66373c513017f89fea/monai/data/nifti_writer.py#L34-L35
the options should be made available for `NiftiSaver` `SegmentationSaver`

[2020-12-17 17:00] rijobro opened #1382 "British or American spelling?"
I searched through the GitHub repository and couldn't see any mention of spelling convention. I guess it should be stated in the [CONTRIBUTING.md](https://github.com/Project-MONAI/MONAI/blob/master/CONTRIBUTING.md).

Not so important, but I guess we might as well choose one and stick to it. There's a few mixtures of normalise/normalize, visualise/visualize, etc., throughout the codebase.

Partiall

[2020-12-17 18:48] tvercaut commented on #1382
PyTorch seems to follow US spelling and MONAI attempts at following PyTorch conventions by default. By transitivity I would thus say that MONAI should use US spelling. It would make sense to clarify the English language and US spelling guidelines in MONAI's contribution guidelines

[2020-12-17 18:58] ericspod commented on #1340
The current version seemed the easier one to implement as well as being compatible with Torchscript. There is very little performance difference between subtle variations on the same architecture, how one trains and for how long has more impact.

[2020-12-18 03:37] ericspod commented on #1382
Software in general seems dominated by US spelling. For example, I see "color" everywhere and only once have seen "colour" used as a type name in a library. US spelling has the advantage of at least being a little more concise.

[2020-12-18 09:52] rijobro opened #1387 "DynUNet different shape in eval mode?"
**Describe the bug**

Line 126 of [test_dynunet.py](https://github.com/Project-MONAI/MONAI/blob/master/tests/test_dynunet.py#L126) has:

[code]
but when changing to:

[code]

the unit test fails with the following error:

[code]

Spotted in this PR, which calls `eval` and `no_grad` together: https://github.com/Project-MONAI/MONAI/pull/1384.

**To Reproduce**
1. run `python tests/test_dynunet.py` -

[2020-12-18 09:56] rijobro commented on #1387
Apologies, from the `DynUnet` documentation:

            If added, in training mode, the network will output not only the last feature maps
            (after being converted via output block), but also the previous feature maps that come
            from the intermediate up sample layers.

so I guess the behaviour is to be expected.

[2020-12-18 09:56] #1387 closed

[2020-12-18 11:58] wyli commented on #1387
maybe we should improve the usability, currently, it's indeed a bit confusing https://github.com/Project-MONAI/MONAI/issues/1263

[2020-12-18 12:32] rijobro commented on #1263
Could we have `__call__` just return the image, and then have an extra method `get_feature_maps`, which would require `deep_supervision==True`. In this way, the return of `net(x)` would be consistent regardless of `deep_supervision`.

[2020-12-18 13:27] charliebudd commented on #1225
potentially related? test ran fine before and after this run...
https://github.com/Project-MONAI/MONAI/pull/1375/checks?check_run_id=1576310468

[2020-12-18 14:21] #1198 closed

[2020-12-18 14:36] wyli commented on #315
bilateral filtering merged #1375, As discussed with @charliebudd, optional todos are:
- notebook demo for bilateral filtering
- testing with different combinations of input data types
- evaluate the hash table collisions

[2020-12-18 16:21] #1382 closed

[2020-12-18 17:55] stephenbaek opened #1389 "LoadPNG for datasets with heterogeneous channel dimensions"
**Is your feature request related to a problem? Please describe.**
There are datasets where some images have different channel dimensions. For instance, the NIH Chest X-Ray dataset has the majority of images with a single channel (grayscale), but some of them are coded in 3 channels (RGB) or 4 channels (RGBA).

**Describe the solution you'd like**
Wouldn't it be nice if there was a flag in LoadPNG

[2020-12-18 23:20] Nic-Ma commented on #1378
Hi @elitap and @wyli ,

Thanks for raising this up, I will try to enhance it ASAP.

[2020-12-18 23:20] Nic-Ma commented on #1377
close as duplicated issue.
Thanks.

[2020-12-18 23:20] #1377 closed

[2020-12-18 23:27] Nic-Ma commented on #1389
Hi @stephenbaek ,

Thanks for your interest here.
Now we use `PIL.Image` and `ITK` to load PNG images, is there any potential args in these APIs or the `converter` can satisfy your request?
For example, you can specify PILReader for LoadImage with a `converter`:
[code]

Thanks.

[2020-12-19 13:30] stephenbaek commented on #1389
@Nic-Ma Thanks for getting back. Using `PIL.Image` and `ITK` sounds better. `converter` should work in my case. I just wanted my transforms to generate something that is compatible with networks. Considering that almost all CNNs expect images of the same number of channels, it sounds almost trivial that load image transforms must return arrays with the same channel dimensions. Perhaps, you may wan

[2020-12-19 16:13] aylward commented on #1389
ITK allows you to specify the pixel type that you want returned by the reader.   It should be possible to pass this to through the MONAI API to the LoadImage function. 

The following demos this for a color RGB image - showing it being read as a greyscale or as a multi-channel image based on the arguments passed to itk.imread().

![RBG-Grey](https://user-images.githubusercontent.com/279727/1026937

[2020-12-19 16:51] #1362 closed

[2020-12-19 16:51] #1340 closed

[2020-12-19 16:52] #1314 closed

[2020-12-19 16:52] #1267 closed

[2020-12-19 17:01] wyli commented on #1166
the DOI is available: https://doi.org/10.5281/zenodo.4323058

(need to add it to the main readme)

**The MONAI Consortium. (2020). Project MONAI. Zenodo. [http://doi.org/10.5281/zenodo.4323059](http://doi.org/10.5281/zenodo.4323059)**

[2020-12-19 17:05] wyli commented on #224
update: https://github.com/Project-MONAI/MONAI/issues/1358

[2020-12-19 17:07] wyli commented on #87
close this in favour of https://github.com/Project-MONAI/MONAI/issues/1117 https://github.com/Project-MONAI/MONAI/issues/1160

[2020-12-19 17:07] #87 closed

[2020-12-19 17:08] #147 closed

[2020-12-20 12:22] Nic-Ma commented on #1389
Thanks @stephenbaek and @aylward for your suggestions, maybe IO working group can have a further discussion on it.

Thanks.

[2020-12-20 12:23] #1389 closed

[2020-12-21 18:12] architraj29 opened #1390 "Sliding Window Inference giving error on 0.4.0"
Command used for Sliding Window Inference (Error on Monai 0.4.0 but its working fine on 0.3.0)

### Code Snippet:
---------------------------------------------------------------------------

[code]
Getting same error with and without amp

Network Used (DynUNet as proposed in tutorial):

[code]

### Error:
---------------------------------------------------------------------------

AttributeError

[2020-12-23 05:59] Nic-Ma commented on #1390
Hi @architraj29 ,

Thanks for your interest here.
Your issue is similar to: https://github.com/Project-MONAI/MONAI/issues/1263
I will submit a PR to make it more clear.

Thanks.

[2020-12-23 22:50] thewtex commented on #1357
To follow-up, I made some progress on this, but I will come back to it after I return in the new year. Happy pre-2021!

[2020-12-25 02:19] GOZGOXGOYGO opened #1396 "Quantitaive performance of DynUNet"
Hi,

may I ask if there is a quantitaive performance comparison between the DynUNet and the nnUNet? Thank you.

[2020-12-25 14:43] Nic-Ma commented on #1396
Hi @wyli and @ericspod ,

Could you please help share some information here?

Thanks in advance.

[2020-12-28 08:27] sekh77 opened #1399 "BRATS tutorial - Test custom NIFTI images"
Hi -

I'm using the latest BRATS tutorial on MONAI v0.4.0. I have a couple of NIFTI images in my data folder very much similar to the Decathlon Dataset. How do I use these images to test the model? The provided code tutorial in github, currently, selects one image from the validation dataset to evaluate and visualize the model output [referring to this line of the code: _val_input = val_ds[10]["im

[2020-12-28 13:49] #1378 closed

[2020-12-29 03:13] ericspod commented on #1396
I can't say myself anything about the two networks for performance, @wyli or @martaranzini or @irme might have some input.

[2020-12-29 09:07] danielschulz commented on #1380
May I fix this issue?

[2020-12-29 10:34] architraj29 opened #1400 "Error in Compose of Array implementation of transforms (Spacing and Orientation)"
**Describe the bug**
Compose for Array implemented spacing transform and orientation transform are throwing error.
This is primarily due to the reason that implementation returns more than one output which doesn't work well as input for the next transform.

**To Reproduce**
Code to reproduce the error (the error exists in both MONAI 3.x and 4.x versions):
[code]

**Expected behavior**
This should

[2020-12-29 11:34] architraj29 commented on #1399
Following piece of code should be sufficient for replacing validation datasets from Brats deafult to a specified location:

[code]

[2020-12-29 13:53] #1399 closed

[2020-12-29 13:57] #1396 closed

[2020-12-29 17:01] hasansari opened #1401 "Image regression using current version"
Is it possible to do image regression (for example MR to CT conversion using MAE as loss function) using the current version of MONAI? Are there any examples/tutorials available?

[2020-12-29 23:43] #1401 closed

[2020-12-30 02:42] Nic-Ma commented on #1380
Of course, welcome to contribute a PR if you know how to fix it.

Thanks in advance.

[2020-12-30 02:45] Nic-Ma commented on #1400
Hi @architraj29 ,

Thanks for your interest and experiments with MONAI.
Could you please help change to use `dict` data and transforms in your task?
The array transforms may be not suitable for your case.

Thanks.

[2020-12-30 09:05] squaresoft2015 opened #1402 "Running setup.py install for lmdb ... error"
**Please use MONAI's Discussions tab**
I  tried to install the dependencies for development mode by using the command: pip3 install -r requirement-dev.txt, but it prompts the error code:
[code]

[2020-12-30 09:52] architraj29 commented on #1400
Hi @Nic-Ma

Thanks for the quick response.
I am trying to use the [GridPatchDataset](https://docs.monai.io/en/latest/_modules/monai/data/grid_dataset.html#GridPatchDataset) Dataloader.
It would be really helpful if you could share a code snippet on using the above function with `dict`

Thanks.

[2020-12-30 11:10] Nic-Ma commented on #1400
Hi @architraj29 ,

You are right, the `GridPatchDataset` can't support `dict` data so far, we may need to enhance it later.
For general Dataset, I think you can try below pseudo code:
[code]

If you must use `GridPatchDataset` and `Spacing` & `Orientation` transforms, you can define a simple function to execute transforms instead of `Compose` them:
[code]

Thanks.

Thanks.

[2020-12-30 11:11] Nic-Ma commented on #1402
Hi @wyli ,

Does `LMDB` have some special installation requirement?

Thanks.

[2020-12-30 12:54] architraj29 commented on #1400
Hi @Nic-Ma,

Thanks for your suggestion! That is indeed a good work around for my problem.
I came across another issue while executing the Spacing APIs as suggested by you.

**Issue**
When using Spacing API, resampling is happening only in 2 dimension not in all 3 dimensions. I am not sure if this is by design or this a bug.
Given medical data are mostly 3D in nature (esp. MRI and CT) so resamplin

[2020-12-30 13:59] Nic-Ma commented on #1400
Hi @architraj29 ,

Almost all the transforms in MONAI expect data shape `CHWD`, so you need to use `AddChannel` transform before `Spacing`.

Thanks.

[2020-12-30 14:32] #1390 closed

[2020-12-31 07:10] architraj29 commented on #1400
Thanks @Nic-Ma for all the clarifications provided.
It was really helpful!

Cheers.

[2020-12-31 07:10] #1400 closed

[2021-01-02 20:18] kvagdevi commented on #876
Hi, I just started working on MONAI with different datasets, I am also facing same problem as like @dlabella29, I just tried with all suggestions given by you two. But till i am facing problem, please help me.
As per @dlabella29 suggestion I used this ScaleIntensity(minv=0.0, maxv=1.0, factor=None)

Traceback (most recent call last):
  File "/home/ccig/anaconda3/envs/3dsegmentation/lib/python3.8/s

[2021-01-04 03:31] Nic-Ma commented on #876
Hi @kvagdevi ,

Could you please help share your test program for debug?
I am afraid you used wrong transform, if your data is in dict format, you should consider to use `ScaleIntensityd` instead of `ScaleIntensity`.

Thanks.

[2021-01-05 12:33] #1318 closed

[2021-01-05 14:27] kate-sann5100 opened #1405 "bending energy deformed loss"
**Is your feature request related to a problem? Please describe.**
Bending energy is a common loss used for image registration.

**Describe the solution you'd like**
Implement bending energy in `losses/deform.py`

**Describe alternatives you've considered**
N/A

**Additional context**
[Tensorflow implementation of bending energy by DeepReg](https://github.com/DeepRegNet/DeepReg/blob/f29b1c658124c8

[2021-01-05 15:36] wyli commented on #1402
looks like a gcc issue we couldn't do much from our side...

[2021-01-05 15:36] #1402 closed

[2021-01-05 15:41] wyli commented on #1333
this is a data type issue, please convert the model output to integers

[2021-01-05 17:46] wyli commented on #1132
today we discussed the requirement of FROC curves for lesion based evaluation

[2021-01-06 09:17] #1157 closed

[2021-01-06 11:19] kissievendor opened #1410 "MONAI version 4 changes norm to N"
**Describe the bug**
With the update, I can't load existing models anymore, because it expects 'model.0.N.weight' instead of 'model.0.norm.weight'.

**To Reproduce**
model = UNet(
dimensions=3,
in_channels=1,
out_channels=7,
channels=(32,64,128,256),
strides=(2,2,2),
norm=Norm.BATCH).to(device)

checkpoint = torch.load('experiment.pth')
model.load_state_dict(checkpoint['model_state_dict'])

**Expe

[2021-01-06 15:00] danielschulz commented on #1252
I basically just did that to solve the issue w/ rate limits on hub.docker.com. Here's my PR:
[#1406 ](https://github.com/Project-MONAI/MONAI/pull/1406)

That's how I'd solve the issue:
https://github.com/Project-MONAI/MONAI/pull/1406/files#diff-2b7a275119830a358bfee2c8a847ea3d1f46f4e2ad8e6239e76d60275e322021

[2021-01-06 15:04] danielschulz commented on #1276
I left you a comment in line 28 of:
https://github.com/Project-MONAI/MONAI/pull/1406/files#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557

This COPY command w/ more specific arguments might improve things a little better.

[2021-01-06 19:33] YipengHu opened #1412 "add image dissimilarity loss"
**Is your feature request related to a problem? Please describe.**
Add image dissimilarity measure between a pair of 1D-3D images for registration.

Like deform loss, image loss is reasonably independent for starting to put these in first. It also makes sense to me to add the three "major" ones in one go: squared-difference, cross-correlation-based, mutual-information.

Reference code:
https://git

[2021-01-06 21:17] kate-sann5100 commented on #1412
I can do that : )

[2021-01-06 21:20] #1380 closed

[2021-01-06 21:25] kate-sann5100 commented on #1412
The squared-difference is just the same as `nn.MSELoss`, do we want to implement that anyway?

[2021-01-06 21:34] wyli commented on #1412
I feel NMI or LNCC is good enough, also I think we could aim at a working supervised workflow first, expand to more options later

[2021-01-06 21:35] YipengHu commented on #1412
no - the MSELoss is adequate - just make sure it returns image-pair-wise losses before combined with other losses - it is not the default (see `reduction`)

[2021-01-06 21:35] YipengHu commented on #1412
for CT images, believe it or not, sq-difference works really well ;)

[2021-01-07 13:28] tvercaut opened #1417 "Make `spatial_gradient` a transform"
**Is your feature request related to a problem? Please describe.**
Being able to compute the spatial gradient of a tensor is an interesting self-contained feature. An nice implementation (from @kate-sann5100 ) is proposed in MONAI but is burried in the deformation loss code:
https://github.com/Project-MONAI/MONAI/blob/db7bf8984712f3e46ed533611a70c9b8cd0293bd/monai/losses/deform.py#L20-L44

This ma

[2021-01-07 16:00] wyli commented on #1410
thanks for the detailed report, this is also related to https://github.com/Project-MONAI/MONAI/issues/233. it's kind of expected as the project is under active development and we currently don't provide a backward compatibility guarantee. we could create a script to rename the variables if this becomes a frequent request. at the moment please try renaming the variables in the trained models

[2021-01-07 16:00] #1410 closed

[2021-01-07 17:02] tvercaut commented on #1405
Note: #1417 span out from the implementation of https://github.com/Project-MONAI/MONAI/blob/master/monai/losses/deform.py

[2021-01-07 21:46] #1276 closed

[2021-01-08 11:17] aihsani opened #1420 "ScanningWindowInferer accumulates gradient data and inference fails with out of memory"
**Bug Description**
The documentation does not explain that the MONAI inferers accumulate backpropagation information with each additional batch. The name "inferer" inherently implies no gradient information should be stored.

This took a few hours of detailed debugging to find the root cause, and creates a difficult user experience.

**To Reproduce**
Write a simple inference program using `Scanni

[2021-01-08 16:05] YipengHu commented on #1417
sobel vs Gaussian der: with a kernel size of 3 has no difference? any larger kernel could be more expensive.
conv vs slicing: is a performance issue. I recall i did this comparison with tf1 with mixed results, but cpu conv was slower (may not be relevant). @tvercaut

[2021-01-08 20:46] tvercaut commented on #1417
Yes, Gaussian derivative is more costly but it can be useful in some use cases and the best trade-off is likely application-specific.

[2021-01-09 15:16] Nic-Ma commented on #886
For the first step, I will try to implement a `summary report` tool based on ignite handler.

Thanks.

[2021-01-09 17:09] dlabella29 opened #1422 "AHNet parameters for 3D CT organ segmentation"
I am trying to use AHNet in MONAI instead of Unet for 3D segmentation and cannot figure out the parameters to get the model training.

I'm using nifti CT's with nifti kidney segmentations.

https://docs.monai.io/en/latest/networks.html

Unet working...
model = monai.networks.nets.UNet(dimensions=3, in_channels=1, out_channels=2, channels=(32, 64, 128, 256,512),strides=(2, 2, 2, 2), num_res_units=2

[2021-01-10 15:06] Nic-Ma commented on #1420
Hi @aihsani ,

Thanks for your feedback, I will enhance the document to make it more clear.

[2021-01-10 15:08] Nic-Ma commented on #1422
Hi @dlabella29 ,

I think the `out_channels` in your UNet and AHNet configs are different, could you please help double confirm it?
Thanks.

[2021-01-11 02:31] saruarlive opened #1424 "BilateralFilter importing error"
Hi, @Nic-Ma  et al,
How can I use the bilateral filter as it is not imporing? Could you kindly look into that?

![image](https://user-images.githubusercontent.com/24542592/104142757-2fc07b00-53bd-11eb-80f1-e907e86ee2fc.png)

[2021-01-11 07:26] Nic-Ma commented on #1424
Hi @saruarlive ,

Thanks for your interest here.
`BilateralFilter` was added after MONAI v0.4 release, so you want to use it, please update to use master branch code directly.

Thanks.

[2021-01-11 09:43] rijobro commented on #1424
@saruarlive check this comment for info on getting master branch: https://github.com/Project-MONAI/MONAI/pull/1409#issuecomment-756742166.

[2021-01-11 11:21] #1420 closed

[2021-01-11 13:36] dlabella29 commented on #1422
Hi @Nic-Ma,

I have tried out_channels values from [1,3] for AHNet, and each one resulted in the same error message.
RuntimeError: The size of tensor a (2) must match the size of tensor b (3) at non-singleton dimension 4

I also tried modifying psp_block_num from [0,4] and still received the same error message.

Would loading the data into cache matter for AHNet? Both ways worked for the UNet. I'm

[2021-01-11 16:02] rijobro commented on #1422
You're using all the default arguments from the constructor, so my guess is the size of the input image is wrong:

[code]
Does the above work?

[2021-01-11 17:18] dlabella29 commented on #1422
Hi @rijobro,

I ran your attached code without error.

I am also guessing the issue is with the input image.

But, I am not sure where the issue is since UNet is training appropriately without error on the same data set.

It's interesting that UNet is working with the default parameters (and adjustments above), but AHNet is not for the 3Dspleensegmentation file.

Please let me know if I am missing

[2021-01-11 17:25] rijobro commented on #1422
Unfortunately, there's no guarantee that if the default parameters of a network are OK with a set of images, then they will also be OK with another default network.

What is the shape fo the images you're trying to use?

[2021-01-12 07:56] Nic-Ma opened #1433 "Add TorchVision transform to call TorchVision transforms"
**Is your feature request related to a problem? Please describe.**
As `TorchVision` is very commonly used in DL projects, need to develop a wrapper transform to call TorchVision transforms based on both MONAI array and dict formats data.

Feature requested from internal team and users.

[2021-01-12 16:37] rijobro opened #1441 "download_url for amazon is slow"
**Describe the bug**
One of the tutorial downloads `Task09_Spleen.tar`, which is 1.5GB. This took 1m45 via `wget` and over 2 hours with MONAI's `download_url`.

**To Reproduce**
1. `wget https://msd-for-monai.s3-us-west-2.amazonaws.com/Task09_Spleen.tar`
2. monai.apps.download_and_extract("https://msd-for-monai.s3-us-west-2.amazonaws.com/Task09_Spleen.tar", "Task09_Spleen.tar", "~/test")
3. Observ

[2021-01-12 19:27] kate-sann5100 opened #1442 "Add LocalNet"
**Is your feature request related to a problem? Please describe.**
LocalNet, which is a common image registration network is not available in current package.

**Describe the solution you'd like**
Implement LocalNet.

**Describe alternatives you've considered**
N/A

**Additional context**
[DeepReg implementation of LocalNet](https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/backbone/lo

[2021-01-12 20:11] saruarlive opened #1443 "MeanDice ( monai.handlers.mean_dice) is not updating in multi-label segmentation task"
Hi, @Nic-Ma et al,

Could you kindly provide a simple toy example using the meandice handler in multi-label segmentation task?
I asked that before that the meandice score is not updating in the training log. It works while testing on random pred/target

![image](https://user-images.githubusercontent.com/24542592/104366646-fe10f680-5519-11eb-8cd6-629deee13ae0.png)

[2021-01-12 20:42] #1412 closed

[2021-01-13 10:48] #1433 closed

[2021-01-14 01:52] Nic-Ma commented on #1441
Hi @rijobro ,

Seems `wget` uses multi-threads to download data which is not supported in our API so far.
I will try to add multi-threads support for downloading next week.

Thanks.

[2021-01-14 01:57] Nic-Ma commented on #1443
Hi @saruarlive ,

If you want to compute `MeanDice` in ignite program or MONAI engines, you can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/modules/engines/unet_training_dict.py#L137
If you just want to compute `MeanDice` metrics in multi-labels task in regular PyTorch program, you can refer to:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentatio

[2021-01-14 09:28] rijobro commented on #1441
Thanks. Looking online, [this post](https://stackoverflow.com/a/2003565/12411867) (python2) claims urllib to be as fast as wget.

I wondered if we were getting slowed down because we loop in 1MB steps? https://github.com/Project-MONAI/MONAI/blob/master/monai/apps/utils.py#L116

[2021-01-14 09:33] Nic-Ma commented on #1441
Hi @rijobro ,

Do you know that's the buffer size of `wget`? Or maybe you can try to download again with a bigger buffer size?

Thanks.

[2021-01-14 09:34] rijobro commented on #1441
I have no idea, maybe it does something clever depending on the file size. I'll assign this one to me, and if I can't solve it, then maybe you can have a look at the multi-threading?

[2021-01-14 09:36] Nic-Ma commented on #1441
OK, sounds good.
Thanks.

[2021-01-14 09:37] rijobro commented on #1441
From the stackoverflow link I posted, it looks like we can just call urlretrieve with a callback function. Maybe that way, we let it take care of everything and just use the callback for updating the progress bar.

[2021-01-14 10:08] Nic-Ma commented on #909
Will deprecate `NiftiDataset`, add `ImageDataset` in another separate PR later.
Thanks.

[2021-01-14 18:36] adamaji opened #1451 "ITKReader does not read NRRD05 images with 'measurement frame' field"
**Describe the bug**
ITKReader throws an error when reading NRRD05 images with the "measurement frame" field. Here's part of the traceback:
[code]
**To Reproduce**
Run
[code]
Commenting out the `SetMetaData` line runs fine.

**Expected behavior**
ITKReader reads NRRD005 files.

**Environment**
[code]

**Additional context**
Is ignoring the `measurement frame` field like this here an acceptable fix

[2021-01-14 18:44] saruarlive commented on #1424
@Nic-Ma , @rijobro ,  Tried with the master branch with.
still encountering a problem with importing CPP files,
![image](https://user-images.githubusercontent.com/24542592/104634406-de580a80-56a0-11eb-9a5a-e3e2448ca38d.png)

[2021-01-14 23:58] kvagdevi commented on #876
Thank you for your quick reply, after several combinations and placed ScaleIntensityd` instead of `ScaleIntensity, then program running successfully with same parameters of Spleen, but after all epochs, dice coefficient is zero for all epchos and in output images there are many repeated input images. please help me. When I tried without ScaleIntensity and ScaleIntensityd, I got an error at loss fu

[2021-01-15 00:12] kate-sann5100 opened #1452 "add warp layer"
**Is your feature request related to a problem? Please describe.**
Current repository does not support warping base on ddf, which is indispensable for registration.

**Describe the solution you'd like**
Add a Warp layer.

**Describe alternatives you've considered**
N/A

**Additional context**
[DeepReg implementation of Warp layer](https://github.com/DeepRegNet/DeepReg/blob/456731e51b69548b7f529c24

[2021-01-15 06:54] #1442 closed

[2021-01-15 09:15] tvercaut commented on #1452
Note that this is related to #789, #189 and #95

Pytorch's [`grid-sample`](https://pytorch.org/docs/stable/nn.functional.html#grid-sample) function provides a GPU implementation of linear interpolation for image resampling.

There is already an initial implementation of higher order resampling here but it needs more testing and use case examples:
https://github.com/Project-MONAI/MONAI/tree/master/

[2021-01-15 10:35] #1441 closed

[2021-01-15 12:44] wyli commented on #1424
@saruarlive this an experimental feature currently not enabled by default, please install monai with `BUILD_MONAI=1` flag:  `BUILD_MONAI=1 pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI` https://docs.monai.io/en/latest/installation.html#option-2-editable-installation

also many thanks for reporting the issues, next time please post it in the discussion section: https://github.com

[2021-01-15 13:08] saruarlive commented on #807
@FabianIsensee , @martaranzini @wyli ,
Wonderful work. Could you kindly suggest what set of  heuristic rules/steps of nnU-Net  should I follow when using monai's dynUnet? I mean , whether to use 1. Cross-validation 2. Image resampling, 3. Choosing/Changing patch size

[2021-01-15 14:03] #1155 closed

[2021-01-15 15:16] tvercaut commented on #1424
It might be good to also mention the
[code]
option in the root README:
https://github.com/Project-MONAI/MONAI#installing-the-master-branch-from-the-source-code-repository

[2021-01-15 15:27] Nic-Ma commented on #1451
Hi @thewtex ,

Could you please help take a look at this issue and give a solution?

Thanks in advance.

[2021-01-15 16:01] kate-sann5100 commented on #1452
Thank you for the useful information. I will try to figure out the best way to integrate both pytorch and MONAI implementations into the layer.

[2021-01-15 16:30] rijobro commented on #1424
Or alternatively remove all installation instructions from the README, leaving just the link to https://docs.monai.io/en/latest/installation.html? Would save us from keeping the two in sync with each other.

[2021-01-15 21:38] dlabella29 commented on #1422
@rijobro

I have listed 3 different image shapes below from the same training/validation sample dataset...

image shape: torch.Size([512, 424, 87]), label shape: torch.Size([512, 424, 87])
image shape: torch.Size([512, 438, 90]), label shape: torch.Size([512, 438, 90])
image shape: torch.Size([496, 425, 53]), label shape: torch.Size([496, 425, 53])

These were produced 3 times respectively referri

[2021-01-16 14:09] #1422 closed

[2021-01-16 14:11] #1443 closed

[2021-01-16 14:11] #1424 closed

[2021-01-17 15:31] Littlehhh opened #1459 "PatchDataset/GridPatchDataset or SlidingWindowInferer for patch-based train with large volume"
# Description
Hi
I found that there are several ways in MONAI to implement patch-based(grid patch) training for large medical volume.
1. `PatchDataset/GridPatchDataset` with `SimpleInferer`
2. `Dataset` with `SlidingWindowInferer`
3. `Dataset` with `RandCropByPosNegLabel/(or extra transfrom)`

So which way should be better? And these ways have different loss(single patch/full volume/several patch)

[2021-01-17 21:59] kate-sann5100 commented on #1452
It would be super helpful if anyone could answer the following questions about the MONAI implementation of resampling:
- Is it true that in `grid_pull(input, grid)`, `grid[n, d, h, w]` specifies the `delta_z, delta_y, delta_x` displacements from the sample location to the target location ?
- What is the expected range of `grid`? Is it defined in the pixel_space, like defined in [`create_grid`](htt

[2021-01-18 09:12] tvercaut commented on #1452
@brudfors is probably th ebest person to advice on this implementation as it stemmed from https://github.com/balbasty/nitorch

[2021-01-18 13:57] brudfors commented on #1452
Hi @kate-sann5100

I am happy to try to answer your questions.

The grid is defined in the target/output space and should specify the coordinates to sample in the input image. The grid coordinates should be defined in the voxel space of the input image. Here is some sample code that may, or may not, shed some more light on how its used:

https://github.com/balbasty/nitorch/blob/master/demo/demo_sp

[2021-01-18 14:05] wyli opened #1462 "release precompiled binaries"
the monai components implemented in c++/cuda are not enabled by default, and currently require a manual compilation step in the target environment.

this ticket looks for precompiled wheels for some of the popular platforms (possibly delivered via github release asset https://docs.github.com/en/rest/reference/repos#upload-a-release-asset) so that the relevant users can download and use the compone

[2021-01-18 18:55] #909 closed

[2021-01-18 22:10] kate-sann5100 commented on #1452
@brudfors Thank you for the information, that completely answers my questions.

[2021-01-18 23:24] tvercaut commented on #1452
By the way, @brudfors is there a computational time comparison somewhere for pytorch `grid_sample` vs MONAI/nitorch `grid_pull` in say 3D linear interpolation mode?

[2021-01-19 03:27] babbu3682 opened #1464 "RandFlipd is wrong"
RandFlipd is not matching between image and label

---A---
RandFlipd(keys=["image", "label"], spatial_axis=0, prob=0.5),
RandFlipd(keys=["image", "label"], spatial_axis=1, prob=0.5),
RandFlipd(keys=["image", "label"], spatial_axis=2, prob=0.5),

---B---
RandFlipd(keys=["image", "label"], spatial_axis=[0,1,2], prob=0.5),

I used A or B but the result is same.

before:
![image](https://user-images.g

[2021-01-19 04:46] #1464 closed

[2021-01-19 07:39] lyuxiaobai opened #1465 "Rand3DElasticDict"
For segmentation tasks, are there any suggestions for the values ​​of sigma and magnitude_range of Rand3DElasticDict? If I pass the image and real annotations into this method at the same time, how should the mode be written? I want to use bilinear for images and nearest for real labeling, but I don’t know how to achieve this

[2021-01-19 07:39] lyuxiaobai commented on #1465
![Uploading image.png…]()

[2021-01-19 07:40] lyuxiaobai commented on #1465
train_transforms = Compose([
    LoadNiftid(keys={'image','label'}),
#     AddChanneld(keys={'image','label'}),
    ScaleIntensityd(keys={'image'}),
    Rand3DElasticDict(keys={'image','label'},sigma_range=(15,25),magnitude_range=(0,5),prob=0.4,mode='bilinear,nearest'),
    RandFlipDict(keys={'image','label'}),
    ToTensor()
])
代码如上

[2021-01-19 10:12] brudfors commented on #1452
Hi @tvercaut,

The below Colab notebook shows the speed-up doing GPU resampling compared to CPU:

https://colab.research.google.com/drive/1qICvEDn-p8RnmaG-9v0sZu__6OQafM4A?usp=sharing

it is quite substantial.

[2021-01-19 11:06] tvercaut commented on #1452
Thanks. I was more interested in GPU `grid_sample` (vanilla pytorch) vs GPU `grid_pull` (nitorch based).

[2021-01-19 12:05] brudfors commented on #1452
Oh yes, sorry, I added that comparison to the notebook as well: vanilla pytorch seems a little bit faster.

[2021-01-19 13:40] tvercaut commented on #1452
I am reopening this issue following the comment above and the note from @wyli here:
https://github.com/Project-MONAI/MONAI/pull/1463#pullrequestreview-571046758

I would suggest only using `grid_pull` for interpolation orders strictly higher than linear as these are not supported by the vanilla `grid_sample`. For linear and nearest, unless I missed it, there is no benefit in using `grid_pull` over

[2021-01-19 13:51] brudfors commented on #1452
nitorch does differentiable splatting, not sure if pytorch does?

[2021-01-19 14:49] kate-sann5100 commented on #1452
@tvercaut That sounds promising. I will implement that. Thank you for the advice.

[2021-01-19 14:58] kate-sann5100 commented on #1452
@brudfors I think there is no splatting function in pytorch. But in the Warp layer, the warp output should have the same shape as the input image, so splatting is not required.

[2021-01-19 16:23] kate-sann5100 commented on #1452
May I know when the `USE_COMPILED` flag is `True` please? Because both when I run the code in my local machine (with CPU) and quick-py3 & min-dep-py3 checks, the USE_COMPILED flag is `False`. @tvercaut @brudfors

[2021-01-19 16:44] brudfors commented on #1452
You need to ensure that whatever terminal process compiling your MONAI reads that the environment variable USE_COMPILED is set to true, so it depends how you are compiling MONAI, I guess. I use PyCharm and its in-built terminal environment, so I just set the environment variable within my PyCharm MONAI project.

[2021-01-19 16:50] wyli commented on #1452
the flag is defined here:
https://github.com/Project-MONAI/MONAI/blob/91cb8cdb7299fd95aa340e4a930f5d9a99eba5c5/monai/config/deviceconfig.py#L34
it'll be True when env variable `BUILD_MONAI=1` for both installing and running MONAI, for example: with MONAI installed with command: `BUILD_MONAI=1 python setup.py develop --user` and then
- run test: `BUILD_MONAI=1 python -m tests.test_resampler` (will

[2021-01-19 18:07] kate-sann5100 commented on #1452
Sorry for bothering you again.
I tried to run the following code, where `identity_grid` is copied from [nitorch](https://github.com/balbasty/nitorch/blob/93838582189b16aefe8d812ef9e371db6227fa33/nitorch/spatial/_grid.py#L450-L472)
[code]
I was expecting the `out = image` but got `out = tensor([[[[0.7500, 1.5000, 2.2500, 2.5312]]]])`. Am I doing some thing wrong or `tensor([[[[0.7500, 1.5000, 2.250

[2021-01-19 22:03] IsaacYangSLA opened #1472 "A few tests failed/had errors in nvidia pytorch 20.12 container with A100 GPU"
**Describe the bug**
Log in detail at the end of this report

**To Reproduce**
Launch nvcr.io/nvidia/pytorch:20.12-py3 in A100 host.
nvidia-smi showed

Then pip install -r requirements-dev.txt
BUILD_MONAI=1 ./runtests.sh --coverage

**Expected behavior**
All tests pass.

MONAI rev id is 91cb8cd

**Additional context**
======================================================================
ERROR: te

[2021-01-20 08:28] martaranzini commented on #807
Hi @saruarlive,
Apologies for the delay in getting back to you. For an optimal outcome with the dynUnet, I used the patch size estimated by the heuristic rules in nnU-Net. If I recall correctly, the spacing is also another parameter that is automatically optimised in nnU-Net but not in dynUnet, so you may need to decide for that too.

[2021-01-20 08:43] FabianIsensee commented on #807
Since dynUNet does not offer all the functionality nnU-Net does I would highly recommend also running nnU-Net to se whether there is a difference in segmentation performance

[2021-01-20 09:54] wyli commented on #1472
thanks @IsaacYangSLA, I think these mainly come from the docker image update -- currently monai is tested with v20.10

[2021-01-20 12:51] saruarlive commented on #807
Dear @FabianIsensee, @martaranzini,

Thanks for your reply.
Could you mention specifically what are those functionalities differ with the dyUnet?  Is the network design the same for both DyUnet and nnUnet (the network design looks the same to me after reading your BRATS 20 paper)?

If so, then I can use the same set of augmentations, a learning rate scheduler from nnU-Net,

Is the pixel spacing fi

[2021-01-20 13:27] FabianIsensee commented on #807
Hi,
there are many implementation details that are different. The architecture is somewhat not important. So if you do anything - please also run nnU-Net and verify that you are getting the same segmentation performance in dynUNet.
I am not familiar with the implementation of dynUNet. You will need to find the differences yourself ;-) That is only necessary though if you find that the performance

[2021-01-20 15:45] martaranzini commented on #807
Hi,
Perhaps @wyli could help point out the implementation differences between dynUnet and nnU-Net?

Regarding the pixel spacing, in MONAI it all depends on what type of transforms you use/need. In my case, I did use Spacingd - which brings all input images to the same pixel spacing - and I chose the pixel spacing according some needs in my application. If you don't apply any transform to change th

[2021-01-21 10:18] Nic-Ma opened #1478 "TorchScript can't work for AHNet when num_psp=0"
**Describe the bug**
When set num_psp=0 in AHNet, can't use TorchScript to export the model:
[code]

[2021-01-21 12:38] rijobro commented on #365
What if all of our transforms had an `inverse` method? The `inverse` method of the `Compose` class would call the `inverse` of each of the composed transforms (in the opposite order to the forward). Any cropping would be padded, so that information would be lost, but that would be it as far as I can see.

Naturally, it's possible to use non-MONAI transforms, and in this case if an `inverse` method

[2021-01-21 13:49] wyli opened #1482 "weekly build incorrect version number"
**Describe the bug**
the most recent release (17th Jan) version should be `0.5.dev2103`
but it's `0.5` https://pypi.org/project/monai-weekly/#history

**Additional context**
-  config https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/weekly-preview.yml
- log https://github.com/Project-MONAI/MONAI/actions/runs/490995349

[2021-01-21 13:56] Nic-Ma commented on #1472
Hi @wyli ,

I think most of the "expected value" issues are related to `Affine` which is based on PyTorch interpolation APIs, maybe A100 has different computation logic for that?

Thanks.

[2021-01-21 13:59] Nic-Ma commented on #1465
Hi @lyuxiaobai ,

Thanks for your interest in MONAI.
I saw you already set `mode='bilinear, nearest'` in your code for `image` and `label`.
So could you please share more details about your question?

Thanks.

[2021-01-21 14:08] Nic-Ma commented on #1459
Hi @Littlehhh ,

Thanks for your interest here.
1. `RandCropByPosNegLabel` is a transform and usually used to generate random patches during training, the following transforms will apply to every patch separately.
2. `SlidingWindowInfer` is used to split big image into patches for the network forward(), so it doesn't contain random logic and the input data is already handled by transforms, usually

[2021-01-21 14:10] wyli commented on #1482
rerunning the pipeline pushed the correct version to pypi, I've removed the wrong releases. I couldn't locate the root cause but would be great to revise the config to print more detailed logs https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/weekly-preview.yml

[2021-01-21 14:27] Nic-Ma commented on #1451
Hi @thewtex @aylward ,

Could you please help check this issue and provide some solution or guide?

Thanks in advance.

[2021-01-21 14:27] Nic-Ma commented on #1357
Hi @thewtex ,

Have you got a chance to make some progress on this ticket?

Thanks.

[2021-01-21 14:28] #1333 closed

[2021-01-21 14:55] #1465 closed

[2021-01-21 15:50] #1459 closed

[2021-01-21 15:56] rijobro opened #1485 "docker image to use non-root user"
**Is your feature request related to a problem? Please describe.**
Our cluster has disabled the user, `root`. This then means that using MONAI's docker image causes error since it only has one user, `root`. This problem may also affect other users, where they can't use `root` for various reasons. For example, I think by default, you can't SSH into a root user.

**Describe the solution you'd like**

[2021-01-21 19:55] OeslleLucena opened #1486 "RandCropByPosNegLabeld AttributeError: 'list' object has no attribute 'keys'"
Running a minimal example for a patch-based segmentation based on the spleen Lightning segmentation tutorial from [here](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d_lightning.ipynb).
However, the returned training batch is a list instead of a dict.  The validation bit works with no error.
Here is a print of the error:

[code]

Below is shown how th

[2021-01-22 01:11] kate-sann5100 opened #1487 "Paired Dataset"
**Is your feature request related to a problem? Please describe.**
Current datasets do not support paired input.

**Describe the solution you'd like**
Build a PairedDataset Object.

**Describe alternatives you've considered**
N/A

**Additional context**
[DeepReg paired dataloading](https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/dataset/loader/paired_loader.py)

[2021-01-22 01:55] IsaacYangSLA commented on #1472
Retested in 20.07 container (pytorch snapshot at https://github.com/pytorch/pytorch/commit/b0b9e704ed1f31ed1c81994c20e5a9f3715d2583) as this was the earliest container with A100 support.  Still a few fail/error tests.

We plan to have more test environments to investigate such issue.

======================================================================
ERROR: test_training (tests.test_integratio

[2021-01-22 02:29] IsaacYangSLA commented on #1482
@wyli , did you mean that the same weekly-preview.yml did push a correct version when you re-ran the pipeline?  I am trying to see if there is any possibility a race condition occurred.  Also, I believe that pipeline was not running in self-hosted runners.  I might need to run same pipeline in another repo to duplicate such issue.

[2021-01-22 09:21] rijobro commented on #1486
Hi, what makes you think this is related to `RandCropByPosNegLabeld`?

This part of the error:

[code]

implies to me that it's trying to use a dictionary-based transform on a list. I suspect `self.train_ds` is a list, as opposed to a dictionary. is that correct?

[2021-01-22 13:45] OeslleLucena commented on #1486
Hi @rijobr! You're right, I just don't understand why this is happening. I swap `subjects_list[TRAINING]` for `subjects_list[VALIDATION]` to see if the problem was with `subjects_list[TRAINING]`  but the error is the same.
Any idea what could potentially be?

[2021-01-22 13:47] #1486 closed

[2021-01-22 13:59] wyli commented on #1482
yes rerunning the pipeline worked and the log of previous errors gone... @IsaacYangSLA any possibility that this line's `date` cmd returns None? https://github.com/Project-MONAI/MONAI/blob/edbad4305a942b8fe170134673a08044bc04a967/.github/workflows/weekly-preview.yml#L32

I'll paste more info here if I see the issue again

[2021-01-22 14:33] wyli opened #1492 "mypy errors for type check"
the codebase type check is broken since the recent mypy release (v0.8)
https://github.com/python/mypy/releases

[2021-01-22 15:47] IsaacYangSLA commented on #1482
@wyli, as you suggested, I added some checks on the result of $(date +'%y%U') to avoid wrong format.  I will submit the PR soon.

[2021-01-22 15:59] wyli commented on #365
I'll send out a calendar invitation to discuss @Nic-Ma @rijobro probably need to create a few subtasks out of this ticket so that we could collaborate

[2021-01-22 16:00] thewtex commented on #1451
@Nic-Ma looking into the issue, I cannot reproduce it on MONAI `master`,

[code]

any pointers to how this has been refactored?

[2021-01-22 16:04] Nic-Ma commented on #1451
Can you import any other MONAI modules?
Thanks.

[2021-01-22 16:07] #1492 closed

[2021-01-22 16:33] thewtex commented on #1451
I can:

[code]

but

[code]

fails similarly.

I installed with:

[code]

Is this not expected to work? Is there a better way? Thanks, @Nic-Ma

[2021-01-22 18:28] wyli commented on #1482
thanks @IsaacYangSLA , incidentally I see the same versioning error from your branch https://github.com/IsaacYangSLA/MONAI/runs/1715608291?check_suite_focus=true#step:6:53

[2021-01-22 18:28] rijobro commented on #1451
@thewtex Not sure where your error is coming from, but we might end up going down a rabbit hole trying to fix it.

From the [installation instructions](https://docs.monai.io/en/latest/installation.html#installation-guide), maybe you could simply try one of the other methods? Github options 1 or 2 might be good, depending on whether you plan on modifying the source code or not.

[2021-01-22 18:33] wyli commented on #1451
yes perhaps run `pip uninstall monai` and/or `python -m pip uninstall monai` before installation, and double check `print(monai.__file__)`

[2021-01-22 19:24] thewtex commented on #1451
@rijobro @wyli thanks for the pointers. After starting from a clean conda environment, I ran into the same issue with `BUILD_MONAI=1 python setup.py develop`. But, I did a `git pull`, and I think I must have landed on an unlucky commit.  It is working now :unlock: :four_leaf_clover:. Thanks again!

[2021-01-23 00:47] IsaacYangSLA commented on #1482
@wyli , thanks for the log.  I couldn't find out why the tag information was wrong.  I tried the updated yaml file which displayed more details in my repo (https://github.com/IsaacYangSLA/MONAI/actions/runs/504928407 and https://github.com/IsaacYangSLA/MONAI/actions/runs/504947813) and it seemed at least we should be able to get some debug log in case things go wrong.  I also mocked the YEAR_WEEK

[2021-01-23 09:00] #1482 closed

[2021-01-25 12:45] kate-sann5100 commented on #1452
@brudfors
Sorry for bothering you again.
I tried to run the following code, where `identity_grid` is copied from [nitorch](https://github.com/balbasty/nitorch/blob/93838582189b16aefe8d812ef9e371db6227fa33/nitorch/spatial/_grid.py#L450-L472)
[code]
I was expecting to get `out == image` but got `out = tensor([[[[0.7500, 1.5000, 2.2500, 2.5312]]]])`. Am I doing some thing wrong or `tensor([[[[0.7500,

[2021-01-25 14:27] wyli opened #1500 "GridPatchDataset to support patch level transformations"
the current `GridPatchDataset` supports transformations at image level https://github.com/Project-MONAI/MONAI/blob/2eada01efd9ddbcf8d9befe78b6ed67ce0cb454f/monai/data/grid_dataset.py#L26-L38

this ticket looks for options of patch level transforms to be applied before yielding the patches

context:
https://github.com/Project-MONAI/MONAI/discussions/1473

[2021-01-25 16:50] wyli opened #1501 "cancel the previous CI/CD unfinished tests if a pull request updated"
every commit to an existing pull request will create a new set of ci/cd jobs. but normally we just wanted to test the branch's latest version. Any unfinished previous testing jobs could be cancelled immediately when a pull request updated. This will release self-hosted machine resources and improve the overall dev efficiency

perhaps could use this https://github.com/styfle/cancel-workflow-action

[2021-01-25 18:00] rijobro commented on #1501
definitely a great thing to sort out!

[2021-01-25 19:22] wyli opened #1503 "update contact email"
replace `monai.miccai2019@gmail.com` with `monai.contact@gmail.com` for all occurrences

[2021-01-25 21:28] behxyz opened #1504 "WSI image reader"
**Is your feature request related to a problem? Please describe.**
Whole slide imaging (WSI) in pathology generates huge images which makes is inefficient to load the whole image into memory and extract a small patch for training.

**Describe the solution you'd like**
There are libraries that are able to more efficiently extract and load small patches into memory from very large images. OpenSlide

[2021-01-25 22:39] behxyz commented on #1504
@Nic-Ma, @wyli
As we discussed before, I was implementing `WSIReader` as one of image reader classes (`MONAI/monai/data/image_reader.py`). However, I realized that there is a fundamental API difference between WSI libraries (OpenSlide and CuImage) and regular image loading libraries (ITK, nibabel, PIL, etc). In regular images, we first `read` the image from their filename(s) (with provided paramet

[2021-01-26 06:32] cuge1995 commented on #701
Thanks, it solved my problem.

[2021-01-26 10:48] rijobro opened #1507 "Option to restart certain github workflows?"
Sometimes a github workflow will fail for an unrelated issue, see: https://github.com/Project-MONAI/MONAI/pull/1454/checks?check_run_id=1768474379.

It would be great if there was a way to restart just a single workflow. I think currently the only way to re-trigger the workflows is to push to the PR. That would restart **all** workflows, which is obviously wasteful.

[2021-01-26 11:02] rijobro commented on #1507
Think this might only be solvable with an upstream fix: https://github.community/t/manually-restart-actions-and-entire-workflows/16262. Is that correct?

[2021-01-26 11:31] #1014 closed

[2021-01-26 13:03] brudfors commented on #1452
Hi @kate-sann5100

Sorry for the slow reply. For interpolation order greater than 1, a pre-filtering step is needed to determine the b-spline coefficients. This pre-filtering is not yet implemented in nitorch. For certain applications, these coefficients are not needed (e.g., when the resampling is part of some forward model, and the coefficients are implicitly found when inverting the model). So

[2021-01-26 15:47] wyli commented on #1501
#1502 doesn't work from a forked repo, I'm reopening this ticket

[2021-01-26 15:48] wyli commented on #1478
this is still an issue on torch 1.5.0 according to the cron test: https://github.com/Project-MONAI/MONAI/runs/1766459392?check_suite_focus=true#step:5:11867

[2021-01-26 17:03] behxyz commented on #1504
Hi @Nic-Ma,
Thanks, that is the way that initially was going to implement and it definitely works but my concern is more on the different expected behavior from the same API (which is defined by the abstract class). Here, the concept of `get_data` is beyond just getting data (which is the case in other method) and involves with calculating and extracting regions and sometimes splitting into patche

[2021-01-26 17:31] #1503 closed

[2021-01-26 18:38] #1501 closed

[2021-01-26 20:23] wyli commented on #1504
I think get_data should allow more arguments, perhaps it's time to revisit this thread of discussion: https://github.com/Project-MONAI/MONAI/pull/893#discussion_r473111855

[2021-01-26 23:52] Nic-Ma commented on #1504
Hi @behxyz and @wyli ,

Thanks for the discussion.
I think in our initial discussion about `get_data()`, we didn't limit the behavior in it, actually, we supposed several different methods to get data in this API (including this Pathology request):
https://github.com/Project-MONAI/MONAI/pull/893#discussion_r473400796

Thanks.

[2021-01-26 23:57] Nic-Ma commented on #1478
Hi @wyli ,

Thanks for raising this up.
I am curious that we have CI test against PyTorch 1.5 and the tests passed in that PR, what's the difference between the PyTorch 1.5 CI test for PR and the cron test?

Thanks.

[2021-01-27 00:18] thewtex commented on #1451
This is addressed in https://github.com/InsightSoftwareConsortium/ITK/pull/2270, and will be available in a few weeks with the release of itk 5.2rc2.

[2021-01-27 00:48] adamaji commented on #1451
Thanks for looking into this @thewtex !

[2021-01-27 07:29] wyli commented on #1478
yes this needs some investigations, cron test is defined here: https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/cron.yml#L16 PR test defined here: https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/pythonapp.yml#L159

[2021-01-27 07:40] Nic-Ma commented on #1478
Hi @madil90 ,

My previous PR already fixed the TorchScript issue in AHNet with `num_psp_block=0`, and all the CI tests on that PR passed on PyTorch versions. But don't know why the CRON periodical tests failed on PyTorch 1.5...
Did you find any more clues about this bug? And could you please help take look at this ticket?
Maybe you can reproduce the issue locally or update the CICD pipeline.

Tha

[2021-01-27 18:25] LucasFidon opened #1512 "Shape mismatch ValueError when using RandGaussianNoised with more than one key"
**Describe the bug**
When using RandGaussianNoised during training with more than one key the error "ValueError: shape mismatch: objects cannot be broadcast to a single shape" is returned.

**To Reproduce**
I have encountered the error when using RandGaussianNoised in my training pipeline for BraTS.

I have in my composition of training transforms:
`RandGaussianNoised(keys=["flair", "t1", "t1ce",

[2021-01-27 22:45] thewtex commented on #1357
@Nic-Ma I know there is a lot of confusion in the community around indexing, why the order is the way it is, how indexing order relates to convension, memory layout, and performance. And why the order is not the way we sometimes want it to be.

In summary, the order provided by ITKReader is correct. It is consistent with NumPy index conventions, the memory layout, and optimal performance. The curr

[2021-01-27 23:19] Nic-Ma commented on #1357
Hi @thewtex ,

Really appreciate your help here!

Thanks in advance.

[2021-01-28 09:05] #1452 closed

[2021-01-28 09:52] tvercaut commented on #1452
For the record, in case we revisit higher-order interpolation. As the nitorch-based implementation only partially adresses the need, we have two options:
- increase the scope and also include pre-filtering (e.g. based on https://github.com/DannyRuijters/CubicInterpolationCUDA)
- switch to a more complete implementation (e.g. based on niftyreg as done for NiftyNet https://github.com/NifTK/NiftyNet/

[2021-01-28 09:54] tvercaut commented on #789
Copying some notes from #1452 to ease the discussion.

The nitorch-based code in MONAI (https://github.com/Project-MONAI/MONAI/tree/master/monai/csrc/resample) only partially adresses the need. It seems we have two options:
- increase the scope of the current implementation and also include pre-filtering (e.g. based on https://github.com/DannyRuijters/CubicInterpolationCUDA)
- switch to a more com

[2021-01-28 09:58] tvercaut commented on #224
This has been addressed in https://github.com/Project-MONAI/MONAI#community

[2021-01-28 09:58] #224 closed

[2021-01-28 09:59] tvercaut commented on #250
This is being tracked in https://github.com/Project-MONAI/tutorials/issues/115

[2021-01-28 09:59] #250 closed

[2021-01-28 15:03] Leengit commented on #1504
We could have `WSIReader` inherit from `ImageReader` and have the former implement both an override of `ImageReader.get_data` and a `WSIReader.get_WSI_data` method.  The `WSIReader.get_data` override method could be implemented in one of two ways depending on how ambitious we want to be.

1. It bypasses all the smarts of OpenSlide and reads in the whole slide despite its size.
2. It doesn't actual

[2021-01-28 15:24] rijobro opened #1515 "Invertible transforms"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to invert certain transforms (notably spatial transforms). In this way, you could, for example, perform a segmentation on a cropped volume of the image, and then after inference you could inverse the cropping such that when saving to file, the segmentation can be superposed on the original image in an

[2021-01-28 15:27] rijobro commented on #365
Closing this issue as an updated issue with proposed solution is here: https://github.com/Project-MONAI/MONAI/issues/1515, so it would be better to continue any discussions there.

[2021-01-28 15:27] #365 closed

[2021-01-28 15:34] Leengit commented on #1504
The class returned by `Zarr.open` is like the lazily loaded whole slide image that I am imagining above.  It or something that leverages its implementation might do for Option 2.

Additionally, there is a way to read OpenSlide images via the Zarr interface, provided via
[code]
It is not as efficient as OpenSlide directly nor as efficient as a normal Zarr directory store, but it could be part of an

[2021-01-28 16:16] saruarlive opened #1516 "About ROI size in the sliding_window_inference method"
Hi @Nic-Ma et al,

In sliding_window_inference, what strategy is followed to find ROI from the input image?

Is ROI is selected from the foreground voxel area only?  or Is the ROI selected randomly?
I have trained a model using foreground voxels (CropForeground) only. I want to do inference without cropping/resizing the validation image. How can I achieve it using sliding_window_inference class, d

[2021-01-28 16:21] #1516 closed

[2021-01-28 16:30] saruarlive commented on #1512
@LucasFidon,
Based on the bug, so it handles a single dictionary key, right!
If you stack ["flair", "t1", "t1ce", "t2"] images in one tensor, (4, :, : , : ) before, then use the RandGaussianNoised class using one dictionary key, does it raise error then?

[2021-01-28 17:18] wyli commented on #1166
reopening -- need to add this infor to the readme file/webpage

[2021-01-28 18:46] wyli opened #1520 "MaskIntensityD to support user-specified data field"
**Describe the bug**
MaskIntensityD supports to use numpy array as a constructor argument for the mask array,
but one of the common use cases is to dynamically set the mask array from a user-specified data key

https://github.com/Project-MONAI/MONAI/blob/50c46597d13c9c44501e60cad0e5cd65c2db7642/monai/transforms/intensity/dictionary.py#L470-L485

**Expected behavior**
the transform should support:

[2021-01-28 22:57] Nic-Ma commented on #1520
Good suggestion. I will update it soon.
Thanks for raising it up.

[2021-01-29 08:14] #1520 closed

[2021-01-29 08:33] wyli commented on #1507
yes, I feel there is not much we could do from our side... I'm closing this for now

[2021-01-29 08:33] #1507 closed

[2021-01-29 16:10] wyli opened #1525 "multiscale segmentation loss API"
**Is your feature request related to a problem? Please describe.**
this ticket looks for a generic wrapper API to compute a given segmentation loss at multiple visual scales. the API should be compatible with the existing single-scale segmentation loss in monai

see also:
deepreg example: https://github.com/DeepRegNet/DeepReg/blob/a182f9d86fbd1ff9e392c511ff89403971be6454/deepreg/loss/label.py#L42-

[2021-01-29 19:27] PouriaRouzrokh opened #1526 "'DiceCELoss' object is not callable"
Hello.
It seems that there is a bug in calling a DiceCELoss object in the training loop.
The following code will fail with this error: "TypeError: 'DiceCELoss' object is not callable"

[code]
I have installed MONAI from git and the same code works if I simply call DiceLoss instead of DiceCELoss.

[2021-01-29 19:35] wyli commented on #1526
thanks for reporting this!

[2021-01-30 10:45] #1526 closed

[2021-01-30 13:56] tvercaut commented on #1515
For the record, it would be good to ensure that the current design would also allow for easier test-time augmentation as per #718

[2021-01-31 11:20] Spenhouet commented on #95
Does this issue mean the implementation of DeepReg with Pytorch in MONAI? Not sure from the comments.

Is anyone on this?

[2021-02-01 09:27] LucasFidon commented on #1512
Hi @saruarlive
Yes, that seems to be a good workaround.
But I suppose RandGaussianNoised is intended to work with any number of keys so that that does not solve the issue.

[2021-02-01 11:10] Nic-Ma opened #1531 "AUC metric can't work in distributed validation if data length is different in ranks"
**Describe the bug**
If the `predictions` and `labels` in different ranks have different lengths, the AUC metric will hang up when doing `all_gather` in ignite.

[2021-02-01 12:36] Nic-Ma opened #1533 "ClassificationSaver can't save all the data from ranks into CSV file"
**Describe the bug**
When doing distributed training, `ClassificationSaver` runs on different ranks and write to the same CSV file, it causes a random output in the file and sometimes even only 1 rank can open the file.

**Expected behavior**
Expect `all_gather` image path and model output data, then only write CSV file in the specified rank.

[2021-02-01 15:47] wyli opened #1534 "static type checks fail since numpy 1.20"
the recent numpy update (https://github.com/numpy/numpy/releases/tag/v1.20.0) breaks the pull request's type checks https://github.com/Project-MONAI/MONAI/pull/1532/checks?check_run_id=1807350179#step:7:284

[2021-02-01 17:11] Nic-Ma commented on #1534
Hi @wyli ,

Maybe let fix the numpy version?
I don't see any feature requirements for a newer numpy so far.

Thanks.

[2021-02-01 18:35] wyli commented on #1534
many of the errors are actually valid points, I'll create a PR on those first

[2021-02-01 20:15] behxyz commented on #1504
@Leengit Thanks for your suggestions. I agree that option 2 requires a lot of work. For option 1, we should also consider that in practice no one reads the whole slide, which is tens of gigabytes in memory. Thus to be consistent with ImageReader API, I am leaning towards expanding the scope of `get_data`, which is currently returns the entire image for radiology images, and return patches for path

[2021-02-02 01:40] Leengit commented on #1504
Is there functionality of `ImageReader` that would be useful for `WSIReader` to inherit?  If so, we could make `WSIReader` a subclass, and deal with the problem that its interface doesn't support all of the `ImageReader` interface by throwing explanatory exceptions.  In particular, if code tries to load an entire WSI into RAM, we'd throw a clearly worded exception.  It won't work the way full inhe

[2021-02-02 08:56] Nic-Ma commented on #1472
Hi @IsaacYangSLA and @madil90 ,

Any update or plan for this ticket?

Thanks.

[2021-02-02 09:32] #1534 closed

[2021-02-02 11:54] #1512 closed

[2021-02-02 13:42] #1478 closed

[2021-02-02 15:24] wyli opened #1539 "smartcache should fallback to regular cachedataset when `cache_num` is large"
smartcache raises a value error when a large `cache_num` is provided:

https://github.com/Project-MONAI/MONAI/blob/97ff1e0f4f740afb132e9a35f3149b1544064a48/monai/data/dataset.py#L603-L604

in this case itd be great to change this to a warning and continue working as a regular CacheDataset

[2021-02-02 19:13] aylward commented on #1504
I wonder if we should expand this discussion to include Curtis Lisle (clisle@knowledgevis.com) who has been working with the NIH/NCI on whole slide processing (patches and pyramids) using OpenSlide and other formats / libraries.    He has been leading multiple efforts for large image (whole slide / pathology / microscopy) AI.   He already approached several folks on the MONAI team with suggestions

[2021-02-02 20:37] madil90 commented on #1472
We can test this on v100 to confirm if this is an A100 issue.

[2021-02-02 23:01] Nic-Ma commented on #1539
Thanks for raising this up, I will try to update it soon.

[2021-02-02 23:28] wyli commented on #1472
tested with DGX + pytorch 20.12 there're some issues but looks like easier to fix. @Nic-Ma would you have time to look into these: https://github.com/Project-MONAI/MONAI/runs/1818264814?check_suite_focus=true#step:5:12855

[2021-02-03 08:54] #1533 closed

[2021-02-03 12:26] wyli opened #1541 "inaccurate code coverage report for multiprocess executions"
**Describe the bug**
code coverage reports can't track multiprocessing code executions properly
https://codecov.io/gh/Project-MONAI/MONAI/tree/master/tests
therefore:
- codecov gives some false positive alarms
- actual coverage rate is better than the reported number

[2021-02-03 12:44] wyli opened #1542 "lambda transform should be optionally randomisable"
**Is your feature request related to a problem? Please describe.**
the [lambda transform](https://github.com/Project-MONAI/MONAI/blob/26581a05f2b327d67ab1ce662d24ecbf93a8e50f/monai/transforms/utility/dictionary.py#L581) may have some random factors (such as using np.random), in that case it shouldn't be cached in a cache dataset. Ideally the lambda transform should support dynamic inheritance of t

[2021-02-03 13:39] #1539 closed

[2021-02-03 14:56] chrisfoulon opened #1543 "ImageDataset import"
Hi!
I'm trying to use the tutorials for 3d_segmentation (tutorials/3d_segmentation/torch/unet_training_array.py) and
`from monai.data import ImageDataset` does not work and returns:
`cannot import name 'ImageDataset' from 'monai.data'`

To be sure I used
`pip install monai --upgrade`
but I already had the 0.4.0 version
I'm using python 3.7

[2021-02-03 15:06] rijobro commented on #1543
Hi, give `pip install monai-weekly` a go, and if that doesn't work we can check through the git blame and figure out when `ImageDataset` was added/last modified.

If it doesn't work, can you paste the output of:

[code]

[2021-02-03 15:08] rijobro commented on #1542
Should there be a `RandLambda` transform such that the `CacheDataset` knows whether it's a random transformation or not?

[2021-02-03 15:24] Leengit commented on #1504
There is a new version of `tifffile` out, which may be better for WSIs than `OpenSlide`.  Whether it also happens to make the "Option 2" approach any easier ... I don't know.

[2021-02-03 15:25] Nic-Ma commented on #1543
Hi @chrisfoulon ，

Another solution is to use the `tutorials` with 0.4 tag instead of the latest master branch as you are using MONAI v0.4:
https://github.com/Project-MONAI/tutorials/tree/0.4.0

Thanks.

[2021-02-03 15:38] Nic-Ma commented on #1542
`RandLambda` sounds like a good solution, I will add it soon.
Thanks.

[2021-02-03 16:07] #1531 closed

[2021-02-03 17:02] kate-sann5100 commented on #1525
If no one is already implementing this, I would be happy to implement. @wyli @Nic-Ma

[2021-02-04 11:03] chrisfoulon commented on #1543
Thank you very much for your quick answers! I used the 0.4.0 tag with the NiftiDataset instead and that worked!

[2021-02-04 11:03] #1543 closed

[2021-02-04 12:41] wyli opened #1545 "upgrade base image to pytorch 20.12"
**Is your feature request related to a problem? Please describe.**

these testing errors need to be addressed for this upgrade:
https://github.com/Project-MONAI/MONAI/runs/1818264814?check_suite_focus=true#step:5:12855

see also
https://github.com/Project-MONAI/MONAI/issues/1472

[2021-02-04 15:12] #1525 closed

[2021-02-04 17:36] danieltudosiu opened #1549 "Control logging frequency of Tensorboard Handlers"
**Is your feature request related to a problem? Please describe.**
Saving the logs at the end of each iteration and epoch is not optimal for every task.

**Describe the solution you'd like**
Allow the user to pass the frequency of iterations and epochs at which the logging happens. This feature is easily implemented since Ignite already allows it.

**Additional context**
The lines of code that I r

[2021-02-04 18:26] #1542 closed

[2021-02-04 18:45] danieltudosiu commented on #1549
I had a quick go at it and modified it resulting in this.

`

    class TensorBoardHandler(object):
        # TODO: Make it more feature rich and submit pull request to MONAI
        """
        TensorBoardStatsHandler defines a set of Ignite Event-handlers for all the TensorBoard logics.
        It's can be used for any Ignite Engine(trainer, validator and evaluator).
        And it can support b

[2021-02-04 23:37] YipengHu commented on #1405
@kate-sann5100 one thing worth investigating here - because the pytorch implementation of the resampler, grid_sample, requires normalising grid locations to [-1,1], this may have an effect on computing the gradient (and 2nd derivatives) when using finite difference. This will make the loss on deformation dependent on the size of the input (actually the ratio between H, W and D). I'd say to normali

[2021-02-05 06:19] RohanKPatil opened #1550 "Dictionary transforms for images of different resolution"
Is there support available for performing affine transforms for dictionary based methods for images with different resolutions? This would be helpful for image restoration problems

[2021-02-05 09:44] cckao opened #1551 "3D or multi-dimensional version of TORCHVISION.OPS"
Hi,

The operations in https://pytorch.org/docs/stable/torchvision/ops.html are useful but they only work under 2D contexts. Do you think it's reasonable to implement a 3D version in MONAI?

Thanks a lot.

[2021-02-05 13:02] wyli commented on #1551
duplicate of https://github.com/Project-MONAI/MONAI/issues/1205  I'm closing this one. (any updates? @pfjaeger @mibaumgartner)

[2021-02-05 13:02] #1551 closed

[2021-02-05 13:09] wyli commented on #1549
this makes sense, the option name could be `every` following https://github.com/pytorch/ignite/blob/702d3a2eed412118651004d6c7c03739ac33dfd4/ignite/engine/events.py#L63 do you have time to make a pull request?

[2021-02-05 13:21] danieltudosiu commented on #1549
Hi @wyli, If you are ok with it, I would like to give it a go and refractor both Tensorboard Handlers in a single one to reduce the code used and make it more intuitive. I hope to have a MVP this weekend.

[2021-02-05 13:23] danieltudosiu opened #1552 "Parameter scheduler"
**Is your feature request related to a problem? Please describe.**
There is no elegant way from MONAI directly to have lambdas in losses be scheduled or network parameters being scheduled (for example the decay in VQ-VAEs).

**Describe the solution you'd like**
A parameter scheduler handler based around the closed forms available in PyTorch learning rate schedulers.

**Additional context**
I alrea

[2021-02-05 13:27] wyli commented on #1549
thanks, we have some code duplications here and there on purpose...let's not rush refactoring them. For now decoupling the actual computing logic from the event handlers has a higher priority :)

[2021-02-05 13:32] danieltudosiu commented on #1549
Ok, will do just that and open another issue for merger of the two
handlers.

On Fri, 5 Feb 2021, 15:27 Wenqi Li, <notifications@github.com> wrote:

[2021-02-05 17:39] Nic-Ma opened #1555 "Need utility to map strings to our Enum args"
**Is your feature request related to a problem? Please describe.**
Currently, many APIs take `Enum` args from: https://github.com/Project-MONAI/MONAI/blob/master/monai/utils/enums.py.
But we want to call the function from strings, need a mapping tool or something for it.

[2021-02-06 00:42] Nic-Ma commented on #1555
I will check all the call of Enum objects, make sure all of them can support `string`.

Thanks.

[2021-02-06 00:56] Nic-Ma opened #1556 "Random flip per channel seems redundant"
A question from internal team:
https://github.com/Project-MONAI/MONAI/blob/bcdee8c062031a75e95cd777d7108d9db31970e2/monai/transforms/spatial/array.py#L285

random flip per channel seems redundant,  you can just flip once:
np.flip(img, self.spatial_axis+1)

[2021-02-06 00:57] Nic-Ma commented on #1556
I will check several similar transforms next week.

Thanks.

[2021-02-06 15:23] kate-sann5100 opened #1559 "DVF to DDF"
**Is your feature request related to a problem? Please describe.**
The current repository only supports warping based on DDF, but not on DVF.

**Describe the solution you'd like**
Implement a DVF to DDF transformation layer. So for models outputting DVF, we can first transform DVF to DDF and then used the existing Warp layer to resample input image based on the transformed DDF.

**Describe alterna

[2021-02-06 18:47] kate-sann5100 commented on #1405
Here is a conclusion of me and @YipengHu 's off-line discussion.

Firstly, the normalisation is applied only in the [Warp layer](https://github.com/Project-MONAI/MONAI/blob/bcdee8c062031a75e95cd777d7108d9db31970e2/monai/networks/blocks/warp.py#L105) and do not affect the computation of bending energy.

Secondly, the normalisation is dependent on input volume shape, but the effect should be compens

[2021-02-07 08:47] Jingnan-Jia opened #1560 "The names of different Savers/Writers are not consistent"
I have the following questions:

1. Now that we have [`ITKReader`](https://github.com/Project-MONAI/MONAI/blob/master/monai/data/image_reader.py), why do we still need `NibabelReader` and `PILReader`?

`ITKReader` can read nearly [all kinds of images](https://loli.github.io/medpy/information/imageformats.html):

Therefore, I think we do not need `NibabelReader` and `PILReader`. If I am wrong, plea

[2021-02-07 20:45] wyli commented on #1405
thanks for the update. so this ticket is addressed by https://github.com/Project-MONAI/MONAI/pull/1408 I'm closing it

[2021-02-07 20:45] #1405 closed

[2021-02-08 09:45] rijobro commented on #1559
If it's of any use to you, I just implemented a CPG->Disp in this [unmerged PR](https://github.com/Project-MONAI/MONAI/pull/1514). It assumes that the origin is in the centre of the image, which seems to always be the case in MONAI, although it would be trivial to change:
https://github.com/rijobro/MONAI/blob/inverse_transforms/monai/transforms/transform.py#L294-L299

[2021-02-08 10:57] yiheng-wang-nv opened #1564 "DynUnet get_feature_maps() issue when using distributed training"
**Describe the bug**
If we use `DistributedDataParallel` to wrap the network, calling the 'get_feature_maps' function will raise the following error:

![Screen Shot 2021-02-08 at 6 51 01 PM](https://user-images.githubusercontent.com/68361391/107210065-9aa5b600-6a3e-11eb-92f6-bbe4823d90ce.png)

It is common to return multiple variables in a network's forward function, not only for this case, but al

[2021-02-08 12:23] #1555 closed

[2021-02-08 14:13] #1556 closed

[2021-02-08 14:26] aylward commented on #1560
Hi,

Great point!   The plan (https://github.com/Project-MONAI/MONAI/issues/856) is to have Image_Reader use ITK by default, and allow other readers to be used on demand.

The challenge is that until ITK 5.2, there were issues with supporting how some of the deep learning data was being stored (e.g., as 4D images instead of as 3D images with multiple channels) which was not well handled by ITK.

T

[2021-02-08 15:13] Nic-Ma commented on #1550
Hi @RohanKPatil ,

Thanks for your interest here.
Currently, for spatial transforms, only `spacingd` and `orientationd` dict transforms can update affine.

Thanks.

[2021-02-08 15:15] Nic-Ma commented on #1552
Hi @danieltudosiu ,

Thanks for your interest here, could you please help submit a PR for your idea?
@wyli , could you please help double confirm the request?

Thanks.

[2021-02-08 15:19] Nic-Ma commented on #1560
Hi @Ordgod and @aylward ,

We already dropped `NibabelReader` and `PILReader` in master branch and will release in v0.5.
And I think @thewtex is working on some update on `ITKReader`.

Thanks.

[2021-02-08 15:25] Nic-Ma commented on #1564
I recommend to do below change to fix this issue:
Remove the `get_feature_maps()` and change the logic of `forward()`:
1. if in `training=true` and `deep_supervision=true`, return a list of `Tensor`.
2. else, return the output `Tensor`.

It's slightly different from the original code which always returns a list of `Tensor`.

@wyli  @rijobro @ericspod , what do you guys think?

Thanks.

[2021-02-08 15:32] rijobro commented on #1564
This will revert the behaviour of https://github.com/Project-MONAI/MONAI/pull/1393. I suppose this is fine as long as we make the documentation clear so that future users aren't confused.

[2021-02-08 19:15] wyli opened #1567 "Add DeleteChannelD inverse equivalent of RepeatChannelD"
In the liver and tumor segmentation model, it's possible to approximate the Brain Segmentation workflow with RepeatChannelD to enable usage of ConvertToMultiChannelBasedOnBratsClassesd. However this results in greater, unnecessary memory usage.

Adding a DeleteChannelD transform would allow the duplicated channels to be pared down before feeding into the network.

[2021-02-08 20:20] wyli opened #1568 "test cases should not change the global random states"
the current `NumpyImageTestCase2D` and `NumpyImageTestCase3D` use `create_test_image_*` https://github.com/Project-MONAI/MONAI/blob/866d53df3f754e25fb4635abeb3f27cdaaa718cd/tests/utils.py#L444 without the local `random_state` parameter
https://github.com/Project-MONAI/MONAI/blob/866d53df3f754e25fb4635abeb3f27cdaaa718cd/monai/data/synthetic.py#L29

the relevant unit tests therefore become dependent

[2021-02-09 02:40] Nic-Ma opened #1570 "Classification can't work in distributed data parallel if has rich meta data"
**Describe the bug**
When evaluate on nifti data, the meta data is very rich, and we only `all_gather` the file names.
It will cause the length of other meta data can't match model output:
[code]

**Expected behavior**
Only save file names in the meta data and call CSV saver.

[2021-02-09 08:38] Nic-Ma commented on #1567
Hi @wyli ,

Thanks for raising this, I think Tam is working on the PR to address it: https://github.com/Project-MONAI/MONAI/pull/1569.

[2021-02-09 08:42] Nic-Ma commented on #1568
Hi @madil90 ,

Could you please help enhance the `create_test_image_2d()` and `create_test_image_3d()` functions as @wyli suggested?
You can refer to this: https://github.com/Project-MONAI/MONAI/blob/master/tests/test_rand_lambdad.py#L20.

Thanks in advance.

[2021-02-09 08:44] Nic-Ma commented on #1564
Hi @rijobro ,

I think most of the previous problems are due to the `list` output during validation or inference.
So I suggest to return a list of data during training, return only the output instead of [out] during validation or inference.

Thanks.

[2021-02-09 08:45] wyli commented on #1567
sure, he created this issue originally, I just copied the content here

[2021-02-09 12:32] #1570 closed

[2021-02-09 17:03] Ordgod opened #1574 "RandCropByPosNegLabeld triggers CPU memory overflow when num_sample is very large."
In the function of `RandCropByPosNegLabeld`, I found that when I set num_samples = 100 (randomly crop 100 3D patches from a high-resolution CT scan), the CPU memory would overflow. This is because [all the samples would be generated before they are passed to the next transform](https://github.com/Project-MONAI/MONAI/blob/910b1d4353464dc80ffe7f53bd9b8cb870eb58db/monai/transforms/croppad/dictionary.

[2021-02-09 23:23] Nic-Ma opened #1575 "Add SaveNifti transform to debug transform chain"
**Is your feature request related to a problem? Please describe.**
Need to add a SaveNifti transform based on the NiftiSaver for debug purpose. May also add SavePNG transform.

[2021-02-10 07:24] yiheng-wang-nv commented on #1564
Hi @Nic-Ma @rijobro , actually at the beginning, in val or infer modes, it does only return the output tensor. However, return different types are not permitted for torchscript, thus start from [this version](https://github.com/Project-MONAI/MONAI/commit/a2922bb7c4e582303cebf1ca2e3122c40b4bae29#diff-0095d268268e7ee415e079c1f0ccabed72f2c722f92cb0780d2ba8133a088334), list based results will be retur

[2021-02-10 08:33] rijobro commented on #1575
Should it be `SaveImage` to mirror `LoadImage`? You could then specify the writer by argument (e.g., `Nifti` and `PNG`).

[2021-02-10 09:18] Nic-Ma commented on #1575
@rijobro ，

Ideally, it should be `SaveImage`, I am afraid maybe we can't implement it very well, anyway I can have a try later.
Or do you have interest to implement a `SaveImage` transform based on our NiftiSaver and PNGSaver?

Thanks.

[2021-02-10 09:24] rijobro commented on #1575
Ok, if it's not easy then it's not a high priority. I just thought I would suggest it in case it would save you having to refactor later on.

[2021-02-10 10:38] rijobro opened #1576 "Transforms with random size incompatible with default collater of data loader"
**Describe the bug**
Transforms that produce images of variable size are incompatible with default collator, since this expects all images to be the same size.

Examples that I've found so far are (I guess same would apply to array versions)):
- `RandSpatialCropd` (with `random_size==True`)
- `RandRotated` (with `keep_size==False`)
- `RandZoomd` (with `keep_size==False`)
- `RandRotate90d` (if inpu

[2021-02-10 18:47] brad-t-moore commented on #1357
I'm not sure if this is related to a bug I'm currently running into (I haven't submitted an issue yet).
[code]

And then when I'm trying to apply a Spacingd to that image (as loaded through MONAI) it's misapplying.  The output is from print statements in the Compose apply transform loop (type(input_), type(_transform), input_['image'].shape):

[code]

It's taking that last index and multiplying it

[2021-02-10 21:40] thewtex commented on #1357
@brad-t-moore `original_affine` is not correct in this case.

This is ITK, Fortran order.

This is NumPy, C order.

But the affine matrix is not in NumPy C order.
[code]

[2021-02-10 21:42] thewtex commented on #1357
We will soon release ITK 5.2, RC 2, which will make it possible to simplify the MONAI code. I will up update MONAI and look into this `original_affine` issue.

[2021-02-10 23:59] madil90 opened #1577 "Tests failing in GA100"
**Describe the bug**
Several tests including TestIntegrationSlidingWindow, TestAffine (6 tests) are failing in GA100. The pipeline was run on blossom for three pytorch versions (v1.6, v1.7, v1.8) using pytorch containers from NVIDIA. Multi-GPU tests were not run due to resource limitations

**To Reproduce**
Steps to reproduce the behavior:
1. Download and run the pytorch container (20.07, 20.08 or

[2021-02-11 00:41] Nic-Ma commented on #1574
@ericspod @rijobro could you please help share some comments here?
Thanks in advance.

[2021-02-11 08:50] rijobro commented on #1574
Hi, I can see why this might be problematic for you, but unless I've misunderstood something I can't fully see why using a generator would solve the problem.

If generating 100 images surpasses your CPU memory limit, then generating them lazily won't solve that, because at some point or another you'll still have all 100 images in memory. Unless you plan on doing something like yielding and then de

[2021-02-11 14:57] suprosanna opened #1578 "Replace previous checkpoints while resuming training"
`CheckpointSaver` saves model checkpoints for `key_metric_n_saved` number of best validation score and `n_saved`number of the last model. While resuming training, the filename buffer starts from empty. Thus it creates a whole new set of checkpoint files after each resume. Replacing the previous checkpoints would be a cool feature to have for conveniently resuming training. Thanks.

[2021-02-12 01:44] Nic-Ma commented on #1578
Hi @suprosanna ,

Thanks for your interest here.
Actually, if you want to use a fixed filename and automatically replace it, you can set the `key_metric_filename`:
https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_saver.py#L56

Thanks.

[2021-02-12 15:31] suprosanna commented on #1578
That doesn't solve the problem since the handler does not allow to save more than one model based on the validation metric. Also, it does not help with the latest checkpoint file. I hope the following message clarifies the issue further.

    raise ValueError("if using fixed filename to save the best metric model, we should only save 1 model.")
ValueError: if using fixed filename to save the best

[2021-02-12 18:31] Gresliebear opened #1580 "Do these models take in DICOM files?"
**Please use MONAI's Discussions tab**
For questions relating to MONAI usage, please do not create an issue.

Instead, use [MONAI's GitHub Discussions tab](https://github.com/Project-MONAI/MONAI/discussions). This can be found next to Issues and Pull Requests along the top of our repository.

Greetings Monai team,

I read awhile ago that Monai doesn't currently support DICOM files is that true? if

[2021-02-12 22:49] thewtex commented on #1451
@adamaji The `itk-5.2rc2` packages can be installed with: `pip install --upgrade --pre itk`. Has this been addressed?

[2021-02-13 02:33] Nic-Ma commented on #1580
Hi @Gresliebear ,

Thanks for your interest here.
MONAI can load DICOM images from v0.4, you can check this tutorial for more details:
https://github.com/Project-MONAI/tutorials/blob/master/modules/load_medical_images.ipynb

Thanks.

[2021-02-13 13:22] oscarramirezs commented on #1580
Hi Nic-Ma

thank you for the réponse,

im trying to use dice files but the matrix en dicom are 512*512*deep and nifty are deep*512*512, how can I figure-out a solution for this issue?

Oscar

[2021-02-13 13:32] oscarramirezs opened #1583 "PicklingError: Can't pickle <function CropForegroundd. at 0x0000028FCC417510>:"
Hi I'm new to MONAI and Pytorch with MAC,

im using the new Mac M1 with GPU and CPU.

I run  the spleen_segmentation_3d.ipynb.', but while it displayed 'epoch 1/600', PickingError raised.
PicklingError: Can't pickle <function CropForegroundd. at 0x0000028FCC417510>: attribute lookup CropForegroundd. on monai.transforms.croppad.dictionary failed
Please tell me how to fix this error.

actually say a

[2021-02-13 15:38] Gresliebear commented on #1580
Thank you Nic!

[2021-02-13 17:29] adamaji commented on #1451
Yes, that build addresses my issue -- thanks! Should a requirements.txt be updated here to close this issue now, or should this be closed once that change is in a stable release?

[2021-02-14 02:05] Nic-Ma commented on #1580
Hi @ericspod ,

I am not very familiar with DICOM details, could you please help share some comments on this question?

Thanks in advance.

[2021-02-14 02:10] Nic-Ma commented on #1583
Hi @oscarramirezs ,

Thanks for your interest with MONAI project.
Sorry we didn't test MONAI APIs with M1 chip, but we have some basic CI tests on Mac OS.
Hi @IsaacYangSLA @madil90 , could you guys please help share something about Mac ENV? Can we enable some GPU tests on Mac in future?

Thanks.

[2021-02-14 03:03] Gresliebear commented on #1580
@Nic-Ma

Hes talking about when a DICOM file or a stack of DICOM files created into lets say a python object we can pull its metadata for the shape

DICOM_object.shape
prints out (512,512, 200)  which means that each dicom file or 'image' or 'slice' has a height and width of 512 pixels. The 200 is the number of slices or how "deep" the whole stack. so logical we know (x,y,z) but nifty files orient

[2021-02-14 13:37] shahriar-faghani opened #1584 "Loading dicom images"
**Please use MONAI's Discussions tab**
For questions relating to MONAI usage, please do not create an issue.

Instead, use [MONAI's GitHub Discussions tab](https://github.com/Project-MONAI/MONAI/discussions). This can be found next to Issues and Pull Requests along the top of our repository.
Can you help me with loading dicom images?

[2021-02-14 13:37] #1584 closed

[2021-02-15 09:40] rijobro commented on #1583
Hi @oscarramirezs, how did you install pytorch? From [this thread](https://discuss.pytorch.org/t/installing-pytorch-on-m1-macbook/105961) (2 months ago), it seems that pytorch binaries aren't available for the M1 macs, meaning pytorch needs to be installed from source; is that what you did? (I'm not sure if the information from 2 months ago is already out of date!)

Could you print the output of:

[2021-02-15 10:59] rijobro commented on #1580
There is also `np.moveaxis` and MONAI's `Flip` should you want to reorder dimensions and their directions, respectively.

[2021-02-15 14:39] thewtex commented on #1451
@adamaji great, thanks for testing!

There will be another ITK release candidate, with the final release cut over the next month.

@wyli @Nic-Ma is it ok to add a dependency in `monai` on the release candidates?

[2021-02-15 15:14] aylward commented on #1451
@rijobro

[2021-02-15 16:15] rijobro commented on #1451
@thewtex just checking I haven't misunderstood, do you mean setting the itk entry in requirements-dev.txt to use the release candidate?

[2021-02-15 18:56] thewtex commented on #1451
@rijobro yes, *requirements-dev.txt* and *setup.cfg*.

[2021-02-15 19:31] oscarramirezs commented on #1583
Hi rijobro

I did thought

-> conda install pytorch torchvision -c pytorch

----------------------
To ensure that PyTorch was installed correctly, we can verify the installation by running sample PyTorch code. Here we will construct a randomly initialized tensor.
import torch
x = torch.rand(5, 3)
print(x)

tensor([[0.1320, 0.3074, 0.6341],
        [0.4901, 0.8964, 0.4556],
        [0.6323, 0.3489,

[2021-02-15 23:32] ndalton12 opened #1589 "Cache dataset slowdown/not loading for large dataset on multi-gpu"
**Describe the bug**
I was running a cache dataset with around ~150 images on multi-gpu, no problems. However, I recently upgraded the dataset to have around ~3500 images. Now, the cacher will load a few hundred images and then slow down dramatically or even regress in progress loading all the images. This could happen at many different percentages and may be related to multi-gpu. I had problems r

[2021-02-16 00:47] ericspod commented on #1580
@Nic-Ma , @Gresliebear 's description is what I've found with Nifti coordinate spaces and the RAS/LAS orientations. DICOM files generally represent the image orientation as two vectors in a common scanner space. The rotation between Nifti-space and that common space is pi/2 around the Z axis as his figure shows.

[2021-02-16 01:06] Gresliebear commented on #1580
@ericspod  thank you for the information! I am self-taught so the terminology can be confusing if something is wrong in my description please point it out.

[2021-02-16 01:08] ericspod commented on #1580
I've always just been informal about the DICOM orientations, X is to the left, Y is to the back, Z is to the head.

[2021-02-16 10:08] rijobro commented on #1589
This isn't my area of expertise, but have you confirmed whether this problem only occurs for multi-gpu? I.e., what happens if you have a larger number of images but only use one GPU, does the rate decrease over time?

[2021-02-16 10:25] rijobro commented on #1583
Ok, and what happens if you change `num_workers=4` to  `num_workers=1` throughout the spleen example?

[2021-02-16 10:34] rijobro commented on #1451
My gut feeling is not to have pre-releases in our `requirements.txt` but I don't mind if others disagree.

My suggestion would be to display a warning until the new ITK comes out, something along the lines of:

[code]

[2021-02-16 14:51] ndalton12 commented on #1589
@rijobro Sort of. I have managed to run the loading smoothly and successfully with only a single instance of the program running on a single GPU. However, attempting to run multiple instances, each on a single GPU, causes the same problem.

Another interesting thing to note is that since I have everything seeded, the loading stops right around the same number of images. So I can decrease the cache

[2021-02-16 15:11] rijobro commented on #1589
Thinking about it again, I don't think it's related to the GPU, since the Datasets (`CacheDataset` or otherwise) don't use the GPU. The `CacheDataset` will apply all of the deterministic transforms up to the first random transform, but won't copy to the GPU.

Also looking at the timestamps again, they don't seem to be consistently slowing down. You have a point at 10% with 12s/iter, which is the s

[2021-02-16 15:36] adamaji commented on #1451
I think I agree with this, I can handle making the suggested changes sometime today or tomorrow if folks agree here

[2021-02-16 15:56] ndalton12 commented on #1589
Right, I thought the same. I believe the problem might have to do with multiple threads accessing the data at the same time, the likelihood of which is exacerbated by multi-gpu since I create each dataset in a pytorch lightning data module, which makes a copy of the dataset on each gpu. Basically, I think the data access operation used for loading the cache is not thread safe.

Also you are missin

[2021-02-16 16:17] rijobro commented on #1589
Good spot, apologies!

I don't have multiple GPUs to test, but have you looked at [this tutorial](https://github.com/Project-MONAI/tutorials/blob/master/acceleration/multi_gpu_test.ipynb)? Not sure why data would need to be copied to each GPU during the loading phase.

[2021-02-16 16:31] aylward commented on #1451
Is there a way to create a branch that uses the release candidate, so it is
easy for people to test?    It would be nice to be able to point people to
the branch when they are having I/O issues.

s

On Tue, Feb 16, 2021 at 10:36 AM adam aji <notifications@github.com> wrote:

--
Stephen R. Aylward, Ph.D.
Senior Director of Strategic Initiatives
---
Kitware: *Delivering innovative, open source, scie

[2021-02-16 23:11] Nic-Ma opened #1592 "DiceLoss can't support TorchScript"
The `DiceLoss` reports error when `torch.jit.script()`:
[code]

[2021-02-16 23:19] Nic-Ma commented on #1592
Hi @ericspod ,

Could you please help update the `DiceLoss` for TorchScript?

Thanks in advance.

[2021-02-17 15:09] adamaji commented on #1451
@aylward I'm not sure of a clean way to go about that -- what's the difference between pointing somebody to run `pip install --upgrade --pre itk` versus checking out a branch of Monai which uses release candidate libraries? Some questions I would have: is the branch ITK specific? Would we then want branches for the other libraries? Should we point people to using the release candidates of certain

[2021-02-17 15:51] aylward commented on #1451
A branch would just be a temporary solution until the official ITK release
- I agree that it is far from ideal, but I'm searching for a compromise.

The motivation is that MONAI is getting a large number of questions
regarding I/O, and in particular, this version of ITK (RC2 and beyond) is
intended to address those DICOM, NIFTI, and image coordinate ordering
issues specifically for MONAI IO.    We

[2021-02-17 16:22] adamaji commented on #1451
Hmm I see, that makes sense, I wasn't aware of the situation. In that case I think I can agree that a separate temporary branch to facilitate joint ITK and Monai development would be helpful, but I'll defer to main contributors here (@rijobro or @wyli ?) Maybe this should be pulled off into a separate issue?

For this issue specifically, I can incorporate the warning as suggested by https://github

[2021-02-18 03:58] Nic-Ma commented on #1578
Hi @suprosanna ,

Sorry maybe I misunderstood your request, may I know what the `Replacing the previous checkpoints` do you expect? Delete all the previous checkpoints before resuming?
@vfdev-5 do you have any better suggestion from ignite side?

Thanks in advance.

[2021-02-18 04:04] Nic-Ma commented on #1589
Hi @ndalton12 ,

For distributed data parallel, to avoid duplicated caching for every rank, we usually partition dataset before caching.
You can check this example for more details:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_smartcache.py#L120
Note that, it will avoid duplicated caching in memory, but it will not `global shuffle` for ever

[2021-02-18 04:06] Nic-Ma commented on #1580
@ericspod , thanks for your information, so what's the next steps? Should we modify anything?

Thanks.

[2021-02-18 04:12] Nic-Ma commented on #1576
Hi @rijobro ，

Thanks for your suggestion.
In the MONAI DataLoader, we have a customized `collate_fn` callback, maybe we can enhance it for your case?
https://github.com/Project-MONAI/MONAI/blob/master/monai/data/utils.py#L231

Thanks.

[2021-02-18 04:15] Nic-Ma commented on #1564
@ericspod @wyli @rijobro ,

Do you guys have any better idea to solve this issue? Seems it's not easy to get a perfect solution..
Thanks in advance.

[2021-02-18 08:45] vfdev-5 commented on #1578
@suprosanna in ignite [`Checkpoint`](https://pytorch.org/ignite/handlers.html#ignite.handlers.Checkpoint) has a method `state_dict` that could be saved to keep and be able to restore the "filename buffer". We also provide a convenient argument `include_self` such that every time `Checkpoint` is used it includes its state_dict to the saved file. Then, when using stored checkpoint file to resume the

[2021-02-18 08:59] rijobro commented on #1564
So it seems that we need to be consistent with what we return, regardless of train mode, etc., is that correct?

If so, what if we return:
[code]
In this fashion the output is always consistent (since `deep_supervision` is set at construction time and will not change over the lifetime of the object).

By returning a dictionary, hopefully it will be clearer to users what we are returning (since use

[2021-02-18 09:07] rijobro commented on #1451
As I said earlier, I don't have particularly strong feelings either way. I suppose if we were to put in the release candidate into `requirements.txt` etc., this would only be on the master branch, and would never be in a release tag. Assuming, of course, that the ITK release happens before MONAI's next release -- about a month away.

Any other opinions? (Might be slightly quiet this week because o

[2021-02-18 09:18] rijobro commented on #1576
Yes, when doing batch inverse transforms, the output will be different sizes if the original images were of different sizes. This can be solved by disabling collation (`lambda x: x`). To help users, I tried to add a useful error message [here](https://github.com/Project-MONAI/MONAI/pull/1514/files#diff-3e89dd0dfa0e28a491abed95ee5fd6321dbb0f1479ed820f7d9291247c4e6bb5R56-R60).

[code]

I suppose we

[2021-02-18 10:12] #1559 closed

[2021-02-18 10:37] wyli commented on #809
this won't be fixed unless black considers this feature

[2021-02-18 10:37] #809 closed

[2021-02-18 10:42] wyli commented on #925
closing in favour of https://github.com/Project-MONAI/MONAI/issues/1472

[2021-02-18 10:42] #925 closed

[2021-02-18 10:47] wyli commented on #1577
is this a further investigation of https://github.com/Project-MONAI/MONAI/issues/1472, could we merge this into 1472 so that we track this issue properly @madil90

[2021-02-18 11:14] wyli commented on #1487
I think this is addressed by providing a demo in https://github.com/Project-MONAI/tutorials/pull/116?

[2021-02-18 12:12] wyli commented on #1564
thanks this looks good to me as well, we could have the default value `self.deep_supervision=False`, so that the user wouldn't get this error by default
[code]

[2021-02-18 12:18] wyli commented on #1583
duplicate of  https://github.com/Project-MONAI/MONAI/issues/787?

[2021-02-18 12:23] Nic-Ma commented on #1564
@yiheng-wang-nv ,

Please have a try with dict return first, I am afraid it can't fix the TorchScript issue...
Thanks.

[2021-02-18 12:26] rijobro commented on #1564
If the default inferrer requires a tensor, then presumably you could wrap that function:

[code]

[2021-02-18 12:30] wyli commented on #1451
I think the solution in https://github.com/Project-MONAI/MONAI/issues/1451#issuecomment-779746129 looks nice for now. if we frequently see this type of collaboration in the future we should come up with a systematic approach...

[2021-02-18 12:52] aylward commented on #1580
There is a nice explanation of DICOM vs "Laboratory/Display" orientation
and Neurosurgery vs Radiological image display at
https://itk.org/Wiki/Proposals:Orientation#Some_notes_on_the_DICOM_convention_and_current_ITK_usage

On Mon, Feb 15, 2021 at 8:09 PM Eric Kerfoot <notifications@github.com>
wrote:

--
Stephen R. Aylward, Ph.D.
Senior Director of Strategic Initiatives
---
Kitware: *Delivering i

[2021-02-18 13:49] oscarramirezs commented on #1583
Hi,

In the "monai.transforms" I "#"  the #CropForegroundd(keys=["image", "label"], source_key="image") and it works

[2021-02-18 13:53] oscarramirezs commented on #1580
it is possible to add to the monai.transforms a fonction such => image= torch.transpose(image, 0, 1)

[2021-02-18 14:19] #1583 closed

[2021-02-18 14:27] #1580 closed

[2021-02-18 18:39] ndalton12 commented on #1589
It appears that the problem has gone away (?) after a system reboot, but I added the dataset partitioning for good measure. Thanks @Nic-Ma. On a related note, it appears that the cache loading is sometimes very fast, but other times very slow. Any reasons why this might be?

I was also having an issue with GPUs deadlocking/hanging with 100% usage at seemingly random times part way through training

[2021-02-18 18:39] #1589 closed

[2021-02-19 06:36] yiheng-wang-nv commented on #1564
Hi @rijobro , thanks for the advice, but return this kind of dict doesn't fix the torchscript issue as @Nic-Ma mentioned. I suggest here we still return a list, and add the corresponding docstrings. In order to help users use this network, I will also add/update tutorials. Let me submit a PR first for you to review.

[2021-02-19 08:10] wyli commented on #1578
I think this is a nice feature request. we should at least have `include_self` in https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_saver.py#L29 @Nic-Ma

[2021-02-19 10:53] Nic-Ma commented on #1578
Sounds good, I will try to enhance it later.
Thanks.

[2021-02-19 10:57] Nic-Ma commented on #1592
Hi @ericspod ,

Could you please help take a look at this ticket? I am not sure whether it's possible to fix it soon.

Thanks.

[2021-02-19 16:02] YufanHe opened #1600 "affine transformation is not working as expected (monai0.4.0)"
The parameters on the affine transformation is not corresponding to the generated image

[code]
![image](https://user-images.githubusercontent.com/24377922/108526853-9f206900-729f-11eb-9527-f7032cc3848c.png)

The scale is 0.5 but the generated image is larger. The problem comes from not inversing the affine matrix for the affine_grid
as in
https://kornia.readthedocs.io/en/latest/_modules/kornia/ge

[2021-02-19 16:07] charliebudd opened #1601 "Grabcut Implementation"
Grabcut (presented [here](https://cvg.ethz.ch/teaching/cvl/2012/grabcut-siggraph04.pdf)) is a method of segmenting a reigion based on a sparse initial labeling.

A color model is employed (GMM is common) to determine color distibutions of the labeled reigions. These distributions are then used to asign proberbilities to unlabled regions of the image. Graphcut is then employed to optimize the bound

[2021-02-19 16:25] Nic-Ma commented on #1592
Hi @ericspod ,

The purpose of TorchScript support for loss function is to optimize the training speed based on JIT, refer to slide 14:
https://nvlabs.github.io/eccv2020-mixed-precision-tutorial/files/szymon_migacz-pytorch-performance-tuning-guide.pdf

Thanks.

[2021-02-19 16:39] #1564 closed

[2021-02-19 16:55] wyli commented on #1600
I think that is just a difference in the conventions, here we try to follow scipy's affine_transform convention

[2021-02-19 18:49] tvercaut commented on #1601
For the record, a good starting point in terms of implementation is the one from @luiscarlosgph
https://github.com/luiscarlosgph/grabcut
Itself mostly borrowing from that in OpenCV + code from old CUDA samples

[2021-02-22 12:11] #1451 closed

[2021-02-23 01:52] mioDio opened #1616 "CacheDataset in script not working"
Hi, congratulations on a great package, I really like Monai!
I was trying the tutorials and ran the 3D spleen segmentation. One of the features used in the Jupyter notebook was "Cache Dataset". It works fine with my dataset in the notebook, but then I re-wrote it into a script and it is throwing an error, as shown below. The issue is clearly with the Caching, since it works when I use just the "Da

[2021-02-23 02:30] Vivekrpg commented on #876
Hello,

I am running into similar issues while using RandCropByPosNegLabeld and trying to use DataStatsd to debug the input shape and range during the transforms. Does DataStatsd shows debug information during training or can it show debug information after running DataLoader? I am not sure how to ensure that DataStats prints out the debug information.

[2021-02-23 07:50] #1575 closed

[2021-02-23 08:37] rijobro commented on #876
Hi, the output of `RandCropByPosNegLabeld` is a list of the crops. The collator in the dataloader then takes care of turning lists (output of `RandCropByPosNegLabeld`) and dictionaries (output of most other dictionary transforms) into tensors such that the output is the same. Hence, for normal use you wouldn't notice the difference between the outputs. However, `DataStatsd` is being called before

[2021-02-23 08:48] rijobro commented on #1616
So you're saying that the exact same code runs with `Dataset` but not with `CacheDatset`? Strange! It looks like the error is related to swig, which might be solved with `pip install --upgrade swig`. If not, would it be possible to create a minimum working example? You should be able to create a dictionary containing just 1 image, something like this:

[code]

[2021-02-23 09:03] #1545 closed

[2021-02-23 09:39] wyli opened #1618 "pip install failed "in get_topological_weights assert len(weights) == len(graph)""
**Describe the bug**
the pip install command in Dockerfile failed due to the recent [base image upgrade](https://github.com/Project-MONAI/MONAI/pull/1613)

looks like an issue from https://github.com/pypa/pip/issues/9031

https://github.com/Project-MONAI/MONAI/runs/1959756220?check_suite_focus=true#step:3:233
[code]
**To Reproduce**
run these commands locally
https://github.com/Project-MONAI/MONAI

[2021-02-23 13:26] #1578 closed

[2021-02-23 14:40] #1618 closed

[2021-02-23 18:58] behxyz commented on #1504
@aylward @Leengit @wyli @Nic-Ma
We need to move forward with this. I have implemented `WSIReader` with two options of OpenSlide and CuClaraImage (which will be released soon), and we can add support for `tifffile` later. Currently, In the current implementation, I expanded the `get_data` method to load patches (or regions) in a consistent with other image readers. Now if you call `get_data` with o

[2021-02-23 20:01] mioDio commented on #1616
Hi,

thank you for the quick answer. I solved the problem by upgrading to MONAI-0.4.0.
The problem occurred with 0.3.0. Not sure if the swig route would have helped, I didn't get to try it, since
I upgraded Monai before that.

Also, along the way I discovered that Monai 0.3.0 had an issue with Nifti orientation;
"SAR" versus "RAS". I ran two systems with different versions of Monai without knowing

[2021-02-23 21:58] wyli commented on #1504
@behxyz in #1548 the tests are skipped, and cuimage is not available, we couldn't verify the code changes at the moment. please let me know if that's not the case.

[2021-02-23 22:18] wyli opened #1629 "update itk requirement to >= 5.2"
once itk 5.2 is released, requirements.txt needs to be updated and the warning message removed.

this is a follow up of
- https://github.com/Project-MONAI/MONAI/issues/1451
- https://github.com/Project-MONAI/MONAI/pull/1602
- https://github.com/Project-MONAI/MONAI/issues/1357#issuecomment-777055428
- https://github.com/Project-MONAI/MONAI/issues/1713

see also:
https://github.com/InsightSoftwareCo

[2021-02-24 12:35] yiheng-wang-nv opened #1633 "MetricsSaver Bug when filename is long"
**Describe the bug**
When using the `MetricsSaver` handler, a list of filenames will be joined as a string first (see [here](https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/metrics_saver.py#L111)), and then send to write the metric report.

In distributed mode, the way to join all filenames into a string is directly connect all filenames by the setted delimiter (see [here](https:

[2021-02-24 14:27] vfdev-5 commented on #1633
@Nic-Ma thanks for pinging !

Well, the limitation of 1024 is artificial and was done in a way to pad data into a fixed size tensor. In case of MetricsSaver, maybe, it is better to collect names one by one in order to avoid going over 1024 chars.

'/workspace/data/medical/Task04_Hippocampus/imagesTr/hippocampus_033.nii.gz' that has the length 74, thus more than 14 samples will introduce the bug.

[2021-02-24 14:52] behxyz commented on #1504
@wyli
Right, CuImage is not available on the MONAI docker but it is currently accessible via NGC Clara Train EA docker. The most important thing here is to agree on the API so that we can build applications on top of that. If it helps, I can remove CuImage from WSIReader and we test and merge it only for OpenSlide. Then, I can add CuImage in a later PR. What do you think?

[2021-02-24 14:57] wyli commented on #1504
thanks, if we could test the implementation with an EA docker that's also good @behxyz. we should be able to review the PR now cc@Nic-Ma

[2021-02-24 15:22] Nic-Ma commented on #1633
Hi @vfdev-5 ,

Thanks for your help here, hopefully you guys will update it in ignite 0.5.
In order to fix it in MONAI first, I submitted a PR: https://github.com/Project-MONAI/MONAI/pull/1634.

Thanks.

[2021-02-24 15:25] vfdev-5 commented on #1633
I think we'll do another 0.4.4 release with few bug fixes next week...

[2021-02-24 15:28] Nic-Ma commented on #1633
Cool, sounds great.
We will also update ignite dependency in MONAI v0.5 release soon.

Thanks.

[2021-02-24 15:29] vfdev-5 commented on #1633
MONAI versions are going quickly :) That's great !

[2021-02-24 17:14] behxyz commented on #1504
@Nic-Ma

[2021-02-24 19:04] behxyz opened #1638 "ToPIL tranformer"
**Is your feature request related to a problem? Please describe.**
Although MONAI transformations work with numpy, there are some torchvision transformations that works only with PIL images. However, there is not any transformer in MONAI to convert `torch.tensor` or `numpy.ndarray` to `PIL`.

Also since we have MONAI `TorchVisionD` which enable using torchvision transformation in MONAI workflow, t

[2021-02-24 19:06] behxyz commented on #1638
@wyli @Nic-Ma, any consideration for this transformer?

[2021-02-25 01:49] Nic-Ma commented on #1638
Hi @behxyz ,

Thanks for raising this up, I think it's nice to have this utility transform.
Would you like to contribute a PR for it? If not, I can do it later.

Thanks.

[2021-02-25 01:50] behxyz commented on #1638
@Nic-Ma
Great! I'm already working on it. Will submit the PR tomorrow.

[2021-02-25 01:54] Nic-Ma commented on #1504
Thanks for the discussion to clarify.
Is this PR https://github.com/Project-MONAI/MONAI/pull/1548 ready for review now?

Thanks.

[2021-02-25 11:48] wyli commented on #1576
addressed by #1626

[2021-02-25 11:48] #1576 closed

[2021-02-25 11:50] wyli commented on #1600
thi is the current expected behaviour, discussed/confirmed by Dong offline

[2021-02-25 11:50] #1600 closed

[2021-02-25 11:55] wyli commented on #1472
issue with pytorch is addressed by https://github.com/Project-MONAI/MONAI/pull/1613, this ticket could be fully replaced by https://github.com/Project-MONAI/MONAI/issues/1577

[2021-02-25 11:55] #1472 closed

[2021-02-25 11:57] wyli commented on #1577
update from @madil90: all tests passed with  TensorFloat-32 disabled (defaulting to FP32)

[2021-02-25 11:58] #1616 closed

[2021-02-25 12:08] wyli commented on #1180
Hi @Nic-Ma, sometimes the cluster would kill jobs without any graceful waiting. so the exception handling logic won't run in many use cases...

[2021-02-25 14:14] JumpLK opened #1646 "DICOM loader"
**Describe the bug**
I am trying to load a list of DICOM images and stack them as 1 training item.
This data are from an open IRCAD dataset available here : https://www.ircad.fr/fr/recherche/3d-ircadb-01-fr/

The problem is that for these data, the slice location is set by a z translation in the affine matrix. Because of that the affine matrix is different for each slice and that isn't allowed by

[2021-02-25 14:32] rijobro commented on #1646
For DICOMs, best to give the containing folder: `LoadImage()("PATIENT_DICOM")`. This works fine for me using the dataset you linked above.

[2021-02-25 16:26] JumpLK commented on #1646
Thank you for your fast answer, it works for me too.

[2021-02-25 16:26] #1646 closed

[2021-02-25 17:23] #1592 closed

[2021-02-25 17:37] rijobro opened #1650 "test_distributed_sampler not working (and not exiting)"
**Describe the bug**
`./runtests.sh --quick` (and more specifically `python tests/test_distributed_sampler.py`) is displays error, but doesn't exit and hangs there permanently.

Error is:

[code]

My guess is that it's because I only have 1 GPU, yet it's trying to use devices 0 and 1, but that's just a guess. The test works fine on my local machine -- it doesn't have cuda so it doesn't arrive in t

[2021-02-25 17:44] wyli commented on #1650
ok, there's a default timeout 60s https://github.com/Project-MONAI/MONAI/blob/master/tests/utils.py#L212 perhaps it'll exit after that?

[2021-02-25 17:47] rijobro commented on #1650
Doesn't look like that's being respected unfortunately, mine just hangs indefinitely.

[2021-02-25 17:52] rijobro commented on #1650
Should I add the decorator?

[code]
I'm not sure if the distributed code should work on a single GPU or not. If not, I don't understand why CI doesn't have any problems.

[2021-02-25 17:57] kate-sann5100 opened #1651 "global net"
**Is your feature request related to a problem? Please describe.**
The current repository does not include global net model which is useful for image registration.

**Describe the solution you'd like**
Add global net.

**Describe alternatives you've considered**
N/A

**Additional context**
DeepReg implementation of [global net](https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/backbone

[2021-02-25 18:00] wyli commented on #1650
all the gpu jobs come with 2 gpus...I'll make a PR for this

[2021-02-25 18:53] #1633 closed

[2021-02-25 20:46] #1567 closed

[2021-02-25 20:53] ericspod commented on #1180
@Irme do you want to come back to this one? I don't know if we've addresssed your use case or not.

[2021-02-25 23:58] #1650 closed

[2021-02-26 01:04] #1638 closed

[2021-02-26 09:17] kapsner opened #1655 "AttributeError: module 'monai.visualize' has no attribute 'OcclusionSensitivity'"
**Describe the bug**

When importing the class `monai.visualize.OcclusionSensitivity` (as described in [this notebook](https://github.com/Project-MONAI/tutorials/blob/master/modules/interpretability/class_lung_lesion.ipynb)) the following error is thrown:

**To Reproduce**

[code]
**Expected behavior**
The error should not occur when importing `monai.visualize.OcclusionSensitivity`

**Environment*

[2021-02-26 09:49] wyli commented on #1655
thanks for reporting! please install monai-weekly preview for this latest feature https://docs.monai.io/en/latest/installation.html#weekly-preview-release

otherwise the corresponding tutorial for MONAI v0.4.0 is available here https://github.com/Project-MONAI/tutorials/tree/0.4.0

[2021-02-26 11:43] kapsner commented on #1655
@wyli thx for your answer. Sry, my fault - did oversee that I was reading the 'latest' api docs (not 0.4.0).

[2021-02-26 11:43] #1655 closed

[2021-02-26 11:58] tugot17 opened #1656 "How to open dicom with LoadImage() from Tempfile"
I have a web api in which I want to analyze dicom images. It is defined using FastAPI

The method that gets dicom is defined like this:

[code]

Is there a possibility to use `LoadInaged` directly on `UploadFile`, so I don't have to save the object to the memory but can work with it directly?

[2021-02-26 14:08] wyli commented on #1656
perhaps the `NumpyReader` option of the LoadImage could already support loading from file-like object like `UploadFile` in this case https://github.com/Project-MONAI/MONAI/blob/master/monai/data/image_reader.py#L476 but the data should be converted into numpy format beforehand...

otherwise I'm not sure whether ITK reader supports/will support this cc @thewtex

[2021-02-26 15:00] tvercaut commented on #315
@charliebudd Following our discussion earlier, it would be good to double check the status of the CRF code in MONAI. If it's finalised already, you can close this issue.

In any case, it would be good to have a demo notebook for it. Not sure if it fits in MONAI proper or in
https://github.com/Project-MONAI/tutorials

For the record, we had a similar notebook in NiftyNet already that could be porte

[2021-02-26 15:08] thewtex commented on #1656
The ITK reader talks to the filesystem, so a path to explore is to [present the data virtually on the filesystem with FUSE](https://github.com/fusepy/fusepy/blob/master/examples/memory.py).

[2021-02-26 15:58] rijobro opened #1659 "Update GradCAM docstring to help layer selection"
Following [this question](https://github.com/Project-MONAI/MONAI/discussions/1657), we should include the following in our GradCAM docstring:

[code]

[2021-02-26 16:54] rijobro opened #1662 "Add option for transforms to skip missing keys instead of raising exception"
**Is your feature request related to a problem? Please describe.**
In certain use cases, data might be missing, and this is acceptable. In such cases, we want to allow the user to skip transforms.

[2021-02-27 13:06] chrisfoulon opened #1664 "Numpy byte order conversion error with Dataset and dictionaries"
Hi MONAI team and thanks for your awesome work!

I was previously using the NiftiDataset class and the 'array' version of the transformations and everything was running fine.
For the need of my project, I had to switch to dictionaries (and the corresponding transformations) and thus instead of the NiftiDataset I used the regular Dataset class and added LoadImaged to the transformations.
However, I

[2021-02-28 15:20] kate-sann5100 opened #1665 "Adjust LocalNet"
**Is your feature request related to a problem? Please describe.**
To evaluate our performance by comparing with DeepReg, we want to align our LocalNet architecture with DeepReg's.

**Describe the solution you'd like**
Reimplement LocalNet

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-01 09:41] rijobro commented on #1662
Also need to update documentation: https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/transform.py#L176-L182

[2021-03-01 11:13] rijobro commented on #1664
Hi, I've been looking into this this morning, and have put together the following test code:

[code]
Which gives the output:
[code]
I'm guessing that you see the error for big endian nifti images, but not little endian ones.

I found it strange that the array version was fine with big endian data, whereas the dictionary version wasn't.

After a bit of debugging, I found the error to be in the load

[2021-03-01 11:21] Nic-Ma opened #1668 "Need to implement RandAxisFlip transform"
**Is your feature request related to a problem? Please describe.**
`RandAxisFlip` randomly selects a spatial axis and flips on it.

[2021-03-01 12:01] chrisfoulon commented on #1664
Hi! Thank you for your answer!

Yes it seems to be linked with endianness. I also have the problem with images showing '=' when loaded with nibabel and using dtype.byteorder. A colleague found a quick fix for that (but we need to modify the data before running monai for that so it can only be a temporary fix): We just load the nifti with nibabel, create a new Nifti1Image with the data and affine o

[2021-03-01 18:41] #1668 closed

[2021-03-02 04:22] Nic-Ma opened #1673 "Add AutoAdjustChannel transform"
**Is your feature request related to a problem? Please describe.**
Now we have `AddChannel` and `AsChannelFirst` transforms, need users to manually select expected transform to convert their data to be "channel-first". Several internal researchers got confused by the wrong transform, especially when their `image` and `label` have different shapes(maybe `image` is 3 channels data and channel last,

[2021-03-02 04:43] function2-llx commented on #1032
this link is unavailable now

[2021-03-02 04:45] Nic-Ma commented on #1032
Hi @function2-llx ,

Please use this link instead: https://github.com/Project-MONAI/tutorials/blob/master/modules/load_medical_images.ipynb

Thanks.

[2021-03-02 06:16] bartmch opened #1674 "SmartCachedDataset unittest failed: "isAlive" field missing from threading is missing"
Hi,
When running the unittest script of SmartCachedDataset I get the same error message as with my training script on `dataset.update_cache()`
[code]
Debugging into dataset.py>SmartCacheDataset(class)>update_cache(def) this error originates from
[code]
![image](https://user-images.githubusercontent.com/10415569/109606237-cc8ed180-7b3f-11eb-8189-639071022bb2.png)
Is there an issue with the "threadi

[2021-03-02 06:23] bartmch commented on #1674
Found the issue following the hint in [this StackOverflow post](https://stackoverflow.com/questions/65021939/error-gcloud-crashed-attributeerror-thread-object-has-no-attribute-isaliv). My Python version 3.9 is too new. Reverted to python 3.8.5 and I'm not getting the error again. I'm getting a warning though:
![image](https://user-images.githubusercontent.com/10415569/109607226-5c814b00-7b41-11eb-

[2021-03-02 06:24] #1674 closed

[2021-03-02 09:35] rijobro commented on #1673
So always assume that the channel dimension is smaller than all the other dimensions? That seems like a reasonable assumption most of the time!

[2021-03-02 09:43] Nic-Ma commented on #1673
Hi @rijobro ,

Thanks for your comments.
I submitted a PR https://github.com/Project-MONAI/MONAI/pull/1675 to address this ticket, will finish it soon.
Actually,  all the existing `image_readers` expect the image to be `channel_last` or `no channel`, so I just added a meta info and then automatically adjust the channel dim based on it.

Thanks.

[2021-03-02 09:51] rijobro commented on #1673
Ok, do you think the inverse is trivial? I guess it would only require knowing which dimension was the original channel.

[2021-03-02 09:55] Nic-Ma commented on #1673
Hi @rijobro ,

Yes, because all the data in MONAI should be `channel_first` and you can get the `original_channel_dim` from meta dict. Then I think you can restore the original channel dim or remove channel dim, right?

Thanks.

[2021-03-02 09:56] rijobro commented on #1674
Glad you managed to solve your problem. Just so that you know, the master branch of MONAI was updated a month ago to change `isAlive` to `is_alive`. So switching to a more recent version of MONAI (e.g., weekly or master) would remove this warning.

[2021-03-02 09:57] rijobro commented on #1673
Perfect, thanks!

[2021-03-02 12:05] #1664 closed

[2021-03-02 12:39] michalhg opened #1677 "in write_nifti an additional dimension is added to the output image"
In the write_nifti function that exports the 3D segmentation prediction to a nifty image file, and addition dimension is added (either for channel or batch) which makes it unreadable using ITK-SNAP or Slicer.
I propose the following solution

 results_img = nib.Nifti1Image(data.squeeze().astype(output_dtype), to_affine_nd(3, target_affine)) # squeeze channel dim

for row 105 in row nifty_writer.py

[2021-03-02 15:07] rijobro commented on #1677
Hi @michalhg, have you looked into `NiftiSaver`, which has the `save_batch` method?

[2021-03-02 15:12] rijobro commented on #1677
Or if you also want to remove the channel dimension, how about `Compose([SquezeDim, SaveImage])`?

[2021-03-02 16:34] #1673 closed

[2021-03-02 16:54] michalhg commented on #1677
I am using save_batch, but in the end it calls write_nifti without removing the channel dim.
regarding your solution, should I avoid save_batch, and just call Compose([SquezeDim, SaveImage]) ?

[2021-03-03 12:44] #1662 closed

[2021-03-03 12:50] rijobro commented on #1677
Hi, I looked into this a bit more today, and have suggested [this PR](https://github.com/Project-MONAI/MONAI/pull/1680), allowing the user to squeeze any trailing singleton dimensions, being the channel dimension in your case.

[2021-03-03 12:59] yiheng-wang-nv opened #1681 "Densenet pretrained weights issue"
**Describe the bug**
In #1259 , some layer names of Densenet have changed, thus these layers cannot load weights (trained in ImageNet, provided by Pytorch Hub) correctly.
I'll submit a PR to fix this issue, and add the consistency test case to prevent the same issues in the future.

[2021-03-03 15:21] #1659 closed

[2021-03-03 16:46] wyli opened #1685 "upgrade base image to pytorch 21.02"
**Is your feature request related to a problem? Please describe.**
the dockerfile should also be flexible by accepting additional arguments when building an image.  cc @madil90

[2021-03-03 19:58] #1681 closed

[2021-03-04 10:13] yiheng-wang-nv opened #1688 "Senet pretrained weights issue"
**Describe the bug**
In #1120 , some layer names in  `Convolution` class have changed which lead to loading pre-trained weights unsuccessfully for Senet.

I'll submit a PR to fix this issue, and add the consistency test case to prevent the same issues in the future.

[2021-03-04 12:35] #1688 closed

[2021-03-04 16:23] behxyz opened #1691 "Potential circular import"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `image_reader.py` (https://github.com/Project-MONAI/MONAI/blob/380f042dec9c55ba1a5ab241ae6b1a7b3e2b07fb/monai/data/image_reader.py)
2. Add a transform from op, post, spatial, transform, utility, or utils to the file, for instance `from monai.transforms import EnsureC

[2021-03-04 16:23] behxyz commented on #1691
@wyli @Nic-Ma, any thought?

[2021-03-04 16:39] rijobro commented on #1691
The error is normally a bit longer than that isn't it? Sometimes it helps narrow down where the circular import is coming from.

At any rate, I guess the problem is that you're trying to import `monai.transforms` in `monai.data`, but `monai.transforms` already imports `monai.data` (e.g., https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/io/array.py#L22).

[2021-03-04 16:46] rijobro commented on #1691
(My understanding is that this problem would go away if throughout the MONAI codebase we imported modules rather than importing **from** modules, but that would be a huge amount of work!)

[2021-03-04 17:13] wyli commented on #1691
I think within the project we should use more accurate module names such as `from monai.transforms.utility.array import EnsureChannelFirst` instead of `from monai.transforms import EnsureChannelFirst`

[2021-03-04 17:25] behxyz commented on #1691
Here is the traceback:
[code]

Yes, that's one of the circular imports.

[2021-03-04 17:28] behxyz commented on #1691
Agree, this is how I am already using now to circumvent the issue but probably it's the best to enforce it in our code reviews because I see it throughout MONAI.

[2021-03-04 21:13] wyli opened #1693 "compatibility with pytorch 1.8"
**Is your feature request related to a problem? Please describe.**
need to update the relevant CI/CD pipelines, may drop the support for 1.5, 1.5.1?

[2021-03-04 23:41] #1685 closed

[2021-03-05 05:08] #1504 closed

[2021-03-05 10:28] wyli commented on #1691
thanks, as the codebase grows, to fully address this issue we'll need to reorganise some of the modules...but for now we could discuss case by case in the PRs. closing this but please feel free to reopen

[2021-03-05 10:28] #1691 closed

[2021-03-05 10:33] wyli commented on #95
closing this in favour of #1651 #1665. see also #1658

[2021-03-05 10:33] #95 closed

[2021-03-06 12:06] function2-llx opened #1701 "add invocation of `torch.use_deterministic_algorithms()` in the implementation of `monai.utils.set_deteministic`"
### Description
Pytorch 1.8.0 newly introduced [`torch.use_deterministic_algorithms()`](https://pytorch.org/docs/stable/generated/torch.use_deterministic_algorithms.html))(currently in beta) , which forces only deterministic algorithms are used everywhere, not only CUDA convolution operations which currently can be achieved by setting `torch.backends.cudnn.deterministic=True` and `torch.backends.c

[2021-03-07 00:33] danieltudosiu commented on #1552
I did not forget about this feature request, atm I do not have the bandwidth to do a PR even though I have the core already implemented. I think in a month or so you can expect a PR from me. Otherwise, I am happy to put my working code here and you can use it.

[2021-03-07 00:34] danieltudosiu commented on #1549
I did not forget about this feature request. Will create a PR for it soon.

[2021-03-07 06:08] Nic-Ma commented on #1701
Hi @function2-llx ,

Thanks for raising this new feature.
Let me add this topic to MONAI feature request discussion.

Thanks.

[2021-03-07 08:19] rijobro opened #1704 "Affined is missing"
**Is your feature request related to a problem? Please describe.**
`Affine` and `RandAffine` exist, but on the dictionary side, there is `RandAffined`, but no `Affined`.

**Describe the solution you'd like**
Add `Affined`.

[2021-03-07 14:13] Nic-Ma commented on #1704
Hi @rijobro ,

Thanks for raising this ticket.
I can add the dictionary version `Affined` transform later.

Thanks.

[2021-03-07 21:31] danieltudosiu opened #1707 "MONAI Workflow incompatible with ThreadBuffer"
**Describe the bug**
ThreadBuffer as now coded wraps a DataLoader thus it would be logical for Workflow class to accept a ThreadBuffer as the source of data but it is not allowed.

**To Reproduce**
Instantiate a Workflow class to which you give a ThreadBuffer wrapped DataLoader as a dataloader.

**Expected behavior**
Just for the workflow to work as it is with a dataloader.

**Additional context**

[2021-03-08 06:11] Nic-Ma commented on #1707
Hi @ericspod ,

Do you think it's possible to enhance the `ThreadBuffer` as a subclass of DataLoader or some better idea?

Thanks.

[2021-03-08 06:24] Nic-Ma opened #1708 "Update args of Datasets"
**Is your feature request related to a problem? Please describe.**
I am developing a script-code mapping tool based on MONAI components and found that several args and the default values of `Datasets` don't unify.

[2021-03-08 08:45] danieltudosiu commented on #1707
From a quick look it should be possible. The only special overwritten method would be the __iter__, the other two methods of ThreadBuffer are helper methods.

[2021-03-08 08:46] rijobro opened #1710 "GradCam giving inconsistent results"
**Describe the bug**
When GradCam is called with `class_idx=None`, it should use the index of the class inferred by the network. If the network correctly classifies the image, the result should therefore be the same as `class_idx=y_true`. However, this is being reported as not being the case ([link](https://github.com/Project-MONAI/MONAI/discussions/1604#discussioncomment-435580_)). Seems to be a

[2021-03-08 08:47] JumpLK opened #1711 "DICOM loaded with wrong orientation"
**Describe the bug**
Hi, I'm loading some DICOM from this dataset : https://www.ircad.fr/fr/recherche/3d-ircadb-01-fr/
The way I load it is with LoadImaged

The problem is that the orientation of the data is wrong (see screenshot below)

**To Reproduce**
Download the dataset mentioned above
Run this code (replace ircad_dir by the folder where you downloaded the data)
[code]

**Expected behavior**

[2021-03-08 08:57] #1704 closed

[2021-03-08 10:12] #1693 closed

[2021-03-08 10:17] rijobro commented on #1711
Hi, thanks for raising this issue. I think the error might be in the image reader. Using an example DICOM image from the link you provided:

[code]

So image size is `[91, 512, 512]` with direction matrix as `[1, 1, 1]` along the leading diagonal and 0 elsewhere. In slicer, the same image has size `[512, 512, 91]` with direction matrix as `[-1, -1, 1]` along the leading diagonal and 0 elsewhere. S

[2021-03-08 10:23] rijobro commented on #1711
Ah, related: https://github.com/Project-MONAI/MONAI/issues/1357

[2021-03-08 10:26] JumpLK opened #1713 "DICOM not loading"
**Describe the bug**
I'm trying to load some data from the CHAOS challenge : https://zenodo.org/record/3431873#.YEX2o7rPyUk
I got an ITK error while trying to load it but I think that my version is up to date

**To Reproduce**
Download the dataset from the link above
Run this code (replace root_dir by the folder where you downloaded the data) :

[code]

**Expected behavior**
Data should load

**En

[2021-03-08 11:55] aylward commented on #1357
Should try updating to ITK 5.2 rc2 or greater.

[2021-03-08 11:55] aylward commented on #1711
Should try updating to ITK 5.2 rc2 or newer.

[2021-03-08 11:59] rijobro commented on #1711
Hi @aylward, I tried this morning using 5.2 rc3. From the other issue, I get the impression that something also needs to be updated on the MONAI side.

[2021-03-08 12:10] #1708 closed

[2021-03-08 13:52] ericspod commented on #1707
I've been working on this already with a number of other things I need to finish up before putting in a PR. My implementation currently:

[code]

[2021-03-08 17:39] #1500 closed

[2021-03-08 19:09] wyli opened #1721 "openslide reader not tested/integrated into docker image"
**Describe the bug**
the openslide installation steps are currently not implemented in the testing and docker building pipelines
https://github.com/Project-MONAI/MONAI/runs/2058917545?check_suite_focus=true#step:10:5509

need to follow https://github.com/openslide/openslide-python#installation

[2021-03-08 19:28] wyli commented on #1721
need at least `apt-get install python3-openslide` before running any python code. the command might be too heavy to run for each PR commit, but probably need for the nightly test and the dockerfile cc @behxyz @Nic-Ma what do you think?

[2021-03-08 19:41] behxyz commented on #1721
@wyli, I agree! It's too heavy for each PR and also it requires to configure `tzdata` if it is not already configured on the docker container. Nightly tests only seems to be a fair compromise. Also `apt-get install libopenslide0` has less dependencies than `pytho3-openslide` and should suffice our purposes.

[2021-03-08 19:52] behxyz commented on #1721
OR we can create another docker image on top of `nvcr.io/nvidia/pytorch:20.03-py3` with all these system dependencies installed, and just install python libraries each time.

[2021-03-09 14:43] Nic-Ma commented on #1713
Hi @thewtex ,

Could you please help share some comments here?

Thanks in advance.

[2021-03-09 16:19] rijobro opened #1728 "eval_mode giving inconsistent results"
**Describe the bug**
Some networks give different results each time they're called with `eval_mode`.

I suspect this might be the cause of https://github.com/Project-MONAI/MONAI/issues/1710.

**To Reproduce**
[code]

Example output, notice how odd rows all match (train), and even rows differ (eval):
[code]

[2021-03-09 16:25] wyli commented on #1728
I feel this is expected because `res_train` updates the BN running stats, `res_eval` use the updated values...

[2021-03-09 23:13] #1721 closed

[2021-03-10 05:15] thewtex commented on #1713
Hi @JumpLK , @Nic-Ma ,

This means that the IO classes are not wrapped for 32 bit signed integers. These particular files have 32 bit signed integer pixels.

As a workaround, we can add `pixel_type=itk.F, fallback_only=True` to the `itk.imread` default `kwargs`, which will read in the pixels as 32 bit floats (a good default).

[This patch](https://github.com/InsightSoftwareConsortium/ITK/pull/2389

[2021-03-10 09:03] wyli commented on #1728
you're right, the visualisation module shouldn't quietly update the model. shall we set the BN layers to eval() even if the model is in `train_mode`?

[2021-03-10 09:05] rijobro commented on #1728
I wondered if we should use the reset model that we implemented for the learning rate finder?

[2021-03-10 09:10] rijobro commented on #1728
Or would it be possible to only enable the gradient of the target layer?

[2021-03-10 09:23] wyli commented on #1728
I had a quick test it seems we shouldn't use `eval_mode` in the vis, we want `eval()` but without `torch.no_grad()`

[2021-03-10 09:30] #1728 closed

[2021-03-10 10:57] #1710 closed

[2021-03-10 18:06] wyli opened #1739 "revise runtests.sh options"
**Is your feature request related to a problem? Please describe.**
in `runtests.sh`, change nounittests to unittests.

as we're using a flag to run most tools, `nounittests` is a flag to not run unit tests, it should be revised to be consistent with the other flags

[2021-03-11 08:24] Nic-Ma opened #1742 "Need DistributedWeightedRandomSampler"
**Is your feature request related to a problem? Please describe.**
Currently, PyTorch provides `WeightedRandomSampler` and `DistributedSampler` for the `sampler` arg of `DataLoader`, but users can't get both features together.

**Describe the solution you'd like**
Add `DistributedWeightedRandomSampler` to resample data based on weights after the `distributed sampling`.

[2021-03-11 09:29] JumpLK commented on #1711
Hi, thank you for your answers, are you working on the issue or should I try to make a workaround on my side ?

[2021-03-11 09:30] JumpLK commented on #1713
Hi, thank you for the answer !

[2021-03-11 13:17] kissievendor opened #1747 "UNet deepest layer number of features"
Hi,

I was again looking at the UNet architecture, and I noticed that there is an extra convolution (stride 1x1x1) in the deepest layer.
So, if I define my network like below, the 256 features is achieved through convolution of 128 instead of strided convolution.

Could you explain the reasoning behind this?

Thank you.

model = UNet(
    dimensions=3,
    in_channels=1,
    out_channels=7,
    ke

[2021-03-11 15:26] rijobro opened #1748 "Add inverse kwargs"
If cropping, the inverse is padding. There are multiple options for padding, such as the values used for the padding (constant, reflection, etc.). We should therefore allow the user to parameterise the inverse method. This would be easiest using a dictionary that is only used for the inverse; something like `**inv_kwargs`.

follow-up of #1515

[2021-03-11 15:28] rijobro opened #1749 "Move inverse methods to array classes"
Inverse methods currently sit in the dictionary transforms. This is because we ideally need the dictionary so that we can keep a track of the applied transforms to be able to apply the inverse in the correct order.

However, there's no reason that the inverse can't live inside the array class, and each dictionary class calls its relevant inverse.

follow-up of https://github.com/Project-MONAI/MONA

[2021-03-11 22:42] thewtex commented on #1711
Hi @JumpLK, I will work on a patch for this.

[2021-03-11 22:42] #1541 closed

[2021-03-11 23:23] ndalton12 opened #1753 "Improve transforms latency and remove excessive np->torch->np calls"
**Is your feature request related to a problem? Please describe.**
It seems that many of the transforms are implemented with torch, but only one or two support outputting the image as a tensor. Instead, I see this sort of [pattern](https://github.com/Project-MONAI/MONAI/blob/401ea299bf094c10725d9a0566379b69b7410735/monai/transforms/spatial/array.py#L383):

[code]

Where the image is converted to n

[2021-03-12 02:56] Nic-Ma commented on #1747
Hi @ericspod ,

Could you please help share some info here?

Thanks.

[2021-03-12 04:27] itruonghai opened #1754 "Sizes of tensors must match except in dimension 4. Got 18 and 17"
**I try to train Monai with Unet (the architecture is the same as the tutorial at
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d.ipynb**
Please help me to fix this bug
[code]
The U-net architecture is defined as
[code]
I try to segment 1 class (tumor only)

[2021-03-12 09:44] yiheng-wang-nv opened #1755 "Unify the input of loss components"
So far, the input format of focal loss is different from dice loss, in order to make it more convenient to use, I think it should be modified according to dice loss's input format.

[2021-03-12 09:50] rijobro commented on #1754
What transforms are you using? And what is your batch size for training, validation and testing?

[2021-03-12 10:02] rijobro commented on #1753
I suppose that ideally we would return the results in whatever form they used for the computation. And at the beginning, converting if necessary. In that way, a `np`->`np`->`torch`->`torch` set of transforms would only do that conversion once. It would require a lot of changes, but all relatively simple changes.

[2021-03-12 11:09] wyli opened #1756 "update to use ignite 0.4.4"
**Is your feature request related to a problem? Please describe.**
there're some enhancements since 0.4.2 based on monai's feedback.
shall we use the latest for monai v0.5 @Nic-Ma?

https://github.com/pytorch/ignite/releases

[2021-03-12 11:20] danieltudosiu commented on #1756
It might not be my place, but wouldn't it be a good idea for Monai to sync with Ignite's major and minor version?

[2021-03-12 11:30] danieltudosiu opened #1757 "Continue training past checkpoint's max epochs"
**Is your feature request related to a problem? Please describe.**
Currently, there is no clean way, to continue training past its initial epochs due to the fact that the state of the trained is being loaded by CheckpointLoader.

**Describe the solution you'd like**
A quick solution would be to assume that if this case appears the code of the user will account for those things (aka just gamma deca

[2021-03-12 11:33] ericspod commented on #1747
The final value in the `channels` argument defines the size of the bottom layer of the UNet structure, which doesn't involve any down/upsampling thus the stride of 1. UNet typically has a bottom layer of convolutions representing information dense in the channel dimension with downsampled spatial dimensions, this is the latent space the upsampling branch of the network starts with to decode the ou

[2021-03-12 11:52] kissievendor commented on #1747
Okay, so its goes from 128 with a normal convolution to 256. Where does the SkipConnection come from (384)? I was under the impression that after the last down-sampling, so in the bottom layer, it would go to up-sampling directly. So without the convolution with stride 1.

[2021-03-12 12:41] ericspod commented on #1747
That follows the bottom layer and is the first layer of the upsampling branch. The UNet is structured as embedded layers where each includes the downsample path, a skip connection, the next layer down, and the upsample branch concatenating data from the skip connection and the output of the next layer down.

[2021-03-12 14:01] kissievendor commented on #1747
But what I am meaning to say is: the number of features 384 is in the deepest layer as it is now (so not 256).

Also, the convolution with stride 1 is the same connection as the last SkipConnection. From 128 to 256. Otherwise you wouldn't get to 384. This seemed odd to be to do both.

[2021-03-12 15:44] Nic-Ma commented on #1757
Hi @danieltudosiu ,

Thanks for your interest here.
I think you want to continue training from the previous epoch?
You can save the trainer as an item in `CheckpointSaver`:
https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_saver.py#L38
ignite Engine can be part of checkpoint.

Thanks.

[2021-03-12 15:47] Nic-Ma commented on #1756
Hi @danieltudosiu ,

I submitted several PRs to ignite for MONAI features, so maybe it's better to update the ignite dependency.

Thanks.

[2021-03-12 18:58] #1742 closed

[2021-03-12 19:10] danieltudosiu commented on #1757
Hi Nic,

Yes, but the issue is that a proper checkpoint (aka, one that also saves the trainer state) when loaded it will also set max_epochs.

If, for example, one prototype is trained for X epochs and a model works well and should be further trained until Y epochs where Y > X this won't be possible due to the trainer state being loaded and overwriting Y with the value of X.

Does that make sense

[2021-03-12 19:39] kissievendor commented on #1747
Thank you for answering my questions. I think I understand it now.

[2021-03-12 19:40] #1747 closed

[2021-03-12 22:40] ndalton12 commented on #1753
Yes, that is also what I would do. It will definitely require some refactoring.

[2021-03-12 22:45] wyli commented on #1753
would be great to see some data to support the "HUGE speedup" statement

[2021-03-12 23:51] ndalton12 commented on #1753
@wyli Yes, it truly is, otherwise I wouldn't have posted about it ;). It's humanly noticeable, on the order of many seconds per epoch.

Here's some data:
- 0.37666 seconds mean duration time for getting a single batch using purely monai pipeline (monai transforms, monai dataset, monai dataloader).
- 0.055093 seconds mean duration time for using an equivalent pipeline in rising, with extra augmenta

[2021-03-12 23:54] wyli commented on #1753
thanks, could you please post the code for these, were you using GPU for the preprocessing? would be great to understand the full training use case.

[2021-03-13 00:02] ndalton12 commented on #1753
I can't post the full code, but I can put the important bits here.

Monai version:

[code]

Rising version:
[code]
which is done on cpu, then
[code]
which is done batched on gpu for the training data only.

Otherwise, the data loaders are using the same settings. The only other difference is that the dataset for monai is wrapped with monai's dataset instead of a torch ImageFolder (which uses PIL t

[2021-03-13 00:09] wyli commented on #1753
ok,  it seems that you comparing monai cpu vs rising gpu pipelines while omiting the actual model training pipeline. the gpu preprocessing components are different from the cpu version. none of these is a fair comparison in my opinion.

[2021-03-13 00:12] Nic-Ma commented on #1757
Oh, I see.
@vfdev-5 , I think this may be a feature request for ignite directly? Could you please help share some comments?

Thanks in advance.

[2021-03-13 00:15] ndalton12 commented on #1753
You are misunderstanding. I can entirely take out the rising gpu part and it will be *even* faster than before. The whole point of this issue is that 1. the pattern used for transforms is unnecessarily bloated and slow; and 2. that gpu support should be added...

Without the rising part at all (meaning all on gpu with the same preprocessing components), the mean duration for getting a batch drops

[2021-03-13 00:33] wyli commented on #1753
there're many factors that could result in performance differences, e.g. the IO part of the pipeline, in monai resize+central crop could be achieved with a single resample step, etc.

I agree with you that there's room to improve np->torch->np process. I'm just not sure about the fact that the ticket quickly jumps to the conclusion of "HUGE speedup" without giving the full details.

[2021-03-13 01:52] itruonghai commented on #1754
I just use loadimage, addchanel and then toTensord
[code]

My train batch size is 2 now (by default), I have use a batch size equal to 1 but it didn't work too. It raises an error on outputs = model(inputs). Is there any mismatch?

[2021-03-13 08:54] vfdev-5 commented on #1757
Thanks for mentioning @Nic-Ma ! We will be happy to address this feature in ignite directly. I'm just trying to understand better to idea.

@danieltudosiu could you please detail your idea with a small code snippet if possible. I was thinking that in ignite we can simply continue the training when we set `max_epoch` arg of `Engine.run` to a larger value than the one in the state...

[2021-03-13 10:15] rijobro commented on #1753
Should be simple enough to create truly comparative tests. We could use equivalent transforms, and use them directly on images (to avoid long pipelines).

[2021-03-13 10:16] rijobro commented on #1753
@ndalton12 is this something you'd be interested in looking into?

[2021-03-13 10:18] rijobro commented on #1754
And what size are your input images?

[2021-03-13 15:08] itruonghai commented on #1754
My input image is from NIFTI images (512x512), when it feeds into the data loader, the image has the input shape as 1,1,512,512,132 with 512x512 is the image shape and 132 is the number of images in the first NIFTI

[2021-03-13 19:48] danieltudosiu commented on #1757
@vfdev-5 you are right, we can just manually set the max_epoch in Engine.state.

The problem arises when one automates the checkpoint loading via the MONAI's [CheckpointLoader](https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_loader.py#L27) since now the checkpoint loading will happen at training start [inside the handler](https://github.com/Project-MONAI/MONAI/blob/mas

[2021-03-13 21:44] vfdev-5 commented on #1757
@danieltudosiu thanks for details, I think I start to understand the problem you are facing.

In Ignite currently we have the following to continue the training:
[code]

Together with ignite's `Checkpoint`, it should for as here: https://github.com/pytorch/ignite/blob/bd4ea8926a405ae06e971ed577602d48bbe3cc24/examples/contrib/cifar10/main.py#L343-L349
which loads the state before running the engine

[2021-03-13 21:57] danieltudosiu commented on #1757
Yes, basically a max_epochs set after [this line](https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_loader.py#L83) would do the trick.

[2021-03-15 03:32] Nic-Ma commented on #1757
Hi @vfdev-5 and @danieltudosiu ,

Thanks for the interesting discussion, I will take a look at this feature request soon.

[2021-03-15 12:36] wyli opened #1768 "better error messages for LoadImage"
**Is your feature request related to a problem? Please describe.**
when the relevant optional reader packages are not installed,
the error messages are not very straight forward:

[code]
**Describe the solution you'd like**
the error message should recommend trying the install instructions https://docs.monai.io/en/latest/installation.html

[2021-03-15 13:30] Nic-Ma commented on #1768
Hi @wyli ,

Thanks for raising this up.
I will try to update it ASAP.

Thanks.

[2021-03-15 14:53] Nic-Ma commented on #1757
Hi @danieltudosiu and @vfdev-5 ,

I checked this source of ignite engine, I think the best approach is to add the arg `overwrite_max_epochs` in engine.
Then optionally load the value for `max_epochs` here:
https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L538
What do you think?

Thanks.

[2021-03-15 15:04] danieltudosiu commented on #1757
Hi @Nic-Ma,

I do not think it is a good idea to modify the load_state method as it modifies the expected behavior of such a method and might not fall in line with the PyTorch way. But you and @vfdev-5  are more experienced in this than I.

My recommendation would be to be integrated in the MONAI checkpoint loader after this line here:
https://github.com/Project-MONAI/MONAI/blob/master/monai/handl

[2021-03-15 15:15] vfdev-5 commented on #1757
@Nic-Ma I'm not sure to understand where you would like to add `overwrite_max_epochs` ? Thinking more about the loading engine state while it is already running seem not to be a good idea in general. I understand how you are doing things and it is OK.

I also agree with @danieltudosiu on above points.

[2021-03-15 16:18] Nic-Ma commented on #1757
Hi @vfdev-5 ,

OK, so what's your proposal for this ticket?

Thanks.

[2021-03-15 16:30] vfdev-5 commented on #1757
As @danieltudosiu suggested, we can modify `CheckpointLoader`
[code]

What do you think @Nic-Ma ?

[2021-03-15 16:53] Nic-Ma commented on #1757
Hi @vfdev-5 ,

Sounds reasonable, thanks for your draft code.
I will try to submit a PR for more discussion soon.

Thanks.

[2021-03-15 19:40] #1756 closed

[2021-03-15 22:24] wyli commented on #1651
fixed by https://github.com/Project-MONAI/MONAI/pull/1729

[2021-03-15 22:24] #1651 closed

[2021-03-15 22:28] wyli commented on #1665
addressed by https://github.com/Project-MONAI/MONAI/pull/1752

[2021-03-15 22:28] #1665 closed

[2021-03-15 22:29] #1574 closed

[2021-03-16 00:09] masadcv commented on #1090
Hi @wyli,
What kind of support you wish to have with EfficientNets? The original paper at: https://arxiv.org/pdf/1905.11946.pdf has EfficientNet-B0 to EfficientNet-B8 for ImageNet classification task.

[2021-03-16 04:09] Nic-Ma commented on #1757
Hi @vfdev-5 and @danieltudosiu ,

I submitted PR https://github.com/Project-MONAI/MONAI/pull/1775 for this ticket.
Could you please help review it?
I changed to use `if engine.state.epoch > prior_max_epochs` instead of `if engine.state.max_epochs > prior_max_epochs` because I think we need to support this case: user set `max_epochs=100` and saved checkpoint at epoch=50 for some exception or ctrl+C

[2021-03-16 05:39] Nic-Ma opened #1776 "support greater_or_equal from ignite 0.4.4"
**Is your feature request related to a problem? Please describe.**
In ignite 0.4.4, @vfdev-5 and I developed a new arg in CheckpointHandler `greater_or_equal`, which is a feature request from our interval research team.
https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L101
Need to add this support in MONAI as MONAI already updated the ignite dependency to 0.4.4.

[2021-03-16 08:29] vfdev-5 commented on #1757
Yes, @Nic-Ma you are right. I'll be happy to review the PR, thanks for notification !

[2021-03-16 09:40] #1768 closed

[2021-03-16 09:56] wyli commented on #1090
Hi, thanks for your interest here, might be interesting to have two implementations: a basic one with a few fixed architectures (such as [this hard-coded](https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/basic_unet.py#L209-L231)) to support finetuning from the pre-trained weights; another one with flexible interfaces to support variable configurations (such as [dynamic unet w

[2021-03-16 16:26] #1776 closed

[2021-03-16 18:33] ndalton12 commented on #1753
@rijobro I can't put much time into it, but I might be able to create some tests at some point. However, if anyone wants to take a stab at it, feel free.

[2021-03-16 19:58] #1757 closed

[2021-03-16 21:14] behxyz opened #1785 "Dependencies of CI/CD on Windows platform"
**Describe the bug**
Right now CI/CD is set to install the first 12 dependencies for Windows platform, so it excludes any new dependency. Shouldn't we specifically exclude the ones that are not running on Windows instead?

[2021-03-16 21:16] behxyz commented on #1785
@wyli @Nic-Ma @rijobro
Do you know what are the troublesome dependencies for Windows platform that need to be excluded?

[2021-03-16 21:19] behxyz commented on #1785
Is there any reason we are relying on requirement files instead of `setup.cfg`?

[2021-03-16 21:22] #1785 closed

[2021-03-17 08:46] #1755 closed

[2021-03-17 11:46] lukasfolle opened #1789 "RandCropByPosNegLabel: Random location"
**Is your feature request related to a problem? Please describe.**
I noticed that `RandCropByPosNegLabel` always crops objects with the foreground pixels being in the center.

**Describe the solution you'd like**
To get more variance into this transformation, I think it would be nice to have a flag indicating that the foreground voxel has not to be sampled in a centered way, but randomly in the pa

[2021-03-17 13:57] yiheng-wang-nv opened #1790 "`ScaleIntensityd` input data type is not consistent with `ScaleIntensity`"
In `ScaleIntensityd`, according to the doc string:
[code]
The parameters `minv` and `maxv` can be `None` that are the same as `ScaleIntensity`.
However, the types for these two parameters are limited to `float`.
 It will lead to an error that if users need to use `factor`, the parameter will not be used actually since `minv` and `maxv` have values, the corresponding codes are as follow:
[code]
Let

[2021-03-17 14:43] wyli opened #1791 "CuFileDriver cannot be open"
**Describe the bug**
running `nvidia-smi` gives a warning `CuFileDriver cannot be open. Falling back to use POSIX file IO APIs.`
https://github.com/Project-MONAI/MONAI/runs/2130671421?check_suite_focus=true#step:6:294

**To Reproduce**
appeared in several recent testing results, but all tests finished normally

[2021-03-17 14:44] wyli commented on #1791
could you help look into this? @Nic-Ma I saw this today but don't know the root cause

[2021-03-17 14:50] Nic-Ma commented on #1791
Hi @behxyz ,

I think you know something about this issue, could you please help take a look?

Thanks in advance.

[2021-03-17 15:51] behxyz commented on #1791
Hi @wyli and @Nic-Ma,
It is not related to `nvidia-smi` and running `nvidia-smi` does not give this warning. This is an expected message from `cuCIM`. Since our docker does not have `libcufile` for GPU Direct Storage, it falls back to use POSIX IO, so it gives a warning. It doesn't have any effect on the functionality of our codes, so nothing to worry about. I talked to the developer and it can be

[2021-03-17 16:02] wyli commented on #1791
ok, do you know which line is triggering this warning? there are many repeated warning messages during the tests. if it's from cuCIM, is it possible to mute it unless we actually use the relevant module?

[2021-03-17 16:12] behxyz commented on #1791
This message comes from C++ level of cuCIM, and we cannot silence it. It is produced right after `import cucim` in `image_reader`. Since there are many tests for image_reader, we will see it multiple times.
It's a warning that we should skip for now and maybe request to remove this warning from `cucim` library.

[2021-03-17 16:17] wyli commented on #1791
we should move the cucim import to line 652 in the reader as a workaround? https://github.com/Project-MONAI/MONAI/blob/master/monai/data/image_reader.py#L652

[2021-03-17 16:19] wyli commented on #1791
the notebooks are giving too many outputs
[code]

[2021-03-17 16:41] behxyz commented on #1791
@wyli, I see. Which notebook is this?

[2021-03-17 16:47] wyli commented on #1791
./acceleration/transform_speed.ipynb from the tutorials, logs here: https://github.com/Project-MONAI/MONAI/runs/2130772126?check_suite_focus=true

[2021-03-17 17:02] behxyz commented on #1791
Right, I checked the notebook and it uses `LoadImage`, and since it uses multi-processing it appears multiple times. In single processing, it should appear only once.

Moving the import to where you suggested break the functionality of the `__init__`. Let me see what we can do.

[2021-03-17 18:11] behxyz commented on #1791
Looking into the workaround, I realized in order for displacing cucim import works is to remove `WSIReader` from `LoadImage`. We are not using cucim or openslide in the same way that we are using other image readers (we rarely load the whole slide image), so I think #1695 was unnecessary and is causing problem for what we are not using. I'll submit a PR to fix this as a temporary workaround.

[2021-03-17 18:55] behxyz commented on #1791
@wyli, @Nic-Ma
I talked to Gigon (the cucim developer) again, and he kindly agreed to create and push a minor release to PyPI for us to remove this message. I'll update the dependencies once it is published.

[2021-03-17 19:01] wyli commented on #1791
thanks @behxyz , I also agree with you that we won't have many use cases for #1695 , it's somewhat unnecessary

[2021-03-17 19:59] masadcv commented on #1090
Many thanks @wyli, I can look into the basic ones if no one is already looking into it. It will take me sometime to extract and port relevant ones from https://github.com/rwightman/gen-efficientnet-pytorch . I am thinking of having at least the original proposed ones B0-B7 in the first pass.

[2021-03-17 20:38] behxyz commented on #1791
I submitted a PR to address this just in case, #1796.

[2021-03-17 20:53] behxyz opened #1798 "PR #1778 causes error"
**Describe the bug**
PR #1778 has broken a Clara Train MMAR that uses RandomZoomD.

[code]

[2021-03-17 20:54] behxyz commented on #1798
@wyli @rijobro, it seems that this PR requires more testing.

[2021-03-17 21:05] wyli commented on #1798
thanks, could you share the version info: `python -c 'import monai; monai.config.print_debug_info()'` of this error stack, and the input parameters of `RandZoomD`?

[2021-03-17 21:10] #1790 closed

[2021-03-17 21:13] wyli commented on #1798
would be great to follow the bug report template to provide debug info as much as possible, so that we could address this efficiently. "PR #1778 causes error" jumps to the conclusions too quickly

[2021-03-17 21:13] behxyz commented on #1798
[code]

[2021-03-17 21:14] behxyz commented on #1798
Here are the input args:
[code]

[2021-03-17 21:25] wyli commented on #1798
currently I couldn't locate the issue, just quick comments atm:
1. MONAI version: 0.3.0+305.gf8fe3b1.dirty, "dirty" means there're some changes based on `f8fe3b1` which is this version https://github.com/Project-MONAI/MONAI/tree/f8fe3b1e72228215f0295121bf8ea3fbdf8be319 could you retry with `git checkout f8fe3b1e72228215f0295121bf8ea3fbdf8be319`
1. the error msg check is too strict that capture use

[2021-03-17 21:46] behxyz commented on #1798
If it helps, I updated to the latest commit and remove all the local changes and untracked files. The same happens!
[code]

[2021-03-17 21:46] behxyz commented on #1798
When I checkout the commit just before PR#1778, all goes back to normal and work as before (`46154ec78fb41680561fe275068c52dcd073faa5`).

[2021-03-17 22:36] rijobro commented on #1798
Thanks for bringing this to my attention, I'll sort it first thing tomorrow!

[2021-03-17 23:07] mtsale commented on #1754
If all your images (train, validation, testing) are definitely the same size in all dimensions, then the problem might be in the '132'.  Make that last dimension divisible by pool size^depth. For example 2^4 = 16. So either pad or crop your images to a multiple of 16. Another way to do it is with patches. The spleen example crops the patches to 96. This is the best approach because the big images

[2021-03-18 00:13] #1791 closed

[2021-03-18 00:17] atbenmurray commented on #1090
Yea, my main interest is in how one provides a generic approach performing efficientnet-style architecture search across diverse network architectures

[2021-03-18 01:28] itruonghai commented on #1754
Is there any transform to make the image size maintains the same (like 512 x 512). I change the RandCropByPosNegLabeld to
[code]
Or can we change from Crop the Image to Pad the images? Hope you will help me.

[2021-03-18 02:55] Nic-Ma commented on #1789
Hi @lukasfolle ,

Thanks for raising this up.
Actually, we have a duplicated ticket: https://github.com/Project-MONAI/MONAI/issues/586
Could you please help submit a PR for this new transform if you are interested?

Thanks.

[2021-03-18 07:39] wyli commented on #1789
i think this could be achieved by providing a dilated version of the original foreground as the sampling candidate locations. it’s slightly different from #586

[2021-03-18 08:01] lukasfolle commented on #1789
@wyli Could you elaborate on "dilated version of the original foreground as the sampling candidate locations"?

I had the following in mind:
1. Get foreground indices like before
2. Create a region around the foreground indices such that every valid crop yields a least one foreground index
3. Randomly sample the region

Please let me know what you think of this proposal.

[2021-03-18 08:21] wyli commented on #1789
yes, to achieve the same without modifying the transform:
1. dilate the foreground by k voxels and put it into the data dict with "label_dilated" key
2. invoke RandCropByPosNegLabel (label_key="label_dialed", spatial_size=2*k, ...)

[2021-03-18 10:43] wyli commented on #1789
sure, dilation k and spatial size are free parameters here, I just wanted to set them in this particular relation so that the sampling roughly achieves "not to be sampled in a centered way, but randomly in the patch."

[2021-03-18 11:08] lukasfolle commented on #1789
@wyli Do you have some code working already?

[2021-03-18 12:32] yiheng-wang-nv opened #1804 "Add pretrain option for DenseNet and SENet"
So far, Class DenseNet and Senet do not have an option to load pretrained weights for specific arch. Users need to call a function, such as `densenet121` and `se_resnet50` to load pretrained weights. It may not be very convenient for some cases that only `Class` type are supported to call.
Let me submit a PR to improve it.

[2021-03-18 19:07] wyli opened #1807 "Potentially insufficient shuffling in SmartCacheDataset"
**Describe the bug**
By design, in each training epoch, SmartCacheDataset only presents `cache_num` of data points to the data loader where data shuffling is achieved.

There's a potential of insufficient shuffling at the initial training epoches, when `cache_num`/`cache_rate` is small, and the cache replacements are not fast enough.

**Expected behavior**
would be great to have a global data list

[2021-03-18 19:21] #1798 closed

[2021-03-19 03:21] Nic-Ma opened #1808 "Need to drop activation and one-hot args in AUC"
**Is your feature request related to a problem? Please describe.**
We already dropped activation and one-hot args in metrics except AUC, use post transforms instead.

**Describe the solution you'd like**
Drop the args in AUC metric.

[2021-03-19 03:31] Nic-Ma commented on #1807
Hi @wyli ,

Thanks for raising this ticket.
I will take a look next week.

Thanks.

[2021-03-19 06:02] yiheng-wang-nv opened #1809 "Add std based shift intensity transform"
The current `ShiftIntensity` can only support the transform that shift a fixed value for the image. Here I wish to add a new transform function that can shift `a value * the standard deviation of an image`.
I'll submit a PR to implement this transform function

[2021-03-19 15:27] yiheng-wang-nv commented on #1804
Under default settings, given an arch should be enough to determine the network structure, but my last updates still need the user to input both `pretrained_arch` and other parameters to get the network. I'll submit a new PR to improve it again.

[2021-03-19 18:06] #1809 closed

[2021-03-19 19:12] wyli opened #1814 "apply_transform better error msg"
**Is your feature request related to a problem? Please describe.**
follow up of https://github.com/Project-MONAI/MONAI/discussions/1784#discussioncomment-504257 the error message from the `apply_transform` function could be improved
- https://github.com/Project-MONAI/MONAI/blob/70388fa298384f698dfb3ba790e3bedb1ffcb07b/monai/transforms/transform.py#L48

**Describe the solution you'd like**
could us

[2021-03-19 21:20] wyli opened #1815 "allows for flexible model "mode" in the evaluators"
**Is your feature request related to a problem? Please describe.**
provide an option for all the evaluators to be able to switch between "train_mode" and "eval_mode" of the model.
(this is useful for GradCAM inference integration)

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/70388fa298384f698dfb3ba790e3bedb1ffcb07b/monai/engines/evaluator.py#L200

[2021-03-20 02:30] Nic-Ma commented on #1814
OK, I will take a look at this request.

Thanks for raising it.

[2021-03-20 02:31] Nic-Ma commented on #1815
Sounds interesting, I will enhance the SupervisedEvaluator for it.

Thanks.

[2021-03-20 06:36] mtsale commented on #1754
You can keep your input images as 512x512 and use the Monai transforms to do patch wise cropping (don't worry your network will reassemble them later if you are copying the spleen example code). Try a simple RandSpatialCropD ~ look at the brats segmentation tutorial.

Get that working first then try and change small things to see if they make an improvement to your segmentations.