[2021-06-23 10:18] Spenhouet commented on #2426
With `map_item=False` it is no longer possible to pass in a list of items to the compose call, right? Or am I missing something?

Adding an additional boolean flag for unpack as proposed above:

[code]

[code]

This works as expected.

[code]

@wyli Would such an additional parameter for compose be welcome? I can open up a pull request for that.

Here also the fix for the transforms with meta data

[2021-06-23 11:17] wyli commented on #2426
sure, please feel free to have a non-breaking change to introduce `unpack`.
currently `map_items=True` means  applying the transform to each image patch respectively `[xform(patch_1),  xform(patch_2)]`, and `map_items=False` means  `xform([patch_1, patch_2])`

[2021-06-23 13:00] ericspod commented on #2410
I'm good with that renaming.

[2021-06-23 13:07] Nic-Ma commented on #2410
OK, let me cover this feature request in PR #2315 .

Thanks.

[2021-06-23 13:32] #2415 closed

[2021-06-23 14:57] Nic-Ma opened #2428 "Enhance technical highlights for the pure PyTorch components"
**Is your feature request related to a problem? Please describe.**
Got the feedback from Kristopher Kersten:
can any pytorch optimizer be used with MONAI? or does it have to be implemented in the monai.optimizers class?
working with Rhino to convert one of their existing models that uses torch.optim's SGD, and they're not exactly sure how to translate to the Novograd optimizer that's in monai.opti

[2021-06-23 15:21] wyli commented on #2428
I think this should be addressed in the optimizer class (and the other modules)? not sure why it's about updating the highlight doc

[2021-06-23 15:24] Nic-Ma commented on #2428
Hi @wyli ,

I think that because we don't have a **base class or something** to say the high-level points of loss, network and optimizer.
Where would you suggest to say something about this?

Thanks.

[2021-06-23 15:26] wyli commented on #2428
could be module-level docstrings or in this readme https://github.com/Project-MONAI/MONAI/blob/dev/monai/README.md

[2021-06-23 15:26] Nic-Ma commented on #2428
OK, sounds good.

Thanks for the suggestion.

[2021-06-23 15:45] Nic-Ma commented on #2428
BTW, I will also enhance the doc-string of workflows since users may be not clear about the input args of our trainer.

Thanks.

[2021-06-23 22:26] #2428 closed

[2021-06-23 23:02] Nic-Ma opened #2432 "Support to set pos/neg crop ratio for every class"
**Is your feature request related to a problem? Please describe.**
Feature request from @myron .
currently, we can only set the ratio for foreground / background, can't set the ratio for every class.
Need to develop a new crop transform to support ratio list of every class.

[2021-06-24 03:51] Nic-Ma commented on #2417
Submitted PR for it: https://github.com/Project-MONAI/tutorials/pull/237

Thanks.

[2021-06-24 08:26] rijobro commented on #2432
sounds like a great idea!

[2021-06-24 12:54] Spenhouet commented on #2426
@wyli I would like to come back to the example you posted before:

https://github.com/Project-MONAI/MONAI/blob/a0afa604bbb5f4e673597c5ca833ba1fd4b8547e/monai/data/image_dataset.py#L114-L116

This will only work with the `_TestCompose` implementation in `test_image_dataset.py`. This does not work via the `map_item=False` flag. As I see it the implementation of `ImageDataset` isn't really useable at

[2021-06-24 18:34] #2407 closed

[2021-06-24 20:42] ambroslins opened #2443 "PicklingError on CropForegroundd transform with lambda as select_fn"
**Describe the bug**
Using the `CropForegroundd` transform with a lambda `select_fn` and `DataLoader` with `num_workers > 0` will fail with the following output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. save script:
[code]
2. Install `monai==0.5.3`
3. run script

**Expected behavior**
`CropForegroundd` should work with lambda functions, as the default for the `select_fn` argume

[2021-06-24 20:47] wyli commented on #2443
Thanks for the detailed report. I think it's been addressed in https://github.com/Project-MONAI/MONAI/issues/2122, the fix will be available in the next milestone release.

[2021-06-24 20:47] #2443 closed

[2021-06-24 22:14] #2426 closed

[2021-06-24 23:13] Nic-Ma commented on #2399
Hi @vfdev-5 ,

May I know the ETA of pypi release of ignite v0.4.5? We are closing to MONAI v0.6 release.

Thanks.

[2021-06-24 23:27] vfdev-5 commented on #2399
Hi Nic, we just released it and will announce tomorrow :)
- https://pypi.org/project/pytorch-ignite/
- https://anaconda.org/pytorch/ignite

[2021-06-24 23:28] Nic-Ma commented on #2399
That's really cool!! Congratulations!

Thanks.

[2021-06-24 23:32] vfdev-5 commented on #2399
Thanks, Nic and sorry for delay ! Meanwhile we fixed more small issues/bugs and could finally upload to anaconda and pypi...
Hope this unblocks your work.

[2021-06-24 23:34] Nic-Ma commented on #2399
Hi @vfdev-5 , I will try to update ignite in MONAI as soon as possible.

Thanks.

[2021-06-25 04:04] Nic-Ma opened #2445 "SmartCacheDataset modified input datalist"
**Describe the bug**
Bug reported by an internal user:
If set `shuffle=True` in `SmartCacheDataset`, it will modify the input datalist in place, program to reproduce:
[code]
The output:
[code]

It should only shuffle the datalist in the `SmartCacheDataset`.

Thanks.

[2021-06-25 07:32] Meddebma opened #2449 "Explainable AI"
A big problem of AI in medicine is that "black box" approach is unacceptable for clinical decision support. I would like to work with you on a solution to integrate not only radiological Data but also clinical data to predict treatment's outcomei.
One possible solution would be to change classification model architechture (like UNET) to insert 2D or 3D images, but also patient's clinical data (Lik

[2021-06-25 07:46] #2445 closed

[2021-06-25 08:00] Nic-Ma commented on #2290
Hi @SachidanandAlle ,

I submitted PR: https://github.com/Project-MONAI/MONAI/pull/2436/ for this ticket, could you please help review it?

Thanks in advance.

[2021-06-25 08:13] #2449 closed

[2021-06-25 08:52] Nic-Ma opened #2452 "Seems expected execution time is too short for integration tests"
**Describe the bug**
As we switched to Blossom recently, I noticed that sometimes the integration failed due to execution time:
https://github.com/Project-MONAI/MONAI/runs/2912090225
@madil90 @IsaacYangSLA @wyli Should we increase the expected execution time?

[2021-06-25 10:32] Nic-Ma commented on #2402
Mark: there are 3 tasks to update for all the examples and notebooks:
1. metrics API.
2. decollate batch data.
3. correct `pre transform` or `post transform` to `preprocessing transform` or `postprocessing transform`.

Thanks.

[2021-06-25 11:08] #2365 closed

[2021-06-25 13:53] #2417 closed

[2021-06-25 16:02] Nic-Ma opened #2453 "`ToTensor()` transform adds unexpected dim"
**Describe the bug**
A bug reported by Hogler:
When using `ToTensor()` transform on a numpy array with 0 dims, it added 1 dim.
The root cause is `np.ascontiguousarray()` added a dim:
[code]
I will try to fix it ASAP.

Thanks.

[2021-06-25 17:53] SachidanandAlle commented on #2290
This is little difficult to use.. I have to call update explicity.  Basically I have to save the dataset object..
I thought we can call use filename and whenver iterator starts, we simple load list from the file...

[2021-06-25 19:22] zbarry opened #2456 "DynUNet docstring conflicts with default kwarg for res_block"
In the docstring for `DynUNet`, `res_block` is said to be set to `True` by default, but it is actually set to `False` in the method definition:

https://github.com/Project-MONAI/MONAI/blob/079fcd46c33dc5a81b398dd4b077c3bb7b647a7b/monai/networks/nets/dynunet.py#L99-L115

[2021-06-25 23:20] Nic-Ma commented on #2290
Hi @SachidanandAlle ,

Thanks for your feedback.
To support this feature in `caching` datasets, I think at least we need a way to notify the dataset to **reload data and compute cache content**, right? I think you will reload datalist for example every 100 epochs? If you need to reload datalist for every epoch, you don't need to cache at all.
Or maybe I misunderstood your question?

Thanks.

[2021-06-25 23:23] Nic-Ma commented on #2456
Hi @zbarry ,

Thanks for your interest here and feedback!
@yiheng-wang-nv could you please help take a look at this issue and update the doc-string or the code?

Thanks in advance.

[2021-06-26 01:30] Nic-Ma opened #2460 "How do I to use a Pad transform with a constant value?"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/2459

<div type='discussions-op-text'>

<sup>Originally posted by **vanossj** June 26, 2021</sup>
I'm looking at the various pad transforms that end up using `np.pad` such as `SpacialPad`. I can set the `mode="constant"` but how do I provide the constant value to use? `np.pad` has a `constant_values` param but I don't see that get

[2021-06-26 01:32] Nic-Ma commented on #2460
Hi @vanossj ,

Thanks for your experiment with MONAI and feedback.
We truly don't have the pad value option in `SpatialPad` transform so far, let me try to add it ASAP next week.

Thanks.

[2021-06-26 06:00] #2456 closed

[2021-06-26 16:52] #2453 closed

[2021-06-28 08:11] sandylaker opened #2467 "Inflexible score function of CheckpointSaver"
https://github.com/Project-MONAI/MONAI/blob/9f9b63a7dc56d8b31d4fc8d34aae77865ba95947/monai/handlers/checkpoint_saver.py#L148-L160

Currently the `CheckpointSaver` saves the check point that has the largest score value. However, this is not desirable when a lower score indicates better performance, e.g. validation loss. We can either allow the user to pass a custom score function (as in the ignite.

[2021-06-28 08:18] Nic-Ma commented on #2467
Hi @sandylaker , thanks for raising this question, I think it's a question for ignite `Checkpoint` handler.
@vfdev-5 , could you please help share some comments? I think you have encountered this question.
Maybe adding a ”-“ before the metrics value if the smaller is better?

Thanks.

[2021-06-28 08:33] vfdev-5 commented on #2467
Hi @Nic-Ma , in ignite we provide a default score function from metric : https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.Checkpoint.html#ignite.handlers.checkpoint.Checkpoint.get_default_score_fn in addition to `score_function` argument such that both cases: larger-better or lower-better are covered:
[code]
and
[code]

[2021-06-28 09:00] Nic-Ma commented on #2467
Hi @vfdev-5 ,

Cool! I will try to update MONAI side to leverage this new ignite feature soon.
Let's keep this ticket open to track it.

Thanks.

[2021-06-28 09:47] sandylaker opened #2468 "Support more backends in distributed operations"
The current version of MONAI utilizes `torch.distributed` for `all_gather`, `all_reduce` etc., e.g. in **line 409** below. However, this will raise an Error when I launch the parallel programs in `ignite.distributed.Parallel` context with `horovod` or `xla` backend: `RuntimeError: Default process group has not been initialized, please make sure to call init_process_group.` Is it better to replace

[2021-06-28 09:59] Nic-Ma commented on #2468
Hi @sandylaker ,

Thanks for raising this topic.
Currently, we only use `torch` and `numpy` as must-have dependencies, so all the metrics, classification saver, etc. are developed based on PyTorch native dist APIs for data parallel.
I marked this ticket for working group discussion.

Thanks.

[2021-06-28 10:05] wyli commented on #2468
Perhaps for this ticket we should prefer the ignite's interface if they are available? https://github.com/Project-MONAI/MONAI/issues/2330 will it resolve this issue?

[2021-06-28 10:13] Nic-Ma commented on #2468
Hi @wyli ,

Currently, all the refactored metrics can be used in regular PyTorch program with `multi-processing` data-parallel support.
Do you mean to use ignite APIs for all the metrics instead? I think this feature request is the opposite of ticket #2330 ? Maybe raise a discussion in the internal meeting.
Please feel free to correct me if I misunderstood your comments.

Thanks.

[2021-06-28 10:17] wyli commented on #2468
I mean in the utility functions we can support both ignite and torch native, with ignite having a higher priority. Will it be feasible?

[2021-06-28 10:20] Nic-Ma commented on #2468
Hi @wyli ,

Thanks for your explanation.
Seems like a good idea to enhance the multi-processing computation.
Let me try to enhance the dist utilities later, if no ignite installed, fallback to use `torch.dist` native APIs.

Thanks.

[2021-06-28 10:55] #2460 closed

[2021-06-28 12:50] diazandr3s commented on #2290
Thanks for you help with this @Nic-Ma
Rather than reloading datalist every certain number of epochs, it should be loaded after new label is detected.

[2021-06-28 14:07] Nic-Ma commented on #2290
Hi @diazandr3s ,

Thanks for providing the feedback.
How did you detect a `new label` came? I think it should be controlled in your app program, then you can call the new `set_data()` API of datasets when you detected new label?

Thanks.

[2021-06-28 14:10] zbarry commented on #2456
Thanks, both!

[2021-06-28 14:41] deepib commented on #2399
add another set of tests for 0.4.5
code base should support both versions

[2021-06-28 14:41] lyndonboone commented on #1847
Hi @wyli , has anybody started working on this yet? If not, would you like me to try to submit a PR?

[2021-06-28 14:46] Nic-Ma commented on #1847
Hi @lyndonboone ,

Thanks for your interest here, welcome your contribution if you like.
I think maybe you can make it as subclass of `Compose` or another `Compose` mechanism, @wyli @ericspod @rijobro what do you think?

Thanks.

[2021-06-28 15:13] lyndonboone commented on #1847
@Nic-Ma @wyli great. I'll start to put something together for it.

Thanks!

[2021-06-28 16:04] #2399 closed

[2021-06-28 18:22] #2290 closed

[2021-06-28 18:40] diazandr3s commented on #2290
Thanks for your reply @Nic-Ma
I think that's something for monailabel interfaces. Perhaps triggering the datalist update once the user submits a label could be a way to solve this? What doy you think @SachidanandAlle ?

[2021-06-29 00:31] Nic-Ma opened #2474 "Mark SegmentationSaver and TransformInverter handlers as `deprecated`"
**Is your feature request related to a problem? Please describe.**
As the `SaveImaged` and `Invertd` transforms are more flexible than the 2 handlers, and the output of the 2 handlers can't align with the latest dataflow design(combine `batch` and `output`). I would suggest to deprecate the handlers in MONAI v0.7.

[2021-06-29 07:38] #2273 closed

[2021-06-29 07:39] #2364 closed

[2021-06-29 10:29] wyli opened #2477 "releasing v0.6.0 -- checklist"
Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.

Quality assurance for the relevant repos
The new

[2021-06-29 13:43] #2220 closed

[2021-06-29 13:43] #2452 closed

[2021-06-29 13:44] wyli commented on #2300
fixed by https://github.com/Project-MONAI/MONAI/pull/2315

[2021-06-29 13:44] #2300 closed

[2021-06-29 13:45] wyli commented on #2275
fixed by https://github.com/Project-MONAI/MONAI/pull/2315

[2021-06-29 13:45] #2275 closed

[2021-06-29 13:45] wyli commented on #2410
fixed in https://github.com/Project-MONAI/MONAI/pull/2315

[2021-06-29 13:45] #2410 closed

[2021-06-29 13:52] wyli opened #2478 "Update feature highlight doc for v0.6.0 (7/July)"
**Is your feature request related to a problem? Please describe.**
this is a sub-task of https://github.com/Project-MONAI/MONAI/issues/2477

[2021-06-29 14:00] yiheng-wang-nv commented on #2402
I will start this task since https://github.com/Project-MONAI/MONAI/pull/2315#event-4953733589 has been merged.

[2021-06-29 14:18] Nic-Ma commented on #2402
Hi @yiheng-wang-nv ,

Add another item:
4. Change `SegmentationSaver` and `TransformInverter` handlers to use `SaveImaged` and `Invertd` transforms instead.

Thanks.

[2021-06-29 14:44] wyli opened #2479 "enhance the version comparison utililty"
**Is your feature request related to a problem? Please describe.**
version comparison is needed for a few cases:
- https://github.com/Project-MONAI/MONAI/blob/2085a49820be146ad953ece23041540a237e08b6/tests/utils.py#L133-L136
- https://github.com/Project-MONAI/MONAI/blob/2085a49820be146ad953ece23041540a237e08b6/monai/utils/module.py#L276-L279
- https://github.com/Project-MONAI/MONAI/blob/2085a49820

[2021-06-29 17:42] #2479 closed

[2021-06-29 22:17] Nic-Ma commented on #2478
Thanks for raising it.
I will make a PR to update the highlight doc before the end of this week.

Thanks.

[2021-06-30 11:36] Nic-Ma commented on #2467
Hi @vfdev-5 ,

I submitted PR https://github.com/Project-MONAI/MONAI/pull/2487 to add support for this feature request.
I think there is a minor drawback in ignite: the saved checkpoint will have a "-" in the filename:
`net_validation_loss=-0.1234.pt`
Maybe you can consider to correct it back to positive number in the filename in future ignite version?

Thanks.

[2021-06-30 12:57] vfdev-5 commented on #2467
@Nic-Ma thanks ! Yes, I agree that it is better to show actual value instead of negative one. We had previously `abs(score)` such that negative values become positive but we removed that.

[2021-06-30 14:35] Nic-Ma commented on #2467
Hi @vfdev-5 , so do you plan to add back `abs(score)` logic in next ignite version?

Thanks.

[2021-06-30 14:47] #2474 closed

[2021-06-30 15:10] Nic-Ma commented on #2477
Hi @wyli ,

Are you preparing the `changelog` of v0.6?

Thanks.

[2021-06-30 15:14] wyli opened #2488 "Update changelog for v0.6.0 (8/July)"
**Is your feature request related to a problem? Please describe.**
this is a sub-task of #2477

[2021-06-30 15:17] wyli commented on #2477
thanks for the reminder, I create a ticket for it, please feel free to create other ticket based on this checklist. also this ticket would need a conclusion from https://github.com/Project-MONAI/MONAILabel/issues/152

[2021-06-30 15:18] Nic-Ma commented on #2477
Plan sounds good.
I am updating the highlight features page, will submit a draft PR ASAP.

Thanks.

[2021-06-30 15:28] wyli opened #2489 "update to use the project's shared google drive location"
**Is your feature request related to a problem? Please describe.**
As a short term solution we put the demo/model/testing data on the project's shared google drive location:
https://drive.google.com/drive/u/2/folders/1ZOqwF44newvq-jOSgnbXRDWRD9DRq8hH

for example:
https://github.com/Project-MONAI/MONAI/blob/2b132466b7c97a915d5a687366cdbf77315548df/tests/test_download_and_extract.py#L25-L26

[2021-06-30 17:27] wyli commented on #2289
now we have an option of the project share drive for this https://github.com/Project-MONAI/MONAI/issues/2489, do you want to revisit the PR? @Douwe-Spaanderman

[2021-07-01 02:58] #2467 closed

[2021-07-01 04:44] Nic-Ma commented on #2468
Hi @sandylaker ,

I submitted PR: https://github.com/Project-MONAI/MONAI/pull/2492 to address this ticket.
Unfortunately, we don't have Horovod or XLA test environment, could you please help verify the above PR?

Thanks in advance.

[2021-07-01 07:02] yiheng-wang-nv opened #2493 "Segmentation / Classification integration tests forget to use decollate"
Now, post processing transforms assume the input to be channel first tensors, but in:
https://github.com/Project-MONAI/MONAI/blob/dev/tests/test_integration_segmentation_3d.py#L149
It used batch first tensors.

[2021-07-01 07:03] Nic-Ma commented on #2493
Hi @yiheng-wang-nv ,

Thanks for your finding.
Let me fix it ASAP.

[2021-07-01 08:26] #2403 closed

[2021-07-01 08:58] Nic-Ma opened #2495 "Minor code format issue in PatchEmbeddingBlock"
**Describe the bug**
If running `/black`, the change in the newly added PatchEmbeddingBlock will cause CI error.
https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/blocks/patchembedding.py
And there are also some other potential issues about the input args.

[2021-07-01 08:59] Nic-Ma commented on #2495
I will add more code checks to `PatchEmbeddingBlock` and format it in a quick PR.
Thanks.

[2021-07-01 09:10] 7oud opened #2497 "Training 3D segmentation crash occasionally"
**Describe the bug**
I run a 3D seg training task, the process crash occasionally. Sometimes the program crash in a few mintues, sometimes it runs serveral hours. Crash only occurs in validation(after every n training epochs). It seems some exception happen when fetching val data.

**Screenshots**
[code]
some related code
[code]

**Environment**
Ubuntu18.04,
monai,  0.5.3+156.g0aa936f8

[2021-07-01 09:12] 7oud opened #2498 "Training 3D segmentation crash occasionally"
**Describe the bug**
I run a 3D seg training task, the process crash occasionally. Sometimes the program crash in a few mintues, sometimes it runs serveral hours. Crash only occurs in validation(after every n training epochs). It seems some exception happen when fetching val data.

**Screenshots**
[code]
some related code
[code]

**Environment**
Ubuntu18.04,
monai,  0.5.3+156.g0aa936f8

[2021-07-01 09:13] #2497 closed

[2021-07-01 09:14] wyli commented on #2495
I think this autofix breaks the type ignore command https://github.com/Project-MONAI/MONAI/pull/2492/commits/be33e85fe82674e90cd87508ddd080a7bc4c0eb3

[2021-07-01 09:16] Nic-Ma commented on #2495
Hi @wyli ,

Yes, it is just 1 issue in `PatchEmbeddingBlock`, but the root cause is that we should not add `type ignore` at all, the typehint is not correct.

Thanks.

[2021-07-01 09:38] wyli commented on #2495
Sure, I hope this new feature release get stuck at the details of (unstable) type checking, given that the code showed good performance on some segmentation tasks. Would be great if the 'type ignore' could be removed, but it's not an urgent request for now, please make sure it's a nonbreaking fix...cc @ahatamiz

[2021-07-01 09:50] wyli commented on #2498
Thanks for the detailed report, have you tried the workarounds mentioned here? https://discuss.pytorch.org/t/runtimeerror-received-0-items-of-ancdata/4999/3 perhaps those discussions are relevant here

[2021-07-01 09:52] sandylaker commented on #2468
@Nic-Ma Hi, I built the source code from your fork, and run a simple test with following script:

[code]
I run the script with horovod backend on my 4-gpu server, and no error occurred. In the script above, `x.shape[0]` is expected to be 6.

I don't have an XLA device, so cannot run the test with `xla` backend. But I suppose it should work.

Hope it helps.

[2021-07-01 09:53] Nic-Ma commented on #2468
Hi @sandylaker ,

Cool! Really appreciate your help here!

Thanks.

[2021-07-01 10:34] #2489 closed

[2021-07-01 14:01] ahatamiz commented on #2495
Hi @Nic-Ma and @wyli

I think #2496 already addresses these issues. @Nic-Ma would you please confirm ?

Thanks.

[2021-07-01 14:08] ahatamiz opened #2499 "Add support for 2D PatchEmbeddingBlock, ViT and UNETR"
**Is your feature request related to a problem? Please describe.**

- Extend current implementations of PatchEmbeddingBlock, ViT and UNETR for 2D applications (e.g. classification, segmentation)

**Describe the solution you'd like**

- Extend current functionality in PatchEmbeddingBlock for tokenizing 2D inputs.

- Add workflow tutorials for how to use 2D PatchEmbeddingBlock with ViT model.

- Ext

[2021-07-01 14:14] wyli opened #2500 "upgrade base image to pytorch 21.06"
**Is your feature request related to a problem? Please describe.**
based on cuda 11.3 pytorch c3d40fd

[2021-07-01 14:44] Nic-Ma commented on #2495
Hi @ahatamiz ,

Let's close this ticket for now.
I will revisit all the related code to double confirm it, will reopen the ticket and submit PR if found any other issues.

Thanks for your review!

[2021-07-01 14:52] wyli opened #2502 "ci errors from the recent updates"
**Describe the bug**
bug from pillow 8.3, https://github.com/python-pillow/Pillow/issues/5571
[code]

log: https://github.com/Project-MONAI/MONAI/runs/2963278377#step:7:11309

[2021-07-01 15:12] vfdev-5 commented on #2468
@sandylaker for XLA quick checking we can use Google Colab and specify TPU as accelerator

[2021-07-01 16:59] #2502 closed

[2021-07-01 18:06] wyli commented on #2468
Hi @Nic-Ma, perhaps we should add some unit tests with horovod? we've been providing examples in the tutorial repo using horovod https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_horovod.py
then we should properly maintain this feature, what do you think?

[2021-07-01 23:12] sandylaker opened #2506 "A potential bug in CheckpointLoader"
There might a potential bug in following lines:

https://github.com/Project-MONAI/MONAI/blob/ce45640b2aab6e094e3c8af9ea49634497df9fb6/monai/handlers/checkpoint_loader.py#L95-L104

If we
1. set `CheckpointLoader.strict_shape = False`
2. load other objects besides model's `state_dict` from checkpoint (e.g. when `load_dict = {"model": model, "optimizer": optimizer}`),

the `obj` might be `model` or `

[2021-07-01 23:34] Nic-Ma opened #2507 "Add Horovod unit tests"
**Is your feature request related to a problem? Please describe.**
As we are providing more and more distributed data parallel features, it's necessary to also test the APIs in Horovod.

[2021-07-01 23:36] Nic-Ma commented on #2468
Hi @wyli ,

Sure, I created ticket to track it: https://github.com/Project-MONAI/MONAI/issues/2507.
I will develop a separate PR later to enable Horovod tests in our CI.

Thanks.

[2021-07-02 00:04] Nic-Ma commented on #2506
Hi @sandylaker ,

Thanks for raising this issue, I am checking it.

[2021-07-02 02:25] ahatamiz commented on #2495
Hi @Nic-Ma

Sure. Thank you for tracking down the issue on the PatchEmbeddingBlock. We can certainly revisit again.

[2021-07-02 02:29] #2495 closed

[2021-07-02 08:35] #2500 closed

[2021-07-02 10:34] Nic-Ma commented on #2493
Mark: this is a blocker issue for MONAI v0.6 release as classification task can't work with the `decollate` mechanism.

Thanks.

[2021-07-02 11:39] #2468 closed

[2021-07-02 11:53] SteEcker opened #2509 "Focal Loss returning 0.0 with include_background=False (7/July)"
**Describe the bug**
Focal Loss returns 0 for all entries when input consists of only one channel. Tried running the spleen 3D segmentation tutorial with `DiceFocalLoss(include_background=False)`. Printing out dice and focal loss separately shows the problem.

I think the issue is that `logpt = F.log_softmax(i, dim=1)` returns 0 for arbritrary inputs. Should this be `F.logsigmoid()` in this case?

[2021-07-02 12:23] Nic-Ma commented on #2509
Hi @SteEcker ,

Thanks for your issue report!

@yiheng-wang-nv , could you please help check this issue?

Thanks in advance.

[2021-07-02 13:30] Nic-Ma opened #2510 "Add document about migrating to `decollate` feature (7/July)"
**Is your feature request related to a problem? Please describe.**
Need to add a documentation page about why we added `decollate` feature in v0.6 and how to use it, how to migrate.

[2021-07-02 13:33] Nic-Ma opened #2511 "Add `EnsureTensor` transform"
**Is your feature request related to a problem? Please describe.**
Currently, we have the `ToTensor` transform, will add a more flexible transform `EnsureTensor` which sounds more clear and better to support `structured` or `nested` data.

[2021-07-02 13:44] Nic-Ma commented on #2432
Update: I am developing a new transform to get the indices of every class and randomly select crop centers based on a list of ratios.

Thanks.

[2021-07-02 14:47] yiheng-wang-nv commented on #2509
Hi @SteEcker , could you please clarify what is the number of classes in this case?
As the docsting shown in: https://github.com/Project-MONAI/MONAI/blob/dev/monai/losses/focal_loss.py#L79
and https://github.com/Project-MONAI/MONAI/blob/dev/monai/losses/focal_loss.py#L42
The channel with index represents the background, and if you only have two classes, the channel with index represents the **only

[2021-07-02 16:06] #2493 closed

[2021-07-02 17:25] aihsani opened #2512 "Add utility to be able to retrieve MMAR ts/pt relative path from MMAR model id"
**Is your feature request related to a problem? Please describe.**
When using [`load_from_mmar`](https://github.com/Project-MONAI/MONAI/blob/0.6.0rc1/monai/apps/mmars/mmars.py#L179) there is no utility to find where the model pt/ts file is located when it is needed (e.g. for training).

**Describe the solution you'd like**
It would be great if [`_get_model_spec`](https://github.com/Project-MONAI/M

[2021-07-02 17:42] #2506 closed

[2021-07-02 17:45] SteEcker commented on #2509
Hi @yiheng-wang-nv and @Nic-Ma

Yes I am referring to a case where there are only two classes: background and foreground.

In my understanding, even in a two class case, if the non-background segmentations are small compared to the total image size, the DICE loss can underestimate the actual loss. Maybe I misunderstood something. Here is a toy example to illustrate my question.

As you said input

[2021-07-02 18:03] wyli commented on #2509
I think you're right @SteEcker, the original paper uses a sigmoid https://arxiv.org/pdf/1708.02002.pdf, I have a better implementation, will submit a fix soon

[2021-07-02 19:50] sandylaker opened #2514 "Exponential moving average (EMA) handler"
**Is your feature request related to a problem? Please describe.**
Exponential moving averaging is a very import trick for training CNNs like EfficienNet, MobileNet-V3, or self-supervised learning models like MoCo, BYOL etc. Specifically, we keep an exponential moving smoothed version of weights, and use it for validation and inference.

**Describe the solution you'd like**
We can implement this f

[2021-07-02 19:51] sandylaker commented on #2514
I can work on this feature and send a PR

[2021-07-02 23:04] Nic-Ma commented on #2514
Hi @sandylaker ,

Cool, welcome your contribution!

Thanks.

[2021-07-02 23:55] Nic-Ma commented on #2512
Hi @aihsani ,

Thanks for your feature request.
I created PR: https://github.com/Project-MONAI/MONAI/pull/2515 to make `get_model_spec` as an API.

Thanks.

[2021-07-03 01:58] #2512 closed

[2021-07-03 09:07] wyli commented on #2512
Before implementing this feature request, we need more discussions here…

The idea of the MONAI MMAR module is to make the MMAR available as pytorch/monai objects, so that the pretrained models can be easily integrated into any existing pytorch/monai code. The goal is to decouple the underlying MMAR implementation details from the MONAI applications.

So, properties such as model json config/fetch

[2021-07-03 09:24] wyli commented on #2514
I'd encourage a pull request directly to pytorch-ignite, because it’s a generic feature, widely-applicable. But if ignite doesn't want to integrate it for any reason, monai can take it...

Cc @vfdev-5

[2021-07-03 09:35] vfdev-5 commented on #2514
@wyli thanks a lot for pinging! Yes, that's can be a feature for pytorch ignite.

[2021-07-03 09:49] sandylaker commented on #2514
@wyli Sure, I will make a PR to ignite first.

[2021-07-03 09:49] #2514 closed

[2021-07-05 01:51] Nic-Ma opened #2516 "PyTorch and ignite reference links are outdated"
**Describe the bug**
We have many links of PyTorch or ignite source code in the doc-strings, but many of them link to the master branch directly, which is not fixed code and the linked lines not match anymore.

**Expected solution**
Need to link to the API docs of PyTorch and ignite or link to released code version.

[2021-07-05 01:57] Nic-Ma opened #2517 "Can't select branch when creating pull request from forked repo to MONAI repo"
**Please use MONAI's Discussions tab**
I am facing an Github issue since last Saturday that I can't select branch when creating a pull request from forked repo to MONAI repo or from MONAI repo to forked repo, it's always loading branches:
![image](https://user-images.githubusercontent.com/27533405/124407749-44cc0480-dd77-11eb-8661-4fd72ab89123.png)
Maybe some internet issue only at my side? @wyli

[2021-07-05 06:27] #2516 closed

[2021-07-05 09:08] rijobro commented on #2517
Is it possibly a bug because `master` no longer exists? We switched to `main` and `dev` now.

[2021-07-05 09:10] rijobro commented on #2517
![image](https://user-images.githubusercontent.com/33289025/124447263-1a7b4680-dd79-11eb-9711-02a838b13298.png)

Mine doesn't seem to be permanently loading, although in this example I did the PR in the opposite direction from you.

[2021-07-05 09:15] rijobro commented on #2517
![image](https://user-images.githubusercontent.com/33289025/124447879-b86f1100-dd79-11eb-9fa8-9d322e0fed41.png)

Actually, you're right! It only works for me if I use the default forks/branches when creating a PR. If I try to modify, I get the same loading page you do...

[2021-07-05 10:18] Nic-Ma commented on #2517
Thanks @rijobro for confirming the issue, @wyli have you seen this issue in Github before? Maybe some Github settings updated during the weekend?

Thanks.

[2021-07-05 12:44] wyli commented on #2517
I created a pull request from my fork to project-monai, looks like it works fine. I'm not aware of any github settings update recently

[2021-07-05 13:06] wyli commented on #2517
I can replicate this issue if at least one of the branches in the comparison doesn't exist...
@Nic-Ma your fork doesn't have a `dev` branch, the default is `master`
@rijobro  your fork doesn't have a `dev` branch, the default is `default`

perhaps github could improve the error msg but I'm closing this ticket here

[2021-07-05 13:06] #2517 closed

[2021-07-05 13:43] Nic-Ma commented on #2517
Hi @wyli ,

Cool! Thanks for your finding! I created `dev` branch and renamed `master` to `main`, now I can get the branch list.

Thanks.

[2021-07-06 02:52] yiheng-wang-nv opened #2523 "Enhance from_engine for `loss`"
So far, `from_engine` cannot support the case like: `output_transform=lambda x: x[0]["loss"]`.

[2021-07-06 05:56] #2523 closed

[2021-07-06 06:48] yiheng-wang-nv opened #2525 "Deepgrow `Interaction` is not compatiable with `decollate_batch` for v 0.6.0 (8/July)"
**Describe the bug**
In deepgrow tutorial (https://github.com/Project-MONAI/tutorials/blob/master/deepgrow/ignite/train.py#L201), we can see there are two groups of transforms: `pre_transforms` and `click_transforms`, and `click_transforms` will be used in `monai.apps.deepgrow.interaction.Interaction`. So far, this way is not compatiable with our `decollate_batch` logic.

[2021-07-06 07:01] ChristianEschen opened #2526 "Spacing transform not applied to dicom multi-frame image"
It does not look like the spacing (resampling) transform is applied to dicom multi-frame images.
The image can be downloaded here: https://www.rubomedical.com/dicom_files/dicom_viewer_0002.zip

My environment is:
Ubuntu 18.04.5 LTS
Anaconda3: python 3.7.8
Monai: 0.5.3
itk: 5.2.0

Code to reproduce:

import monai
from monai.transforms import (
    Compose,
    LoadImaged,
    Spacingd,
    ToTensor

[2021-07-06 07:17] wyli commented on #2526
thanks for the question. the spacing transform assumes the input image has a "channel" dimension and the channel dimension should be the first (shape `[channels, spatial_size_0, spaital_size_1,...]`), so I think the current input (96, 342, 342) is interpreted as 96-channel 342x342 images. please try adding a `EnsureChannelFirstD` transform after `LoadImageD` or manually convert the image shape int

[2021-07-06 07:39] Nic-Ma commented on #2525
Hi @yiheng-wang-nv ,

Thanks for your issue report.
I am updating the handlers and iteration of DeepGrow, will try to fix it ASAP.

Thanks.

[2021-07-06 07:42] ChristianEschen commented on #2526
Thanks for the answer.
This does not help. It looks like there is an issue still:

 import monai
from monai.transforms import (
    Compose,
    LoadImaged,
    Spacingd,
    ToTensord,
    EnsureChannelFirstD)

dcm_path = '/home/gandalf/MIA/data/angio/2/0002.DCM'
label = 1
data_dict = [{'image': dcm_path, 'label': label}]

loader = LoadImaged(keys="image")

data_dict = loader(data_dict[0])
print(

[2021-07-06 07:47] wyli commented on #2526
the coordinate system is only tracked using the affine, instead of the `spacing` field.  I think the result is expected here:
input (1, 96, 512, 512), spacing (1, 1, 33) => output (1, 64, 342, 1687), spacing (1.5, 1.5, 10), please note the affine is updated.

[2021-07-06 07:59] ChristianEschen commented on #2526
thanks for the answer again.
Maybe the results are expected. Do you know how if it is possible toresample this volume (video) to pixel size 1.5, 1.5 and 10ms pr frame. The spacing in the third dimension here is referring to [00,18, 1063] as the ms/pr frame. (https://dicom.innolitics.com/ciods/us-multi-frame-image/cine/00181063)

[2021-07-06 08:23] wyli commented on #2526
ok, thanks, the transform is mainly for spatial interpolations, video frame/motion interpolation will not be supported here... I'm converting this to a discussion, perhaps @charliebudd @rijobro have other comments

[2021-07-06 08:24] #2526 closed

[2021-07-06 14:22] #2507 closed

[2021-07-06 15:39] wyli opened #2532 "resume DynUnet in v0.5.3 for MONAILabel"
**Is your feature request related to a problem? Please describe.**
the previous version of DynUNet is still needed for MONAILabel v0.1
see also https://github.com/Project-MONAI/MONAILabel/issues/152

[2021-07-06 21:13] leeh43 opened #2535 "About using the compute_meanDice for multi-organ segmentation"
Hi, I have a question on using the compute_meandice in the validation phase. I have followed the instruction of performing 3D spleen segmentation in tutorial and perform multi-organ segmentation on my training data. The training loss is decreasing, while it outputs Nan for computing the compute_meandice in the validation. Here is the screenshot of it and what do you recommend for me to change in t

[2021-07-06 23:25] #2532 closed

[2021-07-06 23:51] wyli commented on #2535
Hi, is this with the latest dev branch? 3d spleen seg demo is being updated to match the latest API https://github.com/Project-MONAI/tutorials/pull/246/files#diff-f5024912e8150f5b29acaf0dd10271465c1c21b0f6bc34cad41cde5703339a17

[2021-07-07 01:08] #2509 closed

[2021-07-07 03:57] #2525 closed

[2021-07-07 04:54] ahatamiz opened #2537 "Add support for Transformer Optimization Scheduler"
**Is your feature request related to a problem? Please describe.**
Add schedulers for training transformer-based models (e.g. ViT). These schedulers include:

- WarmupConstantSchedule
- WarmupLinearSchedule
- WarmupCosineSchedule
- WarmupCosineWithHardRestartsSchedule

**Describe the solution you'd like**
Currently, Pytorch does not have implementations for these schedulers. However, HuggingFace l

[2021-07-07 04:54] ahatamiz commented on #2537
@wyli @Nic-Ma

[2021-07-07 05:15] ahatamiz commented on #2537
In particular [WarmupCosineSchedule](https://huggingface.co/transformers/v1.2.0/_modules/pytorch_transformers/optimization.html#WarmupCosineSchedule) is widely used for scheduling the optimization in training of Transformers. This scheduler applies linear warmup and then cosine decay. The closest Pytorch implementation is [CosineAnnealingWarmRestarts](https://pytorch.org/docs/stable/_modules/torch

[2021-07-07 05:52] rsreetech opened #2540 "AssertionError: labels should have a channel with length equal to one."
I am getting this AssertionError: labels should have a channel with length equal to one when trying to run the Med_NIST tutorial example on google collab
AssertionError                            Traceback (most recent call last)
<ipython-input-11-da859643f6a3> in <module>()
     35
     36
---> 37             y_onehot = to_onehot(y)
     38             print()
     39             y_pred_act = act

[2021-07-07 09:25] wyli opened #2541 "adds a 'what's new in 0.6.0' page"
**Is your feature request related to a problem? Please describe.**
part of #2477, based on #2490

[2021-07-07 11:52] wyli opened #2542 "support of `torch.use_deterministic_algorithms`"
**Is your feature request related to a problem? Please describe.**
citing the documentation https://pytorch.org/docs/stable/generated/torch.use_deterministic_algorithms.html:

previously called https://pytorch.org/blog/pytorch-1.7-released/#beta-torchset_deterministic

[2021-07-07 15:02] wyli opened #2544 "StatsHandler doesn't print iteration level results (7/July)"
**Describe the bug**
previously running the tutorial on colab prints the iteration results:
https://colab.research.google.com/drive/1boqy7ENpKrqaJoxFlbHIBnIODAs1Ih1T
but the current weekly version doesn't work.

probably related to this check?
https://github.com/Project-MONAI/MONAI/blob/b4fca1d12245e8d7950ae4782058dc3cea6a9775/monai/handlers/stats_handler.py#L192

[2021-07-07 15:03] wyli commented on #2544
could you please help with this @Nic-Ma?

[2021-07-07 15:04] Nic-Ma commented on #2544
Sure, let me make a quick fix for it.

Thanks.

[2021-07-07 15:13] wyli opened #2548 "enhance unetr docstring with examples"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/2547

<div type='discussions-op-text'>

<sup>Originally posted by **jhkang0526** July  7, 2021</sup>
hello,

I recently saw about the UNETR.

Is it currently possible to apply to 3D data?

If possible, how should I use it?

Thanks,

</div>

[2021-07-07 15:23] leeh43 commented on #2535
Thank you for the suggestion! I am using the latest API and have changed to the latest view of coding. However, it pops up another mistake about using post_pred.
![Screenshot from 2021-07-07 10-21-09](https://user-images.githubusercontent.com/54121206/124786443-53e4bb00-df0d-11eb-945d-a4a402076246.png)
Is there any suggestions to change it into dict format? As I followed all the steps already in t

[2021-07-07 15:34] wyli commented on #2540
thanks for reporting this, the notebook is now rectified.

for reference, the change is mainly at the postprocessing:
[code]

[2021-07-07 15:34] #2540 closed

[2021-07-07 15:35] #2511 closed

[2021-07-07 15:42] tangzhe0220 opened #2549 "dimension error when using AsDiscrete function to do make_one_hot"
**Describe the bug**
dimension error when using AsDiscrete function to do make_one_hot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'monai/transforms/post/array.py'
2. set a tensor with size [N, C, width, height, depth]
3. call AsDiscrete(to_onehot=True, n_classes=class_nums)(tensor), then error occurs
4. in  the file 'monai/transforms/post/array.py' line 172, the code is: img = one

[2021-07-07 15:53] Nic-Ma commented on #2549
Hi @tangzhe0220 ,

Thanks for your issue report.
Actually, this is expected behavior of MONAI v0.6 that we changed all the postprocessing transforms to handle `channel-first` data. So please decollate the batch data first.
You can refer to this tutorial: https://github.com/Project-MONAI/tutorials/pull/251

Thanks.

[2021-07-07 15:53] #2549 closed

[2021-07-07 16:03] Nic-Ma commented on #2544
Hi @wyli ,

I think the issue had been fixed with this PR in dev: https://github.com/Project-MONAI/MONAI/pull/2524?
Could you please help try again the notebook with latest dev and  `output_transform=from_engine(["loss"], first=True)`?

Thanks in advance.

[2021-07-07 16:18] #2510 closed

[2021-07-07 16:20] wyli commented on #2544
thanks, it works now (the currently weekly release doesn't include the patch).

[2021-07-07 16:20] #2544 closed

[2021-07-07 18:37] #2478 closed

[2021-07-07 19:11] #2535 closed

[2021-07-07 22:28] #2542 closed

[2021-07-08 02:32] Nic-Ma opened #2552 "ToNumpy changed the dim of 0-dim data"
**Describe the bug**
Holger found an issue that the `ToNumpy` transform will add unexpected dim to 0-dim data in classification task.
I think it's similar issue as: https://github.com/Project-MONAI/MONAI/pull/2454.

**How to reproduce**
[code]

[2021-07-08 03:31] Nic-Ma commented on #2548
Hi @ahatamiz ,

Thanks for providing the nice `UNETR` feature in MONAI v0.6.
Could you please help self-assign this ticket?

Thanks in advance.

[2021-07-08 05:03] #2552 closed

[2021-07-08 05:04] Nic-Ma opened #2554 "`AsDiscrete` needs to add channel dim for scalar label values"
**Is your feature request related to a problem? Please describe.**
An question raised from the internal team:
Some PyTorch loss functions (like `torch.nn.CrossEntropyLoss`) require the label data has no channel dim, but postprocessing transforms and metrics require the label data with channel dim if multiple-classes. Need to add channel dim in post processing if ndim=0.

Actually, we had such feat

[2021-07-08 05:52] Nic-Ma commented on #2554
I went through all the post transforms:
1. The input for `softmax` and `argmax` can't be single value, so it must have the channel dim.
2. The `OneHot` logic need input data to have channel dim.
3. Other transforms are for segmentation task which must contain multiple dims.

Thanks.

[2021-07-08 07:15] #2554 closed

[2021-07-08 07:16] ahatamiz commented on #2548
Hi @Nic-Ma
Sure, however I don't think I have been given permission to self-assign. I don't see the option yet. Would you mind provide that permission ?

I will submit a new PR regarding this.

Thanks,
Ali

[2021-07-08 07:18] Nic-Ma commented on #2548
Hi @ahatamiz ,

I assigned the ticket to you.

Thanks in advance.

[2021-07-08 07:21] ahatamiz commented on #2548
Thank you @Nic-Ma

[2021-07-08 08:14] wyli opened #2556 "cron test error -- test_ensure_typed"
**Describe the bug**
issues using torch 1.5.1 https://github.com/Project-MONAI/MONAI/runs/3014995045?check_suite_focus=true#step:5:11770

[code]

[2021-07-08 08:14] wyli commented on #2556
could you please look into this? @Nic-Ma

[2021-07-08 08:15] Nic-Ma commented on #2556
Sure, checking and will submit a quick PR to fix ASAP.

Thanks.

[2021-07-08 11:57] #2556 closed

[2021-07-08 13:54] #2488 closed

[2021-07-08 16:24] neuronflow opened #2560 "collate issue for 3d niftis"
**Describe the bug**
I am dealing with 3d niftis of different size, I am using `DataLoader` with `co
llate_fn=pad_list_data_collate` to handle this, however it still crashes :(

my data is bchwd

[code]

**Expected behavior**
collate function should centrally pad the images

**Environment**

[code]

[2021-07-08 17:45] #2541 closed

[2021-07-08 23:30] Nic-Ma commented on #2560
Hi @neuronflow ,

Thanks for your issue report.
Could you please help provide a simple program to reproduce it? Then I will look into it ASAP.

Thanks in advance.

[2021-07-08 23:34] Nic-Ma opened #2562 "Save segmentation results in the same folder"
**Is your feature request related to a problem? Please describe.**
Feature requested in discussion: https://github.com/Project-MONAI/MONAI/discussions/2069#discussioncomment-978827.
@jnc13:
Since it is a related question to this discussion, is there a way to avoid having a new directory being created for each segmentation being saved? Ideally I would have the segmentation files just saved to the o

[2021-07-08 23:35] Nic-Ma commented on #2562
Hi @jnc13 ,

I will try to enhance it after MONAI v0.6 release ASAP.

Thanks for the feature request.

[2021-07-09 08:03] wyli opened #2563 "v0.5 to v0.6 migration guide?"
As breaking changes are introduced in v0.6, we should highlight them and provide a comprehensive guide for code migration.
This could be a wiki page summarizing the changes according to the tutorial (https://github.com/Project-MONAI/tutorials/pull/246).

(part of https://github.com/Project-MONAI/MONAI/issues/2402)

[2021-07-09 08:24] wyli commented on #2563
started a wiki page: https://github.com/Project-MONAI/MONAI/wiki/v0.5-to-v0.6-migration-guide

[2021-07-09 10:11] Nic-Ma commented on #2563
Hi @wyli ,

Thanks for raising this topic. I think mainly 2 parts:
1. change the postprocessing transform to run with decollate_batch list.
2. change the metrics computation methods to `__call__()`, `aggregate()` and `reset()`.

I will add code example to the wiki page.

Thanks.

[2021-07-09 14:47] kate-sann5100 opened #2565 "Registration benchmarking - image loss"
**Is your feature request related to a problem? Please describe.**
MONAI currently have implemented 2 image similarity loss for registration application:

- LocalNormalisedCrossCorrelationLoss
- GlobalMutualInformationLoss

Both loss has been tested numerically (comparing with DeepReg) in the unity tests. However, it would be great to include the following tests:

- More tests on numerical accurac

[2021-07-09 14:49] kate-sann5100 commented on #2565
@YipengHu

[2021-07-09 14:59] kate-sann5100 opened #2566 "Registration benchmark - BendingEnergyLoss"
**Is your feature request related to a problem? Please describe.**
Is your feature request related to a problem? Please describe.
MONAI currently have implemented BendingEnergyLoss for registration application.
It has been tested numerically (comparing with DeepReg) in the unit tests. However, it would be great to include the following tests:

More tests on numerical accuracies by comparing it wit

[2021-07-09 14:59] kate-sann5100 commented on #2566
@YipengHu

[2021-07-09 15:17] yiheng-wang-nv opened #2567 "Missing `return` in `__call__` of transforms: `SaveImage`, `NiftiSaver` and `PNGSaver`"
**To Reproduce**
Steps to reproduce the behavior:

[code]

[2021-07-09 16:21] #2567 closed

[2021-07-09 16:26] Nic-Ma commented on #2563
Hi @wyli ,

I completed the wiki page with explanation and code examples.
Could you please help review it?
Please feel free to edit / add items.

Thanks in advance.

[2021-07-09 19:49] behxyz opened #2571 "No Post-processing Without Decollate!"
**Describe the bug**
https://github.com/Project-MONAI/MONAI/blob/3edff7449984f87c371ac87c99244e6b00e97a92/monai/engines/workflow.py#L167-L171

Not all the metrics accepting decollated tensors, for instance `ignite.metrics.Accuracy` expects individual tensors, so disabling the entire post-processing transformation when `decollate=False` is limiting and in fact it has broken the pathology pipeline.

[2021-07-09 21:56] wyli commented on #2571
Agreed, I feel we shouldn't have this restriction at the workflow level, any idea why is it introduced?

Could you please help log the pathology pipeline bug in detail in a separate ticket? All the integration tests passed, we were not aware of the issue.

[2021-07-10 00:47] Nic-Ma commented on #2571
Hi @behxyz ,

Thanks for your issue report.
May I know your ignite version? All the ignite metrics support `list of tensors` **since v0.4.5**, the optional import in MONAI is ">= 0.4.4" as we discussed here: https://github.com/Project-MONAI/MONAI/pull/2451.

@wyli , currently, we suppose all the post-processing transforms work with `channel-first` tensor, I think we should not apply them if `decol

[2021-07-10 01:08] Nic-Ma commented on #2571
BTW, `ignite.metrics.Accuracy` is already covered in the integration test:
https://github.com/Project-MONAI/MONAI/blob/dev/tests/test_integration_workflows.py#L148

CC @rijobro @ericspod @vfdev-5 .

Thanks.

[2021-07-10 07:44] wyli commented on #2571
Thanks for the reply @Nic-Ma  let's track pathology pipeline bugs in a separate ticket if there's any...

For the main topic here, the postprocessing's type is a generic `Optional[Callable]` (instead of `monai.transforms.Transform`)
https://github.com/Project-MONAI/MONAI/blob/3edff7449984f87c371ac87c99244e6b00e97a92/monai/engines/workflow.py#L98
we should keep this flexibility throughout the base

[2021-07-10 15:21] Nic-Ma commented on #2571
Hi @wyli ,

Thanks for your suggestions and comments, makes sense to me.
Actually, I think we have discussed this topic several times before, and at that time our data shape is not flexible and also need to consider the `TransformInverter` and `Metrics` a lot, but now we don't have those restrictions anymore.
So I made an enhancement proposal based on our current implementation and your suggestion

[2021-07-11 00:21] wyli commented on #2571
Thanks, sounds good @Nic-Ma, please help keep the PR simple in case that we cherry pick it for a minor version release in the near future...

[2021-07-11 01:17] neuronflow commented on #2560
Hi @Nic-Ma , thanks for your prompt response. When trying to create the small program for you I found the bug in my code causing it. Sorry, for the inconvenience and thank you for your time.

The reason was the following: I had added another key for this, which was not cropped properly and then came with different dimensions.  Is there a way to only crop based on the first label channel?

[code]

[2021-07-11 03:57] Nic-Ma commented on #2571
@wyli , Sure, I will try to make 2 or 3 small and independent PRs for this ticket.

Thanks.

[2021-07-11 04:56] Nic-Ma commented on #2560
Hi @neuronflow ,

Thanks for your experiments.
ActualIy, I am already working on a PR to randomly sample based on class ratios: https://github.com/Project-MONAI/MONAI/pull/2557.
CC @wyli @rijobro .

Thanks.

[2021-07-11 16:21] leeh43 opened #2572 "About using transforms.inverse"
Hi, thank you for the great work in monai. I am having a problem on using transforms.inverse in monai. As I want to resample back to the original space of the images (with the same size of original images) and output the image as nifti with its original resolution, a runtime error occurs when I used the transforms.inverse. What do you recommend for the next steps?

Here is the screenshot of the tr

[2021-07-12 00:10] Nic-Ma commented on #2572
Hi @leeh43 ,

Thanks for your interests and experiments with MONAI.
Could you please help share your error message?

Thanks.

[2021-07-12 00:37] leeh43 commented on #2572
Hi Nic,

Here is the error message about the inverse transforms. Thanks a lot!
![image](https://user-images.githubusercontent.com/54121206/125214980-6f3e2600-e27f-11eb-8db9-836a47090bce.png)

[2021-07-12 00:51] Nic-Ma commented on #2572
I see your problem, the `inverse` call is not supposed to call in application directly.
You can use `Invertd` post processing transform or `BatchInverseTransform` API instead.
Refer to this tutorial if you are using MONAI v0.5.3:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py#L70

Thanks.

[2021-07-12 04:34] leeh43 commented on #2572
I am currently using the latest version of the monai (0.6.0rc2). Meanwhile, I have another errror occurred after following the tutorial with the same test transformation above for input.
![image](https://user-images.githubusercontent.com/54121206/125231345-3793a600-e2a0-11eb-9e0e-d37b33da970a.png)

Here is my post transform for inverting it back to original space:
![image](https://user-images.gith

[2021-07-12 05:57] Nic-Ma commented on #2572
Hi @leeh43 ,

MONAI v0.6 adjusted the logic of postprocessing, we are still updating all the tutorials for MONAI v0.6, so I would suggest you to use 0.5.3 so far.
Could you please help try it again?

Thanks.

[2021-07-12 06:17] leeh43 commented on #2572
Thank you for the recommendation. I have created a new environment and installed 0.5.3 for monai. It seems like there is an import error for Invertd function.
![image](https://user-images.githubusercontent.com/54121206/125239871-e8a13d00-e2ae-11eb-826a-b376e786f24c.png)

[2021-07-12 06:23] Nic-Ma commented on #2572
Hi @leeh43 ,

Sorry I forgot that `Invertd` was not included in v0.5.3 release, you can use the `BatchInverseTransform` API for your case. Just follow the `Batch inverse` section of this tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/modules/inverse_transforms_and_test_time_augmentations.ipynb

Thanks.

[2021-07-12 08:31] wyli commented on #2563
Thanks, I made some changes to the doc. I think we should regularly maintain/review this doc. I'm converting the ticket into a discussion.

[2021-07-12 08:32] #2563 closed

[2021-07-12 09:01] #2537 closed

[2021-07-12 09:01] #2548 closed

[2021-07-12 12:49] wyli commented on #2402
addressed  by https://github.com/Project-MONAI/tutorials/pull/246 https://github.com/Project-MONAI/tutorials/pull/253 https://github.com/Project-MONAI/tutorials/pull/254

[2021-07-12 12:49] #2402 closed

[2021-07-12 12:50] wyli commented on #2396
this is addressed by several recent PRs https://github.com/Project-MONAI/tutorials/pulls, if there are further issues please create new tickets.

[2021-07-12 12:50] #2396 closed

[2021-07-12 15:33] leeh43 commented on #2572
Hi Nic,

I am so sorry for so annoying about the errors. After I change it to v0.5.3 release, I cannot import BatchInverseTransform and also cannot import it with v0.6.0rc2. Here is the error attachment:
![Screenshot from 2021-07-12 10-30-46](https://user-images.githubusercontent.com/54121206/125315248-896a1980-e2fc-11eb-8421-1c80a04ca5ef.png)

[2021-07-12 15:37] Nic-Ma commented on #2572
Hi @leeh43 ,

Actually, I am sorry to lead you to the old version of MONAI because the examples and tutorials were not ready this morning.
But now we just released the tutorials for v0.6.0, so you can update to use MONAI v0.6.0 and refer to this example:
https://github.com/Project-MONAI/tutorials/blob/0.6.0/3d_segmentation/torch/unet_inference_dict.py

Thanks.

[2021-07-12 15:54] leeh43 commented on #2572
Hi Nic,

Thanks a lot! it works now and I have one more small questions about generating multi-label segmentation map with the post_transform. For activation, I use softmax and normally we compute the max on the channel to output the multi-label segmentation, but how can I output a multi-label map with [1,2,3,4....,N] using post_transform?

Thanks a lot!

[2021-07-12 16:00] Nic-Ma commented on #2572
Hi @leeh43 ,

Sorry I don't quite understand your question, could you please help share an example program about your request?
Or @rijobro maybe you can help share some comments about the `multi-label map with [1,2,3,4....,N]`?

Thanks in advance.

[2021-07-12 16:16] rijobro commented on #2572
I think the question is saying that the output of the network will have the shape: `B, C=N, H, W, [D]`. I don't see why you can't omit the `max` (i.e., don't calculate the most-probable class), and keep the probabilities of all segmented classes.

[2021-07-12 16:17] leeh43 commented on #2572
Hi Nic,

So currently, my goal is to output a segmentation map like this:
![monai_1](https://user-images.githubusercontent.com/54121206/125321687-925de980-e302-11eb-95bd-d65c61e5c84c.png)

However, the post_transform lead to the softmax mapping with multiple channels which is like this:
![monai_2](https://user-images.githubusercontent.com/54121206/125321760-a43f8c80-e302-11eb-8e5f-420c28c2f42a.png

[2021-07-12 16:41] #2477 closed

[2021-07-12 18:34] behxyz commented on #2571
Thank you @Nic-Ma! It solved the issue with pathology pipeline.  In the previous version of MONAI, `from_engine` was not needed to extract "pred" and "label", and a lambda function was working before, which doesn't work now. Have we documented this change anywhere?

[2021-07-12 20:43] #2562 closed

[2021-07-12 21:43] ericspod commented on #2571
This wasn't mentioned in release notes or in the 0.6.0 highlights I don't think. We might want a section in release notes on minor changes like this that affect the API.

[2021-07-12 23:24] Nic-Ma commented on #2571
Hi @behxyz and @ericspod ,

We prepared detailed description about the changes in the wiki page:
https://github.com/Project-MONAI/MONAI/wiki/v0.5-to-v0.6-migration-guide

Thanks.

[2021-07-12 23:28] ericspod commented on #2571
Ah yes I missed that sorry, it's something to link in release notes if we have changes like this again in the future.

[2021-07-12 23:31] Nic-Ma commented on #2571
Hi @ericspod ,

Sure, and is the wiki page public access? If yes, I can make a quick PR to add the link to our current `What's new in 0.6` page.
People will see it when open MONAI dev branch instead of v0.6.0 branch.

Thanks.

[2021-07-12 23:34] ericspod commented on #2571
The wiki is all public, so yes please add it to "What's new" and also the [release notes for 0.6.0](https://github.com/Project-MONAI/MONAI/releases/tag/0.6.0). Thanks!

[2021-07-12 23:43] Nic-Ma commented on #2571
Hi @ericspod ,

Sure, I submitted PR: https://github.com/Project-MONAI/MONAI/pull/2585 for your review.

Thanks.

[2021-07-13 02:50] Nic-Ma commented on #2572
Hi @leeh43 ,

I think you can try the `AsDiscreted` postprocessing transform for your case:
https://github.com/Project-MONAI/MONAI/blob/0.6.0/monai/transforms/post/dictionary.py#L124.

Thanks.

[2021-07-13 02:55] Nic-Ma opened #2586 "Add support to print out network summary"
**Is your feature request related to a problem? Please describe.**
A feature request from Clara users:
it is useful to print out the network architecture
for this we need to:
pip install torchsummary
summary( trainer.network.cuda(), <input shape >)
Help on function summary in module torchsummary.torchsummary:
[code]
CC @IsaacYangSLA

[2021-07-13 02:56] Nic-Ma commented on #2586
I will try to develop the utility API and a ignite handler for this feature request.

Thanks.

[2021-07-13 08:28] rijobro commented on #2586
Great idea, this would be a good addition.

[2021-07-13 08:42] #2572 closed

[2021-07-13 09:44] Nic-Ma commented on #2586
Hi @rijobro @wyli @ericspod ,

Seems no need to develop a handler for this feature, users can call the `TorchInfo` directly?
Close this ticket.

Thanks.

[2021-07-13 09:44] #2586 closed

[2021-07-13 12:08] #2432 closed

[2021-07-14 02:32] #2571 closed

[2021-07-14 04:46] yiheng-wang-nv opened #2595 "Add set_to_none=False for optimizer in workflow"
After Pytorch 1.7, Optimizer adds a parameter `set_to_none`. When setting to True, it may increase the performance.
Some references:

https://pytorch.org/docs/stable/generated/torch.optim.Optimizer.zero_grad.html

https://pytorch.org/tutorials/recipes/recipes/tuning_guide.html

[2021-07-14 15:53] #2595 closed

[2021-07-14 18:32] YipengHu commented on #2565
this may be used as reference: https://github.com/ANTsX/ANTsPy/blob/master/ants/utils/image_similarity.py

[2021-07-14 21:25] ahatamiz opened #2602 "adds UNETR to 'what's new in 0.6.0' page"
**Is your feature request related to a problem? Please describe.**
Updating 'what's new in 0.6.0' page to reflect the addition of UNETR and its tutorial.

[2021-07-14 21:43] wyli commented on #2560
I think if you don't want to write a new  transform, you could also use `CopyItemsD`, `SplitChanneld` and `DeleteItemsd` to create a new item for first channel in the data dict, then use it as `label_key`.

[2021-07-14 21:44] #2560 closed

[2021-07-14 21:50] #2498 closed

[2021-07-14 22:27] #2602 closed

[2021-07-14 23:48] Nic-Ma opened #2604 "Add support to access raw losses of hybrid loss"
**Is your feature request related to a problem? Please describe.**
Feature request from Clara users:

with hybrid loss we need to display each loss separately so that user can calibrate the weights

loses are on different scale to begin with dice range is 0-1  while cross entropy is 0-inf and depends on the size of the volume
[code]

[2021-07-15 08:10] hreso110100 opened #2606 "Provide multi-class 2d segmentation tutorial"
Hello, I am trying to perform 2D multiclass segmentation on my own data and I would like to know how to preprocess data with monai and how to configure other stuff. It would be nice to have working example of this multiclass segmentation or at least some steps to reproduce.

Actually I am trying to reconfigure your 2D segmentation tutorial code to my problem, but somehow I am always getting bad re

[2021-07-15 14:43] #2248 closed

[2021-07-15 16:05] ramonemiliani93 opened #2610 "Why expose the `softmax` and `sigmoid` parameters on the `DiceFocalLoss` if by default the `FocalLoss` works only with logits?"
**Please use MONAI's Discussions tab**
Hi, I find it confusing that the `softmax` and `sigmoid` parameters are exposed on the `DiceFocalLoss` if by default it has to work with the logits, as per the documentation:

[code]

Is there a specific reason for not removing the parameters? I feel this may lead to bugs on user code.

[2021-07-15 16:15] #2610 closed

[2021-07-15 18:07] wyli commented on #1357
Hi @thewtex, I'm using itk 5.2.0.post3, could you suggest the correct way of setting the affine?
the current impl. is:
https://github.com/Project-MONAI/MONAI/blob/af0d51be9e484e0fc9e2c4deb270b79bfb1f5b4e/monai/data/image_reader.py#L265-L272

[2021-07-15 22:23] wyli opened #2613 "LoadImage/SaveImage consistency with itk reader"
**Describe the bug**
Saving a Dicom image into Nifti, and load the nifti, we should get the same data representation.

**To Reproduce**
[code]

inconsistent output:
[code]

this is an integration issue of nibabel writer <=> itk reader

[2021-07-16 06:07] Nic-Ma commented on #2606
Hi @hreso110100 ,

Thanks for your interest and experiments with MONAI.
I think you can refer this Brats segmentation tutorial(although it's 3D data, I think no big different with 2D data):
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb
The Brats task has several classes.

Thanks.

[2021-07-16 09:49] yiheng-wang-nv opened #2617 "Bugs in `create_test_image_2d` and `create_test_image_3d`"
**Describe the bug**

1) There is a limitation in the current implementation:
The following line:

[code]
requires `rad_max` be larger than 5.

I think we should not use the magic number `5` here, and there is no docstring about this limitation.

2) The functions should also ensure that `rad_max` is less than the input size.

**To Reproduce**
[code]
or
[code]

3) There is no unittest for these two

[2021-07-16 09:49] yiheng-wang-nv commented on #2617
I will enhance these functions later to resolve the bugs.

[2021-07-16 16:12] wyli opened #2620 "Image writer with itk backend to support more output image formats"
**Is your feature request related to a problem? Please describe.**
The `SaveImage` transform should be extended to support writing output in different formats using ITK.
https://github.com/Project-MONAI/MONAI/blob/830f8bb34532f63e188b43738f804fff6f059d5b/monai/transforms/io/array.py#L260-L261

the current nifti output doesn't work well with Slicer https://github.com/Project-MONAI/MONAILabel/issues

[2021-07-18 11:47] talhaanwarch opened #2623 "Introduce new loss functions"
I am reading loss functions and found some easy-to-implement loss functions which I believe should be in monai.
For example [combo loss](https://arxiv.org/abs/1805.02798) and [unified focal loss](https://arxiv.org/abs/2102.04525)

I tried to implement combo loss if any one can check the implementation
[code]

[2021-07-18 13:40] talhaanwarch commented on #2623
i am getting a negative loss. actually

[2021-07-18 17:13] hreso110100 commented on #2606
Thank for tip @Nic-Ma I will check it out. I also have one more question regarding sliding_window_inference ... is it required in image segmentation or I can omit it ? I am not sure how to use it properly or what is meaning of this method thanks.

[2021-07-19 08:34] #2623 closed

[2021-07-19 14:10] Nic-Ma commented on #2606
Hi @hreso110100 ,

You can refer to this tutorial for more details of `sliding window`:
https://docs.monai.io/en/latest/highlights.html#evaluation.

Thanks.

[2021-07-19 16:18] #2617 closed

[2021-07-19 20:45] seannz opened #2627 "SurfaceDistanceMetric (SDM) and HausdorffDistanceMetric (HDM) print wrong all-zero warning messages"
**Describe the bug**
SDM and HDM incorrectly warn that both prediction and ground truth are all 0 (for some class) even when only one of them is all 0 (for some class):

**To Reproduce**
Steps to reproduce the behavior (for HDM):

[code]

The same bug is there if SDM is run with `symmetric=True`

**Expected behavior**
Only the first warning should be displayed in each of the two above cases.

[2021-07-20 01:58] madil90 opened #2628 "Migrate GitHub CI to NVIDIA's internal CI system"
**Is your feature request related to a problem? Please describe.**
GitHub CI/CD is currently unscalable & the increased number of users have made PR merge times very large.

**Describe the solution you'd like**
 NVIDIA's internal CI/CD solution can scale and has access to a variety of GPU types for thorough testing. GitHub CI/CD will be deprecated and NVIDIA's solution will be used instead.

**Det

[2021-07-20 11:26] wyli opened #2630 "utility function to look up a method against a set of supported methods"
**Is your feature request related to a problem? Please describe.**
porting utility from niftynet:
https://github.com/NifTK/NiftyNet/blob/935bf4334cd00fa9f9d50f6a95ddcbfdde4031e0/niftynet/utilities/util_common.py#L249-L256
[code]

[2021-07-21 05:38] Nic-Ma commented on #2627
Hi @seannz ,

Thanks for your feedback, let me try to enhance it ASAP.

[2021-07-21 08:37] Nic-Ma commented on #2627
Hi @seannz ,

The root cause is that: during the distance metrics computation, we may **exchange** `pred` and `label` to compute, and get the average value. so you get 2 warnings from the same utility function for the same all 0 data, but the warning content is misleading.
I submitted PR https://github.com/Project-MONAI/MONAI/pull/2638 for this issue.

Thanks.

[2021-07-21 09:07] wyli opened #2639 "use the sphinx directives for deprecated warning"
**Is your feature request related to a problem? Please describe.**
part of the feature request https://github.com/Project-MONAI/MONAI/issues/233,
the relevant docstrings should include details for
- versionadded
- versionchanged
- deprecated

according to
https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

the contributing guide should be updated to

[2021-07-21 11:20] #2630 closed

[2021-07-21 13:07] #2627 closed

[2021-07-22 01:13] #2613 closed

[2021-07-22 01:13] #1357 closed

[2021-07-22 01:13] #1629 closed

[2021-07-22 01:13] #1711 closed

[2021-07-22 01:13] #1713 closed

[2021-07-22 08:22] Nic-Ma commented on #2620
Hi @wyli ,

I have a question about the feature request of this ticket:
Currently, we have `nifti_saver` & `nifti_writer` and `png_saver` & `png_writer`, maybe there are 2 options:
1. If we just want to add support to save in DICOM format, we can add `dicom_saver` & `dicom_writer` based on ITK APIs.
2. If want to support many other formats, I think we need to totally refactor the saving part and m

[2021-07-22 08:30] seannz commented on #2627
Hi @Nic-Ma, thanks for such a quick response!

[2021-07-22 09:08] wyli commented on #2620
I think as an initial step we could add a minimal itk_writer and make it an option in SaveImage in v0.7. The goal is to encourage the use of SaveImage and we'll refactor the underlying implementation later (beyond 0.7) -- For refactoring the writer, option 2 looks good, we still need to review the quality of these writer APIs and probably get comments/proposals from the working groups.

[2021-07-22 09:17] Nic-Ma commented on #2620
Hi @wyli ,

Plan makes sense, we can develop a `itk_writer` and call it in `SaveImage` directly instead of a `itk_saver` layer. When it's done in v0.7, we can refactor `nifti_writer` & `nifti_saver` to `nibabel_writer`, and refactor `png_writer` & `png_saver` to `pil_writer` based on the same pattern of `itk_writer`.
I can develop a PR for `ITKWriter` with the similar design of `ITKReader`, may no

[2021-07-22 14:11] rijobro opened #2642 "RandKSpaceSpikeNoised could be more generic"
[These](https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/dictionary.py#L1262-L1263) lines limit this transform to 2 keys. We could just as easily accept a sequence of intensity ranges, and then rather than creating two instantiations `RandKSpaceSpikeNoise` ([one for image, one for label](https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/dictionary

[2021-07-22 14:12] rijobro commented on #2642
I also don't understand the divergence between `KSpaceSpikeNoised` and `RandKSpaceSpikeNoised` on this front.

[2021-07-22 14:12] rijobro commented on #2642
@yanielc would you be interested in this?

[2021-07-22 14:15] yanielc commented on #2642
@rijobro, sure thing, I can work on it.

[2021-07-22 14:17] rijobro commented on #2642
Thanks! I notice that you store the transforms as self.t_img and self.t_label. You could have

[code]

and then in `__call__`:

[code]

[2021-07-22 14:24] yanielc commented on #2642
That's good. I'll also make a super class to host the common Fourier stuff.

I can open a PR next week for this stuff, or earlier if it helps to put it on the board.

[2021-07-22 14:29] rijobro commented on #2642
No rush. It's going to create conflicts with the stuff I'm currently working on, but that's OK. To allow fft with both numpy and torch inputs, I've modified the fft and ifft methods to this:

[code]

[2021-07-22 14:34] yanielc commented on #2642
Ok, I can wait on this. I was thinking of making all Fourier methods be a pytorch implementation under its own  class. But I'll wait on your code.

[2021-07-22 14:38] rijobro commented on #2642
It could be a month or two until I'm ready as it's going in [this big PR](https://github.com/Project-MONAI/MONAI/pull/2278), which will get broken down into bit-sized PRs.

[2021-07-22 14:43] yanielc commented on #2642
Cool, then I shouldn't wait, I'll work on the changes you recommended.

[2021-07-22 16:20] chrisfoulon opened #2643 "Inverse RandAffined transformation"
**Describe the bug**
Calling .transform.inverse(data_dict) on a monai.data.Dataset when RandAffined was called on the image causes the following Exception:
ValueError: ['bilinear'] is not a valid GridSampleMode
In the === Transform input info -- method === when it crashed I see:
Value: [{'class': ['ResizeWithPadOrCropd'], 'id': tensor([139679491139472]), 'orig_size': [tensor([91]), tensor([109]),

[2021-07-22 18:54] JustinSzeto opened #2644 "RandBiasField missing np.exp"
**Describe the bug**
The bias field generated by `RandBiasField._generate_random_field` ([link](https://github.com/Project-MONAI/MONAI/blob/0ad9e73639e30f4f1af5a1f4a45da9cb09930179/monai/transforms/intensity/array.py#L434)) should be exponentiated, as done so in [NiftyNet's implementation](https://github.com/NifTK/NiftyNet/blob/935bf4334cd00fa9f9d50f6a95ddcbfdde4031e0/niftynet/layer/rand_bias_fiel

[2021-07-22 22:46] wyli commented on #2644
thanks for the detailed report @JustinSzeto, I'm fixing this in #2645.
would be interesting to make the polynomials in PyTorch, I'll create another feature request for it.

[2021-07-22 22:56] wyli opened #2646 "porting the polynomials into monai using pytorch"
**Is your feature request related to a problem? Please describe.**
follow-up of https://github.com/Project-MONAI/MONAI/issues/2644
this is a request for generating polynomials in pytorch APIs
see also:
- https://numpy.org/doc/stable/reference/routines.polynomials.html
- https://github.com/goroda/PyTorchPoly
- https://github.com/Orcuslc/OrthNet

[2021-07-22 23:24] Nic-Ma commented on #2643
Hi @chrisfoulon ,

Thanks for your feedback.
Could you please help share your full test program to debug? Then I will try to identify the issue ASAP.

Thanks.

[2021-07-22 23:38] Nic-Ma commented on #2643
I feel maybe you executed `inverse` on a batch data directly, if so, please try to decollate the batch data first, then execute `Invertd` transform for every item, you can refer to:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py#L108

Thanks.

[2021-07-23 08:52] #2644 closed

[2021-07-23 09:44] Nic-Ma opened #2648 "Reimplement 4th place solution of RANZCR kaggle challenge (ETA 9/3)"
**Is your feature request related to a problem? Please describe.**
As offline discussed with the code author, plan to reimplement the solution of 4th place in RANZCR kaggle challenge with MONAI components and workflows:
https://www.kaggle.com/c/ranzcr-clip-catheter-line-classification/discussion/229706
- [x] Reproduce the existing pipeline with original code.
- [x] Implement the unsupported transf

[2021-07-23 11:01] #2381 closed

[2021-07-23 11:03] wyli commented on #462
this is a general proposal and has been implemented for many components, I'm converting it to the discussions

[2021-07-23 11:03] #462 closed

[2021-07-23 11:09] wyli commented on #2183
while we prefer the ignite verision if it's available, it is also addressed by https://github.com/Project-MONAI/MONAI/pull/2545

[2021-07-23 11:09] #2183 closed

[2021-07-23 11:15] wyli commented on #1979
do you think this could be addressed by `InvertD` @Nic-Ma ?  https://github.com/Project-MONAI/MONAI/blob/a566dc69d19c7437a9b6b7dcd5dbfd7a9f077bab/monai/transforms/post/dictionary.py#L392

[2021-07-23 11:29] #2606 closed

[2021-07-23 11:30] wyli commented on #2394
The remaining task is tracked by #2499

[2021-07-23 11:30] #2394 closed

[2021-07-23 12:49] Nic-Ma commented on #1979
Hi @wyli ,

You are right, let me try to update the `Invertd` ASAP, and I also double confirm the TTA logic in the mean time.

Thanks.

[2021-07-23 12:49] chrisfoulon commented on #2643
Here's my code roughly, stripped from unrelated pieces:

[code]
I will try your suggestion. The only thing is that, this way works with other transformations like ResizeWithPadOrCropd
But yeah, maybe I am not using it as it was intended. I was struggling to find some examples with inverse transformations, thanks for that.

[2021-07-23 12:59] Nic-Ma commented on #2643
Hi @chrisfoulon ,

Your current program is not recommended way to invert, and need to decollate batch first if running with MONAI 0.6.
Could you please help adjust based on this tutorials?
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py#L108
For why need to decollate and how to migrate from MONAI 0.5 to 0.6, you can refer to:
https://github.com/P

[2021-07-23 15:10] Nic-Ma commented on #1979
Hi @rijobro ,

I checked the TTA code and this part confused me:
[code]
If the output is Tensor, it will be changed to numpy array and then change back to Tensor?

Thanks.

[2021-07-23 16:15] wyli opened #2655 "new documentation site theme?"
**Is your feature request related to a problem? Please describe.**
the current style of the documentation website is too compact and in my opinion it's not easy to read.
https://docs.monai.io/en/latest/index.html

**Describe the solution you'd like**
I had a quick setup for new sphinx themes such as:
https://monai-dev.readthedocs.io/en/new-doc-theme/

**Describe alternatives you've considered**
ma

[2021-07-23 23:56] Nic-Ma commented on #2655
Hi @wyli ,

I think the new style looks good to me.
Thanks for the update.

[2021-07-26 02:05] #1979 closed

[2021-07-26 13:24] rijobro opened #2656 "DiceMetric get_not_nans not used"
Setting `get_not_nans=True` for `DiceMetric` doesn't seem to have any affect. Possibly from the recent metric API harmonisation? @Nic-Ma

[code]
example output (only returns the metric, not the NaN count):
[code]

[2021-07-26 14:26] Nic-Ma commented on #2656
Hi @rijobro ,

Based on the latest API, `aggregate()` API is the real final result, it will return `not_nans`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/metrics/meandice.py#L97

Thanks.

[2021-07-26 14:44] Nic-Ma commented on #2648
For the first step, will implement the `Cutout`, `LongestMaxSize`, `InvertImg` transforms, referring to `Albumentations` package.

Thanks.

[2021-07-26 17:01] rijobro commented on #2656
Ah, I see. thanks!

[2021-07-26 17:02] rijobro commented on #2656
Ah, I see. thanks!

[2021-07-27 14:08] #2655 closed

[2021-07-27 17:55] #2185 closed

[2021-07-28 15:43] yang2lalang opened #2664 "Monai AsDiscrete with oneHot option set to true fails on after update"
I just made a new pull from the MONAI repo and my previous segmentation code has started failing.

I discovered in the AsDiscrete class, the line

`img = one_hot(img, num_classes=_nclasses)`

was changed to

`img = one_hot(img, num_classes=_nclasses, dim=0)`

This leads the one_hot conversion to fail on my data set of  torch.Size([4, 1, 128, 128, 128])

with error:

It seems the new update is expe

[2021-07-28 15:45] Nic-Ma commented on #2664
Hi @yang2lalang ,

Thanks for your interest here.
We enhanced the postprocessing transforms logic in MONAI v0.6, you can take a look at this doc to easily upgrade your program:
https://github.com/Project-MONAI/MONAI/wiki/v0.5-to-v0.6-migration-guide

Thanks.

[2021-07-28 15:51] yang2lalang commented on #2664
Okay, thanks i will use this guide

[2021-07-29 04:43] #2664 closed

[2021-07-30 13:22] Nic-Ma commented on #2648
Update: @yiheng-wang-nv already reproduced the similar metrics with single fold in both kaggle public LB and private LB, confirmed with the author.

Thanks.

[2021-08-01 17:27] wyli opened #2676 "integration test for detection task from whole-slide pathology images"
**Is your feature request related to a problem? Please describe.**
follow-up of https://github.com/Project-MONAI/tutorials/pull/296,
this ticket looks for an integration test as a simplified version of tutorial https://github.com/Project-MONAI/tutorials/pull/296 so that the pathology related modules are easier to maintain.

cc @drbeh

**Additional context**
https://github.com/Project-MONAI/MONAI/t

[2021-08-01 17:51] saruarlive opened #2677 "Class token (self.cls_token) in patchembedding block?"
Hi,
I have found that class embedding (token,  self.cls_token ) is not applied in _patchembedding_ block used in _vit_ class.  The vision transformer article mentions it. Is there any reason not to add/concatenate the class token?
source: [here](https://docs.monai.io/en/latest/_modules/monai/networks/blocks/patchembedding.html)

[2021-08-02 03:06] Nic-Ma commented on #2677
Hi @ahatamiz ,

Could you please help share some comments about this question as you are expert on it?

Thanks in advance.

[2021-08-02 03:11] ahatamiz commented on #2677
Hi @saruarlive thank you for your comment. This version of ViT model was designed to serve as backbone for segmentation models and in particular the UNETR model. So it does not utilize class tokens.

I will submit a new PR to support classification applications for ViT model and hence also add the class token.

[2021-08-02 03:24] Nic-Ma commented on #2648
Update for next near steps:
1. Replace the `CSV reading + OpenCV loading` logic with MONAI `CSVDataset + LoadImage transform` @yiheng-wang-nv .
2. Add `IntensityStats` transform to pre-compute the `max`, `mean`, `std` of intensity values of original input image, then other transforms can use it to adjust / clip the `scale` / `shift` parameters, etc. @Nic-Ma
3. Replace all the albumentation transfo

[2021-08-02 06:59] Spenhouet opened #2678 "Method to fill holes in segmentations"
**Is your feature request related to a problem? Please describe.**

We have 3D segmentation masks. Every segmented shape is not supposed to have holes within its borders.
Any wholes might be considered potential artifacts.
Especially for our training data we would like to close such holes.

For an example, the following matrix:

[code]
Should result in

[code]
The only filled holes are the 1 and 3

[2021-08-02 07:29] Nic-Ma commented on #2678
Hi @Spenhouet ,

Thanks for your sharing! I think that's an interesting idea.
A draft idea for the implementation: MONAI has a transform `KeepLargestConnectedComponent` which is based on `skimage.measure.label` to get connected areas, maybe it can also be used in your case to detect holes?
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/utils.py#L720

Thanks.

[2021-08-02 07:59] Spenhouet commented on #2678
Hi @Nic-Ma,

my suggestion for the transformation class `FillHoles` was based the `KeepLargestConnectedComponent` class (with respect to structure and naming).
Interesting idea to also use that class for this task but I'm not sure how?

The issue with the morphology implementations in scipy is that they all only work for binary data.
Maybe it is also worth using [kornia](https://kornia.github.io//

[2021-08-02 08:07] Nic-Ma commented on #2678
Thanks for your analysis.
@wyli @rijobro @ericspod what do you guys think about this feature request?
If no other ideas or comments, @Spenhouet do you want to contribute a PR for it? If not, I can try to develop a draft PR for it based on the same approach of `KeepLargestConnectedComponent`.

Thanks.

[2021-08-02 08:30] Spenhouet commented on #2678
Okay, I see a way this could work:

1. Find the largest connected component for every class + background
2. Get the difference between these masks

But this might be even slower than my implementation suggested above.

@Nic-Ma Did you have another implementation with `KeepLargestConnectedComponent` in mind?

I can open a pull request with my suggested implementation but as I stated it is unaccepta

[2021-08-02 08:38] wyli commented on #2678
looks like this approach is promising https://stackoverflow.com/a/66496234, would be nice to have a 3D version of it in MONAI with pytorch cuda extensions...

or if you are looking for offline preprocessing, the gpu-based apis might be helpful
https://docs.cupy.dev/en/v8.5.0/reference/ndimage.html#morphology
https://github.com/rapidsai/cucim/blob/e30d2cedd63c92d722c7a08d3a000c23c6795aef/python/cuc

[2021-08-02 08:44] Spenhouet commented on #2678
@wyli Good catch. I take back my statement with respect to kornia. I did not work with it before and just tried their dilation and erosion implementations and it seems they can not handle 3D data.

I did yet only work with the binary_dilation and binary_erosion functions of scipy which have the limitation of not working for multiple classes.
I was about to check out the grey_dilation and grey_eros

[2021-08-02 08:47] wyli commented on #2648
Hi @Nic-Ma, not sure about the `IntensityStats` feature request, I thought a lambda function could easily address it. could you create a separate ticket to document it? for the other components, would be great to have a bit more details in separate tickets as well.

[2021-08-02 08:50] Nic-Ma commented on #2648
Sure, let me open some smaller tickets for items.

Thanks.

[2021-08-02 09:09] Spenhouet commented on #2678
Okay, I'm still stuck on the `mask` parameter of `binary_dilation` ([scipy.ndimage.binary_dilation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.binary_dilation.html?highlight=dilation#scipy.ndimage.binary_dilation)). I will need to try to understand how this mask is applied since for the `binary_fill_holes` implementation from scipy this is essential.

The `grey_dilation` do

[2021-08-02 09:17] Nic-Ma opened #2679 "Add IntensityStats transform"
**Is your feature request related to a problem? Please describe.**
Currently, we have `original_shape`, `original_affine`, etc. in the meta_dict, I suggest to also store the `max`, `mean`, `std`, etc. of the intensity of input image in the meta dict, then the following transforms can **dynamically** use it as parameters to scale/shift/clip values instead of fixed value for all the images.
For exam

[2021-08-02 09:18] Nic-Ma commented on #2679
Hi @wyli ,

Do you think the example make sense or you have any other better ideas for per-image parameters?

Thanks.

[2021-08-02 09:43] Nic-Ma commented on #2678
Hi @Spenhouet ,

In my simple mind, I think maybe we can:
1. Filter out the `0` in image, refer to:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/post/array.py#L280
2. Use `measure.label()` to get masks of all the `0` regions in the image:
https://scikit-image.org/docs/dev/api/skimage.measure.html#label
2. Then remove the "open holes" near borders.
3. Fill the masks with the spe

[2021-08-02 10:17] Spenhouet commented on #2678
I checked out the other linked implementations and they also only seem to work for binary data. One could implement the same as I did in my first post with a GPU accelerated version but I did hope that this could actually be implemented more efficient (not just faster via hardware resources).

I could not completely follow the `binary_dilation` code since it ends in some hard to follow C code but

[2021-08-02 13:51] #2642 closed

[2021-08-02 14:24] Nic-Ma commented on #2678
Hi @Spenhouet ,

Actually, I didn't get a chance to think clearly about how to remove the `open holes` when we got all the holes.. Maybe you can try the ideas @wyli linked? I will also search how to detect open holes later.

Thanks.

[2021-08-02 14:33] ericspod commented on #2678
There's ways of implementing the [morphology operators](https://stackoverflow.com/questions/56235733/is-there-a-tensor-operation-or-function-in-pytorch-that-works-like-cv2-dilate) but the solution mentioned relies on unfold which is 2D only which is the same problem [Kornia has with its operators](https://kornia.readthedocs.io/en/latest/_modules/kornia/morphology/morphology.html). We would need 3D

[2021-08-02 14:45] Spenhouet commented on #2678
I did already look into the methods posted by @wyli but sadly they do not solve the problem.
Some of these do not fulfill the problem definition.

We want to fill all holes which are completely outlined by a single class which is not the background.

The connected component solution as provided by [skimage.morphology.area_closing](https://scikit-image.org/docs/dev/api/skimage.morphology.html#area-

[2021-08-02 15:38] ahatamiz opened #2682 "Add Classification Support to ViT Backbone (ETA 8/20)"
**Is your feature request related to a problem? Please describe.**
Currently, the ViT backbone is designed to serve as backbone for segmentation models and in particular the UNETR model. It is desirable to support classification as well.
**Describe the solution you'd like**
A PR which addresses this by utilizing class embedding (token, self.cls_token ) in patchembedding block used in ViT class.

[2021-08-02 16:50] Spenhouet commented on #2678
@Nic-Ma I now implemented a correct version with connected component labeling:

[code]

At least for my random sampled data this is extremely slower but the performance here depends on the number of background components. In real world data this most likely is way less.

This code can probably be optimized much further but I doubt that it will get more performant than fill_holes7.

[2021-08-02 21:12] ZiyueXu77 opened #2683 "Identify the performance bottleneck"
**Is your feature request related to a problem? Please describe.**
The first step for performance enhancement is to have a way to properly measure and identify the bottleneck in any pipeline.

**Describe the solution you'd like**
A guideline/tool to analyze a training / inference pipeline so as to gain information regarding: time consumption of each individual components, and GPU activity/utilizat

[2021-08-02 21:20] ZiyueXu77 opened #2684 "Identify the performance bottleneck (ETA 8/27)"
**Is your feature request related to a problem? Please describe.**
The first step for performance enhancement is to have a way to properly measure and identify the bottleneck in any pipeline.

**Describe the solution you'd like**
A guideline/tool to analyze a training / inference pipeline so as to gain information regarding: time consumption of each individual components, and GPU activity/utilizat

[2021-08-02 21:20] #2683 closed

[2021-08-02 23:20] Nic-Ma commented on #2678
Hi @Spenhouet ,

Sounds great, could you please help contribute a PR? I think it's good to have it as initial version, and may optimize perf later.

Thanks.

[2021-08-03 05:31] Spenhouet commented on #2678
@Nic-Ma Which solution would you prefer for a pull request?

[2021-08-03 05:54] Nic-Ma commented on #2678
@Spenhouet , I think your solution8 looks good.
@wyli @ericspod , do you have other comments?

Thanks.

[2021-08-03 06:03] yiheng-wang-nv opened #2687 "The class of `AffineGrid` has wrong docstring"
1. The values of parameters like `rotate_params`, `shear_params` and others are fixed, but the descriptions are like : `generate the 1st rotation parameter from uniform ...`

[2021-08-03 06:05] Nic-Ma commented on #2687
Sure, I will update the related docs and highlight reasonable input values.

Thanks.

[2021-08-03 06:08] yiheng-wang-nv opened #2688 "Add parameter explanations for `Affine`, `AffineGrid` and others"
So far, there are no explanation for the parameter: `shear` and `scale` in `Affine`, `AffineGrid`, `create_shear` and `create_scale`. Users may not know what is `shear`, what is `scale`.

In addition, I suggest to add value ranges for all parameters belong to `Affine`, thus users can understand what kind of values can be input.

[2021-08-03 06:09] Nic-Ma commented on #2688
Sure, I will update the related docs and highlight reasonable input values.

Thanks.

[2021-08-03 06:11] yiheng-wang-nv opened #2689 "Add Translation as a fraction of the image for `Affine`"
So far, `translate_params` in `Affine` only support to translate the image in pixels/voxels.

Reference: https://albumentations.ai/docs/api_reference/augmentations/geometric/transforms/

[2021-08-03 14:20] wyli opened #2691 "histogram equalisation transform?"
**Is your feature request related to a problem? Please describe.**
this is a feature request for an intensity transform so that the transformed image has a linear trend in it's cumulative intensity density

see also
https://github.com/facebookresearch/CovidPrognosis/blob/5a8731e86f263b77263ef5dee8faae9a4cc0d661/covidprognosis/data/transforms.py#L83

[2021-08-03 18:52] ericspod commented on #2678
I would choose whichever correct implementation is fastest for a PR, that would be helpful. This would be quite useful for other operations especially post-processing, but if the speed is poor we may need our own implementation of a 3D unfold or max/min filters.

[2021-08-04 00:13] #2679 closed

[2021-08-04 06:23] Spenhouet commented on #2678
Instead of benchmarking with random data, I did load one of our brain segmentations (256 x 256 x 256) and did run both methods (`fill_holes7` and `fill_holes8`)  with it.

| `fill_holes7` | `fill_holes8` |
| --- | --- |
| 69s | 276s |

So even for real world data, growing the background from the edge for every label is the "faster" solution (less slow).
But honestly, waiting 70s for a single image

[2021-08-04 09:55] #2687 closed

[2021-08-04 09:55] #2688 closed

[2021-08-05 08:35] yiheng-wang-nv opened #2695 "`Resize` error"
**Describe the bug**
Resized shape may not equal to the expected shape.

The error come from: https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/spatial/array.py#L406

**To Reproduce**

[code]
the above code will print `(1, 846, 1009)`

It is because in Python:

`1008 / 3032 * 3032` will get `1008.0000000000001 `

[2021-08-05 08:45] Nic-Ma commented on #2695
Thanks for the issue report.
Let me try to fix it ASAP.

Thanks.

[2021-08-05 13:20] #2695 closed

[2021-08-05 14:50] holgerroth opened #2697 "Make normalization type in DenseNet configurable"
**Is your feature request related to a problem? Please describe.**
BatchNorm is sometimes not optimal for certain applications, e.g. federated learning.

**Describe the solution you'd like**
Please make the normalization type in DenseNet implementation configurable to allow the use of other types of normalization apart from BatchNorm, like Instance, Group norm, etc.
See here https://github.com/Pro

[2021-08-05 20:30] finalelement opened #2701 "Augmentation Transform | Patch Shuffling (ETA 8/27)"
Local pixel/voxel shuffling is a an augmentation that can be used during training, its essentially a way to add noise to the image. In brief the a small sub-block of pixels/voxels are selected from the entire image and then local pixels are shuffled to generate a noisy image

The expectation is to send an image and the transform should be able to shuffle pixels given the hyper-parameters of how ma

[2021-08-05 21:14] dongyang0122 opened #2702 "Add 3D SuperNet of DARTS into MONAI for Segmentation Tasks"
SuperNet implementation for segmentation tasks (Reference: https://arxiv.org/pdf/1906.02817.pdf):
- [ ] Input format (refer to public DARTS GitHub repositories);
- [ ] Backbone structure: UNet;
- [ ] Change each node with multiple operations (Conv3x3x3, Conv5x5x5, Conv3x3x1, …);
- [ ] Output format.

[2021-08-05 21:20] dongyang0122 opened #2703 "Add Scripts/Notebook about DARTS Network Searching/Training"
Implementation details:
- [ ] Bi-level optimization;
- [ ] Network finalization: architecture weight binarization;
- [ ] Add temperature into network searching/training;
- [ ] Network inference;
- [ ] Validate superior performance of DARTS over UNet on one specific application (e.g. spleen CT, brain tumour MRI segmentation).

[2021-08-05 21:23] dongyang0122 opened #2704 "Add Multi-GPU Support"
Add multi-GPU support for network searching/training:
- [ ] Multi-GPU model searching;
- [ ] Multi-GPU model training;
- [ ] Multi-GPU model inference.

[2021-08-05 21:35] dongyang0122 opened #2705 "Benchmark CPU and GPU Computing Resource Cost in Existing MONAI Training Pipelines"
**Is your feature request related to a problem? Please describe.**
Potential low model training efficiency regarding different training pipelines in MONAI.

**Describe the solution you'd like**
Investigate macro- and micro-level computing resource cost:
- [ ] Macro-level cost includes overall runtime (on both CPU and GPU), GPU utilization rate, GPU memory consumption;
- [ ] Micro-level cost includ

[2021-08-05 22:39] dongyang0122 opened #2706 "Use Existing Tools to Generate Details of Profiling Results (ETA 9/3)"
**Is your feature request related to a problem? Please describe.**
Uncertainties on how to improve existing pipelines in MONAI.

**Describe the solution you'd like**
- [ ] Use existing tools dlprof/Nsight to generate details of profiling results;
- [ ] Use native PyTorch profiler to generate details of profiling results;
- [ ] Analyze results to identify the important components in the pipeline;
-

[2021-08-06 03:11] finalelement opened #2707 "Augmentation Transform | InCut & OutCut Dropping"
Dropping off randomly sized patches from inside the image and out the image where apart from them everything else gets dropped out.

[2021-08-06 03:13] finalelement opened #2708 "Tutorial: Self-Supervised Pretraining Pipeline | Fine-Tuning on External dataset to show the benefit (ETA 11/12/2021)"
Self-supervised based pretraining pipeline using augmentation on the image which will patch shuffle, use noise, flips and in-cuts and out cuts. The network will try to reconstruct the original image

[2021-08-06 03:13] Nic-Ma commented on #2707
Hi @finalelement ,

Thanks for the feature request, is it similar to this existing transform in MONAI: RandCoarseDropout ?
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/array.py#L1566

Thanks.

[2021-08-06 03:18] Nic-Ma commented on #2701
Hi @finalelement ,

Thanks for the feature request.
I am not very clear about the `shuffle` progress: do you mean to shuffle the pixels within selected block or shuffle the blocks in the entire image?

Thanks.

[2021-08-06 07:58] madil90 opened #2709 "Fix tests failing due to timeout in CI pipelines"
**Describe the bug**
Some tests are failing in CI pipelines because of timeout. This timeout is set too low and doesn't take into account the variance due to shared IO/CPU in cloud CI systems.

**To Reproduce**
Steps to reproduce the behavior:
Run pre-merge pipeline in NVIDIA CI several times. Tests will fail ~10% of the time due to timeout error.

**Expected behavior**
Tests should pass all the t

[2021-08-06 09:58] #2709 closed

[2021-08-06 14:24] #2499 closed

[2021-08-06 15:02] Nic-Ma commented on #2648
Update: @yiheng-wang-nv replaced all the transforms of the pipeline with MONAI transforms and tuned parameters, now it can get slightly better metrics in both the private and public leaderboards when trained on the same dataset:
[code]
![image](https://user-images.githubusercontent.com/27533405/128530285-59c4e5f2-f243-4672-803a-576cccbeb685.png)
[code]
![image](https://user-images.githubuserconten

[2021-08-06 15:09] yiheng-wang-nv commented on #2648
FYI: these results are based on a single model trained on 80% of data. The data split comes from: https://www.kaggle.com/underwearfitting/how-to-properly-split-folds

[2021-08-06 21:01] drbeh opened #2712 "NVTX in MONAI"
**Is your feature request related to a problem? Please describe.**
Nsight Systems provide profiling of a deep learning workflow. Apart from its predefined tracking components, a user can employ NVIDIA Tool Extension (NVTX) to mark event and profile specific functions. For MONAI transforms, it is not possible to add these markers directly since it is using a compose pipeline.

**Describe the soluti

[2021-08-07 13:04] wyli opened #2715 "remove the hard-coded 3d constraint for resnet"
**Is your feature request related to a problem? Please describe.**
the resnet implementation is hardcoded for 3d only while the network API support both 2d and 3d
https://github.com/Project-MONAI/MONAI/blob/62425d7d8809d129b4f35a51f425d02d325bd816/monai/networks/nets/resnet.py#L230

all the underlying blocks should be reviewed and refined to support both 2d and 3d.

[2021-08-07 13:38] #2678 closed

[2021-08-08 07:14] JiYuanFeng opened #2720 "NiftiSaver supports save the cropped case"
Hi, thank you for your nice work. It's possible to support saving cropped data via the NiftiSaver (align to original data)?
For example, we always crop foreground regions in the MRI data. And the transformation func provides related information.

![image](https://user-images.githubusercontent.com/20653249/128624109-92e5b384-f391-4087-8f82-ceaca149ec5c.png)

And we can use this one to align to orig

[2021-08-08 09:00] Spenhouet opened #2721 "transform documentation enhancements"
**Is your feature request related to a problem? Please describe.**

Until now we are using MONAI for our training pipeline and [torchio](https://github.com/fepegar/torchio) for data augmentations (offline preprocessed).
The data augmentations torchio provides are very medically relevant.
Their documentation, naming of the augmentations and the visual examples are very helpful.

<table align="cente

[2021-08-08 10:07] feifeizuo opened #2722 "fast training tutorial evaluation mean dice don't change"
**Describe the bug**
I try the fast training toturial, but after some epoc, the evaluation mean dice don't change.

**Expected behavior**
mean dice increase.

**Screenshots**

part of log as below:
10/16, train_loss: 0.5760 step time: 1.3417
11/16, train_loss: 0.5707 step time: 1.3761
12/16, train_loss: 0.6056 step time: 1.2508
13/16, train_loss: 0.5965 step time: 1.3533
14/16, train_loss: 0.5736

[2021-08-08 10:43] Nic-Ma commented on #2720
Hi @JiYuanFeng ,

Thanks for your interest and experiments with MONAI.
Actually, you can invert the preprocessing transforms of `image` on the `prediction` to restore the original shape and save.
(For `crop` transform, it will pad, for `pad` transform, it will crop)
Refer to this this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py#L70

[2021-08-08 10:48] Nic-Ma commented on #2721
Hi @Spenhouet ,

Thanks for your great feedback!
I think that are very good points and welcome contributions.
Maybe we can work together to achieve them.

Thanks.

[2021-08-08 10:48] JiYuanFeng commented on #2720
Hi, Got it and thanks for the information

[2021-08-08 10:48] #2720 closed

[2021-08-08 10:50] Nic-Ma commented on #2722
Hi @feifeizuo ,

Could you please help share the link you are referring to?
I didn't see such an issue before, @rijobro do you have any experience?

Thanks in advance.

[2021-08-08 12:33] Spenhouet commented on #2721
Hi @Nic-Ma,

this is definitely not something I will have time for any time soon but I did hope I could get this going.
The first thing needed would be a precise list of steps / small TODOs so that the community can open up pull request for individual tasks.

From the table I included, is there something where I missed the MONAI equivalent? Is the monai.RandKSpaceSpikeNoise the same as the torchio

[2021-08-08 14:27] feifeizuo commented on #2722
@Nic-Ma ,Thank you for your reply.
the link is [https://github.com/Project-MONAI/tutorials/blob/master/acceleration/fast_training_tutorial.ipynb](url),
First, I convert ipynb file to python file.
Then, I just run it.(Fast para True and False have the same result which mean dice is 0.4980).

[2021-08-09 02:52] Nic-Ma commented on #2721
Hi @Spenhouet ,

1. I think `RandKSpaceSpikeNoise` is the correct mapping.
2. `RandomBlur` may map to MONAI `RandGaussianSmooth` transform.
3. `RandomAnisotropy` may be achieved by MONAI `Spacing` or `Resize` transforms.
4. `RandomMotion` may map to MONAI `RandBiasField` transform? I didn't check the details carefully.
5. `RandomGamma` maps to MONAI `RandAdjustContrast` transform.
6. `RandomSwap`

[2021-08-09 03:24] Nic-Ma commented on #2722
Hi @feifeizuo ,

I tried to run the tutorial with latest MONAI code and got below training log in the `MONAI optimized training`.
Could you please help try to run in MONAI docker environment to avoid some unknown SW version issue?
[code]

Thanks.

[2021-08-09 06:10] Spenhouet commented on #2721
Hi @Nic-Ma,

- We should consider renaming [RandGaussianSmooth](https://docs.monai.io/en/latest/transforms.html?highlight=blur#randgaussiansmooth) to RandGaussianBlur since that seems much more common. https://en.wikipedia.org/wiki/Gaussian_blur
- Yes, [RandomAnisotropy](https://torchio.readthedocs.io/transforms/augmentation.html#randomanisotropy) is a downsampling + upsampling with [Spacing](http

[2021-08-09 06:34] Spenhouet commented on #2721
- We should also think about renaming `Rand2DElastic` and `Rand3DElastic` to `Rand2DElasticDeformation` and `Rand3DElasticDeformation` since this is a much more precise and intuitive name
- One thing I like about torchio is that they explain everything in medical relevant terms. I believe the MONAI documentation could take a page from their book on that and improve all the existing doc strings. Th

[2021-08-09 13:22] yiheng-wang-nv commented on #2715
Hi @Douwe-Spaanderman , could you please help for this task? I do not understand the parameter `shortcut_type`.

[2021-08-09 14:27] finalelement commented on #2707
Hi @Nic-Ma At the first sight, it does seem similar. This is quite similar to drop 'in' the image. However this does not support dropping off the rest of the image and just leaving the hole. This would be termed as out Out Cut.

Thanks for the pointer, Ill use this as reference and will also do some empirical testing on a couple of images.

[2021-08-09 14:33] finalelement opened #2727 "TransUNet a 2D Transformer Segmentation Network"
TransUNet as a network architecture needs to be added in

[2021-08-09 14:43] Nic-Ma commented on #2721
Hi @Spenhouet ,

Thanks for your great suggestions! Very valuable feedback for MONAI project.
And I think maybe we can start from non-breaking feature requests to add the new transforms you listed?
@wyli @ericspod @rijobro What do you guys think about the GIF demo of medical transforms?

Thanks.

[2021-08-09 15:28] drbeh opened #2728 "Performance Analysis of Digital Pathology Pipeline (ETA 8/27)"
**Is your feature request related to a problem? Please describe.**
Analyzing the performance of digital pathology pipeline in order to measure the computation time for each involving components and identify the bottlenecks. This information should be used as the basis to improve the performance of this pipeline.

**Describe the solution you'd like**
Developing the tooling/guides and end-to-end per

[2021-08-09 15:28] drbeh opened #2729 "Performance Enhancement of Digital Pathology Pipeline"
**Is your feature request related to a problem? Please describe.**
Using performance analysis results for digital pathology (#2728), try to enhance the performance of this pipeline and make it more efficient.

[2021-08-09 15:35] drbeh commented on #2684
Split into more focused task: digital pathology, Spleen, and Brain

[2021-08-09 15:35] #2684 closed

[2021-08-09 16:04] drbeh opened #2730 "Performance Analysis of Spleen Pipeline (ETA 8/27)"
**Is your feature request related to a problem? Please describe.**
Analyzing the performance of spleen segmentation pipeline in order to measure the computation time for each involving components and identify the bottlenecks. This information should be used as the basis to improve the performance of this pipeline.

**Describe the solution you'd like**
Developing the tooling/guides and end-to-end p

[2021-08-09 16:06] drbeh opened #2731 "Performance Enhancement of Spleen Pipeline (ETA 8/27)"
**Is your feature request related to a problem? Please describe.**
Using performance analysis results for spleen segmentation (#2730), try to enhance the performance of this pipeline and make it more efficient.

[2021-08-09 17:02] finalelement commented on #2701
Hi @Nic-Ma I mean to say the voxels/pixels are shuffled within a local patch. Please also share if you already see something similar already existing.

[2021-08-09 23:19] Nic-Ma commented on #2701
@finalelement , OK, we don't have such transform so far I think.
Please go ahead to implement your ideas.

Thanks in advance.

[2021-08-09 23:24] Nic-Ma commented on #2721
About `RandomSwap`, I just confirmed it's different from MONAI ticket #2701 , the latter is to shuffle the content of patches.

Thanks.

[2021-08-10 05:04] zephyrie opened #2735 "Create Docs landing page"
**Is your feature request related to a problem? Please describe.**
The website only links to MONAI Core docs

**Describe the solution you'd like**
Create a landing page for Docs so that users can navigate to all MONAI Docs easily

[2021-08-10 05:06] zephyrie opened #2736 "Fix short page CSS/HTML"
**Describe the bug**
With the current CSS/HTML structure, short pages don't fully extend the footer to the bottom of the page.  This makes it look weird for pages with little content (upcoming docs landing page)

**Describe the solution you'd like**
Create a wrapper around each page and expand on the CSS to take up 100% height regardless of content length

[2021-08-10 05:09] zephyrie opened #2737 "Determine 1-2 tutorials per user persona and validate"
**Is your feature request related to a problem? Please describe.**
To simplify the getting started experience, we need to pick a few tutorials that can strongly represent a great getting started experience.  We'll need to consider MONAI Label + MONAI Core.

**Describe the solution you'd like**
After a few notebooks are validated, we'll update the page to simplify the experience per product and val

[2021-08-10 05:16] Nic-Ma commented on #2691
Thanks for the feature request.
I will try to implement a PR for it ASAP.

Thanks.

[2021-08-10 05:53] Spenhouet commented on #2701
There might also be a method similar to [RandomSwap](https://torchio.readthedocs.io/transforms/augmentation.html#randomswap) coming.
To differentiate I would propose the following naming:

- For the RandomSwap equivalent: `RandPatchSwap`
- For the patch shuffling proposed here: `RandPatchShuffle`

[2021-08-10 07:48] Nic-Ma commented on #2701
Hi @Spenhouet ,

Thanks for your explanation, naming sounds to me.
@finalelement Do you have any other comments?

Thanks.

[2021-08-10 10:13] Spenhouet opened #2739 "LoadImage and SaveImage is unable to handle pathlib.Path"
**Is your feature request related to a problem? Please describe.**
For file handling (file paths) we are using the pathlib everywhere. In my experience this is great and helps with making paths OS independent.
When we work with MONAI this fails and we have to convert all paths to strings.

**Describe the solution you'd like**
`LoadImage` should be able to handle `pathlib.Path` objects as `filename

[2021-08-10 10:55] Nic-Ma commented on #2739
Hi @Spenhouet ,

Thanks for raising this topic.
Currently, only the `PersistentDataset` of MONAI supports `pathlib.Path`, all the other path related logic still work with string.
So I think if we want to add this support, we need to totally add for all the read/write components.
For example the image readers:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py
@wyli @ericspo

[2021-08-10 16:26] AugustKRZhu opened #2741 "Multi-label diceloss"
Hi there,
Thanks to the MONAI team.
Recently, the multilabel segment on CT has been studied,  where label 2 is a subset of label 1, and label 1 is the constrain of label 2. My question is whether Diceloss or other loss functions can calculate independent label1 (label1+overlap of label1 and label2) and label2.
![multilables](https://user-images.githubusercontent.com/34640207/128896703-ef797857-2c6

[2021-08-10 16:55] Spenhouet opened #2743 "LoadImage can not read .mgz files"
**Is your feature request related to a problem? Please describe.**
If one wants to work with Freesurfer data it is necessary to read `.mgz` files.
Nibabel can do so.

**Describe the solution you'd like**
One step is to add the `.mgz` extension to the suffixes defined for the `NibabelReader`.

[code]

I tested this by monkey patching `NibabelReader.verify_suffix`:

[code]

But there seem to be more

[2021-08-10 22:32] Nic-Ma commented on #2743
Hi @Spenhouet ,

May I know the error if reading the `.mgz` directly with `LoadImage`? I think ITK should support it?

Thanks.

[2021-08-10 22:41] Nic-Ma commented on #2741
Hi @AugustKRZhu ,

Thanks for your interest here.
I think `DiceLoss` can work well for your case, you can refer to the Brats segmentation tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb
It's multi-labels task.

Thanks.

[2021-08-11 05:46] Spenhouet commented on #2743
Hi @Nic-Ma,

thanks for the hint. I did not know that ITK is the catch all for loading image files.
I did not have ITK installed and therefore got:

[code]

Nonetheless, I installed ITK now and still can not load the image.

[code]

[2021-08-11 06:14] Nic-Ma commented on #2743
Hi @Spenhouet ,

Could you please help share your test program for further analysis?
@thewtex Do you have any idea about this ITK error?

Thanks in advance.

[2021-08-11 06:44] Spenhouet commented on #2743
Sure, this is the minimal reproduction:

[code]

I can't share my input file.

But I would propose to simply enable the `NibabelReader` to handle `.mgz` files.

The following patch works:

[code]

It is only a small change which allows Nibabel to convert the `MGHImage` object to a `Nifti1Image` object.

This is basically the fix:

[code]

Why is Nifti1Image over Nifti2Image used?

[2021-08-11 07:56] Spenhouet opened #2746 "Add option for rounding via a transform"
**Is your feature request related to a problem? Please describe.**

Storing NIfTI images is often not done in the right data type (because it is forgotten). I had the issue multiple times that a label / segmentation image which is supposed to only consist of integer values was stored as float and values had slight rounding errors like containing 0.9999999 instead of 1.
When this is loaded with `Lo

[2021-08-11 08:20] Nic-Ma commented on #2743
Hi @Spenhouet ,

I tried to run the ITK reader, maybe it because the image file is unavailable?
Could you please help confirm with below command:
[code]

[2021-08-11 08:26] Nic-Ma commented on #2746
Hi @Spenhouet ,

Thanks for your feature.
I feel adding a `round` option to `AsDiscrete` transform may be the most suitable method.
@wyli @ericspod @rijobro , what do you guys think? If no other comments or ideas, I can do a PR for it soon.

Thanks.

[2021-08-11 08:59] wyli commented on #2743
I feel if the user specifies a reader in `LoadImage`, there's no need to do the filename extension checks. I'll submit a PR to show the idea

[2021-08-11 09:30] wyli commented on #2746
yes, AsDiscrete could have a rounding method option. thanks for the report, I think we should also update the tutorial to show the usage.

[2021-08-11 09:32] Nic-Ma commented on #2746
Sure, I will add this option in a quick PR.

Thanks.

[2021-08-11 09:34] rijobro commented on #2746
If the original problem is that the datatype is lost when we read in the image, would the simplest solution not be to store the datatype in the dictionary of meta data?

[2021-08-11 10:14] Spenhouet commented on #2743
Hi @Nic-Ma,

[code]

This gives me the same error as with `LoadImage`:

[code]

With the fix for the NibabelReader above I can load the same file so it is definitely not that.

@wyli @Nic-Ma What you do think about the proposed adjustment to the NibabelReader?

[2021-08-11 10:18] Spenhouet commented on #2746
No, the issue is that a NIfTI file is simply stored as float instead of explicitly as integer (human error). For segmentation images we only expect integers. Therefore a

1. Load as float image
2. Round values
3. Cast type to integer

is the savest way to load label / segmentation data.

[2021-08-11 15:43] AugustKRZhu commented on #2741
Hi Nic @Nic-Ma ,

Thanks for your reply, I refer to the Brats segmentation tutorial and train my dataset now,  but I am confused about whether the dice output is correct. as shown in fig, the dice losses are not mean values, are they suitable?
![diceloss](https://user-images.githubusercontent.com/34640207/129060231-13599342-99cb-4e21-9ae4-258885f6000d.jpg)

thanks.

[2021-08-11 16:16] Nic-Ma opened #2749 "ThreadDataLoader can't continuously run"
**Describe the bug**
Currently, the `ThreadDataLoader` can only run for 1 epoch, it doesn't contain the reset logic.

Reproduce the issue:
[code]

[2021-08-11 16:17] Nic-Ma commented on #2749
I will submit a quick PR to fix it ASAP.

Thanks.

[2021-08-11 17:49] Nic-Ma commented on #2743
I think @wyli wanted to submit a PR to unlock the extension check if explicitly providing reader, then you can just set `NibabelReader` for your case.
But I am still don't understand why ITK can't read it, CC @thewtex .

Thanks.

[2021-08-11 17:52] Nic-Ma commented on #2741
Hi @AugustKRZhu ,

Actually, it's the mean value by `reduction` in the `aggregate()`:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/metrics/meandice.py#L96

Thanks.

[2021-08-11 19:33] dlotfi opened #2752 "Add pad args to all padding transforms"
While np_kwargs argument has been added to several padding transforms such as SpatialPad, BorderPad, DivisiblePad, ResizeWithPadOrCrop, some other padding transforms which use np.pad internally still don't have this argument, including: Zoom, RandZoom and CropForeground

It'd be really helpful if these transforms have np_kwargs as well. I precisely need to specify constant_values in RandZoom.

[2021-08-11 20:47] AugustKRZhu commented on #2741
Awesome, you are right, I found that if I try to average them, it will be a problem. Thanks. @Nic-Ma

[2021-08-12 00:23] Nic-Ma commented on #2752
Hi @dlotfi ,

Thanks for the feature request.
Let me try to investigate it ASAP.

Thanks.

[2021-08-12 08:22] Spenhouet commented on #2231
This is really a necessary change. I just wanted to create a discussion on this since I find my self constantly switching with `ToTensord` and `ToNumpyd`.

I would vote for making this breaking change. MONAI claims to be a "PyTorch-based framework". For all transforms to always expect a torch Tensor and always return a torch Tensor just seems like the right thing to do.
Then all transforms which a

[2021-08-12 13:44] rijobro commented on #2231
I've drafted [this PR for all transforms](https://github.com/Project-MONAI/MONAI/pull/2278), and for the large part, I made the transform ambivalent to torch/numpy input (e.g., `img[None]` is the same API for both torch and numpy).

Now that I've finished the draft, I've started creating [bite-sized PRs](https://github.com/Project-MONAI/MONAI/pull/2740) to get them into `dev`.

If you check the bi

[2021-08-12 13:51] Spenhouet commented on #2231
@rijobro I get the decision to provide the option to group transforms based on numpy or torch. Is there some long term goal of reimplementing and deprecating all numpy based transforms to torch based transforms?

[2021-08-12 13:52] rijobro commented on #2752
@Nic-Ma in case it's useful for you, in the torch transform PR, I created `Pad`: https://github.com/Project-MONAI/MONAI/pull/2278/files#diff-8afde597f8842b2f703f8352542ddf5b5e9498d7ef8a998321cb40e5c008a6b1R61, which is then called by all padding transforms. This might help you if you want to unify the input parameters.

[2021-08-12 13:57] rijobro commented on #2231
I don't see any reason to deprecate them – if possible, we might as well try and support both. Anyway, most will be torch-based. Here's the list from the big PR, the only two numpy transforms are RandHistogramShift and Orientation (uses nibabel):

[code]

[2021-08-12 15:40] drbeh opened #2754 "NVTX range push/pop transform"
**Is your feature request related to a problem? Please describe.**
NVTX ranges are being defined by push and pop mechanism, currently the nvtx transforms need to be define be separate push and pop transforms (#2713) but it would be useful to have `RangePushPop`  as well, as a more convenient way to annotate a single transform.

[2021-08-12 15:40] #2712 closed

[2021-08-12 16:09] kate-sann5100 opened #2755 "GlobalMutualInformationLoss with different bin distribution"
**Is your feature request related to a problem? Please describe.**
The current implementation of GlobalMutualInformationLoss can only apply Parzen windowing with bins distributed evenly between 0 and 1 instead of customise bins according to the input distribution.
This lead to two problems:
1) The inputs (`target` and `pred`) must range between 0 and 1
2) It is hard to benchmark this loss against

[2021-08-12 18:21] #1847 closed

[2021-08-12 21:25] finalelement commented on #2701
I've created a pull request. The code has been added in this [pull request](
https://github.com/Project-MONAI/MONAI/pull/2757).

This transform needs testcases and some more local testing, as well as how it has to be added to the dictionary.py

[2021-08-13 00:59] #2739 closed

[2021-08-13 00:59] #2743 closed

[2021-08-13 06:51] #2746 closed

[2021-08-13 07:58] #2643 closed

[2021-08-13 07:59] wyli commented on #2677
Tracked by https://github.com/Project-MONAI/MONAI/issues/2682, I'm closing this

[2021-08-13 07:59] #2677 closed

[2021-08-13 08:06] #2741 closed

[2021-08-13 08:07] wyli commented on #2755
Thanks, I've added this to the image registration milestone.

[2021-08-13 08:59] Spenhouet commented on #2739
I tested the fix and can confirm that it solved my issue.

[2021-08-13 09:00] Spenhouet commented on #2743
I tested the fix with `LoadImaged(FILE_KEYS, "NibabelReader")` and can confirm that it solved my issue.

[2021-08-13 09:02] Spenhouet commented on #2746
I tested the implementation. Thanks :)

[2021-08-13 09:03] Spenhouet commented on #2743
Thanks @wyli for the implementation. :)

[2021-08-13 09:03] Spenhouet commented on #2739
Thanks @wyli for the implementation. :)

[2021-08-13 10:27] yiheng-wang-nv opened #2759 "`BasicUnet` needs to be enhanced"
- When `upsample` is `nontrainable`, users cannot change interpolation method (like `nearest`).

[2021-08-13 10:31] yiheng-wang-nv opened #2760 "`UpSample` has wrong docstrings and an issue with `out_channels`"
1. Default value of `pre_conv` is `"default"` but in the docstrings, it says `None`.
2. AN error should be raised when:
[code]

[2021-08-13 11:11] #2749 closed

[2021-08-13 13:49] drbeh opened #2764 "NVTX handlers to probe workflow"
**Is your feature request related to a problem? Please describe.**
NVTX transforms provides insights into the MONAI transforms; however, in order to probe other part of the MONAI workflow, we need NVTX handlers that can be attached to Ignite events.

[2021-08-13 15:30] diazandr3s commented on #2721
This is a great point.

CC @fepegar

[2021-08-13 15:35] fepegar commented on #2721
Hi all! Thanks for pinging, @diazandr3s. I have a couple of comments:
1. Feel free to ping me in any discussions or questions related to TorchIO, I'm more than happy to help and collaborate
2. I'm not sure it's necessary to spend resources in implementing more and more transforms. TorchIO and MONAI can be mixed more or less easily, as shown in
    a. [Integrate 3rd party transforms into a MONAI pr

[2021-08-13 15:35] aylward commented on #2721
Two thoughts on these visualizations:

1) would be great if the generated examples/images/documentation could also be part of the MONAI testing framework.

2) perhaps the visualizations (and documentation) could be generated in jupyter notebooks.   A nice way of embedding interactive 2D and 3D visualizations of numpy, tensor, and other 2D and 3D structures in jupyter notebooks is via itkWidgets:
[

[2021-08-13 15:44] diazandr3s commented on #2721
@aylward do you know whether itkwidgets work in Google Colab as well?
Another option for visualization is to have a Slicer module to try/test image transformations in Slicer. Similar to what is being created for TorchIO https://github.com/fepegar/SlicerTorchIO

[2021-08-13 16:26] aylward commented on #2721
@diazandr3s  - great point...we are in the process of adding Colab support in collaboration with the NIH/NCI.   It does work with Binder and other cloud-based jupyter notebooks, but google changed the jupyter notebook just enough such that itkWidgets and some (many?) other jupyter notebook / jupyter lab widgets don't quite work (they don't crash, but they simply don't appear in a cell).

The nice

[2021-08-13 16:26] #2754 closed

[2021-08-13 17:11] Spenhouet commented on #2721
Hi @fepegar, first of I would like to thank you for your great library. As I already wrote above I really value the documentation and that it is highly medically relevant.
Sorry that I did not tag you on this issue. No bad intention.

Having MONAI transform wrappers around torch.io transforms would be an option but this would add torch.io as dependency to MONAI and that is a decision I have no say

[2021-08-13 17:13] fepegar commented on #2721
@Spenhouet Thanks for your detailed explanation and kind words.

As I said, I'm happy to help!

[2021-08-14 05:31] dominikj2 commented on #1205
Hi @mibaumgartner,
Did you manage to find a volumetric RoIAlign op that is open source?

[2021-08-14 08:51] #2759 closed

[2021-08-14 08:51] #2760 closed

[2021-08-14 09:46] yiheng-wang-nv opened #2768 "Enhance some networks to set `bias=False` for conv layers"
If a conv layer is directly followed by a batch norm layer, the bias in the conv layer is not need, because the `subtract the mean` manipulation will cancel out the effect of bias.

[Reference:](https://pytorch.org/tutorials/recipes/recipes/tuning_guide.html)

In MONAI's `Convolution` class, the default value of `bias` is `True`, and the following networks/blocks cannot configure the `bias` parame

[2021-08-14 09:53] yiheng-wang-nv commented on #2768
Therefore, shall we add `bias` parameters for these networks/blocks?

Or shall we add a judgement as follow in all related palces?
[code]

@rijobro @Nic-Ma @wyli @ericspod

[2021-08-15 09:05] yiheng-wang-nv opened #2771 "`HighResBlock` may have wrong conv block"
The `Convolution` block in `HighResBlock` does not utilize acti and norm parameters thus will used default instance norm layer and prelu activation layer. However, it is different from all other `Convolution` blocks in `HighResNet`. Is is a mistake? @wyli

[2021-08-15 09:11] yiheng-wang-nv opened #2772 "`AutoEncoder` does not have docstrings"
Hi @rijobro , I just found the `AutoEncoder` and `VarAutoEncoder` classes does not have docstrings, should we add? Thanks!

[2021-08-15 11:13] #2768 closed

[2021-08-15 11:17] wyli commented on #2771
Thanks for reporting, I'lllook into it

[2021-08-15 14:38] Nic-Ma commented on #2752
Hi @rijobro ,

Thanks for your sharing.
Currently, I will use the existing args `np_args` to keep it simple and consistent(only need to change around 5 lines code).
Please feel free to revisit all the crop / pad logic in your Tensor transform PRs later.

Thanks.

[2021-08-15 18:15] ahatamiz opened #2774 "Add BERT-like Transformers"
**Is your feature request related to a problem? Please describe.**
Add BERT-like transformers for creating NLP and multi-modality pipelines.

**Describe the solution you'd like**
The transformer architecture can be ported from HuggingFace.

[2021-08-15 18:17] ahatamiz opened #2775 "Add multi-modality transformers"
**Is your feature request related to a problem? Please describe.**
Add transformers that can be leveraged for processing multi-modal data (i.e. vision and language). The transformer block can be also used for creating cross-attention modules.
**Describe the solution you'd like**
The architecture can be imported from HuggingFace.

[2021-08-15 18:20] ahatamiz opened #2776 "Add transformer-based NLP pipelines"
**Is your feature request related to a problem? Please describe.**
Create needed infrastructures to add transformer-based NLP pipeline.

**Describe the solution you'd like**
The pipeline is targeted for text classification and supports loading pre-trained weights (e.g. BERT).

[2021-08-15 18:22] ahatamiz opened #2777 "Add transformer-based multi-modality pipelines"
**Is your feature request related to a problem? Please describe.**
Create needed infrastructures to add transformer-based multi-modality(e.g. vision and language) pipeline.

**Describe the solution you'd like**
The pipeline is targeted for classification applications and supports loading pre-trained weights (e.g. BERT).

[2021-08-16 09:11] #2752 closed

[2021-08-16 09:21] mibaumgartner commented on #1205
Hi @dominikj2 ,

there are some implementations out there ([MDT](https://github.com/MIC-DKFZ/medicaldetectiontoolkit), [medvision](https://github.com/TimothyZero/MedVision), torchvision PR for the Issue linked above) but (AFAIK) none of them were completely validated for their performance.

Best,
Michael

[2021-08-16 09:25] myron opened #2781 "Add tutorial for multiple instance learning (MIL) code for 2D pathology WSI classification (ETA 11/12/2021)"
Add implementation of "Accounting for Dependencies in Deep Learning based Multiple Instance Learning for Whole Slide Imaging"

Input format: 2D TIFF (WSI)
Output format: class label

[2021-08-16 09:29] myron opened #2782 "Add Notebook example of MIL"
Show examples of MIL training and inference.

[2021-08-16 10:21] rijobro commented on #2721
Hi @Spenhouet, I think your issue boils down to two main points:

1. improved documentation/visualisation of transforms
2. add a few transforms that exist in TorchIO but not MONAI.

For the latter, I would recommend creating a feature request issue per transform. These can be grouped together in a Github Project if that helps keep things organised.

As a small side note, you mentioned renaming som

[2021-08-16 14:12] drbeh commented on #2728
https://github.com/Project-MONAI/MONAI/pull/2765

[2021-08-16 15:05] rijobro commented on #2772
@ericspod I ported this from ptproto, was it based on a particular implementation or should I write general docstrings?

[2021-08-16 17:42] #2697 closed

[2021-08-17 02:17] ericspod commented on #2772
I don't have specific docstrings for these, they were meant to be basic base level implementations that use template methods to define the network structure like the way our UNet works. It would be great if you could add some basic info on the arguments and what the `_get_*` methods do. Thanks!

[2021-08-17 02:46] Nic-Ma opened #2789 "Add `ToDevice` transform to execute transform logic on GPU"
**Is your feature request related to a problem? Please describe.**
With `ToDevice` after `ToTensor` or `EnsureType`, we can move the data to GPU and leverage `CacheDataset` to avoid duplicated CPU -> GPU copying in every epoch. And also can support other GPU transforms to accelerate.

[2021-08-17 06:08] Spenhouet commented on #2721
Makes sense. We can also do that. Should we keep this issue open until all individual issues are created? And maybe a project?

MONAI isn't even version 1.0 yet and your are already stopping change for backwards compatibility? I feel like this library needs to undergo a lot of change until it reaches v1. Personally I would prioritize refactoring to a good initial v1 instead of directly starting wi

[2021-08-17 08:36] Nic-Ma opened #2794 "Add multi-threads support to samples crop"
**Is your feature request related to a problem? Please describe.**
Currently, there are 4 crop transforms can generate a list of samples, and we crop the images in a for loop.
After some testing, I found that if executing in multi-threads, it can be much faster.
So it would be useful to add `num_workers` support to these transforms, similar to the `CacheDataset`.

[2021-08-17 08:43] Nic-Ma commented on #2794
Here is the test code in `RandCropByPosNegLabeld` transform:
[code]
@wyli @ericspod @rijobro , if you guys don't have concerns on this enhancement, I will try to make a PR for all the sample-crop transforms ASAP, it can be helpful in our performance task of v0.7.

Thanks in advance.

[2021-08-17 08:50] wyli commented on #2794
I don't understand why this is faster, multi-thread could be useful when the bottleneck is IO, in the other use cases normally it is not efficient because of Python GIL. Any idea?

[2021-08-17 09:07] Nic-Ma commented on #2794
Hi @wyli ,

Usually, muti-processing can help improve IO reading logic, better than multi-threads. Here we don't have IO issue, multi-threads can help crop several samples in parallel instead of the original for-loop.
To verify the idea, I just tested again with below code to compare the speed:
[code]
Part of the output log during training for your reference:
[code]

Thanks.

[2021-08-17 09:07] #2771 closed

[2021-08-17 09:29] wyli commented on #2794
could you share a complete script for the benchmark?

[2021-08-17 09:33] wyli commented on #2794
more analysis of multi-threading here http://www.dabeaz.com/python/UnderstandingGIL.pdf

[2021-08-17 10:23] Nic-Ma commented on #2794
Hi @wyli ,

This is the full program I used to train the spleen model and got previous test result.
With multi-threads, it can be 20% faster on the V100 GPU with PyTorch docker 21.06.
[code]

Thanks.

[2021-08-17 10:25] Nic-Ma commented on #2794
@wyli , BTW, here I used `ToDeviced` to cache data in GPU directly, then execute multi-threads `crop` based on GPU Tensor in the `ThreadDataLoader`.

Thanks.

[2021-08-17 10:29] Nic-Ma commented on #2794
And I think this is a non-breaking enhancement, users can try it to get better performance, if not helpful for their cases, just don't use it?

Thanks.

[2021-08-17 11:59] wyli commented on #2794
I feel at least we should understand the mechanism and make recommendations in the component usage. In this case maybe the random crop transform reads the cache for indices and image data, and because the dataset is large, the cache is actually in the virtual memory. multi-thread is useful in this case to address the IO bottleneck for fetching cache?

[2021-08-17 12:38] Nic-Ma commented on #2794
Hi @wyli ,

Thanks for your analysis, that makes sense to me.
I also tried to remove `ToDeviced`, or move `EnsureTyped` to the end, still got the same test result.
I think we can add some doc-string when I develop this PR: "when the image cached in virtual memory or other hardware storage, increasing the num_workers can help improve the IO loading speed."
What do you think?

Thanks.

[2021-08-17 13:06] aylward commented on #2721
Agreed.  Maybe now is a good time to start introducing @deprecated usage and policies.   This was a huge point of discussion with ITK.   You can see opinions from various folks here:
   https://itk.org/Wiki/ITK/Backward_Compatibility_Open_Discussion

Your comments on the importance of naming (to reduce learning curve) and suggestion for maintaining backward compatibility is perfect (if deprecation

[2021-08-17 14:15] wyli commented on #2794
If that's the case perhaps we could have some generic multithreading approach by modifying 'apply_transform' https://github.com/Project-MONAI/MONAI/blob/a38bae30ca96a3e28207538c1e2b8022fbf07571/monai/transforms/transform.py#L91 (I haven't tested this idea yet)

[2021-08-17 22:08] #2764 closed

[2021-08-17 22:25] Nic-Ma commented on #2794
Hi @wyli ,

I don't quite understand your solution.
The main idea of this ticket is to use multi-threads to accelerate the cropping of **1 transform for 1 image**, because this transform will crop out 1 list of samples in for-loop. I don't see how to improve it by `apply_transform`.
Please feel free to correct me if I misunderstood it.

Thanks.

[2021-08-18 01:22] #2789 closed

[2021-08-18 03:26] Nic-Ma commented on #2794
Hi @wyli ,

Maybe I start the PR for `RandCropByPosNegLabeld` and let's review & discuss in the PR directly?

Thanks.

[2021-08-18 07:15] wyli commented on #2794
still, I don't fully understand the source of the speed up. if it is related to the cache reading, we should have a generic solution here, it will affect all the cachedataset based loading pipelines. we shouldn't just provide local solutions at the n_samples related transforms level. any idea here? could you investigate more?

[2021-08-18 07:27] Nic-Ma commented on #2794
OK, let me try to investigate more for a better solution.

Thanks.

[2021-08-18 07:54] wyli commented on #2794
And in your benchmark script, perhaps ThreadDataLoader's buffer size should be larger https://github.com/Project-MONAI/MONAI/blob/28856b88044e6310d0c5bfff2c088dcbea00324f/monai/data/thread_buffer.py#L38 cc @ericspod

[2021-08-18 07:59] Nic-Ma commented on #2794
Hi @wyli ,

Actually, I tried bigger buffer size at the beginning, no obvious difference was observed.
I think it's because the `put` of the queue is slower than `get`, so when I used multi-threads in samples-crop, `put` is faster and the total speed also increased.

Thanks.

[2021-08-18 08:06] wyli commented on #2794
I think when the buffer size is larger than one, it should use multiple threads to fill the queue, this might address the issue?

[2021-08-18 08:16] Nic-Ma commented on #2794
Hi @wyli ,

Here we only created 1 thread to fill the queue:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/thread_buffer.py#L67
Because the source data is not thread safe and don't support index access in parallel?
https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L550
@ericspod Do you have any idea to improve the `ThreadDataLoader` here?

And @wyli , pleas

[2021-08-18 09:13] wyli commented on #2794
could be something like this?
[code]

[2021-08-18 10:49] Nic-Ma commented on #2794
Hi @wyli ,

Thanks for your great suggestion, I totally agree with you that if we can make the `batch_size` level to be multi-threads, it's more important than the multi-threads `crop-samples`. Let's focus on this multi-threads `ThreadDataLoader` first.
About your sample code, maybe we need thread lock when changing the value of `buffered`?
I will try to test this code later.

Thanks in advance.

[2021-08-18 13:55] wyli commented on #2794
Thanks, yes, I think we can remove the 'buffered' variable (following the original implementation).

[2021-08-18 14:50] Nic-Ma commented on #2794
Hi @wyli ,

I tested your proposal locally, it didn't give improvement on the speed with `num_threads=4`.
I think it's because this line:
[code]
will complete all the items then start the for-loop, so we can't `put` & `get` the Queue in parallel, right?

Attach my test implementation(my test batch_size=4):
[code]

Thanks.

[2021-08-18 15:07] wyli commented on #2794
according to the documentation the `imap` is implemented in a lazy manner -- The other major difference between imap/imap_unordered and map/map_async, is that with imap/imap_unordered, you can start receiving results from workers as soon as they're ready, rather than having to wait for all of them to be finished.

[2021-08-18 15:47] Nic-Ma commented on #2794
Hi @wyli ,

Another potential issue of this multi-threads method: many of our random transforms are NOT thread-safe, maybe we are not ready to run them in this way so far..

Thanks.

[2021-08-18 16:08] wyli commented on #2794
thanks, that's a good point, I think the lambda function of `for item in p.imap(lambda x: x, self.src)` could be replaced by a utility to set the random state and then fetch the data item, the random seed could come from a shared counter variable or the buffer size. what do you think?

[2021-08-18 23:22] Nic-Ma commented on #2794
Hi @wyli ,

Yes, I didn't see a good thread-safe solution to provide overall multi-threads support.
So I plan to go back to the original smaller idea: investigate deeper why the `multi-threads samples-crop` can work for my test program.

Thanks.

[2021-08-19 03:02] Nic-Ma commented on #2794
Hi @wyli ,

After deeper analysis, I found that the root cause of why multi-threads samples-crop only helps when I cached the foreground and background indices: the **deepcopy** for every sample costs much time when copying the fg and bg indices, which are actually **unnecessary** after this crop transform:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/croppad/dictionary.py#L111

[2021-08-19 03:47] ericspod commented on #2794
I'm a bit late to the party but my few observations. Multi-threading has a number of problems relating to the GIL as we know but often we can route around that by using compiled functions in Numpy, Scipy, Pytorch, etc. Mixing threads and processes will be inefficient regardless because we typically create as many processes as we have CPU cores (virtual and physical). If we have multiple threads in

[2021-08-19 04:09] Nic-Ma commented on #2794
Hi @ericspod ,

Thanks very much for your deep analysis!
Yes, we still need to keep optimizing the `ThreadDataLoader` with multi-threads and solve the thread-safe problem in our current random transforms design.
And I got the idea to use `ThreadDataLoader` from NVIDIA DALI project, it uses multi-threads to build pipeline instead of the PyTorch multi-processing DataLoader.

Thanks.

[2021-08-19 06:43] wyli commented on #2794
Thanks for the update, looks great, I think we can have a separate ticket to enhance the thread based loader.

[2021-08-19 08:28] Nic-Ma opened #2805 "CropForegroundd need to support different modes for keys"
**Is your feature request related to a problem? Please describe.**
Currently, the `mode` arg of `CropForegroundd` transform can't support different values for different keys:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/croppad/dictionary.py#L793
Need to support it, same as other dict transforms.

[2021-08-19 08:40] #2794 closed

[2021-08-19 13:16] masadcv commented on #2098
Can we reopen this and investigate what causes this error to still persist when running MONAI's CRF on GPU?
We are facing this error when using CRF block in scribbles transform within MONAILabel sample application. The relevant bug report for this can be accessed at: https://github.com/Project-MONAI/MONAILabel/issues/291

[2021-08-19 14:13] Nic-Ma commented on #2098
Hi @charliebudd ,

Could you please help share some comments about the next steps?

Thanks in advance.

[2021-08-19 15:56] diazandr3s opened #2809 "Create DeepEdit in MONAI Apps"
- Add custom transforms for DeepEdit (i.e. DiscardAddGuidanced, ResizeGuidanceCustomd, ClickRatioAddRandomGuidanced, etc )
- Create a custom Tensorboard handler for DeepEdit App
- Create unit tests for new transforms

[2021-08-19 17:28] lyndonboone opened #2811 "Mixing MONAI and TorchIO transforms in OneOf with batched data leads to RuntimeError"
**Describe the bug**
Mixing MONAI and TorchIO transforms in the same `OneOf` instance with batched data leads to `RuntimeError: each element in list of batch should be of equal size`, even though both transforms within `OneOf` seem to produce tensors of the same size. Using MONAI transforms only or TorchIO transforms only within a given `OneOf` instance works with batched data. Would like to be ab

[2021-08-19 21:56] finalelement commented on #2701
[Follow this in future for making this N-d](https://github.com/Project-MONAI/MONAI/blob/6e025069bfc15ee325661601873f08f751695cda/monai/losses/deform.py#L34-L38)

Also shifting the transform from spatial to intensity, due to it being a better fit as an intensity transform.

[2021-08-20 01:18] Nic-Ma commented on #2811
Hi @lyndonboone ,

I want to double confirm that if you remove the `OneOf` part, the program can run normally?
For integrating TorchIO, you can also refer to: https://github.com/Project-MONAI/tutorials/blob/master/modules/integrate_3rd_party_transforms.ipynb

Thanks.

[2021-08-20 01:23] #2805 closed

[2021-08-20 01:24] thewtex commented on #1629
Following-up: `itk-5.2.1` contains additional improvements.

[2021-08-20 02:34] finalelement commented on #2707
Hey @Nic-Ma I read and compared the code for In-cutout with the transform that you suggested me to look into RandCoarseDropout. There is only one difference that I see between the one available with MONAI and the one that I've been using. It is essentially allowing for the flexibility of filling the 'hole' with random values between 0 and 1 rather than a specified value.

Doing this would be more

[2021-08-20 03:03] Nic-Ma commented on #2707
Hi @finalelement ,

I think you can add a `mode` arg in the `RandCoarseDropout` transform, mode can be "constant" or "random", similar to the numpy pad modes.

Thanks.

[2021-08-20 03:03] Nic-Ma commented on #2707
CC @wyli @ericspod

[2021-08-20 03:47] yiheng-wang-nv opened #2812 "Enhance `MemoryEfficientSwish` with optional import of `SiLU`"
From Pytorch 1.7, `SiLU` is implemented, it is the optimized version of `Swish`.

[2021-08-20 14:42] lyndonboone commented on #2811
Hi @Nic-Ma ,

Yes, the program runs normally without the `OneOf` part (i.e. with the MONAI and TorchIO transforms in series). As I mentioned above, it also runs normally if `OneOf` includes strictly MONAI transforms or strictly TorchIO transforms. The problem seems to arise when two samples transformed by different libraries (i.e. one sample transformed by MONAI and the other transformed by TorchI

[2021-08-20 15:03] Nic-Ma commented on #2811
Hi @lyndonboone ,

I think your 2 transforms in the `OneOf` are intensity transforms which don't change the spatial shape. And the `RandCropByPosNegLabeld` transform will generate data with shape [96, 96, 96], seems it always applied.
I will try to reproduce your code later.

Thanks.

[2021-08-20 15:17] lyndonboone commented on #2811
Hi @Nic-Ma ,

Thanks for your help. That would be great!

I was surprised by the error message mentioning size since as you mentioned, both are intensity transforms that shouldn't alter the shape of the tensor and the patching operation at the end renders the samples to `[4, 1, 96, 96, 96]` in the end anyway. I'm having trouble understanding what this could have to do with tensor shape. Perhaps th

[2021-08-20 15:41] rijobro commented on #2811
@lyndonboone if you did something like:
[code]
What do you get?

[2021-08-20 16:26] Nic-Ma commented on #2811
Hi @rijobro ,

I just run your test program, the output is:
[code]

Thanks.

[2021-08-20 16:44] Nic-Ma commented on #2811
Hi @lyndonboone ,

I can reproduce your issue locally, but unfortunately, I didn't get the root cause immediately..
Could you please help use the `GaussianSmoothd` or other transforms of MONAI instead?
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/dictionary.py
CC @rijobro @wyli @fepegar Do you guys know some reason of this TorchIO issue?

Thanks in advance.

[2021-08-20 16:50] fepegar commented on #2811
I'll try to reproduce and investigate. Could this be related to the fact that TorchIO doesn't support (yet?) batched inputs?

[2021-08-20 17:06] rijobro commented on #2811
I've done some messing around and think the problem is due to differences in the `image_transforms`. If `RandAdjustConstrastd` is used, an extra element will be in the list compared to the torchio transform. Adding `tf.DeleteItemsd(keys=["image_transforms", "label_transforms"]),` at the end of the transforms worked for me.

But certainly something that we need to think about for avoiding this in t

[2021-08-20 17:26] fepegar commented on #2811
In case it helps, I'm getting a different error when trying to reproduce:

[code]

Those printed lists come from a modification in `torch/utils/data/_utils/collate.py`, where I print `[len(elem) for elem in it]` in line 81.

[2021-08-20 19:06] lyndonboone commented on #2811
Thanks @rijobro , that seems to do the trick! Much appreciated.

[2021-08-20 19:06] #2811 closed

[2021-08-23 08:25] dyollb opened #2818 "Add a CycleGAN with mutual information as a consistency loss"
**Is your feature request related to a problem? Please describe.**
Provide an style transfer model to learn to generate synthetic CT from MRI, or T2 from T1, or e.g. T1 from on scanner to T1 from a different scanner/site without loosing anatomical/geometric information.

**Describe the solution you'd like**
Add a CycleGAN with mutual information as a consistency loss, e.g. implementing https://arx

[2021-08-23 09:03] Nic-Ma opened #2819 "Tensor computation for Brats transforms"
**Is your feature request related to a problem? Please describe.**
Hi @rijobro ,

Thanks for your great work on the Tensor-based transforms.
We are working on optimizing the Brats tutorial performance:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb
And there are several random transforms in it, it may be helpful to move data to GPU Tensor, so is

[2021-08-23 10:44] rijobro commented on #2819
Hi @Nic-Ma, I've just [posted](https://github.com/Project-MONAI/MONAI/pull/2278#issuecomment-903651666) the current backend of the transforms that I'm proposing to update to MONAI. As you can see, `RandFlip` will use torch.Tensor under the hood, and the other 3 transforms are ambivalent to torch/numpy input.

I will prioritise getting these into MONAI as quickly as possible, once the [current PR](

[2021-08-23 10:49] Nic-Ma commented on #2819
Cool, sounds great! Thanks very much for your quick help!

[2021-08-23 14:07] Nic-Ma commented on #2707
According to the online discussion, I will try to enhance the existing `RandCoarseDropout` transform to support random filling ASAP.

Thanks.

[2021-08-23 14:13] drbeh commented on #2728
#2814

[2021-08-23 15:26] wyli opened #2821 "unit test error -- test_gaussian_filter"
**Describe the bug**
[code]

**To Reproduce**
this error happens once in ~50 runs

saw this error with the following env and  the latest codebase c39f6fa6414d608b580cbdbdeed48a77c302be3a
[code]

**Expected behavior**
no error

[2021-08-23 18:59] wyli opened #2823 "type annotation `NdarrayOrTensor`"
**Is your feature request related to a problem? Please describe.**
`NdarrayOrTensor` should be replaced by a type variable such as `NdarrayTensor`
this will ensure advanced type checks for correctness however it might not be supported by all the tools such as pytype, mypy

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/93d467d00920aa3a27d46f3697a92a13c4866e74/monai/config/type_

[2021-08-23 21:49] #2628 closed

[2021-08-23 22:09] wyli opened #2824 "Migrate/remove the remaining self-hosted github pipelines"
**Is your feature request related to a problem? Please describe.**
this is a follow-up of #2628 which addressed the primary pipelines for the `dev` branch.

the remaining tasks are to
- [ ] remove the dependency of the self-hosted pipelines for releasing/docker building.
- [ ] migrate the self-hosted pipelines for the `main` and `releasing` pipelines to nvidia CI/CD

[2021-08-24 01:55] ahatamiz opened #2825 "Model Weights Saved in 0.5.3 may be incompatible with 0.6.0"
**Describe the bug**
It seems that models trained and saved in monai 0.5.3 cannot be restored and used in 0.6.0. There is mis-match between the keys in different layers.

**To Reproduce**
Clone the UNETR repository from (https://github.com/Project-MONAI/research-contributions/tree/master/UNETR/BTCV).
Train a model in 0.5.3 and save the weights.
Load the model in 0.6.0 using:
ckpt = torch.load(args

[2021-08-24 03:26] yiheng-wang-nv commented on #2825
Hi @ahatamiz , in https://github.com/Project-MONAI/MONAI/pull/2166, `UnetBasicBlock` is changed to use `monai.networks.layers.utils.get_norm_layer`, which is more generic to adjust the normalization layers.

The old version (0.5.3) used `affine=True` for `InstanceNorm3d` layer, it is according to the original implementation of `nnUNet`.
In this setting, the layers will have `weight` and `bias`.

B

[2021-08-24 04:53] ahatamiz commented on #2825
Hi @yiheng-wang-nv , yes, the solution you mentioned works. But it's a work-around that few people maybe aware of doing. If you train your dynUnet model in 0.5.3 and want to restore the weights in 0.6.0, it does not work with the previous network definition.

I think as a first step, this information needs to be reported somewhere ( maybe a page for how to migrate to 0.6.0). Eventually, this needs

[2021-08-24 05:19] yiheng-wang-nv commented on #2825
Hi @ahatamiz , ` train your DynUnet model in 0.5.3 and want to restore the weights in 0.6.0, it does not work` this is not correct, since the layers are not changed in class `DynUNet`.

For `UnetResBlock ` and `UnetBasicBlock `, the purpose of #2166 is to make the `norm_name` more generic, thus users can config more for norm layers. I've updated the docstring in #2826 , but I'm not sure how to ens

[2021-08-24 06:54] ahatamiz commented on #2825
Hi @yiheng-wang-nv , you set `norm_name=("instance", {"affine": True})` as default in DynUnet and that's the reason it seems to work, but problem persists with `UnetResBlock` and `UnetBasicBlock`.

I see the argument for making norm_name generic, but that comes at the cost of breaking changes where previous models cannot be restored. If you use `UnetResBlock`, `UnetBasicBlock` or any conv layer wi

[2021-08-24 07:10] wyli commented on #2825
I think this ticket makes a good point, @yiheng-wang-nv perhaps we can update [the migration guide](https://github.com/Project-MONAI/MONAI/wiki/v0.5-to-v0.6-migration-guide) to make it clear?
as another workaround, is it possible to use `copy_model_state` to load v0.5.3 checkpoints? https://github.com/Project-MONAI/MONAI/blob/e95500ad1802e91da12f31350ba8e3b85dc36d11/monai/networks/utils.py#L339

I

[2021-08-24 13:57] Nic-Ma commented on #2730
Addressed by: https://github.com/Project-MONAI/tutorials/pull/315.

Thanks.

[2021-08-24 13:57] #2730 closed

[2021-08-24 13:57] Nic-Ma commented on #2731
Addressed by: https://github.com/Project-MONAI/tutorials/pull/315.

Thanks.

[2021-08-24 13:57] #2731 closed

[2021-08-24 13:59] Nic-Ma opened #2828 "Performance Enhancement of Brain Tumor Pipeline (ETA 9/3)"
**Is your feature request related to a problem? Please describe.**
Analyze the existing training pipeline of Brain Tumor segmentation task which is based on Decathlon Task01 dataset, then try to improve the training speed and overall performance.

[2021-08-24 15:05] yy97831 opened #2830 "dataloader"
Hi

I think the dataloader will lead to memory leak when use both num_workers and pin_memory, the warning is as below:

    Warning: Leaking Caffe2 thread-pool after fork. (function pthreadpool)

it happened when I was training a GAN

[2021-08-24 15:06] Nic-Ma commented on #2830
Hi @yy97831 ,

Thanks for your interest here.
I think this is a known PyTorch issue, PyTorch will fix it in the next version.

Thanks.

[2021-08-24 15:23] #2830 closed

[2021-08-24 15:23] yy97831 commented on #2830
ok thanks for the info : )

[2021-08-24 15:30] yy97831 commented on #2830
@Nic-Ma  sorry just one more questions, do you by any chance know when is the next version coming up? Thanks

[2021-08-24 16:06] ahatamiz commented on #2825
Hi @wyli , thank you. I think updating the migration guide is really beneficial.

[2021-08-24 16:17] wyli opened #2833 "ci/cd premerge logs associated with wrong commit hash"
**Describe the bug**
to reproduce this issue:
- create a PR from a fork
- `/build` trigger the blossom-ci pipeline
- check the details of the pipeline
- the highlighted commit hash should correspond to the head of this fork's branch but it's currently not the case
![Screenshot 2021-08-24 at 17 13 14](https://user-images.githubusercontent.com/831580/130652431-d99cfd0d-369f-4c6c-960c-9bb3403bec9f.pn

[2021-08-24 22:14] wyli commented on #2818
thanks for the request, as a reference, are you aware of any open-source implementation in any programming language?

[2021-08-24 23:05] Nic-Ma commented on #2830
Hi @yy97831 ,

Sorry I am not very sure about PyTorch schedule, maybe you can check PyTorch Github repo for it.

Thanks.

[2021-08-25 02:07] Nic-Ma commented on #2823
Currently, I think we used `# type: ignore` as a temp solution for many places, will also need to update them.

Thanks.

[2021-08-25 02:37] JianJuly opened #2836 "pretrained 3d resnet"
**Describe the bug**
i intend to use pretrained resnet50 for feature extraction.
so first i tried the following codes
[code]
It raises `NotImplementedError: Currently not implemented, see comments in source code`

then i manually download the pretrained weights from [https://github.com/Tencent/MedicalNet](https://github.com/Tencent/MedicalNet), and load it.
Yet it raises `size mismatch for conv1.w

[2021-08-25 02:49] Nic-Ma commented on #2836
Hi @JianJuly ,

Thanks for your interest and experiments here.
I think to use the pretrained weights, maybe you need to set your input channel of `resnet50` to 1 channel:
[code]
Add @yiheng-wang-nv for further discussion.

Thanks.

[2021-08-25 02:55] JianJuly commented on #2836
@Nic-Ma Thank you for your quick reply. Another question is when will `model = nets.resnet50(pretrained=True)` accessible?  or is there any easier way to use pretrained resnet (on 23 medical datasets) ?

[2021-08-25 02:59] Nic-Ma commented on #2836
Hi @JianJuly ,

I think it's still under discussion, we plan to provide some model zoo features in the short future.
@yiheng-wang-nv is there any easier way to use pretrained resnet (on 23 medical datasets)?

Thanks.

[2021-08-25 07:14] Nic-Ma commented on #2819
- [ ] RandFlipd(keys=["image", "label"], prob=0.5, spatial_axis=0)
- [ ] NormalizeIntensityd(keys="image", nonzero=True, channel_wise=True)
- [ ] RandScaleIntensityd(keys="image", factors=0.1, prob=1.0)
- [ ] RandShiftIntensityd(keys="image", offsets=0.1, prob=1.0)

[2021-08-25 07:34] dyollb commented on #2818
For the original un-paired `cyclegan` (and paired `pix2pix`): https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix

`pix2pix` works nicely if the images are provided as registered pairs. But quality deteriorates if registration is not good.

I did not find any implementation of a cyclegan using the mutual information loss, or other losses (e.g. [gradient consistency loss](https://arxiv.org/abs/

[2021-08-25 11:28] rijobro commented on #2823
I propose unifying the two to `NdarrayTensor = Union[np.ndarray, torch.Tensor]` and deleting `NdarrayOrTensor`. I tried this locally and there are a few changes that need to be made, but works for the most part.

[2021-08-25 12:52] Borda opened #2841 "Unify general classes argument - `n_classes` vs `num_classes`"
**Is your feature request related to a problem? Please describe.**
it complicated easily mode switching in kind of hyperparameter searches

**Describe the solution you'd like**
unify `n_classes` and `num_classes` across model arguments

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2021-08-25 16:24] kate-sann5100 commented on #2755
After searching, I have found the following mutual information implementations by established repositories:

1. Scikit-image([`skimage.metrics.normalized_mutual_information`](https://scikit-image.org/docs/dev/api/skimage.metrics.html#skimage.metrics.normalized_mutual_information))
2. NiftiReg implemented normalised mutual information
3. ANTsPY([`ants.image_mutual_information`](https://antspy.readt

[2021-08-25 16:30] kate-sann5100 commented on #2755
The main difference is that while Mattes mutual information adopts B-Spline kernel to calculate the weight each voxel adds to respective bins, our implementation(similar to DeepReg and VoxelMorph) adopts Gaussian probability.

[2021-08-25 16:36] kate-sann5100 commented on #2755
The following steps are planned:

1. Implement B-Spline kernel as an option, together with gaussian prob (our original implementation).
2. Benchmark our implementation with B-Spline kernel with `ants.image_mutual_information`. This could be achieved either by getting the same result when using the same input or show changes in same directions as the input changes.
3.  Benchmark our implementation

[2021-08-25 16:42] kate-sann5100 commented on #2755
Current and future progress will be uploaded to this pull request https://github.com/Project-MONAI/MONAI/pull/2847

[2021-08-25 16:43] kate-sann5100 commented on #2755
@wyli @YipengHu

[2021-08-26 10:34] rijobro opened #2849 "cupy missing from pip requirements"
I can't see any mention of cupy in our requirements-dev.txt (or any of our other requirement.txt files). Should this not be added?

[2021-08-27 08:46] yiheng-wang-nv opened #2856 "`RandCoarseDropout` missing return when not doing transform"
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/array.py#L1702

[2021-08-27 10:34] #2856 closed, assigned to Nic-Ma

[2021-08-27 15:35] pritesh-mehta opened #2860 "DeepGrow transforms FindAllValidSlicesd label shape"
The transform assumes label is a 4D volume with shape CDHW. I'm wondering if this is right? I'm working with the MSD spleen dataset currently. spleen_2.nii.gz is axial with shape 512x512x90 and resolution 0.79x0.79x5. The image shape once loaded in using the LoadImaged transform is (512, 512, 90), and following the AddChannel1d transform, the shape is (1, 512, 512, 90). I believe that we would des

[2021-08-29 23:59] #2682 closed

[2021-08-30 05:28] madil90 commented on #2833
This has been resolved. Please see the internal GitLab

[2021-08-30 14:23] #2728 closed

[2021-08-30 14:49] yiheng-wang-nv opened #2864 "Enhance docstring for `ToDeviced`"
It seems `ToDeviced` cannot work when `num_workers > 1`:
[code]
Shall we add the docstring for this transform, thus users can avoid meeting error?

[2021-08-30 14:50] Nic-Ma commented on #2864
Thanks for raising it.
I will try to enhance the doc-string ASAP.

Thanks.

[2021-08-30 14:50] finalelement commented on #2701
@wyli Thank you for all the support with this Issue. This current one supports 3D.

We will re-iterate on a new on a new PR with updated dev-branch for dictionary version and N-dimensional version of this transform.

[2021-08-30 14:50] #2701 closed

[2021-08-30 15:46] wyli commented on #2860
@SachidanandAlle could you please help here?

[2021-08-30 15:50] #2722 closed

[2021-08-30 16:03] SachidanandAlle commented on #2860
@YuanTingHsieh :)

[2021-08-30 16:36] wyli commented on #2849
moving this ticket out of v0.7, as we don't find a robust way of conditionally install this dependency for now

[2021-08-31 00:24] mpsampat commented on #982
@neuronflow ! I have the same issue. I was wondering if you have an example of loading "N" nifti files per subject ?
I am working on the BRATS dataset and want to run a simple classification task

[2021-08-31 00:33] Nic-Ma commented on #982
Hi @mpsampat ,

For Brats, you can refer to the MONAI tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb

Thanks.

[2021-08-31 09:11] #2639 closed

[2021-08-31 11:26] JiYuanFeng opened #2872 "Support Mixup and Cutmix transformation"
HI, the more strong transformation  "RandCoarseDropout" has been released in the latest version.
It's possible to support Mixup or Cutmix in MonAI?
![image](https://user-images.githubusercontent.com/20653249/131494397-3526720e-d717-46f6-b064-7f8d06282933.png)

[2021-08-31 11:39] Nic-Ma commented on #2872
Hi @JiYuanFeng ,

Thanks for your feedback.
Seems like a new transform feature request, I marked for feature discussion.
@ericspod @wyli Do you guys think it's a common approach in medical imaging augmentation?

Thanks in advance.

Thanks.

[2021-08-31 13:30] yiheng-wang-nv opened #2873 "`set_determinism` can be enhanced"
No matter `seed` is none or not, `torch.manual_seed` can always be used (https://github.com/Project-MONAI/MONAI/blob/dev/monai/utils/misc.py#L239)

Reference: https://pytorch.org/docs/1.6.0/_modules/torch/random.html#manual_seed

[2021-08-31 13:41] wyli commented on #2833
it seems it's not resolved, for example [this run](https://github.com/Project-MONAI/MONAI/actions/runs/1185359541) still has the dev's head as commit hash https://github.com/Project-MONAI/MONAI/commit/6dc9b3ec3ba3c41cd41bb5981abb6a7bb090745c, instead of the PR's head af02e97b54dfff34502912189acf0eda2e07a84f.

[2021-08-31 19:58] #2864 closed

[2021-08-31 23:33] #2873 closed

[2021-09-01 08:50] wyli commented on #2648
addressed by https://github.com/Project-MONAI/tutorials/pull/301 workflow integration could be done based on further discussions

[2021-09-01 08:50] #2648 closed

[2021-09-01 09:01] wyli commented on #2872
for the mixup, I can find this paper as a reference https://openreview.net/pdf?id=rkBBChjiG. not sure if we have an example/renference for cutmix.

[2021-09-01 09:04] wyli commented on #2019
this could now be done with the invertible numpy/torch transforms

[2021-09-01 09:04] #2019 closed

[2021-09-01 09:10] wyli commented on #2140
couldn't replicate it with the latest version of mypy numpy

[2021-09-01 09:10] #2140 closed

[2021-09-01 15:07] wyli opened #2877 "TCIA Image and Adjunct Patient Data Dataset"
**Is your feature request related to a problem? Please describe.**
This is part of https://github.com/Project-MONAI/MONAI/discussions/2212, as a follow-up of https://github.com/Project-MONAI/MONAI/issues/2310

this ticket looks for a prototype of an "application-level" command such as
[code]
to
- fetch metadata ([this file is an curated example](https://drive.google.com/file/d/1HQ7BZvBr1edmi8HIwdG

[2021-09-01 16:39] tchaton opened #2878 "Monai Integration within Lightning Flash"
Hey everyone,

First of all, I want to share I am really impressed by the work put into this library. Looks pretty awesome !

I am a member of the PyTorch Lightning Team and working on Lightning Flash repo: https://github.com/PyTorchLightning/lightning-flash

Lightning Flash is a collection of production ready tasks for prototyping, baselining, finetuning and solving problems with deep learning.

[2021-09-01 21:30] sandylaker commented on #2872
@wyli For CutMix, you can refer to [this paper](https://arxiv.org/abs/1905.04899). These two augmentations mix one image with another randomly selected one, which can be selected from the same batch or the whole dataset. Thus, the API of these two augmentations are slightly different as the other ones.

[2021-09-02 04:05] Nic-Ma commented on #2878
Marked for discussion.

Thanks.

[2021-09-02 04:15] Nic-Ma commented on #2878
Hi @tchaton ,

Thanks for the sharing, glad to see the progress of Lightning.
We already built some Lightning + MONAI tutorials:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d_lightning.ipynb
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/unetr_btcv_segmentation_3d_lightning.ipynb
Maybe that's what you expected?

Thanks.

[2021-09-02 08:17] #2878 closed

[2021-09-02 08:57] wyli commented on #2872
Thanks, I think these are good augmentations to have. @Nic-Ma these could be in v0.8?

[2021-09-02 09:00] Nic-Ma commented on #2872
Sounds good to me.
I can try to implement in v0.8.

Thanks.

[2021-09-02 17:26] pritesh-mehta opened #2882 "Choice of slice for initial seed point placement in deepgrow"
In Sakinis et al., Interactive segmentation of medical images through fully convolutional neural networks, they describe a method for choosing the initial seed point for the 2D case, whereby the seed point will be placed in the inner most part of the region to be segmented with a higher probability.

To extend to 3D, the MONAI implementation of deepgrow finds all slices containing label using the

[2021-09-03 00:07] drbeh opened #2883 "MONAI Transforms inherit `torch.nn.Module`"
**Is your feature request related to a problem? Please describe.**
MONAI array transforms are all derived from `Transform` base class by implementing `__call__` method, and similar to torchvision transform can be chained using `Compose`. However, in torchvision transforms without losing any backward compatibility are inherited from`nn.Module` (since v0.8.0). This has some obvious benefits:
1. They

[2021-09-03 00:16] drbeh opened #2884 "Pathology Transforms inherit `torch.nn.Module`"
**Is your feature request related to a problem? Please describe.**
While we are working on improving Digital Pathology pipelines, there is a need to chain our transforms with torchvision transforms and run them on them GPU. For some reason, implementing it using `ToDevice` and `TorchVision` transform did not show an improvement whereas using the same torchvision transforms and chaining them with t

[2021-09-03 00:20] drbeh commented on #2884
Hi @wyli @Nic-Ma,
What do you think about it? This can give us an improved runtime for digital pathology pipeline and it shouldn't have any effect on anything else.
Thanks

[2021-09-03 07:39] bxdgit opened #2885 "About ValueError: Unsupported output type: <class 'itk.itkPyBufferPython.NDArrayITKBase'> that occurs when transforms compose"
## Problem Description

Hi,I am a novice to MONAI, and An error occurred when I set up pre-processing transforms,
my image format is dicom.
My development platform is windows10, but my test on ubuntu20.04 is no problem.
I don't know how to solve it, hope to get your help, thank you

The following is information about the code and error

   Numpy version: 1.21.1
Pytorch version: 1.7.1+cu101
MONAI f

[2021-09-03 09:02] Nic-Ma commented on #2884
Hi @drbeh ,

Thanks for raising this topic, `torch.Tensor` support is a main topic in MONAI v0.7, but we don't support `nn.Module` so far.
I didn't quite understand why "_implementing it using ToDevice and TorchVision transform did not show an improvement whereas using the same torchvision transforms and chaining them with the model (using nn.Sequential showed a speed up._"
Could you please help s

[2021-09-03 09:03] Nic-Ma commented on #2882
Hi @SachidanandAlle ,

Could you please help share some comments and guide here?

Thanks in advance.

[2021-09-03 09:17] wyli commented on #2883
torchvision only supports torchscript for some of the transforms, and the current version of torchscript has its limitations, so I think "deriving all transforms" from torch.nn.Module needs more motivations at the moment. We can add new extension class of `nn.Modules` to `monai.networks`, and the user can optionally use them in the preprocessing directly.

[2021-09-03 09:19] wyli commented on #2884
I think you can implement extensions of `nn.Module` and try to use them directly in the preprocessing. The basic API of monai dataset and loader should be compatible with `nn.Module` (since they are callable), but I'm not sure about the cache-based preprocessings.

[2021-09-03 10:24] SachidanandAlle commented on #2882
The initial ideas was to replicate user behavior.  When the user gets the image to annotate/click he would randomly pick any slice and start clicking.. better to avoid forcing him to go with the middle slice and place a seed point..

[2021-09-03 10:28] pritesh-mehta commented on #2882
Good point. Ok I agree with the current functionality. I'll close this :)

[2021-09-03 10:28] #2882 closed

[2021-09-03 11:38] Sebagam opened #2886 "ImportError: cannot import name 'NiftiDataset' from 'monai.data' (/usr/local/lib/python3.7/dist-packages/monai/data/__init__.py)"
Hi all,

When trying to run MONAI on google colab:

ImportError: cannot import name 'NiftiDataset' from 'monai.data' (/usr/local/lib/python3.7/dist-packages/monai/data/__init__.py)

This issue was not present a few months ago.

Best,
Sebastian

[2021-09-03 14:36] Nic-Ma commented on #2886
Hi @Sebagam ,

Thanks for your interest here.
We already changed it to `ImageDataset` in v0.5.

Thanks.

[2021-09-03 15:54] drbeh commented on #2884
@Nic-Ma @Warvito, as we discussed in our meeting, the main benefit that it can provide us with is to chain the transforms with the model (using `nn.Sequential`) and run it on the GPU.

It seems that the main reason that we are getting more speedup in this manner is that the transforms are being applied on the batch of images instead of individual one but I will look more into this and see why usin

[2021-09-03 16:01] Nic-Ma commented on #2884
Hi @drbeh ,

And I think we need to check the speedup when achieving the same target metrics.

Thanks.

[2021-09-03 20:11] drbeh opened #2889 "NVTX annotation of multiple use of a transform"
**Is your feature request related to a problem? Please describe.**
NVTX Range decorator currently is able to to patch each transform once. Multiple use of the same transforms with `Range` will result in duplicate annotations.

[2021-09-03 20:21] Sebagam commented on #2886
Ok, thanks.
It looks that I have other compatibility issues.
How can I install v0.4?

[2021-09-03 23:32] Nic-Ma commented on #2886
Maybe you can try pip install monai==0.4.0?

Thanks.

[2021-09-03 23:33] Nic-Ma commented on #2886
But I strongly suggest you to update with MONAI v0.6 as we integrated many enhancements.

Thanks.

[2021-09-04 00:53] 7oud opened #2891 "Inference results is inconsistent when using monai-trained model with ITK lib in C++"
**Is your feature request related to a problem? Please describe.**
I pre-process a image with ITK in C++, then use MONAI-trained model to predict, but the result is inconsistent with python. I find the data layout is different, dimension order in ITK and pytorch/tensorrt is  `DHW`, but MONAI is `WHD`, so before and after inference, two additional transpose is needed. That's inconvenient and low pe

[2021-09-04 09:35] cemde opened #2892 "Preview transformation methods in documentation"
It is quite easy to get overwhelmed by all the transforms offered within MONAI. I recently discovered [this torchvision overview of transforms](https://pytorch.org/vision/stable/auto_examples/plot_transforms.html#illustration-of-transforms).

It provides a panel with examples from each transform. I think something comparable would be very useful for MONAI.

[2021-09-04 09:46] wyli commented on #2892
thanks for the pointer, we can continue the discussion and track the progress in #2721

[2021-09-04 09:46] #2892 closed

[2021-09-04 10:04] wyli commented on #2885
`NDArrayITKBase` is a subclass of `np.ndarray` https://github.com/InsightSoftwareConsortium/ITK/blob/cd36c640a0a918d914c7fe102748c1ca00fa074a/Modules/Bridge/NumPy/wrapping/PyBuffer.i.init#L4
type comparisons such as https://github.com/Project-MONAI/MONAI/blob/245ab94ccceb198e46416961546b445f9fd54d16/monai/utils/type_conversion.py#L188 should be extended to also support the subclasses, what do you

[2021-09-04 13:59] bxdgit commented on #2885
Ok i know what to do, thank you!

[2021-09-04 14:20] Namng1210 opened #2893 "ImportError: cannot import name 'HistogramNormalized' from 'monai.transforms'"
I'm getting this error when I tried to import HistogramNormalized. The same thing happened with HistogramNormalize while everything else seems to be available in transforms ?

**Screenshots**
![image](https://user-images.githubusercontent.com/69883752/132097491-e798a3ae-42db-4357-a4dd-61095d90991b.png)

**Environment**
OS : Ubuntu 18.04.5 LTS
Python version: 3.8.0 64bit
MONAI version monai - 0.6.0

[2021-09-04 14:41] Sebagam commented on #2886
Hi Nic,

I think that there is an issue with the transformations, here is the code
if you want to check:
https://colab.research.google.com/drive/1XcHHnNvxVCbTDV7bgnWHrSjGD7XKzY_f#scrollTo=ec0QWW-Q69N6

Best,
Sebastian

On Fri, Sep 3, 2021 at 8:33 PM Nic Ma ***@***.***> wrote:

[2021-09-04 21:26] Sandv opened #2896 "Using the transform RandCoarseDropoutd causes an error."
Hi

Using the transform RandCoarseDropoutd causes an error. When I add RandCoarseDropoutd to a series of transforms as shown below this error occurs. Any ideas? It looks like a bug to me because the other transforms work fine...

Thank you for your help!
Veit

TypeError                                 Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/monai/transforms/transfo

[2021-09-05 14:48] Nic-Ma commented on #2893
Hi @Namng1210 ,

This transform was added after MONAI v0.6 release, please download latest dev branch to use it.

Thanks.

[2021-09-05 14:52] Nic-Ma commented on #2886
Hi @Sebagam ,

If you check the error log, you can find that the data shape is wrong:
Shape: (1, 166, 256, 256, 1)
Actually your data already has channel dim at the last dim, you should not use `AddChannel` transform, you can use `EnsureChannelFirst` or `AsChannelFirst` transform.

Thanks.

[2021-09-05 14:58] Nic-Ma commented on #2896
Hi @Sandv ,

Thanks for your interest here.
The root cause the that `RandCoarseDropoutd` doesn't support PyTorch Tensor data so far, could you please add `as_tensor_output=False` to `RandAffined` transform and try again?

@rijobro May I know whether you already implemented the Tensor version locally? If not, you or I can implement it.

Thanks in advance.

[2021-09-06 02:30] Nic-Ma opened #2898 "merge `LocalPatchShuffling` into `RandCoarseDropout`"
**Is your feature request related to a problem? Please describe.**
If comparing to `RandCoarseDropout`, I think the only difference is that `LocalPatchShuffling` shuffles the content in a hole instead of filling with random values, so maybe we can refactor `RandCoarseDropout` to support all cases, or build a base class and subclasses implement different filling method.

[2021-09-06 02:31] Nic-Ma commented on #2898
Hi @finalelement ,

Do you have other concerns about this feature request?
If not, I will try to implement it ASAP.

Thanks in advance.

[2021-09-06 02:34] Nic-Ma commented on #2896
Hi @rijobro @wyli ,

I think there is a concern that if using the random operation of torch.Tensor, we can't use local random state:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/array.py#L1709

Thanks.

[2021-09-06 06:43] Nic-Ma commented on #2877
This PR implemented the first step according to the plan:
https://github.com/Project-MONAI/tutorials/pull/342

Thanks.

[2021-09-06 06:48] Nic-Ma opened #2899 "ITKReader doesn't return numpy array"
**Describe the bug**
Currently, we use the `itk.array_view_from_image()` to get data array:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_reader.py#L316
But actually, it's not numpy array, so following logic which depends on numpy.ndarray type will fail.
[code]
Get the output:
[code]

[2021-09-06 07:31] wyli commented on #2899
NDArrayITKBase is a subclass of ndarray, shouldn't we enhance the relevant failing logic instead of converting them to ndarray, is this a duplicate ticket of #2885?

[2021-09-06 08:02] wyli opened #2901 "consistent parameter `dimensions ` `spatial_dims `"
**Is your feature request related to a problem? Please describe.**
follow up of https://github.com/Project-MONAI/MONAI/pull/2842#issuecomment-905534933
the parameters should be made consistent across different modules. Since this will be a breaking change, it should also use the `deprecated` APIs to provide brief instructions for upgrading.

[2021-09-06 08:59] JianJuly opened #2902 "inconsistency of LoadImage"
I have a nrrd file, of shape `256*256*42`

when i run
[code]
I got `array([1.3671875 , 1.3671875 , 5.20000458])` and `array([ 42, 256, 256])`

yet if i run
[code]
i got `(1.3671875, 1.3671875, 5.200004577636718)` and `(256, 256, 42)`

obviously, the values are inconsistency  between `metadata['spacing']` and `metadata['spatial_shape']`

[2021-09-06 10:03] Nic-Ma commented on #2899
Hi @wyli ,

Thanks for your suggestion, makes sense.
I updated the PR to update the relevant failing logic instead: https://github.com/Project-MONAI/MONAI/pull/2900.
Could you please help review it?

Thanks.

[2021-09-06 10:31] Nic-Ma commented on #2899
Hi @wyli ,

After some testing, I feel it's better to also update ITK reader to use `np.asarray()`, because some operations of `NDArrayITKBase` is different from `ndarray`, very easy to cause unknown errors. For example:
[code]
The output is:
[code]
The check for `isinstance(mean, np.ndarray)` will fail here.

What do you think?

Thanks.

[2021-09-06 10:39] Nic-Ma commented on #2902
Hi @JianJuly ,

Thanks for your interesting experiments.
To be consistent with Nibabel and other packages, we use `HWD` order in MONAI and updated the `affine` and `spatial_shape` metadata only, so the `spacing` meta is not correct, let me try to also update it soon.
@wyli @ericspod Do you guys think we should also update any other "dim related" meta info?

Thanks in advance.

[2021-09-06 10:41] Nic-Ma commented on #2902
Hi @JianJuly ,

And BTW, may I know your MONAI version?
We changed the ITKReader logic in v0.6, I need to double confirm whether it's really wrong.

Thanks.

[2021-09-06 12:01] JianJuly commented on #2902
@Nic-Ma Thank you. My monai version is 0.6.0.

[2021-09-06 12:34] JianJuly commented on #2902
@Nic-Ma Another question is, how can i use spacing in this case? I want to set its spacing from `(1.3671875, 1.3671875, 5.200004577636718)`to `(1, 1, 5)`

[2021-09-06 12:38] wyli commented on #2902
I think this is fixed in #2613, and the fix will be released in v0.7.

[2021-09-06 12:57] wyli commented on #2899
I think the problem is still that monai's current type conversion is not robust https://github.com/Project-MONAI/MONAI/blob/dev/monai/utils/type_conversion.py#L155, we should try to enhance it, instead of removing all the potential additional features brought by `NDArrayITKBase`.

[2021-09-06 13:37] Nic-Ma commented on #2899
Hi @wyli ,

Not only the `type conversion`, the above `np.mean()` example comes from the `NormalizeIntensity` transform:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/intensity/array.py#L593
It will cause error in the next line:
[code]

Thanks.

[2021-09-06 13:52] wyli commented on #2899
@thewtex might be interested in this usability tests of `NDArrayITKBase `

[2021-09-06 15:59] #2885 closed

[2021-09-06 16:02] wyli commented on #2899
Closing this via #2900 for now, please feel free to reopen and discuss further.

[2021-09-06 18:20] #2841 closed

[2021-09-06 18:39] Sandv commented on #2896
Thank you for your swift reply. I think MONAI is pretty amazing. Finally
some framework that does what is needed and takes most of the details off
the table!

I added the as_tensor_output=False to the prior transform and the error
goes away.
But the issue is now that the dropout area is always the same region... any
advice on that?

Thank you very much!
Veit

On Sun, Sep 5, 2021 at 7:58 AM Nic Ma

[2021-09-06 20:19] Sebagam commented on #2886
Thank you, Nic,

Do you know what the following issue mean?

RuntimeError: DataLoader worker (pid(s) 1038) exited unexpectedly

On Sun, Sep 5, 2021 at 11:52 AM Nic Ma ***@***.***> wrote:

[2021-09-06 22:52] #2889 closed

[2021-09-06 23:39] Nic-Ma commented on #2896
Hi think maybe you set `determinisim` for your program? So it's always the same?

Thanks.

[2021-09-06 23:52] Nic-Ma commented on #2886
Hi @Sebagam ,

I think maybe it's some PyTorch multi-processing issue? Can you try again with `num_workers=0`?

Thanks.

[2021-09-07 13:58] finalelement commented on #2898
@Nic-Ma That is a great idea indeed. Do you think, the transform would become too complex though?

[2021-09-07 15:34] Nic-Ma commented on #2898
Hi @finalelement ,

Thanks for your support.
I will try to make a base class and several sub-classes for different filling methods.

Thanks.

[2021-09-08 10:59] vfdev-5 commented on #2883
One of the goals for torchvision.transforms is to support `torch.Tensor` as input in addition to PIL image, such that transforms could be executed on other accelerators, scripted (and thus be a part of the models forward)

[2021-09-08 11:38] #2901 closed

[2021-09-08 16:16] #2898 closed

[2021-09-08 16:59] Sandv commented on #2896
I checked the code, no setting of determinism. Even if it was on, I would
expect it to do the same random appearing thing each run, but not the exact
same area in each sample...

Here is a minimal code example that shows the unexpected behavior. Thank
you for your help!

# minimal Code
# %%
from monai.utils import first
import os, glob,re
import shutil
import tempfile
import nibabel as nib
import

[2021-09-08 17:00] drbeh opened #2912 "GPU transforms not working with multiple workers"
**Describe the bug**
Running MONAI transforms on GPU (using `ToDevice` transform) only works when the number of workers in `DataLoader` is 0.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Environment**
[code]

[2021-09-08 17:01] drbeh commented on #2912
Hi @wyli @Nic-Ma @rijobro
I'd appreciate you help to resolve this issue. Thanks

[2021-09-08 17:05] drbeh commented on #2912
In the provided code, if you set `NUM_WORKERS = 0`, all works fine.
Also if you remove `torch.cuda.is_available()`, it works too but there is nothing wrong with `torch.cuda.is_available()`. It just initializes CUDA and that's why it can reproduce the error.

[2021-09-08 20:47] drbeh opened #2913 "`RandRotate90` and `RandZoom` to work with `torch.Tensor`"
**Is your feature request related to a problem? Please describe.**
For digital pathology training pipeline to use `torch.Tensor`, there are still two transform that are not supporting this input types `RandRotate90` and `RandZoomD`. I know that there have been efforts on this front, so I am wondering if these transforms are in the pipeline? If so, is it possible to prioritize them? If not, is ther

[2021-09-08 21:01] Sebagam commented on #2886
Hi Nic,

Thanks for your help.
I'm running the last tutorial for the 3D classifications.

Apparently, there is an incompatibility between the shape of my
tensor: torch.Size([2,
166, 256, 256, 1])

 and the model

https://colab.research.google.com/drive/1mz0YB0I-t3B0ZwPzazN9QlgTPnv9pZFJ?usp=sharing

I'm missing another transformation?

On Mon, Sep 6, 2021 at 8:52 PM Nic Ma ***@***.***> wrote:

[2021-09-08 21:11] wyli commented on #2913
I believe they are already in PR #2278, @rijobro could you please help make these transforms into the core soon? @Nic-Ma  and I could work on them if you don't have time before v0.7.

[2021-09-08 23:55] Nic-Ma commented on #2912
Hi @drbeh ,

That's expected behavior as CUDA 11 can't work in forked subprocesses.
Could you please help try again your program with`monai.data.ThreadDataLoader(num_workers=0)`?
It will process the data in a separate thread.
Of course, to get a better perf, we may consider to support multi-threads in `ThreadDataLoader` in MONAI v0.8.

Thanks.

[2021-09-08 23:58] Nic-Ma commented on #2886
Hi @Sebagam ,

Seems something wrong with your data shape?
Could you please help add `EnsureChannelFirst` transform at the beginning of your transform chain?

Thanks.

[2021-09-09 00:15] Nic-Ma commented on #2896
Hi @Sandv ,

I didn't get your issue "the exact same area in each sample".
I tested the below program, seems it generated different result in 2 runs:
[code]

Thanks.

[2021-09-09 00:26] drbeh commented on #2912
Hi @Nic-Ma, `DataLoader` and `ThreadDataLoader` have the same behavior and both only works when `num_workers=0`, which is not desirable for our pathology pipeline since we are IO bound.

If there is not any solution here, can we consider #2883 to be able to run transforms on GPU?

[2021-09-09 00:28] Nic-Ma commented on #2912
Hi @drbeh ,

Have you confirmed how the torchvision transforms execute random logic for every item in a batch?

Thanks.

[2021-09-09 02:55] drbeh commented on #2912
@Nic-Ma, yes, torchvision transforms are applied on the entire batch, so with the random transforms we will have less augmentation. However, this is not an issue in general, and might affect small datasets. For our digital pathology pipeline we are training on 400k patches so the reduced randomness in augmentation should not have any significant effect.

Besides faster model training, adding this

[2021-09-09 07:09] wyli commented on #2912
I agree with Nic that this is expected. Hi @drbeh could you elaborate how #2883 is related to this ticket, perhaps with some code examples? Thanks!

[2021-09-09 08:36] rijobro commented on #2913
Sure, I'll put them to the top of the list of transforms.

[2021-09-09 10:27] rijobro commented on #2883
Interesting. Would be fine if all transforms natively support `torch.Tensor` as input. However, we'll have a few transforms that will need to convert to numpy at the start of the `__call__` method, do we think this would cause any problems if these transforms also inherited from `torch.nn.Module`?

[2021-09-09 10:49] vfdev-5 commented on #2883
I think torch tensor support for transforms can be dissociated from a need to inherit from `torch.nn.Module`.

Technically, there is no major blockers to make a transform class to inherit from `torch.nn.Module`. Then the question is what we would like to get with that.

Main blocker for torchvision to rewrite `Compose` inherited from `torch.nn.Module` , as far as I can say, is/was support of any c

[2021-09-09 10:49] wyli opened #2914 "releasing v0.7.0 -- checklist"
Tentative date: 27/Sept

Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.
- [x] remove any promise

[2021-09-09 10:54] Sebagam commented on #2886
I got this error now:
ValueError: meta_dict not available, EnsureChannelFirst is not in use.

On Wed, Sep 8, 2021 at 8:59 PM Nic Ma ***@***.***> wrote:

[2021-09-09 12:01] rijobro commented on #2914
@wyli I'm guessing you use the same template before each release? Perhaps for the future we should add "remove any promised deprecated functionality". As in, if we said we'd delete something in 1.0, then we need to make sure that it's deleted when we say it will be.

[2021-09-09 12:06] wyli commented on #2914
thanks that's a very good point @rijobro, I've updated the template https://github.com/Project-MONAI/MONAI/wiki/Release-checklist

[2021-09-09 14:01] Nic-Ma commented on #2886
Hi @Sebagam ,

As you are using array-based transforms instead of dict-based transforms, it may not work well.
Could you please help change to `AsChannelFirst` transform?

Thanks.

[2021-09-09 14:23] wyli opened #2917 "`RandAffine`, `RandFlip`, `RandRotate` with GPU-based `torch.tensor`"
**Is your feature request related to a problem? Please describe.**
this is as part of #2231 would potentially accelerate the current test-time augmentation pipeline, when combined with https://github.com/Project-MONAI/tutorials/blob/master/acceleration/fast_training_tutorial.ipynb

see also: #2913

cc @diazandr3s

[2021-09-09 14:44] Sebagam commented on #2886
Thanks Nic, it's working now.

I have a question.
Do you know why I'm getting the best metric as a zero value? The loss
appears to be decreasing across epochs.

https://colab.research.google.com/drive/1mz0YB0I-t3B0ZwPzazN9QlgTPnv9pZFJ#scrollTo=kJrv4lBIALU7

Best,
Sebastian

On Thu, Sep 9, 2021 at 11:01 AM Nic Ma ***@***.***> wrote:

[2021-09-09 14:57] diazandr3s commented on #2917
This is great! It will help a lot in accelerating TTA used in the MONAI Label Apps

[2021-09-09 14:58] Nic-Ma commented on #2886
I think maybe you can print out the model predictions, see whether it's overfitting?
@wyli @ericspod Could you guys help please share some comments about the training status?

Thanks in advance.

[2021-09-09 15:02] Nic-Ma commented on #2872
Hi @wyli ,

Currently, all the MONAI transforms work with a single image, so I think maybe this feature is not a transform, It should be a layer before the network to mix up a batch data?

Thanks.

[2021-09-09 15:32] #2899 closed

[2021-09-09 15:32] #2902 closed

[2021-09-09 16:09] drbeh commented on #2912
We needed #2883 to combine the gpu transforms with the model to be able to use Ignite pipeline in the same way as before. However, I am changing the digital pathology pipeline not to use Ignite workflow so the need is going away. Thanks.

[2021-09-09 16:09] #2912 closed

[2021-09-09 16:46] #2913 closed

[2021-09-09 20:01] drbeh opened #2920 "RandZoom change the input type"
**Describe the bug**
When using `RandZoom` with the input type of `torch.Tensor` it will output `np.array`!

**To Reproduce**

[code]

**Expected behavior**
expected correct output:
[code]
but this will output:
[code]

**Environment**
[code]

[2021-09-09 20:02] drbeh commented on #2920
@rijobro @wyli @Nic-Ma

[2021-09-09 20:13] Sebagam commented on #2886
I think that I managed to fix it.
Do you know how to turn off this output?

INFO:nibabel.global:pixdim[0] (qfac) should be 1 (default) or -1;
setting qfac to 1

/usr/local/lib/python3.7/dist-packages/monai/data/utils.py:542:
UserWarning: Modifying image pixdim from [1.1999999 1.        1.
 0.       ] to [  1.19999993   1.           1.         218.40411641]
  warnings.warn(f"Modifying image pixdim

[2021-09-09 21:33] wyli commented on #2920
had a quick look, if the padding_mode is `constant`, the outcome will be a tensor  only if the padding mode is `constant` https://github.com/Project-MONAI/MONAI/blob/281c17e549b3b1d76f585f55e1f83186ca1c8bcb/monai/transforms/croppad/array.py#L113 perhaps we can make the condition less strict here

[2021-09-09 22:25] kate-sann5100 commented on #2755
- The B-Spline kernel has been implemented. (updated in pull request [#2847](https://github.com/Project-MONAI/MONAI/pull/2847), but unit test is to be written.)
- The following image visualises the MattesMutualInformation calculated on an image and itself after translation (implemented with `monai.transforms.Affined(translate_params=(i, i, i))`) at different value of translate param `i` by our and

[2021-09-09 22:25] kate-sann5100 commented on #2755
![Unknown-2](https://user-images.githubusercontent.com/44606435/132770626-d8e553c5-a4ea-4af0-ab77-928edd01ef6d.png)

[2021-09-09 23:01] Nic-Ma commented on #2920
Hi @wyli ,

Thanks for your analysis, let me make a quick fix ASAP.

[2021-09-09 23:05] YipengHu commented on #2755
- although not expecting otherwise, maybe try the other two scenarios to be comprehensive:
1. varying the three parameters independently with randomly sampled, fixed the other two
2. varying all three randomly than plot the sorted Euclidean distance vs. MI.
- looking at the graph, it may be trivial, but provide a piece of stats for testing monotonic relationship, perhaps Spearman rank-order correl

[2021-09-09 23:05] Nic-Ma commented on #2886
I think you can turn off all the warnings, referring to:
https://stackoverflow.com/questions/14463277/how-to-disable-python-warnings

Thanks.

[2021-09-10 07:42] rijobro commented on #2920
The default padding for `Zoom` is `Edge`, but torch.pad doesn't support that type of padding. See modes in https://pytorch.org/docs/stable/generated/torch.nn.functional.pad.html and https://numpy.org/doc/stable/reference/generated/numpy.pad.html.

[2021-09-10 10:49] Nic-Ma commented on #2920
Hi @rijobro ,

I think it's OK to use the `edge` as default value, if passing Tensor to the transform, user must set suitable mode, otherwise the transform can raise mode error.
Just like what my PR did: list all the supported modes for numpy and all the supported modes for Tensor, if not matching, raise an error.
What do you think?

Thanks.

[2021-09-10 11:22] YipengHu commented on #2755
Agreed.

[2021-09-10 11:29] rijobro commented on #2920
You're right that we want to minimise the amount of checks that we need to do. But this means that the `Zoom` will no longer work with torch input using the default padding. Seems like a slight backwards step to me. As mentioned in [your comment](https://github.com/Project-MONAI/MONAI/pull/2921#issuecomment-916825020), maybe our defaults should be `constant`. Generally speaking, we can try to use

[2021-09-10 12:31] Sebagam commented on #2886
Hi Nic,

Yes, I know that command.
The problem is the Nibabel information messages:

INFO:nibabel.global:pixdim[0] (qfac) should be 1 (default) or -1;
setting qfac to 1

pixdim[0] (qfac) should be 1 (default) or -1; setting qfac to 1

Do you know how to suppress them?

Thanks

On Thu, Sep 9, 2021 at 8:05 PM Nic Ma ***@***.***> wrote:

[2021-09-10 13:25] Nic-Ma commented on #2886
Hi @wyli ,

Do you know something about this Nibabel warning?

Thanks in advance.

[2021-09-10 13:50] ericspod commented on #2872
My thoughts on mixup that I wanted to play with at some point was as a special sort of DataLoader that would combine images from a batch to make a smaller batch with some controls for how the mixing would be done. Alternatively if we wanted to do it as a transform we would have to first create a dataset of image pairs that are to be mixed (this wouldn't involve copying the original images though s

[2021-09-10 14:10] drbeh opened #2925 "ToTensor Device"
**Is your feature request related to a problem? Please describe.**
Currently when converting from other formats that can reside on gpu like cupy to torch tensor, using `ToTensor`, it will create the tensor on the cpu, and then it should be sent to gpu using `ToDevice`. This will create unnecessary between cpu and gpu and reduce the performance. A solution to that is to have `ToTensor` accept devic

[2021-09-10 14:16] Nic-Ma commented on #2925
Hi @drbeh ,

May I know when you converting a `CuPy` GPU array to Tensor with `ToTensor`, is the result a Tensor on GPU or CPU?
I suspect `torch.as_tensor(CuPy GPU array)` will generate a GPU Tensor.

Thanks.

[2021-09-10 14:19] drbeh commented on #2925
Hi @Nic-Ma,

Based on my experiment, the result will be reside on cpu. I made a PR (#2926) to add device to `ToTensor`. This also can be helpful in other situations.

Thanks

[2021-09-10 14:23] drbeh commented on #2925
it's also easy to check

[code]
[code]

[2021-09-10 15:32] masadcv commented on #2098
Hi @charliebudd , Hope you are doing well. Do you have any input for this one? Currently this is a blocker for benefiting from your super-fast GPU CRF implementation. We have to resort to SimpleCRF for now as this does raise errors when running our MONAILabel sample apps .

@Nic-Ma / @wyli maybe we can reopen this issue so it can looked into.

Many thanks!
Muhammad

[2021-09-10 21:07] lyndonboone opened #2927 "SegResNetVAE fails with sliding window inference"
**Describe the bug**
The `forward` method of `SegResNetVAE` returns a tuple, which throws an error when using it in `eval` mode with `sliding_window_inference` (which expects `predictor` to output a tensor, not a tuple).

I was just wondering: is there any reason why when not in `train` mode, the `forward` method of `SegResNetVAE` can't just return the output tensor (i.e., `return x`) instead of r