[2021-03-21 11:57] WinterPan2017 opened #1816 "Rand3DElastic doesn't provide a spacing option"
Why can't I set spacing when I use Rand3DElastic?  I noticed that RandDeformGrid is not used in the source code. Could you please tell me the reason?

[2021-03-22 07:04] #1804 closed

[2021-03-22 13:26] NMVRodrigues opened #1818 "Image reader rotating images 90 degrees to the left"
Using the provided `monai.transforms.LoadImage` to load Nifti images rotates them 90 degrees to the left.
Is the rotation intended?
Is there any way to overcome this issue and load them without the rotation?

Here is the code showing a slice of the image:

[code]

Here is the output image:

![image](https://user-images.githubusercontent.com/26222830/111996541-09802f80-8b12-11eb-9255-df6ffa8f7501.p

[2021-03-22 13:43] wyli commented on #1818
perhaps you can specify `origin='lower' or origin='upper'` options in `imshow`? I'm converting this into a discussion

[2021-03-22 13:43] #1818 closed

[2021-03-22 14:58] wyli opened #1821 "flexible indexing for CacheDataset"
**Is your feature request related to a problem? Please describe.**
currently the cachedataset doesn't work well with negative index and slicing, e.g.:
[code]
result:
[code]
it seems `train_data[-1]` is also not working properly.

**Describe the solution you'd like**
supporting the usual sequence indexing and slicing syntax

context:
https://github.com/Project-MONAI/MONAI/blob/5151b15aaadc90bf57872

[2021-03-22 15:45] yiheng-wang-nv opened #1822 "Prob Non-maximal Suppression Implementation"
@behxyz has provided the startup code about the implementation of Prob Non-maximal Suppression ( #1800 ), I will continue to that work and finish this feature.

[2021-03-22 16:38] wyli opened #1823 "switch_endianness assertion error with PILReader"
**Describe the bug**
`switch_endianness` is not compatible with meta data items with `None` value

**To Reproduce**
[code]

output:
[code]
**Expected behavior**
load with the PILReader without error

**context**
(Pdb) print(data)
[code]

[2021-03-22 21:42] #1823 closed

[2021-03-23 09:19] wyli opened #1827 "AffineGrid GPU tensor error"
**Describe the bug**
a transform error from `AffineGrid` when running tutorial `transforms_demo_2d`
full logs: https://github.com/Project-MONAI/MONAI/runs/2172199805?check_suite_focus=true

[code]

context:
https://github.com/Project-MONAI/MONAI/blob/c4bb4cbf3bb4f476d0b84ae9698321d897faa58e/monai/transforms/spatial/array.py#L993

[2021-03-23 13:49] #1808 closed

[2021-03-23 17:21] #718 closed

[2021-03-23 19:46] wyli opened #1833 "improve list_data_collate error messages"
**Is your feature request related to a problem? Please describe.**
`list_data_collate` or the pytorch's `default_collate` may raise `RuntimeError` or `TypeError`, but the error messages are difficult to understand. This is a feature request to improve the error message especially for collating dictionary data.

**Current example error messages:**
type error (the list of dict `data` has mixed torch

[2021-03-23 21:15] masadcv commented on #1090
@atbenmurray many thanks! I have started looking into this.
This repository may be of interest as it is more focused on EfficientNets: https://github.com/lukemelas/EfficientNet-PyTorch

[2021-03-23 23:16] behxyz opened #1834 "SmartCache Wrapper Component"
**Is your feature request related to a problem? Please describe.**
To leverage SmartCache, what user need to do is simply wrap a `Dataset` with `SmartCacheDataset` as below. However, it is a repeating task for any `Dataset` in the exact same way.

[code]

**Describe the solution you'd like**
It would be nice to have SmartCache wrapper (as a handler, transformer, or anything else) that can be added

[2021-03-23 23:17] behxyz commented on #1834
@wyli, @Nic-Ma, Any thought?

[2021-03-23 23:27] #1814 closed

[2021-03-24 01:16] Nic-Ma commented on #1816
Hi @wyli ,

Could you please help share some info on this question?

Thanks in advance.

[2021-03-24 01:18] Nic-Ma commented on #1821
Hi @wyli ,

Sounds interesting a feature request, is it available in other regular PyTorch Datasets?
If yes, let's try to align with them.

Thanks.

[2021-03-24 01:19] Nic-Ma commented on #1827
Thanks for your finding, let me fix it ASAP.

[2021-03-24 01:22] Nic-Ma commented on #1833
Hi @wyli ,

Thanks for raising this up.
What's your proposal to improve this error message?

Thanks.

[2021-03-24 01:22] #1815 closed

[2021-03-24 01:23] Nic-Ma commented on #1834
Hi @behxyz ,

Sounds interesting an idea.
Let me try to think about it and make a PR.

Thanks.

[2021-03-24 04:57] #1807 closed

[2021-03-24 08:37] wyli commented on #1833
I feel for the dictionary data, would be great to print the key if the corresponding values couldn't be collated @Nic-Ma

[2021-03-24 08:45] wyli opened #1837 "randaffined collating datatype inconsistency"
**Describe the bug**
looks like an error with torch 1.5.1
full log: https://github.com/Project-MONAI/MONAI/runs/2180798490?check_suite_focus=true
[code]

[2021-03-24 08:47] wyli opened #1838 "TestThreadContainer.test_plot error with torch 1.5.1"
**Describe the bug**
full logs at https://github.com/Project-MONAI/MONAI/runs/2180798490?check_suite_focus=true
[code]

[2021-03-24 08:59] rijobro commented on #1837
the other cron jobs didn't run, so is it possible that this problem isn't only present for torch 1.5.1?

[2021-03-24 09:03] wyli commented on #1837
the other crons didn't finish, but these particular tests worked fine in those logs...

[2021-03-24 09:03] rijobro commented on #1837
Ok, thanks.

[2021-03-24 09:37] rijobro commented on #1837
I just tried to replicate this on my OSX and linux, both with torch==1.5.1, but I can't reproduce the error...

[2021-03-24 09:41] wyli commented on #1837
I can replicate this with `nvcr.io/nvidia/pytorch:20.03-py3` docker image...I'll submit a PR now

[2021-03-24 11:13] faebstn96 commented on #1198
Thanks @charliebudd  for implementing this layer! Does your implementation also offer a way to backpropagate a loss into the spatial and range (color) parameters sigma? Or do you have a hint how to implement that?
I very much appreciate your help.

[2021-03-24 11:23] charliebudd commented on #1198
Hi there, the implementation alows for backpropergation of losses into the input tensor, however learning the parameters has not yet been implemented. Feel free to open up a feature request as it is certainly something we should be targeting.

[2021-03-24 11:26] faebstn96 commented on #1198
Thanks for your very quick reply @charliebudd !

[2021-03-24 11:44] faebstn96 opened #1840 "Additional features for the BilateralFilter layer"
**Is your feature request related to a problem? Please describe.**
For using the BilateralFilter layer (by @charliebudd ) more flexibly, I would really appreciate two extensions to the current filter implementation.

**Describe the solution you'd like**
1. It would be nice to implement the backpropagation of a loss into the filter parameters (spatial and range sigma) to be able to learn them direc

[2021-03-24 13:16] charliebudd commented on #1840
Just to add to this, the PHLFilter may be useful to you as it can have varying spatial sigmas. To construct a gaussian filter just provide the spatial coordinates of each pixel as the feature tensor. For a billateral filter provide the spatial and color coordinates.

[2021-03-24 15:45] #1837 closed

[2021-03-24 17:06] Nic-Ma opened #1844 "ReduceLROnPlateau can't use validation metrics as parameter in workflows"
**Is your feature request related to a problem? Please describe.**

Hi @ericspod ,

We implemented the LR scheduler handler with a callable function arg which takes `engine` as input data for `ReduceLROnPlateau`:
https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/lr_schedule_handler.py#L81
But it can't support to use validation metrics as the plateau parameter, because validation me

[2021-03-24 20:28] wyli commented on #1834
agreed, perhaps it's also possible to have a convenient decorator
[code]

[2021-03-24 22:19] #1838 closed

[2021-03-25 00:38] Nic-Ma commented on #1844
Maybe for this case, we should attach the LrSchedulerHandler to `validator` instead of `trainer`?
Thanks.

[2021-03-25 10:51] neuronflow opened #1846 "Nan in nifti files breaks inference"
**Is your feature request related to a problem? Please describe.**
I just ran inference on a dataset, some of the nifti files contain Nan. My resulting segmentations where empty due to this.

**Describe the solution you'd like**
Monai should run `np.nan_to_num`on the array in the nifti loader or at least throw a warning.

**Describe alternatives you've considered**
warning or `np.nan_to_num`

Than

[2021-03-25 10:54] neuronflow opened #1847 "Monai equivalent to tio.OneOf transform? (ETA 8/13)"
**Is your feature request related to a problem? Please describe.**
sometimes it is useful to have multiple augmentation paths

**Describe the solution you'd like**
I am a fan of tio.OneOf
https://torchio.readthedocs.io/_modules/torchio/transforms/augmentation/composition.html#OneOf

**Describe alternatives you've considered**
currently I use the tio function
**Additional context**
I find it so use

[2021-03-25 10:57] rijobro commented on #1846
Interesting. I guess it's tricky - the more checks we do, the slower we'll be and the more we'll pigeonhole users into a specific way of using MONAI. On the flip side, those sorts of warnings are useful for debugging. Was the whole of your image NaN when only a few of the input images were NaN?

Perhaps you figured it out already, but you could create a Lamba transform that would run np.nan_to_num

[2021-03-25 11:43] neuronflow commented on #1846
Only a few voxels inside the input images were Nan. If you give  the images a glance with ITK snap or similar tools you don't notice anything. This caused my whole sliding window inference to only output empty predictions.

This has the potential to completely ruin challenge submissions if you don't double check what you submit.

[2021-03-25 12:11] neuronflow commented on #1846
Hmm thinking more about it..I am fan of leaving data untouched. So probably Sliding window inferer should become robust to Nans or at least throw warnings?

[2021-03-25 12:21] rijobro commented on #1846
I don't think this is the job of the inferrer, which should be simply inferring. The problem here is the pre-processing of your data, which should set any NaN's to 0 prior to running it through your network.

If we start trying to handle this in MONAI, we'll have to handle all edge cases. What do we do for +ve and -ve infinity etc.?

It seems to me that this isn't something that MONAI should be ha

[2021-03-25 12:51] neuronflow commented on #1846
I understand your argument..in my case I am taking part in a small non public challenge..the test set features these Nan voxels, which were not present in training and validation dataset. I was lucky that the challenge organizer asked me why most of my segmentations are empty.

Maybe a good compromise would be that the inferer throws a warning if the returned segmentation is empty?

[2021-03-25 14:35] #1827 closed

[2021-03-25 15:39] brad-t-moore commented on #1357
@thewtex @aylward still seeing this issue in ITK 5.2-RC3.  I need to finish what I'm working on but I'll dig into troubleshooting it.

[2021-03-25 15:44] brad-t-moore commented on #1357
Also using monai-weekly

[2021-03-25 16:23] wyli opened #1848 "CI/CD updates to cover torch 1.8.1"
**Is your feature request related to a problem? Please describe.**
would be great to have ci/cd to cover the recent release of torch 1.8.1

[2021-03-25 21:48] behxyz opened #1852 "SmartCache is not working in Clara Train"
**Describe the bug**
`SmartCache` is not working when used in an MMAR of Clara Train despite using `SmartCacheHandler` as the first handler.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a Clara Train MMAR
2. Use `SmartCachePatchWSIDataset` as the dataset.
3. Run MMAR

**Additional context**
[code]

[2021-03-25 23:20] wyli commented on #1816
thanks for raising this issue. Rand2DElastic has a spacing option, but that's not currently implemented in 3D. The reason is that the 3D elastic deformation is implemented with an approximation using Gaussian smoothing of the displacement field. The root cause is that the upsampling of the 3D displacement field using high order interpolations (https://github.com/Project-MONAI/MONAI/issues/789) is

[2021-03-26 00:01] Nic-Ma commented on #1852
Hi @behxyz ,

Thanks for your bug report, sounds interesting.
@wyli Seems it's caused by PyTorch fetcher that DataLoader will prefetch data before training started and so SmartCache is not started yet.
I will try to think about how to fix it soon.

Thanks.

[2021-03-26 00:08] wyli commented on #1852
thanks, perhaps instead of https://github.com/Project-MONAI/MONAI/blob/126768f226198c3f7f92b0e0104d013a03ad5fe3/monai/data/dataset.py#L809 just provide a warning or try to start the threads?

[2021-03-26 02:46] dongyang0122 opened #1854 "Adding option to distinguish predicted segmentation masks with the same file name but located in different directories"
Under the current inference API, the model will generate the same prediction mask for input images that share the same file name but in different directories. It would be helpful to add an option for the user to modify the output file name to avoid such problems.

[2021-03-26 02:47] Nic-Ma commented on #1854
Hi @dongyang0122 ,

Thanks for this feature request, sounds interesting.
I will try to add support for it later.

Thanks.

[2021-03-26 06:34] #1852 closed

[2021-03-26 07:38] wyli opened #1857 "randelastic2d on gpu is broken"
**Describe the bug**
from transforms_demo_2d tutorial:
[code]
result:
[code]

[2021-03-26 07:46] Nic-Ma commented on #1857
Seems it's similar to the Affine bug? Let me check it.
Thanks.

[2021-03-26 07:55] wyli commented on #1857
thanks it's introduced in this PR https://github.com/Project-MONAI/MONAI/pull/1536, I'm fixing this with https://github.com/Project-MONAI/MONAI/pull/1858

[2021-03-26 07:56] Nic-Ma commented on #1857
sounds good.
Thanks.

[2021-03-26 09:11] wyli opened #1859 "lr_finder plotting method automated unit tests"
**Describe the bug**
https://github.com/Project-MONAI/MONAI/blob/e0feb53074183d2e1267ad56d7c750d6659ce425/tests/test_lr_finder.py#L76
this plotting test may block the main testing runner and need manual confirmation

**To Reproduce**
`./runtests.sh --quick --unittest`

[code]

[2021-03-26 09:16] rijobro commented on #1859
Do you think something like this might solve the problem? https://stackoverflow.com/a/40395799/12411867

We can pass `ax` to `lr_finder.plot(0, 0)`, so we can create the plot prior to passing it to `lr_finder`.

[2021-03-26 09:24] wyli commented on #1859
sounds good, not sure if it's feasible to follow the idea in the other test https://github.com/Project-MONAI/MONAI/blob/e0feb53074183d2e1267ad56d7c750d6659ce425/tests/test_threadcontainer.py#L97

[2021-03-26 09:36] #1857 closed

[2021-03-26 10:51] Nic-Ma opened #1861 "Add MapLabelValue utility transform"
**Is your feature request related to a problem? Please describe.**
Need a utility transform to map label values of classification or segmentation to expected values.
For example, original available labels: [3, 5, 8], map to [0, 1, 2], or map [0, 1, 2] to [0, 1, 1]

[2021-03-26 11:25] Nic-Ma opened #1862 "Checkpoint handler save files with wrong permissions"
**Describe the bug**
We always run programs in dockers, usually it's root user, and found an issue that: pure PyTorch program saves model(torch.save) and has the read permission for non-root users, but ignite Checkpoint handler saves model and only has read permission for root users.
Reproduce this issue by below 2 MONAI examples:
1. https://github.com/Project-MONAI/tutorials/blob/master/3d_segmen

[2021-03-26 12:14] Nic-Ma opened #1866 "Add ignite handler to inverse transforms"
**Is your feature request related to a problem? Please describe.**
I would suggest to develop a ignite handler to inverse spatial transforms, @rijobro what do you think?

follow-up of https://github.com/Project-MONAI/MONAI/issues/1515

[2021-03-26 14:46] #1550 closed

[2021-03-26 14:47] wyli commented on #1549
ping

[2021-03-26 14:55] #1822 closed

[2021-03-26 14:58] rijobro commented on #1866
Certainly sounds useful!

[2021-03-26 15:26] danieltudosiu commented on #1549
Sorry, you will have it later today.  I should branch from master right?

[2021-03-26 17:22] #1862 closed

[2021-03-26 19:53] #1859 closed

[2021-03-26 22:32] danieltudosiu commented on #1549
Hi @wyli

I have a draft form the pull request, but I have the following questions:

- Should we change the step count from epoch to iteration and allow globa_step_transformation for the iteration level scalar summaries? This will normalize the step between the two levels of logging and will be more user-friendly since no mind maths needs to be done to sync the two loggings.
- How would you test t

[2021-03-26 22:37] wyli commented on #1549
thanks, could you please submit a draft pull request, it might be easier to discuss over the concrete code examples cc @Nic-Ma

[2021-03-26 23:41] mathpluscode opened #1868 "Potential INF in LNCC loss"
**Describe the bug**

The current implementation of LNCC loss https://github.com/Project-MONAI/MONAI/blob/master/monai/losses/image_dissimilarity.py comes from DeepReg.

However, recently in DeepReg, we encountered INF loss, due to a negative variance at certain voxels. The variance should be zero, but somehow it became around -1e-5 and sometimes it eventually caused INF.

The fix in DeepReg is
-

[2021-03-26 23:46] YipengHu commented on #1868
FYI @tvercaut

[2021-03-27 00:44] #1861 closed

[2021-03-27 09:18] danieltudosiu commented on #1549
I did it, you can find it here: https://github.com/Project-MONAI/MONAI/pull/1870

[2021-03-27 11:08] wyli opened #1871 "cachedataset useability"
**Is your feature request related to a problem? Please describe.**
this feature request is a follow up of https://github.com/Project-MONAI/MONAI/pull/1836. ideally multiple preprocessing threads would 1. read from a shared cache (storing non random transform outcomes) and 2. have independent transform instances for each of them.  2 is not currently implemented as a result the transform instance pr

[2021-03-27 12:40] #1848 closed

[2021-03-27 14:22] yiheng-wang-nv opened #1872 "Add Pathology based FROC metric calculation class"

[2021-03-27 15:08] yiheng-wang-nv opened #1874 "Add random bias field transform"
It is a useful data augmentation method for MRI.

Reference:

[1] Van Leemput, Koen, et al. "Automated model-based tissue classification of MR images of the brain." IEEE transactions on medical imaging 18.10 (1999): 897-908.

[2] Sudre, Carole H., et al. "Longitudinal segmentation of age-related white matter hyperintensities." Medical Image Analysis 38 (2017): 50-64.

[2021-03-27 15:11] tvercaut commented on #1868
I haven't looked at the code but a scenario like the one you describe arises frequently if you are using a naive algorithm to compute the variance, e.g. something like:
∑x² - (∑x)²

While correct from a mathematical standpoint, a naive computation of the variance is numerically unstable. You can either use a 2-pass algortithm or or slightly more involved online algorith:
https://en.wikipedia.org/w

[2021-03-27 16:32] mathpluscode commented on #1868
Thanks, @tvercaut

- In LNCC case, we are calculating weighted variance for each voxel via Convolution. Thus, the online algo mentioned in wiki might not be an option :( I may need to dig further if there are more detailed explanations for the instability.

- Regarding the bias/unbiased, this will not solve the stability issue as we are adjusting the variance by a constant without changing the sig

[2021-03-27 16:37] tvercaut commented on #1868
The online algorithm (Welford) might be an overkill anyway here, see e.g.:
https://github.com/numpy/numpy/issues/6231

A basic two-step approach is typically enough:
μ=(∑x)/N
σ²=(∑x-μ)²/(N-1)

[2021-03-27 16:54] mathpluscode commented on #1868
Cool, then we will do this. Gonna try to find some reference to support the claim that

∑x² - (∑x)² is not safe

[2021-03-27 17:36] tvercaut commented on #1868
The wikipedia link I referred to points to this article:

Can't think of a more definitive support for this :)
<img width="828" alt="Screenshot 2021-03-27 at 17 34 44" src="https://user-images.githubusercontent.com/1614505/112729174-c0214d00-8f22-11eb-97d4-9a2f351aeae0.png">

[2021-03-27 22:24] behxyz opened #1875 "Bring CuCIM updated features to WSIReader"
**Is your feature request related to a problem? Please describe.**
The has been some changes in how CuCIM is handling the input parameters. This includes a new features for extracting the whole image at any level without any additional parameter. WSIReader needs to be updated to include those features with backward compatibility.

[2021-03-28 12:26] wyli opened #1881 "allows for single key in `ConcatItemsd`"
Hi everyone I'm using `ConcatItemsd` for concatenating the inputs from multi-modalities images. During development sometimes I adjust the number of modalities of inputs, even to single modality. However I found that `ConcatItemsd` in monai currently does not allow this, with an exception raised [here](https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/utility/dictionary.py#L678-L6

[2021-03-28 14:03] Nic-Ma commented on #1881
Hi @wyli ,

Thanks for raising this up, let me try to update it next week.

[2021-03-28 14:26] wyli commented on #1677
addressed by https://github.com/Project-MONAI/MONAI/pull/1680

[2021-03-28 14:26] #1677 closed

[2021-03-28 14:27] #1754 closed

[2021-03-28 16:29] juampatronics opened #1883 "lambda functions should be avoided in constructors"
**Describe the bug**

pickle.dumps(GeneralizedDiceLoss()) fails, unlike, for example, pickle.dumps(DiceLoss()). The culprit is a lambda function in GeneralizedDiceLoss.__init__. This is a problem when serializing your model on checkpoints, or for training on several GPUs.
This applies not only to loss functions, but optimizers and transformers as well.

**To Reproduce**

Steps to reproduce the beh

[2021-03-28 19:21] wyli commented on #1868
came across a similar issue a while ago in the batch norm/tf.nn.moments, may need to make sure it's using a good precision for the intermediate values: https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/ops/nn_impl.py#L1330-L1344

[2021-03-28 19:32] wyli commented on #1883
thanks, I think it's been addressed recently in https://github.com/Project-MONAI/MONAI/pull/1645 and will be included in v0.5.0.  please feel free to reopen this issue if needed

[2021-03-28 19:32] #1883 closed

[2021-03-28 20:59] mathpluscode commented on #1868
Currently, DeepReg does not support mixed precision yet. So the problems occurred under float32. But indeed, we should enforce float32 for this variance/mean.

[2021-03-29 00:11] #1844 closed

[2021-03-29 00:15] Nic-Ma commented on #1847
Hi @neuronflow ,

May I know what's the usage case of this transform? What's the difference between a list of random transforms with different probabilities?

Thanks.

[2021-03-29 00:16] Nic-Ma commented on #1866
Assign to @rijobro based on our internal discussion.

Thanks.

[2021-03-29 07:12] #1881 closed

[2021-03-29 09:15] wyli opened #1889 "releasing v0.5.0 -- checklist"
Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.

Quality assurance for the relevant repos
The new

[2021-03-29 09:58] ericspod commented on #1844
Attaching it to the object doing post-epoch evaluation is the way to do it, unless there were metrics being calculated by the training engine at the end of each iteration. If the schedule is based off current loss reduction rate that would work, if off of a computed metric then probably the validator is needed.

[2021-03-29 11:08] danieltudosiu opened #1891 "Loading models with strict=False"
**Is your feature request related to a problem? Please describe.**
In some cases we might want to load partial models. this can be done by loading a state_dict with argument strict=False as per: https://pytorch.org/tutorials/beginner/saving_loading_models.html#warmstarting-model-using-parameters-from-a-different-model

**Describe the solution you'd like**
Allow users to pass kwargs to ignite's Che

[2021-03-29 12:37] wyli commented on #1549
addressed by #1870

[2021-03-29 12:37] #1549 closed

[2021-03-29 14:52] Nic-Ma commented on #1891
Hi @danieltudosiu ,

Thanks for your feature request, I will try to enhance it soon.

[2021-03-29 14:55] danieltudosiu commented on #1891
If there is no rush I can do it. I already changed the code of the Handler. I just need to write the test.

[2021-03-29 14:57] Nic-Ma commented on #1834
Hi @wyli and @behxyz ,

I think we don't need to develop a SmartCache decorator and it's not easy to support the args of SmartCache.
You can just define your own `MyDataset` and use it as the `data` arg of `SmartCacheDataset`:
[code]
And the reason we used `SmartCacheMyDataset` is that Clara only supports 1 Dataset object, we can enhance it by supporting a list of datasets later.
What do you think

[2021-03-29 14:59] Nic-Ma commented on #1891
That's great! Welcome your contribution!

Thanks.

[2021-03-29 15:43] #1833 closed

[2021-03-29 20:39] behxyz commented on #1834
Hi @Nic-Ma , I agree, it would be great if we can add this feature request to the Clara Train roadmap.

Thanks

[2021-03-29 21:40] #1821 closed

[2021-03-29 23:13] Nic-Ma commented on #1834
Hi @behxyz ,

Already added to our internal Clara roadmap.

Thanks.

[2021-03-30 02:46] Nic-Ma opened #1900 "SaveImageD transform need to support list of dict data"
**Is your feature request related to a problem? Please describe.**
Currently, several crop transforms may generate a batch of data, but the `SaveImageD` transform will save them with the same file name and overwrite, need an index or something to distinguish batch data.

[2021-03-30 02:49] Nic-Ma commented on #1900
Hi @wyli ,

I think maybe we can hack the filename of meta_dict with an index after cropping?
Do you have any other ideas?

Thanks.

[2021-03-30 06:21] #1874 closed

[2021-03-30 09:23] Nic-Ma commented on #1900
After discussion, the finalized solution is to add a new key "patch_index" in the dict data after patch cropping, then use this index as output_postfix in `SaveImageD` transform.

Thanks.

[2021-03-30 09:42] wyli opened #1901 "Invert patch-based transforms"
invert the patch based transforms such as
- RandSpatialCropSamplesd
 - RandWeightedCropd
 - RandCropByPosNegLabeld

(these transforms return lists)

followup of #1515

[2021-03-30 09:49] wyli commented on #1515
mostly addressed, the remaining concrete tasks tracked here https://github.com/Project-MONAI/MONAI/milestone/4, I'm closing this

[2021-03-30 09:49] #1515 closed

[2021-03-30 09:55] #76 closed

[2021-03-30 10:03] #249 closed

[2021-03-30 10:44] rijobro opened #1902 "Problem with pip install monai and monai-weekly"
**Describe the bug**
There seem to be some confusing things going on with `pip install monai` and `pip install monai-weekly`.

**To Reproduce**
Steps to reproduce the behavior (monai installed first):
1. Fresh python venv
2. pip install monai monai-weekly
3. python -c "import monai"

Error:

[code]

Steps to reproduce the behavior (monai-weekly installed first):
1. Fresh python venv
2. pip install

[2021-03-30 22:17] Nic-Ma opened #1904 "Need to add Early-Stop handler"
**Is your feature request related to a problem? Please describe.**
As ignite already has `early-stop` handler, we can develop the MONAI enhanced version based on it:
https://github.com/pytorch/ignite/blob/master/ignite/handlers/early_stopping.py
It's an existing feature in Clara pipeline before.

[2021-03-31 01:45] #1875 closed

[2021-03-31 10:16] Nic-Ma opened #1905 "ConvertToMultiChannelBasedOnBratsClasses should support channel first input"
**Describe the bug**
Currently, `ConvertToMultiChannelBasedOnBratsClasses` transform expects the input data has no channel dim, should also support channel-first data.

[2021-03-31 12:39] #1905 closed

[2021-03-31 13:49] Nic-Ma opened #1908 "Add DiceFocal loss function"
**Is your feature request related to a problem? Please describe.**
As we already have `DiceLoss`, `DiceCELoss`, `FocalLoss`, I think it's might useful to add `DiceFocal` loss.

[2021-03-31 15:01] #1834 closed

[2021-04-01 05:56] puraminy commented on #701
Which file is this?

[2021-04-01 14:19] masadcv commented on #315
Hey @charliebudd, I was wondering if you are looking into the tutorial mentioned by @tvercaut ? If it is still open for contribution then perhaps I can help convert the NiftyNet tutorial to use MONAI's CRF implementation.

[2021-04-01 14:20] Nic-Ma commented on #1904
Hi @wyli , I think you closed this ticket by mistake, let me re-open it.
Thanks.

[2021-04-01 14:22] wyli commented on #1908
addressed by #1914

[2021-04-01 14:22] #1908 closed

[2021-04-01 14:29] charliebudd commented on #315
I just set up the draft PR with the notebook in. https://github.com/Project-MONAI/tutorials/pull/170. The CRF is not currently in the released version of monai which the tutorials use.

[2021-04-01 15:48] danieltudosiu opened #1916 "Workflow integration of custom events"
**Is your feature request related to a problem? Please describe.**
Make Workflow class automatically register given events at construction.

**Describe the solution you'd like**
Allow the Workflow class to receive a list of custom Events that need to be registered with it at construction time.

This is needed since you already allow handlers to be passed at construction so if some of them required

[2021-04-01 15:52] danieltudosiu opened #1917 "Workflow new events"
**Is your feature request related to a problem? Please describe.**
Pre-loss.backward event.

**Describe the solution you'd like**
Make the Engines fire an event between the loss and backward pass so that handlers that manage gradients can be triggered more elegantly.

**Describe alternatives you've considered**
Allow the loss function to trigger events by passing the fire_event callable. It breaks

[2021-04-01 19:20] wyli opened #1919 "upgrade base image to pytorch 21.04"
**Is your feature request related to a problem? Please describe.**
based on cuda 11.3 pytorch 2ecb2c7

[2021-04-02 09:09] wyli commented on #1917
Hi @danieltudosiu there're some additional events: https://github.com/Project-MONAI/MONAI/blob/32e540f99d43d56c038537dd2ed6954d80a531ee/monai/engines/utils.py#L33-L40
would `LOSS_COMPLETED` already address this issue?

[2021-04-02 09:11] danieltudosiu commented on #1917
Hi @wyli ,

Yes, loss completed would solve this.

Are they available in 0.4?

Thanks!

[2021-04-02 09:13] wyli commented on #1917
no, this will be available in v0.5 which should be released in the next few weeks :) I'm closing this ticket

[2021-04-02 09:13] #1917 closed

[2021-04-03 02:06] #1900 closed

[2021-04-03 04:56] Nic-Ma commented on #1891
Hi @danieltudosiu ,

I think this is a good feature request, do you want to submit your PR soon?
We plan to release MONAI v0.5 next week, maybe we can add this feature if possible, just pass a `**kwargs` to the loader.

Thanks.

[2021-04-03 05:00] Nic-Ma commented on #1866
Hi @rijobro ,

May I know your plan about this handler?
I received several feature request from Clara project that we want to revert spatial transforms before saving model output.
But our workflows are based on ignite, need the handler to execute the inverse logic.

Thanks.

[2021-04-03 12:39] wyli commented on #1902
I think we are trying to follow the `tensorflow` and `tf-nightly` approach here. we also discussed using something like `v0.5.dev2102` to denote the weekly build, to install it the command will be `pip install --pre monai`

[2021-04-03 15:56] #1904 closed

[2021-04-03 17:23] rijobro commented on #1902
Not sure if tensorflow have the same problem as us, but it sounds like switching to `--pre` would solve our problem. Is there any reason not to switch?

[2021-04-04 02:00] #1891 closed

[2021-04-04 15:27] Nic-Ma opened #1939 "Add `strict_shape` option to CheckpointLoader"
**Is your feature request related to a problem? Please describe.**
Currently, we don't support the transfer-learning case that load a checkpoint with same layer names but different shape.
We can refer to below code:
[code]

Thanks.

[2021-04-05 09:05] wyli opened #1943 "unit test ThreadDataLoader error"
**Describe the bug**
[code]
output:
[code]

e.g. https://github.com/Project-MONAI/MONAI/runs/2266946281?check_suite_focus=true#step:6:3770

[2021-04-05 10:03] wyli commented on #1629
itk 5.2.0 has been released, it is causing some issues:
for example to replicate this (with monai da3240f60c98fee2e067337d388f492e5f1d6692):
[code]

outcome:
[code]
example log: https://github.com/Project-MONAI/MONAI/runs/2266945686?check_suite_focus=true
eventually the integration tests become very slow with `UserWarning: semaphore_tracker:`

I had a quick look, the same code works fine with itk

[2021-04-05 10:31] danieltudosiu commented on #1552
@wyli Is there time for me to do a pull request for this?

Also, is this still of interest for MONAI?

[2021-04-05 10:43] wyli commented on #1552
yes, perhaps not for v0.5 but please send a pull request if you have time...

[2021-04-05 10:54] danieltudosiu commented on #1552
Ok. you will have it today.

[2021-04-05 11:47] wyli commented on #1629
a smaller example to reproduce (python3 + linux + pytorch 1.7/1.8):
[code]
this works fine with itk 5.1.2 but has the warnings with itk5.2.0

perhaps this global RLock is causing the issue https://github.com/InsightSoftwareConsortium/ITK/blob/6dfbc9f0314b5fd64d4b2ae392ae3cc6dda17677/Wrapping/Generators/Python/itk/support/lazy.py#L29

[2021-04-05 14:36] #1943 closed

[2021-04-05 15:22] behxyz opened #1947 "Prepend path to "mask""
**Is your feature request related to a problem? Please describe.**
`decathlon_dataloader.py` only prepend `base_dir` path to "image" and if it's segmentation to "label". However, if we have a "mask" entry it is not prepended by `base_dir`.
https://github.com/Project-MONAI/MONAI/blob/master/monai/data/decathlon_datalist.py#L65-L68

**Describe the solution you'd like**
[code]

[2021-04-05 15:27] Nic-Ma commented on #1947
Hi @behxyz ,

Make sense, a good feature request. I will enhance the API to support all paths.
Thanks.

[2021-04-05 16:44] behxyz commented on #1947
Thank you, @Nic-Ma! As the pathology use case depends on it, it would be great if you can prepare it before v0.5 release. Thanks.

[2021-04-05 16:54] Nic-Ma commented on #1947
Submitted PR: https://github.com/Project-MONAI/MONAI/pull/1948 to fix it.
Thanks.

[2021-04-05 17:01] behxyz commented on #1947
Thanks @Nic-Ma. I'll review it now.

[2021-04-05 19:20] #1939 closed

[2021-04-05 21:38] masadcv commented on #1127
Hi @wyli and @Nic-Ma , Is this task open for contribution?
If no one is working on it, I would like to take up this task to cover regression metrics in the first instance. Can you also indicate what type of support is required for these metrics?

[2021-04-05 21:44] #1947 closed

[2021-04-05 22:07] masadcv commented on #1090
I have started a pull request that covers EfficientNetB0-B7 for spatial_dims \in [1, 2, 3]. It is WIP. The code is based on https://github.com/lukemelas/EfficientNet-PyTorch but extended/refactored to integrate with MONAI's factories.  Pretrained weights from https://github.com/lukemelas/EfficientNet-PyTorch can be used for 2D case.

[2021-04-06 01:44] Nic-Ma commented on #1127
Hi @masadcv ,

These items are proposed by our metrics working group, open for contribution.
Welcome your contribution PR if you are interested in some of them.

Thanks in advance.

[2021-04-06 12:56] wyli opened #1955 "style issue with readthedocs"
part of #1889

the current build's style isn't quite right:
![Screenshot 2021-04-06 at 13 55 00](https://user-images.githubusercontent.com/831580/113713849-b09ec280-96df-11eb-8733-19e88b97d3bc.png)

the expected style is something like that in v0.4:
![Screenshot 2021-04-06 at 13 55 31](https://user-images.githubusercontent.com/831580/113713895-c1e7cf00-96df-11eb-9bd4-a6bcdcad69d1.png)

[2021-04-06 15:55] wyli opened #1956 ".git and versioning in docker image"
- the `.git` could be removed to reduce image size and accelerate building of the docker image
- the current image includes the version info computed from `.git` and not accurate:

[code]

[code]

[2021-04-06 19:00] ndalton12 commented on #1753
@rijobro, @wyli  Hi, I finally got around to making a quick comparative test that anyone can reproduce with Google Colab: https://colab.research.google.com/drive/1bIVaEgpHr-fhMwe_IFPXL1kE39MrdlEN?usp=sharing.

The script is setup as a quick training run on MNIST, with a random rotation followed by scaling and normalization for data processing. There is a torchvision only version followed by a Mona

[2021-04-07 00:00] wyli commented on #1753
@ndalton12 your main argument is now the performance of random rotation in torchvision vs monai.
I make a direct comparison for the method, and I don't observe a meaningful gap between them:

https://colab.research.google.com/drive/1m4jF0nhfIThfj-Pleg3pjeMi_xSDckav
the comparisons at different image sizes  (datatype float64, batch 10):

[code]

[code]

[code]

[code]

[code]

[2021-04-07 00:12] #1956 closed

[2021-04-07 01:27] ndalton12 commented on #1753
Hi @wyli, a couple points. First, my argument has not changed - the random rotation was simply the easiest example to show this issue. My argument is that the monai transforms are slow and the code doesn't follow a good pattern. Second, there are some issues with your direct comparison:

* You should not use torch.rand since this can introduce tensors that are harder to rotate and introduces varia

[2021-04-07 02:09] wyli commented on #1753
my example provides more test cases and is purely to suggest that please don't jump to the conclusion... show some solid evidence then we'll enjoy the debates

[2021-04-07 06:00] Nic-Ma opened #1960 "Always print warning message about min_package"
**Describe the bug**
/opt/monai/monai/utils/module.py:100: UserWarning: <module 'pkg_resources' from '/opt/conda/lib/python3.8/site-packages/pkg_resources/__init__.py'> has no attribute __version__ in min_version check.
  warnings.warn(f"{the_module} has no attribute __version__ in min_version check.")

[2021-04-07 06:00] Nic-Ma commented on #1960
I will submit a quick to remove it.
Thanks.

[2021-04-07 07:26] #1955 closed

[2021-04-07 10:23] rijobro commented on #1866
hi @Nic-Ma , I'll look into this early next week

[2021-04-07 10:25] Nic-Ma commented on #1866
Hi @rijobro ,

Thanks very much for your effort here!
As we are preparing for MONAI 0.5 release this week, is it possible to make this handler available in 0.5?

Thanks in advance.

[2021-04-07 11:08] #1552 closed

[2021-04-07 14:35] danieltudosiu opened #1964 "Gradient handling in Workflows"
**Is your feature request related to a problem? Please describe.**
In some cases, gradient clipping or normalization is needed to stabilize the training of networks.

**Describe the solution you'd like**
Allow the option to do gradient clipping or normalization via an argument at the construction of Workflows.

**Describe alternatives you've considered**
Registering a hook for each model parameter

[2021-04-07 14:59] #1960 closed

[2021-04-07 15:06] wyli opened #1965 "register_backward_hook is deprecating in torch 1.8"
register_backward_hook is used in class_activation_map and is deprecating, it should be updated.

repro:
[code]
output:
[code]

[2021-04-07 16:14] danieltudosiu commented on #1964
I would consider this quite a high priority since the current setup of Workflows basically does not allow the user to have a way to do gradient normalization and the clipping is forced through the usage of backward pass hooks.

[2021-04-07 16:36] #1916 closed

[2021-04-07 18:18] ndalton12 commented on #1753
Could you clarify what you mean by solid evidence? I am not sure how the colab I provided does not represent evidence. You can review it yourself: https://colab.research.google.com/drive/1bIVaEgpHr-fhMwe_IFPXL1kE39MrdlEN?usp=sharing. Even if the problem is not with the transforms for some reason, the monai version is significantly slower here.

[2021-04-07 18:35] wyli commented on #1753
your colab example is based on 28x28-pixl toy examples  comparing 8bit int
in torchvision PIL object VS float64 in MONAI which supports both 2D, 3D,
some for ND. you have missed all the details such as interpolation order,
padding mode... also my colab results indicate that the overhead isn't as
large as you mentioned in the ticket. before I see some extensive,
meaningful comparisons I'm not going

[2021-04-07 19:06] ndalton12 commented on #1753
Your insinuation that an image should not be loaded as 8bit is confusing. That is what images are. The toy example is meant to demonstrate the slowdown, which it does. Your example is also a toy example and not a real world use case. You are blindly defending Monai as if it has no faults, and yet do not address the problem I presented. Float64 is irrelevant when I work on images - it has nothing t

[2021-04-07 20:03] wyli commented on #1753
ok, sure, your arguments about building the community are correct... I'm not hiding anything but this project is an outcome of the hard work of many people, personally it's hard for me to accept criticism without convincing evidence. perhaps we could take this thread to build some benchmarks and focus on the different use cases? these would definitely help the project and the community.

[2021-04-07 23:54] #1965 closed

[2021-04-08 01:59] Nic-Ma commented on #1964
Hi @danieltudosiu ,

Can you write a handler attaching to this event and do some logic?
https://github.com/Project-MONAI/MONAI/blob/master/monai/engines/trainer.py#L166
If you need to do more special logic, I would suggest you write your own trainer, just inherit from the current `SupervisedTrainer`.

Thanks.

[2021-04-08 02:01] Nic-Ma opened #1968 "Need to doc-string how to get image meta data in SegmentationSaver"
**Is your feature request related to a problem? Please describe.**
We already received several questions about how to get the image meta data and apply to the model output.
Need to enhance the doc-string of SegmentationSaver handler.

[2021-04-08 02:03] kvagdevi commented on #876
I converted .nii files to .png for the detection purpose, detected few slices are once again packed to .nii format for compatibility to MONAI.
At Spacingd: ValueError: theta must be Nx3x3 or Nx4x4, got torch.Size([1, 6, 6]). then I commented Spacingd.
At Orientationd: ValueError: theta must be Nx3x3 or Nx4x4, got torch.Size([1, 6, 6]). Then I commented Orientationd.
At Resized: ValueError: len(spa

[2021-04-08 05:47] danieltudosiu commented on #1964
Hi @Nic-Ma,

This solution would require one handler for each of the engines MONAI has. Given the specialized nature, wouldn't it be better fitted as a class method of the Trainer's child?

I already submitted a pull request draft https://github.com/Project-MONAI/MONAI/pull/1967 that is a WIP and has only the SupervisedTrainer logic.

[2021-04-08 05:52] #1968 closed

[2021-04-08 06:19] Nic-Ma commented on #1964
Hi @wyli ,

Could you please help share some comments here? I think maybe this is a research-specific feature request that I don't totally understand why not writing a handler.

Thanks in advance.

[2021-04-08 08:51] rijobro commented on #876
Hi @kvagdevi, I'm not completely sure what you're asking. I think you have transforms in some order and you get errors depending on which ones are commented out or not? I also don't understand your nii->png->nii conversion.

If you would like help, could you create a new thread in our [Discussions page](https://github.com/Project-MONAI/MONAI/discussions) as this is a) unrelated to the current topi

[2021-04-08 11:33] danieltudosiu opened #1973 "Layer norm can't be used"
**Describe the bug**
If I set norm="LAYER" in Conv or ResidualUnit I get the following error:

[code]

**To Reproduce**
[code]

**Expected behavior**
To allow me to use "LAYER" normalization.

**Environment**

Printing MONAI config...

MONAI version: 0.4.0
Numpy version: 1.19.5
Pytorch version: 1.8.0
MONAI flags: HAS_EXT = False, USE_COMPILED = False
MONAI rev id: 0563a4467fa602feca92d91c7f4726186

[2021-04-08 14:27] Nic-Ma opened #1977 "Need to support different interpolation mode in inverse transforms"
**Is your feature request related to a problem? Please describe.**
During inverse transform, we may need to use different interpolation mode.

[2021-04-08 16:09] ndalton12 commented on #1753
Sure, I think that would a good idea and benefit others as well. I did try using monai for one of my work projects (which is why I couldn't share the code) and I would love to use it if I didn't have to have the bottlenecks I was experiencing. I can try to make some more benchmarks in a bit.

And yes, I recognize that there is a lot of hard work going into the project, which is great and part of w

[2021-04-08 17:11] wyli commented on #1973
you could do
[code]

[2021-04-08 17:48] rijobro opened #1979 "TestTimeAugmentation assumes label is present"
**Describe the bug**
During training/testing/validation, ground truth labels are often present. However, at deployment only the image will be present. The way TTA is currently set up assumes that both image and label are present, which needs to be modified.

cc @diazandr3s

[2021-04-08 18:52] danieltudosiu commented on #1973
Oh, I wasn't aware of that usage. Sorry!

[2021-04-08 18:52] #1973 closed

[2021-04-08 18:55] wyli commented on #1973
ok, sure I'll update the docstrings...

[2021-04-09 08:23] #1090 closed

[2021-04-09 09:49] wyli opened #1984 "initialising 3D classification models from the 2D pretrained"
**Is your feature request related to a problem? Please describe.**
would be great to support starting a 3d classification model from the 2D torch.hub models

see also:
https://github.com/ZFTurbo/classification_models_3D/blob/master/convert_imagenet_weights_to_3D_models.py#L95

[2021-04-09 09:59] #1866 closed

[2021-04-09 10:36] Nic-Ma opened #1985 "Add SaliencyInferer"
**Is your feature request related to a problem? Please describe.**
SaliencyInferer is the normal inference method that run model forward() directly.

**Describe the solution you'd like**
[code]

[2021-04-09 19:36] #1977 closed

[2021-04-10 01:45] Nic-Ma opened #1987 "Add support to compute metrics on list of channel-first data"
**Is your feature request related to a problem? Please describe.**
After inverting transforms, it generates a list of channel-first data, we need to add support to compute metrics for them.
Now the metrics handlers can only support a batch data.

[2021-04-10 01:49] Nic-Ma commented on #1987
Hi @wyli and @rijobro ,

I will take look at this ticket ASAP to implement for v0.5 release.

Thanks.

[2021-04-10 01:52] Nic-Ma commented on #1987
Hi @vfdev-5 ,

May I ask a question: do ignite metrics support a list of [channel, H, W, [D]] shape data? As a batch of data may have different shape after `inverting transforms`, we flatten the batch into a list of tensor then need to compute metrics in this case.

Thanks.

[2021-04-10 15:01] vfdev-5 commented on #1987
Hi @Nic-Ma ,

If I understand correctly, `y_preds = [p1, p2, ..., pN]` with  `pK` being a float tensors but all not of the same shape such that we can't use `tensor.stack(y_preds, dim=0)` to make a single tensor of shape `(N, C, H, W, ...)`.

Currently, ignite metrics work on tensor input only and assumes the batch dimension to be the first one.

Yes, I think this could be doable:
[code]

I think

[2021-04-10 15:14] Nic-Ma commented on #1987
Hi @vfdev-5 ,

Thanks for your double-confirm and suggestions.
This could be very important because we may need to restore `prediction` and `label` shape to align with the original input `label` shape, which may be different for every item in a batch, so can't stack to a batch anymore.

Another question is that: currently, MONAI post transforms execute on the `engine.state.output` dict, the post t

[2021-04-10 15:47] vfdev-5 commented on #1987
I think both solutions are possible. Personally, i would include necessary info from `state.batch` to `state.output` as for example target (or label) can be propagated from batch to output:
[code]

Maybe, a small remark on data lifespan for `state.data` which by default is not bounded. We are also currently discussing about reducing the lifespan of `state.batch` and `state.output` between GET_BATC

[2021-04-10 15:52] Nic-Ma commented on #1987
Hi @vfdev-5 ,

Sounds interesting, maybe we should copy `engine.state.batch` to `engine.state.output` as:
[code]
Or directly use the same dict from `batch` to `output`:
[code]
At this line:
https://github.com/Project-MONAI/MONAI/blob/master/monai/engines/trainer.py#L160

What do you think?

Thanks.

[2021-04-10 16:10] vfdev-5 commented on #1987
I agree that under certain assumptions we can build an application where `state.batch` and `state.output` could point to the same data structure (e.g. a dictionary):
[code]

On the other hand, usually, handlers receive `engine` as argument and thus they can access `engine.state` and fetch both `batch` and `output`...
For example, here is a visualization handler:
https://github.com/pytorch/ignite/b

[2021-04-10 16:21] Nic-Ma commented on #1987
Hi @vfdev-5 ,

Thanks for your discussion.
Do you guys have any future plan to involve a `state.data` as end-to-end data flow?
We may consider to enhance this conception if keep receiving feature requests from Clara or MONAI workflow users.

Thanks.

[2021-04-10 16:40] vfdev-5 commented on #1987
@Nic-Ma sounds good !
I think this could be an interesting addition, we can discuss it in more details here : https://github.com/pytorch/ignite/issues/1923

[2021-04-10 19:04] wyli commented on #1236
addressed by f041bacfba546ec74424432efac8b89c084c178c

[2021-04-10 19:04] #1236 closed

[2021-04-10 23:47] #1987 closed

[2021-04-12 12:43] masadcv commented on #1127
Many thanks @Nic-Ma  - I will start looking into this towards the end of this week. I will have a proposal for Regression metrics in the first instance.

[2021-04-12 13:54] wyli opened #1993 "random plane sampling transform"
**Is your feature request related to a problem? Please describe.**
this is a feature request for a spatial random plane sampling transform
mainly for training data augmentation:
https://github.com/ZFTurbo/volumentations/blob/109d1d78025fd06db75fe96db29422a851b32cfb/volumentations/augmentations/transforms.py#L645-L654

[2021-04-12 14:00] wyli opened #1994 "Set up CI/CD for JIT extension packaging/release"
**Is your feature request related to a problem? Please describe.**
follow up of PR #1802, CI/CD should be updated to support the packaging and release of the new features https://github.com/Project-MONAI/MONAI/pull/1802#issuecomment-814838242

[2021-04-12 14:25] rijobro opened #1996 "deepgrow pytype error"
**Describe the bug**
Pytype for deepgrow fails locally:

[code]

I don't understand why, since the line of code looks fine: `if not isinstance(transforms, Compose):`. Does this fail locally for anyone else, or just me? Any idea how to fix?

[2021-04-12 14:28] wyli commented on #1996
strange, the current CI works fine (with a fresh ubuntu) using these commands:
https://github.com/Project-MONAI/MONAI/blob/b4d8780a546a98fb3274e9a372e89716d14eb02f/.github/workflows/pythonapp.yml#L34-L42

[2021-04-13 14:31] wyli opened #2003 "a "what's new" section in docs.monai.io"
**Is your feature request related to a problem? Please describe.**
the current feature highlight page is a combination of all the public alpha features
would be great to have a separate link/page for `compare/0.4.0...0.5.0`

part of #1889

[2021-04-13 17:58] wyli commented on #1996
perhaps install the latest dev requirements
[code]
would resolve this?

a few of us had this issue locally, but all addressed by `--upgrade`
(but this won't work for macOS because there isn't a release for `cucim` on macOS)

[2021-04-14 09:47] rijobro commented on #1996
Ok, I understand. I was using macOS, so this explains the problem.

[2021-04-14 09:47] #1996 closed

[2021-04-14 12:03] wyli opened #2007 "MapLabelValue is incorrect when mapping strings"
**Describe the bug**
the issue is mainly with the string mapping

**To Reproduce**
[code]
output:
[code]

[2021-04-14 12:59] #1889 closed

[2021-04-14 12:59] #2003 closed

[2021-04-14 13:40] Nic-Ma commented on #2007
I will take a look at it.
Thanks.

[2021-04-14 15:23] #1985 closed

[2021-04-14 17:33] #2007 closed

[2021-04-14 22:03] djoerch opened #2009 "Duplicated records of `RandSpatialCropSamplesd` in `key_transforms` in case of preceding transforms"
**Describe the bug**

When using `RandSpatialCropSamplesd` in a transform chain in a dataset the record of transforms (`key_transforms`) of a single output patch differs depending on whether another transform has been called before or not.

**To Reproduce**
[code]

The output I got from this is:
[code]

**Expected behavior**
I would expect that the `RandSpatialCropSamplesd` appears only once in th

[2021-04-15 08:17] rijobro commented on #2009
Thanks for raising this, I'll look into it now.

[2021-04-15 08:49] Nic-Ma opened #2011 "Inverse of SpacingD transform can't work with SegmentationSaver resample"
**Describe the bug**
If we set `resample=True` in the SegmentationSaver and save the inverted results of SpacingD transform, it will output a data with wrong content, seems somewhere modified `affine`.

[2021-04-15 08:49] Nic-Ma commented on #2011
I will take a look at this issue ASAP.
Thanks.

[2021-04-15 10:21] davidiommi opened #2012 "3D Gan question"
Hello,

I was reading a previous thread about the implementation of GANs in Monai. Does Monai support 3D GANs? Is a pix2pix or a dcGan implementation?

The tutorial shows a 2D GAN, but I suppose it's enough to the change the setting for the 3D case

Thanks in advance

[2021-04-15 10:24] Nic-Ma commented on #2012
Hi @ericspod ,

I think the GAN networks in MONAI support both 2D and 3D.
Could you please help double confirm?

Thanks.

[2021-04-15 12:07] ericspod commented on #2012
The `Generator` and `Discriminator` networks do support 2D and 3D. They and other networks require arguments to state the input size and the dimensionality of the network is inferred from that. For `Generator` this is `start_shape`, which if it has 4 values for (channel, depth, width, height) values will produce a 3D network. For `Discriminator` and the other subtypes of `Regressor` this is `in_sh

[2021-04-15 12:13] Nic-Ma commented on #2011
Hi @wyli ,

Actually, I checked the code and I think there is no issue with the resampling logic in SegmentationSaver.
We should set `resample=False` when saving inverted data, if set to True, it will fetch the `affine` of `image_meta_dict` from `engine.state.batch`, **not the inverted meta_dict of `pred`**. So `affine` is not equal to `original_affine`.
I submitted PR to give user a warning messa

[2021-04-15 12:29] neuronflow commented on #1847
@Nic-Ma sorry I missed your response. The difference is that only one of the transforms will be picked from the list. While in the the other case you can end up with `0` to `n` transforms.

You could use it if you want to run an affine OR elastic  transformation on your data but not both.

[2021-04-15 12:34] Nic-Ma commented on #1847
Hi @wyli @ericspod @rijobro ,

Sounds interesting, what do you guys think about this feature?
Thanks.

[2021-04-15 12:54] #2011 closed

[2021-04-15 16:08] Nic-Ma opened #2018 "Missing inverse for `LoadImageD` transform"
**Describe the bug**
As the `LoadImageD` transform may convert input data and `affine` here:
https://github.com/Project-MONAI/MONAI/blob/master/monai/data/image_reader.py#L389
Need to support inverse operations.
Otherwise, we can't get proper results to compare with the input image if set `as_closest_canonical=True`.

[2021-04-15 16:10] Nic-Ma commented on #2018
Hi @rijobro ,

Could you please help take a look at this issue?
Our internal users found that we can't invert prediction properly if set `as_closest_canonical=True`.

Thanks in advance.

[2021-04-15 20:49] ericspod commented on #1847
Imgaug uses these sorts of [meta-augments](https://imgaug.readthedocs.io/en/latest/source/overview/meta.html) as does other libraries like albumentations. Adding the meta-transforms for doing a sequence of transforms (sometimes) or selecting from a list (someof or oneof) wouldn't be difficult. These would be treated like any other randomized transform and not cached by dataset classes.

[2021-04-15 22:55] myron opened #2019 "SimpleInferer add roi_size support to pad/unpad"
Can we add roi_size input parameter to SimpleInferer.
https://github.com/Project-MONAI/MONAI/blob/2d8595d5cbf9ae3d4ed3bc694694cda9f50244f8/monai/inferers/inferer.py#L68
The use case would be to do pad image to a larger size (roi_size) and do a single inference and then unpad back to the original.  The roi_size usually would be some "larger than image" size divisible e.g. by 8 (depending on the net

[2021-04-16 08:02] ferchonavarro commented on #447
Hi @Nic-Ma one question also related to the RandZoom, ut seems like the default padding is to mirror the pixels in the border, is it possible to change this to minimum or zeros?

[2021-04-16 08:09] Nic-Ma commented on #447
Hi @ferchonavarro ,

May I know why you want to change the default value of padding arg?
I think for most cases, `edge` can help to generate a smooth edge in the image, and it will not affect the training.

Thanks.

[2021-04-16 09:39] Antymon opened #2020 "Does the use of `np.random.RandomState` compromise randomness when used in multiprocessed PyTorch DataLoader?"
I have noticed that the PyTorch datasets implementations leverage `np.random.RandomState`.

I do wonder whether this might result in compromising pseudo-randomness in multiprocess scenarios:

A detailed explanation of the problem I have in mind is available [here](https://tanelp.github.io/posts/a-bug-that-plagues-thousands-of-open-source-ml-projects/).

[2021-04-16 11:13] #2020 closed

[2021-04-16 11:25] #2012 closed

[2021-04-16 11:26] ferchonavarro commented on #447
Hi @Nic-Ma

I dont really know if this will affect the trianing. Just visually it makes more sense that after a RandZoom transformation the image has zero pad or minimum or max depending on the user, for example in this image
![sub-verse417_split-verse277_ce-no_L2](https://user-images.githubusercontent.com/19378667/115017190-6aebb200-9eb6-11eb-9296-16e2494b492c.png)

Rather than something like thi

[2021-04-16 11:57] wyli commented on #2019
this should be useful, would be great to make this padding step reversible as well

[2021-04-16 12:10] wyli opened #2023 "CRFTestCaseCuda test case issue"
**Describe the bug**
one of the test cases of `tests.test_crf_cuda.CRFTestCaseCuda` fails randomly (with a small chance)

**To Reproduce**
this error
e.g. CI log: https://github.com/Project-MONAI/MONAI/runs/2361733732?check_suite_focus=true#step:6:7821
[code]

**Expected behavior**
no failure for this test case

cc @charliebudd

[2021-04-16 15:06] Nic-Ma commented on #2019
Hi @wyli ,

May I know what's the difference with `DivisiblePad` transform?

Thanks.

[2021-04-16 15:25] charliebudd commented on #2023
Thanks for pointing this out, I've tried it quite a number of times and cant repeat the error in the environment specified. I can raise the diff threshold so that its not in any bodies way and open a seperate issue to investigate this fully in the future?

[2021-04-16 15:37] charliebudd opened #2024 "Non determinism in CRF algorithm on certain configurations."
Output from the CRF module can vary slightly when run on the same input.

See #2023.

The magnitude of the variance is quite low and seems to be localised to the edges of the input.

[2021-04-16 15:41] Nic-Ma opened #2026 "Provide all available data in `engine.state.output` of workflows"
**Is your feature request related to a problem? Please describe.**

Hi @ericspod @wyli @rijobro ,

The problem and idea is that:
currently, MONAI post transforms(independent with ignite) execute on the `engine.state.output` dict, the post transforms can't get some useful information in `engine.state.batch`, for example, the meta_dict of images or some transform information we put in the `engine.st

[2021-04-16 17:39] wyli commented on #2019
this is with torch tensors, and there's no data dict for the extra info...

[2021-04-16 17:40] wyli commented on #2018
I feel we should use the `Orientation` transform to achieve this option, now the transform is also invertible

[2021-04-16 19:56] vfdev-5 commented on #2026
Hi @Nic-Ma ,

I'm just wondering what is expected by doing this line : `engine.state.output = dict(engine.state.batch)` , the structure of batch is a sequence, so we can not construct a dict from it ?

Previously, I had a project where I needed also to apply data transformation inversion to the input batch and as far as I remember, this meta info was passed to output as you are suggesting with :
[

[2021-04-16 19:56] wyli commented on #2026
I feel MONAI as a user of pytorch ignite should wait for the upstream's sufficient discussions and provide concrete use cases to help them make decisions... this proposal doesn't look like the intended way of using ignite, but I might be wrong here

[2021-04-16 23:37] Nic-Ma commented on #2026
Hi @vfdev-5 and @wyli ,

Thanks for the discussion.
This proposal expects the `engine.state.batch` to be a dict, which associated with dict transforms in MONAI.
I agree if ignite can help discuss this problem and make some change or give us suggestions, that would be great.
@vfdev-5 do you mean to make a `CopyProperties` handler to manually specify and copy expected data by users?

Thanks.

[2021-04-17 00:16] pfdamasceno commented on #901
@talmazov do you mind sharing the final working version?

[2021-04-17 10:18] cgrain opened #2028 "Saved Image is not equal to the original"
**Intro**
The other day, I tried to speed up the training process of our project by saving training images after the deterministic transformations had been executed. (Resampling in particular). I encountered the following problem:

**Expectation**
Saved images are equal or almost equal (`np.allclose(X, X_hat) == True`)

**Procedure**
1. Loading images
2. Performing transformations (It turned out,

[2021-04-17 10:36] neuronflow commented on #1847
Yes, OneOf and SomeOf would be highly appreciated :)

[2021-04-18 00:28] wyli commented on #2028
I'm converting this to a discussion as it is mainly a usage issue:
- SpacingD assumes "channel-first" format, so `image` should be `Random.standard_normal((1, 256, 256, 35))`
- the `niftisaver` will assume the current data array is in `['img_meta_dict']['affine']` coordinates, and try to covert the array to `['img_meta_dict']['orignal_affine']`, the only way to prevent any change to the array is t

[2021-04-18 00:28] #2028 closed

[2021-04-18 10:26] bbb801 opened #2030 "Official OcclusionSensitivity example is not workable"
Dear Sir,

I just copied and pasted the commands from MONAI official documentation (see: https://docs.monai.io/en/latest/visualize.html?highlight=OcclusionSensitivity)

It is here:    It is for the use of 3d OcclusionSensitivity.
![image](https://user-images.githubusercontent.com/52306405/115015726-b027d800-9ee6-11eb-9a0e-ea3376440768.png)

I ran the code and used the correct version of Monai (0.5

[2021-04-19 00:12] #2030 closed

[2021-04-19 00:49] naruetep opened #2032 "issue with LoadNifti & denseNet121 in V.0.5.0"
Previously the following codes was working
but it showed error messages and could not continue:

!pip install -q "monai[gdown, nibabel, tqdm]"

from monai.transforms import \
    Compose,  AddChanneld, ScaleIntensityd, ToTensord, RandRotated, RandFlipd, RandZoomd, Spacingd, SpatialPadd, CenterSpatialCropd , LoadNiftid
from monai.networks.nets import densenet121

Below are the errors:

ImportError:

[2021-04-19 00:54] naruetep commented on #2032
Typo: should have a backslash sign:
from monai.transforms import \

All my codes were working before the new V.0.5.0

[2021-04-19 04:31] itruonghai opened #2033 "Nifti.save_batch does not work as expected?"
Dear author,

I try to recover the original image after going through the model. I have tried the following command  (saver = NiftiSaver)
[code]
Here is my transforms to
[code]
As the result., the segmentation of (200,200,96) image is placing on the top left of the images (it does not recover as the original ones?). How can I solve this problem

[2021-04-19 05:32] Nic-Ma commented on #2032
Hi @naruetep ,

These are breaking changes in MONAI v0.5.
Please change to `LoadImageD` transform and `DenseNet121` network instead.

Thanks.

[2021-04-19 05:47] Nic-Ma commented on #2033
Hi @itruonghai ,

Thanks for your interest here.
To invert the pre-transforms on model prediction, please refer to this tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/modules/inverse_transforms_and_test_time_augmentations.ipynb

Thanks.

[2021-04-19 07:19] #2033 closed

[2021-04-19 07:24] wyli commented on #2032
I received quite a few questions about the same densenet name issue recently. shall we make alias of the classes, for example, `densenet121 = DenseNet121`  cc @yiheng-wang-nv

[2021-04-19 07:56] Nic-Ma commented on #2032
Hi @wyli ,

Make sense, let's try to add some alias for DenseNet.

Thanks.

[2021-04-19 10:03] #2032 closed

[2021-04-19 12:49] naruetep opened #2039 "My "compute_roc_auc" does not work in V0.5.0"
from monai.metrics import compute_roc_auc  -> Ok

but
compute_roc_auc(y_pred, y, to_onehot_y=True, softmax=True) ; use to work before but failed in  V0.5.0

Error message:
TypeError: compute_roc_auc() got an unexpected keyword argument 'to_onehot_y'

[2021-04-19 13:24] Nic-Ma commented on #2039
Hi @naruetep , `to_onehot_y` arg is dropped in MONAI v0.5.0, please use post transform to do OneHot:
https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/post/array.py#L133

Thanks.

[2021-04-19 13:50] wyli opened #2041 "Branches restructuring"
### Is your feature request related to a problem? Please describe.
Currently, the MONAI repo has
- `master` branch: accepting pull requests, new features and/or bug fixes -- full CI/CD tests, nightly tests.
- `releases/*` branch: branching off from the master, no direct commits allowed -- releasing/packaging related tests
- contributors' pull request `forks`: code change proposals -- quick pre-mer

[2021-04-19 14:53] Nic-Ma opened #2042 "Add `post_func` to `TransformInverter` handler"
**Is your feature request related to a problem? Please describe.**
Need to add support to do additional processing after inverting transforms.

[2021-04-19 21:42] vfdev-5 commented on #2041
@wyli interesting suggested approach! Curious to see how it works in practice and if it really helps to solve the above issue without headaches of what to merge etc.

In the first approach: `master - releases/*`, you also can merge all features to the master and prepare releases as a new branch `vX.Y.Z` starting from somewhere on the master or previous release branch and cherry-picking from master

[2021-04-19 22:20] wyli commented on #2041
Hi @vfdev-5 in case you haven't seen it, the approach is mostly adapted from Gitflow https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

`main` maintains the history of milestones, `dev` is the integration of features, `releases/*` and `forks` are supporting branches

[2021-04-19 22:30] vfdev-5 commented on #2041
@wyli thanks for the link! Yes, heard recently about gitflow workflow but haven't seen yet in practice on a project that I worked on.

[2021-04-19 23:18] Nic-Ma opened #2043 "Add support to compute metrics on list of images and tensor label"
**Is your feature request related to a problem? Please describe.**
Need to support the case that the image is a list of tensors and label is only 1 tensor during metrics computation.

[2021-04-19 23:24] Nic-Ma opened #2044 "ignore `label` in the workflow if it's not tensor"
**Is your feature request related to a problem? Please describe.**
During evaluation, now we use `prepare_batch` to extract `image` and `label` fields if existing the key. But maybe we don't want to load `label` for inference and didn't apply transforms, so need to ignore it for this case.

[2021-04-19 23:30] Nic-Ma opened #2045 "Add support to move data to `device` after inverting"
**Is your feature request related to a problem? Please describe.**
Need to enhance the `TransformInverter` handler to move data to expected `device`.

[2021-04-20 00:25] Nic-Ma opened #2046 "Add warning or check if epoch length is 0 in workflows"
**Is your feature request related to a problem? Please describe.**
If the data length is 0 in the workflow, ignite will raise error, need to to catch the error or check it before running.

[2021-04-20 00:53] behxyz opened #2047 "TorchVisiond does not support randomized transforms"
**Describe the bug**
`TorchVisiond` is a wrapper for any torchvision transform. However, it is not a `RandomizableTransform`, so when used to wrap randomized transforms from torchvision, it fails to acknowledge the randomness nature of those transforms. It is particularly troubling in data augmentation and situations like `SmartCache` that caches non-random transformation.

[2021-04-20 00:55] ericspod commented on #2041
Gitflow or some parts of it are used for various projects. I feel the important aspect is that the code in master as seen by users is the most recent release so that whatever they get through pip will have matching source code right in front of them. The master/dev/release separation will help with general organization and clean up the commit history for master so that it's easier for non-core dev

[2021-04-20 08:33] patriciacs1994 opened #2050 "RandSpatialCropSamples seems to output a strange result"
Hello,

I have a 3D image and I want to select a number of random patches with a shape (96,96,96). So I decided to use RandSpatialCropSamples. Here you can see my piece of code:

[code]

My problem is in the **inputs** and **labels** parameters. both have a size of (2,1,96,96,96), but when I plot them, both inputs and labels are pieces of the original image and labels should be the correspondent p

[2021-04-20 10:38] wyli commented on #2041
thanks for the comments @ericspod, while waiting for any further comments, let me set up a `dev` with proper CI/CD, this should be non-breaking, I've updated the task list

[2021-04-20 10:51] wyli opened #2051 "CropForeground with divisible-size bounding boxes"
**Is your feature request related to a problem? Please describe.**
There's a new requirement for extracting foreground ROIs while keeping the ROI size to be divisible by `K`.

**Describe the solution you'd like**
would be great to have a `pad_divisible` option for `CropForeground`. For example,  if `pad_divisible=8`, the ROI
 extracted would always have a shape divisible by `8`.

**Describe altern

[2021-04-20 11:11] #2050 closed

[2021-04-20 14:13] lyndonboone opened #2054 "Rician Noise Transform"
**Is your feature request related to a problem? Please describe.**
Working with augmentation for DL pipelines, it would be nice to have a noise transform that resembles MRI noise more closely.

**Describe the solution you'd like**
Would it be possible to add a transform that models Rician noise, as a complement to the current Gaussian noise transform? Example of a Rician noise transform implemente

[2021-04-20 15:07] wyli opened #2056 "additional events in the deepgrow interaction engine"
**Is your feature request related to a problem? Please describe.**
This is a feature request for adding extra engine events within the click simulation loops during the deepgrow model training:
https://github.com/Project-MONAI/MONAI/blob/abad8416153e67aac04417bbd9398f334b9c0912/monai/apps/deepgrow/interaction.py#L61-L77

the main benefit is to have flexible simulation handlers attached to the inne

[2021-04-20 15:09] wyli commented on #2054
welcome! please have a look at the contributing doc in case you haven't seen it https://github.com/Project-MONAI/MONAI/blob/master/CONTRIBUTING.md#preparing-pull-requests

[2021-04-20 15:14] Nic-Ma commented on #2056
Please refer to the existing `SupervisedTrainer`:
https://github.com/Project-MONAI/MONAI/blob/master/monai/engines/trainer.py#L164

Thanks.

[2021-04-20 15:22] #2042 closed

[2021-04-20 15:45] Nic-Ma commented on #2051
Sounds interesting a feature request.
Thanks.

[2021-04-20 15:48] diazandr3s commented on #2056
Thanks @wyli .
@Nic-Ma in the current SupervisedTrainer implementation can I access the simulated positive and negative points for a single image?

[2021-04-20 21:56] Nic-Ma commented on #2056
Hi @diazandr3s ,

I mean you can refer to the current SupervisedTrainer to add additional events.

Thanks.

[2021-04-20 22:54] Nic-Ma opened #2058 "Add support for non-tensor data in TransformInverter"
**Is your feature request related to a problem? Please describe.**
Now `TransformInverter` expects input data to be PyTorch Tensor, we need to support numpy also.

[2021-04-20 22:58] #2039 closed

[2021-04-20 23:29] diazandr3s commented on #2056
Superb! @danieltudosiu and I implemented a couple of engine events called INNER_ITERATION_STARTED and INNER_ITERATION_COMPLETED for a custom Interaction implementation.

            engine.fire_event(DeepEditEvents.INNER_ITERATION_STARTED)

            engine.network.eval()
            with torch.no_grad():
                if engine.amp:
                    with torch.cuda.amp.autocast():

[2021-04-21 02:53] #2044 closed

[2021-04-21 05:53] #2046 closed

[2021-04-21 11:29] Nic-Ma commented on #2051
Hi @wyli ,

About this feature request, I have a question:
If the divisible ROI is bigger than the image size, should we pad it or leave it as the real size?

Thanks.

[2021-04-21 11:34] wyli commented on #2051
I think we should pad to divisible, the network can be incompatible with the original size

[2021-04-21 11:40] #2043 closed

[2021-04-21 13:39] #2045 closed

[2021-04-21 19:32] lyndonboone commented on #2054
Thanks for the reply, @wyli ! I just opened up a WIP pull request for the proposed transform ( #2066 )

[2021-04-21 21:42] #2009 closed

[2021-04-22 00:03] #2018 closed

[2021-04-22 01:07] talmazov commented on #901
@pfdamasceno sorry for the delay in my response. I created a repo, link is below. I had to resize each volume and labelmap in my training set to 512 x 512 x 100. My understanding is that slice's dimensions have to be multiple of UNet's channels=(16, 32, 64, 128, 256) definition (line 127 in my working example)
I used https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation repository

[2021-04-22 01:14] talmazov commented on #901
@pfdamasceno sorry for the delay in my response. I created a repo, link is below. I had to resize each volume and labelmap in my training set to 512 x 512 x 100. My understanding is that slice's dimensions have to be multiple of UNet's channels=(16, 32, 64, 128, 256) definition (line 127 in my working example)
I used https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation repository

[2021-04-22 08:15] amine0110 opened #2067 "RuntimeError: Sizes of tensors must match except in dimension 4. Got 4 and 3 (The offending index is 0)"
**Describe the bug**
Hi there
I am trying to do 3D segmentation from the spleen example. I took the program as it is, but I divided each **nifti file into group of 30 slices instead of 300** at least (I am working on full body tumor segmentation).
So I have got this problem:
`RuntimeError: Sizes of tensors must match except in dimension 4. Got 4 and 3 (The offending index is 0)`

I am trying to so

[2021-04-22 10:33] #2067 closed

[2021-04-22 10:34] wyli commented on #2058
addressed by https://github.com/Project-MONAI/MONAI/pull/2062

[2021-04-22 10:34] #2058 closed

[2021-04-22 17:35] ShadowTwin41 opened #2073 "Error doing transforms in some orders"
When I do:
<train_transforms = Compose([AddChannel(),
                                #Resize(spatial_size  =(32, 32, 20), mode='trilinear', align_corners =False),
                                ResizeWithPadOrCrop(spatial_size =(64, 64, 64), mode='constant'),
                                RandRotate(prob=0.1,range_x=0.052,range_y =0.052,range_z =0.052),
                                RandFlip

[2021-04-23 04:31] #2051 closed

[2021-04-23 07:11] Nic-Ma commented on #2073
Hi @ShadowTwin41 ,

Thanks for your interest.
Could you please try to use MONAI v0.5.0 and paste all your error message?

Thanks.

[2021-04-23 11:09] danieltudosiu commented on #1127
@masadcv did you have time to check the MS-SSIM? I implemented a prototype of the the 4-G-MS-SSIM [1] by extending pytorch_msssim [2], and was wondering if we could merge our progress for this ticket.

[1] Li, C. and Bovik, A.C., 2010. Content-partitioned structural similarity index for image quality assessment. Signal Processing: Image Communication, 25(7), pp.517-526.
[2] https://pypi.org/projec

[2021-04-23 13:14] ShadowTwin41 commented on #2073
I updated my MONAI to v0.5.0, and the error message is:
`input data information of the runtime error transform:
Data statistics:
Type: <class 'torch.Tensor'>
Shape: torch.Size([1, 64, 64, 64])
Value range: (0.0, 8353.06640625)
input data information of the runtime error transform:
Data statistics:
Type: <class 'torch.Tensor'>
Shape: torch.Size([1, 64, 64, 64])
Value range: (0.0, 8706.50390625)
inp

[2021-04-23 13:56] wyli commented on #2041
looks like renaming `master` to `dev` is more convenient... from this doc https://github.com/github/renaming:

[2021-04-23 14:06] Nic-Ma commented on #2073
Hi @ShadowTwin41 ,

Thanks for your log information, the root cause is that `RandAffine` transform ouput PyTorch Tensor by default while `RandScaleIntensity` expects a numpy array.
You can add the arg `as_tensor_output=False` to your `RandAffine` and test again.

Thanks.

[2021-04-23 15:23] ericspod commented on #2041
If we're sure our actions and other operations will move over correctly then I'm fine with that. We'd then create a new master as a branch from what was master.

[2021-04-23 15:28] ajabri opened #2077 "BilateralFilter cuda implementation limited number of channels?"
It seems that the BilateralFilter cuda kernel silently fails (returns zeros) on inputs with more than 16 channels. Here is an example of the 2D case:

[code]

Is this expected?

Thanks!
Allan

[2021-04-24 14:27] masadcv commented on #1127
@danieltudosiu I have not started on this yet, got busy in other stuff. It would definitely be worth including as much as we can. My idea for this was to go for regression metrics such as: MSE, MAE, SSIM, PSNR, etc and it seems the MS SSIM may be a good fit. As these are just evaluation metrics, I dont see a point in putting a lot of effort in making them differentiable in the first instance, unle

[2021-04-24 14:50] sandylaker opened #2080 "Program freezes when using DDP training"
**Describe the bug**
I tried to run the example code from [monai tutorials](https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_workflows.py) on a node with 8 GPUS. But the program freezes when appending `StatsHandler` and `CheckpointSaver` to the handlers of trainer.

**To Reproduce**
Steps to reproduce the behavior:
1. I added some lines to the

[2021-04-24 23:50] masadcv commented on #1127
@danieltudosiu I have added the proposal implementation. Can you have a look and see if your code can be merged into this? Please note this is still an early work in progress, so there may be changes/improvements that may be done in coming days to it. To include your implementation, you may find RegressionMetric class useful where I have added some basic shape checking and reduction functionality.

[2021-04-25 00:19] Nic-Ma commented on #2080
Hi @sandylaker ,

Thanks for your experiment with MONAI.
Can you identify:
1. Does it hang in creating `StatsHandler` or creating `CheckpointSaver`?
2. If you removed these 2 handlers, can it run(maybe no logging)?

Thanks.

[2021-04-25 00:26] masadcv commented on #1984
Hi @wyli
Is anyone looking into this? If not I can start looking into it at the starting at the end of next week. Which torch hub models would be good to have this for? Also do you know whether there are existing 3D models in torch hub similar to the example in the link? I am thinking the first task would be to have 3D variants of the relevant models so they can be instantiated before copying 2D w

[2021-04-25 00:33] sandylaker commented on #2080
Hi,

1. It hanged in creating Checkpointsaver.
2. After removing the two handlers, the code successfully run.
3. I also adapted the code to using pure ignite.distributed modules (e.g. using ignite.distributed.Parallel context manager) and horovod backend. The code then run successfully. I speculated that it was caused by ignite or slurm. Next, I created a dummy script, where I used the Parallel co

[2021-04-25 00:48] vfdev-5 commented on #2080
@sandylaker thanks for the details. If you are using torch native dist communication (e.g. nccl or gloo), we can catch slurm env vars to env setup for torch distributed process group:

https://github.com/pytorch/ignite/blob/a8f521e3ccf5141aee47ecd682f4b53f46c7cabb/ignite/distributed/comp_models/native.py#L211-L215

As you are using slurm and torch dist launcher, it may create a mix between these t

[2021-04-25 11:15] danieltudosiu commented on #1127
@masadcv @wyli @Nic-Ma Shouldn't all our metrics be DDP compliant similar to those:

https://pytorch.org/ignite/_modules/ignite/metrics/mean_squared_error.html

[2021-04-25 11:46] Nic-Ma commented on #1127
Hi @danieltudosiu ,

Yes, all the metrics should be DDP compliant in MONAI, I think all the existing metrics support DDP.

Thanks.

[2021-04-25 12:50] #2073 closed

[2021-04-25 13:48] wyli commented on #1984
thanks @masadcv, please look into this if you have time. currently we have a few places supporting the pretrained, perhaps we can start with the SENet? for example: https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/senet.py#L254-L260 and it's possible to instantiate 3D versions https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/senet.py#L73 . We need someth

[2021-04-26 09:42] Nic-Ma opened #2087 "DeepGrow transform broken as `SpatialCrop` changed properties"
**Describe the bug**
The CropTransform of DeepGrow app depends on the `SpatialCrop` transform, but recent PR changed it, so this line can't work anymore:
https://github.com/Project-MONAI/MONAI/blob/master/monai/apps/deepgrow/transforms.py#L481

[2021-04-26 09:45] Nic-Ma commented on #2087
Hi @rijobro ,

Your previous PR: https://github.com/Project-MONAI/MONAI/pull/1954 changed the properties of `SpatialCrop` transform, which is used in the DeepGrow module.
Could you please help take a look and update `SpatialCrop` or update `DeepGrow` transform?
And it's better to add 1 more unit test to cover this case in the DeepGrow tests. @SachidanandAlle

Thanks in advance.

[2021-04-26 12:25] dianemarquette opened #2090 "Misaligned labels saved using NiftiSaver and viewed in 3D Slicer"
**Describe the bug**
I used the `spleen_segmentation_3d.ipynb` tutorial to train a network using a custom dataset (CT scans of hands). When I open the segmentation labels using 3D Slicer, the segments are not aligned with the original scans.

**To Reproduce**
I used the code from the `unet_evaluation_dict.py` script in the 3D segmentation folder and added it to the evaluation cell of the spleen se

[2021-04-26 13:34] ddrobny commented on #1332
There is a recent paper using a convolution-based and differential approximation for a distance transform:
https://link.springer.com/chapter/10.1007%2F978-3-030-71278-5_31
There doesn't seem to be related code published yet but it might be worth looking into.

[2021-04-26 14:35] charliebudd commented on #1994
I think the issue is not the coverage of the JIT extention. I've included unit tests for the GMM algorithm which would fail if the JIT system had issues. Really the problem is that the pypi process is not covered, and this isnt such a simple fix.

Currently our unit tests workflow checks out the incoming branch. While this works, it isn't how most users will get MONAI and means it hasnt gone throu

[2021-04-26 14:46] wyli commented on #1994
we have some basic package tests for  pip install commands and `min_tests` every time we release a milestone version on PyPI https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/release.yml#L34-L63 perhaps we could make it nightly and extend the coverage

[2021-04-26 15:09] charliebudd commented on #1994
Would it not make sense to pip install monai like in release.yml for the normal PR workflow?

[2021-04-26 15:39] #2087 closed

[2021-04-26 23:30] Nic-Ma opened #2092 "Enhance the log of SegmentationSaver"
**Is your feature request related to a problem? Please describe.**
We need to print out more info when saving segmentation results, now it's only:
[code]

[2021-04-27 02:00] #2092 closed

[2021-04-27 05:34] Nic-Ma opened #2095 "ClassificationSaver can't work if ranks have different iterations"
**Describe the bug**
Currently, if the ranks have different iteration number, it will hang when it try to `all_gather` info from ranks.

[2021-04-27 09:06] danieltudosiu commented on #1127
Update:
Privately I have a working implementation of all the known SSIM derivatives:
- SSIM, G-SSIM, 3-SSIM, 4-SSIM
- MS-SSIM, MS-G-SSIM, 3-MS-G-SSIM, 4-MS-G-SSIM

At the moment it has an instability issue where due to padding it can result in NaN. After discussions with my supervisor I will shift to cropping the gradient maps to fit the SSIM map so all the measurements are in areas where the conv

[2021-04-27 10:34] marksgraham opened #2097 "CoordConv transform"
**Is your feature request related to a problem? Please describe.**
CoordConv gives networks an idea of where they are in an input by adding additional channels to the input that simply contain the spatial coordinate system. It has been shown to improve performance in various computer vision tasks, [paper here](https://arxiv.org/abs/1807.03247).

**Describe the solution you'd like**
This could be s

[2021-04-27 11:01] ericspod commented on #1994
In our workflow we can install MONAI however we like but we can also clone the repo locally and run the tests that we pull down. I think we do need to discuss this at the next meeting and work out how this will fit in with the gitflow migration. Our CI/CD pipeline is going to change somewhat for this regardless.

[2021-04-27 11:02] masadcv opened #2098 "Running CRF layer raises CUDA error: an illegal memory access was encountered"
**Describe the bug**
Running CRF layer raises "*CUDA error: an illegal memory access was encountered*"
I am running CRF on volumetric data having probability with 2 classes. Typical input shapes for my cases are: (1, 2, 512, 512, 96) and (1, 1, 512, 512, 96). I have also tried with shapes (1, 2, 128, 128, 96) and (1, 1, 128, 128, 96) it fails with same error after a few calls (see example below).

[2021-04-27 11:04] marksgraham opened #2099 "MONAI dataloader does not exhibit random behaviour when using np.random"
**Describe the bug**
There is a known issue with PyTorch's dataloader with >0 workers and using `np.random` to generate random numbers, described [here](https://tanelp.github.io/posts/a-bug-that-plagues-thousands-of-open-source-ml-projects/). This issue does not occur if you use `torch.randint` to generate the random numbers.

I had though MONAI's dataloader fixes this issue by setting a default `

[2021-04-27 11:10] ericspod commented on #2099
The expectation is that the random behaviour that you would get with `torch.randint` should be matched if substituted with `np.random.randint`. This isn't the case since [set_rnd](https://github.com/Project-MONAI/MONAI/blob/5eb919869b4211b8f8146a89132127c5fb6bec89/monai/data/utils.py#L400) doesn't set numpy's random state.

This is a problem if you're interating through data in your dataloaders in

[2021-04-27 11:10] danieltudosiu commented on #2099
Also, correct me if I am wrong, but isn't this critical since MONAI's transformations are currently numpy based?

[2021-04-27 11:31] wyli commented on #2099
the monai loader with the `set_rnd` worker_init_fn will set all the `Randomizable` components properly https://github.com/Project-MONAI/MONAI/blob/5eb919869b4211b8f8146a89132127c5fb6bec89/monai/transforms/transform.py#L74-L78
it'll not directly modify the global random state for the `np.random` methods. I feel this is a good behaviour but happy to know any other options

[2021-04-27 12:28] charliebudd commented on #2098
Recreated this [here](https://colab.research.google.com/drive/1P7dRGVPq2VAxfjsT9KK9ZOyNhpPNWA9r#scrollTo=H2ikw2ZwOD3U).

Error happens about once in every 800 times all though thats a rough figure. Note that I've been totally unable to recreate this whilst running locally.

The error doesn't occur at the same point every time suggesting this is probably not a memory leak. This may be related to th

[2021-04-27 12:53] rijobro commented on #2099
@wyli maybe i've misunderstood you, but are you saying that simply inheriting `RandomDataset` from `Randomizable` should solve the problem? Because I just tried that and the behaviour persisted.

[2021-04-27 13:00] wyli commented on #2099
a quick example would be:
[code]

[2021-04-27 14:08] #2095 closed

[2021-04-27 23:35] Nic-Ma commented on #2090
Hi @dianemarquette ,

Thanks for your experiments.
Could you please help update MONAI to 0..5.2 and invert the transforms for the model output and set "resample=False" when saving?
Refer to this tutorial: https://github.com/Project-MONAI/tutorials/blob/master/modules/inverse_transforms_and_test_time_augmentations.ipynb

Thanks.

[2021-04-28 00:08] masadcv commented on #1984
Many thanks @wyli , I will have a look into this over the weekend.

[2021-04-28 01:05] Nic-Ma opened #2103 "Need to deepcopy data in RandCropByPosNegLabeld transform"
**Describe the bug**
Currently, when we crop samples in `RandCropByPosNegLabeld` transform, it uses shallow copy for meta_data and other information, then if we change some value in a sample, all the samples are changed.
Need to use `deepcopy` for it, similar issue to the `RandSpatialCropSamplesd`.

[2021-04-28 09:52] marksgraham commented on #2099
Thanks @wyli, good to know this doesn't affect MONAI's transforms.

Can I ask why MONAI relies on np for random numbers, and not torch? I notice other packages, such as torchvision and torchio, use torch's rng which means they get the correct random behaviour even with torch's default dataloader. As it stands in MONAI, for users to get the correct random behaviour they need to both use MONAI's dat

[2021-04-28 10:20] wyli commented on #2099
one of the motivations is to provide the flexibility of component-specific determinism without affecting the global states. the pytorch 'equivalent' would be torch.Generator but I have a. impression that the API is not stable/widely supported

[2021-04-28 10:37] tvercaut commented on #1332
Thanks @ddrobny.

On a related note, tensorflow has a GPU implementation of the Felzenszwalb & Huttenlocher Distance transform:
- https://www.tensorflow.org/addons/api_docs/python/tfa/image/euclidean_dist_transform
- https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/image/cc/kernels/euclidean_distance_transform_op_gpu.cu.cc
Note sure if it's differentiable but it would

[2021-04-28 10:39] rijobro commented on #2099
Definitely sounds like if we don't change the current implementation we need to **at least** improve the documentation to make it clearer to future users.

[2021-04-28 10:48] ericspod commented on #2099
Many other libraries and examples are numpy based so we want to support that ecosystem, although some of our transforms do operate with Pytorch components such as the affine ones. We do have a mismatch between APIs if we introduce more that use Pytorch and not use their Generator class since we're setting Pytorch seed globally but Numpy seed locally with the Randomizable transform.

Definitely we

[2021-04-28 10:52] tvercaut commented on #78
There is no clear action point that I can see related to this issue -> closing

[2021-04-28 10:52] #78 closed

[2021-04-28 10:59] #2103 closed

[2021-04-28 12:36] marksgraham commented on #2099
OK, agreed the use of np's rng makes sense for now. Here are a a couple of suggestions for places we can update the docs to help users make the right choices:

[dataloader:](https://docs.monai.io/en/latest/data.html#monai.data.DataLoader) We should say why users should prefer the MONAI dataloader over torch's. I've preferred torch's own in the past because the benefits of using MONAI's were not ap

[2021-04-28 17:10] wyli commented on #2041
just tested with a separate repo that the renaming works fine.
I'll roll out the branch changes soon.

[2021-04-28 17:18] ericspod commented on #2041
Do we want to cleanup the outstanding PRs first? I think these might not react well to a branch rename.

[2021-04-28 18:04] wyli commented on #2041
those will be retargeted, should be ok in our case

[2021-04-29 05:19] #2054 closed

[2021-04-29 11:11] dianemarquette commented on #2090
Hi @Nic-Ma,

Thanks for getting back to me.
I've updated MONAI to 0.5.2 and tried to invert the transforms for the model using the tutorial.

[code]

Unfortunately, I get the following error:

input data information of the runtime error transform:
input data information of the runtime error transform:
input data information of the runtime error transform:
input data information of the runtime erro

[2021-04-29 14:17] Nic-Ma commented on #2090
Hi @rijobro ,

Could you please help take a look at this issue?

Thanks in advance.

[2021-04-29 15:01] rijobro commented on #2090
Hi @dianemarquette, based on the error it seems to be saying the metadata is missing. So perhaps modifying this:

[code]

to this:

[code]

will help. If not let me know and we can have another think.

[2021-04-29 16:23] rijobro opened #2111 "ArrayDataset only applies same transform if transforms match"
**Describe the bug**
Noticed when looking into https://github.com/Project-MONAI/MONAI/discussions/2052.

`ArrayDataset` gives matching results if `img_transform` and `label_transform` match each other. However results diverge when they don't match. At which point, I don't fully understand the utility of the ArrayDataset over using dictionary transforms. Perhaps I've misunderstood something.

**To

[2021-04-29 18:54] wyli commented on #2111
that's because `Compose`'s `__call__` is implemented with this logic:
https://github.com/Project-MONAI/MONAI/blob/299f2c21c91b30cd90d04ed76a462bfaeb9b17b4/monai/transforms/transform.py#L46-L48

the idea is that for example in
[code]
the `OtherTransform` will be applied to each of the 10 samples generated by the random cropping respectively (instead of applying `OtherTransform` to the list of 10 sa

[2021-04-30 07:13] wyli commented on #2077
addressed by #2089 followup in #2083

[2021-04-30 07:13] #2077 closed

[2021-04-30 07:33] wyli commented on #1868
fixed by #1915, please reopen if needed

[2021-04-30 07:33] #1868 closed

[2021-04-30 07:40] dianemarquette commented on #2090
Thanks for your suggestion @rijobro! It did the trick :).

I have a last question if I may. As the tutorial on inverse transforms didn't show how to save the model predictions, I tried to use the `save_batch` method from the `NiftiSaver` class.
[code]
Unfortunately, it gave me the following error as the `batch_labels` returned by the `batch_inverter` are in an iterable.
[code]

Replacing the last

[2021-04-30 07:41] wyli commented on #1279
addressed by https://github.com/Project-MONAI/MONAI/pull/1890 the `data_root_dir` option

[2021-04-30 07:41] #1279 closed

[2021-04-30 07:46] #1487 closed

[2021-04-30 07:51] #1789 closed

[2021-04-30 08:22] rijobro commented on #2111
I don't think this is related to the number of samples. The same behaviour can be seen using any other random transform, e.g., `RandAffine`:

[code]

[2021-04-30 08:42] wyli commented on #2111
I see, the set random state method of compose adds some control of the transforms https://github.com/Project-MONAI/MONAI/blob/a6ca680aefcb7d1a14907d304738499a2ca65646/monai/transforms/compose.py#L114-L118

I feel that is somehow expected, to have a sequence of random seeds for a list of transforms.

[2021-04-30 09:05] ambroslins opened #2116 "Collate error on the key 'img_transforms' of dictionary data."
**Describe the bug**
While using the `CacheDataset` and multiple workers and the `persistent_workers` option for the `DataLoader` following exception is raised in the second epoch:

[code]
[see full output](https://gist.github.com/ambroslins/9b079eac659c3483c6fceba5fcee8859#file-output-txt)

**To Reproduce**
I wrote a [minimal example](https://gist.github.com/ambroslins/9b079eac659c3483c6fceba5fce

[2021-04-30 11:11] rijobro commented on #2090
@dianemarquette I'll create a new issue to check into using batch inversion combined with batch image saving. It's something I've not looked at yet, but obviously would be great if they worked well together!

[2021-04-30 11:13] rijobro opened #2117 "Batch image saving should be possible after batch transform inversion"
**Is your feature request related to a problem? Please describe.**
As requested here https://github.com/Project-MONAI/MONAI/issues/2090#issuecomment-829907157, it would be good if we could perform a batch inversion of transformations and then feed this directly into `NiftiSaver` in batch mode.

**Describe the solution you'd like**
Not looked into it yet, I imagine the solution will be fairly simpl

[2021-04-30 11:27] #2090 closed

[2021-04-30 11:58] rijobro commented on #2116
Thanks for the comprehensive MWE. I imagine the problem is coming from a missing deep copy somewhere. I'll go on a 🐛 hunt.

[2021-04-30 12:38] wyli opened #2118 "speedup premerge tests with lighter building options"
**Is your feature request related to a problem? Please describe.**
currently the premerge tests take ~30min partly because of the tedious building process with options such as
`-gencode=arch=compute_52,code=sm_52 -gencode=arch=compute_60,code=sm_60 -gencode=arch=compute_61,code=sm_61 -gencode=arch=compute_70,code=sm_70 -gencode=arch=compute_75,code=sm_75 -gencode=arch=compute_80,code=sm_80 -gencod

[2021-04-30 14:55] aihsani opened #2122 "Unable to Train Model in PyTorch Subprocess"
**Describe the bug**
Some MONAI Transformations do not seem to allow a developer to use PyTorch multiprocessing (`torch.multiprocessing`) as shown in: https://github.com/pytorch/examples/blob/master/mnist_hogwild/main.py

The relevant lines in the repro code below are:
[code]

The issue seems related to transformations employing `lambda` functions in their parameters (cf. `CropForegroundd`); see s

[2021-04-30 15:36] #2118 closed

[2021-04-30 16:33] wyli opened #2124 "RandAffine/RandAffined skipping the resampling if do_transform is False"
**Is your feature request related to a problem? Please describe.**
when do_transform is False and the spatial_size isn't set, the resampling step of RandAffine could be skipped for better performance, for example:
https://github.com/Project-MONAI/MONAI/blob/fd9081bb369827f56853d184139408630ba37ea2/monai/transforms/spatial/array.py#L1441-L1444

[2021-04-30 17:13] wyli commented on #2122
right, should we properly support this use case? get rid of all the default `lambda`s? cc @rijobro @ericspod

a quick workaround would be (tested with ubuntu):
[code]

[2021-04-30 17:19] rijobro commented on #2122
Yeah, we can definitely replace all lambdas by normal functions.

[2021-05-01 00:08] masadcv opened #2125 "mypy error in efficientnet BlockArgs"
**Describe the bug**
Running  ./runtests.sh --mypy can sometimes lead to the following error on local machines:

Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/opt/virtualenvs/dvenv/lib/python3.8/s

[2021-05-01 01:42] Nic-Ma commented on #2124
Thanks for your suggestion, let me try to optimize it later.

[2021-05-01 05:38] Nic-Ma commented on #2124
Welcome a contribution if anyone is interested.

Thanks.

[2021-05-01 11:23] paul-bd opened #2127 "Evidencial Fully Convolutional Network"
Hi!

**Is your feature request related to a problem? Please describe.**
Dealing with uncertainty of ground truth seems crucial for medical imaging.

**Describe the solution you'd like**
An implementation of the Evidencial Fully Convolutional Network (  https://arxiv.org/pdf/2103.13544.pdf) would be great !
Which seems to require two layers :
 - One Dempster Shafer Layer
 - One utility layer

It ha

[2021-05-01 21:47] #2125 closed

[2021-05-03 16:03] behxyz opened #2129 "Exclude dependencies that requires CUDA"
**Is your feature request related to a problem? Please describe.**
We are going to add components that uses CUDA-based packages. This will cause an error when running tests on non-CUDA instances for CI/CD.

**Describe the solution you'd like**
We should exclude this known dependencies that requires CUDA from dependency installation part of CI/CD workflow for non-CUDA instances.

[2021-05-03 16:04] #2122 closed

[2021-05-03 16:56] wyli commented on #2023
this is still an issue from two different runs:
[code]

[code]

[2021-05-03 20:03] behxyz opened #2132 "CuPy <> NumPy"
**Is your feature request related to a problem? Please describe.**
There are transformations that rely on cupy ndarray, so it is not working with numpy array or torch tensors.

**Describe the solution you'd like**
Transformers to convert numpy array (and torch tensors) to cupy arrays, and the other way around.

[2021-05-04 08:37] rijobro commented on #2132
We also have `ToTensor`, etc. In the same way that we have `LoadImage`, perhaps we should have `ConvertImage` which takes input and output types as argument. That avoids having to have `ToTensor`, `ToNumpy`, `ToCupy`, etc.

[2021-05-04 08:50] charliebudd commented on #2023
Thanks wenqi. We can raise the error tolerance higher but this could still flare up occasionally. While unconventional, what might be more effective is to raise the tolerance in the number of mismatched elements. This bug is my priority so should be getting it sorted soon.

[2021-05-04 09:30] wyli opened #2136 "persistent dataset default `cache_dir`"
**Is your feature request related to a problem? Please describe.**
https://github.com/Project-MONAI/MONAI/blob/45c6cf6117d2e25e88272a7001d84696e449a1cc/monai/data/dataset.py#L136-L142
the default value of `cache_dir` is `None`, which means no caching. this is somewhat unexpected for a caching based dataset.

**Describe the solution you'd like**
remove the default value so that the user has to prov

[2021-05-04 10:20] Nic-Ma commented on #2117
Yes, I think maybe you can add the `saving` logic into the invert-transform tutorial.

Thanks.

[2021-05-04 10:22] Nic-Ma commented on #2127
Hi @paul-bd ,

Thanks for the feature request, could you please help contribute a PR if you are interested?
@wyli @ericspod , do you think this network would be helpful for other tasks?

Thanks.

[2021-05-04 12:04] rijobro opened #2140 "mypy gives legendre error"
**Describe the bug**

Output from runtests.sh is:

[code]

**Environment**

Debug info:
[code]

[2021-05-04 13:13] #2023 closed

[2021-05-04 14:07] rijobro opened #2143 "print_config, print_debug_info etc not working."
**Describe the bug**
On both my local MacOS and remote linux, calling `print_config()` and `print_debug_info()` returns mostly blank:

[code]

Further, trying to use tab autocomplete results in the following error:

[code]

I see that `deviceconfig.py` was recently changed: https://github.com/Project-MONAI/MONAI/commit/36d855c690f03a44554f7017417cf7fdb12b8477. @wyli do you think it could be due to

[2021-05-04 15:38] #2136 closed

[2021-05-04 17:33] #2132 closed

[2021-05-04 19:08] ericspod commented on #2127
If this is a few new layers we can definitely consider adding it in as that seems like a simple addition. A demo notebook in the tutorials repo would be helpful too. Has the linked papers been accepted for publication? If not we should hold off for the authors to respond to feedback if there is anything to address.

[2021-05-04 21:58] wyli commented on #2143
that was to remove the loop variable errors detected by LGTM: https://lgtm.com/projects/g/Project-MONAI/MONAI/rev/pr-4e7d3632955aa6c4418d1c84db746dbdb2974865 the test looks ok: https://github.com/Project-MONAI/MONAI/runs/2432476132#step:6:1172 I couldn't reproduce this issue...

[2021-05-04 23:06] Nic-Ma opened #2145 "extract main logic of TransformInverter into utils"
**Is your feature request related to a problem? Please describe.**
Need to extract the main logic of `TransformInverter` handler into utils, then not only ignite users can use this feature.

[2021-05-05 10:24] rijobro commented on #2143
Strangely both local and remote are working for me today ¯\_(ツ)_/¯

[2021-05-05 10:24] #2143 closed

[2021-05-05 15:48] wyli opened #2146 "PersistentDataset tempfile issue"
**Describe the bug**
issue detected in v0.5.2:
https://github.com/Project-MONAI/MONAI/blob/feb3a334b7bbf302b13a6da80e0b022a4cf75a4e/monai/data/dataset.py#L253
[code]

root cause is that the default tempfile location `/tmp` is on a different filesystem than `val_cache`.
a potential workaround would be changing the default temp location of python:
`export TMPDIR=/path/to/val_cache`

[2021-05-05 20:35] YuanTingHsieh commented on #2146
The documentation of os.rename (https://docs.python.org/3/library/os.html#os.rename) states "The operation may fail on some Unix flavors if src and dst are on different filesystems".

Maybe we can try to use shutil.move (https://docs.python.org/3/library/shutil.html#shutil.move)?

[2021-05-06 06:39] Nic-Ma opened #2148 "Metrics report should compute on channel dim first then on batch"
**Describe the bug**
Currently, our metrics handlers compute `mean` of channel dim first then compute on batch dim, but the `metric_summary` report compute on batch dim first.

[2021-05-06 07:05] #2148 closed

[2021-05-06 14:22] Nic-Ma opened #2150 "Add sample count in metric_summary report"
**Is your feature request related to a problem? Please describe.**
Need to add the sample count for every class in the `metric_summary` report, and enhance the doc-string of average computation progress.
Feature request from internal research team.

[2021-05-06 14:29] rijobro commented on #2099
Hi @marksgraham we'd welcome a PR if you wanted to submit your suggested changes!

[2021-05-06 14:33] Nic-Ma opened #2152 "90percent of metric_summary should use 90 instead of 10"
**Describe the bug**
Should compute with `np.nanpercentile(90)` according to wiki: https://en.wikipedia.org/wiki/Percentile.
Feature request from internal research team.

[2021-05-06 14:34] marksgraham commented on #2099
Hey @rijobro, sure will do. Will hopefully get round to this next week

[2021-05-06 14:46] JanSellner commented on #889
Hey, I just wanted to ask what is the status about the [normalized surface dice](https://arxiv.org/abs/1809.04430) metric which is mentioned in the issue description? I couldn't find it in the documentation. Is it possible that this issue was closed too early? (maybe @wyli or @yiheng-wang-nv can comment on this). Thank you and keep up the great work! :-)

[2021-05-06 14:52] wyli commented on #889
I believe we missed that one -- reopening this for surface Dice

[2021-05-06 16:45] rijobro opened #2154 "remove attrs from pip requirements"
Current version of `attrs` (installed indirectly through `pytype`) caused issues so we've downgraded in the requirements. I think pytype plan on downgrading the requirement themselves, so when https://github.com/google/pytype/issues/909 is closed, we should be able to remove `attrs<` from our own requirements (reverting https://github.com/Project-MONAI/MONAI/pull/2153/).

[2021-05-06 20:31] #2124 closed

[2021-05-07 00:14] Nic-Ma opened #2155 "`norm='batch'` in UNet cause int64 weights"
**Describe the bug**
When set the norm of UNet to `batch`, it will cause "model.0.conv.unit0.conv.weight" to be float64 data.
While `instance` norm is fine.

[2021-05-07 00:14] Nic-Ma commented on #2155
Hi @ericspod ,

Could you please help confirm this issue and see whether we can convert it to `float32`?

Thanks in advance.

[2021-05-07 00:30] ericspod commented on #2155
All weights should be `float32` as far as I know. I don't see how this became `float64`, we ultimately instantiate one of the Pytorch batchnorm layers.

[2021-05-07 00:33] holgerroth commented on #2155
@Nic-Ma It's causing int64 weights.

[2021-05-07 02:04] Nic-Ma commented on #2155
Hi @holgerroth ,

Could you please help provide a simple program to reproduce the issue?
Maybe print the weight type of that layer when using `batch norm`?

Thanks in advance.

[2021-05-07 02:05] #2146 closed

[2021-05-07 08:39] #2154 closed

[2021-05-07 10:46] #2150 closed

[2021-05-07 12:04] #2116 closed

[2021-05-07 14:38] LucasFidon opened #2158 "Does it exist a weights converter between the different API of the DynUNet?"
I am wondering if it exists a script to convert weights between past and present API of the DynUNet.

## My problem
I have been working with the API of the DynUNet of MONAI 0.4.0+85.gaf1ffd6 for a few months.
Unfortunately, some breaking changes in the API of the DynUNet have happened somewhere between MONAI 0.4.0 and MONAI 0.5.0. As a result, I cannot load the weights of my previous DynUNet in MO

[2021-05-07 20:34] carlpe opened #2159 "DenseVNet for Monai"
Greetings,

Will you please consider implementing DenseVNet from NiftyNet over to Monai?

Thank you

[2021-05-07 22:14] holgerroth commented on #2155
Batchnorm seems to create LongTensors which causes the issue. See this simple test script comparing UNet with instance norm vs. batch norm:

`#!/usr/bin/env python3
import numpy as np
from monai.networks.nets import UNet

def count_long_tensors(net):
    state_dict = net.state_dict()

    n_long_tensors = 0
    for key in state_dict.keys():
        if state_dict[key].type() == "torch.LongTensor":

[2021-05-07 23:49] Nic-Ma commented on #2155
Hi @holgerroth ,

Thanks for providing the test program.
I checked your log print, seems all the logs are related to this int number: `adn.N.num_batches_tracked`.
https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/blocks/acti_norm.py#L20

Thanks.

[2021-05-08 00:06] Nic-Ma commented on #2155
Hi @holgerroth ,

Actually, this int64 variable comes from PyTorch source code of batch norm:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/batchnorm.py#L54
You can removed by below settings in your UNet args:
[code]
I already verified locally, will also enhance our unit tests to cover it.
Could you please help double confirm?

Thanks.

[2021-05-08 07:38] ChenglongWang opened #2161 "CUDA_VISIBLE_DEVICES environ setting not work in ver. 0.5.0"
**Describe the bug**
I'm using `os.environ["CUDA_VISIBLE_DEVICES"] = '0'` to set available GPU instead of specifing device like `cuda:0`.
Everthing works fine until updating to ver. 0.5.0.  Maybe some GPU-related operations were added in the latest version during import phase.

**To Reproduce**
Steps to reproduce the behavior:
1. Use one [tutorial](https://github.com/Project-MONAI/tutorials/blob/m

[2021-05-08 15:43] wyli commented on #1127
#2084 partly addressed the issue

[2021-05-10 05:13] yiheng-wang-nv opened #2164 "Support **kwargs for some pytorch args of networks"
For networks like `SegResNet`, we cannot change parameters for normalization layers (such as set `track_running_stats=True` when we use BatchNorm3d). Therefore, the implementation should be more generic.

[2021-05-10 10:39] rijobro commented on #2158
Hi @LucasFidon, unfortunately as MONAI is in 0.x release still, breaking changes are somewhat unavoidable. We had a meeting last week about how to avoid these in the future to avoid the sort of problems you're seeing.

One solution that might sidestep this problem would be to checkout 0.4.x that's compatible with your code, and then save the model using `torch.script.save`. You could then checkout

[2021-05-10 10:45] Nic-Ma commented on #2158
@rijobro , yes, it would be great to enhance the unit tests of our networks, we didn't get a chance to implement more tests for exact forward results before.

Thanks.

[2021-05-10 10:58] charliebudd commented on #2158
Tangential point, unit testing the outputs of whole networks may pose some problems. I've run into a few issues here #2023, which I'm begining to suspect stems from pytorch's convolution, admittedly only when given very small values. [Pytorch's reproducibility toolkit](https://pytorch.org/docs/stable/notes/randomness.html) has a few new features in 1.8.1 which are flagged as in beta release, but w

[2021-05-10 12:45] rijobro commented on #2161
Also I think it's unlikely that MONAI is the cause of your problem, since MONAI doesn't (and I don't think ever has) use the variable `CUDA_VISIBLE_DEVICES`. It can be set with `monai.config.deviceconfig.set_visible_devices(0)`, but this will just call `os.environ["CUDA_VISIBLE_DEVICES"] = '0'`. The rest gets handled by pytorch.

If you think I've missed something, would it be possible to create a

[2021-05-10 12:56] rijobro opened #2167 "delete set_visible_devices?"
**Describe the bug**
We have a function called `set_visible_devices`, but I can't see it used anywhere, it's not tested, and I'm not convinced it works... I think it should be deleted.

If we set the visible device to 0 before importing monai (and therefore torch), and then requesting device 1, the following fails, as expected:

[code]
output:
[code]

However, when setting the device after importi

[2021-05-10 12:59] rijobro commented on #2161
See this slightly related issue: https://github.com/Project-MONAI/MONAI/issues/2167.

I think if you add to the top of your script:

[code]
and then have the rest of your script as normal will work. If you set `CUDA_VISIBLE_DEVICES` after torch has been imported (and therefore monai, since monai imports torch), your changes won't be used.

[2021-05-10 15:31] Nic-Ma opened #2169 "TransformInverter has `collate` arg but can't work"
**Describe the bug**
Currently, the `TransformInverter` hander can't support collate that doesn't generate 1 list of data.

[2021-05-10 16:45] ericspod commented on #2158
We'd like to use more of the new API but can't rely on things that aren't in versions that we support. As a simpler sanity check could we just keep a list of parameter names, types, and dimensions that a network should have and ensure those alone are stored by networks we create to test? This would catch @LucasFidon 's error if he's getting complaint about names not being found when loading weight

[2021-05-10 16:50] charliebudd commented on #2158
Agreed, testing the torch.save output is the main take away.

[2021-05-11 01:51] ChenglongWang commented on #2161
Hi @rijobro . Thank you for your kind help. Put the `os.environ["CUDA_VISIBLE_DEVICES"] = x` to the top will definitely fix this problem.  However, in my case, the gpu is specified online, which means the gpu id is one argument of the program, and  cannot be hard-coded on the top of script.

For reproduction, you can simply test on one tutorial (ex. https://github.com/Project-MONAI/tutorials/blob/

[2021-05-11 09:51] Nic-Ma opened #2172 "Cache grid info of `RandAffined` transform"
**Is your feature request related to a problem? Please describe.**
Feature from internal user:
Hello. I'm working with generative models for 3D scans (size ~200^3). Due to the cost of performing the RandAffine transform on cpu, the gpus are often waiting for the data loader.
`create_grid` takes up a large fraction of the time. By caching the cartesian grid between iterations (and creating copies w

[2021-05-11 09:52] Nic-Ma commented on #2172
Hi @wyli ,

I would suggest to develop another transform `CreateGridd`, then we can use `CacheDataset` to cache the grid.
What do you think?

Thanks.

[2021-05-11 09:58] #2169 closed

[2021-05-11 11:48] lukasfolle opened #2173 "Small Typo"
Found a small typo here https://github.com/Project-MONAI/MONAI/blob/dev/monai/visualize/img2tensorboard.py#L147
Should be HWD not CHWD.

[2021-05-11 13:41] wyli commented on #2172
I feel we should address this issue https://github.com/Project-MONAI/MONAI/issues/1871

[2021-05-11 14:17] rijobro commented on #2161
Think i found the bug and fixed it, see #2174.

[2021-05-11 14:37] Nic-Ma commented on #2159
Hi @wyli ,

Could you please help share some comments for this feature request about NiftyNet?

Thanks in advance.

[2021-05-11 14:38] #2155 closed

[2021-05-11 14:39] #2152 closed

[2021-05-11 14:39] Nic-Ma commented on #2140
Hi @rijobro ,

May I know whether this issue still exists?

Thanks.

[2021-05-11 14:41] #2117 closed

[2021-05-11 22:23] Nic-Ma opened #2177 "Add max_roi_size support in `RandSpatialCrop`"
**Is your feature request related to a problem? Please describe.**
Currently, when we do spatial crop, we can select a random size in (roi_size, image_size) where roi_size is the min_size. So we also need to support a max roi_size.

[2021-05-12 08:27] Nic-Ma opened #2180 "Add `RandScaleCrop` transform and inverse operation"
**Is your feature request related to a problem? Please describe.**
It would be useful to randomly crop images with specified scale arg as min & max size, for example: (0.3, 0.6). Then images with different sizes will use different crop size range.

[2021-05-12 10:53] ericspod commented on #844
I think this is from from the `in_shape` value of the `Discriminator` which needs to be the size of the input images, so I think that's (1,400,400) for you.

[2021-05-12 10:57] wyli commented on #2172
Hi Nic, yes, I think adding a `self.cached_grid` to `RandAffine` is good enough, but we need to fix #1871 to be safe.
Using the CacheDataset to cache a different grid for each image takes larger memory, perhaps it's not needed for most of the use cases.

[2021-05-12 13:45] #2177 closed

[2021-05-12 13:47] wyli opened #2183 "GradualWarmupScheduler"
**Is your feature request related to a problem? Please describe.**
This is a feature request for `GradualWarmupScheduler` -- gradually increasing the learning rate described in "Accurate, Large Minibatch SGD: Training ImageNet in 1 Hour" https://arxiv.org/abs/1706.02677

**Describe the solution you'd like**
a light weight module in https://github.com/Project-MONAI/MONAI/blob/dev/monai/optimizers/l

[2021-05-12 14:01] wyli opened #2184 "Preprocessing to enhance the target boundaries"
**Is your feature request related to a problem? Please describe.**
originally from https://github.com/btgraham/SparseConvNet-archived/blob/master/SparseConvNet/Data/kaggleDiabeticRetinopathy/preprocessImages.py

it's been used in several challenges such as Kaggle Diabetic Retinopathy Detection

[2021-05-12 14:04] wyli opened #2185 "Cutout data augmentation"
**Is your feature request related to a problem? Please describe.**
"CoarseDropout of the square regions in the image"

2D version is included in albumentations:
https://github.com/albumentations-team/albumentations/blob/95a048d342cbe748e5acf15cb1a28611a6303885/albumentations/augmentations/transforms.py#L608-L609
would be great to have an ND version in this repo.

see also: https://arxiv.org/abs/17

[2021-05-12 14:17] wyli opened #2186 "GridDistortion"
**Is your feature request related to a problem? Please describe.**
random grid distortion data aug. in ND, e.g. following the 2D impl. from albumentations:
https://github.com/albumentations-team/albumentations/blob/e3829ecd778e55c658e4f68d734b7550af30859f/albumentations/augmentations/transforms.py#L404-L406

![Screenshot 2021-05-12 at 15 14 42](https://user-images.githubusercontent.com/831580/1179

[2021-05-12 15:52] #2161 closed

[2021-05-13 07:49] #99 closed

[2021-05-13 07:54] wyli commented on #246
initial implementation available at https://github.com/Project-MONAI/tutorials/tree/master/modules/dynunet_pipeline

[2021-05-13 09:00] wyli commented on #554
no progress. I'm closing this ticket.

[2021-05-13 09:00] #554 closed

[2021-05-13 09:05] #827 closed

[2021-05-13 09:10] wyli commented on #856
several follow-ups were created and sub-tasks completed, I'm closing this ticket. Please create new discussion thread if needed.

[2021-05-13 09:10] #856 closed

[2021-05-13 09:19] #1485 closed

[2021-05-13 09:23] wyli commented on #1560
the new `SaveImage` transform could answer most of the questions here https://github.com/Project-MONAI/MONAI/blob/4ef7d22daf4c9443469f7fa42f74ffec7aa613a5/monai/transforms/io/array.py#L167

[2021-05-13 09:23] #1560 closed

[2021-05-13 09:29] wyli commented on #1701
the relevant pytorch feature is in beta, there's currently no plan to rely on it, I'm closing this ticket.

[2021-05-13 09:29] #1701 closed

[2021-05-13 09:29] #2099 closed

[2021-05-13 09:45] #1846 closed

[2021-05-13 09:51] wyli commented on #1901
feature implemented as inverting each item of the list of patch samples respectively

[2021-05-13 09:51] #1901 closed

[2021-05-13 10:08] #2111 closed

[2021-05-13 10:10] wyli commented on #2159
duplicate of https://github.com/Project-MONAI/MONAI/issues/90

[2021-05-13 10:10] #2159 closed

[2021-05-13 21:53] masadcv opened #2196 "CRF Post Processing as a MONAI Transform"
**Is your feature request related to a problem? Please describe.**
In a number of deep learning based segmentation models, conditional random fields (CRFs) are used as a post processing step to process the output and produce segmentation maps that are more consistent with the underlying regions within an image.

**Describe the solution you'd like**
At the moment, MONAI provides CRF layers that can

[2021-05-13 23:46] #1919 closed

[2021-05-14 10:02] tvercaut commented on #2196
Should this issue be merged with #315?

[2021-05-14 12:33] #2164 closed

[2021-05-14 14:23] Nic-Ma opened #2198 "Add `ScaleCenterCrop` transform"
**Is your feature request related to a problem? Please describe.**
Need to implement a deterministic transform that center crop the image with a scale value.

[2021-05-14 19:06] #2180 closed

[2021-05-15 08:09] #2097 closed

[2021-05-15 13:07] vfdev-5 commented on #2183
@wyli we recently move our optimizer param scheduler to the core from contrib (thus available for you as well). This module contains a lot of different patterns on how to schedule lr, momentum etc. https://pytorch.org/ignite/master/handlers.html#parameter-scheduler
Maybe, it can already cover this feature request. Please, let me know what do you think.

[2021-05-15 13:30] tvercaut commented on #233
Related discussion in #2158

[2021-05-17 01:56] masadcv commented on #1127
Update:
Here is a simple regression network (with image denoising task) to demonstrate the usage of Regression Metrics:
https://colab.research.google.com/drive/1Ueuay4xvNkF7io1hGxah7a9Xr2J4zY6L?usp=sharing

[2021-05-17 03:38] Nic-Ma opened #2203 "Develop post transform to save classification results"
**Is your feature request related to a problem? Please describe.**
Need to implement the saving logic as a post transform, which is not coupled with ignite.

[2021-05-17 08:48] rijobro commented on #233
Also related PR: https://github.com/Project-MONAI/MONAI/pull/2171.

[2021-05-17 10:47] rijobro opened #2206 "Directed Hausdorff distance logic inverted?"
**Describe the bug**

From [this code](https://github.com/Project-MONAI/MONAI/blob/dev/monai/metrics/hausdorff_distance.py#L145-L149), I get the impression that the logic is the wrong way round:

[code]

Seems to me that we should compute the hausdorff distance twice when `Directed==True`? @yiheng-wang-nv

[2021-05-17 10:48] rijobro commented on #2206
Ah, apologies, I realise now that the current implementation is correct!

[2021-05-17 10:48] #2206 closed

[2021-05-17 16:05] #2198 closed

[2021-05-17 16:54] Nic-Ma opened #2208 "Add `meta_key` arg to enhance the `meta_key_postfix` arg"
**Is your feature request related to a problem? Please describe.**
Currently, we use `meta_key_postfix` to extract meta data from dict, but sometimes it may not have corresponding meta key for the specified key, like `pred` and `pred_meta_dict`.
So we need an approach to specify `meta_key` directly.

[2021-05-17 17:02] wyli commented on #315
feature request: CRF Post Processing as a MONAI Transform (from @masadcv  #2196)

**Is your feature request related to a problem? Please describe.**
In a number of deep learning based segmentation models, conditional random fields (CRFs) are used as a post processing step to process the output and produce segmentation maps that are more consistent with the underlying regions within an image.

**De

[2021-05-17 17:03] wyli commented on #2196
issue moved into #315

[2021-05-17 17:03] #2196 closed

[2021-05-18 08:42] wyli commented on #2183
thanks @vfdev-5! I was not aware of these recent features. I'm labelling this as an upstream fix.

btw I feel the example of [`create_lr_scheduler_with_warmup`](https://pytorch.org/ignite/master/generated/ignite.handlers.param_scheduler.create_lr_scheduler_with_warmup.html#create-lr-scheduler-with-warmup) could have a better start value? the current `warmup_start_value=0.0` seems to have no model

[2021-05-18 17:37] #2203 closed

[2021-05-18 22:24] han-liu opened #2213 "Random Intensity transforms for test-time augmentation"
Hi,

Test-time augmentation is a helpful tool to use but it seems that currently only spatial transformations are included for TTA. Intensity transformations such as Random contrast are not invertible transforms and thus cannot be used in current TTA implementation. Is there a way that I can use intensity transforms as TTA? Thanks.

[2021-05-19 02:45] ZiyueXu77 opened #2210 "ProbMapProducer on multi-gpu inference"
**Describe the bug**
Multi-gpu inference can complete the whole inference process, but will not write the predication map out. Also, it will not create the proper inference folder under Clara environment.

**To Reproduce**
Steps to reproduce the behavior:
run pathology inference w/ multi-gpu

**Expected behavior**
The probability map should be written to the corresponding folder

**Screenshots**
A

[2021-05-19 03:03] Nic-Ma commented on #2210
Hi @ZiyueXu77 ,

Thanks for the bug report, I will take a look ASAP.

[2021-05-19 07:49] #2041 closed

[2021-05-19 12:19] NMVRodrigues opened #2215 "3D transformations crashing jupyter kernels."
Hello,

I first noticed this issue when running then 3d_image_transforms.ipynb, where the kernel halted reaching either the pacing, Affine, or elastic transforms.

Running this notebook on colab works just fine and produces the intended results, however, when running on two different local machines it halts the notebook and crashes the kernel, when it reaches the spacing transformations. This happ

[2021-05-19 14:33] rijobro commented on #2215
I can't see anything immediately wrong with any of your versions. It might be worth running `pip install --upgrade --user requirements-dev.txt` just to be sure though.

If that doesn't solve it, could you try running the unit tests for the transformations that don't work? For affine this would be something like: `python -m unittest tests/test_affine.py`. If you've got the time, it might be worth r

[2021-05-19 15:25] NMVRodrigues commented on #2215
@rijobro Thanks for the help.
So, I first tried to install the dependencies but it failed.
Moving on to the tests, the affine test detected no problem, but when running all tests it halts out of nowhere and the cmd closes.
Doing a unit test on the `spacingd` transform which was one that was giving problems in jupyter produces the following output.
Could this be the problem? I have no idea how to f

[2021-05-19 16:47] han-liu commented on #2213
@rijobro @tvercaut Thanks for the clarification and I think what @tvercaut proposed here is a great feature to be added to TTA.

[2021-05-19 18:28] #2208 closed

[2021-05-19 21:10] #2098 closed

[2021-05-20 07:19] Nic-Ma opened #2220 "Transforms need to handle list of channel-first data"
**Is your feature request related to a problem? Please describe.**
Currently, if using the default collate_fn, the `interted` data is a list of channel-first Tensor or numpy array, if we want to apply transforms on the data, most of the MONAI transforms can't support it.
For example, users want to use `CopyItemsd`, `AsDiscreted`, `KeepLargestConnectedComponentd`, etc.
All these transforms can only

[2021-05-20 07:28] Nic-Ma commented on #2220
Hi @rijobro and @wyli ,

Do you have any good ideas to handle this problem?
It would be very useful to create a post transform chain with `Invertd` transform, like:
[code]

Thanks.

[2021-05-20 07:35] Nic-Ma opened #2221 "Change `Invertd` transform to be `in-place` operation"
**Is your feature request related to a problem? Please describe.**
Currently, all the MONAI transforms are in place operation except the newly added `Invertd` transform.
Usually, if want to keep the previous value, users will add `CopyItemsd` transform first.
So I would suggest to remove the `postfix` arg of `Invertd` transform to make it as `in-place` operation and align with other transforms.

[2021-05-20 09:23] Nic-Ma opened #2223 "Add `PostTransform` handler"
**Is your feature request related to a problem? Please describe.**
In order to make post transforms more flexible for users, we need to add a `PostTransform` handler, then users can set post transforms in engines or in the handler list.

[2021-05-20 09:59] Nic-Ma commented on #2210
Hi @ZiyueXu77 and @behxyz ,

I checked the source code of `ProbMapProducer`, current logic can't support multi-GPU because if you are using 2 GPUs, the datalist for 1 big image will be split into 2 parts, every GPU only completes half of the prob map for every image:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/apps/pathology/handlers.py#L91
I would suggest to keep this issue as known iss

[2021-05-20 12:34] Nic-Ma opened #2224 "Make handlers to decouple with ignite APIs"
**Is your feature request related to a problem? Please describe.**
According to our design principle, almost all the MONAI components can be easily integrated into other workflows or PyTorch programs except for handlers.
As handlers contain many important features, users who are using other workflows also want to integrate them.
After analysis with ignite team: https://github.com/pytorch/ignite/is

[2021-05-20 19:42] dzenanz opened #2226 "If image reader chokes on a file, put the file name into exception message"
**Is your feature request related to a problem? Please describe.**
I am running training on a big set (5000) of images, and somewhere in the middle I get `TypeError: stat: path should be string, bytes, os.PathLike or integer, not float`. I have no idea which image is the problem.

**Describe the solution you'd like**
I would like the path of the offending image to be mentioned somewhere in the sta

[2021-05-20 21:17] dzenanz commented on #2226
I wrote my own verification routine, only to find out that the problem was caused by the input CSV containing a few empty rows at the end (e.g. `,,,,,,,,`), so the file name passed to the reader was a pandas data frame cell created from an empty string, which happened to be a float value of `nan`. If it was a real file name, I guess it would have appeared somewhere in the stack trace.

Perhaps the

[2021-05-21 08:43] #2026 closed

[2021-05-21 12:00] #2226 closed

[2021-05-21 12:21] ericspod commented on #2221
Unless @rijobro knows of a specific reason why it was implemented that way then I would say regularizing things to be like other transforms would be a good idea.

[2021-05-21 12:58] Nic-Ma commented on #2221
Hi @ericspod and @wyli ,

Cool, I will do below steps:
1. Add a new arg `orig_meta_key` to indicate the meta data we want to leverage, like the `orig_key` arg.
2. Then do `in-place` operation for the `keys` to invert.
3. Save the inverted meta data into `meta_keys`, if existing, replace it.
4. If `meta_key=None`, use `{key}_{meta_key_postfix}` instead, if `orig_meta_key=None`, use `{orig_key}_{met

[2021-05-21 14:52] #2172 closed

[2021-05-21 16:42] wyli opened #2231 "Default to using Pytorch APIs for `monai.transforms` (ETA TBD)"
**Is your feature request related to a problem? Please describe.**
Based on our discussions, this ticket proposes to implement the MONAI transforms preferably using the Pytorch APIs instead of the current mainly numpy-based solutions.

[2021-05-21 17:44] #1871 closed

[2021-05-24 06:18] Nic-Ma opened #2236 "CopyItemsd transform saves data into same key"
**Describe the bug**
This line of `CopyItemsd` seems not correct:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/utility/dictionary.py#L740
It saves all the data of keys into the same `new_key`.

[2021-05-24 09:01] rijobro commented on #2220
We could simply add an extra argument to their constructors, something like, `contains_batch_dim: bool = True`. We could potentially store that information in the `Transform` base class. In the majority of cases, that extra information wouldn't be used, but it means that in the future we could make other transforms compatible with both batch- and channel-first data.

What do you think?

[2021-05-24 09:03] rijobro commented on #2215
Perhaps you could try temporarily disabling OpenMP to see if that fixes the problem: `export OMP_NUM_THREADS=1`.

[2021-05-24 09:17] rijobro commented on #2213
@tvercaut to take the example of `GaussianNoise`, the inverse of the spatial component of that transform is identity, because obviously adding Gaussian noise doesn't modify the image spatially. Having said that, I think it would be complicated for us to therefore say that a pseudo of the inverse can be given as identity. Because at that point, we're saying that the most important component of the

[2021-05-24 11:08] Nic-Ma commented on #2220
Hi @rijobro ,

Thanks for your suggestion, I see your point.
So we still need to modify every post / utility transform to support a list of Tensor? Can we make some overall utility or optimize the `key_iterator()` to automatically support it?

Thanks.

[2021-05-24 11:35] rijobro commented on #2220
If used in a Compose object, I don't think it being a list of tensors is a problem, see [here](https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/transform.py#L47-L49). It will loop over each element, perform the transform on each of them and return a list.

The problem (as far as I understand) is that our post-processing transforms can't take CHW[D], and our pre-processing transform

[2021-05-24 12:33] #1994 closed

[2021-05-24 14:12] Nic-Ma commented on #2236
Hi @rijobro ,

I checked the git history, this PR caused the issue: https://github.com/Project-MONAI/MONAI/pull/1676.
We should use:
[code]
Let me create a fix PR for your review.

Thanks.

[2021-05-24 14:21] rijobro commented on #2236
Hi @Nic-Ma , good spot, thanks!

[2021-05-24 15:59] #2236 closed

[2021-05-24 16:04] wyli opened #2239 "an option in runtests.sh to only launch the multigpu-based tests"
**Is your feature request related to a problem? Please describe.**
the current `runtests.sh` provides options for quick unit tests and integration tests,
would be great to have another option to select and run those multi-gpu based test cases.

[2021-05-24 17:14] rijobro commented on #2221
I like the idea making them in-place to unify the transforms, I'll do the code review tomorrow. Thanks!

[2021-05-25 02:10] thewtex commented on #1629
@wyli thanks for the detailed, reproducible report :1st_place_medal:

I verified that this patch addresses the issue:

https://github.com/InsightSoftwareConsortium/ITK/pull/2552

[2021-05-25 09:18] Nic-Ma commented on #2220
Hi @rijobro ,

Thanks for your explanation.
The problem here is different from the `loop` solution in pre-transforms, here we handle a big dict, some inverted keys contain a list of Tensor(channel-first) while some keys contain just a Tensor(batch-first), it's **dict of list**.
But in the pre-transforms case, it's **list of dict**, we copied items when cropping, so we can use `loop` to handle ever

[2021-05-25 10:34] rijobro opened #2245 "RandFlip operates on all axes or none"
**Is your feature request related to a problem? Please describe.**
For data augmentation, you might want to flip your images. You might want to flip it around any of the dimensions, either all at the same time or with some combination. The current code, however, only allows for flipping across all or none of the dimensions.

The current solution is therefore to chain multiple transforms together,

[2021-05-25 11:03] rijobro commented on #2245
Similar to RandAxisFlip, but this only allows the flip of one axis, not some arbitrary amount.

[2021-05-25 11:20] rijobro commented on #2220
Hi @Nic-Ma , sorry I'm still struggling a little to visualise all the lists and dicts! Would you be able to give me a minimum working example? Is it something that the decollator could solve?

[2021-05-25 14:04] Nic-Ma commented on #2220
Hi @rijobro ,

Could you please help take a look at this draft PR: https://github.com/Project-MONAI/MONAI/pull/2244
I used `Activationd` transform as an example to show how to support a list of tensor.
And let me give you an example for the difference of the outputs between `RandCropByPosNegLabel` and `Invertd`:
1. For `RandCropByPosNegLabel`, if the input dict is:
[code]
After `RandCropByPosNegLa

[2021-05-25 14:46] #2223 closed

[2021-05-25 17:43] #2221 closed

[2021-05-25 18:49] ramchandracheke commented on #586
Hi,

Thank you for this wonderful project.

File "/home/ramchand/.local/lib/python3.7/site-packages/monai/transforms/utils.py", line 334, in generate_pos_neg_label_crop_centers
    raise ValueError("The size of the proposed random crop ROI is larger than the image size.")

ValueError: The size of the proposed random crop ROI is larger than the image size.
RuntimeError: applying transform <monai.tr

[2021-05-25 22:12] dzenanz commented on #1357
I plan to work on this issue soon - in case somebody is already working on it or planned to.

[2021-05-25 23:33] wyli commented on #2220
The data after transform invention can be in different spatial sizes, just like the original image inputs. we don't have the batch dim for most of the preprocessing transforms, not sure why we need the concept of minibatch in the postprocessing here. minibatch is mostly useful for the stochastic gradient descent methods. if it's for performance purposes, I believe we have better ways to accelerate

[2021-05-26 01:07] ELKYang opened #2247 "Randomly crop out batch images and sliding-window inference"
Hello, May I ask if there is any paper or material that can support the "Medical image data volume may be too large to fit into GPU memory. **A widely-used approach is to randomly draw small size data samples during training** and **run a ‘sliding window’ routine for inference**." mentioned in "4. Randomly crop out batch images based on positive/negative ratio"

For example, if I use the **RandCro

[2021-05-26 02:38] devsam19 opened #2248 "Inverse Transforms don't seem to give the desired result on 3D data"
I created a simple transform like the following
[code]

On following the inverse transform tutorial notebook, it still fails to revert the image to their original size.
[code]
Any suggestions?

[2021-05-26 02:59] Nic-Ma commented on #2220
Hi @wyli ,

PyTorch DataLoader collates batch in the program, but if want to remove the batch dim after model forward, we must ask users to manually decollate all the data before `post transforms` and `metrics`, right?
Something like:
[code]
I feel it's a big breaking change for our current post transforms, metrics and examples & tutorials, a little bit risky.
@ericspod  @rijobro  What do you guys

[2021-05-26 07:29] wyli commented on #2220
Sure, in the current codebase, the postprocessing s such as 'SaveImage' and 'InvertD' transform s already implicitly decollate batches. We should make the decollating explicit at the lowest level, explicit is better than implicit. if the user don't want the details they should use the postprocessing event handler.

[2021-05-26 08:25] Nic-Ma commented on #2220
Hi @ericspod and @rijobro ,

I think @wyli 's idea is to call the `decollate_batch` API after model forward(), then change all the following logic to work on a list of dict, or list of array. every item is channel-first. Just like above example code I prepared.
The benefit is to unify all the transforms to work for unique data shape: [C, H, W, [D]].
The drawback maybe we can't support ignite metri

[2021-05-26 09:18] rijobro commented on #2215
Hi @NMVRodrigues , any luck?

[2021-05-26 09:42] #2247 closed

[2021-05-26 11:42] masadcv opened #2250 "MONAI's CRF takes too long on CPU"
**Describe the bug**
I am running MONAI's CRF implementation on CPU on a 3D volume of size (120, 150, 100).
It takes **177.5296 sec** to run on CPU using MONAI's implementation
The same can be achieved in **5.8184 sec** using SimpleCRF's implementation from: https://github.com/HiLab-git/SimpleCRF

I have setup a test script to replicate this here: https://gist.github.com/masadcv/84f1bc9f505056ea8f

[2021-05-26 12:04] yiheng-wang-nv opened #2251 "ASPP type hints need to be updated"
In ASPP (https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/blocks/aspp.py), the type hints of `acti_type` and `norm_type` are missing.

[2021-05-26 13:07] rijobro commented on #586
hi @ramchandracheke, could you create a new discussion and we'll try and help you there: https://github.com/Project-MONAI/MONAI/discussions.

[2021-05-26 13:22] charliebudd commented on #2250
There's a quick fix I've been meaning to commit and then there's optimisation of the PHL message passing which is a longer job I'm working on in the background. Optimisation has mainly been focused on the GPU implementation with the CPU as a fall back, but I think it is reasonable to expect both be at a high performance.

[2021-05-26 13:50] rijobro commented on #2248
Hi @devsam19

- What is the original spacing/size (1) originally, (2) after the forward transformations, and (3) after the inverse?
- Can you remove the `Lamdad` transformation? I'm not sure what your lambda is doing, but for the sake of testing, let's temporarily remove it.
- Can I see the code that generates `t` and `t_t`?
- The inverse of `Resized` (the only invertible transform in your list) i

[2021-05-26 13:56] Meddebma opened #2257 "CUDA Error"
Hi,

I tried to run classification on my own dataset on colab, unfortunately I have a problem with the GPU, I get this error:
"RuntimeError: CUDA error: device-side assert triggered"
I also deleted pin_memory=torch.cuda.is_available() from the loaders

Here is the code:
https://github.com/Meddebma/pyradiomics/blob/master/Projekt2.ipynb

Could you help me with this?
Thank you

[2021-05-26 14:01] ramchandracheke commented on #586
Thanks @rijobro for your reply. Yes I will create it.

[2021-05-26 14:18] #2257 closed

[2021-05-26 14:38] brad-t-moore commented on #1357
Well, I started getting into it but it's a matter of timing right now.  The
things I wanted to focus on were:
1.  Making sure the affine matrix is RAS and not LPS.  The Orientation
transform in MONAI seems to assume all data is loaded as RAS before using.
2.  The best way to make sure everything gets into CHWD[T] on the final
tensor.  My current reading of the MONAI documentation (someone correct

[2021-05-26 14:42] brad-t-moore commented on #1357
Oh and 6.  Someone confirming the edge case of a negative Index on
LargestPossibleRegion().  My understanding is that ITK's Origin is defined
as the physical point when Index = 0 (notoriously caused by the
PadImageFilter).  I think Nifty and DICOM usually define Origin (or
whatever they are calling it) as the first element in the memory buffer.

On Wed, May 26, 2021 at 10:38 AM Brad Moore ***@***.

[2021-05-26 14:46] dzenanz commented on #1357
`ITK_COORDINATE_ORIENTATION_RIP` is equivalent to DICOM LPS: Right to Left varies
fastest (0th pixel on Subject's right).

Image's origin corresponds to index 0, in case the LargestPossibleRegion's index is different from 0.

If you already started, please keep going. I wrote that in order to avoid duplication of work. Thanks for replying in a timely fashion.

[2021-05-26 15:14] #2251 closed

[2021-05-26 15:15] Nic-Ma commented on #2220
Hi @vfdev-5 ,

As I know, ignite metrics expect the data shape with batch dim, may I know some design reason for that?
We are investigating to decollate batch data after network forward() and loss forward(), then all the following post transforms and metrics will handle channel-first tensor in a list.
Because after inverting transforms, the data may have different init shape, so can't batch data a

[2021-05-26 15:33] vfdev-5 commented on #2220
Hi @Nic-Ma ,

In our practice it the most common format for the models output and targets: `(B, C, ...)` and `(B, ...)`.
Also it helps to accelerate internal computations.

As I understand you would like to handle additionally two lists instead of tensors ?
[code]
where ypredX and yX have shapes `[C, ...]` and `[...]` or yX can be even a scalar.
I thinks this could be a feature for ignite...

[2021-05-26 16:32] rijobro opened #2260 "Re-commit inverse of AdjustContrastd and RandAdjustContrastd"
This [PR](https://github.com/Project-MONAI/MONAI/pull/2259) temporarily reverts the addition of inverses of `AdjustContrastd` and `RandAdjustContrastd`. This issue is to remind us to re-add that functionality back in once we've improved the inverse transformation API.

[2021-05-26 16:49] masadcv commented on #2098
Just to document this somewhere for future reference. This issue is only partially resolved. I still have the same error when running the original notebook from here. However, this is now dependent on the amount of GPU memory I have available. Not sure what the cause is, however if this is hitting the upper limit for GPU memory space - then perhaps the expected behaviour would be to show an error

[2021-05-26 17:27] vfdev-5 commented on #2220
@Nic-Ma seeing your above example https://github.com/Project-MONAI/MONAI/issues/2220#issuecomment-848417625
[code]
Seems like `list_d[i]["pred"]` and `list_d[i]["label"]` are 3D tensors which still could be used with current metrics if we were doing `.unsqueeze(0)` on them (which should be almost zero-cost). So, basically we can do something like that:
[code]
Please, correct me if I do not right g

[2021-05-26 19:04] tvercaut commented on #2250
Naive first question but is the c++ code compiled with optimisation on? I can't see anything like -O2 or -O3 in [setup.py](https://github.com/Project-MONAI/MONAI/blob/dev/setup.py) but I guess it may come from elsewhere.

[2021-05-26 19:10] devsam19 commented on #2248
Hi @rijobro
Thank you for the quick response.
Here are the details:

- Original Image Size: (19, 384, 384)
- After Transform : (32, 128, 128)
- After Inverse Transform : (32, 128, 128)

Here's the code that generates t and t_t:

[code]

Here is a complete example:

[code]

Thank you for the help!

[2021-05-26 19:53] charliebudd commented on #2250
We compile the C++ extention with torch's setup tools wrapper. I believe this handles these things, off the top of my head I think its -O2. This PR #2261 implements the quick fix I aluded to earlier. While I have not tested it against Simple CRF, it does now run at the same order of magnitude as the crf as rnn implementation, and produce identical (by eye) results. When the JIT system is in I'll m

[2021-05-26 21:45] tvercaut commented on #2250
Nice. I guess your comparison agains crf-as-rnn is in 2D.  I guess crf-as-rnn works on 2D only out of the box, right?
It would be worth checking against SimpleCRF in 3D especially.

I expect the runtime of SimpleCRF in 2D to be similar to crf-as-rnn.

The crf-as-rnn implementation use the code from Philipp Krähenbühl for the PHL:
https://github.com/sadeepj/crfasrnn_pytorch/blob/master/crfasrnn/per

[2021-05-27 01:42] Nic-Ma commented on #2220
Hi @vfdev-5 ,

You are right, no need to totally change ignite metrics, but may need your help to add some wrapper layer in ignite to support a list of channel-first tensors or support 1 channel-first tensor.
We usually use ignite metrics in MONAI workflows directly, like this `Accuracy`:
https://github.com/Project-MONAI/tutorials/blob/master/modules/engines/unet_evaluation_dict.py#L111
Actually,

[2021-05-27 08:51] rijobro commented on #2248
And what is the definition of `check_transforms`?

By complete example, I mean would it be possible to create a script that I can run from start to end? You could use `monai.data.create_test_image_3d` to create a test image. That would be really useful

[2021-05-27 13:17] wyli commented on #2231
as an initial step, the transform should support both tensor and ndarray types, and return value should have the same type as input.

[2021-05-27 19:00] iwan933 opened #2266 "compute_meandice calculates nan for full zero input"
**Describe the bug**
The function `compute_meandice` outputs nan if labels for a channel are all 0 and predictions are 0 as well. (Can happen while cropping e.g.)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Return value should equal `1.0`.

**Environment**

[code]

**Solution**
Catch the case by checking the denominator value for 0. I can create a pullrequest i

[2021-05-28 01:42] Nic-Ma commented on #2266
Hi @iwan933 ,

Thanks for your interest and feedback.
I think Nan is expected result for all zero data, @ericspod @wyli  could you please help double confirm?

Thanks.

[2021-05-28 08:46] rijobro commented on #2231
I had a thought about this. `LoadImage` would still return numpy and therefore all transforms that follow would be doing numpy<->torch conversions. So, to make the most of this suggested plan of returning the image in the same type as the input, we would want to move the `ToTensor` as early as possible, e.g.:

[code]

[2021-05-28 08:58] wyli commented on #2231
because this is a significant feature, how about we create a feature branch for it in the codebase? when it's entirely ready we merge it into dev. otherwise we keep the feature branch up-to-date with the dev branch. all of us can collaborate on the feature branch.

[2021-05-28 09:57] wyli commented on #2266
yes there are discussions https://github.com/Project-MONAI/MONAI/issues/887, I'm closing this

[2021-05-28 09:57] #2266 closed

[2021-05-28 11:09] wyli opened #2269 "cron tests error"
**Describe the bug**
[code]

**To Reproduce**
logs: https://github.com/Project-MONAI/MONAI/runs/2691003299?check_suite_focus=true

[2021-05-28 11:27] wyli opened #2270 "releasing 0.5.3"
**Is your feature request related to a problem? Please describe.**
this is a minor version release to provide non-breaking fixes of a few known issues,
and to test out the new branching model/release procedure.

this ticket will be used for tracking any issues during the release.

see also:
https://github.com/Project-MONAI/MONAI/issues/2041

[2021-05-28 13:09] thewtex commented on #1629
@wyli this has been addressed in `itk-5.2.0.post3`.

I will help with the remaining issues based on this package in the coming month.

[2021-05-28 13:13] wyli commented on #1629
thanks @thewtex!

[2021-05-28 13:19] wyli opened #2273 "APIs to load pretrained models from Clara Train 4.0 (6/July)"
**Is your feature request related to a problem? Please describe.**
Nvidia Clara train 4.0 models (fully based on MONAI components) are now available, would be great to make them easily accessible from MONAI, in a similar manner to https://github.com/Project-MONAI/MONAI/blob/12bbe776735ba05b68cde020cfface8038915f14/monai/networks/nets/densenet.py#L217-L227

see also:
clara train models: https://ngc

[2021-05-28 13:53] rijobro commented on #2231
If I do this as a branch on the Project-MONAI fork, will I have to get an approved code review every time I want to commit? If so, I think I'll just do it as a branch on my fork.

[2021-05-28 14:02] wyli commented on #2231
that's also fine, just two thoughts:
- from your fork , you wouldn't be able to trigger the full self-hosted ci pipelines (I feel we may need a full test before merging)
- we (at least @Nic-Ma and I) could help build this feature together, submitting PRs to a MONAI branch is easier than submitting them to your fork...

[2021-05-28 14:04] rijobro commented on #2231
Ok. Could we create a branch that has CI/CD testing, but doesn't require code reviews? Potentially also doesn't require the tests to pass before pushing to that particular branch (just to speed things up, we'd have to be careful not to break things of course).

[2021-05-28 14:08] rijobro commented on #2231
Great. I can't create branches on the main repository, could you take care of that?

[2021-05-28 14:29] rijobro opened #2275 "SplitChannel has different behaviour depending on numpy/torch input"
**Describe the bug**

[code]
Output is:
[code]

I suspect this is because `slice` acts differently on torch and numpy. Is this behaviour to be expected? I'm not sure if it was intentional to let the different modules follow their own behaviour or if we expect the two to give the same result.

[2021-05-28 14:44] Nic-Ma commented on #2275
Hi @rijobro ,

I will update this transform in my PR for `decollate` batch to a list of Tensors.

Thanks.

[2021-05-28 14:59] wyli commented on #2231
sure, created `feature/2231-transforms` (https://github.com/Project-MONAI/MONAI/tree/feature/2231-transforms) I'll push update ci/cd config to include this `feature/*` pattern

[2021-05-29 13:53] #2269 closed

[2021-05-29 14:06] Nic-Ma commented on #2275
Already fixed this issue in this PR: https://github.com/Project-MONAI/MONAI/pull/2244.

Thanks.

[2021-05-30 00:47] dlotfi opened #2282 "CacheDataset problem when using WeightedRandomSampler together with Randomizable InvertibleTransform"
**Describe the bug**
CacheDataset together with a random data sampler with replacement and one or more Randomizable InvertibleTransform transforms causes an error in collation of 'x_transforms' keys:

**To Reproduce**
In order to reproduce this error:
- Dataset should be CacheDataset (or probably one of its variants like SmartCacheDataset)
- The list of transforms should contain:
  - At least one

[2021-05-30 07:12] dlotfi commented on #2282
This issue seems to have been resolved in [PR-2121](https://github.com/Project-MONAI/MONAI/pull/2121) by adding a deepcopy before applying the first non-deterministic transform in CacheDataset.

[2021-05-30 07:12] #2282 closed

[2021-05-30 15:05] wyli opened #2284 "deprecate cleanup-workflow in favor of github action concurrency"
**Is your feature request related to a problem? Please describe.**
the workaround for clearing duplicated ci/cd runs (https://github.com/Project-MONAI/MONAI/pull/1511) could be replaced by the github action new feature with the `concurrency` keyword: https://github.blog/changelog/2021-04-19-github-actions-limit-workflow-run-or-job-concurrency/

[2021-05-30 16:02] function2-llx opened #2286 "Any dictionary-based transform should not use shallow copy"
**Describe the bug**

Any dictionary-based transform should not use shallow copy, i.e. every `d = dict(data)` at the first line of their implementation (example [here](https://github.com/Project-MONAI/MONAI/blob/7ee798997305fcf5beb4704a42d63ff403ebb6d0/monai/transforms/spatial/dictionary.py#L339)), this will cause some unexpected modification later.

**To Reproduce**
[code]

This will output `Fals

[2021-05-30 16:26] eddyleelin commented on #2286
I'm not 100% sure, but does it seem like the [docs](https://docs.monai.io/en/latest/transforms.html#monai.transforms.Transform) seem to indicate that `Transform` (and therefore `MapTransform`, by extension) does not guarantee that `data` will not be modified in place?

And then in `MapTransform`, the [doc](https://docs.monai.io/en/latest/transforms.html#monai.transforms.MapTransform) says that it

[2021-05-30 16:37] function2-llx commented on #2286
Thanks for the reply, I think you're right. Maybe I'll conduct deepcopy manually when necessary.

[2021-05-30 16:38] #2286 closed

[2021-05-31 06:01] Nic-Ma opened #2287 "decollate needs to support more types"
**Is your feature request related to a problem? Please describe.**
Currently, the `decollate_batch` API only supports `dict` data, need to support at least `list` type.

[2021-06-01 11:22] wyli opened #2289 "host/load pretrained weights for 3D resnet"
**Is your feature request related to a problem? Please describe.**
PR https://github.com/Project-MONAI/MONAI/pull/2253 implements a generic version of resnet for spatial 1/2/3D inputs. It'd be very useful for MONAI to provide a further `pretrained=True` option for the model initialisations. However there is currently some practical issue https://github.com/Project-MONAI/MONAI/pull/2253#issuecommen

[2021-06-01 14:17] wyli opened #2290 "support dynamic data list for the dataset APIs (2/July)"
**Is your feature request related to a problem? Please describe.**
At the workflow level, would be great to have the capability of changing the input training dataset on the fly, without restarting the running engine. This would require some extra works for the cache-based datasets.

cc @SachidanandAlle @diazandr3s

[2021-06-01 15:34] wyli commented on #2270
just two notes that:
- The original gitflow always tags the latest commit on 'main'. This is not compatible with MONAI's versioning which uses `git describe` to compute the version number from a tag. So, we tag the latest commit on the release branch and then merge the commit to both 'main' and 'dev'.
- For the same reason, we couldn't use the repo's "squash and merge" approach to handle the taggi

[2021-06-01 17:33] SachidanandAlle commented on #2290
one simple option could be.. take filename as input.. instead of list[dict].. and at every epoch load dataset dict from file..

[2021-06-01 22:46] Nic-Ma commented on #2290
Hi @SachidanandAlle ,

I think we are still not very clear about your request, is there any example code?

Thanks.

[2021-06-01 22:51] wyli commented on #2290
I think Sachi's workaround is to have a file such as 'training.json' to list the names of training images. we keep the 'training.json' unchanged, and change the content of 'training.json' during training.

[2021-06-01 23:06] #2287 closed

[2021-06-02 07:48] #2270 closed

[2021-06-02 11:01] #2284 closed

[2021-06-02 11:59] rijobro commented on #2286
Hi @function2-llx, I understand why it would be confusing that some transforms perform deep copies and some shallow.

Personally I think we should update them to make them all deep, and then we can update the documentation that @eddyleelin referenced.

@wyli @Nic-Ma @ericspod – what do you think?

[2021-06-02 14:33] wyli commented on #1629
it still gives the warning:
[code]

https://github.com/Project-MONAI/MONAI/runs/2728004520?check_suite_focus=true#step:7:2534
using 5.2.0.post3 PR here: https://github.com/Project-MONAI/MONAI/pull/2274

[2021-06-02 15:51] dianemarquette opened #2296 "FocalLoss Runtime Error (view() instead of reshape())"
**Describe the bug**
When I try to train my network using `FocalLoss` instead of `DiceLoss`, I get the following error:
[code]

**Code snippets**
[code]
**Expected behavior**
When using FocalLoss I want my network to train correctly, i.e., like it does when:
[code]

**Environment**
[code]

**Additional context**
I'm using PyTorch Lightning 1.3.3

**Solution**
Using `.reshape(...)` instead of `.vie

[2021-06-02 15:57] Nic-Ma commented on #2296
Hi @dianemarquette ,

Thanks for your bug report!
@yiheng-wang-nv , could you please help take a look at this issue?

Thanks in advance.

[2021-06-02 22:30] witness97 commented on #901
@talmazov Hi, I try to run your final version code and meet the problem below,

RuntimeError: Caught RuntimeError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/monai/transforms/transform.py", line 48, in apply_transform
    return transform(data)
  File "/usr/local/lib/python3.7/dist-packages/monai/transforms/io/dictionar

[2021-06-03 04:21] Nic-Ma opened #2300 "decollate needs to support non-batch data"
**Is your feature request related to a problem? Please describe.**
Currently, if we apply `decollate` to a data, every item must have same batch size.
We need to support the case that some items may be `None` or scalar value, like `loss`.

[2021-06-03 04:24] Nic-Ma commented on #2300
I would suggest to copy the data item if can't decollate, similar logic as our `RandCropByPosNegLabeld` transform.

[2021-06-03 06:52] shawnfan19 opened #2304 "Spacing transforms scale pixel dimensions or resample to specified pixel dimensions"
Hello!

Is the Spacing transform meant to resample a given volume to a specified the pixel dimensions? I have NiFTI images with different voxel dimensions and am trying to resample all of them to (2mm, 2mm, 2mm) using the following code. \

[code]

```img0.nii``` has a pixel size of (2mm, 2mm, 2mm) to begin with so it should remain unchanged by the transform, but its dimensions were shrunk by a fa

[2021-06-03 11:20] #2296 closed

[2021-06-03 11:24] wyli commented on #2289
see also https://github.com/Project-MONAI/MONAI/issues/271

[2021-06-03 16:10] Nic-Ma commented on #2304
Hi @wyli ,

Could you please help share some comments in this ticket?

Thanks in advance.

[2021-06-03 19:03] wyli commented on #2304
the spacing transform requires additional meta data from the image, please [follow this example](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_training_dict.py#L63-L71) to construct a dictionary-based pipeline. The `ImageDataset` provides a simplified data source without the meta data.

[2021-06-03 19:04] #2304 closed

[2021-06-03 22:07] wyli commented on #2215
Perhaps this is a windows specific issue. All notebooks work fine with our self-hosted LInux instances (https://github.com/Project-MONAI/MONAI/runs/2734761245?check_suite_focus=true). please reopen if there's more information about how to reproduce it.

[2021-06-03 22:07] #2215 closed

[2021-06-03 23:44] shawnfan19 commented on #2304
[code]

The above snippet generates tensors of the expected dimensions. But ```img1.nii``` was transformed to a volume of NaN's. Any thoughts on this? Thank you.

[2021-06-04 09:37] #2056 closed

[2021-06-04 13:03] SachidanandAlle commented on #2056
@diazandr3s can we check if this is good enough solve your requirement for deepedit usecase..

In that case.. we can add a tutorial in monai on how to extend deepgrow app and train a deepedit model..
May be you want to add one specific transform to drop the signals based on percentage into monai

[2021-06-04 16:25] Nic-Ma opened #2310 "Provide a basic function to load datalist from CSV file (25/June)"
**Is your feature request related to a problem? Please describe.**
As we discussed in: https://github.com/Project-MONAI/MONAI/discussions/2212
We need to load CSV content and make it as a datalist for dataset.
Then apply transforms for the data items.

[2021-06-05 19:25] eddyleelin commented on #573
Sorry, could I ask what is the current status of this issue? @wyli
It seems like currently `MaskedDiceLoss` is the only type of segmentation loss with an implementation of masking. Would it be beneficial to extend this to the other types of losses, such as Tversky or Focal Losses? Perhaps with a wrapper function like [MultiScaleLoss](https://docs.monai.io/en/latest/losses.html#multiscaleloss)? Tha

[2021-06-05 19:32] wyli opened #2311 "integration test error"
**Describe the bug**
TestIntegrationSlidingWindow error introduced by https://github.com/Project-MONAI/MONAI/pull/2308
please see log (https://github.com/Project-MONAI/MONAI/runs/2753864977?check_suite_focus=true):
[code]

[2021-06-05 19:40] wyli commented on #573
sure @eddyleelin, let me look into this...

[2021-06-06 00:40] #2311 closed

[2021-06-06 06:08] shawnfan19 opened #2316 "Saving NiFTI images with resampling raises memory error"
Hello!

I have created the following pipeline and run it on some NiFTI images here (https://drive.google.com/drive/folders/1r2_0RTHFN8XfSLnSgMGYZuQXuhEpP4NC?usp=sharing). I would like to save the processed images as NiFTI because I am processing >10,000 images before training a neural network. Instead of having to process all images every epoch, I would like to save them as temporary files until t

[2021-06-06 10:21] wyli opened #2317 "preserving order of the keys when transforming data"
**Is your feature request related to a problem? Please describe.**

https://github.com/Project-MONAI/tutorials/issues/223

Packages such as Catalyst use the first item of the data dict to infer the batch size.

`self.batch_size = next(iter(batch.values())).shape[0]`

Our recent updates on the transforms such as

https://github.com/Project-MONAI/MONAI/blob/316449bae1386df3300f1d57f135c1869f602740/m

[2021-06-06 12:36] Nic-Ma commented on #2317
Hi @wyli ,

Thanks for raising this up.
Yes, it makes sense to guarantee the dict order epecially Python 3.7 officially supports the dict order as the insertion order:
https://www.reddit.com/r/Python/comments/8cf4rf/til_that_starting_from_37_dicts_are_officially/
I am thinking a draft proposal: everytime when creating new dict, can we use `shallow copy` to create a dict with same order, then use `

[2021-06-06 14:07] wyli commented on #2317
thanks @Nic-Ma, I think that'll be nice, please submit a PR.

[2021-06-06 14:09] Nic-Ma commented on #2317
Sure, I will submit a PR ASAP next week.

Thanks.

[2021-06-06 22:15] eddyleelin opened #2320 "Refactor Croppad Dictionary Functions to clean up differences in structures"
**Is your feature request related to a problem? Please describe.**
Sorry, I was looking through the code mentioned in #2317 and had what might be a dumb question! Is there a reason why the structure for creating/returning the list of dictionaries is different between the similar functions? For example, the function [`RandSpatialCropSamplesd`](https://github.com/Project-MONAI/MONAI/blob/316449bae13

[2021-06-06 23:27] Nic-Ma commented on #2320
Hi @eddyleelin ,

I think we don't have a particular reason to make the transforms slightly different, just due to some historical reason or different developers.
Welcome to submit a PR to `shallow copy` the dict to guarantee the order.
Thanks very much for pointing this!

[2021-06-06 23:35] Nic-Ma commented on #2316
Hi @shawnfan19 ,

Thanks for your interest here.
May I know why you want `resample=True` when saving your images?
If enabling resample, it will revert the operations in your `Spacingd` transform.
And BTW, to achieve your requirement to avoid repeatedly run for every epoch, I think the better solution is to use the `PersistentDataset`: https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/data

[2021-06-06 23:39] Nic-Ma commented on #2310
After discussion with @wyli , maybe it's better to involve the `pandas` lib to handle CSV for complicated features in the future. I will rewrite the draft code to use pandas DataFrame to support joining tables.
Please feel free to let me know if you have any concerns about optionally importing pandas.

Thanks.

[2021-06-06 23:49] shawnfan19 commented on #2316
Hello @Nic-Ma,

Thank you for the prompt response. I wanted to save images both with ```resample=True``` and ```resample=False``` for a before-and-after comparison and to ensure that the images are processed correctly. ```resample=True``` gives the memory error above, and ```resample=False``` gives an images that is distorted.

```PersistentDatset``` sounds exactly what I was looking for, but I wo

[2021-06-07 00:17] Nic-Ma commented on #2316
Hi @shawnfan19 ,

Could you please help provide a simple program to reproduce the issue? Then let me investigate it.
Maybe you can generate a random data array with the same size as your images.

Thanks.

[2021-06-07 00:53] shawnfan19 commented on #2316
Hello @Nic-Ma,

For sure. Please find the code snippet below. The NiFTI file can be found here (https://drive.google.com/drive/folders/1r2_0RTHFN8XfSLnSgMGYZuQXuhEpP4NC?usp=sharing).

[code]

Node that the distortion can only be seen in the saved NiFTI file. The .png files actually appear normal. I suspect that the pipeline transforms the images correctly, but something may have gone wrong when sa

[2021-06-07 03:30] Nic-Ma commented on #2316
Hi @shawnfan19 ,

Thanks for your bug report.
I think the root cause of the distortion may because when saving nifti file, we always save with the `original_affine` no matter `reample` is True or False.
I submitted a PR https://github.com/Project-MONAI/MONAI/pull/2322 to update it.

Thanks.

[2021-06-07 04:02] shawnfan19 commented on #2316
Hello @Nic-Ma,

Thank you for the update! Sorry I have limited experiences with GitHub, but to access the PR, would I need to re-install MONAI by building it forms source?

Shawn

[2021-06-07 09:32] Nic-Ma commented on #2316
Hi @shawnfan19 ,

I think maybe you can try to:
1. pip uninstall monai
2. git clone https://github.com/Nic-Ma/MONAI.git --branch 2316-fix-resample-affine
3. cd MONAI
4. python setup.py develop

If the PR can't fix your issue, please let me know and debug more.

Thanks.

[2021-06-07 10:25] yiheng-wang-nv opened #2323 "Modify DynUNet initialize weight function"
So far, the initialization function for DynUNet is different from:
https://github.com/MIC-DKFZ/nnUNet/blob/master/nnunet/network_architecture/initialization.py

It needs to be unified.

[2021-06-07 10:31] wyli commented on #2316
#2322 fixes a utility issue but not the original out of memory issue.

[2021-06-07 10:35] Nic-Ma commented on #2316
Hi @wyli ,

Yes, there are 2 issues reported in the ticket: 1. distortion when `resample=False`, 2. out of memory when `resample=True`.

Thanks.

[2021-06-07 11:09] wyli commented on #2316
Had another look, the error is because of the old format for the image header:
https://github.com/Project-MONAI/MONAI/blob/27e64e0c0469c2fce910545328a2db8914958388/monai/transforms/io/array.py#L161-L162

before the above correction, the spatial shape was
[code]
after `switch_endianness`:
[code]
the spatial shape was changed to a large value and causes OOM

[2021-06-07 11:16] Nic-Ma commented on #2316
Cool, thanks for your debugging!
Let try to test and enhance `switch_endianness` later.

Thanks.

[2021-06-07 12:46] #2323 closed

[2021-06-07 12:51] Nic-Ma commented on #2316
Hi @wyli ,

After some investigation, I think the root cause is that we should call Nibabel API to swap the endian order:
https://github.com/nipy/nibabel/blob/master/nibabel/tests/test_image_load_save.py#L68
I will add more unit tests to cover it.

Thanks.

[2021-06-07 13:30] wyli commented on #2316
thanks, it's still good to have https://github.com/Project-MONAI/MONAI/pull/2325 for all the supported readers, the headers  should be checked/converted

[2021-06-07 15:47] madil90 commented on #1577
@wyli Closing this because resolved.

[2021-06-07 15:47] #1577 closed

[2021-06-07 21:48] #573 closed

[2021-06-08 09:51] Nic-Ma opened #2330 "Enhance the all_gather APIs for non-ignite programs"
**Is your feature request related to a problem? Please describe.**
Currently, we have 2 enhanced `all_gather()` APIs for distributed data parallel, they are based on ignite APIs.
As they can be also used to sync data in regular PyTorch programs for metrics, classification report, etc. we need to adjust them based on PyTorch dist APIs.
And also need to fix the ignite 1024 length issue when all_gath

[2021-06-08 12:05] wyli opened #2333 "pytype doesn't support windows"
**Describe the bug**
pytype doesn't support windows https://github.com/google/pytype#requirements
so, `pip install -r requirements-dev.txt` won't work

[2021-06-08 12:59] wyli opened #2335 "Methods to warn the deprecating/deprecated API features"
**Is your feature request related to a problem? Please describe.**
This ticket looks for basic methods to provide warning/exception with meaningful messages about the deprecating/deprecated APIs

part of https://github.com/Project-MONAI/MONAI/issues/233

[2021-06-08 14:25] danieltudosiu commented on #1127
Update:

I have all SSIM but the star [1] enhancement done, it has some issues with the masking and the authors of the paper can't seem to be reachable. Discussing with a Spanish researcher about possible bugs.

But it is very memory intensive, with more than 12GB VRAM required for a single 222^3 image. I am talking with an Nvidia Engineer to try and optimize it a bit more.

Also, does anybody kno

[2021-06-08 16:35] #2330 closed

[2021-06-08 18:03] #2333 closed

[2021-06-08 20:34] ericspod commented on #233
Another PR: #2338

[2021-06-08 22:09] wyli opened #2339 "Utilities for partially loading weights from a state_dict"
**Is your feature request related to a problem? Please describe.**
A utility function is needed to set a model's state_dict partially from another one.
this is required by https://github.com/Project-MONAI/MONAI/issues/2273 and https://github.com/Project-MONAI/MONAI/discussions/2329

an implementation is already part of the checkpoint loader:
https://github.com/Project-MONAI/MONAI/blob/a5364621712f

[2021-06-08 22:28] Nic-Ma commented on #2339
Yes, we can extract this logic to be a utility function.

Thanks.

[2021-06-09 02:10] Nic-Ma opened #2341 "How to get init args & values of a class instance"
Hi @ericspod @wyli @vfdev-5 ,

I got an important feature request from the internal team: how to get the init args and the values from a MONAI or ignite class instance and then used for logging or exporting to JSON files, etc.
For example:
[code]
How to get `{"keys": ["image", "seg"], "meta_key_postfix": "11"}` from the `load_image` instance?
I tried `inspect`, but seems it can only get the self.X

[2021-06-09 07:37] yiheng-wang-nv opened #2342 "UpSample module does not support `size` parameter for `nontrainable` mode"
The `size` parameter is used to specify the spatial size of the output for `nontrainable` mode ( see: https://pytorch.org/docs/stable/generated/torch.nn.Upsample.html). I think this parameter should be added into our current UpSample module.

[2021-06-09 07:48] vfdev-5 commented on #2341
Hi @Nic-Ma

How about inspecting `__dict__`:
[code]

[2021-06-09 07:50] Nic-Ma commented on #2342
Hi @yiheng-wang-nv ,

Sounds good, could you please help do a PR for it?

Thanks.

[2021-06-09 07:53] Nic-Ma commented on #2341
Hi @vfdev-5 ,

Thanks for your help here.
Sorry, maybe I didn't make the question clear.
The feature request is to get the **args** and the **values** of the "__init__()" func from an instance, not the member properties.

Thanks.

[2021-06-09 07:58] vfdev-5 commented on #2341
Thanks for the explanation! Let me check what we are doing to check the signature...

This looks like about logging a configuration which I think this should be done separately:
[code]

[2021-06-09 08:12] Nic-Ma commented on #2341
Hi @vfdev-5 ,

The main purpose of this feature is to export a config from a regular MONAI program which is based on pytorch and ignite.
We don't want to force users to write the config itself, so the ideal solution is to automatically extract args and values from an instance. Users can just call the func to export when they want:
[code]

Thanks.

[2021-06-09 08:19] yiheng-wang-nv commented on #2342
In addition, current Upsample module has a bug:
The type for `scale_factor` is `Union[Sequence[float], float]`, but as for `NONTRAINABLE` mode, `scale_factor` cannot have `None` input like `None` or `(None, 3, 3)`.
I will fix this issue in the same PR.

[2021-06-09 08:27] wyli commented on #2341
perhaps you can trace the call like this one: https://stackoverflow.com/a/8315566 and filter the relevant constructor calls. (I'm converting the ticket to a discussion)

[2021-06-09 08:27] #2341 closed

[2021-06-09 08:50] wyli opened #2345 "module 'torch.hub' has no attribute 'get_dir' in pytorch 1.5"
**Describe the bug**
from the nightly tests with PyTorch 1.5 https://github.com/Project-MONAI/MONAI/runs/2779850136?check_suite_focus=true:
[code]

[2021-06-09 09:56] #2342 closed

[2021-06-09 14:56] #2345 closed

[2021-06-09 18:38] ReubenDo opened #2350 "Cannot import the Cpp/CUDA extensions in NVIDIA pytorch docker containers"
**Describe the bug**
I cannot import the MONAI Cpp/CUDA extensions using last NVIDIA pytorch docker containers. I tried with  `nvcr.io/nvidia/pytorch:21.02-py3`, `nvcr.io/nvidia/pytorch:21.03-py3`,`nvcr.io/nvidia/pytorch:21.04-py3`,`nvcr.io/nvidia/pytorch:21.05-py3`.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the docker container, e.g.`nvcr.io/nvidia/pytorch:21.04-py3`
2. Install M

[2021-06-09 20:58] wyli commented on #2350
Thanks for report this @ReubenDo!
I can replicate the issue and adding a `--no-build-isolation` resolves it:
[code]

the root cause is that by default `pip install` tries to automatically install a fresh copy of pytorch for compiling the extensions (isolating the building environment), but this compiled version is not compatible with the docker image's build-in pytorch.

also adding the flag such

[2021-06-09 22:21] #2317 closed

[2021-06-09 22:30] ReubenDo commented on #2350
I confirm, problem solved! Thank you @wyli!

[2021-06-10 00:18] #2350 closed

[2021-06-10 06:37] Nic-Ma commented on #2290
I will try to enhance the `CacheDataset` to support the "rerun" of caching progress if datalist updated during training.

Thanks.

[2021-06-10 08:20] SachidanandAlle commented on #2290
How about persistent Dataset.. ?

[2021-06-10 08:37] Nic-Ma commented on #2290
Hi @SachidanandAlle ,

Sure, let me try to investigate both.

Thanks.

[2021-06-10 09:08] #2335 closed

[2021-06-10 13:39] Meddebma opened #2354 "Gradcam 3D Visualisation"
Hello,

I was trying to implement occlusion sensitivity map and Gradcam for my classification task but I've got two Problems:
1- the displayed slice was in a different reconstruction as the original one(displayed in Check Data Shape section), how can I make the same reconstruction?

2- for the Gradcam I got this error:
AttributeError: 'numpy.ndarray' object has no attribute 'detach'

here is the c

[2021-06-10 19:51] wyli opened #2355 "paramer group format error"
**Describe the bug**

`generate_param_groups` doesn't return the correct format for `match_type 'filter'`
[code]

error:
[code]

**Environment**
[code]

[2021-06-11 00:30] #2355 closed

[2021-06-11 03:30] madil90 opened #2357 "Tests failing on A100 due to tolerance"
**Describe the bug**
14 tests are failing on A100 due to issue with tolerance. The details of all tests and relative error are given below

**To Reproduce**
On a A100 GPU:
- Setup and install MONAI
- Run tests

** Details **
Failing tests and relative error on A100 are:

- `test_rand_3d_elastic_3 (tests.test_rand_elastic_3d.TestRand3DElastic)
Mismatched elements: 1 / 8 (12.5%)
Max absolute differe

[2021-06-11 03:32] Nic-Ma commented on #2357
Hi @madil90 ,

Thanks for your quick tests.
Could you please help submit a PR to increase the tolerance for these tests?
Please make sure the tolerance should be as small as possible.

Thanks.

[2021-06-11 08:38] #2239 closed

[2021-06-11 11:36] #561 closed

[2021-06-11 11:36] #303 closed

[2021-06-11 13:47] #2354 closed

[2021-06-12 00:06] Nic-Ma opened #2402 "Update all the examples & notebooks to use new APIs (14/July)"
**Describe the bug**
As we unified metrics APIs, @yiheng-wang-nv will simplify all the tutorials and examples to use the latest APIs when `decollate batch` feature is also merged.
Pending on this PR: https://github.com/Project-MONAI/MONAI/pull/2315

[2021-06-12 15:04] wyli opened #2362 "nightly tests: mmar downloading"
**Describe the bug**
mmar downloading  may have HTTP 500 errors:
https://github.com/Project-MONAI/MONAI/runs/2809176821?check_suite_focus=true
[code]

[2021-06-12 23:50] #2320 closed

[2021-06-14 12:16] wyli opened #2364 "Set up items for MMAR (6/July)"
**Is your feature request related to a problem? Please describe.**
this is part of #2273  to include more MMAR models in the model descriptors:
https://github.com/Project-MONAI/MONAI/blob/c1b5028a201a91adfc2c347ba51a6156926091b6/monai/apps/mmars/model_desc.py#L40-L43
the newly added should be tested with
https://github.com/Project-MONAI/MONAI/blob/c1b5028a201a91adfc2c347ba51a6156926091b6/monai/app

[2021-06-14 14:22] wyli opened #2365 "MMAR model description and downloading APIs (6/July)"
Part of #2273

Composing NGC MMAR URLs from MMAR item names, version number via API
- by default to fetch the latest?
- fetch the list of version numbers via API and download a specific version

(The advanced features that require NGC tool are not currently considered here, as we want to have a set of python APIs first)

[2021-06-14 16:50] #2362 closed

[2021-06-14 19:14] EricZimmermann opened #2366 "Import Error: monai._C"
Spatial transformer layers (grid grad, pull, push, count) all have optional imports for module monai._C. however, no module is found.

[code]

There is no documentation on how to install this module. Monai links to https://docs.monai.io/en/latest/installation.html#installing-the-recommended-dependencies with no information regarding ._C

I have reinstalled all - pip install 'monai[all]' as specifi

[2021-06-14 19:17] kirillv-cim commented on #2366
Having the same issue, please help

[2021-06-14 20:43] wyli commented on #2366
Thanks for the report, the modules are not currently released with the PyPI package. To install them you'll have to fetch the source code with `pip install git+` or `git clone` and install from source.  For more details please search for `Cpp/CUDA extensions` in this installation guide https://docs.monai.io/en/latest/installation.html.

I'm closing this ticket in favour of https://github.com/Proje

[2021-06-14 20:43] #2366 closed

[2021-06-14 20:45] EricZimmermann commented on #2366
Thank you for the support!

[2021-06-15 01:59] ZiyueXu77 opened #2367 "Meta information does not properly update during TransformInverter"
**Describe the bug**
TransformInverter correctly updated the data array, but the meta information does not get properly updated.
1. "image_meta_dict" will be updated along the pre-transforms and will stay the value before TransformInverter.
2. "pred_inverted_meta_dict" which is expected to be created along with the pred_inverted dict will not be created/available.
3. Thus, the final saved result w

[2021-06-15 02:28] Nic-Ma commented on #2367
Hi @ZiyueXu77 ,

Thanks very much for your detailed issue report!
To optimize the API usage, we already simplified the `Invertd` transform args and make it `in-place` operation as other transforms.
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/post/dictionary.py#L417

Thanks.

[2021-06-15 09:07] Nic-Ma opened #2369 "Should detach the Tensor before decollate_batch"
**Describe the bug**
Currently, we decollate a Tensor data(like: pred) from batch to list without `detach()` first.
I will enhance it soon.

[2021-06-15 10:40] Nic-Ma opened #2372 "Add utility to simplify metric handlers API"
**Is your feature request related to a problem? Please describe.**
Currently, users must set `output_transform = lambda output: output["pred"], output["label"]` for metrics.
We have received much feedback from users that the `lambda` function is hard to understand.
Thanks for the discussion with @vfdev-5 in ignite ticket:
https://github.com/pytorch/ignite/pull/2055#issuecomment-861380281
I will tr

[2021-06-15 14:34] wyli opened #2374 "error in multi-process accessing of the same non-exist persistent cache"
**Is your feature request related to a problem? Please describe.**
the persistent dataset will first check the existence of a cache directory and the create a new one if needed:
https://github.com/Project-MONAI/MONAI/blob/feb3a334b7bbf302b13a6da80e0b022a4cf75a4e/monai/data/dataset.py#L163-L165
these steps may run into a race condition in a multiprocess context.

[code]

[2021-06-15 16:22] #2374 closed

[2021-06-15 17:08] wyli opened #2376 "compatibility with torch 1.9"
**Is your feature request related to a problem? Please describe.**
pytorch 1.9 is available, there're some compatibility issues such as https://github.com/Project-MONAI/MONAI/runs/2831507688?check_suite_focus=true#step:8:4236

[2021-06-15 22:26] Nic-Ma commented on #2376
Thanks for raising this issue.
@yiheng-wang-nv , could you please help take a look at the network implementation with PyTorch 1.9?

Thanks in advance.

[2021-06-15 22:39] #2372 closed

[2021-06-16 08:54] #2376 closed

[2021-06-16 14:10] #2339 closed

[2021-06-16 22:27] madil90 opened #2381 "Add pre-merge pipeline using NVIDIA blossom system (7/July)"
**Is your feature request related to a problem? Please describe.**
Current CI system uses GitHub based runners and is not scalable as the project grows. NVIDIA's blossom CI system is a scalable solution that uses Kubernetes/Jenkins to launch CI jobs.

**Describe the solution you'd like**
Add the action that connects to blossom system and launches CI jobs on pull request comments.

[2021-06-18 01:01] #2369 closed

[2021-06-18 06:37] yiheng-wang-nv opened #2390 "Add docstring for `not_nans` in metrics"
Now `get_not_nans` is added for metrics, but `not_nans` does not have the corresponding descriptions.

[2021-06-18 07:05] yiheng-wang-nv commented on #2390
In addition, the docsting of `get_not_nans` in class `ConfusionMatrixMetric` is wrong according to its `aggregate` function. Now, if there are two metrics and `get_not_nans` is True, it will return a list like:
[code]
Let me also change it into:
[code]
and change the docstring as well.

[2021-06-18 07:05] Nic-Ma commented on #2390
Hi @yiheng-wang-nv ,

Thanks for raising this.
Sure, please submit a PR for it.

Thanks.

[2021-06-18 07:29] wyli opened #2391 "pytype doesn't work on macOS"
**Describe the bug**
`./runtests.h --pytype` gives an error on macOS, looks like it's a pytype issue https://github.com/google/pytype/issues/661

<details>

[code]

</details>

[code]

[2021-06-18 12:24] wyli commented on #2310
Hi @Nic-Ma, the discussion outcome is to make some improvements to the current prototype as our basic module.

the current prototype for your reference:
[code]
Enhancements TODOs
- the dataset should support single `csv_file` for the first version
- the dataset should support an additional dictionary for  variable names, types, default for missing values,
for example:
[code]
ds[0] would be a dicti

[2021-06-18 12:26] Nic-Ma commented on #2310
Hi @wyli ,

Thanks for providing the reference examples.
I am updating the PR for this feature.

Thanks.

[2021-06-18 12:43] thewtex commented on #1629
@wyli thanks for the report. We will keep pushing on this! Tracked in https://github.com/InsightSoftwareConsortium/ITK/issues/2603

[2021-06-18 13:11] wyli opened #2394 "Porting UNETR -- Transformers for 3D Medical Image Segmentation"
**Is your feature request related to a problem? Please describe.**
clean up the research code and port into MONAI
- identify generic image-based attention modules
- port full network implementations
- add workflow tutorial

https://arxiv.org/abs/2103.10504

[2021-06-18 16:36] wyli opened #2396 "Testing tutorials/demos for the upcoming release v0.6 (14/July)"
**Is your feature request related to a problem? Please describe.**
this ticket tracks the necessary tests of the tutorial repo for v0.6.

while we have regular tests for some of the notebooks, in general many of the scripts need manual verifications.

[2021-06-18 17:18] #2390 closed

[2021-06-20 14:58] Nic-Ma commented on #2310
Hi @wyli ,

For this initial feature request, I think the PR https://github.com/Project-MONAI/MONAI/pull/2349 already can support.
The `load_csv_datalist()` API can give a list of dictionaries, then use it in any Dataset, like our CacheDataset, PersistentDataset, etc. Same as our `load_decathlon_datalist()` API.
For example:
[code]
The challenge is to support very big CSV files during training.
Wh

[2021-06-20 15:02] Nic-Ma commented on #2310
CC @ericspod @rijobro to join the discussion.

Thanks.

[2021-06-20 15:05] wyli commented on #2310
the idea is to have a dataset class instead of a function, so that it'll be able to maintain internal states if needed and be extensible, similar to the `imagedataset` https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/image_dataset.py#L23

[2021-06-20 23:22] wyli opened #2397 "shared location for different jit builds"
**Describe the bug**
building different versions of the _extensions currently uses the same module name,
This can cause issues of incompatible compiled modules.

log:
https://github.com/Project-MONAI/MONAI/runs/2870435032?check_suite_focus=true#step:6:9618

[code]

[2021-06-20 23:53] Nic-Ma commented on #2310
OK, make sense.
Let me update it to a Dataset ASAP.

Thanks.

[2021-06-21 06:18] Nic-Ma opened #2399 "update to ignite v0.4.5 (2/July)"
**Is your feature request related to a problem? Please describe.**
As ignite v0.4.5 is already released, need to update our codebase to align with it and leverage the new metrics APIs.
https://github.com/pytorch/ignite/tree/v0.4.5
CC @vfdev-5

[2021-06-21 06:19] Nic-Ma commented on #2399
I will update ignite version and test ASAP.

Thanks.

[2021-06-21 06:25] vfdev-5 commented on #2399
Hi Nic, the release is cut but not yet on conda or pypi. We are working on it...

[2021-06-21 07:02] Nic-Ma commented on #2399
Hi @vfdev-5 ,

Thanks for your notification, I will update ASAP when you completed it.

[2021-06-21 07:38] #2397 closed

[2021-06-21 12:24] #2367 closed

[2021-06-21 12:25] Nic-Ma commented on #2364
Hi @wyli ,

Is this ticket duplicated to https://github.com/Project-MONAI/MONAI/issues/2365?

Thanks.

[2021-06-21 13:43] ericspod commented on #2310
What is the definition of very large CSV files? When they get to be hundreds of megabytes we start having issue with Pandas,  @atbenmurray and others have been working on a project [ExeTera](https://github.com/KCL-BMEIS/ExeTera/) for loading data from the ZOE Covid Symptoms app. It has its own way of parsing large CSV files because other things were painfully slow for that scale of data. I wouldn'

[2021-06-21 14:23] pdogra89 opened #2401 "Test Item"
ETA - 06/29/2021

[2021-06-21 14:30] Nic-Ma commented on #2310
Hi @ericspod ,

Thanks very much for your sharing!
In the initial PR #2349 , I tried to provide 2 Datasets, 1 is for regular small CSV files, 1 is for big CSV files and based on IterableDataset of PyTorch. So I think users can decide to use which Dataset based on his data and HW/SW environment.

Thanks.

[2021-06-21 14:55] wyli opened #2403 "generic image-based attention modules (6/July)"
**Is your feature request related to a problem? Please describe.**
part of #2394
implement the core module for UNETR

[2021-06-21 15:00] wyli commented on #2396
see also https://github.com/Project-MONAI/MONAI/issues/2402

[2021-06-21 15:37] wyli commented on #2310
see also https://github.com/Project-MONAI/MONAI/wiki/Minutes-Data-Working-Group-17-Jun-2021

[2021-06-22 00:28] zephyrie commented on #2396
@wyli I'm out of the office the rest of the week but will start testing next Monday.

[2021-06-22 07:24] Nic-Ma opened #2407 "Add support to change class number of TorchVision models"
**Is your feature request related to a problem? Please describe.**
Hogler raised this feature request internally, need to support TorchVison models with specified number of classes.

[2021-06-22 07:24] Nic-Ma commented on #2407
I will submit a quick PR to support it ASAP.

Thanks.

[2021-06-22 07:56] #2310 closed

[2021-06-22 08:29] wyli commented on #2381
#2382 is not working at the moment.

[2021-06-22 09:40] Nic-Ma opened #2417 "Add tutorial to show the CSVDataset and CSVIterableDataset"
**Is your feature request related to a problem? Please describe.**
As we already completed the initial version of `CSVDataset` and `CSVIterableDataset`, need to develop a tutorial to show the usage.

[2021-06-22 10:02] wyli opened #2410 "preprocessing/postprocessing"
**Describe the bug**
The terms in the APIs such as 'pre-transform' and 'post-transform' should be replaced by `preprocessing` and `postprocessing` to be consistent with the literature. The relevant docstrings should be reviewed and updated.

[2021-06-22 12:53] wyli opened #2415 "`load_from_mmar` to support model config from the mmar json"
**Describe the bug**
part of #2273
the current loader supports loading a config dictionary from `model.pt` (and assumes `model.pt` contains the dict).
this should be enhanced to support loading from json config, in case that `model.pt` doesn't contain the full model specification.

[2021-06-22 14:59] Nic-Ma opened #2418 "New numpy(1.21.0) raised many typehint issues"
**Describe the bug**
[code]

[2021-06-22 14:59] Nic-Ma commented on #2418
I am working on a PR to fix them ASAP.

Thanks.

[2021-06-22 17:46] #2418 closed

[2021-06-22 21:09] jpcenteno80 opened #2420 "Transforms: Spacing output not compatible with CenterScaleCrop"
**Describe the bug**
`Spacing` transform also outputs affine information. `CenterScaleCrop` expects a tuple of 1 and not 3. `Spacingd` followed by `CenterScaleCropd` works fine.

**To Reproduce**
[code]

**Expected behavior**
Expected the order in dictionary transforms of `Spacingd` followed by `CenterScaleCropd` to produce same results if using non-dictionary transforms.

**Screenshots**
Error wh

[2021-06-22 23:56] Nic-Ma commented on #2420
Hi @jpcenteno80 ,

Thanks for your interest here.
Most of the array level transforms can chain together, but we don't suppose all of them. I would suggest to use the dictionary level transforms if you want to make a transform chain.
I may also enhance `Affine` transform to make the return data configurable based on your feedback.

Thanks.

[2021-06-23 05:42] #2420 closed

[2021-06-23 06:19] Spenhouet opened #2424 "Transforms not updating meta data"
**Is your feature request related to a problem? Please describe.**

I would have expected that every transform has as input the image and the `meta_data` dict.
This is not the case for many transforms. They do not update the `meta_data`.
This leads to inconsistencies and errors since after the transforms the `meta_data` is no longer valid.

For example:

- `AddChannel` adds a new channel but does

[2021-06-23 06:28] Spenhouet opened #2425 "Combine affine transformations"
**Is your feature request related to a problem? Please describe.**

All affine transformations perform an interpolation. In medical imaging this is very crucial since you loose information with every interpolation.
Since most libraries take this into account and collect and combine affine transformations to only perform a single transformation at one timepoint, we assumed that Compose is exactly d

[2021-06-23 08:05] Spenhouet opened #2426 "Multiple transform return values are not properly passed as parameters for next transform"
**Describe the bug**

`transform.apply_transform` does currently not handle the case where the return value of a transform call includes multiple return values.

[code]

It just passes the return values of the last transform as tuple.

**To Reproduce**
Steps to reproduce the behavior:
1. Compose the `LoadImage` and `Spacing` transforms
2. `LoadImage` will return the array and meta_data
3. `Spacing

[2021-06-23 08:09] Nic-Ma commented on #2426
Hi @Spenhouet ,

Thanks for your interest here.
1. If you want to use the image meta data in a composed transform chain, I would recommend the `dict` version transforms instead of these `array` version transforms.
2. If you really want to use `array` version transforms in a chain, you can set "image_only=True" arg to many of them, then it will only return the image array.

Thanks.

[2021-06-23 08:13] Spenhouet commented on #2426
Hi @Nic-Ma,

The `image_only` option does not really make sense. See also the issue I raised here: https://github.com/Project-MONAI/MONAI/issues/2424
The meta_data is important for medical images. To just throw it away does seem to be a bad idea in my opinion. Not sure if you should actually support this behavior at all.

[2021-06-23 08:15] Nic-Ma commented on #2426
Hi @Spenhouet ,

If you need to use the meta data in your case, I think you should consider to use the `dict` version transforms.

Thanks.

[2021-06-23 08:44] wyli commented on #2426
Agree that the metadata is important. I think the issue here is, with the metadata the array-based transforms do not work well with the default `Compose` operation, so the intended usage is to build your own `Compose` for example in the `ImageDataset` https://github.com/Project-MONAI/tutorials/blob/master/modules/image_dataset.ipynb.  In this case `map_item=False` is used: https://github.com/Proje

[2021-06-23 09:11] wyli commented on #2425
thanks, great to see this type of dicussions, yes it is important and has been discussed since day one https://github.com/Project-MONAI/MONAI/issues/112

Currently MONAI provides specific transforms to do the fused spatial transformations:
https://github.com/Project-MONAI/MONAI/blob/a0afa604bbb5f4e673597c5ca833ba1fd4b8547e/monai/transforms/spatial/dictionary.py#L555-L573
https://github.com/Project

[2021-06-23 09:12] #2425 closed

[2021-06-23 09:18] rijobro commented on #2424
Hi @Spenhouet,

I appreciate it is frustrating when functionality isn't quite how you expected/hoped. However, this is a freely-available, community-supported piece of open-source code. Implying that some contributors didn't care about doing things properly is rather unfair and borders on breaching our [code of conduct](https://github.com/Project-MONAI/MONAI/blob/dev/CODE_OF_CONDUCT.md) for "showi

[2021-06-23 09:27] Spenhouet commented on #2424
Sorry, you are right. I updated my comment.

That is why I'm opening up this feature request. It seems there is some discussion necessary since not everyone seems to see the `meta_data` as necessary: https://github.com/Project-MONAI/MONAI/pull/2421
I would vote for making the meta data a first class citizen and including it in all transforms (as parameter and as return value even when there is no

[2021-06-23 10:08] wyli commented on #2424
I think it is a valid feature request, mainly for the spatial transforms. In fact, we are tracking the changes for the MapTransform using the InvertibleTransform interface https://github.com/Project-MONAI/MONAI/blob/a0afa604bbb5f4e673597c5ca833ba1fd4b8547e/monai/transforms/inverse.py#L23

we are not far from this feature after finishing the array class inverse https://github.com/Project-MONAI/MONA