[2020-08-26 16:40] arp95 commented on #956
As far as the monai examples i have seen, ToTensor is always applied in the end of the transform. Use "ScaleIntensity()" for classification tasks and "ScaleIntensityd()" for segmentation tasks before converting image to tensor.

[2020-08-27 04:11] Nic-Ma commented on #943
Hi @wyli ,

I executed all the MONAI tests in 20.08 docker, and faced below error:
[code]
Seems something is slightly different in CUDA 11, I will update our CI env and tests.

Thanks.

[2020-08-27 04:41] shrutishrestha opened #957 "cannot import name RandGaussianSmoothd and RandGaussianSharpend"

[2020-08-27 04:41] shrutishrestha commented on #956
Thank you. This helped.

[2020-08-27 04:42] shrutishrestha commented on #944
Thanks. It worked.

[2020-08-27 04:43] shrutishrestha commented on #934
Thanks. It worked.

[2020-08-27 04:43] #934 closed

[2020-08-27 04:43] #956 closed

[2020-08-27 04:55] Nic-Ma commented on #943
Then I tried to execute in 20.07 docker(PyTorch 1.6), and faced below error:
[code]

Thanks.

[2020-08-27 05:43] Nic-Ma commented on #957
Hi @shrutishrestha ,

Could you please paste your error log here for analysis?

Thanks.

[2020-08-27 06:26] Nic-Ma commented on #943
I tried to install PyTorch 1.4 in 20.08, got error when run test:
[code]

Seems it can't support PyTorch 1.4 anymore.

Thanks.

[2020-08-27 06:47] carlpe commented on #902
NameError: NameError: name 'SubpixelUpsample' is not defined

![image](https://user-images.githubusercontent.com/54416001/91404423-ecb49f80-e841-11ea-876c-7f241341f7d0.png)

[2020-08-27 07:26] #944 closed

[2020-08-27 08:17] shrutishrestha commented on #957
sure. Here is the output for RandGaussianSmoothd and it same for RandGaussianSharpend

<img width="1097" alt="Screen Shot 2020-08-27 at 2 01 16 PM" src="https://user-images.githubusercontent.com/33342277/91415480-d45a7a00-e86d-11ea-9fd2-97ebe2190f43.png">

[2020-08-27 08:31] Nic-Ma commented on #957
Hi @shrutishrestha ，

What's your MONAI version? You need to use the latest MONAI code of the master branch.
These 2 transforms are newly added in the master branch and will release in MONAI v0.3.
https://github.com/Project-MONAI/MONAI/pull/805

Thanks.

[2020-08-27 08:33] shrutishrestha commented on #957
I am using colab so i simple did
!pip install monai
Ok ill try with version now.

[2020-08-27 08:48] carlpe commented on #902
NameError: name 'SubpixelUpsample' is not defined

![image](https://user-images.githubusercontent.com/54416001/91418716-d06d2e80-e852-11ea-95f7-a56c023c4d15.png)

[2020-08-27 11:03] #943 closed

[2020-08-27 14:00] Nic-Ma commented on #931
Hi @bhaghighi ,

Are you going to submit a PR for this 2D segmentation example?
Thanks.

[2020-08-27 14:09] Nic-Ma opened #962 "Document warning when make html"
**Describe the bug**
Got below warining when `make html`:
[code]

[2020-08-27 14:21] bhaghighi commented on #931
Hi @Nic-Ma
Yes, working on that and submit a PR as soon as it is ready.
Thanks.

[2020-08-27 16:18] #962 closed

[2020-08-27 18:18] wyli commented on #915
fixed by #930 #946

[2020-08-27 18:18] #915 closed

[2020-08-28 00:03] gagandaroach opened #965 "Bug: Github repo readme says notebooks are in old examples folder."
The Github readme says tutorial notebooks are located in the old examples folder.

**Screenshot**
![image](https://user-images.githubusercontent.com/25407172/91506442-b1dd5680-e897-11ea-92f0-d47637059dcc.png)

[2020-08-28 12:49] #945 closed

[2020-08-28 15:58] gagandaroach opened #966 "LoadImage.__call__ kwargs passthrough for reader.read()"
**Is your feature request related to a problem? Please describe.**
I am trying to load a DICOM image series stored in a pixeltype that is not included in the default ITK library. To load the file, I call `itk.imread(filepath, itk.D)` to cast the pixeltype to a library supported format. This is not possible in MONAI with the current `ImageLoader` and `ITKReader()`.

**Describe the solution you'd li

[2020-08-28 16:09] Nic-Ma commented on #966
I will submit a PR to change the `**kargs` to `__init__()` of the reader instead of `read()`.
Thanks.

[2020-08-28 16:39] Nic-Ma commented on #965
Hi @gagandaroach ,

Thanks for your bug report.
I submitted PR #968 to fix it.

Thanks.

[2020-08-28 17:47] #965 closed

[2020-08-29 06:07] wyli commented on #926
just a follow-up on this, the CI environment already provides 2 GPUs per job, the remaining tasks are to
- update `runtests.sh` to run commands such as https://github.com/Project-MONAI/MONAI/blob/572c3f73a5f43dece179717939c4111e5aa46c4c/tests/test_handler_rocauc_dist.py#L41-L44
if multiple gpus are detected locally
- double-check that the CI pipeline runs the updated `runtests.sh` properly

[2020-08-29 08:49] tugot17 opened #970 "Specify required type in LoadPNG"
**Is your feature request related to a problem? Please describe.**
My dataset consists of a series of images  part of which are saved in RGBA format, others are saved as simple 1 channel images. All of the images are gray-scale, however not of all of then are saved in such format. This causes a problems when I use `LoadPNG` transform since some images are loaded as arrays of size [1024, 1024] and

[2020-08-29 23:00] jillianlee commented on #920
@kissievendor

So I made some mistakes in my code, and it is performing better now. Not the greatest, but still better!

1. Try increasing the channels to like (64, 128, 256) or higher.
2. I cropped out some of the black space and centered more around the brain.
3. I had made an error in my figure plots in the testing loop, so they were only outputting black. The new code is:
[code]
This is just i

[2020-08-29 23:00] #920 closed

[2020-08-30 14:15] #957 closed

[2020-08-30 14:21] Nic-Ma commented on #970
Hi @tugot17 ,

Thanks for your feature request!
Looks like a useful extension for MONAI image readers, we may need to consider adding some `callback` API for readers.
And to solve your case immediately, maybe you can use `PIL.Image` to convert and save your images before training?

Thanks.

[2020-08-30 17:10] tugot17 commented on #970
Yeah for now I'm using the following approach with PIL and numpy, however it is neither elegant nor most efficient solution

[code]

[2020-08-31 13:23] #913 closed

[2020-08-31 14:35] #952 closed

[2020-08-31 14:45] wyli opened #974 "Support of torch.utils.data.IterableDataset (and WebDataset?)"
**Is your feature request related to a problem? Please describe.**
`monai.data.Dataset` mainly supports `torch.utils.data.Dataset` with the `__len__` and `__getitem__` APIs.

would be great to introduce compatible APIs based on `torch.utils.data.IterableDataset`,
the intention is to support the WebDataset https://github.com/pytorch/pytorch/issues/38419 in the future, for efficient I/O of very larg

[2020-08-31 16:56] #966 closed

[2020-09-01 06:44] carlpe commented on #902
<img width="1081" alt="Screenshot 2020-09-01 at 08 40 14" src="https://user-images.githubusercontent.com/54416001/91810939-09304d80-ec2f-11ea-9ede-303035c79108.png">

The results in this attempt are not much better using SubpixelUpsample.

Here are the parameters used for training 5000 epochs of batchsize 10. The images are 128,128,128.

<img width="447" alt="Screenshot 2020-09-01 at 08 43 40" src

[2020-09-01 13:04] wyli opened #975 "unet enhancements"
**Is your feature request related to a problem? Please describe.**
would be great to have a more flexible version of `monai.networks.nets.UNet`:
- residual connections
- anisotropic kernel/strides
- deep supervision heads?

this could be implemented as a new class instead of modifying the existing 'vanilla' UNet

[2020-09-01 14:13] Nic-Ma commented on #975
Will add @yiheng-wang-nv for deeper discussion.
Thanks.

[2020-09-01 14:17] Nic-Ma opened #976 "Implement nnUNet example based on MONAI workflows"
**Is your feature request related to a problem? Please describe.**
As JoC team already built wonderful nnUNet example based on MONAI modules and PyTorch Lightning, it would be better to use MONAI workflows and make an example in MONAI repo.

[2020-09-01 14:42] tvercaut commented on #976
This is related to #246

[2020-09-01 16:39] dzenanz opened #977 "Minimum python version?"
**Is your feature request related to a problem? Please describe.**
I just tried running `examples\segmentation_3d\unet_training_dict.py`, only to run into:
[code]

If I interpret the [docs](https://docs.python.org/3.7/tutorial/inputoutput.html) correctly, Python 3.7 is the oldest one to support `f"string"` syntax.

**Describe the solution you'd like**
I would like to see written in `README.md` tha

[2020-09-01 16:51] wyli commented on #977
this piece of information is currently 'hidden' in https://github.com/Project-MONAI/MONAI/blob/master/docs/source/installation.md#installation-guide
and https://github.com/Project-MONAI/MONAI/blob/0cbc22d309d8eb1850f6021e5a0c04b42496d7ef/setup.cfg#L13

[2020-09-01 16:58] dzenanz commented on #977
OK, thanks.

[2020-09-01 16:58] #977 closed

[2020-09-01 21:35] ericspod commented on #902
I assume you're actually using your own network with the replaced `_get_layer` method though your code here says `Generator`. If the `SubpixelUpsample` doesn't help I think that more training might improve the results or otherwise it's a matter of fine tuning these parameters, using possibly different optimizer values, or looking into a better generator architecture for this application area. I no

[2020-09-02 01:20] #970 closed

[2020-09-02 06:05] carlpe commented on #902
Thanks @ericspod for all your feedback. I will keep tuning to see if it improves

[2020-09-02 10:25] wyli commented on #909
before deprecating the previous loaders, would be very helpful to have a new tutorial to demonstrate the new interfaces, what do you think @Nic-Ma?

[2020-09-02 10:28] Nic-Ma commented on #909
Hi @wyli ,

Sounds good a plan.
Please submit a ticket and assign it to me.

Thanks.

[2020-09-02 10:30] Nic-Ma commented on #847
I will submit a PR to add docs and charts of distributed learning experiments to our highlight features page.

Thanks.

[2020-09-02 13:40] jslalu opened #979 "Failed to build from the latest source cloned from git"
I cloned the latest source code from git and tried to build with python setup.py develop as suggested in the doc, but the following errors occured. Could anyone point out what is the problem?

setup.py with torch 1.5.1
running develop
running egg_info
writing monai.egg-info\PKG-INFO
writing dependency_links to monai.egg-info\dependency_links.txt
writing requirements to monai.egg-info\requires.txt

[2020-09-02 14:10] kissievendor opened #980 "Basis UNet"
On what paper is your UNet based?
The original 2D seems to differ quite a lot from the 3D U-Net by Özgün Çiçek which I'd like to use.

Thanks.

[2020-09-02 23:17] neuronflow opened #982 "Dataset with multiple nifti files per case"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I digged through the monai examples and tutorials for 3d Unets, some are only based on one nifti file + seg. The Brats example deals with multiple files but data is loaded via the decathlon data sets.
3D examples:
https://github.com/Project

[2020-09-03 00:28] Nic-Ma commented on #980
Hi @ericspod ,

I think this is a duplicated question, could you please help share some information?
Then I can add more paper information to the doc-string of UNet.

Thanks.

[2020-09-03 00:34] Nic-Ma commented on #982
Hi @neuronflow ,

Thanks for your interest here.
I think you can use `NIftiDataset`, `Dataset` or `ArrayDataset` or the optimized Datasets(like `CacheDataset`).
Because the `LoadNifti` or `LoadNiftid` transforms can support multiple files per case, it's not related to Datasets.

Thanks.

[2020-09-03 02:19] Nic-Ma opened #983 "Add distributed training to highlights doc and charts"
**Is your feature request related to a problem? Please describe.**
As we already completed some distributed training experiments on NVIDIA NGC nodes, need to update highlights doc to include this part according to our plan.

[2020-09-03 10:30] shrutishrestha opened #986 "monai suddenly stoped importing and produced errors"
I used this:
pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI
to import  and this issue occurred several times

<img width="1413" alt="Screen Shot 2020-09-03 at 4 13 32 PM" src="https://user-images.githubusercontent.com/33342277/92104115-9d054380-ee00-11ea-926e-6a7b3c1393f8.png">

[2020-09-03 11:19] rijobro commented on #986
Looks like it's trying to load `itk`, which you don't have installed. Try:
[code]

[2020-09-03 11:57] ericspod commented on #980
I did provide some description on the UNet architecture in #464. The network in a previous format was used in [here](https://kclpure.kcl.ac.uk/portal/en/publications/leftventricle-quantification-using-residual-unet(4943f364-f436-40b9-b28c-b06fa0fdc031).html) and an upcoming paper ["Left atrial ejection fraction estimation using SEGANet for fully automated segmentation of CINE MRI"](http://stacom20

[2020-09-03 13:14] wyli commented on #979
`C:\Users\Admin\anaconda3\envs\pytorch\lib\site-packages\torch\utils\cpp_extension.py:238: UserWarning: Error checking compiler version for cl: [WinError 2] The system cannot find the file specified` this looks like a pytorch issue, perhaps could try reinstall/upgrade pytorch?

[2020-09-03 14:35] Nic-Ma commented on #986
Hi @wyli ,

Seems we don't have this issue in `min dependency tests`?
Thanks.

[2020-09-03 16:19] wyli opened #989 "Requires the developer certificate of origin on pull requests"
**Is your feature request related to a problem? Please describe.**
all commit messages should contain the `Signed-off-by` line with an email address
see also: https://github.com/NVIDIA/TensorRT/blob/master/CONTRIBUTING.md#signing-your-work
- [x] revise the contributing procedure
- [x] github tools to enforce signing-off

cc @IsaacYangSLA @pdogra89

[2020-09-03 17:31] #980 closed

[2020-09-04 08:07] lukasfolle opened #992 "Caching of Dataset across Multiple Trainings"
**Is your feature request related to a problem? Please describe.**
I am very new to MONAI, so please correct me if I overlooked sth. here.
I noticed that the `CacheDataset` caches non-random transforms for each subsequent training individually - even if the non-random transforms stay the same.

**Describe the solution you'd like**
I think it would be possible to reuse a built cache across subseque

[2020-09-04 08:27] Nic-Ma commented on #992
Hi @lukasfolle ,

Thanks for your interest and your experiments with MONAI.
I don't quite understand your question, do you mean reuse the cached content for future training?
If so, you can use the `PersistentDataset` to cache content into files.

Thanks.

[2020-09-04 09:06] lukasfolle commented on #992
Thank you for the hint. Seems like I overlooked that.
Could you elaborate on the difference between `CacheDataset` and `PersistentDataset`?

[2020-09-04 09:09] #992 closed

[2020-09-04 09:23] yiheng-wang-nv opened #993 "Enhance padding function and Convolution module"
I found two limitations of our Convolution module:

- strides can only be a single value. Whereas, sometimes different stride values for different dimensions is useful.
- padding method is fixed via using same padding. I think that making it more general will be more helpful.

I will release a pr to enhance these two places soon, and add some other padding methods. After implementing these places,

[2020-09-04 16:18] neuronflow opened #995 "[Question] Padding transforms can only deal with 2d data?"
If I get it right the padding transforms can only deal with 2D data? A 3d version would be highly appreciated.
https://docs.monai.io/en/latest/transforms.html#spatialpadd
https://docs.monai.io/en/latest/transforms.html#divisiblepadd
https://docs.monai.io/en/latest/transforms.html#borderpadd

At least when I apply them they only affect one or two dimensions depending on the parameters I provide.

[2020-09-05 01:29] #983 closed

[2020-09-06 17:23] #979 closed

[2020-09-06 17:25] wyli commented on #979
couldn't identify the root cause (probably it's a local environment issue), added an option to skip the build `SKIP_MONAI_BUILD=1 python setup.py develop`

[2020-09-07 07:12] shrutishrestha opened #998 "how to use seed for data augmentation while using compose?"
I am using data augmentation using the compose of generic interfaces.
  train_transform = monai.transforms.Compose(
    [
        LoadPNGd(keys = ["image","label"]),
        set_random_state(seed = 0),
        AsChannelFirstd(keys = ["image","label"], channel_dim = -1),
        Lambdad(keys=['label'], func=lambda x: x[0:1]*0.2125 + x[1:2]*0.7154 + x[2:3]*0.0721),
        Resized(["image","label"],

[2020-09-07 07:27] Nic-Ma commented on #995
Hi @neuronflow ,

Thanks for your interest here.
All the 3 padding transforms can support both 3D and 2D data.
You can find how to set parameters in the doc-strings of these classes.
For example: set the `spatial_size` in `SpatialPadd`, `spatial_border` in `BorderPadd `, `k` in `DivisiblePadd`.

Thanks.

[2020-09-07 08:22] Nic-Ma commented on #998
Hi @shrutishrestha ,

If you want to enable `deterministic training`, the easiest way is to call `set_determinism(seed=XXX)` at the beginning of your program, refer to:
https://github.com/Project-MONAI/Tutorials/blob/master/spleen_segmentation_3d.ipynb
If you just want to set random seed for these transforms, you can call `train_transforms.set_random_state(seed=XXX)` in your program, it sets the s

[2020-09-07 08:27] rijobro commented on #992
For future reference, [this](https://github.com/Project-MONAI/Tutorials/blob/master/dataset_type_performance.ipynb) tutorial has a clear explanation of the difference between `CacheDataset` and `PersistentDataset`.

[2020-09-07 08:34] #986 closed

[2020-09-07 08:44] kissievendor commented on #980
Thanks.
But these seem to be for 2D.
I am using 3D segmentation, but the Network architecture seems to be different from Çiçek.
Are you planning on implementing this network as well?

[2020-09-07 09:26] neuronflow commented on #995
Thanks @Nic-Ma !

Hmm I spent like 30minutes trying to get my `[1,4, 155, 240, 240]` sized tensor to  size `[1, 4, 256 ,256 , 256]` using the Pad Transforms mentioned above.

The best I could achieve was a [1, 4, 155, 256, 256] image. Unfortunately I don't have all the code variants I tried anymore.

I now wrote my own transform to solve it but I would still be interested to find out which paramet

[2020-09-07 09:28] ericspod commented on #980
The architecture of the network is the same in 2D as 3D except of course for using 3D convolutions and other layers in place of 2D. The first argument of the constructor is the setting for dimensions, with this set to 3 our network is similar Çiçek with the addition of  residual blocks.

[2020-09-07 09:33] kissievendor commented on #980
Thank you for the quick response.
What I meant was that Çiçek doubles the number of features before max-pooling.
Here you use strided convolutions, so maybe that is different already?

[2020-09-07 09:37] ericspod commented on #980
That is different and would require slight changes in a subclass to implement, however my experience has been that strided convolutions work better than max-pooling.

[2020-09-07 10:25] kissievendor commented on #980
Okay, I get that.
But is there (in your experience) a difference in performance between doubling the number of features (Çiçek) or just keep the network like it is now?

[2020-09-07 10:33] davidiommi commented on #957
I confirm I have the same problem. Both on Windows (via Anaconda) and Linux it can't import these augmentation functions.

[2020-09-07 12:32] lukasfolle opened #999 "Control Consistency of PersistentDataset"
**Is your feature request related to a problem? Please describe.**
Already included as a warning in the source code, the `PersistentDataset` does not check if any of the transformations changed, and thus after modifying the transformations, the cache is outdated.

**Describe the solution you'd like**
Calculate the hash of the very first element of the dataset (after calling `_pre_first_random_tran

[2020-09-07 13:40] Nic-Ma commented on #999
Hi @lukasfolle ,

Thanks for your feature request, that's very interesting idea.
@wyli , do you know how to hash some transforms and parameters?

Thanks.

[2020-09-07 13:44] lukasfolle commented on #999
Thank you. I just looked into hashing the transforms and it seems to be somewhat tedious. Classes can not be serialized using the json library for instance directly.

[2020-09-07 13:46] lukasfolle commented on #999
Thank you! I just had a quick look at serializing class objects and their parameters and it seems to be a non-trivial tedious process to get there. For that reason, I proposed to hash the transformed data.
But I am curious to hear from others and @wyli if I missed something there!

[2020-09-07 14:27] ericspod commented on #980
By experience I'd say that it's unneccesary, you can set the number of channels per layer of the UNet we have now and with large enough values I'd think it would have the same learning capacity.

[2020-09-07 14:44] wyli commented on #993
fixed by #996

[2020-09-07 14:44] #993 closed

[2020-09-08 06:44] kissievendor commented on #980
Alright. Thanks for answering my questions.

[2020-09-08 08:25] rijobro commented on #889
Hi, has there been any more progress on this one (beyond #916)?

If not, I was thinking about giving it a go.

[2020-09-08 11:57] Nic-Ma commented on #889
Hi @rijobro ,

Thanks for your interest, of course, glad to see your contribution here, which metrics do you want to develop?
@yiheng-wang-nv is working some other task right now, will also continue to develop some soon.

Thanks.

[2020-09-08 11:58] Nic-Ma opened #1002 "Add more properties in DecathlonDataset"
**Is your feature request related to a problem? Please describe.**
We can load properties from the JSON config file of DecathlonDataset, for example: number of classes.

[2020-09-08 12:09] #931 closed

[2020-09-08 13:29] martaranzini opened #1005 "Anisotropic margin for CropForeground transforms"
**Is your feature request related to a problem? Please describe.**
The current implementation of the CropForeground and CropForegroundd transforms only accept an integer as input for `margin`, so all dimensions get enlarged by the same amount. This does not allow for "anisotropic" margins to be defined for the bounding box (e.g. margin=[20, 20, 5]).

The problem actually arises from the function h

[2020-09-08 13:35] Nic-Ma commented on #1005
Hi @martaranzini ,

Thanks for your feature request.
I will try to add it soon.

Thanks.

[2020-09-08 14:45] rijobro commented on #889
OK, I guess I'll start with any mentioned above and go from there. I think progress may be slow as I'm still getting familiar with the codebase.

@yiheng-wang-nv - If you let me know when you start work on this again, I can let you know where I'm up to.

[2020-09-08 20:11] ericspod opened #1007 "LoadImage Fails to Load Certain JPEGs"
**Describe the bug**
LoadImage fails to correctly load certain JPEGs. The produced array contains streaked information. Test image included:

![bad_image](https://user-images.githubusercontent.com/17726042/92523062-a3882680-f217-11ea-9e48-3ac644559ca9.jpg)
.

**To Reproduce**

[code]

This produces

![result](https://user-images.githubusercontent.com/17726042/92523153-cb778a00-f217-11ea-9ec9-30ef1

[2020-09-08 23:33] #989 closed

[2020-09-09 01:48] Nic-Ma commented on #1007
Hi @ericspod ,

Did you tried with `LoadImage(image_only=True, reader=PILReader())("bad_image.jpg")`?
Maybe something wrong with ITK reader.

Thanks.

[2020-09-09 05:37] ChenglongWang opened #1009 "Bug in SegmentationSaver"
**Describe the bug**
When saving file name has multiple periods (.), like 1.3.12.2.1107.5.4.4.145.nii.gz,
the final segmentation file name will be 1.nii.gz

**To Reproduce**
My handler is set as:
[code]

**Expected behavior**
The reason is in create_file_basename func (monai/data/utils.py):
[code]
I'm considering to remove the while loop for a temp solution.

**Environment (please complete the fol

[2020-09-09 08:39] Nic-Ma commented on #1009
Hi @ChenglongWang ,

Thanks for your feature request, I am working on PR #1012 to update it.

[2020-09-09 09:30] FabianIsensee opened #1013 "Error in citation"
Hi,
this architecture seems to be a reimplementation of the dynamic U-net used by nnU-Net:

https://github.com/Project-MONAI/MONAI/blob/74a89f8eb2e1aa376e32b481f1bf5ffe11caca92/monai/networks/nets/nnunet.py#L20

However, the paper you are providing as reference is my BraTS 2018 contribution which has nothing to do with that (it has a rather unfortunate Title, though :-) ):
No New-Net <https://arxi

[2020-09-09 09:51] wyli commented on #1013
thanks @FabianIsensee! we'll update those. In general we prefer to cite paper that has gone through peer reviews, I thought this is the most recent one? https://link.springer.com/chapter/10.1007/978-3-030-11726-9_21

[2020-09-09 09:59] wyli commented on #1009
Hi @Nic-Ma `is_supported_format` has an issue with the filename as well, could you look into it?
[code]

[2020-09-09 10:23] #1005 closed

[2020-09-09 10:35] FabianIsensee commented on #1013
Hi,
the link you provided points to the same paper than the one you are currently providing (and which is incorrect). The 'No New Net' paper has nothing to do with nnU-Net, it just has an unfortunate title (it was written before we even knew we would name nnU-Net nnU-Net): The 'No New Net' paper merely describes my participation in BraTS 2018 which was based on a simple static 3D U-Net implementat

[2020-09-09 12:38] wyli opened #1014 "learning rate finder"
**Is your feature request related to a problem? Please describe.**
this feature request is about integrating a light-weight learning rate finder
described in https://arxiv.org/abs/1506.01186

"an “LR range test”: run your model for several epochs while letting the learning rate increase linearly between low and high LR values. This test is enormously valuable whenever you are facing a new architec

[2020-09-09 12:42] ericspod commented on #1007
That doe work so it's an ITK issue.

[2020-09-09 14:46] wyli opened #1015 "codebase restructuring (examples and research)"
**Is your feature request related to a problem? Please describe.**
based on the working group discussions, we propose to (full doc in wiki https://github.com/Project-MONAI/MONAI/wiki/proposed-codebase-re-structuring)
- move the current `MONAI/examples` into https://github.com/Project-MONAI/Tutorials repo
- move the current `MONAI/research` to a standalone repo `https://github.com/Project-MONAI/[na

[2020-09-09 14:49] Can-Zhao commented on #1014
Yes, exactly. Thank you!

[2020-09-09 15:18] Nic-Ma commented on #1013
Thanks @FabianIsensee to correct it, will submit a PR to update to cite: https://arxiv.org/abs/1904.08128, https://arxiv.org/abs/1809.10486

[2020-09-09 17:16] wyli opened #1017 "fast training tutorial/example"
**Is your feature request related to a problem? Please describe.**
would be great to combine the new features in a single tutorial/example to show the segmentation efficiencies:
- CacheDataset/SmartCache
- AMP
- Novograd

this ticket requires an integration of novograd  in the core codebase (new notebook tutorial should go to https://github.com/Project-MONAI/Tutorials)

see also:
- https://github.

[2020-09-09 18:09] aylward commented on #1007
Hi @ericspod

Would you mind sending me one of the jpegs?   I'd like to test it using ITK directly.   Or perhaps you can try reading it using 3D Slicer (which also uses ITK)?

Thanks,
Stephen

[2020-09-09 19:28] ericspod commented on #1007
The test image I included above is one that doesn't work, you can click on it and save through the browser. Github might re-encode jpegs so if it still works for you I can try sending it through a different channel.

[2020-09-09 19:39] aylward commented on #1007
![Annotation 2020-09-09 153334](https://user-images.githubusercontent.com/279727/92644809-e72f6e80-f2b1-11ea-9529-ed67469ba885.jpg)

A simple ITK program loads and displays that jpeg perfectly fine:

Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Type 'copyright', 'credits' or 'license' for more information
IPython 7.12.0 -- An enhanced Interactive Python. Type '?' for h

[2020-09-09 21:44] ericspod commented on #1007
I think it's being caused by this call here: https://github.com/Project-MONAI/MONAI/blob/d958ab59903df436019b4aa742129e10a7499559/monai/data/image_reader.py#L222 This is called at some point by `LoadImage` which will use `ITKReader` by default.

To replicate with the current MONAI codebase:

[code]

Is `array_view_from_image` meant to be used in this way to extract the array from an ITK image obje

[2020-09-09 22:47] aylward commented on #1007
Eric,

Great detective work!

I could be wrong, but my quick experiments suggest that the following might
work:

All are valid uses.  It just changes axis are provided "first" in memory.
 See the discussion at:
https://discourse.itk.org/t/importing-image-from-array-and-axis-reorder/1192/5

Hope this works!

On Wed, Sep 9, 2020 at 5:44 PM Eric Kerfoot <notifications@github.com>
wrote:

--
Stephen R

[2020-09-10 00:18] ericspod commented on #1007
The method `ITKReader._get_array_data` doesn't have the argument `keep_axis`, I guess you meant for that to be set for `itk.array_view_from_image`? If so this is achieved by constructing the reader as ITKReader(c_order_axis_indexing=True)` though I feel the intent of this argument is about the order of values in memory rather than the ordering of dimensions which is the effect it actually has. It

[2020-09-10 02:32] Nic-Ma commented on #1009
Hi @wyli ,

Yes, I also updated `is_supported_format` in PR #1012 .

Thanks.

[2020-09-10 02:43] Nic-Ma commented on #1015
Hi @wyli ,

Thanks for your summary, I can start from moving examples when the 2D segmentation PR merged.

[2020-09-10 03:32] Nic-Ma commented on #1013
I submitted PR #1019 to update the cite paper in NNUNet.
Thanks.

[2020-09-10 03:33] Nic-Ma commented on #1017
Looks good a topic in MONAI v0.3 release, @yiheng-wang-nv and I will work on it soon.
Thanks.

[2020-09-10 03:34] Nic-Ma commented on #1014
Looks interest an idea, will take a look soon.
Thanks.

[2020-09-10 07:10] FabianIsensee commented on #1013
Thanks! There has already been some confusion in the past about the name of this paper and I would like to minimize confusion as much as possible looking forward. This is of course on us for choosing such bad naming :-)

[2020-09-10 11:22] #1002 closed

[2020-09-10 13:58] lukasfolle commented on #999
@wyli, @Nic-Ma any updates?

[2020-09-10 15:41] Nic-Ma commented on #1007
Hi @ericspod and @aylward ,

I faced same issue when I develop NNUNet example based on Decathlon dataset, for example, if using `LoadImage`, the output is:
![image](https://user-images.githubusercontent.com/27533405/92756131-1b448580-f3bf-11ea-8264-0792b1afc9d9.png)
If using `LoadNifti`, the output is:
![image](https://user-images.githubusercontent.com/27533405/92755885-dcaecb00-f3be-11ea-8a20-48a

[2020-09-10 18:04] ericspod commented on #1007
Changing the default would work in this instance, but what is the purpose of the `keep_axes` argument in `itk.array_view_from_image` which you're setting? It rearranges the ordering of data in memory (or it's interpretation of what that ordering is) as well as rearranging the dimension order. Images like jpg and png are typically read as WHC dimension order, `imread` in various packages produces i

[2020-09-10 20:02] wyli commented on #999
thanks, I think this is a valid UI issue. but hashing the transforms/data are non-trivial. In the future we may have interfaces to initialise the transform chain from a user-provided config file (e.g. json/yaml), we could track the change at the config level. let's keep this ticket open for discussions...

[2020-09-10 21:59] aylward commented on #1007
The intent behind c_order_axis_indexing was the exact same as keep_axis.
 The thought was that "keep_axis" was not a descriptive name, so instead of
continuing to use the unclear ITK term, MONAI used c_order_axis_indexing to
indicate when HWC data indexing is being used.

The relevant code in ITK is in ITK/Modules/Bridge/NumPy/wrapping/
PyBuffer.i.in (lines 27-31):

        if(image.GetNumberOfCom

[2020-09-10 23:49] ericspod commented on #1007
I think what's confused me is that `keep_axes` gets set to the inverse of `c_order_axis_indexing`: https://github.com/Project-MONAI/MONAI/blob/1d2dce719e8adae2fba2df7b58dfb24ca4531c3a/monai/data/image_reader.py#L222

For the image load to work I set `c_order_axis_indexing` to True so that `keep_axes` is False and this loads correctly. The layout of the loaded image in memory conforms to HWC orderi

[2020-09-11 00:26] Nic-Ma commented on #1007
Hi @ericspod ,

I agree with you, we should not just set `c_order_axis_indexing=True`, it will make 3D data to `DWHC` shape, which is not expected.
Thanks.

[2020-09-11 05:48] ChenglongWang opened #1022 "Strange behavior of CheckpointSaver with key_metric_n_saved"
**Describe the bug**
When setting `key_metric_n_saved` argument, CheckpointSaver crashed.
I noticed that when setting `key_metric_n_saved=4`, the maximum saved model is sometimes less than 4.
Some models are unexpectedly removed. It may caused the crash.
I’m considering it may be a ignite-related issue.

**To Reproduce**
My validation handler is like:
[code]

**Environment (please complete the fol

[2020-09-11 06:48] mmarcinkiewicz opened #1023 "Deconvolutions improve performance of AH-Net"
**Describe the bug**
In the current environment deconvolutions work significantly faster with mixed precision than trilinear interpolation for upsampling. In the current Monai implementation of AH-Net the `upsample_mode` defaults to "trilinear", which is suboptimal.

**To Reproduce**
Run training with `upsample_mode="trilinear"` and `upsample_mode="transpose"`.

**Expected behavior**
The default `

[2020-09-11 07:54] Nic-Ma opened #1025 "ImageReader can't support multi-threads"
**Describe the bug**
As we have some member variables in the ImageReaders, it can't support multi-threads so far, need to update it.
PyTorch DataLoader is multi-processing, so we didn't realize this issue before.

[2020-09-11 10:06] Nic-Ma commented on #1022
Hi @ChenglongWang ,

Thanks for your bug report, may I know what's the model name on disk?
It's `net_key_metric=0.5.pth' or `net_key_metric=0.5000.pth'?
And could you please help try `key_metric_n_saved=1`? I never faced this issue before with n_saved=1.
We may need your help to provide a simple program to reproduce the issue.

Thanks.

[2020-09-11 10:07] Nic-Ma commented on #1023
Hi @yiheng-wang-nv ,

I remember you fixed some determinism issue about the upsampling in AHNet, is it related to this ticket?

Thanks.

[2020-09-11 10:10] wyli commented on #1023
that's noted in the docstring
https://github.com/Project-MONAI/MONAI/blob/8fc4f5dd5ea4d3726fdd9e001eacf517263625ac/monai/networks/nets/ahnet.py#L353-L355

[2020-09-11 11:28] #862 closed

[2020-09-11 13:06] ChenglongWang commented on #1022
Dear @Nic-Ma

Thank you for your reply. I have also never experienced this issue with n_saved=1.
It's **net_key_metric=0.5.pth** not net_key_metric=0.5000.pth

And I reproduced the error again:
here are some snapshots of saved model during the training, notice that my setting is `key_metric_n_saved=4`:

Snapshot 1:
![Annotation 2020-09-11 202441](https://user-images.githubusercontent.com/4251375/9

[2020-09-11 14:54] ad12 opened #1027 "Building MONAI from source fails on Ubuntu 20.04.1"
**Describe the bug**
Building wheels for MONAI, which uses PEP 517, fails.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04.1 LTS
 - Python version: 3.7
 - MONAI version [e.g. git commit hash]
 - CUDA/cuDNN version: 10.2
 - GPU models and configuration: T

[2020-09-11 15:21] Nic-Ma commented on #1022
Hi @vfdev-5 ,

Could you please help take a look at this issue?
I think maybe it's a known issue of ignite v0.3?
If not, I can try to debug it next week.

Thanks.

[2020-09-11 15:22] Nic-Ma commented on #1027
Hi @ad12 ,

Thanks for your bug report.
@wyli @IsaacYangSLA I think you guys are experts on the build system, could you please help take a quick look?

Thanks.

[2020-09-11 15:29] vfdev-5 commented on #1022
Hi @Nic-Ma yes, may be related to https://github.com/pytorch/ignite/pull/847
it was a bug with v0.3 and was fixed in v0.4.X.

[2020-09-11 15:39] yiheng-wang-nv commented on #1023
FYI, the non-determinism issue is explained in an old [PR](https://github.com/Project-MONAI/MONAI/pull/815). Generally speaking, `torch.nn.functional.interpolate() ` and `torch.nn.MaxPool1d/2d/3d()` use `atomicAdd ` which introduce the non-determinism results.
This ticket is about the computing speed between `trilinear` and `deconvolution`.

[2020-09-11 16:13] wyli commented on #1027
looks like the issue is "/usr/local/cuda/include/crt/host_config.h:138:2: error: #error -- unsupported GNU version! gcc versions later than 8 are not supported!"

Could you please try: `SKIP_MONAI_BUILD=1 pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI`
this will skip the cpp/cuda extensions but still allows you to use most of the MONAI features

[2020-09-11 16:28] ChenglongWang commented on #1022
@Nic-Ma and @vfdev-5 Thank you for your help.
BTW, is the current MONAI compatible with v0.4.X ignite? Upgrading ignite maybe a better solution for me.

[2020-09-11 16:37] vfdev-5 commented on #1022
@ChenglongWang I think there are some minor incompabilities between MONAI and Ignite v0.4.X. @Nic-Ma can detail it better than me...

[2020-09-11 16:48] #1023 closed

[2020-09-11 17:24] ad12 commented on #1027
Ah I see- thanks for the note. The command above did work.

Which specific features are disabled as a result of building without the cpp/cuda extensions? From what I can tell, standard `torch` cuda functionality (conv, etc.) are working fine. Also, is there a plan to support `gcc>=8`?

Thanks for your help!

[2020-09-13 10:57] juampatronics commented on #1027
Had the very same problem under Windows 10. It is not a bug in MONAI, but in PyTorch. The call to ninja is wrong. Should be ninja --version, instead of ninja -v

[2020-09-13 13:20] #1027 closed

[2020-09-14 00:02] ericspod commented on #1007
From looking at the ITK code further I think `keep_axis` should always be False. It would only be True if data was being read in Fortran-ordering as opposed to C-ordering, simply reversing the shape will just cause the memory view to be interpreted in a transposed order. In [GetArrayViewFromImage ](https://github.com/InsightSoftwareConsortium/ITK/blob/631aeaebf82d2ce8a7d7e3b0165940c5c2f1a586/Modul

[2020-09-14 03:04] Nic-Ma commented on #1022
Hi @ChenglongWang ,

Now MONAI only works with ignite v0.3, but we will try to update MONAI and be compatible with ignite v0.4.2 when it's release soon, because as @vfdev-5 said, v0.4.2 will fully support distributed training features.

Thanks.

[2020-09-14 03:06] #998 closed

[2020-09-14 03:07] #995 closed

[2020-09-14 03:07] #982 closed

[2020-09-14 03:08] Nic-Ma commented on #976
Addressed this ticket by PR: https://github.com/Project-MONAI/Tutorials/pull/20
Thanks.

[2020-09-14 03:09] Nic-Ma commented on #975
Hi @wyli ,

I think @yiheng-wang-nv already completed this ticket, do we still have any missing parts?
Thanks.

[2020-09-14 03:10] #936 closed

[2020-09-14 05:44] ChenglongWang commented on #1022
@vfdev-5 @Nic-Ma Thank you for your kind support. I just fixed the issue according to https://github.com/pytorch/ignite/pull/847 as a temporary solution. Looking forward to seeing the new MONAI.

[2020-09-14 05:44] #1022 closed

[2020-09-14 06:16] yiheng-wang-nv commented on #1017
FYI, a pytorch implementation can be found in:
https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/SpeechRecognition/Jasper/optimizers.py

[2020-09-14 07:42] tvercaut commented on #976
This might be best span out as a seprate issue but as discussed by @FabianIsensee in #1013, "nnU-Net is so much more than the architecture". I fear my might be introducing confusion in the way we are referring to nnU-net currently within MONAI. Unless we have the automated configuration of the pipeline reimplemented, maybe we should use another terminology? Maybe dynU-Net? @FabianIsensee any thoug

[2020-09-14 08:46] Nic-Ma commented on #1007
Hi @ericspod ,

Sounds good an idea, I am working on a PR to update it, will add your review soon.
Thanks.

[2020-09-14 09:52] wyli commented on #975
need to rectify the class name as mentioned in https://github.com/Project-MONAI/MONAI/issues/1013, I'm closing this one and reopening #1013

[2020-09-14 09:52] #975 closed

[2020-09-14 09:53] wyli commented on #1013
a remaining task is to change the network class name of the implementation

[2020-09-14 10:44] roshnikotian15 opened #1032 "Get started with Dicom Images"
Can someone please help me to work with Dicom?

[2020-09-14 14:51] wyli commented on #476
Major APIs and docstrings are now revised to fully support typehints. closing this ticket -- please create new specific tickets to address any further typehint related issues.

[2020-09-14 14:51] #476 closed

[2020-09-14 14:56] wyli commented on #80
most of the layers are ported, please create separate, specific feature requests if needed

[2020-09-14 14:56] #80 closed

[2020-09-14 14:58] wyli commented on #85
closing this in favour of https://github.com/Project-MONAI/MONAI/issues/888 and working group discussions https://github.com/Project-MONAI/MONAI/wiki/Evaluations,-Reproducibility,-Benchmarks-Working-Group-Meeting-Notes

[2020-09-14 14:58] #85 closed

[2020-09-14 14:58] rijobro opened #1036 "runtests.sh fails"
**Describe the bug**
`./runtests.sh --codeformat --coverage` gives the same error both on my local OSX and remote linux.

Output is:

[code]

**To Reproduce**
1. `cd to MONAI root`
2. `./runtests.sh --codeformat --coverage`

**Expected behavior**
Tests should run

**Environment (please complete the following information):**
 - OS: linux and OSX
 - Python version: 3.6.9 (linux) 3.8.5 (OSX)
 - MONAI

[2020-09-14 15:08] rijobro commented on #1036
It looks like `runtests.sh` runs `python`, so it's actually running my `python2`, not `python3`. Perhaps the python executable can be passed as argument.

[2020-09-14 15:17] Nic-Ma commented on #1036
Hi @rijobro ,

Could you please help try to run python3 instead again?
Thanks.

[2020-09-14 15:24] rijobro commented on #1036
I manually edited `runtests.sh` such that all occurrences of `python` became `python3` and everything worked fine. But I'm not sure how to get the bash script to use `python3` be default.

[2020-09-14 16:14] Nic-Ma commented on #1036
I think you can use `sudo update-alternatives --config python` to config your default python path.

Thanks.

[2020-09-14 16:15] Nic-Ma commented on #1013
Hi @wyli ,

I want to double confirm what's the expected network name? I will update it.
Thanks.

[2020-09-14 17:58] wyli commented on #1036
I'm improving the error message in `runtests.sh`, but I don't think replacing `python3` with `python` is a universal solution...

[2020-09-14 18:45] rijobro commented on #1036
No, I don't think we should be switching `python` with `python3`, but we could give the user the option to pass the path to their python executable for example.

[2020-09-14 23:36] Nic-Ma commented on #1013
Should we change to `dynUNet` as @tvercaut suggested?
Thanks.

[2020-09-15 04:10] #1025 closed

[2020-09-15 07:00] Nic-Ma commented on #1013
@tvercaut and @FabianIsensee , do you also think we should change the NNUnet network name?
If not necessary, we can keep it for v0.3 release.

Thanks.

[2020-09-15 10:34] #1007 closed

[2020-09-15 13:32] #1036 closed

[2020-09-15 20:45] Dale-Black opened #1039 "Mean Hausdorff metric/loss function"
I am working on a hybrid Hausdorff loss function and I would love to contribute to this project since it has been such a big help for me. I think a Hausdorff metric and possibly loss function would be really useful to add to this repo. I am inexperienced with contributing to open source so let me know if this is something anyone is interested in

[2020-09-15 22:09] Nic-Ma commented on #1039
Hi @Dale-Black ,

Thanks for your interest here! Welcome to contribute a PR, we just merged another PR for Hausdorff metrics.
@wyli , did you researcher guys also discuss Hausdorff loss function before? Any concern here?

Thanks.

[2020-09-16 04:19] yiheng-wang-nv commented on #889
Hi @rijobro , I just finished other tasks and will continue to this task now. Should I start with Surface dice?

[2020-09-16 07:42] Nic-Ma commented on #1032
Added example to load DICOM images in MONAI: https://github.com/Project-MONAI/tutorials/pull/23
Thanks.

[2020-09-16 07:43] Nic-Ma commented on #1017
Implemented tutorial in PR: https://github.com/Project-MONAI/tutorials/pull/22.
Thanks.

[2020-09-16 08:09] rijobro commented on #889
Yeah feel free to continue with any of the others. A few of the metrics might need surface comparisons, in which case it might be best to move [this](https://github.com/Project-MONAI/MONAI/blob/master/monai/metrics/hausdorff_distance.py#L72-L78) functionality to a common location (e.g., `monai/utils`). Up to you.

[2020-09-16 09:59] FrancescoLR opened #1040 ""Getting started with an end to end Colab tutorial" gives an error"
The User guide "Getting started with an end to end Colab tutorial" (https://colab.research.google.com/drive/1boqy7ENpKrqaJoxFlbHIBnIODAs1Ih1T) gives an error on cell 16 when run on Colab with the default GPU:

AttributeError: Optional import: from ignite.engine import Engine (No module named 'ignite').

Ignite is of course installed and imported in the previous cell.

[2020-09-16 10:16] wyli commented on #1040
Hi @FrancescoLR  after running the `!pip install`, cell could you try: menu bar -> Runtime -> Restart and run all   apparently colab has some issue with the pip install commands

[2020-09-16 10:19] FrancescoLR commented on #1040
Thanks @wyli! That works, so it's indeed a colab issue.

[2020-09-16 10:19] #1040 closed

[2020-09-16 12:23] wyli commented on #1017
addressed by https://github.com/Project-MONAI/tutorials/pull/22 and #1031

[2020-09-16 12:23] #1017 closed

[2020-09-16 12:38] wyli commented on #1039
Hi @Dale-Black thanks for your interest here. Is this loss function based on some research papers, would be great to have more technical details. also:
- A basic Hausdorff metric is implemented (https://github.com/Project-MONAI/MONAI/blob/72df264c8ee34ef307262227bca27805dbbd92b4/monai/metrics/hausdorff_distance.py)
- please follow these contributing steps: https://github.com/Project-MONAI/MONAI/bl

[2020-09-16 13:49] Nic-Ma opened #1042 "Add support to read DICOM series"
**Is your feature request related to a problem? Please describe.**
For 3D DICOM image, it can save several 2D images in series, so we need to leverage ITK to read them.

[2020-09-16 14:43] wyli commented on #1015
added a release checklist to the project wiki: https://github.com/Project-MONAI/MONAI/wiki/Release-checklist

[2020-09-16 14:56] rijobro commented on #1015
If we wanted, we could also create an issue from that wiki page with tickboxes as we get close to each release date so that we can be sure everything gets done (potentially by different people).

[2020-09-16 15:29] #847 closed

[2020-09-16 16:24] Dale-Black commented on #1039
Hello @wyli thank you for getting back to me. This Hausdorff loss function will be based off of these two papers (https://arxiv.org/pdf/1806.07564.pdf and https://arxiv.org/pdf/1904.10030.pdf). It would require a mean Hausdorff metric which is similar to but much more computationally expensive than the Hausdorff metric that was merged with MONAI yesterday. I will get started on the PR for the mean

[2020-09-16 17:13] rijobro commented on #1039
Is the mean Hausdorff distance computed by looping over each of the coordinates in X and finding the minimum distance to any of the points in Y, and taking the average of that? If so, you  should be able to reuse everything up until the [edge detection](https://github.com/Project-MONAI/MONAI/blob/master/monai/metrics/hausdorff_distance.py#L78), and then do loops across `coords_1` and `coords_2`. B

[2020-09-16 17:54] Dale-Black commented on #1039
@rijobro Yes it would look just like the already implemented Hausdorff metric with the exception of the loops like you were describing. Here is an example

    def compute_mean_hausdorff_distance(
        seg_1: Union[np.ndarray, torch.Tensor],
        seg_2: Union[np.ndarray, torch.Tensor],
        label_idx: int,
        directed: bool = False,) -> float:

        """

        Compute the mean H

[2020-09-16 18:18] wyli commented on #1015
sounds great! could you help create a ticket?

[2020-09-17 07:32] rijobro commented on #1039
From eq. 4 of the first article you linked (see attached screenshot), it looks you should be returning the sum, not the max of the two components:

[code]

![image](https://user-images.githubusercontent.com/33289025/93434662-b9a57f00-f8c8-11ea-8f43-cb3656d2e834.png)

As for speed, yeah, I guess that cuda, numba or cython are going to be your friend. I don't have much experience with these unfortun

[2020-09-17 07:37] rijobro commented on #1015
Sure, but I think it makes sense to do that about a week before releasing. That ok?

[2020-09-17 08:32] #1042 closed

[2020-09-17 08:40] FabianIsensee commented on #976
Hi,
dyn_UNet or similar is a good choice I think. I am also curious about the results of @martaranzini. Are there any updates?
Best,
Fabian

[2020-09-17 08:55] wyli commented on #1032
tutorial available at https://github.com/Project-MONAI/tutorials/blob/master/load_medical_images.ipynb

[2020-09-17 08:55] #1032 closed

[2020-09-17 09:07] martaranzini commented on #976
Hi Fabian,
Yes as @tvercaut mentioned, we do have quite some interesting results comparing MONAI and nnU-Net. In short, nnU-Net did not show the training instability we observed with MONAI, but we also noticed some substantial differences in the Dice loss implementation that we investigated deeper to compare their performance.
We are now putting together the final analysis and we aim to report bac

[2020-09-17 09:12] wyli commented on #1015
update: the research repo will be named `Project-MONAI/research_contributions` according to the working group voting

[2020-09-17 09:15] FabianIsensee commented on #976
Hi Marta, that sounds super interesting! I am excited to see the results. If you run into any problems with nnU-Net or need suggestions/tips, please let me know.
Best,
Fabian

[2020-09-17 13:02] ericspod commented on #1039
[This](https://link.springer.com/chapter/10.1007%2FBFb0015093) has the undirected Hausdorff defined as the max of the directed.

[2020-09-17 14:03] rijobro commented on #1039
But that's for the Hausdorff distance, not the **mean** Hausdorff distance, right?

[2020-09-18 06:38] FabianIsensee commented on #1013
Apologies, I did not see this comment. I think it would be better to rename it to dynUNet or something similar. If the implementation was inspired by my `Generic_UNet` then I would be happy if you could still reference nnU-Net in the class description.
Best,
Fabian

[2020-09-18 10:08] kissievendor opened #1048 "Ordered patch using dictionary transform"
**Is your feature request related to a problem? Please describe.**
I want to select patches for 3D segmentation, but I want to make sure that I have either all possible patches, or no overlapping patches.

**Describe the solution you'd like**
SpatialCropSampled / GridDatasetd. Something that ensures non overlapping patches.

**Describe alternatives you've considered**
Alternatively. Return e.g. co

[2020-09-18 14:05] Nic-Ma commented on #1015
After internal discussion, I will combine `notebooks` and `examples`, then restructure:
3d_segmentation
2d_segmentation
3d_classification
modules
acceleration

And update all the related documents or wiki pages.

Thanks.

[2020-09-18 14:09] Nic-Ma commented on #1013
OK, thanks for the double confirm, I will try to update the network name to `dynUNet` later.
Thanks.

[2020-09-19 11:04] #1013 closed

[2020-09-20 15:24] ciphercharly commented on #95
i am not sure this is the right place to ask, but i need to implement a 3d registration network for registering MRI image, and i am looking at projects like DeepReg, EasyReg, label-reg, quicksilver.. and i was wondering which project is the most likely to be ported in MONAI? future compatibility with MONAI would be good to have, so i wanna choose wisely where to start..

[2020-09-20 15:34] Nic-Ma commented on #1048
Hi @kissievendor ,

Thanks for your interest here!
I think you want to get no-overlapping patches in RandSpatialCrop or all the possible patches with no overlap?
That is not supported in MONAI so far, but looks an interesting feature, I will raise a discussion internally soon.
Or if you have interest, welcome to submit a PR for it.

Thanks.

[2020-09-20 15:40] YipengHu commented on #95
I can speak for label-reg, which has been discontinued. All its functionalities and the superset have been implemented in DeepReg with newer tf2.

[2020-09-20 15:56] ciphercharly commented on #95
good to know, thanks

[2020-09-20 22:29] wyli commented on #1048
related to these? https://github.com/Project-MONAI/MONAI/issues/719 https://github.com/Project-MONAI/MONAI/issues/606

[2020-09-21 08:51] Nic-Ma commented on #976
Close it as we already changed network name to `DynUNet`.
Thanks.

[2020-09-21 08:51] #976 closed

[2020-09-21 08:55] Nic-Ma opened #1052 "Upgrade ignite dependency to v0.4.2"
**Is your feature request related to a problem? Please describe.**
As PyTorch ignite released v0.4.2 today, which can fully support distributed training, it's the right time for us to upgrade ignite dependency according to our plan.

[2020-09-21 12:30] martaranzini commented on #807
Hi all,

First, apologies for the delay in getting back to you about this issue – we have been running a few experiments to put together a MONAI and nnU-Net comparison and this required quite some time. We hope you will find our results interesting and informative.

@LucasFidon kindly ran a few experiments with nnU-Net and this allowed us to identify some implementation differences. Both MONAI and

[2020-09-21 13:07] FabianIsensee commented on #807
Hi @martaranzini , thank you so much for the detailed report! It's a very interesting read and I am happy to see that nnU-Net did not disappoint.

Just so that I think about the results in the correct context (@LucasFidon ) : Did you provide separate 2D slices as training examples? Or did you just run the 2D nnU-net configuration on the 3D images? My guess is the latter, but it would be important

[2020-09-21 13:52] LucasFidon commented on #807
Hi @FabianIsensee, thank you for the quick reply!

Regarding 3D vs 2D, in fetal MRI the 3D MRI are motion-corrupted stacks of 2D slices. In addition the in-plane resolution is typically several times higher than the resolution across planes (please see [1] for more details).
In [1] it has already been shown empirically that 2D CNNs were superior to 3D CNNs for the task of fetal brain extraction. A

[2020-09-21 13:54] martaranzini commented on #807
Hi @FabianIsensee ,

Thanks for your comments, very interesting, especially in the analysis of when batch Dice is more suitable than sample Dice. I totally agree that it should not replace it categorically, but it would be useful to add an option in MONAI for the user to choose one over the other.

I will leave to @LucasFidon the answers to the nnU-Net experiments as he actually did all the hard p

[2020-09-21 13:55] martaranzini commented on #807
Oups, I think we posted about at the same time, thanks for answering the nnU-Net questions, @LucasFidon!

[2020-09-21 14:30] wyli commented on #807
Thanks for the analysis @martaranzini
from these results for now we could:
- [ ] add a `BatchDice` as a separate loss function impl.
- [ ] add a numerator smooth option to all the relevant losses and defaults to 0.0
(`(2.0 * intersection + eps_1) / (denominator + eps_2)`; eps_1 defaults to 0.0)

Also, not sure whether matching the overall performance is a goal of this ticket, but the gap might com

[2020-09-21 14:36] LucasFidon commented on #807
Thanks @FabianIsensee.
For the preprocessing of the data, following nnU-Net filenames convention, I have separated the 2D slices of Marta's training set and put them in /path-to-nnU-Net-raw-fetal-data/imagesTr, and I have copied the 3D images of Marta's directly to /path-to-nnU-Net-raw-fetal-data/imagesVal (so nnU-Net gives me 3D output when I run inference for those images).
I have used the autom

[2020-09-21 14:58] FabianIsensee commented on #807
Hi Lucas,
if you have split your 3d images into a series of 2d images and you have not accounted for this in a manually designed split file your entire set of experiments is not valid. This is because nnU-Net per default expects to be able to treat the training cases independently. If you provide pseudo-2D slices, nnU-Net will just split those - how would it know to do it differently? They are sep

[2020-09-21 15:01] martaranzini commented on #807
Thanks @wyli, the two modifications you mentioned are exactly the changes I added to my "custom" Dice class in MONAI.
Also I think the batch dice could be easily integrated in the DiceLoss class. In my case, for the batch dice I simply added a flag in the __init__() of the DiceLoss and modify the forward() method with:
[code]
instead of https://github.com/Project-MONAI/MONAI/blob/0aee00bd6f29908f6

[2020-09-21 15:14] LucasFidon commented on #807
Hi Fabian,
No, the Dice score results reported by Marta are for the cases in imagesVal (that nnU-Net does not touch during training), so none of the nnU-Net models has seen any of those cases during training!
I understand that Marta's training cases are split across the different splits, but it is not a problem here because the results reported are **not** the cross-validation results :)
Sorry if

[2020-09-21 15:23] FabianIsensee commented on #807
Hi Lucas,

In that case I owe you my apologies :-) I must have misread that. It would still have been cleaner to split the files properly - like this the ensemble it not really worth much, but I don't think that this matters.

If you are willing to run them, the following experiments would be interesting (this essentially repeats what we have discussed before):
- run default nnU-Net without oversa

[2020-09-21 16:01] wyli commented on #807
Sure, it's probably hard if I go it alone :D as MONAI is a consortium effort, I'm sure we can identify the issue and close the gaps quickly. Thanks for your inputs here!

[2020-09-21 17:02] FabianIsensee commented on #807
True that! If you need my input on something I am always happy to help out.
Best,
Fabian

[2020-09-22 04:08] Nic-Ma opened #1055 "Update highlight features page for v0.3.0"
**Is your feature request related to a problem? Please describe.**
Need to update the highlight features technical doc page to cover v0.3.0 new features.

[2020-09-22 09:25] Nic-Ma opened #1057 "Develop ignite handlers for new metrics"
**Is your feature request related to a problem? Please describe.**
As @yiheng-wang-nv and @rijobro developed several new metrics recently, we need to develop the ignite handler wrappers for them.

[2020-09-22 12:50] lukasfolle commented on #999
@wyli That sounds great! Could you give a hint when its planned to be implemented?

[2020-09-22 20:33] #1055 closed

[2020-09-23 14:12] wyli commented on #629
shall we revisit this @Nic-Ma ? looks like python3.8 support is out.
MONAI's current progress bar doesn't work well with google colab.

[2020-09-23 14:14] Nic-Ma commented on #629
Sounds good, I will take a look at latest TQDM.
Thanks.

[2020-09-23 16:01] wyli opened #1059 "RandHistogramShift dtype inconsistency"
**Describe the bug**
RandHistogramShift transform doesn't preserve the float32 precision

**To Reproduce**
[code]

**Expected behavior**
result type should be float32 if the input's is

**Environment (please complete the following information):**
MONAI version: 0.3.0rc3+0.g3f4e064.dirty
Python version: 3.6.10 |Anaconda, Inc.| (default, Mar 25 2020, 18:53:43)  [GCC 4.2.1 Compatible Clang 4.0.1 (tag

[2020-09-23 16:04] Nic-Ma commented on #1059
Hi @wyli ,

Thanks for your finding.
I can update it to keep the same behavior with other float64/float32 transforms.

Thanks.

[2020-09-24 07:45] Nic-Ma opened #1062 "Fix random train/val split in Datasets"
**Is your feature request related to a problem? Please describe.**
Now we use `if random number < 0.2, XXX` logic to select validation dataset which can't guarantee val image number for a small dataset.

[2020-09-24 09:10] guigautier opened #1063 "RandCropByPosNegLabeld"
Hi, I try to use  RandCropByPosNegLabeld to generate my training dataset. I can't generate the same crop between the image and the label.
I load a nifti file and save it with the writer after transform

This is my code to reproduce :
[code]

Link to the image and label overlay : https://ibb.co/s1bxxjG

Thanks

[2020-09-24 09:14] #1059 closed

[2020-09-24 15:34] wyli opened #1064 "resize with pad or crop"
**Is your feature request related to a problem? Please describe.**
this is a feature request about a convenient transform to:
Resize an image to a target spatial size by either centrally cropping the image or padding it evenly with a user-specified mode.
- when the dimension is smaller than the target size, do central cropping along that dim
- when the dimension is larger than the target size, do

[2020-09-24 16:36] wyli commented on #1063
this is a good question, this get item `self.train_ds[0]` will actually run the randomised transforms, so the results will be different.

so you could do:
[code]

some small demo for your reference:
[code]

[2020-09-24 23:11] #629 closed

[2020-09-25 07:40] guigautier commented on #1063
Many thanks for your answer

[2020-09-25 09:23] #1063 closed

[2020-09-25 13:36] wyli opened #1066 "random seeds in compose should be more flexible"
**Describe the bug**
the compose set_random_state should allow for random factors in the transform sequence

**To Reproduce**

[code]
output

0.6563341015971079
0.6563341015971079
tensor([0.6563], dtype=torch.float64)

**Expected behavior**
the consecutive RandPrint should use different (but deterministic) random seeds

**Environment (please complete the following information):**
Python version: 3

[2020-09-27 08:10] ChenglongWang commented on #1064
This my implementation in my fork, hope it may help.

[code]

[2020-09-27 08:42] Nic-Ma commented on #1064
Hi @ChenglongWang ,

Thanks for your sharing!
Would you like to submit a PR for this ticket?
If you don't have time to work a PR, I can submit later.

Thanks.

[2020-09-27 10:51] ChenglongWang commented on #1064
@Nic-Ma I'm so sorry I have no time to work a PR at this time. Hope my implementation could be of any help.

Best.

[2020-09-27 13:38] #1066 closed

[2020-09-27 14:08] ChenglongWang opened #1068 "Random transforms generates the same random repeatly"
**Describe the bug**
Recently, I noticed that my data have same augmentation shown in tensorboard. I'm considering whether the numpy random RNG has some trouble here, because the Randomizable class uses numpy random not python random.

**To Reproduce**
Here gives a simple example. Notice that the random number repeat every epoch and even iterations.
[code]

It returns:
[code]

**Expected behavior*

[2020-09-27 14:19] yiheng-wang-nv opened #1069 "Fix implementation errors for dynUnet"
The implementations have two  different places compared with the refered network (see [here](https://github.com/Project-MONAI/MONAI/pull/1003)).
Generally speaking, two places need to be changed:

1) the number of output channel for the transposed conv layer should be the same as the number for the whole upsample block (now it is the same as the number of input channel)
2) the kernel size and stri

[2020-09-27 15:13] wyli commented on #1068
thanks for the feedback @ChenglongWang!
as a pytorch usage issue this is  described [in our FAQ](https://github.com/Project-MONAI/MONAI/wiki/Frequently-asked-questions-and-answers#q1-the-randomised-data-transformations-generate-insufficiently-shuffled-outputs-how-can-i-resolve-this-issue), that's also the main reason that we include a `monai.data.DataLoader` https://github.com/Project-MONAI/MONAI/

[2020-09-27 17:55] wyli opened #1071 "cron tests failed on torch docker v20.08"
**Describe the bug**
please see the log:
https://github.com/Project-MONAI/MONAI/runs/1173160621
this is based on 695982df70914e876e65582f3693cf05c795bdf3

[2020-09-27 19:46] #1069 closed

[2020-09-28 01:01] Nic-Ma commented on #1064
Sure, I will submit a PR for it.
Thanks.

[2020-09-28 03:37] ChenglongWang commented on #1068
@wyli Thanks so much for you support. I'm so sorry I ignored the FAQ.

[2020-09-28 03:37] #1068 closed

[2020-09-28 09:20] #1071 closed

[2020-09-28 11:47] #1064 closed

[2020-09-28 11:51] wyli opened #1074 "reduce ResizeWithPadOrCrop memory footprint"
**Is your feature request related to a problem? Please describe.**
for the ResizeWithPadOrCrop transform, cropping first then padding would have smaller memory footprints than padding then cropping.
(this may require changes of the current cropping transform behaviour, so it's beyond v0.3 after discussions with @Nic-Ma )

[2020-09-28 23:30] #1052 closed

[2020-09-28 23:43] wyli opened #1077 "releasing v0.3.0 -- checklist"
Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.

Quality assurance for the relevant repos
The new

[2020-09-29 14:12] #1062 closed

[2020-09-30 05:17] ChenglongWang opened #1081 "Transform on/off flag"
**Is your feature request related to a problem? Please describe.**
Currently, when I need some conditional transforms in the workflow, I use a dummy transform (Lambda) to turn it on and off. I'm wondering is there any elegant way to make it work. Ex. a on/off flag in the arguments.

Here gives my current solution,
[code]

**Describe the solution you'd like**
Add some flag in the transform function

[2020-10-01 06:03] shrutishrestha opened #1082 "Focal Loss"
Can the focal loss be used for the segmentation task or is it only for the classification?

[2020-10-01 06:28] shrutishrestha commented on #1082
<img width="996" alt="Screen Shot 2020-10-01 at 12 11 08 PM" src="https://user-images.githubusercontent.com/33342277/94775293-43803c80-03df-11eb-860b-d54ab25fbbc6.png">
 error occured while performing segmentation with focal loss.
Here predicted output shape is [1,1,256,256] and label is also [1,1,256,256]

[2020-10-01 14:41] ericspod commented on #1082
These device-side problems are not common, they come up when doing custom CUDA operations or using CUDA through other programs. Are you running something else other than this program? If you restart the program/notebook does it reoccur or does it take a few runs before this happens? What hardware are you running on? What's the output from `monai.config.print_config()`?

[2020-10-01 15:15] wyli commented on #1082
I just tested it with a quick script, I think it's because the contents in `label` are larger than the number of channels in `output`, to reproduce it:
[code]

output:
[code]
the error message is slightly better on CPU:
[code]

if you're doing binary segmentation, `output` should be `output = torch.zeros((1, 2, 256, 256)).to(device=device)` with two channels:
[code]

[2020-10-02 02:09] shrutishrestha commented on #1082
Ok then I should use softmax in the last layer of the network before sending it to the loss function right?

[2020-10-02 03:37] ChenglongWang commented on #1081
@wyli Thank your for you reply.
I think my solution has more code reusability, ex:
[code]
I think adding a on/off flag is still a better solution. Anyway, thank your for your kind help. If possible, I'd like submit a PR for this ticket.

[2020-10-02 06:37] Nic-Ma commented on #1077
Hi @wyli ,

I already tested all the notebooks and examples except the Horovod example, and submitted PR to fix issues:
https://github.com/Project-MONAI/tutorials/pull/40
Could you please help tag for v0.3, then delete the `install monai latest code, delete when v0.3 released` cell in all the new notebooks?

Thanks.

[2020-10-02 12:20] wyli commented on #1077
sure I'll do that. also I think we should remove the `-U` option in tutorial `pip install`, because it seems there's no need to enforce the latest pytorch/numpy...

[2020-10-02 12:40] wyli commented on #1082
no need for a softmax as the loss does it internally:
https://github.com/Project-MONAI/MONAI/blob/13e2e48c76b139a2b0cbc6187b54f2ff0e451245/monai/losses/focal_loss.py#L100-L101

I'll update the docstring and revise the interface

[2020-10-02 12:54] wyli commented on #1081
sure, there's also an identity transform in monai: https://github.com/Project-MONAI/MONAI/blob/13e2e48c76b139a2b0cbc6187b54f2ff0e451245/monai/transforms/utility/dictionary.py#L46-L49

if we go for this solution there's a tiny overhead for every iteration during validation/test to run a transform that does almost nothing...otherwise it looks fine to me.

I'm closing this ticket for now, thanks @Che

[2020-10-02 12:54] #1081 closed

[2020-10-02 15:08] #1082 closed

[2020-10-04 20:42] wyli opened #1085 "RandSpatialCropSamples should support `set_random_state`"
**Describe the bug**
RandSpatialCropSamples currently doesn't set the random state of the underlying cropping instance
the transform will be non-deterministic

[2020-10-04 23:44] #1085 closed

[2020-10-05 10:23] tvercaut commented on #807
For the record, this might be interesting to look at:
Nordström M., Bao H., Löfman F., Hult H., Maki A., Sugiyama M. (2020) Calibrated Surrogate Maximization of Dice. In: Martel A.L. et al. (eds) Medical Image Computing and Computer Assisted Intervention – MICCAI 2020. MICCAI 2020. Lecture Notes in Computer Science, vol 12264. Springer, Cham. https://doi.org/10.1007/978-3-030-59719-1_27

[2020-10-05 10:57] #1077 closed

[2020-10-05 21:14] wyli opened #1088 "padding mode for Zoom and RandZoom"
**Is your feature request related to a problem? Please describe.**
when `keep_size` is True, the zooming transform may pad the image.
the padding mode is currently hard-coded:
https://github.com/Project-MONAI/MONAI/blob/9f51893d162e5650f007dff8e0bcc09f0d9a6680/monai/transforms/spatial/array.py#L539

would be great to have flexible API allow the user to specify this mode.

need to revise `Zoom`, `R

[2020-10-06 01:30] thewtex commented on #856
@Nic-Ma @jond01 implementation is available in https://github.com/InsightSoftwareConsortium/ITK/pull/2039 , please take a look

[2020-10-06 20:00] wyli opened #1089 "support of pretrained weights"
**Is your feature request related to a problem? Please describe.**
would be great to support init. from the pretrained models for `SENet` and `DenseNet` (when user specifies `spatial_dims`=2).

[2020-10-06 20:18] wyli opened #1090 "EfficientNets"
**Is your feature request related to a problem? Please describe.**
this ticket looks for implementation of the EficientNets
(the 2d instance could support initialisation from the pretrained)
e.g. https://github.com/rwightman/gen-efficientnet-pytorch

[2020-10-06 22:22] Meddebma opened #1091 "Using own dataset to get spleen segmentations"
I have been testing some of the interesting tutorials on Monai. They are all functioning as expected.
I am now trying to use some own CT data for some of these tutorials, for example the Spleen Segmentation tutorial, but I am encountering some errors which raises some questions:

I have a dataset of CT-Scans without labels. How can I get segmentations out of the spleen segmentation notebook and us

[2020-10-07 03:51] Can-Zhao opened #1092 "divide std in NormalizeIntensity, but std could be 0"
**Describe the bug**
In monai/transforms/intensity/array.py,
img[slices] = (img[slices] - np.mean(img[slices])) / np.std(img[slices])
But the np.std(img[slices]) could be 0 in some cases.
This will cause NaN.

**To Reproduce**
Steps to reproduce the behavior:

Let the input image to be all zeros

**Expected behavior**
The result is NaN

**Screenshots**
If applicable, add screenshots to help explai

[2020-10-07 14:17] #1092 closed

[2020-10-07 19:29] wyli commented on #606
fixed by #1087

[2020-10-07 19:29] #606 closed

[2020-10-09 10:12] Nic-Ma commented on #1088
Thanks @wyli , sounds good a feature request, will add support for it soon.

[2020-10-09 10:14] Nic-Ma commented on #1089
Thanks @wyli , sounds good a feature, similar to our AHNet.
Add @yiheng-wang-nv to help on this task.

Thanks.

[2020-10-09 10:16] Nic-Ma commented on #1090
Hi @wyli ,

Do you know where we can find some reference implementation for 3D EfficientNet?
Thanks.

[2020-10-09 12:15] wyli commented on #1090
thanks Nic, i don't get your question, wouldn't implementing the 2d version with the factories bring in the 3d support automatically?
there's also a 3D impl. https://github.com/shijianjian/EfficientNet-PyTorch-3D looks interesting

[2020-10-09 12:31] #1015 closed

[2020-10-09 16:25] wyli commented on #315
as #785 is now fixed, do you want to revisit this ticket? @LucasFidon @SamuelJoutard?
the cpp/cuda codes are organised in https://github.com/Project-MONAI/MONAI/tree/master/monai/csrc

currently (as of [monai v0.3](https://github.com/Project-MONAI/MONAI/tree/0.3.0)) in a git-cloned MONAI codebase, running:
- `BUILD_MONAI=1 python setup.py develop` will compile all the CPP/CUDA code in `monai/csrc`

[2020-10-09 16:48] wyli opened #1094 "CI errors (not enough memory on the github windows runner?)"
**Describe the bug**
`tests\test_ahnet.py` sometimes raises an out of memory error on github default windows cpu runner
for example https://github.com/Project-MONAI/MONAI/runs/1231403189?check_suite_focus=true#step:9:4886

[2020-10-10 02:31] Nic-Ma commented on #1094
Add @IsaacYangSLA as the expert for CI details.
Thanks.

[2020-10-10 02:33] Nic-Ma commented on #1091
Hi @Meddebma ,

Thanks for your interest here.
I think you want to run inference on your dataset with pretrained model, right?
You can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_evaluation_dict.py
Just remove the logic of computing metrics as you don't have labels.

Thanks.

[2020-10-10 11:59] #1088 closed

[2020-10-12 09:37] wyli commented on #889
these low-level metric computations are now in place.

[2020-10-13 12:04] #1094 closed

[2020-10-13 19:09] marianabb opened #1102 "Different randomized transforms applied to image and segmentation in ArrayDataset"
**Problem description**
As in the title, I am creating a simple ArrayDataset with RandRotate as transform. The image and the segmentation get different rotation angles, is this the expected behaviour?
I've also tested RandAffine as transform and got the same problem.

**To Reproduce**
[code]
The image will be rotated at a different angle when compared to the segmentation.

**Expected behavior**
Im

[2020-10-13 20:55] saruarlive opened #1103 "Sliding window for multi label segmentation/classification"
Hi, Nic-Ma et al,

Could you kindly explain how to use the Sliding window method for multi-label segmenation problem? What loss function/metric should I use in this regard. I have found a tutorial for that in the spleen segmenation notebook, but it is a binary segmenation problem.

 What are the criteria for input image size, and ROI size for the Sliding window method? I have tried with different

[2020-10-13 23:13] dlabella29 commented on #876
Hi Nic,
I have figured out the above and can close the ticket.

One question as well. If I wanted to cite MONAI as a reference for publication, is there a citation available?

Thanks

[2020-10-13 23:23] Nic-Ma commented on #876
Cool, glad to see your update.
@wyli , could you please help confirm the citation?

Thanks.

[2020-10-13 23:45] Nic-Ma commented on #1102
Hi @marianabb ,

Thanks for your interest here.
I think your problem is because you used the same transform objects for both image and label, and it sets random seed at construction:
https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/compose.py#L210
Could you please test with:
[code]

Thanks.

[2020-10-13 23:48] Nic-Ma commented on #1103
Hi @saruarlive ,

Thanks for your interest here.
Please take a look at this tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb
It's a multi-labels task based on Decathlon challenge Task01 dataset.

Thanks.

[2020-10-14 08:31] FabianIsensee commented on #807
Is there somewhere an implementation for this loss? I would like to give it a try but the paper is a bit too mathy for me (They even manage to make the soft dice loss look complicated ;-) ) and I don't have the time to go through all of that right now.

[2020-10-14 09:35] saruarlive commented on #1103
Dea Nic-Ma et al, thanks for your reply. I saw the notebook, and the sliding window method was not implemented there. Do you think, it will work there too since tensors are stacked for each label(class) as channels. For example, for 4 class problem (excluding background), the size of the label tensor becomes  (b, 4, h,w,d).  What sort of loss function/metric requires to apply the sliding window me

[2020-10-14 10:47] wyli commented on #876
the citation could be something like: The MONAI Consortium, Project MONAI: AI Toolkit for Healthcare Imaging, v0.3.0 https://github.com/Project-MONAI/MONAI
I'm also trying to get a DOI for the repo https://guides.github.com/activities/citable-code/

[2020-10-14 11:22] marianabb commented on #1102
Hi @Nic-Ma,
the proposed change does make the transforms work as intended. Thank you very much!

[2020-10-14 11:22] #1102 closed

[2020-10-14 12:02] wyli commented on #1089
fixed by https://github.com/Project-MONAI/MONAI/pull/1096

[2020-10-14 12:02] #1089 closed

[2020-10-14 12:26] wyli opened #1104 "CI errors with python 3.9"
**Describe the bug**
some of the CI pipelines by default uses the latest python which is now Python 3.9
this breaks the tests because pytorch py3.9 wheel is not fully available yet.

**To Reproduce**
please see the log https://github.com/Project-MONAI/MONAI/runs/1253216926?check_suite_focus=true#step:8:14

[2020-10-15 00:06] Nic-Ma opened #1106 "AHNet can't support input channels > 1"
**Describe the bug**
I found that the AHNet implementation hard-code input channels to 1 for the first conv layer, need to support multi-channels.

[2020-10-15 08:58] #1104 closed

[2020-10-15 09:30] bartmch opened #1108 "Balanced batch of crops with(out) foreground pixels"
Apologies if this feature already exists. I would like to implement a function like "RandCropByPosNegLabeld" taking a balanced set of crops (a) containing at 1 or more foreground pixels (e.g. from segmentation mask) and (b) only background pixels.
The goal is to classify crops from a Nifti volume. The current implementation isn't working for me as there is no guarantee that no foreground pixels ar

[2020-10-15 10:48] wyli commented on #1108
thanks for the feature request, this looks like a special case of https://github.com/Project-MONAI/MONAI/issues/586

[2020-10-15 10:48] #1106 closed

[2020-10-15 11:54] tvercaut commented on #315
@charliebudd-kcl will be able to help.
Charlie: have a look at https://github.com/Project-MONAI/MONAI/blob/master/CONTRIBUTING.md

[2020-10-16 05:37] nguyen14ck commented on #606
Hi @Nic-Ma and @wyli,

Thanks for the implementation of patch dataset!

Could you consider modify/add an option to the function "sliding_window_inference" as well?
The current function **extracts-appends-stores all the patches first (in gpu?)**, then infers & combines.
That can be fast & convenient, but it consumes too much memory. For an image 512*512*512, patch size 96*96*96, the GPU 16gb runs o

[2020-10-16 11:31] #363 closed

[2020-10-16 14:17] YuraYelisieiev opened #1111 "Can`t load JIT model from .trcd file"
I saved 3D DensNet from monai:
[code]

Now I am trying to load it from trcd file with the following function:

```torch.jit.load(x, map_location="cuda:0")```

And I get the following error:
[code]

[2020-10-16 14:17] YuraYelisieiev commented on #1111
I have the following versions of torch and monai:
torch==1.6.0
monai==0.3.0

[2020-10-16 14:24] Nic-Ma commented on #1111
Hi @YuraYelisieiev ,

Thanks for your interest here.
May I know what you get if change to save in `.pt` format(`monai3_160_baseline.pt`)?

Thanks.

[2020-10-16 15:56] YuraYelisieiev commented on #1111
@Nic-Ma Its the same for pt file
[code]

[2020-10-16 20:47] fahmanali opened #1112 "import in classification examples"
when run : from monai.apps import download_and_extract
get error: ModuleNotFoundError: No module named 'monai.apps'

[2020-10-17 09:49] ChenglongWang opened #1113 "Mode for key_metric"
**Is your feature request related to a problem? Please describe.**
I think the Workflow or CheckpointSaver need a `mode` option for key_metric and additional_metrics to handle both metrics like `acc` and `mse`.

**Describe the solution you'd like**
Here is the keras version:
[code]

[2020-10-17 10:46] Nic-Ma commented on #1112
Hi @fahmanali ,

Thanks for your interest here.
Have you installed MONAI 0.3.0? Could you please help provide your software versions info?

Thanks.

[2020-10-17 10:52] Nic-Ma commented on #1113
Hi @ChenglongWang ,

Thanks for your interest in MONAI workflows.
We developed the workflows to compare metrics referring to ignite @vfdev-5 :
https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L320
May I know in which case to set mode `less`? I think ACC and MSE are in `greater` mode?

Thanks.

[2020-10-17 11:13] vfdev-5 commented on #1113
As far as I understand, the feature request is to provide 2 + autor ways to compare metrics to decide what to save. In ignite we assume to save best score as larger score and for metrics like MSE we ask user to provide inverse of it such that the best model has larger score.

[2020-10-17 11:43] Nic-Ma commented on #1111
Hi @YuraYelisieiev ,

OK, I see.
Thanks very much for your bug report.
I submitted PR: https://github.com/Project-MONAI/MONAI/pull/1114 to fix this issue.
Could you please help review and verify it?

Thanks.

[2020-10-17 11:47] fahmanali commented on #1112
OK. Thank you.
It was version 1. Pip don't install v3 directly.

في السبت، ١٧ أكتوبر، ٢٠٢٠ ١:٤٦ م Nic Ma <notifications@github.com> كتب:

[2020-10-17 11:51] YuraYelisieiev commented on #1111
Yes, no problem. Thanks for the fix.

[2020-10-17 11:56] Nic-Ma opened #1115 "Add pretrained weights parameter for AHNet"
**Is your feature request related to a problem? Please describe.**
Currently, if users want to use pretrained weights for AHNet, they need to create a `FCN` object and a `AHNet`, then manually call `copy_from()` to initialize weights, which is not easy to use as `DenseNet` and other networks.

**Describe the solution you'd like**
Need to add a `pretrained` parameter for `AHNet` directly.

[2020-10-17 13:04] Nic-Ma opened #1117 "Add TorchScript compatible test for all the networks"
**Is your feature request related to a problem? Please describe.**
In order to make sure all the networks can be exported and loaded in `TorchScript`, need to add more unit tests for them.

[2020-10-17 13:11] #1111 closed

[2020-10-17 17:01] wyli commented on #498
closing this in favour of https://github.com/Project-MONAI/tutorials/issues/46

[2020-10-17 17:01] #498 closed

[2020-10-17 17:04] wyli commented on #329
there's currently no plan to release the FL capabilities of Clara here. please see also https://github.com/Project-MONAI/tutorials/tree/master/federated_learning, https://github.com/Project-MONAI/tutorials/issues/46 I'm closing this ticket for now.

[2020-10-17 17:04] #329 closed

[2020-10-18 02:09] ChenglongWang commented on #1113
@Nic-Ma @vfdev-5 Thanks for your reply.
Is there any example of providing inverse of metric to solve my current issue. I cannot find a solution in MONAI workflow style.
Here gives my evaluator example:
[code]

[2020-10-18 16:15] saruarlive opened #1118 "Deciphering the ideal input tensor size for a Monai defined network"
Dea Nic-Ma et al,

Could you kindly explain what is the ideal input tensor size in a DataLoader to feed into a Monai defined network (eg. monai.networks.nets.UNet)?

Should it be **_batch,channel,height,width,depth_**  or  **_batch,channel,depth,height,width_**?

 Is it the same with PyTorch as PyTorch expects **_batch,channel,depth,height,width_** in their convolution and its related functions (e

[2020-10-18 22:54] Nic-Ma commented on #1118
Hi @saruarlive ,

Thanks for your interest here.
We just follow the PyTorch style, it should be **_batch, channel, height, width, depth_** for the networks.

Thanks.

[2020-10-19 09:02] saruarlive commented on #1118
Dea Nic-Ma et al,

Thank you for your quick reply. you have said the tensor should be _**batch, channel, height, width, depth**_ for the networks.
But in the Pytorch documentation, it is written like _**batch, channel, depth, height, width**_ as shown below.

![image](https://user-images.githubusercontent.com/24542592/96424037-70638a80-11fa-11eb-9667-9d07fff72ccb.png)

Could you kindly explain a b

[2020-10-19 09:14] Nic-Ma commented on #1118
Hi @saruarlive ,

I think PyTorch CONV3D is for general 3D data, so it depends on which dim you defined as `D` in the medical image.
@ericspod could you please help share more information about this question? I think you are expert about it.

Thanks.

[2020-10-19 09:20] saruarlive commented on #1118
Hi, @ericspod and @Nic-Ma,

Thanks for your quick response.
I am defining _**d**_ as slices of a nifti (MRI) image.For example, a tensor like (height=256, width=256, slices=155)
In this regard, what norms should I follow?

[2020-10-19 12:11] rijobro opened #1119 "Upgrade python version in Docker image"
**Is your feature request related to a problem? Please describe.**
The python version of our current docker image is slightly outdated at `3.6.10`.

**Describe the solution you'd like**
An updated python version would be good.

**Describe alternatives you've considered**
Our current docker image is based on nvidia's pytorch version `20.08-py3`. I updated this to their most recent tag `20.09-py3`,

[2020-10-19 16:09] Nic-Ma commented on #1117
Hi @ericspod ,

I am working on a PR to address this ticket, but got an TorchScript error in AHNet:
https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/ahnet.py#L302

[code]
Because this line is not static shape for TorchScript, what do you think we can do for this case?

Thanks.

[2020-10-19 17:07] wyli opened #1123 "drop pytorch 1.4 support"
**Is your feature request related to a problem? Please describe.**
this ticket is to propose to drop the pytorch 1.4 support, this will reduce the dev/CI/CD burdens and encourage the use of the newer pytorch features such as AMP

[2020-10-20 01:35] #1115 closed

[2020-10-20 03:17] Nic-Ma commented on #1118
Hi @saruarlive ,

For your case, I think it matches MONAI dims(HWD) where D is the slices.
Thanks.

[2020-10-20 03:18] Nic-Ma commented on #1119
Hi @IsaacYangSLA ,

Could you please help answer this question? I think you are real expert on our environment.
Thanks.

[2020-10-20 03:19] Nic-Ma commented on #1123
@wyli thanks for raising this ticket and your related PR.
AMP is still not supported in PyTorch 1.5 BTW.

[2020-10-20 03:20] Nic-Ma commented on #1113
Hi @vfdev-5 ,

Could you please help share an ignite example? MONAI metrics just extend the ignite metric base class.

Thanks.

[2020-10-20 03:21] #1112 closed

[2020-10-20 08:44] michalhg opened #1124 "sliding window inference for models that use info other than image"
the monai dataset class is able to use extra data other than the image and label. I want to use a network that incorporates an additional  vector as input (which is not the image itself). however, during the inference stage there is no option to add this input vector. it expects only an image type data in the form of NCWH.
please add this support for sliding_window_inference function.

[2020-10-20 08:59] saruarlive commented on #1118
Hi @Nic-Ma
Thanks for your reply,
Do you think the result will affect if I use (DHW) norms where D is the slice?
Looking forward to getting your intuition?

[2020-10-20 09:14] vfdev-5 commented on #1113
Hi @Nic-Ma here is an example of usage of ignite's Checkpoint with `score_function` to adapt mse as "increasing score" :

[code]

HTH

[2020-10-20 09:42] wyli commented on #1124
hi @michalhg, not sure what exactly the use case is, but could we have a wrapper of the predictor to do it, something like:
[code]

[2020-10-20 10:04] michalhg commented on #1124
yes, sort of.. the predictor should be able to receive the input of the metadata as well, same as the model:
def predictor(x, meta_data):
    return my_model(x, meta_data)

[2020-10-20 13:51] Nic-Ma commented on #1117
Hi @ericspod ,

Seems several our networks contain dynamic parameters, so `torch.jit.script` can't work, can we use `torch.jit.trace` to test it?
Thanks.

[2020-10-20 14:49] lroyer-star commented on #90
Hi community,
Thanks for your great work. I'm really interested in using the implementation of dense-v-net in Monai.
Is there any progress on this task?

Thanks,

Lucas

[2020-10-20 16:29] ericspod commented on #1117
One thing to do is replace `interpolate_size = tuple(x.size()[2:])` with `interpolate_size = x.shape[2:]` and this should work. In the PSP class the members `u8, u16, u32, u64` are not always created, Torchscript won't like this so if upsample mode isn't transpose these must  be set to `nn.Identity` so that they are always there. The line `self.dropout_prob = 0` should also be `self.dropout_prob =

[2020-10-20 23:25] Nic-Ma commented on #1117
Cool, thanks for your help!

[2020-10-21 00:29] ericspod commented on #1118
I don't think it'll matter if you have data in whatever dimension ordering. If you have anisotropic data where the depth dimension is sparser than the other two a network will learn this but it wouldn't matter which dimension this was. Whether DHW or HWD makes sense relative to the original data depends on the format, Nifti for example actually stores as HWD so the depth dimension being last is wh

[2020-10-21 00:35] #1117 closed

[2020-10-21 03:56] #1113 closed

[2020-10-21 04:37] bartmch opened #1126 "Lightning Segmentation tutorial breaks on multiple GPU's (CacheDataset?)"
Reproducing the spleen Lightning segmentation tutorial from [here](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d_lightning.ipynb). Full logs of two errors (1) and (2) shared below. You can reproduce with full code from the notebook into a singly python file can be copied from (3)
With the latest library versions, and running on two GPU's results in t

[2020-10-21 06:08] michalhg commented on #1124
hi @wyli, the metadata is related to the image. could be for instance the age of a patient or the type of scan. this should go in the batch data same as the image to be deployed. this is why it should be implemented **within** the sliding window inferer.

[2020-10-21 08:26] #722 closed

[2020-10-21 13:06] Nic-Ma commented on #1126
Hi @bartmch ,

Thanks for your cool experiments and feedback.
If you train with distributed data parallel, I think you need to use `DistributedSampler` for the dataset? Check this example:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_ddp.py#L117
I am not very familiar with PyTorch Lightning, maybe @marksgraham can help explain more details.

[2020-10-21 14:53] csudre opened #1127 "Evaluation metrics - Regression / Generative models"
**Is your feature request related to a problem? Please describe.**
A list of the metrics to be implemented to be applied in the case of a regression/generative task with possible links for implementation / reference

- Mean absolute error [https://pytorch.org/docs/master/generated/torch.nn.L1Loss.html#torch.nn.L1Loss](url)
- Mean squared error [https://pytorch.org/docs/master/generated/torch.nn.MS

[2020-10-22 02:51] #1057 closed

[2020-10-22 02:54] Nic-Ma opened #1129 "Some metrics don't handle batch and channel dims"
**Describe the bug**
Recently, we added several new medical metrics and I found some segmentation metrics don't handle `batch` and `channel` dims which are the aligned data shape in MONAI.
Like `MeanDice` metric, I think we should compute segmentation metrics on [B, C, H, W, <D>] data and return `M x N` results, where M corresponding to batch dim and N corresponding to channel dim. Then compute th

[2020-10-22 02:55] Nic-Ma commented on #1129
Hi @yiheng-wang-nv ,

Could you please help double confirm and update these metrics ASAP?
Thanks in advance.

[2020-10-22 03:32] Nic-Ma opened #1130 "Confusion matrix should support segmentation"
**Is your feature request related to a problem? Please describe.**
Currently, the confusion matrix metric can only support classification task, if doing segmentation, it needs to accumulate all the outputs of 1 epoch and compute, it will cause out of memory.
Need to compute the 4 elements of every image and compute final results when epoch completed.

[2020-10-22 06:00] csudre opened #1132 "Evaluation metrics - Object detection"
**Is your feature request related to a problem? Please describe.**
Need for the following metrics when dealing with object detection problems

Intersection over Union (IoU) measurements can either be made at the level of the bounding boxes of the objects or of the segmentation themselves.

**At the element level**
- Dice per element
- Centroid distance

**At the level of the image considering inde

[2020-10-22 08:27] wyli commented on #1130
Hi @Nic-Ma are you referring to the ignite handler merged earlier today https://github.com/Project-MONAI/MONAI/pull/1128?  this ticket is a bit confusing because the metric computation part actually support segmentation already https://github.com/Project-MONAI/MONAI/blob/3adee016f6ce522176f7bbaeef11231959677e89/monai/metrics/confusion_matrix.py#L34

[2020-10-23 03:02] Nic-Ma commented on #1130
Hi @wyli ,

In current implementation of confusion matrix, it needs to accumulate segmentation results of the whole epoch and compute, which will cause `out of memory` easily, I suppose to do `update` logic after every iteration, similar to the `MeanDice` metric we have.

Thanks.

[2020-10-23 03:05] Nic-Ma opened #1133 "Add partition dataset API"
**Is your feature request related to a problem? Please describe.**
In order to partition dataset for training, evaluation, cross validation, even distributed training, we should develop a general `partition_dataset` API.
Refer to what we have in the tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_smartcache.py#L80

[2020-10-23 15:54] rijobro opened #1137 "runtests takes a long time"
**Describe the bug**
In our PR template, we ask the submitter to run `./runtests.sh --codeformat --coverage`. Running this on the DGX takes >1h. I normally give up along the way, which makes me think that it's not reasonable to ask this for each and every PR. Could we used an accelerated version?

[2020-10-26 13:49] #1123 closed

[2020-10-27 01:54] Nic-Ma opened #1142 "Enhance the parameters of NormalizeIntensity transform"
**Is your feature request related to a problem? Please describe.**
Currently, `NormalizeIntensity` transform only accepts `subtrahend` and `divisor` as numpy array and have same shape as the input data. But in most of the cases, we only need to set different 1 value for the whole image, or set different values for every channel, no need to set exact value for every voxel.

**Describe the solution

[2020-10-27 08:26] wyli commented on #1142
Hi @Nic-Ma , it seems what you described here is supported by our current implementation:
[code]

[2020-10-27 08:35] Nic-Ma commented on #1142
Hi @wyli ,

I saw your PR https://github.com/Project-MONAI/MONAI/pull/1093 fixed this issue.
My local code is not updated to the latest.
Thanks for your PR by the way.

[2020-10-27 08:35] #1142 closed

[2020-10-27 08:52] wyli commented on #1137
`./runtests.sh --quick` skips some integration tests and is much faster. I agree that for non-breaking changes we just need to run the quick tests. I'll update the contributing guide.

[2020-10-27 09:31] rijobro commented on #1137
Thanks!

[2020-10-27 11:53] danieltudosiu opened #1143 "Data Parallel without excessive gathering and scattering"
**Is your feature request related to a problem? Please describe.**
I am using quite big models that have very little room for loss functions, but at the same time I am using a loss function [1] that consumes more than your average L1/L2.

**Describe the solution you'd like**
There has been a quick fix by Hang Zhang [2] which basically stops the gathering of the network output and then has another

[2020-10-27 13:36] kissievendor opened #1145 "Freeze layers for transfer learning"
Is it possible to freeze layers in the UNet?
I want to freeze some layers in order to do transfer learning.

However, when I use model.children, the whole network is printed. I am not able to get specific layers.

So, is this possible, or do you recommand something else for transfer learning?

Thank you.

Best,
Kirsten

[2020-10-27 14:07] Nic-Ma commented on #1143
Hi @danieltudosiu ,

Thanks for your interest here.
May I know what issue or question you are facing with MONAI? Or some suggestions for us?

Thanks.

[2020-10-27 14:17] danieltudosiu commented on #1143
Hi @Nic-Ma,

I think this is an edge case that would be good for Monai to cover as it will be encountered in medical imaging when we discuss:
 - Generative modeling
 - Natural language processing
 - 7T imaging tasks

Furthermore, this will further simply how DataParallel works and make it more intuitive instead of having a reduce step to a GPU before loss calculation. This, in turn, will benefit m

[2020-10-27 15:24] thewtex commented on #1007
This issue has to due with the memory layout of the image data, i.e. whether the channels are contiguous in memory or interleaved. Image processing and visualization libraries like ITK or matplotlib usually work with the data where the channels are interleaved, i.e.

versus

used by PyTorch.

This is demonstrated in https://nbviewer.jupyter.org/gist/thewtex/2e9aa95f7e65170082a606f26b49b482 which i

[2020-10-27 15:27] thewtex commented on #1007
The `axes` referenced in the `keep_axes` argument to `itk.array_view_from_image` are referencing the order of indexing of the spatial dimensions. We will add a new kwarg to `itk.array_view_from_image` to specify whether the channels should be contiguous or interleaved.  Until that is released, we can use #1147

[2020-10-27 17:19] wyli opened #1149 "compatibility with pytorch 1.7"
**Is your feature request related to a problem? Please describe.**
pytorch 1.7 is available, there're some compatibility issues such as https://github.com/Project-MONAI/MONAI/runs/1315919388#step:8:15470

[2020-10-27 19:07] #1137 closed

[2020-10-28 01:40] catskillsresearch opened #1150 "RandZoomd crashes my notebook without a stack trace"
**Describe the bug**
When I apply the commented-out `RandZoomd` transformation in my data load, which mirrors the Spleen 3D segmentation notebook but a slightly different dataset, it crashes the notebook without a stack trace.  Removing the transform allows the load to complete:

[code]

**Expected behavior**
If it's going to fail, it shouldn't crash the notebook, it should explain to me what I'm

[2020-10-28 08:53] Nic-Ma commented on #1143
Hi @danieltudosiu ,

OK, I see, thanks very much for your suggestion!
Mark as a discussion topic for next MONAI working group meetings.

Thanks.

[2020-10-28 08:55] Nic-Ma commented on #1149
Hi @wyli ,

Thanks for raising this topic, let me try to figure out this particular issue.

[2020-10-28 09:01] Nic-Ma commented on #1150
Hi @catskillsresearch ,

Thanks for your interest here and experiments with MONAI.
Could you please help add `DataStatsd` transform before and after `RandZoomd` to help show some information?
I think we need to figure out where it really crashed first.
If you can play with MONAI source code and add some log, that would be quite helpful, just git clone the master branch and `pip install -e .` at th

[2020-10-28 09:16] wyli commented on #1149
I partly fix this issues here: https://github.com/Project-MONAI/MONAI/commits/1149-torch-1-7
the corresponding full test results are here: https://github.com/Project-MONAI/MONAI/runs/1316826365
could you please continue working from that branch

[2020-10-28 09:32] Nic-Ma commented on #1149
sounds good.

[2020-10-28 11:03] martaranzini commented on #807
Hi all,

@wyli: I finally have the updates on the DynUnet.
First, I would like to point out that together with @LucasFidon we identified a huge source of discrepancy in patch size and batch size between the manually selected values in MONAI and the automatically determined ones in nnU-Net.
In MONAI I was using a way smaller patch size (roughly a factor of 5), which explains the very large gap of p

[2020-10-28 11:13] wyli commented on #807
thanks @martaranzini, for the loss function, I'll create a PR for flexible options of `smooth` and the "batch version"
perhaps adds a new Dice+Xent loss as well. would be great to have your review for the PR :)

FYI @mmarcinkiewicz @pribalta @Nic-Ma @yiheng-wang-nv

[2020-10-28 13:17] rijobro commented on #1149
For what it's worth, running `./runtests.sh --quick` with pytorch 1.7 locally, I get a few more errors as well. See [attached](https://github.com/Project-MONAI/MONAI/files/5452052/error.txt) file. Although I haven't checked if all errors are specifically related to pytorch1.7.

[2020-10-28 13:27] wyli commented on #1149
those are all fixed in https://github.com/Project-MONAI/MONAI/commits/1149-torch-1-7

there are some additional issues
- on windows for the multiprocess data loading
- some reproducibility issues related to the deterministic seeds
- linux cpu tests took too long (60min+)

[2020-10-28 13:35] rijobro commented on #1149
Great thanks. Perhaps in the meantime, we should modify [requirements.txt](https://github.com/Project-MONAI/MONAI/blob/master/requirements.txt) from `torch>=1.5` to `torch>=1.5,<1.7`. Otherwise, users will get the problematic 1.7 by default (I do at least).

[2020-10-28 13:41] Nic-Ma commented on #1149
Hi @wyli ,

Could you please submit all your fix as a PR? I didn't which issue you already fixed and which is not.
Thanks.

[2020-10-28 13:43] wyli commented on #1149
you can find the diff here: https://github.com/Project-MONAI/MONAI/compare/1149-torch-1-7
PR will trigger too many github notifications I was trying to avoid that.

[2020-10-28 16:10] wyli opened #1152 "cropforegroundd transform to return the coordinates"
**Is your feature request related to a problem? Please describe.**
would be useful to include the cropping coordinates in the returned dictionary for `cropforegroundd`
https://github.com/Project-MONAI/MONAI/blob/fa2f580bf6d0f58260eaf16aa95386d4da2ae455/monai/transforms/croppad/dictionary.py#L363

[2020-10-28 18:32] wyli opened #1154 "randzoom to partly keep the aspect ratio"
**Is your feature request related to a problem? Please describe.**
currently random zoom supports either different random zoom factors for each dimension or the same factor for all dimensions.
would be great to support the use same random factor for some of the dimensions

[2020-10-28 19:38] #807 closed

[2020-10-28 19:50] dzenanz commented on #1149
I just got into this situation. I will need to downgrade pytorch.

[2020-10-28 23:11] catskillsresearch commented on #1150
Hi @Nic-Ma, here is a self-contained example.  It doesn't crash my notebook on it's own, so I will try again and see if the problem goes away.  If it doesn't I'll come back with a revision:

[code]
**Question**:  Is there a way to get these transforms to run on the GPU during training?  Using the training loop presented in the tutorial, these happen on the CPU and I need to raise my num_workers up

[2020-10-28 23:36] Nic-Ma commented on #1152
Hi @wyli ,

Thanks for raising this up, I already got this request from Clara team.
Will add it soon.

Thanks.

[2020-10-28 23:39] Nic-Ma commented on #1150
Hi @catskillsresearch ,

Sound good. And some of the transforms can run on GPU, you can take a look at:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/transform_speed.ipynb

Thanks.

[2020-10-29 06:37] FabianIsensee commented on #807
Thank you for the update @martaranzini . Looks like the differences have been resolved :-)

@wyli I would also volunteer for the PR. I've got a lot of experience with batch Dice and Dice+Ce from developing nnU-Net

[2020-10-29 09:25] tvercaut opened #1155 "Savitzky-Golay kernel for data smoothing"
**Is your feature request related to a problem? Please describe.**
[Savitzky-Golay filtering](https://en.wikipedia.org/wiki/Savitzky%E2%80%93Golay_filter) is widely used in fields such as ultrasound imaging and spectral imaging. It is often a prefered option in comparison to Gaussian filtering in such applications.

**Describe the solution you'd like**
The Savitzky-Golay filter is a simple discret

[2020-10-29 09:29] tvercaut commented on #1155
A very basic notebook code to plot an exemplar kernel (using scipy):
[code]

[2020-10-29 09:36] rijobro commented on #1149
@dzenanz
We've merged the temporary fix here: https://github.com/Project-MONAI/MONAI/pull/1151. If you already have pytorch 1.7, you should be able to pip uninstall it and then re-install the correct versions via the `requirements.txt` files.

[2020-10-29 09:44] aliechoes opened #1156 "list of todos"
Hi

I would like to contribute to MONAI. I am wondering if there is any list of open todos which can be implemented?

Cheers

[2020-10-29 10:16] #1091 closed

[2020-10-29 10:23] wyli opened #1157 "Dice + Cross entropy loss"
**Is your feature request related to a problem? Please describe.**
Dice + Cross entropy loss is discussed in #807 and implemented in https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_tutorial.ipynb
it should be integrated into the main codebase

[2020-10-29 10:25] wyli commented on #1157
Hi @yiheng-wang-nv, could you please work on this one?

[2020-10-29 10:27] Nic-Ma commented on #1157
@wyli , we are also discussing how to move the dynunet tutorial into Clara SDK, this ticket can be quite useful.

Thanks.

[2020-10-29 10:35] wyli commented on #1157
sure thanks, for all the relevant PRs to MONAI we should keep @FabianIsensee in the loop

[2020-10-29 10:54] wyli commented on #1156
Welcome!  tickets labelled 'contribution wanted' and 'feature request' generally need help
- https://github.com/Project-MONAI/MONAI/labels/Contribution%20wanted
- https://github.com/Project-MONAI/MONAI/labels/Feature%20request

[2020-10-29 11:08] aliechoes commented on #1156
thanks. Also wondering, in case I developed some stuff which are not part of the feature requests, would it be still possible to send the pull request? I am mostly asking this to know more about the monai general policy

[2020-10-29 11:22] wyli commented on #1156
Sure, in that case, would be great to create a new ticket first, so that we have enough context for some discussions and tracking the progress

[2020-10-29 12:36] catskillsresearch commented on #1150
@Nic-Ma why don't all of the transforms run on GPU?  Most of the examples presented are a stack followed by `ToTensord`.  Most of the transforms are missing the `device=` and  `as_tensor_output=True` arguments.  (Also the docs are ambiguous about whether `True` means "as a tensor" or "as NumPy".)  It seems it would be cleaner to have these two arguments on the `LoadNumPyd` and `LoadNiftid` transfo

[2020-10-29 16:17] aliechoes commented on #1156
Awesome! Thanks for the response. I am working on my PhD project and no matter what I am implementing my work on MONAI. I think it would be a nice addition to the currently existing work anyway.

[2020-10-29 17:16] wyli commented on #1156
thanks! I'm closing this ticket for now

[2020-10-29 17:16] #1156 closed

[2020-10-29 17:17] #1152 closed

[2020-10-30 01:54] Nic-Ma opened #1160 "Add TorchScript support for networks"
**Is your feature request related to a problem? Please describe.**
Now we already fixed some `TorchScript` issues for several networks and added unit tests for them.
Still need to resolve `TorchScript` issues in other networks: `SegResNet & SegResNetVAE`, `DenseNet`, `SENet`, `DynUNet`.

**Describe the solution you'd like**
`torch.jit.script()` can work for these networks.

[2020-10-30 01:58] Nic-Ma commented on #1160
Hi @ericspod ,

I tried to fix these networks for TorchScript, but I didn't find the root cause immediately and I need to jump into another critical task.. Could you please help take look at this ticket as you are expert on TorchScript?
This ticket is very important for users to do additional development based on the trained model in MONAI.

Thanks in advance.

[2020-10-30 02:09] Nic-Ma opened #1161 "Support fixed model file name in CheckpointSaver handler"
**Is your feature request related to a problem? Please describe.**
Currently, `CheckpointSaver` can save model into file with dynamic name, which contains metric number or epoch number, etc.
Need to add an option to support fixed file name, this can be very useful for further auto-loading programs, no need to manually modify the filename in the evaluation program.

[2020-10-30 16:02] #1161 closed

[2020-10-31 03:04] #1133 closed

[2020-10-31 03:16] Nic-Ma opened #1165 "Make several layers of AHNet to be optional"
**Is your feature request related to a problem? Please describe.**
Currently, the implementation of AHNet aligns with the original paper, which is very heavy.
It may require more than 10 times memory than our UNet.
So I think we can make some deep layers optional, users can select to use them or not with 1 parameter.

[2020-10-31 03:17] Nic-Ma commented on #1165
Hi @yiheng-wang-nv ,

Could you please help work on this ticket as you developed the existing AHNet?
You can refer to Clara 3.1 for this option.
CC @yanchengnv

Thanks.

[2020-10-31 09:42] sumanyumuku98 opened #1166 "How do I cite this project?"

[2020-10-31 12:29] aylward commented on #1166
This is a great question!   I've forwarded it to the Community Working Group.    As soon as we have an answer, we will post it here.   In the meantime, referencing the MONAI.IO website is probably best.   Thanks for thinking of this!

[2020-11-01 04:25] Dale-Black opened #1168 "Error with compute_hausdorff_distance"
**Describe the bug**
Unable to import `compute_hausdorff_distance` while using monai==0.3.0. When I git clone and import `compute_hausdorff_distance` that way I am still unable to use `compute_hausdorff_distance` due to size mismatch and/or nonzero entries

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segme

[2020-11-01 05:51] prameshgautam opened #1169 "Loss function for non-binary volumes"
I need to compare two images corresponding to landmark locations. I was thinking of something related to Dice loss. I cannot use dice loss since the image is not binary. The background is black but the landmark locations have varying intensities depending on the distance. What would be the best loss function to compare such images? Is cross-entropy suitable for this?

[2020-11-01 18:59] sumanyumuku98 commented on #1166
Great! Will reference the website for the time being.

[2020-11-02 07:30] Nic-Ma opened #1171 "update CVDecathlonDataset to use partition_dataset"
**Is your feature request related to a problem? Please describe.**
As we already added `parittion_dataset` API, need to update the `CVDecathlonDataset` to use it.

[2020-11-02 10:53] rijobro opened #1172 "TestLLTM failure"
**Describe the bug**
`python -m unittest -k TestLLTM` fails on my machine. From https://github.com/Project-MONAI/MONAI/pull/786, I thought it might be fixed with `python setup.py develop`, but error remains:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MONAI root
2. python -m unittest -k TestLLTM

**Expected behavior**
Unit test should run (or state that it's skipping if a c

[2020-11-02 10:57] wyli commented on #1172
Hi @rijobro, by default the setup command doesn't do the compiling, please try this one:
[code]

[2020-11-02 11:47] rijobro commented on #1172
Thanks, after running that, the test now passes.

However, the test should be skipped if the code isn't compiled. I'll PR now.

[2020-11-02 12:50] wyli commented on #876
the last comment was on citing the project, I'm closing it in favour of https://github.com/Project-MONAI/MONAI/issues/1166

[2020-11-02 12:50] #876 closed

[2020-11-02 13:15] wyli commented on #1118
for the record pytorch has an inconsistent convention in the `grid_sample` https://discuss.pytorch.org/t/surprising-convention-for-grid-sample-coordinates/79997

[2020-11-02 13:15] #1118 closed

[2020-11-02 14:14] #1172 closed

[2020-11-02 22:46] #1074 closed

[2020-11-02 23:53] Nic-Ma opened #1178 "CopyItemsd transform can't support tensor from model"
**Describe the bug**
Thanks for @madil90 's bug report, `CopyItemsd` transform can work on normal `torch.Tensor` data but can't work on a tensor in graph:
[code]
Need to fix it for post transforms.

[2020-11-03 01:38] #1178 closed

[2020-11-03 11:56] Irme opened #1180 "Automatic continuation of training from latest checkpoint"
**Is your feature request related to a problem? Please describe.**
There's no way to automatically restart your training without specifying the latest model path yourself. This is annoying when your code gets interrupted.

**Describe the solution you'd like**
A model loader that can look for the latest model itself, restart from the latest model if found, and start training if no models are found.

[2020-11-03 12:09] Irme commented on #1180
#1181 fixes this, but I still need to write some additional tests.

[2020-11-03 13:50] Nic-Ma commented on #1180
Hi @Irme ,

Thanks for your interest here, good suggestion for user experience.
To achieve your requirement, you can set `save_final=True` and `final_model_name=XXX` in `CheckpointSaver` handler:
update-copyitems-type-check
Then set `XXX` as the **fixed** model name for `CheckpointLoader` transform.

Thanks.

[2020-11-03 13:54] Nic-Ma commented on #1169
Hi @ericspod and @wyli ,

Could you guys help share some info here as you are experts on this topic?

Thanks.

[2020-11-03 13:59] Nic-Ma commented on #1168
Hi @rijobro ,

Could you please help take look at this question as you developed the `compute_hausdorff_distance` and expert on that?
Thanks in advance.

[2020-11-03 16:13] jnc13 opened #1183 "Guidance for preparing own data"
Hey,
I'm not a coding-whizz so thanks for making an approachable implementation.
I've begun attempting 3D segmentation with my own data by following the "Spleen 3D segmentation with MONAI" tutorial but believe I'm running into an issue with how I have prepared my own data.

Could you please provide some clarification/tutorial/code for how to prepare data: images and labels?

Personally I'm getting

[2020-11-03 17:45] ericspod commented on #1169
This might call for something more specific to landmarks. What I had done in the past with a regressor to predict landmark coordinates was use MAE loss between the ground truth and predicted positions, using some sort of cartesian distance loss didn't appear to help. If you have landmarks as single pixel/voxel values in an image converting these to coordinate values then using this kind of loss is

[2020-11-04 06:14] Nic-Ma opened #1184 "PyTorch 1.6 is not optimized for docker 20.08"
**Describe the bug**
In order to avoid PyTorch 1.7 CI test errors, we temporarily forced PyTorch version to >=1.5 and < 1.7, it will uninstall the optimized PyTorch in docker 20.08 and install 1.6.0 instead.
According to @IsaacYangSLA 's training test, the training speed is 2x times slower in latest MONAI docker(reinstall 1.6) because the original torch in the docker was optimized by NVIDIA team.

[2020-11-04 06:16] Nic-Ma commented on #1184
Hi @wyli ,

Could you please help restore the Dockerfile to use the original torch in docker 20.08?
This can be very important for us to compare the training speed of MONAI with other internal projects.

Thanks in advance.

[2020-11-04 06:19] Nic-Ma opened #1185 "Unify the rotate angle in transforms"
**Is your feature request related to a problem? Please describe.**
Currently, `Rotate`, `RandRotate`, etc. use the degree to set rotate angle, but `RandAffine`, `Rand3DElastic`, etc. use radian, need to unify them for better user experience.

[2020-11-04 06:24] Nic-Ma commented on #1185
Hi @wyli and @ericspod ,

I want to unify them in `radian`, if you guys agree, I will submit a PR as soon as possible.
We are developing many training examples based on MONAI, better to finalize APIs ASAP.

Thanks.

[2020-11-04 06:28] Nic-Ma commented on #1183
Hi @jnc13 ,

Thanks for your interest and good experiment with your own data.
Could you please help share your script that converts your label data?
Maybe @thewtex from ITK team could help us and take a quick check?

Thanks in advance.

[2020-11-04 09:05] wyli commented on #1184
sure I'm working on this. We do need to address https://github.com/Project-MONAI/MONAI/issues/852 to avoid this type of error again.

[2020-11-04 09:09] Nic-Ma commented on #1184
Thanks @wyli , and yes, we also have ticket https://github.com/Project-MONAI/MONAI/issues/927 for execution time test.

[2020-11-04 10:05] ericspod commented on #1185
Most calculations are done in radians, that's really the default I've seen everywhere in libraries like Numpy. Affine rotation matrices are always going to be in radians as well. In config files we have to specify an odd looking float value but I think it's clear when it's not an integer it's radians.

[2020-11-04 12:49] #1171 closed

[2020-11-04 12:49] #816 closed

[2020-11-04 15:45] Nic-Ma commented on #1185
Hi @ericspod ,

OK, that looks reasonable to me.
@wyli do you have any other concern? If you are OK, I will make a quick PR for this thing and update related examples and tutorials.

Thanks.

[2020-11-04 15:52] wyli commented on #1185
sure I think we can unify to radians

[2020-11-04 16:53] #1184 closed

[2020-11-04 16:55] jnc13 commented on #1183
Hi @Nic-Ma ,
I'm very pleased to say that in fact that taking another look at it in preparation for my reply it is now working! I managed to cut out a preprocessing step and the streamlined approach is now working great. So no need for any further help and I'll close this. Thanks again.
Jeff.

[2020-11-04 16:55] #1183 closed

[2020-11-04 17:26] #846 closed

[2020-11-04 17:35] wyli commented on #494
the workaround is well documented https://github.com/Project-MONAI/MONAI/blob/bbc2da59c26a5409c1fec219e112a48495633bbc/tests/__init__.py#L32-L36
closing this issue

[2020-11-04 17:35] #494 closed

[2020-11-04 17:37] wyli commented on #718
this partly depends on https://github.com/Project-MONAI/MONAI/issues/365

[2020-11-04 18:27] joho84 opened #1189 "Memory error for sliding_window_inference"
Hi MONAI-Team,
thanks for sharing your software development so far!
I tried to adapt the 3D spleen segmentation example to my own dataset. After some adjustments I got the training to run and as a next step tried to run some inference on my test data. The test volume is a 1504x1504x561 CT volume in nifti format.
To do so I used the sliding_window_inference on the CPU as the GPU immediatly runs out

[2020-11-04 18:44] wyli commented on #1189
thanks for the feedback, the sliding window memory size would be `1504x1504x561` x4 (4-byte float) x 2 (2channel prob) x 2 (tracking of spatial weights), so roughly 20G would be enough.

but in your script, `CacheDataset` with cache rate =1  would take large memory and seems unnecessary, could you try using `Dataset`: something like `test_ds = monai.data.Dataset(data=test_files, transform=test_tra

[2020-11-04 19:02] wyli opened #1190 "persistent cache format"
the transformed data items are store using `torch.save`,
which is probably not optimized in terms of file size and access speed for the caching purposes

would be great to explore other cache file formats

context:
https://github.com/Project-MONAI/MONAI/blob/bbc2da59c26a5409c1fec219e112a48495633bbc/monai/data/dataset.py#L210-L212

see also https://github.com/Project-MONAI/MONAI/issues/999

[2020-11-04 19:22] #849 closed

[2020-11-04 21:24] joho84 commented on #1189
Hi wyli,
thank you very much for your quick response!
I did also try the normal dataset, unfortunately with the same result. Do you have an idea why the sliding_window_inference is building up so much more memory consumption (>300 GB) than anticipated? It takes up the space gradually while running the inference.
Thank you very much!

[2020-11-04 21:48] #727 closed

[2020-11-04 23:04] wyli commented on #1189
sure, could you help run a few sanity checks:

for large tensors
[code]

for the sliding window
[code]

[2020-11-05 02:11] Dale-Black commented on #1168
So the problem is that the `val_outputs` is of size=[1, 2, 233, 209, 101] wheres the `val_labels` is of size=[1, 1, 233, 209, 101]. Any idea what might have gone wrong in this process?

[2020-11-05 08:12] #1185 closed

[2020-11-05 09:31] joho84 commented on #1189
Sure, here is the ouput:
[code]
tensor([[[[[3.3863e-01, 1.7919e-01, 6.0157e-01,  ..., 2.7129e-01,
            7.3396e-02, 4.2987e-02],
           [2.6321e-01, 9.2067e-01, 8.0036e-01,  ..., 4.5031e-01,
            4.1524e-01, 2.1147e-01],
           [5.1681e-01, 6.8210e-03, 2.0811e-01,  ..., 2.3153e-01,
            4.6916e-01, 6.0845e-01],
           ...,
           [1.4685e-02, 8.2935e-01, 6.7857e

[2020-11-05 11:58] wyli commented on #1189
thanks @joho84, so how much memory does it to run the sliding window test? on my MacBook the peak memory was  ~20-30GB. I think the issue should be in the `test_ds` and `test_dataloader`. does it work if you comment out the last line of the script `test_outputs = sliding_window_inference(val_inputs, roi_size, sw_batch_size, model)`? I'll try to replicate the issue using some random images locally.

[2020-11-05 12:40] wyli commented on #1168
thanks for the feedback, you can also add a `torch.argmax` to the output, something like:
[code]

[2020-11-05 12:40] #1168 closed

[2020-11-05 14:35] Irme commented on #1180
Hi @Nic-Ma,

Thank you for your suggestion. The case I am dealing with is when a training session is stopped before completion. My apologies if it was not clearly explained! I am training my models on a shared cluster, and jobs get occasionally paused - meaning the training loop will not have completed, and upon restart I will need to resume training from the last iteration, which could be any. Th

[2020-11-06 00:42] Nic-Ma commented on #1180
Hi @Irme  ,

Thanks for your explanation here.
I got 2 questions:
1. I think you want to continue a training from previous iteration and previous epoch, could you please help share the whole program to help me understand how you get the DataLoader iter to previous iteration?
2. If you set "save_final=True" in CheckpointSaver handler, it will save model when completed or exception happened, and you

[2020-11-06 04:14] shrutishrestha opened #1196 "Error using spatial size"
I do not understand this error.
<img width="1291" alt="Screen Shot 2020-11-06 at 9 55 16 AM" src="https://user-images.githubusercontent.com/33342277/98325281-8785e300-2016-11eb-9e36-19fb8dcabd22.png">

I used the transforamtion as below:
val_transform = monai.transforms.Compose(
    [
        LoadPNGd(keys = ["image","label"]),
        AsChannelFirstd(keys = ["image","label"], channel_dim = -1),

[2020-11-06 10:54] joho84 commented on #1189
Hi wyli,
unfortunately I cannot check the memory consumption right now as I currently have no access to the machine. But when I ran the code yesterday it quickly terminated with no errors showing up. I will check the memory consumption as soon as I get a chance.
The dataloader itself works fine I think. I actually run the dataloader and the sliding_window_inference in different cells in the Jupyte

[2020-11-06 11:58] joho84 commented on #1189
@wyli I just got a chance to  check the memory consumption:
for creating the random tensor: around 24 GB
for sliding_window_inference: peaking to around 34 GB but then dropping back to 0 GB

[2020-11-06 12:00] charliebudd opened #1198 "Efficient, differentialble bilateral filter"
**Is your feature request related to a problem? Please describe.**
This would be a useful tool to have in the box, both on its own or part of a larger algorithm such as #315

similar issue for more context...
https://github.com/kornia/kornia/issues/702

**Describe the solution you'd like**
Would be nice to have an implementation which can operate on arbitrary spatial dimensions and channels.
Due t

[2020-11-06 12:52] JavierBerna commented on #1196
Same problem using the `Resized ` function

[2020-11-06 13:02] wyli commented on #1196
thanks this is a compatibility issue with pytorch1.7, we are working on that. for now please downgrade to use pytorch 1.6. cc @Nic-Ma

[2020-11-06 13:36] wyli opened #1199 "Porting weighted sampling from NiftyNet"
**Is your feature request related to a problem? Please describe.**
Niftynet's weighted sampler could now be implemented as a monai transform

context:
https://github.com/NifTK/NiftyNet/blob/dev/niftynet/engine/sampler_weighted_v2.py

[2020-11-06 14:23] massimilianoporzio opened #1201 "ATTENTION BASED UNET"
It would be very good if the project could provide a UNET model with attention mechanism like the one described in https://github.com/ozan-oktay/Attention-Gated-Networks.
I think it would improve the performance of segmentation models

[2020-11-06 21:13] #1129 closed

[2020-11-07 16:36] nielsdebruin opened #1202 "Select Items Dictionary Transform"
**Problem**
Currently, the only way to remove dictionary keys it to remove them with the `DeleteItemsd` transform. Though this solves the problem it is not the most elegant way to do it. For example, suppose you have numerous different NIfTI files and use the pipeline to combined them into a single channels wise input. In this case, I find that selecting what you want to keep is more elegant (and

[2020-11-07 18:20] #1202 closed

[2020-11-09 10:36] Nic-Ma opened #1204 "Integration test failed but report passed"
**Describe the bug**
I found an issue in our CI test env, the integration test failed in the log but the final result is "passed".
Take the latest PR for example:
https://github.com/Project-MONAI/MONAI/runs/1368333959#step:7:10824

Thanks.

[2020-11-09 10:37] Nic-Ma commented on #1204
Hi @IsaacYangSLA and @wyli ,

I think this is a critical bug in the CI env, could you please help take a look?
Thanks.

[2020-11-09 10:48] wyli commented on #1204
hi Nic, please don't assign this type of ticket to me without any discussions beforehand.

[2020-11-09 11:20] mibaumgartner opened #1205 "[Feature request] Volumetric Detection Ops"
**Is your feature request related to a problem? Please describe.**
Add support for volumetric detection ops (NMS and RoiAlign) in Monai.
Especially desired formats of the input and the boxes need to be discussed.

The working group earlier decided to create a Pull Request in torchvision but it would probably better fit in the Monai repo because it is specifically designed for volumetric/medical da

[2020-11-09 11:32] mibaumgartner commented on #1132
Amazing list of detection metrics, thanks for all the effort of the metrics task force to collect them!

I am curious about the `F1 with minimum overlap of 1 voxel` metric, could someone add some papers which use that metric? (I would like to read them ^^)

Also a small addition:
The Free-Response Receiver Operating Characteristic (FROC) might also be a metric which should be added (used by [LUNA]

[2020-11-09 11:58] wyli commented on #1204
looks like the tests/runner.py is not returning a proper exit code cc @rijobro

[2020-11-09 12:14] rijobro commented on #1204
Sorry about this, certainly looks my fault.

[2020-11-09 12:38] Nic-Ma commented on #1204
No problem, could you please hrlp submit a quick PR to fix it?
Don't worry about the CI error about DiceMetric, I fixed in another PR.

Thanks.

[2020-11-09 13:50] #1204 closed

[2020-11-09 13:58] tvercaut commented on #1155
@crnbaker should be able to look into this

[2020-11-09 15:53] ericspod commented on #1180
I can elaborate further on what @Irme has said. The behaviour of the cluster is that it will kill a job then restart it, the script has to detect the difference between a new job being started and an old one being resumed by inspecting what epochs have been saved. If a saved epoch is found then the training starts from that count at the start of the epoch which was stopped mid way. Some training t

[2020-11-09 18:48] wyli opened #1209 "CI/CD pull from dockerhub reaches the rate limit"
**Is your feature request related to a problem? Please describe.**
"/usr/bin/docker pull projectmonai/monai:latest
  Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit"

https://github.com/Project-MONAI/MONAI/runs/1375688986?check_suite_focus=true#step:2:17

**Add

[2020-11-09 19:18] tvercaut opened #1210 "Hilbert transform for envelope detection"
**Is your feature request related to a problem? Please describe.**
Many ultrasound computing pipelines rely on a envelope detection detection algorithm. Having such a feature in MONAI would help ultrasound researchers adopt MONAI.

**Describe the solution you'd like**
A GPU enabled, ideally differentiable, PyTorch version of [`scipy.signal.hilbert`](https://docs.scipy.org/doc/scipy/reference/gener

[2020-11-09 23:20] Nic-Ma commented on #1180
Hi @ericspod ,

The `save_final` option will also save checkpoint if an exception happened, note to attach `CheckpointHandler` as the first handler for `EXCEPTION_RAISED` Event:
https://github.com/Project-MONAI/MONAI/blob/master/monai/handlers/checkpoint_saver.py#L210

Thanks.

[2020-11-09 23:45] #1149 closed

[2020-11-09 23:45] #1196 closed

[2020-11-10 01:48] Nic-Ma commented on #1201
Hi @massimilianoporzio ,

Thanks for your suggestion here.
I marked for working group discussion, and if you are interested, welcome to submit a PR for it.

Thanks.

[2020-11-10 01:50] Nic-Ma commented on #1209
Hi @IsaacYangSLA and @YuanTingHsieh ,

Could you please help take a look?
Thanks.

[2020-11-10 01:52] Nic-Ma commented on #1210
Hi @tvercaut ,

I marked for working group discussion, maybe you guys can discuss deeper in the meeting and make some proposals.
Thanks.

[2020-11-10 04:47] synapsesneurons commented on #713
Is there any plan to add GradCam to the next version?

[2020-11-10 04:52] synapsesneurons opened #1212 "Feature Maps - GradCam"
Is there any plan to add feature maps and heat maps to the list of features.
Issue 713 has asked for GradCam, and you already have developed Occlusion. I was wondering if there is any chance to have gradcam and other feature maps and heat maps available for the next version.

Thank you.

[2020-11-10 08:28] tvercaut commented on #1210
Hi @Nic-Ma,
This doesn't need to be prioritised in a working group. We are looking at it for one of our projects and would submit a PR when ready. This issue is meant to keep track of the planned PR and start the ball rolling with @crnbaker. (Similar scenario with #1155 )
Tom

[2020-11-10 09:29] Nic-Ma opened #1213 "Need to support all parameters of PyTorch DataLoader"
**Is your feature request related to a problem? Please describe.**
In order to enhance the random seed in PyTorch DataLoader, we developed `monai.data.DataLoader`. PyTorch updated the parameters of DataLoader, we need to change to use `**kwargs` to support any further changes.

[2020-11-10 11:05] #1213 closed

[2020-11-10 12:02] crnbaker commented on #1210
Hi both, happy to take a look at this once I've got my head round the project!

[2020-11-10 16:11] charliebudd opened #1215 "Investigate refactor of setup.py to use torches helper module"
Torch provides a helper module "torch.utils.cpp_extention" which could be used to simplify our build scripting and increase maintainability.

We should be cautious about backwards compatability with torch 1.5 which we still support.

[2020-11-10 17:14] massimilianoporzio opened #1216 "RESUME TRAINING on COVID 19 segmentation baseline model"
I noticed the model have a ChepointSaver to store the best model during the training.
Is it possible to RESUME from the last checkpoint in order to do the training in multi-steps?

[2020-11-10 17:19] joho84 commented on #1189
@wyli, @Nic-Ma: Thanks for the help so far!
Could you replicate the memory error on your machine? Or do you have an idea what I should do differently?

[2020-11-10 17:54] #1209 closed

[2020-11-10 20:29] wyli opened #1219 "SplitChannels transform"
**Is your feature request related to a problem? Please describe.**
a splitchannel transform is needed in order to preprocess each subset of channels separately.

**Describe alternatives you've considered**
the current implementation only works as a post-processing module

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/4e9164032610b69acdf716765909f5ec393af36a/monai/transforms/po

[2020-11-10 20:45] massimilianoporzio opened #1220 "CHECKPOINT LOADER help"
Sorry I am a new user. I cannot find an example of how to resume training or simply load a checkpoint. Anyone can help me?

[2020-11-10 20:57] wyli commented on #1216
yes, you can add a CheckpointLoader:
[code]
there're more examples in the tutorial repo: https://github.com/Project-MONAI/tutorials/search?q=CheckpointLoader

[2020-11-10 21:04] massimilianoporzio commented on #1216
Thanks!
I will try

Il giorno mar 10 nov 2020 alle ore 21:57 Wenqi Li <notifications@github.com>
ha scritto:

[2020-11-10 21:52] wyli commented on #1220
thanks, I'm closing this one in favour of https://github.com/Project-MONAI/MONAI/issues/1216

[2020-11-10 21:52] #1220 closed

[2020-11-10 21:54] wyli commented on #1216
this is also related to https://github.com/Project-MONAI/MONAI/issues/1180, any further comments about the usages? @Nic-Ma @ericspod @vfdev-5 thanks!

[2020-11-10 22:11] vfdev-5 commented on #1216
@wyli, if we would like to resume the training, we have to store in addition the states of the optimizer(s), lr_scheduler(s), engine and other stateful objects.

In Ignite we suggest to save checkpoints (of model/optimizer/lr_scheduler/trainer) periodically (e.g. every 1000 iterations) and show examples how to resume from loaded checkpoint:
- [how to save](https://github.com/pytorch/ignite/blob/44

[2020-11-11 08:45] Nic-Ma commented on #1215
Hi @wyli ,

I remember we used `cpp_extention` but you dropped it due to some compatible reason.
Could you please help share more info about it? I don't remember that clearly.

Thanks.

[2020-11-11 08:57] Nic-Ma commented on #1219
Hi @wyli ,

Sounds interesting a feature request.
I will do below steps to support it:
1. Remove the `to_onehot` operation in the existing `SplitChannel` transform, because we unified to use `post_transform` for these logic now.
2. Add a `SplitChannel` transform in utilities category, it contains logic to `to_onehot` and `split_channel` based on numpy data.
What do you think?

Thanks.

[2020-11-11 11:45] wyli commented on #1219
I don't think SplitChannel should ever contain the to_onehot logic. the rest of the steps looks good to me. @Nic-Ma

[2020-11-11 13:31] crnbaker commented on #1210
I've implemented a Hilbert transform for 1D tensors using `torch.fft.fft()` and `torch.heaviside()` . @tvercaut are you interested in multidimensional Hilbert transforms too? If so, I could implement the method described [here](https://link.springer.com/chapter/10.1007/978-3-540-74260-9_14).

As I'm brand new to MONAI, I'm not sure exactly where this new transform should go. `monai.transforms.inte

[2020-11-11 13:38] wyli commented on #1210
preferably it should go into `monai/networks/layers` and inheriting `nn.Module`, like the gaussian filter https://github.com/Project-MONAI/MONAI/blob/4e9164032610b69acdf716765909f5ec393af36a/monai/networks/layers/simplelayers.py#L133

and could add a transform class to use the layer, like the gaussian smoothing
https://github.com/Project-MONAI/MONAI/blob/4e9164032610b69acdf716765909f5ec393af36a/mo

[2020-11-11 13:50] crnbaker commented on #1210
Thanks, makes sense.

[2020-11-11 14:06] wyli commented on #1215
I think the goal here is to further simplify the build logic @Nic-Ma, as we dropped pytorch 1.4, we could now assume the improved version of cpp_extention

[2020-11-11 14:07] #93 closed

[2020-11-11 17:23] wyli commented on #1189
just tried to run your example script, the main issue is that it needs a `no_grad()` to avoid the gradient accumulation:
[code]
there's no memory error but the inference is slow because the model is on CPU. I'll submit a PR to make the device specification more flexible. thanks!

[2020-11-11 17:29] tvercaut commented on #1210
@crnbaker: I think a 1D Hilbert transform is enough for the use cases I have in mind. However, we should be able to aply it to 2D or 3D images by specifying the dimension across which to apply the 1D transform.

Also, a small performance benchmark with respect to scipy (maybe alse a jax-based implementation?) would be great. It could be as simple a notebook with some timeit in the first instance a

[2020-11-11 19:48] wyli commented on #1119
I think the base docker image comes with various python packages and are only tested with the specific python version. modifying the python installation is quite risky...

[2020-11-11 19:48] #1119 closed

[2020-11-11 19:57] #1216 closed

[2020-11-12 03:52] Nic-Ma opened #1223 "Can't save classification result if "info" is empty in meta_data"
**Describe the bug**
A clear and concise description of what the bug is.
Thanks @madil90 for raising this issue.
Most of the PNG images don't have `info` field in the metadata, and we saved an empty {} in metadata.
But PyTorch `collate_fn` can't collate a batch of {} into `"info": [{}, {}, {}, ...]`, just a `info: {}`:
[code]
So we can't load meta_data correctly in `ClassificationSaver` handler wi

[2020-11-12 10:07] #1189 closed

[2020-11-12 11:02] #1165 closed

[2020-11-12 14:50] wyli opened #1225 "comparing numpy arrays in the normalize intensity test"
**Describe the bug**
log is at
https://github.com/Project-MONAI/MONAI/pull/1200/checks?check_run_id=1389793036#step:9:7090

[code]
mismatch with a max difference `0.` doesn't make sense. this needs more investigations

**To Reproduce**
the error appears randomly I couldn't find a reliable way to reproduce it.
but it often happens on the ubuntu tests.

**Expected behavior**
no test failure, as the

[2020-11-12 14:56] wyli opened #1226 "Unit test failure due to unstable network connection"
**Describe the bug**
the pretrained model tests relies on the network downloading, which can be unstable. e.g:
https://github.com/Project-MONAI/MONAI/runs/1390004325#step:9:5496

[code]

**To Reproduce**
difficult to reproduce

**Expected behavior**
no failure or expecting failure if it's due to the remote server issues

**Additional context**
please see the full log:
[macos-logs.log](https://gith

[2020-11-12 15:00] #1223 closed

[2020-11-12 15:33] #1199 closed

[2020-11-12 15:57] joho84 commented on #1189
Perfect! That's exactly what I was looking for!
Thank you very much!

[2020-11-12 15:57] iliathesmirnov commented on #1132
Hello everyone,

I am new here and would like to contribute to implementing some (or all) of the evaluation metrics on the @csudre's list. Did anyone start working on them? If not, should I create a pull request (labelled [WIP]) and get going?

Thank you,
Ilia

[2020-11-12 17:49] wyli commented on #1132
welcome and please go ahead! (I don't think anyone is currently working on them)

[2020-11-12 20:13] behxyz opened #1227 "runtests.sh does not find integration tests"
**Describe the bug**
runtests.sh does not find integration tests.

**To Reproduce**
`./runtests.sh --net --dryrun`

**Expected behavior**
It should find and run each individual test files whose name contains "integration" in the `tests/` folder.

**Screenshots**
![runtests sh](https://user-images.githubusercontent.com/3968947/98990810-f7a1d680-24f8-11eb-9ffa-940108c18bf1.png)

[2020-11-12 20:48] IsaacYangSLA commented on #928
Without polluting monai's Pypi, we populate a dev version of monai at https://test.pypi.org/project/hellomonai/0.4.dev2045/.  2045 stands for Year 20[20], [45]th week.  Basically, the version is 0.4dev[%y%U], but can be something else.  The cron job, as mentioned in the title, is scheduled to run weekly, so %U seems a good way to use.  The CI script was tested OK in forked repo.

Please comment an

[2020-11-12 22:35] #1227 closed

[2020-11-12 23:26] behxyz commented on #1225
I haven't been able to reproduce this error yet via running the test for over a thousand times.
However, looking at the source code of `numpy`, "Max relative difference: 0." can be expectable in some situation where the desired output is zero since they are being ignored in calculation of `max_rel_error`. On the other hand, I have not been able to find any logic that can reproduce zero absolute er

[2020-11-13 00:02] wyli commented on #928
it seems test pypi will regularly clear their database, everything is temporary there. @IsaacYangSLA  could we have a monai-weekly, like the tf-nightly https://pypi.org/project/tf-nightly/ ? I agree that the version number could be 0.4dev[%y%U]

[2020-11-13 00:04] wyli commented on #1225
thanks @behxyz, this happens once in a while, I'll post more info here if I see it again.

[2020-11-13 10:03] Nic-Ma commented on #1219
Hi @wyli ,

So do you prefer to add a `to_one_hot` API for numpy data? Or enhance existing `to_one_hot` API to be compatible with both numpy and Tensor and support specified `channel_dim`?

Thanks.

[2020-11-13 10:20] wyli commented on #1219
by existing to_one_hot API do you mean AsDiscrete? perhaps we can have another ticket about it after we remove to_one_hot from splitchannel? this ticket is about split multichannel data into multiple data items

[2020-11-13 11:02] anneserious opened #1231 "RuntimeError("affine matrix of all images should be same.")"
When loading multiple (DICOM)- images using LoadImage(), this error occurs. MONAI ensures that all images have the same affine matrix. Why?
When loading a sequence of DICOM images, I would not expect them to have the same affine matrix?
Maybe someone can clarify this for me. Thanks!

[2020-11-13 12:10] #799 closed

[2020-11-13 15:49] behxyz commented on #801
@wyli, just to clarify this issue, you want to write in a PR comment something like `/integration` and it triggers and runs `runtest.sh --net`, right?

[2020-11-13 16:13] wyli commented on #801
exactly, currently `/black` triggers the formatting workflow defined here: https://github.com/Project-MONAI/monai-code-formatter/tree/master/.github/workflows. ideally `/integration` command would trigger the integration workflow from that repo https://github.com/Project-MONAI/monai-code-formatter/actions. our self hosted test server is shared among the repos under project-monai org.

[2020-11-14 06:20] rawwar commented on #924
@wyli , I want to give this a try. But, I don't see the research folder in the master branch. Where do i put the code?

[2020-11-14 13:17] Ordgod opened #1233 "How to use TensorBoard?"
I found that monai wraped training via `monai.engines.SupervisedTrainer`. So what should I do if I want to use tensorboard to monitor my training progress?

[2020-11-14 14:03] Nic-Ma commented on #1233
Hi @Ordgod ,

Thanks for your interest here.
You can refer to this example for how to use the `TensorboardStatsHandler` or `TensorboardImageHandler`:
https://github.com/Project-MONAI/tutorials/blob/master/modules/engines/unet_training_dict.py

Thanks.

[2020-11-14 14:07] Nic-Ma commented on #1231
Hi @anneserious ,

Thanks for using MONAI in your projects.
If you load a list of DICOM images as a batch data for training, you should call `LoadImage` to load them one by one based on PyTorch Dataset.
If calling `LoadImage` to load a list of images, it supposes to load these images and concat them together as 1 multi-channels image, so it expects all the images have the same `affine`.

Thanks.

[2020-11-14 15:46] wyli commented on #924
sure please go ahead, the folder now becomes a repo https://github.com/Project-MONAI/research-contributions

[2020-11-14 17:30] anneserious commented on #1231
Hi Nic,

thank you for your reply. I would indeed like all images to be concatenated
in the channel dimenson, since they belong to the same patient. Can this be
achieved?

Thanks and kind regards
Anne

Nic Ma <notifications@github.com> schrieb am Sa., 14. Nov. 2020, 15:07:

[2020-11-14 17:39] massimilianoporzio commented on #1216
Please can you tell me if using a saver with only the net saved in the dict will suffice...or to resume the training I have to save also the optimizer?

[2020-11-15 09:58] Nic-Ma commented on #1231
Hi @anneserious ,

Do you mean all the images are from 1 patient and for example, they are 1 series of 2D images for 1 3D image?
If that, you can pass the `directory` path to `LoadImage`,refer to this:
https://github.com/Project-MONAI/MONAI/blob/master/monai/data/image_reader.py#L130

Thanks.

[2020-11-16 08:49] anneserious commented on #1231
Yes. Thanks a lot!

Am So., 15. Nov. 2020 um 10:58 Uhr schrieb Nic Ma <notifications@github.com

[2020-11-16 14:57] wyli opened #1236 "cron integration test memory error"
**Describe the bug**
cron test error message:
[code]
https://github.com/Project-MONAI/MONAI/runs/1404214574?check_suite_focus=true#step:5:4468

couldn't reproduce this issue easily,
but probably because of multiple integration test jobs trying to use the same GPU device

cc @IsaacYangSLA @YuanTingHsieh @behxyz @yanchengnv

**Additional context**
[cron_log.log](https://github.com/Project-MONAI/MONA

[2020-11-16 16:19] #801 closed

[2020-11-16 16:24] #1231 closed

[2020-11-16 20:17] ericspod opened #1239 "Documentation Action Too Stricte"
**Describe the bug**
[This line in the build actions](https://github.com/Project-MONAI/MONAI/blob/8bbdc4123bc906fcd7c1ee9259c9102e480a8783/.github/workflows/pythonapp.yml#L332) seems too strict in treating warnings like errors. It's important to differentiate between warnings and errors since warnings can be erroneous and be disregarded. For example in `ResidualSELayer` the docstrings use line art

[2020-11-16 21:02] brad-t-moore opened #1240 "multiprocessing issues on Windows"
**Describe the bug**

DataLoader calls fail on Windows when num_workers > 0.  Windows causes certain `multiprocessing` workflows to fail due to pickling issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Run [https://github.com/Project-MONAI/tutorials/blob/master/2d_classification/mednist_tutorial.ipynb]() on Windows
2. Get the following error:
[code]
**Expected behavior**
num_workers >

[2020-11-17 00:51] #1239 closed

[2020-11-17 02:40] Nic-Ma commented on #1240
Hi @wyli and @ericspod ,

I think this is a known issue, but I can't find the related doc or link, could you please share something?
Thanks in advance.

[2020-11-17 02:56] Nic-Ma opened #1244 "Issues with compute_confusion_matrix metric"
**Describe the bug**
There are 2 minor issues in `compute_confusion_matrix` metric:
1. If reduction mode is `SUMBATCH`, should not do SUM on `not_nans`, otherwise we don't know which class is nan when computing the final result.
2. If `compute_sample` is False, should return the confusion matrix elements of current batch directly, then compute the final metric value for the whole epoch. Current im

[2020-11-17 02:57] Nic-Ma commented on #1244
Hi @yiheng-wang-nv ,

Could you please help fix this issue as we discussed?
Thanks in advance.

[2020-11-17 02:59] Nic-Ma opened #1245 "Add TorchScript support for DynUNet"
**Is your feature request related to a problem? Please describe.**
The DynUNet is not currently compatible because it relies on iteration through lists of modules or the ListModule class. These are not currently compatible with Torchscript so a different architecture for this class is needed. It's possible to inherit from the existing UNet which is structured differently for this reason, however T

[2020-11-17 09:02] Nic-Ma opened #1247 "Update ROCAUC handler to use latest ignite API"
**Is your feature request related to a problem? Please describe.**
As ignite v0.4.2 already totally supports distributed data parallel, we should remove our hack in the AUC hander and use the latest API of ignite: https://github.com/pytorch/ignite/blob/v0.4.2/ignite/metrics/epoch_metric.py#L135

[2020-11-17 09:51] wyli opened #1248 "documentation for the weekly builds"
**Is your feature request related to a problem? Please describe.**
update the installation guide according to #928 #1242

[2020-11-17 12:04] anneserious opened #1251 "ConfusionMatrix, ROCAUC: TypeError: attach() missing 1 required positional argument: 'name'"
I tried to use the ConfusionMatrix Handler in a SupervisedEvaluator and get above error message. Same for ROCAUC.
I tried to call both handlers without any arguments.
Am I using them wrong?

Thanks and kind regards
Anne

[2020-11-17 12:14] wyli opened #1252 "docker image build fails frequently"
**Describe the bug**
recently the docker image build on DockerHub fails frequently without specific error msg:
![Screenshot 2020-11-17 at 12 10 07](https://user-images.githubusercontent.com/831580/99388822-0eb44000-28ce-11eb-8fb1-bd4f95ddbb96.png)
this might due to longer building time or larger disk space requirement, need some investigations here.

**Additional context**
https://hub.docker.com/r

[2020-11-17 13:38] Nic-Ma commented on #1251
Hi @anneserious ,

Thanks for your interest here.
Could you please help share your test program then let's see whether something is wrong?

Thanks.

[2020-11-17 14:32] ericspod commented on #1240
This is to do with the fact that Windows doesn't use [fork](https://man7.org/linux/man-pages/man2/fork.2.html) semantics when spawning processes. Pytorch and so by extension MONAI will attempt to spawn processes and communicate with them using pipes and pickled objects. With fork on Unix-like systems the subprocesses get copies of the parent's state which includes a number of objects which can't b

[2020-11-17 14:47] #1219 closed

[2020-11-17 17:16] anneserious commented on #1251
Hi Nic,

this is where the error occurs:

[code]

For comparison,

[code]
works fine.

Thanks!

[2020-11-17 17:28] #928 closed

[2020-11-17 22:59] IsaacYangSLA commented on #1252
The same docker build process took about 4 minutes in build_only runner (https://github.com/Project-MONAI/MONAI/runs/1413950455?check_suite_focus=true).  If docker hub has computation/memory quota, we can remove the build process used in docker hub and add a `docker push` to dockerhub when the local_docker step is finished.  Since both docker hub and local_docker build the image from Dockerfile, t

[2020-11-17 23:15] wyli commented on #1252
that sounds great @IsaacYangSLA, thanks! could you send a PR to extend the local docker step? perhaps could incorporate the changes in #1253 if they are useful.

the webhook will also trigger build for a tagging push (for milestone releases), so for now let's not completely cancel the webhook

[2020-11-17 23:44] wyli opened #1254 "persistent dataset to cache first N transforms"
**Is your feature request related to a problem? Please describe.**
currently the persistent dataset caches the outcome up to the first randomised transform,
would be great to have a more flexible option to cache the first N transforms.

this is useful when we want to fix some of the non-randomised transforms and tune the hyperparameters of the others.

[2020-11-18 05:58] Nic-Ma commented on #1254
Hi @wyli ,

interest feature, will try to add this support later.
Thanks.

[2020-11-18 06:00] Nic-Ma opened #1256 "Add *args **kwargs to inferers"
**Is your feature request related to a problem? Please describe.**
Currently, our `inferer` methods only take 1 `inputs` as input data, some predictor may need additional parameters.
Will be useful to add `*args **kwargs` for inferers.

[2020-11-18 09:29] kissievendor opened #1258 "Residual Units question"
I don't completely understand the Residual Units in the UNet.

In my understanding, the Residual Units are used in place of Skip Connections.
My network works fine without the Residual Units. But my question is, how do I report the network architecture without the Residual Units?

Or do the Residual Units serve another purpose?

Also... Without the Residual Units, the network seems to do only one

[2020-11-18 14:43] #1160 closed

[2020-11-18 15:06] wyli opened #1260 "windows CI error on torchscript saving -- SENet"
**Describe the bug**
the CI error was
[code]
looks like it's related to concurrent pretrained model file access on Windows?

cc @IsaacYangSLA @YuanTingHsieh @behxyz @yanchengnv

additional context:
https://github.com/Project-MONAI/MONAI/runs/1418698917?check_suite_focus=true#step:9:6775

[2020-11-18 18:54] #1244 closed

[2020-11-18 20:41] #1256 closed

[2020-11-18 21:32] behxyz commented on #852
@Nic-Ma, to clarify the requirements for this feature, do you want to set timeout for
- each individual test function, or
- each test case, or
- the whole test suite?

[2020-11-18 22:37] #1247 closed

[2020-11-18 22:44] Nic-Ma commented on #852
Hi @behxyz ,

This is related to https://github.com/Project-MONAI/MONAI/issues/927.
Maybe we can implement by steps?
1. Add testing time for integration tests.
2. Add testing time for the overall time of every test suite.
3. Add testing time for each test case.

@wyli can also help share some comments.

Thanks.

[2020-11-19 02:26] Nic-Ma commented on #1258
Hi @ericspod ,

I thin this is a FAQ, could you please help share some info?
Thanks in advance.

[2020-11-19 03:21] gaoge230 opened #1263 "use Dynuent ,i hava a bug that :" seg_prob = predictor(window_data, *args, **kwargs).to(device) 'list' object has no attribute 'to' ”"
Hello , I had a problem with dynunet，
I used covd-19 challenge. The following error occurred referring to dynunet tutorial.

**The problem is described as follows：**

raceback (most recent call last):
  File "/zengxh_fix/gg/code/run_net_our.py", line 434, in <module>
    train(data_folder=data_folder, model_folder=args.model_folder)
  File "/zengxh_fix/gg/code/run_net_our.py", line 346, in train

[2020-11-19 07:11] Nic-Ma commented on #1263
Hi @gaoge230 ,

Thanks for your interest here.
Are you using this COVID-19 challenge tutorial?
https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation/challenge_baseline
But I think it uses UNet instead of DynUNet.

Thanks.

[2020-11-19 07:14] Nic-Ma commented on #1263
And I also tried to run the DynUNet tutorial which is based on Decathon dataset:
https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_tutorial.ipynb
No issue happened.

Thanks.

[2020-11-19 08:27] Nic-Ma opened #1265 "Add utility to scale Dataset for training"
**Is your feature request related to a problem? Please describe.**
Thanks for Dong Yang's suggestion, need a utility function to scale the loaded datalist for training, for example:
1. If scale_factor < 1.0, randomly pick part of the datalist and set to `Dataset`, useful to quickly test the program.
2. If scale_factor > 1.0, repeat the datalist to enhance the Dataset.

**Describe the solution you'

[2020-11-19 09:47] natacanta5 opened #1267 "Wassertein distance"
Hello, I wanted to ask if anyone has used Wasserstein distance in brain different structures segmentation because I have some issues. For example, the argument that I should pass to my pipeline is a matrix distance and I would like to know how I construct this matrix, I don't know where those numbers come from. And the other question if is the loss of Wasserstein distance is finished and prove in

[2020-11-19 10:21] kissievendor commented on #1258
Related to this question I think:
How it is that the number of parameters is so low in this network?
One would think that Strided convolution would add to parameters in contrast with maxpooling.

[2020-11-19 11:02] kissievendor commented on #464
@ericspod I try to recreate what you show here.  I print the model using summary (by torchsummary).
The downsampling is the same as in your example. However, the upsampling part seems to be different. Can you clarrify this for me?

![image](https://user-images.githubusercontent.com/54887561/99657944-1a833c00-2a5f-11eb-8f02-c2b0dde7a0a8.png)

[2020-11-19 11:14] natacanta5 commented on #1157
Hi, I have a question, the cross-entropy class instead of having to create manually that, the monais project would include this class into its code? Just to easily import it.

[2020-11-19 12:11] wyli commented on #1263
I think this is valid issue, it could happen when `deep_supervision=True` in dynunet, the network forward will return a list instead of a tensor. but I'm not sure how we improve the usage here cc@yiheng-wang-nv

[2020-11-19 13:10] wyli commented on #1265
I think we could achieve this with the cross validation API already, or if not, we need to enhance the cross validation API
for something like:
[code]

[2020-11-19 13:44] Nic-Ma commented on #1267
Hi @wyli ,

Could you please help with this question? I think you are an expert on these research details.

Thanks.

[2020-11-19 14:03] Nic-Ma commented on #1265
Hi @wyli ,

Sure, I updated the draft PR to leverage our `partition_dataset` API now.

Thanks.

[2020-11-19 15:32] #1265 closed

[2020-11-19 19:12] ericspod commented on #1258
Residual units are used to define the layers of the encode and decode path of the network, skip connects are still present and are not substituted in any way. The classical UNet implements each layer as a sequence of convolutions followed by maxpooling in the encode side, and upsampling followed by convolutions in the decode side. With out network with `num_res_units` set to some value great than

[2020-11-19 19:31] kissievendor commented on #1258
Thank you for your quick and clear response.

But as you can see from the summary, when num_res_units is 0, the network only has one convolution before the number of features is doubled. Whereas with the residual units there are two plus that unit.
And also other networks that work with strided convolutions (e.g. Vnet) there are succesive convolutions.

So is this intentional / does it still const

[2020-11-19 19:37] ericspod commented on #1258
With `num_res_units` as 0 then the decode layers will have only the transpose convolution, followed by normalization/dropout/activation layers except in the topmost layer which has none of these. Looking at the network `UNet(2,1,1,(2,4,8),(2,2))` this prints:

[code]

The second-last decode layer is

[code]

while the final one is just a transpose convolution layer.

[2020-11-19 19:40] kissievendor commented on #1258
Okay. So without the residual units the network is not equal to a unet?
Because it has only a single convolution per layer?

[2020-11-19 19:41] #1252 closed

[2020-11-19 20:00] ericspod commented on #1258
Structurally it's the same in that it's an autoencoder architecture with skip connections, but yes is not completely equivalent to the original definition.

[2020-11-19 20:05] kissievendor commented on #1258
Okay, thank you.
Do you perhaps know a paper I could cite for this network (no residual units)?

I would use BasicUnit instead, but I don't think it is working yet.

In any case thank you for the explanation.

[2020-11-19 20:18] ericspod commented on #1258
Please cite the paper in the UNet docstring, it uses residual  units but we don't have any reference for one that doesn't.

[2020-11-19 20:26] IsaacYangSLA commented on #1260
One thing to notice.  This line `{'dimensions': 3, 'in_channels': 1, 'out_channels': 2, 'features': (16, 20, 21, 22, 23, 11), 'upsample': 'pixelshuffle'}` seemed from a test in basic_unet, which got buffered and not sync'ed with other outputs because it was from a `print` statement.

[2020-11-19 20:50] massimilianoporzio opened #1271 "How to plot mean val dice on tensorboard?"
Please can someone help me in finding the correct way to log the validation mean dice using tensoraboard handler?

[2020-11-19 22:05] YuanTingHsieh commented on #1260
maybe this will be fixed in #1268 ?

[2020-11-20 01:27] gaoge230 commented on #1263
@wyli Thank you very much  .Your answer helped me solve the problem。good!!!!! Thanks!!!!!!!!!!!!!haha

[2020-11-20 01:32] gaoge230 commented on #1263
@Nic-Ma  thanks you very. The problem has been solved, using deep_supervision=False. but when deep_supervision =True ，the problem will arise.

[2020-11-20 08:51] LucasFidon opened #1272 "Update the Generalized Wasserstein Dice loss"
The implementation of the Generalized Wasserstein Dice loss that has been merged in MONAI does not correspond exactly to the loss proposed in https://link.springer.com/chapter/10.1007/978-3-319-75238-9_6

I will do the appropriate changes in the MONAI implementation and in the unit tests based on:
https://github.com/LucasFidon/GeneralizedWassersteinDiceLoss

I have used the current implementation

[2020-11-20 10:40] kissievendor commented on #1258
And what is then the difference between 1 and 2 residual units?
Is 2 the number to get the 'normal' network they use in the paper in the docstring?

Because then you have three convolutions per layer I think.

[2020-11-20 14:29] #1263 closed

[2020-11-20 14:33] wyli commented on #1124
I think the recent PR https://github.com/Project-MONAI/MONAI/pull/1257 fixes this issue. but please feel free to reopen it

[2020-11-20 14:33] #1124 closed

[2020-11-20 14:34] #1150 closed

[2020-11-20 14:36] #1233 closed

[2020-11-20 14:49] ericspod commented on #1258
The `num_res_units` value states how many sets of convolution/normalization/dropout/activation layers each residual unit has. In the paper this is 2.

[2020-11-20 15:03] rijobro opened #1273 "Saving networks to file from GPU"
**Describe the bug**
We should be able to save a network to file, read it back in and continue using it. We should be able to do this whether the network was on the CPU or GPU, yet when using the GPU, some integration tests fail. See attempts and conversation here: https://github.com/Project-MONAI/MONAI/pull/1268.

[2020-11-20 15:48] kissievendor commented on #1258
But isn't there one too many Convolutions per layer? As can be seen in this summary.
![image](https://user-images.githubusercontent.com/54887561/99819687-11be6300-2b50-11eb-803e-34ed8aae12ab.png)

[2020-11-20 16:07] brosscle commented on #94
Hello,
I would like to use and play with the network BLAST (https://github.com/biomedia-mira/blast-ct) which strongly relies on the Deepmedic architecture. Since I discovered MONAI a few days ago, I would like to know if any of you advanced in the portage of Deepmedic in MONAI. I guess I can spend some time and contribute if the portage is not already completed.
Thanks !

[2020-11-20 16:20] wyli commented on #94
Hi @brosscle currently there's no plan from the core dev team to port this architectures, please feel free to submit a PR.

for your (or anyone interested in contributing) reference, there are a few examples about using the relevant monai APIs:
- notebook: https://github.com/Project-MONAI/MONAIBootcamp2020/blob/master/day1notebooks/lab3_networks.ipynb
- basic unet example: https://github.com/Proje

[2020-11-20 17:48] brosscle commented on #94
I will take a look at it, thanks !

[2020-11-20 17:54] wyli opened #1276 "revise the dockerfile"
this is a follow-up of https://github.com/Project-MONAI/MONAI/issues/1252
dockerfile needs to be reviewed for any further performance optimisations

[2020-11-21 16:45] LucasFidon commented on #1267
Hi @natacanta5,

Thank you for your question!

The generalized Wasserstein Dice loss was indeed first proposed for brain tumor segmentation in our work:
[Fidon, Lucas, et al. "Generalised Wasserstein dice score for imbalanced multi-class segmentation using holistic convolutional networks." International MICCAI Brainlesion Workshop. Springer, Cham, 2017.](https://link.springer.com/chapter/10.1007/9

[2020-11-21 16:53] LucasFidon commented on #1267
Hi @Nic-Ma @wyli,

the current implementation of the generalized Wasserstein Dice loss in MONAI is not optimal #1272
I am working at updating the implementation based on my (small) git repository for the generalized Wasserstein Dice loss
https://github.com/LucasFidon/GeneralizedWassersteinDiceLoss

I have noticed that the generalized Wasserstein Dice loss does not appear in the documentation of MO

[2020-11-22 09:27] Ordgod opened #1278 "Can not read .mhd files"
**Describe the bug**
The monai can not read .mhd files. I checked the monai code and found that it only has LoadImage, LoadNifti, LoadPNG, and LoadNumpy. I how there should be a LoadITK for .mhd or .mha files. Because .mhd or .mha files are popular file types in medical community.

[2020-11-22 12:56] Nic-Ma commented on #1278
Hi @Ordgod ,

You can try to use the `LoadImage` or `LoadImaged` transforms.
They use `ITKReader` as the default reader: https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/io/array.py#L62

Thanks.

[2020-11-23 07:07] ChenglongWang opened #1279 "SegmentationSaver save same name issue"
**Is your feature request related to a problem? Please describe.**
Current `SegmentationSaver` class save segmentation result using filename obtained from 'filename_or_obj' attribute. For example, `SegmentationSaver` will produce a segmentation filename like ‘/homes/data/outputs/kits_01_seg.nii.gz’  when processing image data named '/homes/data/kits_01.nii.gz'.
However, when processing images name

[2020-11-23 09:58] Nic-Ma commented on #1271
Hi @massimilianoporzio ,

Thanks for your interest here.
Please refer to this example: https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/ignite/unet_training_dict.py

Thanks.

[2020-11-23 10:00] Nic-Ma commented on #1272
Hi @wyli and @ericspod ,

Could you please help double confirm the implementation of our Generalized Wasserstein Dice loss?

Thanks.

[2020-11-23 10:09] LucasFidon commented on #1272
Hi @Nic-Ma,

Thank you for your reply.

I have updated the code (including new unit tests) and I think it is ready to be merged.
I would like to know if I can add the generalized Wasserstein Dice loss to the documentation at the same time?

Thanks

[2020-11-23 10:10] Nic-Ma commented on #1279
Hi @ChenglongWang ,

Thanks for raising this topic, maybe we can add a lambda function option to customize saved filename @wyli .
And for a temporary solution, you can pass metadata = None, then it will use index from 0 as the filename.

Thanks.

[2020-11-23 10:21] Nic-Ma commented on #1272
I think you mean the doc-string of this loss function. Please also updated it in your PR.

Thanks.

[2020-11-23 10:43] crnbaker commented on #1210
Just finalising this now. I've notice that the other transforms in `MONAI/monai/transforms/intensity/array.py` return Numpy arrays rather than Tensors. For example `class GaussianSmooth(Transform)` mentioned above:
[code]
Is this the behavior we want? Wouldn't it be better to return Tensors in case the transforms are being used as part of a CUDA pipeline?

[2020-11-23 13:08] jnc13 opened #1280 "Beginner's question: Segmentation output"
Hi,
I've begun implementing UNet based off framework presented in the 3D Spleen Segmentation tutorial and it appears to be doing a reasonable job, thank you!

My background isn't in coding and I'm now a little stuck at the point where I'd like to evaluate the model on a dataset and then save the segmented stack as a .nii.gz (same as the input data). I am sure this isn't complicated, especially sin

[2020-11-23 13:56] blemasso commented on #469
Hi @RonanENX , I have the same problem as yours. As you, I work with a list of nifti files (not with matrices as in the example of Wyli). Therefore, the solution presented above do not work for me.
Did you found a solution to extract patches from images, and associate them with a label to further train a classification network?

Ths,
Benjamin

[2020-11-23 14:41] wyli commented on #1210
Hi @crnbaker, the user should use `layers/simplelayers` if they are dealing with torch tensors on gpu. currently the transforms are mainly with numpy arrays, there's an ongoing discussion about how we support numpy/torch on cpu/gpu for the preprocessing. for now the transforms should at least support numpy. we can refactor these later. btw the transforms assume shape [channel, spatial_dim0, spatia

[2020-11-23 14:43] crnbaker commented on #1210
Great, thanks @wyli. I'll submit my pull request soon.

[2020-11-23 16:12] ericspod commented on #1272
If you have a PR ready for MONAI with the changes we'll look at that, that way it would be clearer how you think our implementation varies.

[2020-11-23 16:23] LucasFidon commented on #1272
Hi @ericspod, thank you for offering to review the changes.

Just to clarify, the current implementation in MONAI is also based on my git repo https://github.com/LucasFidon/GeneralizedWassersteinDiceLoss (please see #601).
In the meantime, I have done some changes in my repo and I would like the changes to be reflected in MONAI.

Sorry for the confusion.

[2020-11-23 16:29] brad-t-moore commented on #1240
@ericspod is that true?  Here's an open PyTorch issue, but the examples centers around slowness in Windows (with `num_workers > 0`), not a PickleError ([https://github.com/pytorch/pytorch/issues/12831](https://github.com/pytorch/pytorch/issues/12831)).  Is it possible MONAI (not PyTorch) has introduced objects that aren't Pickable (for example, Transforms that contain default parameters that are L

[2020-11-23 17:29] ericspod commented on #1240
Pytorch itself doesn't use transforms, that pattern is in torchvision, so they wouldn't necessarily discuss the issue there. The problem is that the transform objects are not picklable so they can't be sent to the subprocesses. If you use Pytorch's dataloaders natively without augmentations it can work just fine with multiple processes since they can ensure the objects involved are picklable. One

[2020-11-23 17:35] ericspod commented on #1258
Here is the output for `UNet(2,1,1,(2,4,8),(2,2),num_res_units=2)`:

[code]

The second-last decode layer is

[code]

Here we have the transpose convolution followed  by a residual unit with one convolution. I guess this does vary from what I'd said in that the transpose convolution is outside the residual connection, which is needed since the input needs to be upsampled, but each decode layer doe

[2020-11-23 17:37] ericspod commented on #1272
No worries, we'll take a look when you're ready. If your code behaviour differs from what's published we need to make a note of it in the documentation of course.

[2020-11-23 19:19] #1190 closed

[2020-11-24 08:44] lukasfolle opened #1282 "Bug in Resize"
**Describe the bug**
The torch backend for the `monai.transforms.Resize` function throws an error that the argument `recompute_scale_factor=True` for the call `torch.nn.functional.interpolate(recompute_scale_factor=True)` is not meaningful with an explicit size.

**To Reproduce**
Steps to reproduce the behavior:
1. Get latest monai using the default installation instructions
2. Create pipeline wit

[2020-11-24 09:35] lukasfolle commented on #1282
Same bug reported in https://github.com/Project-MONAI/MONAI/issues/1196.
A recent merge induced the bug: https://github.com/Project-MONAI/MONAI/pull/1208.

[2020-11-24 09:38] lukasfolle commented on #1282
Nevermind. Got fixed recently in #1208.

[2020-11-24 09:38] #1282 closed

[2020-11-24 14:26] jbschiratti opened #1284 "Improvements to Convolution"
**Is your feature request related to a problem? Please describe.**
I'd like the `groups` parameter of Pytorch convolution layers to be explicit in the `monai.networks.blocks.convolutions.Convolution` class. Also, I think that `Convolution` should throw a warning when it is instantiated with `norm=Norm.BATCH, bias=True` since it makes no sense to have `bias=True` in the convolution layer when it's

[2020-11-24 15:03] wyli commented on #1284
it seems the groups option is already in the API
https://github.com/Project-MONAI/MONAI/blob/4f2df00ffb820e7a1ff0ceb71a079ca1bf8b547f/monai/networks/blocks/convolutions.py#L81

yes please send a PR, thank you!

[2020-11-24 15:04] wyli commented on #1260
this is fixed by #1268 (removing the global instances)

[2020-11-24 15:04] #1260 closed

[2020-11-24 15:43] #1272 closed

[2020-11-24 16:20] Ordgod opened #1285 "Pycharm can not find declarication to go"
In `https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation/challenge_baseline`, Pycharm can not track the usage of some submodules.

To be specific, when I use "Ctrl+ LeftClick" to try to jump to the source file of `monai.engines.SupervisedEvaluator`, Pycharm show warning "can not find declarication to go"

I think this is because that the modules are not imported explicitly in `mo

[2020-11-24 21:23] massimilianoporzio opened #1288 "TRAIN COPLENET"
Is it possible to train from scratch the CopleNEt? IS the noise robust dice loss already present in MONAI? The example of coplenet let the user to test it and do inference. How to use the NET and the LOSS in a novel training?

[2020-11-25 00:18] #1126 closed

[2020-11-25 00:28] Nic-Ma commented on #1280
Hi @jnc13 ,

Thanks for your interest here.
I think you want to write the segmentation output into some Nifiti files, you can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_evaluation_dict.py

Thanks.

[2020-11-25 03:23] Nic-Ma commented on #1285
Hi @wyli ,

Did you see this issue in your env before? Or it's known question?
Thanks.

[2020-11-25 03:24] Nic-Ma commented on #1288
Hi @wyli ,

Could you please help take a look at this question?
Thanks.

[2020-11-25 03:32] Nic-Ma opened #1290 "Update hausdorff_distance and surface_distance"
**Is your feature request related to a problem? Please describe.**
We already updated `confusion_matrix` to be consistent with `mean_dice`, also need to update `hasudorff_distance` and `surface_distance` to support `batch` and `channel` dims and `reductions`.

[2020-11-25 03:33] Nic-Ma commented on #1290
Hi @yiheng-wang-nv ,

Could you please help on this ticket as you already updated the confusion matrix?
Thanks in advance.

[2020-11-25 06:46] Nic-Ma commented on #1145
I will develop a utility function `generate_params(layer_match: Sequence[Callable], lr: Sequence[float])` to set different LR for different layers.

Thanks.

[2020-11-25 10:32] Nic-Ma commented on #1145
Hi @kissievendor ,

I submitted PR #1292 to provide a utility function to set different LR for different layer groups.
For your case, you can print out the layers in UNet, then define a `lambda function` to select expected layers to set LR.
For example:
[code]

[2020-11-25 10:36] Nic-Ma commented on #1145
For example, when print out UNet, you can get the components structure like:
[code]

Thanks.

[2020-11-25 16:06] jnc13 commented on #1280
That's perfect thank you @Nic-Ma

[2020-11-25 16:06] #1280 closed

[2020-11-25 18:33] massimilianoporzio commented on #1288
It would be useful to have an example of the training as in the paper. Also to now what exactly have to be the input shape, if using patches during training etc. The code for copleNet I think have to be checked for the parameter "with_conv":
self.up = UpSample(spatial_dims, in_channels1, in_channels2, scale_factor=2, with_conv=not bilinear)
In the MONAI 0.3.0 doc I did not find the 'with_conv' par

[2020-11-26 10:21] #1254 closed

[2020-11-26 12:35] #1145 closed

[2020-11-26 14:46] aarpon opened #1297 "Multi-class 2D segmentation: merged classes in prediction"
Hello, everyone!

I recently discovered MONAI and I am trying to get it to work on some of our projects. I really like the modularity of the library, but I fear that I am still confused with some of the steps. In particular, I am now facing a strange issue with the results of the network predictions.

I adapted the example from https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation

[2020-11-27 00:48] babbu3682 opened #1298 "RandWeightedCrop binary weight map"
Even though I have a weight map with a value of [0, 1], sometime RandWeightedCrop cut the area with only zero.

![image](https://user-images.githubusercontent.com/48959435/100399310-926fe880-3095-11eb-9079-5a161a643766.png)

[2020-11-27 10:15] wyli commented on #1298
I couldn't reproduce this issue with this toy example, could you help change it according to your test case?
[code]
label map:
![original](https://user-images.githubusercontent.com/831580/100437805-36a75e80-3099-11eb-9cf7-7daab90e6640.png)
 samples:
![Screenshot 2020-11-27 at 10 14 19](https://user-images.githubusercontent.com/831580/100437870-52126980-3099-11eb-9871-ec0b0c349929.png)

[2020-11-27 10:46] wyli commented on #1288
thanks for the question, it'd be great to make the training code freely available, I don't have access to it for now.

for the documentation, please refer to the v0.3.0 version:
https://docs.monai.io/en/0.3.0/networks.html#monai.networks.blocks.UpSample

that's different from the current master branch:
https://docs.monai.io/en/latest/networks.html#monai.networks.blocks.UpSample

[2020-11-27 10:46] #1288 closed

[2020-11-27 10:49] wyli commented on #1285
this is a valid issue, pycharm doesn't know resolve the module imported with `optional_import`. for now I don't know how to fix it, let's keep this ticket open. I marked it contribution wanted

[2020-11-27 10:54] #1278 closed

[2020-11-27 11:58] Nic-Ma commented on #1297
Hi @wyli ,

Could you please help with this question as you are a research expert on model training?

Thanks in advance.

[2020-11-27 12:23] wyli commented on #1297
thanks for the detailed report!

it's getting some okay results so I'd assume there's no obvious bug in the training pipeline. according to the setup the class channel 2 has only a few positive examples, compared with class channel 1, perhaps it's difficult to learn a good classifier for that channel. I'd try a few things:
- increase the threshold value for channel 2 in inference `AsDiscrete(thres

[2020-11-27 12:54] aarpon commented on #1297
Thanks for your feedback! I'll try and post my results here.

[2020-11-27 14:14] #1248 closed

[2020-11-27 17:06] #926 closed

[2020-11-27 18:15] aarpon opened #1300 "Windows performance orders of magnitude lower than Linux's"
Hello, everyone

I usually develop and work in Linux, but my users are mostly on Windows. So, I tried my code on 3 different Windows machines today (just in case), and quickly saw that the training performance in Linux is **orders of magnitude** better than in Windows.

After some checks, I realised that:
* PyTorch says that it uses the GPU, and it ideed seems to do so
* the task manager shows tha

[2020-11-27 18:21] aarpon commented on #1297
A few results and observations:

* Changing `sigmoid=True` to `softmax=True` in the loss function indeed did the trick! The cell body and cell boundary classes are not neatly separated.
* To handle the large class imbalance, I tried switching to `GeneralizedDiceLoss` as suggested, but I get the following error (I tried both `monai-weekly` and the latest commit from the repository):

[code]
Is ther

[2020-11-28 08:12] babbu3682 commented on #1298
Here

![image](https://user-images.githubusercontent.com/48959435/100497156-def21b80-319c-11eb-921d-342563066fb1.png)

[2020-11-28 15:45] Ordgod commented on #1285
@wyli  Why do wee need `optional_import` ? Why not import those packages directly?

[2020-11-28 18:37] wyli commented on #1298
that's expected, with label==label.max(), the only positive weights will be at the lower right corner, which is not feasible for sampling because the window would be outside of the image. so, in this case, the effective weight map is actually all zeros, it'll use a uniform sampling instead. to verify this you can try `label[0, 450:480, 450:480] = 3`-> `label[0, 447:480, 447:480] = 3`

[2020-11-28 18:38] #1298 closed

[2020-11-28 18:50] wyli commented on #1297
that looks like an issue in the loss function, could you try `batch=False` in GeneralizedDiceLoss

[2020-11-28 19:50] #1297 closed

[2020-11-30 09:41] rijobro commented on #1300
So just to clarify, you've noticed performance that's orders of magnitude with respect to time, but the results are equivalent (or close)?

[2020-11-30 09:59] aarpon commented on #1300
I never managed to wait that long. However, this alternative `(Fast)DataLoader` fixes the issue in Windows:

https://github.com/pytorch/pytorch/issues/15849#issuecomment-573921048

There is an indirect link to it via a PyTorch issue from [issue 1240](https://github.com/Project-MONAI/MONAI/issues/1240).

[2020-11-30 10:07] aarpon commented on #1240
This alternative `(Fast)DataLoader` (completely) fixes the slowness issue for me in Windows: pytorch/pytorch#15849 (comment).

[2020-11-30 10:24] aarpon commented on #1300
To conclude, with the new `FastDataLoader`, the (time) performance in Windows in now on par with the performance in Linux, and the results are equivalent (visually, they are the same).

[2020-11-30 11:02] wyli commented on #1300
thanks for the pointers, would setting `persistent_wokers=True` achieve the same effect? https://pytorch.org/docs/stable/data.html

[2020-11-30 11:20] Nic-Ma commented on #1245
Hi @ericspod ,

Have you got any proposal or plan for this ticket?
Thanks.

[2020-11-30 11:36] Nic-Ma commented on #1130
@yiheng-wang-nv already fixed this issue.
Thanks.

[2020-11-30 11:36] #1130 closed

[2020-11-30 11:40] Nic-Ma commented on #1154
Hi @wyli ,

Could you please help provide some expected example for this feature request?
I don't quite understand.

Thanks.

[2020-11-30 11:48] wyli commented on #1154
yes for 3d input, currently we could have either 3 elements or 1 element for `self._zoom` here:
https://github.com/Project-MONAI/MONAI/blob/99f7a439020bac0c70de1a5096bb24aceeaf4ae5/monai/transforms/spatial/array.py#L795-L798

Dong was looking for an option for 2 elements `self._zoom` for 3d, for example, the x-y axes always share the same random factor, but the z axis uses a separate random zoom f

[2020-11-30 12:09] wyli commented on #909
this ticket is currently blocked at https://github.com/InsightSoftwareConsortium/ITK/issues/2003 because the default is
https://github.com/Project-MONAI/MONAI/blob/99f7a439020bac0c70de1a5096bb24aceeaf4ae5/monai/transforms/io/array.py#L62-L63

[2020-11-30 12:17] Nic-Ma commented on #586
Hi @wyli and @yiheng-wang-nv ,

I have a draft proposal in my simple mind:
We can enhance or develop another utility for https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/utils.py#L191
1. Computes convolution with the all 1 kernel(size = crop size, stride = 1) on the label data
2. Then we get the "score" for every voxel as the crop center
3. Use a percentage bar to define positiv

[2020-11-30 12:18] Nic-Ma commented on #1108
Close this ticket as we are tracking this request in #586 .

Thanks.

[2020-11-30 12:18] #1108 closed

[2020-11-30 12:21] Nic-Ma commented on #1103
Hi @saruarlive ,

Sorry for the delayed response, I missed this ticket before.
I didn't quite understand your question, I think the `SlidingWindow` is only applied for the `model.forward()` process to gethe predictions, not related to `loss` or `metrics`, right?

Thanks.

[2020-11-30 12:22] Nic-Ma commented on #1048
Close this ticket as @wyli already implemented with PR #1087 .

Thanks.

[2020-11-30 12:22] #1048 closed

[2020-11-30 12:30] Nic-Ma commented on #925
Hi @IsaacYangSLA ,

Have you got a chance to run all the CI tests on A100?

Thanks.

[2020-11-30 12:36] aarpon commented on #1300
The `persistent_workers=True` argument seems to work well (it requires `PyTorch >= 1.7.0`, though). However, I had to remove the `pin_memory=True` argument to prevent a crash with following error:

[code]

Without `persistent_workers=True`, `pin_memory` works fine.

[2020-11-30 18:00] saruarlive commented on #1103
@ I had figured out my problem. Thanks for your reply. So you mean to say that it does not matter whether it is a multilabel or binary or multi-class segmentation problem, the sliding window inference will work well, right?

[2020-11-30 21:57] cemde opened #1305 "Question - Custom Metrics SupervisedEvaluator"
I am trying to add custom metrics to `additional_metrics` of the `SupervisedEvaluator`.

The only Metric class in `MONAI` (`monai.metrics.DiceMetric`) contains an `__init__` and `__call__` method and does not inherit as far as I can see.

The documentation states one can use "more Ignite metrics that also attach to Ignite Engine." Looking up `ignite.metrics.Metric`, these Metric classes have `__in

[2020-11-30 22:50] saruarlive opened #1306 "Issue with monai handler MeanDice while doing multi-label sementation"
Dear @Nic-Ma et al,

Hope you are doing well.

Binary segmentation works as expected while using monai/ignite module.
While doing multi-label segmentation using monai/ignite module, it seems that MeanDice handler is not giving expected mean dice score as it is shown below,

_INFO:ignite.engine.engine.UNetEvaluator:Epoch[20] Metrics -- val_mean_dice: 0.0108
INFO:ignite.engine.engine.UNetEvaluator:K

[2020-12-01 00:37] Nic-Ma commented on #909
Here is the plan for this ticket in v0.4 development:
1. Change the default reader of `LoadImage` to Nibabel.
2. Add string support for the reader parameter.
3. Update all the examples and tutorials to use `LoadImage` transform.

Thanks.

[2020-12-01 00:49] YuanTingHsieh commented on #1273
After some attempts, I found that the problem is not in saving and loading back.
Just by scripting the module

`sm = torch.jit.script(network)`
`result1 = sm(input)`
`result2 = network(input)`

The result1 and result2 do not match, that is np.testing.assert_allclose will fail.

I don't know how to solve this and have not found a related issue in PyTorch.

[2020-12-01 02:05] Nic-Ma commented on #1273
Hi @YuanTingHsieh ,

May I know which `network` are you using in your test?
And have you added `with torch.no_grad()` and `network.eval()`?
A sample code for your reference:
[code]

Thanks.

[2020-12-01 02:07] Nic-Ma commented on #1305
Hi @cemde ,

Thanks for your interest here.
The metrics **wrapper** for ignite is in this folder:
https://github.com/Project-MONAI/MONAI/tree/master/monai/handlers

Thanks.

[2020-12-01 02:09] Nic-Ma commented on #1103
Yes, please feel free to open a ticket if you have any more questions.
Thanks.

[2020-12-01 02:09] #1103 closed

[2020-12-01 02:17] Nic-Ma commented on #1306
Hi @saruarlive ,

You can refer to this example: https://github.com/Project-MONAI/tutorials/blob/master/modules/engines/unet_training_dict.py
Even though it's NOT a multi-labels example.
I think probably your issue came from the `loss function` or `post_transforms`, please make sure you set expected `activation layer` for loss function and set `activation layer` & `AsDiscreted` transform for the m

[2020-12-01 07:57] saruarlive commented on #1306
Dear @Nic-Ma et al,
Thanks for your reply.
I saw that like earlier. Still, I could not figure what is the issue, here is my loss function/post transforms

_loss function = DiceLoss(to_onehot_y=False, sigmoid=True, squared_pred=True)

val_post_transform = Compose(
    [
        Activationsd(keys = ('pred', 'label'), sigmoid=(True, False)),
        AsDiscreted(keys=("pred", "label"), threshold_value

[2020-12-01 12:43] wyli opened #1310 "CI errors test_data_stats"
failed randomly difficult to reproduce:
[code]

[code]

**Environment (please complete the following information; e.g. using `sh runtests.sh -v`):**
https://github.com/Project-MONAI/MONAI/runs/1477554074?check_suite_focus=true#step:3:5150

cc @IsaacYangSLA @YuanTingHsieh @behxyz @yanchengnv

[2020-12-01 13:08] wyli commented on #1273
I think we need to narrow down this issue, could you test locally with a very small network, for example, adapting the basic unet https://github.com/Project-MONAI/MONAI/blob/40b041467bdd013c3e1bf62722a3f30fe8085eda/monai/networks/nets/basic_unet.py#L137

start from one conv:
[code]
and then gradually add more modules to this class until we can reproduce it

[2020-12-01 13:29] #1154 closed

[2020-12-01 17:38] natacanta5 commented on #1267
Hello,

I have been working in the t¡matrix but i still have many doubts and I am not sure if the Wassertein distance could work in my example. In the tree you mention, for each structure there is left and right structures (putamen: left and right, caudate: left and right, thalamus: left and right). So I attach the matrix that I should define to try to implement the Wassertein distance. My princip

[2020-12-01 19:54] cemde commented on #1305
Thanks for replying. May I ask what you mean with metric *wrapper*? I am using different handlers (Tensorboard, MetricLogger etc) to process the metrics. However, defining them when initiating some Evaluation or Training engine fails with the Ignite definition of a Metric class

[2020-12-01 23:08] YuanTingHsieh commented on #1273
Hi All,

The networks that are failing are "VNet", "SENET", "SEBlockLayer", "DENSENET".

I did use `with torch.no_grad()` and `network.eval()`

Refer to here for the code: https://github.com/Project-MONAI/MONAI/compare/master...YuanTingHsieh:yuanting_work
You can refer to here for testing results: https://github.com/YuanTingHsieh/MONAI/runs/1476285474?check_suite_focus=true

[2020-12-01 23:35] Nic-Ma commented on #1273
Hi @YuanTingHsieh ,

Could you please help check this test:
https://github.com/Project-MONAI/MONAI/blob/master/tests/test_vnet.py#L75
I think it can get same results in test?

Thanks.

[2020-12-02 00:03] Nic-Ma opened #1311 "Add TorchScriptLoader for workflows"
**Is your feature request related to a problem? Please describe.**
Now almost all the MONAI networks can support `torch.jit.export`, we need a `TorchScriptLoader` to load and run in evaluation.

[2020-12-02 10:01] wyli commented on #1310
looks like this error is becoming frequent, i'm attaching the log here
[ci_log.txt](https://github.com/Project-MONAI/MONAI/files/5628378/ci_log.txt)

[2020-12-02 10:02] #713 closed

[2020-12-02 10:02] #1212 closed

[2020-12-02 12:20] #974 closed

[2020-12-02 12:36] Nic-Ma commented on #1311
close for now, may reopen later.

[2020-12-02 12:36] #1311 closed

[2020-12-02 14:19] #852 closed

[2020-12-02 14:19] #927 closed

[2020-12-02 16:57] jnc13 opened #1313 "RandCropByPosNegLabeld"
Hey,

I'm following the Spleen 3D Segmentation workflow with my own code and wonder if I need to include RandCropByPosNegLabeld in my transformations? I have tried to remove it with no luck. From what I can see it is necessary to use RandCropByPosNegLabeld for the dataloader? My code runs fine until it attempts to begin the training. Here is the error:

If I include the RandCrop transformation the

[2020-12-02 17:29] jwutsetro opened #1314 "Soft labels to reflect uncertainty on boundary of ground truth annotation"
Hey all,

I am currently using monai to participate in the grand challenge for COVID segmentation. As a baseline model I use the DynUnet with parameters adapted from nn-Net. This works great and gave me a validation dice of around 0.7. To further improve the results I wanted to focus on handeling the noisy ground truth annotations. Since the ground truth annotations from this project are not reall

[2020-12-02 19:12] YuanTingHsieh commented on #1273
I've used CPU to script and then loaded back using GPU to evaluate.

I've found that only "PT16+CUDA102" environment has the issue.
which is  pytorch: "torch==1.6.0 torchvision==0.7.0"
              base: "nvcr.io/nvidia/cuda:10.2-devel-ubuntu18.04"

Other environments are good.
Guess this combination is not well tested/verified in GPU.

[2020-12-03 02:22] #1271 closed

[2020-12-03 02:25] Nic-Ma commented on #1273
Cool, seems PyTorch 1.6 TorchScript may not support CUDA10.2 very well, anyway, let's always move the model to CPU before TorchScript converting.

Thanks.

[2020-12-03 02:32] Nic-Ma commented on #1305
The real metrics computation is under the `metrics` folder, the ignite format metrics in MONAI is under `handlers` folder and call the real metrics.

Thanks.

[2020-12-03 02:34] Nic-Ma commented on #1251
OK, I see your problem.
Please update to put the `ConfusionMatrix` metric on `key_train_metric`, refer to:
https://github.com/Project-MONAI/tutorials/blob/master/modules/engines/unet_training_dict.py

Thanks.

[2020-12-03 02:36] Nic-Ma commented on #925
Hi @IsaacYangSLA ,

Is there any blocker or issue? Can we make it happen in the MONAI v0.4 release note?

Thanks.

[2020-12-03 02:38] Nic-Ma commented on #818
Hi @wyli ,

Can we close this ticket now as you already implemented GradCam?

Thanks.

[2020-12-03 02:42] Nic-Ma commented on #1313
Hi @jnc13 ,

Thanks for your interest and experiments with MONAI.
If you don't want to do any `random` cropping and want to align images size, you can use this transform instead:
https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/croppad/dictionary.py#L551

Thanks.

[2020-12-03 02:51] Nic-Ma commented on #1314
Hi @jwutsetro ,

Thanks for your interest and experiments with MONAI in your challenge.
For this particular case, maybe you can execute `GaussianSmooth` and `ThresholdIntensity` transforms on your labels? Then `CastToType` transform to int number? Or you can write a simple transform to convert it to int label numbers.
@wyli , any other better suggestions?

Thanks.

[2020-12-03 03:28] Nic-Ma opened #1315 "Missing up_modules in AHNet when TorchScript"
**Describe the bug**
When exporting model in TorchScript, it output error:
[code]
I will fix it ASAP.

[2020-12-03 07:22] jwutsetro commented on #1314
Hey,

thanks for the fast reply,
I didn’t make myself clear I think. I don’t want to just shrink the ground truth to a smaller size. I rather want the boundary regions to have uncertaity. For example 90% beloning to the lesion and 10% not beloning to it. So that the loss calculated on the boundary is smaller then the original loss, but still bigger than with a smaller binary mask. Here is a refere

[2020-12-03 07:40] Nic-Ma commented on #1315
Hi @ericspod ,

Our CI test doesn't face this issue because `TorchScript` depends on the parameters of network.
If I change the default model from `transpose` to `nearest`, CI will fail with same error:
[code]

Thanks.

[2020-12-03 07:43] Nic-Ma commented on #1315
Reopen the issue because we may still have other parameter-related TorchScript issues in other networks, need @ericspod to help double confirm.

Thanks.

[2020-12-03 10:49] #818 closed

[2020-12-03 13:40] jnc13 commented on #1313
Hi @Nic-Ma ,

Thanks, this is perfect! Could you please advise what the requirements are for choosing suitable image dimensions?  I notice that not all values are suitable. Perhaps there is something simple which I am missing eg all dimensions have to be 2^n?

For example for my images:
96,96,64 runs perfectly
144,144,96 runs perfectly
140,140,90 resulted in an error.

Could you please spell out f

[2020-12-03 13:46] Nic-Ma commented on #1313
Hi @wenqi,

Could you please help with this question? I think you are more familiar with it.
Thanks in advance.

[2020-12-03 13:49] kissievendor opened #1317 "SegmentationSaver ValueError"
I am getting an error when trying to save the segmentations.

ValueError: only one element tensors can be converted to Python scalars

I already have to change some things to the meta data to prevent errors.
The method worked before. If I set resample=False, I don't get the error, and nii are saved.
However, the images are not loaded properly in FSL eyes.

Did you perhaps change something in versi

[2020-12-03 14:01] ericspod commented on #1315
Yes there were a few other instances of this I changed earlier but missed this one. All members which Torchscript needs to encode, nn.Module members for the most part, must always be created in the constructor. As a general Pythonic style this should always be the case anyhow, users of a class typically expect a member to always be present in its instances.

[2020-12-03 14:22] wyli opened #1318 "releasing v0.4.0 -- checklist"
Release a candidate version
- [x] Tag and release PYPI version [X.Y.Z]rc[K] following the contributing guide.
- [x] Make sure all CI pipelines pass.
- [x] Check the PyPI page
- [x] Test pip install monai==[X.Y.Z]rc[K] and run a few MONAI modules locally
- [x] Test all installation commands mentioned in the installation guide and the primary README.

Quality assurance for the relevant repos
The new

[2020-12-03 15:25] ericspod commented on #1245
I'm working on this right now.

[2020-12-03 16:09] charliebudd opened #1319 "c++/cuda extention source files not included in build if in nested directory"
The build process will currently fail to discover c++/cuda source which is more than a single nested directory deep in the csrc folder.

The issue is that while we use glob with ** to find the source files, we must add the recursive=True flag to the glob call.

This has been fixed just need to make the PR.

[2020-12-03 16:56] #1310 closed

[2020-12-03 18:24] #1319 closed

[2020-12-03 23:09] r-gray opened #1322 "Question about synchronised img/seg random transforms"
Hello,

Just wondering if random transformations applied to img and seg are always in synch... MONAI's nifti_reader.py applies the transformations with

if self.transform is not None:
    if isinstance(self.transform, Randomizable):
        self.transform.set_random_state(seed=self._seed)
    img = apply_transform(self.transform, img)

and then does the same to the segmentations with

if self.seg_

[2020-12-04 13:13] cemde commented on #1305
Thank you! I understand what you are saying now!

[2020-12-04 13:13] #1305 closed

[2020-12-04 14:22] saruarlive commented on #1306
Dear  @Nic-Ma  et al,

The problem with the MeanDice handler still exists for multi-label segmentation. The training and validation accuracy is working. Any suggestion on how to fix the issue.

![image](https://user-images.githubusercontent.com/24542592/101174543-506e1600-3644-11eb-8090-c42a6ae4d5e2.png)