[2020-06-17 13:48] #198 closed

[2020-06-17 16:27] #568 closed

[2020-06-17 18:00] petteriTeikari opened #585 "AssertionError: affine data of all images should be same"
Own bug found, and this can be deleted

[2020-06-17 23:30] #585 closed

[2020-06-18 01:44] Nic-Ma opened #586 "Add RandCropByPosPercent transform"
**Is your feature request related to a problem? Please describe.**
Currently, the balance sampling’s positive window is defined by the corresponding label of the window’s central location. We need the flexibility to define the positive windows by thresholding the percentage of positive pixels in a window instead of only central data.
Consider as "positive" a patch that has some foreground voxels a

[2020-06-18 01:45] Nic-Ma commented on #452
And BTW, I submitted ticket: https://github.com/Project-MONAI/MONAI/issues/586 to track your new features request of PosNegRatio crop.

Thanks.

[2020-06-18 10:28] wyli opened #589 "adds support of ITK 5.1 to the 3rd party transform tutorial"
**Is your feature request related to a problem? Please describe.**
this ticket requests the integration of [ITK 5.1.0 pythonic interfaces](https://github.com/InsightSoftwareConsortium/ITK/releases/tag/v5.1.0)
e.g.
[code]
as a demo in https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/3d_image_transforms.ipynb

**Additional context**
https://discourse.itk.org/t/itk-5-0-beta-1-pyt

[2020-06-18 10:33] wyli commented on #327
I'm closing this in favor of https://github.com/Project-MONAI/MONAI/issues/589

[2020-06-18 10:33] #327 closed

[2020-06-18 10:40] wyli opened #590 "A developer guide for adding new MONAI dataset application"
**Is your feature request related to a problem? Please describe.**
The remote data downloading mechanism is in place.
Would be great to have a guide on how to contribute 'standardised' public dataset loading module.

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/master/monai/application/datasets.py#L22
https://github.com/Project-MONAI/MONAI/blob/master/monai/application/utils.

[2020-06-18 10:45] wyli opened #591 "medical segmentation decathlon dataset as MONAI dataset"
**Is your feature request related to a problem? Please describe.**
this ticket looks for the integration of [the medical segmentation decathlon datasets](https://drive.google.com/drive/folders/1HqEgzS8BV2c7xYNrZdEAnrHk7osJJ--2)
following the pattern in [monai.applications.MedNISTDataset](https://github.com/Project-MONAI/MONAI/blob/master/monai/application/datasets.py#L22)

the data need to be host

[2020-06-18 10:54] wyli opened #592 "additional integration tests in a minimal dependency installed environment"
**Is your feature request related to a problem? Please describe.**
this is a follow up of https://github.com/Project-MONAI/MONAI/issues/198

To ensure the code quality of MONAI core functionality
new CI tests should be added by simulating the system environment with minimal external dependencies installed.

[2020-06-18 11:05] #389 closed

[2020-06-18 11:05] #415 closed

[2020-06-18 11:06] #418 closed

[2020-06-18 11:07] wyli commented on #452
closing this in favour of https://github.com/Project-MONAI/MONAI/issues/452

[2020-06-18 11:07] #452 closed

[2020-06-18 11:15] wyli commented on #528
great thanks! I think as a starting point we focus on single postprocessing to tensorboard, so that the interface is intuitive. Once we identified commonly used combinations of multiple post-processing visuals, we could consider a slightly high-level interface.

[2020-06-18 12:25] bartmch opened #593 "Expand 3d classification example to multi-class"
Would it be possible to expand the 3d classification example from binary classification to a multi-class classification?

[2020-06-18 14:17] wyli opened #594 "Notable changes since v0.1.0"
## Summary
As the codebase is under active development, [the current master branch](https://github.com/Project-MONAI/MONAI/tree/master) is well ahead of the milestone release on PyPI.

This ticket briefly summaries [the changes since v0.1.0](https://github.com/Project-MONAI/MONAI/compare/0.1.0...HEAD). It effectively compares the differences between:
[code]
and:
[code]
## [0.2.0rc3+14.g640852a] -

[2020-06-18 15:32] Nic-Ma commented on #591
Hi @pdogra89 , can we get some storage like Amazon S3?
Thanks.

[2020-06-18 15:36] Nic-Ma commented on #594
Cool summary!!

[2020-06-18 15:40] Nic-Ma commented on #593
Hi @bartmch ,

Thanks for your interest here.
Actually, the 3D classification example is already treated as multi-class classification instead of binary classification(output channel = 1).
We set the model output tp `out_channels=2` and used `CrossEntropy` loss function:
https://github.com/Project-MONAI/MONAI/blob/master/examples/classification_3d/densenet_training_dict.py

Thanks.

[2020-06-18 16:04] wyli commented on #594
thanks we should update weekly if needed, keep adding new version sections on the top

[2020-06-18 22:47] #580 closed

[2020-06-18 22:52] Nic-Ma commented on #594
Sounds good!
And I will update our highlight features page based on this summary later.
Thanks.

[2020-06-19 00:22] petteriTeikari commented on #573
@myron Do you have any plans to add the "masked"-option for all types of losses? As in, would be niceto play with some own custom losses and all your off-the-shelf ones with the loss masking option

[2020-06-19 11:25] #592 closed

[2020-06-19 14:55] ericspod opened #596 "Simple GAN Example"
**Is your feature request related to a problem? Please describe.**
Provide a basic GAN example with generator and discriminator networks to demonstrate MONAI usage.

**Describe the solution you'd like**
This will consist of a notebook tutorial and additional networks.

[2020-06-20 13:04] wuyuanhang94 opened #598 "`pip install monai` doesn't have `get_largest_connected_component_mask` included"
**Describe the bug**
both `pip install monai` and `pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI
` doesn't have `get_largest_connected_component_mask` included, which causes the failure of jupyter notebook kernel

**To Reproduce**
Run commands: `jupyter notebook`

**Expected behavior**
```ImportError: cannot import name 'get_largest_connected_component_mask' from 'monai.transfor

[2020-06-20 14:40] #589 closed

[2020-06-20 14:51] wyli commented on #598
Hi @wuyuanhang94 I couldn't replicate this issue. could you follow [the installation steps from Q3](https://github.com/Project-MONAI/MONAI/wiki/Frequently-asked-questions-and-answers#q3-after-installing-monai-with-pip-why-does-importing-modules-give-an-error-no-module-named-) and report the version number?

[2020-06-21 10:28] bartmch commented on #593
Ok, I understand that `model = monai.networks.nets.densenet.densenet121(spatial_dims=3, in_channels=1, out_channels=2,).to(device)` is actually a 3-class classifier instead of a binary (2-class) one.
But what kind of input does this model expects? Does it requires a one hot encoder like this? `labels = np.array([[1,0,0], [1,0,0], [0,1,0], [0,1,0], [0,0,1], [0,0,1], [1,0,0], [0,1,0], [0,0,1]], dtyp

[2020-06-21 11:27] Nic-Ma commented on #593
Hi @bartmch ,

1. `model = monai.networks.nets.densenet.densenet121(spatial_dims=3, in_channels=1, out_channels=2,).to(device)` means the input image is 1 channel of [0, 1] values, output is **2 channels** of [0, 1] values(first channel is prediction for background, second channel is prediction for IXI). So it's 2 classes classification instead of 1 binary(1 class) classification.
2. As this is a

[2020-06-21 12:55] bartmch commented on #593
Hi @Nic-Ma,

1. Right, we're saying the same thing I just have my wording wrong. So for my four label classification problem (0, 1, 2, 3, 4) `model = monai.networks.nets.densenet.densenet121(spatial_dims=3, in_channels=1, out_channels=2,).to(device)` will stay the same. 2 channels where the 2d channel is the 5-classes prediction (mutually exclusive btw)
2. I'm a bit confused about the 2d point. If

[2020-06-21 14:30] Nic-Ma commented on #593
Hi @bartmch ,

1. I don't understand your "the 2d channel is the 5-classes prediction".
If you have 5 classes(0, 1, 2, 3, 4), I think your `out_channels` should be 5. It's `channels` of the output data, not `dims`.
2. If you are doing a multi-classes task, your label can be 1 channel data, for example: [3, 2, 0, 0, ... 4, 2, 1], `CrossEntropy` loss function expects it.

Thanks.

[2020-06-22 07:35] LucasFidon opened #601 "Generalized Wasserstein Dice Loss"
Add the Generalized Wasserstein Dice Loss (GWDL) loss function
https://arxiv.org/abs/1707.00478

The GWDL is a generalization of the Dice loss and the Generalized Dice loss that can tackle hierarchical classes and can take advantage of known relationships between classes.

I have already made a PyTorch implementation (including unit tests and an example) available here
https://github.com/LucasFido

[2020-06-22 07:48] wuyuanhang94 commented on #598
cool, thanks @wyli, issue solved

[2020-06-22 07:48] #598 closed

[2020-06-22 09:25] bartmch commented on #593
Point 1&2, got it!
In the current tutorial setup, how can you get a performance metric for each class? E.g. "compute_roc_auc" only returns a single number.

Also, probably a multi-class-unrelated question, compute_roc_auc doesn't expect softmax.
`auc_metric = compute_roc_auc(y_pred, y, to_onehot_y=True, softmax=True)`

[2020-06-22 09:31] bartmch commented on #593
the function compute_roc_auc needs to be changed in the tutorial from:
`auc_metric = compute_roc_auc(y_pred, y, to_onehot_y=True, softmax=True)`
to:
`auc_metric = compute_roc_auc(y_pred, y, to_onehot_y=True, add_softmax=True)`

[2020-06-22 10:37] Nic-Ma commented on #593
Hi @bartmch ,

The tutorial uses the latest source code instead of MONAI v0.1, the API is:
https://github.com/Project-MONAI/MONAI/blob/master/monai/metrics/rocauc.py#L53

I think `softmax=True, average=None` is what you need.

Thanks.

[2020-06-22 16:18] wyli opened #603 "examples of multi-gpu sliding-window inference"
**Is your feature request related to a problem? Please describe.**
would be great to update one of the segmentation inference examples to show the multi-gpu utilities

**Additional context**
one of the sliding window example
https://github.com/Project-MONAI/MONAI/blob/master/examples/segmentation_3d/unet_evaluation_dict.py

[2020-06-22 16:34] nguyen14ck opened #604 "Working with multi image formats"
**Is your feature request related to a problem? Please describe.**
Besides file format nii.gz, it's better if supporting other biomedical image formats (mrc, dicom...)

**Describe the solution you'd like**
Besides package nibabel, images can (automatically) be read by package Simple ITK... or a custom function defined by user (custom dataset)

Thanks!

[2020-06-22 22:24] Nic-Ma commented on #603
Sounds good a suggestion, I will update that example to use our `get_devices_spec` utility API.
Thanks.

[2020-06-22 22:40] Nic-Ma commented on #604
Hi @nguyen14ck ,

1. We are developing DICOM support: https://github.com/Project-MONAI/MONAI/pull/200.
2. It's a good idea to support `custom dataset`, you can inherit any of the existing `Dataset` and do the `data loading` logic in "__item__()", then execute other transforms except `LoadNifti`.

Thanks.

[2020-06-22 22:47] gagandaroach commented on #596
I am working on adding a simple GAN example in #519

[2020-06-22 22:57] Nic-Ma commented on #596
Hi @gagandaroach ,

This is another topic, Eric will add a simple GAN example here.
Your PR is much more complicated GAN and for the `research` folder. I think your target is to re-implement a cool research paper.
Similar to: https://github.com/Project-MONAI/MONAI/tree/master/research/coplenet-pneumonia-lesion-segmentation

Thanks.

[2020-06-23 06:29] nguyen14ck opened #606 "Random Patch Dataset"
**Is your feature request related to a problem? Please describe.**
Patch-based dataset: set random sampling mode, and set the number of patches from each image (volume) (will be extracted when iterating dataloader).
Could we have this to train with large images and large datasets? Thank you.

[2020-06-23 07:25] Nic-Ma commented on #606
Hi @nguyen14ck ,

Thanks for your suggestion.
We already have this feature enabled by transform: [RandCropByPosNegLabeld](https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/croppad/dictionary.py#L224).
About how to use this transform, you can refer to the example in: [Spleen 3D segmentation with MONAI](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_se

[2020-06-23 10:13] wyli commented on #606
I don't think RandCropByPosNegLabeld matches the requirement. This feature request is about a randomised version of the grid dataset https://github.com/Project-MONAI/MONAI/blob/master/monai/data/grid_dataset.py

[2020-06-23 10:21] Nic-Ma commented on #606
Hi @wyli ,

Yes, both `RandCropByPosNegLabeld` and `grid dataset` need a slight change to enable it.
I am working on an enhancement for `RandCropByPosNegLabeld` to support `pos_ratio=None`.
It will randomly select patches without pos/neg ratio, same as the Clara behavior.

Thanks.

[2020-06-23 10:29] wyli commented on #606
Implementing this with a transform will shuffle the patches from different images sufficiently.
clara/tensorflow's dataset shuffle function has a buffer size parameter

[2020-06-23 14:05] petteriTeikari opened #608 "Checkpoint not saved even though loss improving (Pytorch Lighting example)"
**Describe the bug**
I was trying to implement the PyTorching example:
https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d_lightning.ipynb (non-notebook code attached) and noticed that the checkpoints were not saved

**Expected behavior**
As in screencap `mean_val_dice` was improving, but no checkpoint was saved to disk? Is the problem similar to here https

[2020-06-23 14:12] bartmch opened #609 "Pre-segment images using a mask"
Hi, is there a way to mask images given a mask by e.g. using a "monai.transforms" function? For example: Use a lung mask Nifti's for "pre-segmenting" Chest CT Nifti's before feeding it into the [classification example](https://github.com/Project-MONAI/MONAI/blob/master/examples/classification_3d/densenet_training_dict.py)

Thank you

[2020-06-23 15:24] Nic-Ma commented on #606
Make sense.

[2020-06-23 16:08] Nic-Ma commented on #608
Hi @marksgraham ,

Could you please help take a look at this issue? As you are an expert on PyTorch Lightning.
Thanks.

[2020-06-23 16:13] Nic-Ma commented on #609
Hi @bartmch ,

Thanks for your great suggestion!
Actually, this transform is already in our internal to-do list, I will submit an issue for it.

Thanks.

[2020-06-23 16:16] #603 closed

[2020-06-23 17:16] #577 closed

[2020-06-24 00:16] nguyen14ck commented on #604
Thanks @Nic-Ma.
Could MONAI support mrc file as well? It's a popular format.

[2020-06-24 00:28] Nic-Ma commented on #604
Hi @nguyen14ck ,

Thanks for your feedback, I recorded this request and raised to internal discussion.

Thanks.

[2020-06-24 07:22] #581 closed

[2020-06-24 13:50] bartmch opened #612 "RandShiftIntensityd error: 'mtrand.RandomState' object has no attribute 'random'"
In my sequence of transforms:
[code]
everything works but the last tranforms "RandShiftIntensityd(keys=["img"], offsets=1.0, prob=1.0)" fails with:

Let me know if you need more context - Thanks!

[2020-06-24 13:52] wyli commented on #612
duplicate of https://github.com/Project-MONAI/MONAI/issues/390?

[2020-06-24 14:29] marksgraham commented on #608
Hi @petteriTeikari

Can you try updating `validation_epoch_end` to the following:
[code]

This calculates the average val loss and adds it to the logs, so the checkpointer can monitor the value. Let me know if it works.

[2020-06-24 15:19] abpwrs opened #614 "Add percentile version of ScaleIntensityRange"
**Describe the solution you'd like**

A variant of `monai.transforms.ScaleIntensityRange` that has upper and lower intensity percentile parameters instead of `a_min` and `a_max`.

So this transform would rescale each image differently depending on the intensity distribution of the `img` parameter instead of scaling all images the same, as `ScaleIntensityRange` does.

General idea:
[code]
**Describ

[2020-06-24 15:28] Nic-Ma commented on #614
Hi @abpwrs ,

Thanks for your feature request, it's truly another common intensity transform.
I will add this to our development plan.
Thanks.

[2020-06-24 20:26] petteriTeikari commented on #608
Hi @marksgraham

Yeah I was a bit unclear initially, and that indeed worked so that my checkpoint was saved, but it seemed a quick fix as then `{val_loss:.2f}-{val_dice:.2f}` were not passed to the output filename. So maybe the tutorial needs to be updated to handle both val_loss tracking and proper ckpt filename formatting

And that I of course added that ` monitor='mean_val_dice'`to checkboint c

[2020-06-24 21:48] marksgraham commented on #608
Hi @petteriTeikari

Did you try replacing your function with the one I posted above? This worked for me - it saved the checkpoints along with the desired val_loss + val_dice filenames. You don't need to add `monitor='mean_val_dice'` if you update the function as I described.

[2020-06-25 01:48] petteriTeikari commented on #608
It indeed works now correctly @marksgraham

[2020-06-25 02:29] petteriTeikari commented on #608
That indeeds does what it is supposed to do @marksgraham , thanks :)

[2020-06-25 05:26] Nic-Ma commented on #608
Hi @marksgraham , thanks very much for your quick help!
Do we need to update the existing Lightning example?

Thanks.

[2020-06-25 09:26] wyli opened #621 "documentation updates for 0.2.0"
**Describe the solution you'd like**
this ticket tracks the documentation updates for the 0.2.0 release (early July)
- [x] double check the examples and research code
- [x] update highlights (#536 #540)
- [x] update change log (may revisit #234)
- [x] revise the contributing guide to reflect the changes of local tests https://github.com/Project-MONAI/MONAI/pull/496 https://github.com/Project-MONAI

[2020-06-25 14:13] #596 closed

[2020-06-25 16:15] petteriTeikari commented on #593
If you have the time @Nic-Ma et al.

Maybe multiclass 3D segmentation example could be nice as well @Nic-Ma as I have label masks with 6 mutually exclusive classes (`[0,1,2,3,4,5]`  integer values in a `uint8` Nifti, `0` being the background) with the following relevant lines

[code]

with the meandice giving Dice scores above 1?

![image](https://user-images.githubusercontent.com/1060514/85757143

[2020-06-26 00:24] Nic-Ma commented on #593
Hi @petteriTeikari ,

I think this is another task, right? I saw it's segmentation instead of classification.
About the MeanDice question, you can refer to the spleen example:
https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d.ipynb
[code]

Thanks.

[2020-06-26 01:03] petteriTeikari commented on #593
Yes another task, sorry for continuing in the classification thread @Nic-Ma

And I took the example from https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d_lightning.ipynb

And it looks the same

[code]

And it works for when I have just background + actual class so I was a bit confused why that now happened

[2020-06-26 01:52] Nic-Ma commented on #593
I think you need to aggregate the results of `compute_meandice` to get the MeanDice, just like what I shared in previous comments.
Thanks.

[2020-06-26 03:27] ntenenz opened #625 "Missing py.typed"
Although type hints are included throughout, the library is missing a py.typed to indicate that it's type hinted.

[2020-06-26 04:19] Nic-Ma commented on #606
Mark: the `RandSpatialCropSamples` transform had been merged.
Thanks.

[2020-06-26 08:05] Nic-Ma commented on #452
Hi @martaranzini ,

Mark: I added Array version PosNeg crop in PR: https://github.com/Project-MONAI/MONAI/pull/628.
Thanks.

[2020-06-26 09:13] wyli opened #629 "progress bar with tqdm"
**Is your feature request related to a problem? Please describe.**
instead of implementing the progress bar related functionality, [tqdm](https://github.com/tqdm/tqdm) looks like a good library to use directly. this ticket requests replacing the existing code to use tqdm implementations

[2020-06-26 09:14] #625 closed

[2020-06-26 11:46] wyli opened #630 "lambda transform"
**Is your feature request related to a problem? Please describe.**
this feature request is about providing a transform that supports use-defined simple lambda functions.

a use case came from the experiments is, for example,
only retaining the first four classes from a segmentation ground truth:

assuming the input
`input_data={'image': array, 'label': np.ones((10, 2, 2))}`
a lambda transform coul

[2020-06-26 15:32] Nic-Ma commented on #591
Mark: move into V0.2 scope.
Thanks.

[2020-06-26 15:54] Nic-Ma commented on #591
Requirements
$ pip install downloader

Python code
$ from google_drive_downloader import GoogleDriveDownloader as gdd
$ gdd.download_file_from_google_drive(file_id='1RzPB1_bqzQhlWvU-YGvZzhx2omcDh38C',dest_path='./hippo.tar', showsize=True)

[2020-06-26 18:13] #484 closed

[2020-06-26 20:51] #614 closed

[2020-06-27 03:30] nguyen14ck commented on #606
Thank you, @Nic-Ma!

[2020-06-27 15:04] #583 closed

[2020-06-27 15:30] Nic-Ma opened #634 "add dictionary level LabelToContourd transform"
**Is your feature request related to a problem? Please describe.**
As we already have array level LabelToContour transform, need to update the document and add dictionary level version.

[2020-06-28 17:20] #630 closed

[2020-06-28 23:24] Nic-Ma commented on #621
Hi @wyli ,

Thanks for your summary.
1. I can take "double check the examples", could you please help check the `research` folder?
2. For "change to use pip install monai==0.2.0 for some examples/demos", I think we only need to change the research folder and Colab examples, right?

Thanks.

[2020-06-29 05:07] wyli commented on #629
this feature is postponed, please see https://github.com/Project-MONAI/MONAI/pull/633

[2020-06-29 05:41] wyli commented on #621
sounds good, thanks!

btw shall we divide the transforms https://github.com/Project-MONAI/MONAI/blob/master/docs/source/transforms.rst into the same categories as the code folder? https://github.com/Project-MONAI/MONAI/tree/master/monai/transforms (pad/crop, intensity, spatial, ...)

I'll let you know if I'm working on it, otherwise please do it if you have time

[2020-06-29 05:57] #634 closed

[2020-06-29 06:09] Nic-Ma commented on #621
Hi @wyli ,

I don't think we need to split transforms so far.
I think it's better to make it possible to switch versions(or branch) in UI.
For example, if users want to check the docs of MONAI v0.1, they can change the version to v0.1. Default version is the latest release(v0.2 branch). If they want to check the docs of latest code, they can change to the master branch.
Does it possible to do?

Th

[2020-06-29 06:15] wyli commented on #621
yes there's an option on the website @IsaacYangSLA could you please enable the other versions of the doc based on existing tags?

I've been using the docs website for a while, I find it's particularly difficult to find the transform without a ctrl+f search. And when I can't remember the transform's class name, it is quite painful to go through the 50+ transforms...

[2020-06-29 06:25] Nic-Ma commented on #621
Hi @wyli ，

I see your point, the reason I want to keep all transforms in 1 page is that: Most times you know part of the transform name and easy to search in 1 file. If split them into 6 categories, beginners can't figure out which category the transform belongs to.
That's same with PyTroch `torch.nn` page: https://pytorch.org/docs/stable/nn.html, it's a very long page and the exact code is in di

[2020-06-29 06:34] wyli commented on #621
yes, I don't want to split them into different pages, but into different sections. so that we have an additional level of collapsible sidebar like pytorch's right sidebar:
![Screenshot 2020-06-29 at 07 30 37](https://user-images.githubusercontent.com/831580/85980534-8266b680-b9da-11ea-8434-7c4cdd57023f.png)

[2020-06-29 06:36] Nic-Ma commented on #621
OK, that sounds good, please feel free to adjust that in your docs PR.
Thanks.

[2020-06-29 07:24] Nic-Ma opened #642 "Add tutorial to show post transforms"
**Is your feature request related to a problem? Please describe.**
As some of our post transforms are not very easy to understand, need to add a notebook tutorial to show how they work.

[2020-06-29 08:41] marksgraham commented on #608
Hi @Nic-Ma,
I think we should. I can go a PR with the update.
Mark

[2020-06-29 08:57] Nic-Ma commented on #608
Sounds good, we will release MONAI v0.2 soon, if you can submit a quick PR, that would be great.
thanks in advance!

[2020-06-29 10:09] tangzhe0220 opened #644 "Jaccard (IOU) loss issue"
**Describe the bug**
I'm using dice loss and Jaccard (IOU) loss for segmentation tasks. However, I found the Jaccard(IOU) loss is lower than 0.0 , when I check the code at 'monai/losses/dice.py', class DiceLoss, line128-133, I found the function is implemented as follow:

 ground_o = torch.sum(target, dim=reduce_axis)
 pred_o = torch.sum(input, dim=reduce_axis)
 denominator = ground_o + pred_o
 if

[2020-06-29 13:49] wyli commented on #552
I'm working on this

[2020-06-29 14:54] wyli commented on #552
Many thanks for reporting this issue @murraycutforth.  The upsampling of control grids didn't take the extra control points into account.  #647 fixes it.

[2020-06-29 15:07] #644 closed

[2020-06-29 15:22] #642 closed

[2020-06-29 15:32] #608 closed

[2020-06-29 15:58] wyli commented on #621
sure I'm working on this

[2020-06-29 16:19] #540 closed

[2020-06-29 21:22] #612 closed

[2020-06-29 21:36] wyli commented on #232
this is mostly done -- scipy removed, scikit-image becomes an optional for the connected component analysis  I'm closing this in favour of #554

[2020-06-29 21:36] #232 closed

[2020-06-30 00:03] Nic-Ma opened #651 "Add tutorial for public datasets"
**Is your feature request related to a problem? Please describe.**
Need a tutorial to show:
1. How to quickly set up an experiment with MedNISTDataset.
2. How to quickly set up an experiment with DecathlonDataset.
3. How to contribute your own public dataset.

[2020-06-30 03:54] Nic-Ma opened #653 "html format pictures can't show in docs.monai.io"
**Describe the bug**
Some of the pictures integrated into the highlight features page in HTML format, can't show: https://docs.monai.io/en/latest/highlights.html

[2020-06-30 05:25] Nic-Ma opened #655 "Add ensure_tuple_rep for tramsforms and update doc-string"
**Is your feature request related to a problem? Please describe.**
There are some new dict transforms can use `ensure_tuple_rep` to support different args for different keys, need to update old transforms which also need `ensure_tuple_rep` support and update all the doc-string to make this feature more clear.

[2020-06-30 09:43] #653 closed

[2020-06-30 12:29] #655 closed

[2020-06-30 12:41] JanSellner opened #657 "Incorrect results for MaskedDiceLoss when softmax=True"
When the softmax parameter `softmax=True` is used in `MaskedDiceLoss`, the masked pixels are not excluded from the computation since the softmax is still applied to the zeroed-out pixels. Example:

[code]

The problem is that the [zeroing happens before the softmax](https://github.com/Project-MONAI/MONAI/blob/master/monai/losses/dice.py#L173).

My solution would be to apply the masking before [thi

[2020-06-30 13:33] #591 closed

[2020-06-30 16:23] #517 closed

[2020-06-30 16:38] wyli commented on #657
I feel the docstring of `MaskedDiceLoss` is kind of misleading https://github.com/Project-MONAI/MONAI/blob/master/monai/losses/dice.py#L149 IMO the mask is more like a differentiable attention map and this is different from `DiceLoss`

[2020-06-30 18:43] wyli commented on #88
initial implementation provided https://github.com/Project-MONAI/MONAI/pull/650

[2020-06-30 18:43] #88 closed

[2020-06-30 18:54] wyli commented on #590
closing this in favour of #651

[2020-06-30 18:54] #590 closed

[2020-06-30 19:23] wyli commented on #609
if you are looking for some quick prototype, This could be done by creating a simple `masked` function (the transforms are callables, can be complicated, but in this case it's quite simple)
[code]
use it in a composed:
[code]
![Screenshot 2020-06-30 at 20 20 01](https://user-images.githubusercontent.com/831580/86167864-31a4aa00-bb0f-11ea-8978-3f41370a6348.png)

 if you comment out the `masked` in

[2020-06-30 22:32] #552 closed

[2020-07-01 01:03] YuanTingHsieh opened #659 "Documentation improvements for Randomizable"
In here: https://docs.monai.io/en/latest/transforms.html#randomizable

From the text description.
I think it is not clear that this self.R is a class variable instead of an instance variable.
And it is also not clear that self.R is of type np.random.RandomState

[2020-07-01 05:44] Nic-Ma commented on #659
Hi @YuanTingHsieh ,

Thanks for your bug report, I submitted PR https://github.com/Project-MONAI/MONAI/pull/660 to update it and added example.

[2020-07-01 11:05] #659 closed

[2020-07-01 11:19] wyli opened #662 "default transforms for MedNISTDataset and DecathlonDataset"
**Is your feature request related to a problem? Please describe.**
MedNISTDataset and DecathlonDataset should by default use a loader transform and `Addchannel`, so that the user could quickly get started. (currently there's a default value for the transform argument)

[2020-07-01 11:21] wyli opened #663 "default padding mode for spatial augmentations"
**Is your feature request related to a problem? Please describe.**
the current default padding modes are zeros, which is likely to introduce unnecessary artefacts in many cases.
the ticket seeks for better default padding modes.

[2020-07-01 11:25] wyli opened #664 "optional dependency gdown version"
**Is your feature request related to a problem? Please describe.**
`pip install gdown` on google Colab will fetch gdown 3.6.4. but monai requires gdown 3.11.1.
to install the correct version requires a manual restart of the Colab runtime.
would be great to relax the version requirement if possible

[2020-07-01 11:25] Nic-Ma opened #665 "align_corner should support multiple values"
**Is your feature request related to a problem? Please describe.**
Currently, for `Resized`, `Zoomd` and `RandZoomd` transforms, if set different `mode` for "image" and "label", can't set different `align_corner` for them.

[2020-07-01 11:51] #664 closed

[2020-07-01 12:17] #665 closed

[2020-07-01 12:56] wyli opened #670 "better error messages when dataset downloading is unavailable"
**Is your feature request related to a problem? Please describe.**
When downloading raises errors such as
 	"Too many users have viewed or downloaded this file recently. Please try accessing the file again later."

The error messages should be reported to the users clearly.

[2020-07-01 13:41] #663 closed

[2020-07-01 13:45] Nic-Ma opened #671 "Add docs for apps folder"
**Is your feature request related to a problem? Please describe.**
Need to add docs for apps as we already have several interesting APIs.

[2020-07-01 14:10] Nic-Ma commented on #670
Hi @wyli ,

I slightly updated the error message in PR #672 , and gdown actually already provides very detailed error message for this case and we can't delete or modify its message:

[code]

Thanks.

[2020-07-01 14:30] wyli commented on #670
I see, I was using gdown v3.6 on colab, the message was quite confusing:
[code]

[2020-07-01 14:34] Nic-Ma commented on #670
Hi @wyli ,

So, could you please help change back the gdown version to latest in your PR #669 ?
I think you don't need gdown in Colab now.
Thanks.

[2020-07-01 14:36] wyli commented on #670
just checked it's the same issue with the latest gdown

I think it's their API issue, detailed messages are directed to stdout, instead of raising an issue.

[2020-07-01 14:38] #662 closed

[2020-07-01 14:39] wyli commented on #670
fixed by #672

[2020-07-01 14:39] #670 closed

[2020-07-01 15:39] #651 closed

[2020-07-02 02:35] #671 closed

[2020-07-02 03:16] Nic-Ma opened #676 "Missing quick import of networks module"
**Is your feature request related to a problem? Please describe.**
We added many quick `import` in `__init__.py`, missing it for networks.

[2020-07-02 06:43] jillianlee opened #678 "UNet Training Error: Size of Tensors Mismatched"
I'm currently experiencing mismatch between my input tensors while trying to train UNet with BraTS2018 data.

I'm working off of the spleen example, which has been very helpful, but I've been unable to complete training. I've referred to issues #418 and #323, but am still stuck.

My code is as follows:

**Data set and Transforms**

[code]
**Cache Dataset**

[code]

**Training**
[code]

I get the f

[2020-07-02 07:56] Nic-Ma opened #679 "Missing links for many datasets and tutorials"
**Describe the bug**
Need to add the corresponding links of Decathlon dataset in the related tutorials and add many tutorial links to highlight features page.

[2020-07-02 08:11] Nic-Ma opened #681 "Add Tensor support to DataStats transform"
**Is your feature request related to a problem? Please describe.**
Need to add `PyTorch Tensor` support for `DataStats` transform to debug post transforms.

[2020-07-02 09:08] Nic-Ma commented on #678
Hi @jillianlee ,

Thanks for your interest here!
I checked the Brats 2018 dataset and found the root cause of your problem is that:
Every item in the Brats 2018 dataset contains 4 images and 1 label, so `LoadNiftd` returns data with shape [H, W, D, 4].
It's different from the Spleen dataset, which doesn't have channel dim.
So you should use `AsChannelFirstd` transform instead of `AddChanneld` tran

[2020-07-02 09:49] #676 closed

[2020-07-02 09:57] #679 closed

[2020-07-02 10:11] #681 closed

[2020-07-02 10:22] #391 closed

[2020-07-02 12:33] carlpe opened #684 "ImportError: cannot import name 'normal_init' from 'monai.networks'"
Trying the GAN tutorial for mednist.

Getting following error:

**Environment (please complete the following information):**
 - OS : Win10
 - Python version: 3.7.7 64bit
 - MONAI version monai-0.2.0rc3+14.g640852a.dist-info
 - CUDA/cuDNN version 10.2 / 7.6

[2020-07-02 14:05] Nic-Ma commented on #684
Hi @carlpe ,

Thanks for your bug report. We just updated this tutorial today according to the latest API.
Could you please help try to use the latest MONAI source code and try again?
Or you can change branch to 0.2.0rc3 and use the tutorial code in that branch.

Thanks.

[2020-07-02 14:34] carlpe commented on #684
Yes, I will try it tomorrow, and report back to you

-Carl

[2020-07-02 15:38] wyli commented on #594
as v0.2.0 is feature ready, copying this page to the project wiki： https://github.com/Project-MONAI/MONAI/wiki/Notable-changes-between-0.1.0-and-0.2.0

[2020-07-02 15:38] #594 closed

[2020-07-02 16:40] Nic-Ma commented on #621
Checked all the examples and notebooks and submitted PR https://github.com/Project-MONAI/MONAI/pull/687 to fix issues.
Thanks.

[2020-07-02 16:53] jillianlee commented on #678
Hi Nic, thanks for getting back to me so quickly!

For my problem, I was looking to use only a single-channel input. I had made a separate folder containing only the T1 images and labels from the BraTS data set. For the input, I had provided a complete list of the T1 filenames inside that folder, so I expected that the `LoadNiftid` would only read in that 1 single channel input.

I did try your su

[2020-07-02 17:18] Nic-Ma commented on #678
Hi @jillianlee ,

1. OK, if you changed to only use 1 channel data, your previous `AddChanneld` logic is correct. The error was caused by different image sizes. You need to add a `Resized` transform to align all images in a batch.
2. I think `rescale` is not a good idea for labels because it will interpolate values. You can define your own transform to do your specific conversion.

Thanks.

[2020-07-02 22:43] jillianlee commented on #678
Hi @Nic-Ma

Ah I see! That makes sense. Sorry for all the questions, I'm now having difficulty with `Resized`. I've tried figuring out whats wrong by referring to other issues that have used this command but I still can't figure it out.

The new transforms list is as follows:
[code]
and it gives me the following error

[code]

You are definitely correct though, when I tried adding CropForegroundd,

[2020-07-03 00:16] wyli opened #688 "unsupported operation: more than one element of the written-to tensor refers to a single memory location"
**Describe the bug**
running the docker image on Mac OS raises an error:
[code]
related to https://github.com/pytorch/pytorch/issues/33812

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm -ti --ipc=host projectmonai/monai:0.2.0`
2. `python -m tests.test_png_rw`

**Expected behavior**
no RuntimeError

**Environment (please complete the following information):**
 - OS mac OS 10

[2020-07-03 01:27] #688 closed

[2020-07-03 01:32] Nic-Ma commented on #678
Hi @jillianlee ,

1. I think maybe you encountered a known issue of PyTorch: https://github.com/pytorch/pytorch/issues/33812.
Could you please help update your MONAI source code to the latest of master branch and try again?
2. In order to debug transforms, you can try to insert [DataStatsd](https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/utility/dictionary.py#L260) transform in

[2020-07-03 03:32] jillianlee commented on #678
Hi @Nic-Ma

Thanks again for your continued help.

So I've updated both Pytorch and MONAI:
[code]
and I've added `DataStatsd`. I am a bit more confused now however, as this is showing that all the images and labels are the same shape (`Shape: (1, 160, 160, 78)`).

1. If I have
[code]
The error is: `RuntimeError: Sizes of tensors must match except in dimension 1. Got 39 and 40 in dimension 4`

2. I

[2020-07-03 05:37] Nic-Ma commented on #678
Hi @jillianlee ,

1. I think your "negative strides" issue is something related to contiguous data in Numpy, I submitted a PR https://github.com/Project-MONAI/MONAI/pull/691 to convert the data type before transforms.
Could you please help download my PR and help verify locally again? Hope it can fix your issue.
2. `CropForegroundd` will only keep the valid area and change the data shape, so you n

[2020-07-03 06:27] jillianlee commented on #678
Hi @Nic-Ma

So I have downloaded MONAI version: 0.2.0rc3+18.gd5e56ab, and am still getting the same error when trying to use `Resized`.

Here is the full error traceback:
[code]

I'm also still a bit confused as to why this transform is actually needed? The original motivation was that the data set was not consistent in size, but I found with DataStatsd that all the images actually are consistent

[2020-07-03 07:00] Nic-Ma commented on #678
1. I think maybe you didn't download the code of my PR, did you use the below command?
`git clone https://github.com/Nic-Ma/MONAI.git --branch 678-fix-astesnor-issue`
And set PYTHONPATH to this folder?
2. Could you please help print the size of all the images in a batch? To see whether they are consistent in size.

Thanks.

[2020-07-03 07:12] carlpe commented on #684
The good news is that the error disappeared once I updated to the latest code (tag d5e56ab0).

The bad news is that a new error appeared further down, illustrated in the below screenshot.

![Untitled](https://user-images.githubusercontent.com/54416001/86441831-1c956a00-bd0d-11ea-9a05-c73ba4410d65.png)

[2020-07-03 07:18] Nic-Ma commented on #684
Hi @ericspod ,

Could you please help take a look at this issue in the GAN notebook?
Thanks in advance.

[2020-07-03 08:29] jillianlee commented on #678
Ah you're right, I did not set the PYTHONPATH correctly. This did fix the error with the `Resized` so I merged the changes
 with my MONAI module! Thanks so much, but the original size mismatch error at the model input is back again, even with the `Resized` transform:
`RuntimeError: Sizes of tensors must match except in dimension 1. Got 39 and 40 in dimension 4`

The `DataStatsd` debugger is showin

[2020-07-03 10:26] wyli commented on #678
thanks for the detailed feedback and discussions @jillianlee @Nic-Ma, now it's a UNet usage issue, the size of the UNet input should be divisible by 4 in this configuration. making the last spatial dim size 76 or 80 will resolve this issue. There are a few possible ways to achieve this in MONAI (padding, cropping, resizing, random affine transform...)  cc @ericspod

[2020-07-03 11:05] wyli commented on #684
I think this is a known issue of multi-processing on Windows, we had a workaround for the example scripts https://github.com/Project-MONAI/MONAI/pull/307, might be difficult to realise it in the notebooks. A quick fix would be setting num_workers to 0

[2020-07-03 11:14] carlpe commented on #684
Setting num_worker = 0 did work here.

However it is not utilizing the GPU.

[2020-07-03 12:27] ericspod commented on #684
This is indeed an issue with multiprocessing in Windows because we don't have fork semantics and other things that are present in Unix-like environments. The way Python gets around this is to create new processes which imports parent code as module, this relies on "if __name__ == '__main__':" blocks in the start script preventing setup code being called in the child since __name__ won't be __main_

[2020-07-03 13:34] wyli commented on #684
@ericspod  thanks for the detailed explanations!

[2020-07-03 13:34] #684 closed

[2020-07-03 17:30] jillianlee commented on #678
Hi @wyli

So I tried using `Resized` and set spatial_size to 160, 160, 72 and I get a very similar error to before:
`RuntimeError: Sizes of tensors must match except in dimension 1. Got 9 and 10 in dimension 2`

This error also occurs if I set the size to a cube of dimensions 72, 72, 72

If I use SpatialPadd instead to resize to 168, 168, 80, I again get a similar error:
`RuntimeError: Sizes of te

[2020-07-03 17:47] wyli commented on #678
Sorry I was not verifying it properly. The size should be divisible by 16, so `160,160,80` would work.
If you want to use image size `160,160,72` or `168,168,80`, then change the network to have `channels=(16, 32, 64, 128), strids=(2, 2, 2)` from `channels=(16, 32, 64, 128, 256), strides=(2, 2, 2, 2)`

[2020-07-03 19:15] jillianlee commented on #678
This worked! Thank you. I did also have to change the output_channel to 1 which I believe makes snse. The image input is a single channeled image and the label is a multi-class single channeled label, so a single output channel with a loss function with to_onehot_y = True should correctly run training right?

Thanks again, both of you! I greatly appreciate all your help.

[2020-07-03 20:19] wyli commented on #678
sure thanks for your detailed follow-up @jillianlee, it's helpful for the project as well.

I can't remember exactly how the original labels are organised, but you may want to use sigmoid=True instead of softmax=True, if the labels are not mutually exclusive.

[2020-07-03 20:19] #678 closed

[2020-07-03 23:43] Nic-Ma commented on #621
Hi @IsaacYangSLA , could you please help take a look and help on this request? Please feel free to set up discussion if necessary.
Thanks in advance.

[2020-07-04 04:33] JuanPabloMontoya271 opened #695 "Use different input_sizes on Densenet121 Classifier"
Hi, I have a CT dataset, and I am trying to train as in the MR classification example, the thing is, my CTs have a volume dimension of arround 36 and 46, and in the example, they use a resize of 96,96,96 shape, which is not optimal for my input shape. which is originaly (512,512, ~40), the thing is that I dont know how to select the correct input dimensions in order to make the densenet model to w

[2020-07-04 14:38] Nic-Ma commented on #695
Hi @JuanPabloMontoya271 ,

Thanks for your interest here!
1. I think you can use the `Resize` or `Resized` transform, and set the `spatial_size` to (-1, -1, 48) to only resize the `D` dim.
2. Could you please help share your test code? I didn't understand why your images have different shape: [10, 1, 48, 96, 96] and [10, 1, 96, 96, 48].

Thanks.

[2020-07-04 22:35] nguyen14ck commented on #606
@Nic-Ma

"RandomSpatialCropSamplesd" returns a number of patches at the same time. This acts like a batch.
Let say the usual batch_size is 4 (or 8 or 16), while the number of samples can be larger (for example: 128).
Then the actual_batch_size = batch_size * number_of_samples = 4*128 = 512 with spatial_size (96, 96, 96).
My GPU does not have enough memory to handle large "actual_batch_size" like t

[2020-07-04 23:27] Nic-Ma commented on #606
Hi @nguyen14ck ,

Yes, random version `GridDataset` is a cool idea, @wyli and I discussed it before, will try to implement later.
And to save memory for caching, maybe you can try our `PersistentDataset`: https://github.com/Project-MONAI/MONAI/blob/master/monai/data/dataset.py#L61.

Thanks.

[2020-07-05 07:07] SHAUNZXY opened #696 "How to deal with segmentation with multi-class labels?"
Hi,
Would it be possible to modify the 3d segmentation example to a multi-class labels segmentation?
Best,
Shaun

[2020-07-05 07:24] Nic-Ma opened #697 "Develop multi-labels segmentation tutorial based on Brats"
**Is your feature request related to a problem? Please describe.**
1. We already received several issues from users that how to develop a multi-labels segmentation experiment referring to the spleen segmentation tutorial(it's a multi-classes task), it's mainly about `One-Hot labels`, `Softmax`, `Sigmoid` and different `post transforms`. I think we can build a separate multi-labels segmentation tut

[2020-07-05 07:33] Nic-Ma commented on #696
Hi @SHAUNZXY ,

Thanks for your feature request here!
I think it's similar to https://github.com/Project-MONAI/MONAI/issues/415.
As the existing spleen tutorial is a multi-classes segmentation task, I will also add a multi-labels segmentation tutorial soon.

Thanks.

[2020-07-05 08:26] SHAUNZXY commented on #696
Thanks so much!

[2020-07-05 22:56] arp95 commented on #361
Hi @Nic-Ma . I am new to this. Can I contribute to this issue?

[2020-07-05 23:47] Nic-Ma commented on #361
Hi @arp95 ,

Of course, welcome to contribute a PR here!
You can take a look at our examples/notebooks, if you found some strings not in `f"XXX{xxx}XXX"` format, please update them.

Thanks.

[2020-07-06 00:09] arp95 commented on #361
@Nic-Ma you are referring to the print statements where i need to do the formatting of f-string format?

[2020-07-06 00:14] Nic-Ma commented on #361
Hi @arp95 ,

You can check the strings in https://github.com/Project-MONAI/MONAI/tree/master/examples/notebooks
For example, change:
[code]
to:
[code]

Thanks.

[2020-07-06 01:11] arp95 commented on #361
@Nic-Ma Thanks for the explanation. Working on it.

[2020-07-06 04:59] JuanPabloMontoya271 commented on #695
def main():

    train_files = train
    val_files = test
    train_transforms = Compose(
        [
            LoadNiftid(keys=["img"]),
            AddChanneld(keys=["img"]),
            ScaleIntensityd(keys=["img"]),
            Resized(keys=["img"], spatial_size=(96,96,48 )),
            RandRotate90d(keys=["img"], prob=0.8, spatial_axes=[0, 2]),
            ToTensord(keys=["img"]),
        ]

[2020-07-06 04:59] JuanPabloMontoya271 commented on #695
this is the code, it is the same as the 3D classification example
I just changed the input size on resized

[2020-07-06 05:16] Nic-Ma commented on #695
Hi @JuanPabloMontoya271 ,

As your images have different size at H, W, D dims, I think you should Resize after random rotate, which is the root cause of your error:
[code]
And I am not sure whether you need `random rotate` for your dataset as augmentation, please double confirm that.

Thanks.

[2020-07-06 05:46] JuanPabloMontoya271 commented on #695
I will remove it, so to confirm, I can choose any input size, and it will work with the neural net?

[2020-07-06 15:07] pfdamasceno commented on #135
Hi all, I'd happy to contribute as well.

In particular, after reading the DICOM, properly sorting slices [can be a bit tricky](https://github.com/UCSF-intelligent-imaging/I2T2/blob/master/I2T2/io.py#L163). Is this a useful / desired feature?

[2020-07-06 16:15] aylward commented on #135
ITK has a fairly good function for sorting DICOM.  Here is the Python code
for using it:
https://itk.org/ITKExamples/src/IO/GDCM/ReadDICOMSeriesAndWrite3DImage/Documentation.html

On Mon, Jul 6, 2020 at 11:07 AM Pablo F. Damasceno <notifications@github.com>
wrote:

--
Stephen R. Aylward, Ph.D.
Senior Director of Strategic Initiatives
---
Kitware: *Advancing the frontiers of understanding*
*by deve

[2020-07-06 16:18] Nic-Ma commented on #135
Hi @mjorgecardoso ,

Could you please help share the latest status of DICOM discussion in our IO working group?
Thanks.

[2020-07-06 17:21] aylward commented on #135
https://github.com/Project-MONAI/MONAI/wiki/IO-Working-Group-Meeting-Notes

On Mon, Jul 6, 2020 at 12:18 PM Nic Ma <notifications@github.com> wrote:

--
Stephen R. Aylward, Ph.D.
Senior Director of Strategic Initiatives
---
Kitware: *Advancing the frontiers of understanding*
*by developing innovative open-source software platforms*
*and integrating them into research, processes, and products.*

[2020-07-06 18:52] petteriTeikari opened #701 "RuntimeError: received 0 items of ancdata"
"Stochastic" issue happening with training at some point. Training starts okay for _x_ number of epochs and at some point this often happens with `Pytorch Lightning` (quite close still to the [Build a segmentation workflow (with PyTorch Lightning)
](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d_lightning.ipynb))
, and is probably propagating from Pyto

[2020-07-06 21:49] #695 closed

[2020-07-07 01:40] JuanPabloMontoya271 opened #713 "GradCam"
Is there any utility for computing and displaying gradcams?

[2020-07-07 06:48] Nic-Ma commented on #701
Hi @petteriTeikari ,

Thanks for your bug report, could you please help provide the test program to reproduce this issue?
Hi @marksgraham , have you seen this issue with PyTorch Lightning before?

Thanks.

[2020-07-07 06:55] Nic-Ma commented on #713
Hi @JuanPabloMontoya271 ,

Thanks for your suggestion here, we haven't implemented GradCam utility so far, it could be useful to help understand the network. Marked for working group discussion.

Thanks.

[2020-07-07 08:35] Nic-Ma opened #714 "Add LabelToMask transform"
**Is your feature request related to a problem? Please describe.**
Need a transform to convert different kinds of segmentation labels to binary masks to pre-process image for other tasks.
labels can be 1 channel or multi-channels in One-Hot format.

[2020-07-07 14:50] #697 closed

[2020-07-07 14:51] wyli commented on #696
should be addressed by #715, if it's not the case, please file a new issue.

[2020-07-07 14:51] #696 closed

[2020-07-07 15:01] #388 closed

[2020-07-07 15:32] Nic-Ma commented on #609
Hi @wyli ,

I am making a PR to support `MaskIntensity` transform for this feature request.
So I will reopen for a while.
Thanks.

[2020-07-08 06:19] mjq93 opened #718 "Test-Time-Augmentation(TTA)"
Hi,
    I wonder if you can add some tools for test-time-augmentation, especially in semantic segmentation tasks.
Thank you

[2020-07-08 06:56] jillianlee opened #719 "GridPatchDataset or ordered SpatialCropSamples"
**Is your feature request related to a problem? Please describe.**
I was looking to train a 2D segmentation network on all the slices of a 3D volume. Currently, the GridPatchDataset is a bit odd to use? I get a few errors from just using the `utils.misc.first function`
[code]
`AttributeError: 'str' object has no attribute 'shape'`

There also is no current ___getitem___ function for GridPatchDatas

[2020-07-08 07:01] Nic-Ma commented on #718
Hi @shuanggou ,

Thanks for your feature request.
TTA is very useful for model evaluation. I will try to develop several other `EnsembleEvaluators`(average, vote, etc.) besides existing `SupervisedEvaluator` under `engines`, and then develop some tutorial to show the usage.
Thanks.

[2020-07-08 07:09] tvercaut commented on #718
@taigw Feel free to chime in, it would be great to have an implementation of our paper in MONAI:
Wang, Guotai, Wenqi Li, Michael Aertsen, Jan Deprest, Sébastien Ourselin, and Tom Vercauteren. "Aleatoric uncertainty estimation with test-time augmentation for medical image segmentation with convolutional neural networks." Neurocomputing 338 (2019): 34-45. https://doi.org/10.1016/j.neucom.2019.01.103

[2020-07-08 07:11] Nic-Ma commented on #719
Hi @jillianlee ,

Thanks for your good experiment here.
1. `GridPatchDataset` was designed to connect other Datasets, may be not as your expectation. We are also trying to enhance it in the next release.
2. I would suggest using the `RandSpatialCropSamples` for your case, if you set `roi_size=(160, 160, 1)` and `random_center=True`, it will select a different random center for every single item in

[2020-07-08 07:30] jillianlee commented on #719
Hi @Nic-Ma

Thank you for clarifying the characteristics of  `RandSpatialCropSamples` for me! That helped a lot, and this function will serve well for my purpose. :)

Best,
Jillian

[2020-07-08 07:30] #719 closed

[2020-07-08 07:41] RespectKnowledge commented on #604
Hi,
It is great framework for researcher.
could you provide 3D segmentation demo other than Brain dataset?
Thanks in advance

[2020-07-08 07:45] Nic-Ma commented on #604
Hi @RespectKnowledge ,

Thanks for your interest here, actually, you can find many examples or notebooks at:
https://github.com/Project-MONAI/MONAI/tree/master/examples
Including Spleen segmentation, Brain tumor segmentation or synthetic data segmentation, etc.

Thanks.

[2020-07-08 10:40] #609 closed

[2020-07-08 11:12] charleygros opened #721 "Soft or Hard ground-truth masks?"
Dear MONAI team,

I was wondering: When training or testing a segmentation model: do you binarize the ground-truth masks, that have been transformed by preprocessing / data augmentation operations, just before feeding the network? Is there a parameter that controls this? If so, what are your thoughts on the best practice?

Cheers

[2020-07-08 15:17] arp95 commented on #601
@wyli is this issue open? Can i work on it?

[2020-07-08 15:19] wyli commented on #601
yes, please go ahead, I'm assigning this ticket to you.

[2020-07-08 15:32] lsqshr opened #722 "Make torch.Upsample an alternative upsampling for Unet"
https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/unet.py

The default Unet module now only uses deconvolution for feature map upsampling. It introduces checkerboard artefacts when you use it as a GAN generator. Can we add torch.Upsample as another option for upsampling?

I had to wrap it as following to make this simple switch:
[code]

[2020-07-08 16:06] wyli commented on #722
Thanks for the feature request, there is an upsampling module added recently,  https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/blocks/upsample.py#L21 might also be interesting to integrate it here

I'm labelling this "contribution wanted" please feel free to open a pull request

[2020-07-08 16:10] lsqshr commented on #722
Thanks. It's good to know. I'll open a PR.

[2020-07-08 16:20] wyli commented on #721
Hi @charleygros I think if the soft masks carry useful information such as level of confidence then it might be useful to incorporate it in the loss function. In that case there's no need to binarise them, but may require some normalisation to make them to be in a reasonable value range. most of the loss functions in monai don't assume binary labels when "to_one_hot_y" is set to False.

[2020-07-09 15:07] #714 closed

[2020-07-09 15:53] benjamin-gorman opened #727 "B008 Do not perform function calls in argument defaults"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
1. Remove [B008 from the ignore list in setup.cfg](https://github.com/Project-MONAI/MONAI/blob/master/setup.cfg#L47)
2. Run ``./runtests.sh --flake8``

[code]

**Environment**
- OS: Ubuntu 18.04
- Python version: 3.7.5
- MONAI version: 8516865

[code]

[2020-07-09 16:05] benjamin-gorman opened #729 "Signature of "randomize" incompatible with supertype "Randomizable""
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
1. Search for and remove ``# type: ignore # see issue #729``
2. Run ``./runtests.sh --mypy``

[code]

**Additional context**

See #495 for a similar issue

**Environment**
- OS: Ubuntu 18.04
- Python version: 3.7.5
- MONAI version: 8516865

[code]

[2020-07-09 16:37] benjamin-gorman opened #730 "Cannot resolve forward reference in type annotations"
**Describe the bug**

Even with the fix of [``set_type_checking_flag = True``](https://github.com/Project-MONAI/MONAI/blob/master/docs/source/conf.py#L98) there are still unresolved forward references.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to ``docs/``
2. With [``set_type_checking_flag = False``](https://github.com/Project-MONAI/MONAI/blob/master/docs/source/conf.py#L98)
3. Run

[2020-07-09 19:49] wyli opened #731 "optional convs in ResidualSE"
**Is your feature request related to a problem? Please describe.**
the current ResidualSE is x + SE_scaled(x),
would make it more generic (as a new layer) if we add an optional additional conv:
x + [conv(conv(x)) + SE_scaled(x)]

(thanks @wentaozhu!)

context:
https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/blocks/squeeze_and_excitation.py#L92

[2020-07-10 02:58] Nic-Ma commented on #730
Hi @benjamin-gorman ,

Thanks for your bug report.
I submitted PR #734 to fix this ignite related typehints issue.
Thanks.

[2020-07-10 05:44] MunemuraSuzuki opened #735 "PicklingError on spleen_segmentation_3d.ipynb"
Hi I'm new to MONAI and Pytorch

I'm trying 'Medical image segmentation tutorial'.
I copied and run the cell under 'Execute a typical PyTorch training process', but  while it displayed 'epoch 1/600', PickingError raised.
PicklingError: Can't pickle <function CropForegroundd.<lambda> at 0x0000028FCC417510>: attribute lookup CropForegroundd.<lambda> on monai.transforms.croppad.dictionary failed
Plea

[2020-07-10 08:53] Nic-Ma commented on #735
Hi @MunemuraSuzuki ,

Thanks for your interest here.
May I know which tutorial you ran? We don't have a tutorial named "Medical image segmentation tutorial".
I think you mean the spleen segmentation tutorial:
https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d.ipynb
I tried to run it and can't reproduce your issue.

Thanks.

[2020-07-10 08:54] Nic-Ma commented on #729
Hi @benjamin-gorman ,

Thanks for your bug report, I submitted PR #736 to fix this issue.

[2020-07-10 09:47] #730 closed

[2020-07-10 09:58] MunemuraSuzuki commented on #735
Hi @Nic-Ma

Thank you for quick response.
Yes, I tried the spleen_segmentation_3d.ipynb.
I tired again, but got the same result.
Now, I copied the all output message.
Is there any key to solve the problem?

Thanks.

----------
epoch 1/600

---------------------------------------------------------------------------
PicklingError                             Traceback (most recent call last)
<ipython

[2020-07-10 10:20] #731 closed

[2020-07-10 11:21] wyli opened #738 "enhance layer factory doctrings"
**Is your feature request related to a problem? Please describe.**
currently the available options of the layer factory functions are unclear,
the relevant docstring needs to be updated.

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/1d6045b90f85d1b593bd91e7f31e73a5a7cd7702/monai/networks/layers/factories.py#L173-L177

[2020-07-10 14:58] #738 closed

[2020-07-10 15:43] Nic-Ma commented on #735
Hi @MunemuraSuzuki ,

I think maybe your issue is something related to the multi-processing in windows.
You can refer to: https://github.com/Project-MONAI/MONAI/issues/684 first.

Thanks.

[2020-07-10 17:11] #729 closed

[2020-07-10 22:54] brymrsh opened #741 "MedNIST Example Fails on Colab under MONAI 0.2.0 but works on 0.1.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Colab and run through example
2. Install MONAI 0.1.0 to see that it works but fails under 0.2.0
3. Run commands Documented in example

**Expected behavior**
Can you please update example to work under 0.2.0.

.

[2020-07-10 23:38] Nic-Ma commented on #741
Hi @brymrsh ,

Thanks for your bug report!
1. Could you please help confirm whether the MedNIST tutorial in MONAI is correct? https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/mednist_tutorial.ipynb
2. Could you please help provide your error log?

@wyli we need to double-check the MedNIST tutorial in Colab.

Thanks.

[2020-07-11 00:19] charleygros commented on #721
Thanks for your prompt and helpful answer @wyli ! Really appreciate it.

Great to know that loss functions in `monai` do not assume binary labels.

Do you mean: "make sure that your soft masks values are continuous between 0 and 1"? I can't think of a case where it would go to undesirable values... Am I missing something?

[2020-07-11 09:56] wyli commented on #741
thanks -- now fixed

[2020-07-11 12:20] tugot17 opened #743 "[question] Why Pytorch Lightning is not a default "workflow" that is used under the hood?"
Why instead of fully rely on pytorch lightning with it's research oriented features (such  as multinode training or accumulated gradients) the Monai community is spending time on working on their own approach for multigpu training etc.?

Wouldn't be be easier for both contributors and users to focus on "medicine" oriented features and leave training part to Pytorch Lightning community?

[2020-07-11 13:33] MunemuraSuzuki commented on #735
Hi @Nic-Ma

According to your advise, I refered to  #684
I  set num_workers to 0, and the cord worked !

Thanks.

[2020-07-11 13:33] #735 closed

[2020-07-11 13:48] wyli commented on #743
according to our tutorials/examples, monai works perfectly fine with
pytorch-ignite, catalyst, pytorch lighting, native pytorch. you can use
monai as a library instead of a framework. And there isn’t a plan to
“working on their own approach” unless some healthcare imaging related
requirements emerge as we develop new features.

“easier for both contributors and users” is not necessarily true. for

[2020-07-11 15:30] tugot17 commented on #743
@wyli  Ok, now I see it, thanks

[2020-07-11 15:30] #743 closed

[2020-07-12 01:24] brymrsh commented on #741
I pulled and ran in my AWS environment and I had same issue.  Works for 0.1.0 but fails for 0.2.0.

Thanks,
Bryan

From: Nic Ma <notifications@github.com>
Reply-To: Project-MONAI/MONAI <reply@reply.github.com>
Date: Friday, July 10, 2020 at 7:39 PM
To: Project-MONAI/MONAI <MONAI@noreply.github.com>
Cc: "Marsh, Bryan" <brymrsh@amazon.com>, Mention <mention@noreply.github.com>
Subject: Re: [Project-

[2020-07-12 02:30] Nic-Ma commented on #741
Hi @brymrsh , could you please help provide your error log?

Hi @wyli , seems the issue exists in some specific environment, I reopen it.

Thanks.

[2020-07-12 08:32] marksgraham commented on #701
I haven't seen this problem before - did you make any progress with it, @petteriTeikari ?

[2020-07-13 08:31] mjq93 opened #746 "Bug about function "compute_meandice" in monai/metrics/meandice.py."
Hi,
    I used the function  "compute_meandice", and found that result is nan if the labels are all negative samples. I think maybe it can be modified this way:
![image](https://user-images.githubusercontent.com/11666931/87281911-4b3dec80-c526-11ea-8db2-a8e28de19aab.png)
Thank you

[2020-07-13 08:36] Nic-Ma commented on #746
Hi @mjq93 ,

Thanks for your interest here.
Actually, I think "Nan" is expected output here, and we should skip "Nan" when computing the average value.
You can find more details in [DiceMetric](https://github.com/Project-MONAI/MONAI/blob/master/monai/metrics/meandice.py#L22).

Thanks.

[2020-07-13 08:50] Nic-Ma opened #747 "Add example to show distributed training"
**Is your feature request related to a problem? Please describe.**
In order to show the flexibility of MONAI APIs for the complicated environment, need to investigate and develop an example for multi-nodes multi-GPUs training.
The first version can be a PyTorch DDP based on example with `nccl` backend, may also add Horovod example in future.

[2020-07-13 09:48] Nic-Ma commented on #91
Mark: Venn is working on this ticket.
Thanks.

[2020-07-13 16:10] #471 closed

[2020-07-13 17:12] petteriTeikari commented on #701
I "solved" this by using the standard `train_ds = Dataset` instead of the `train_ds = CacheDataset` and that has not occurred now, and can report back (and try to do a more compact example) when I go back to cached world

[2020-07-14 00:45] petteriTeikari opened #750 "Using 3rd Party Pytorch Networks with MONAI loader+transformations?"
**Is your feature request related to a problem? Please describe.**
I wanted to try a 3D segmentation net (namely this https://github.com/ozan-oktay/Attention-Gated-Networks/blob/master/models/networks/unet_CT_multi_att_dsv_3D.py) with my existing codebase

by simply replacing this (other parts similar to the to Spleen Pytorch Lightning tutorial https://github.com/Project-MONAI/MONAI/blob/master/ex

[2020-07-14 00:54] arp95 commented on #601
@Nic-Ma made changes as suggested in the review. do i need to work on tests or it would be done seperately?

[2020-07-14 01:14] Nic-Ma commented on #601
Hi @arp95 ,

Actually, almost all the modules have the corresponding tests, so please add a unit test file to your PR referring to the test for regular DiceLoss: https://github.com/Project-MONAI/MONAI/blob/master/tests/test_dice_loss.py
Thanks.

[2020-07-14 01:15] arp95 commented on #601
Thanks @Nic-Ma . Will work on that.

[2020-07-14 01:20] Nic-Ma commented on #750
Hi @petteriTeikari ,

Thanks for your experiments with MONAI.
I didn't quite understand the "double load" issue you said, how did you detect that it loaded twice?
Is it some PyTorch Lightning specific issue?

Thanks.

[2020-07-14 01:25] Nic-Ma opened #751 "Refactor loaders for common logic"
**Is your feature request related to a problem? Please describe.**
Currently, most of the logic in `LoadNiftid`, `LoadPNGd` and `LoadNumpyd` are similar with duplicated code.
Need to define base class for them.

[2020-07-14 02:02] mjq93 commented on #746
Hi @Nic-Ma ,
Thank you for your kind reply, I got it. I think you are right.
Thanks.

[2020-07-14 02:06] #746 closed

[2020-07-14 03:23] bartmch opened #753 "NiftiSaver saves image unreadable with SimpleITK"
**Describe the bug**
The saved results in "research>coplenet-pneumonia-lesion-segmentation" cannot be opened in ITK-SNAP. It results in an error (see screenshot). I can open the files in Python with SimpleITK.ReadImage()

**To Reproduce**
Steps to reproduce the behavior:
Run the "coplenet-pneumonia-lesion-segmentation" MONAI research example and try to open the segmentation mask (e.g.: .../MONAI/r

[2020-07-14 03:27] Nic-Ma commented on #753
Hi @wyli , could you please help check this issue? Did we test NiftiSaver with SimpleITK before?
Thanks.

[2020-07-14 03:34] bartmch commented on #753
Setting the meta_data to None results in the same ITK-SNAP issue. I'm working with ITK-SNAP version 3.8.0
Opening the same nii.gz with SimpleITK in Python seems to work. Saving it from here with `sitk.ImageFileWriter()` yields the same error.

[2020-07-14 03:56] Nic-Ma opened #754 "Add distributed evaluation example"
**Is your feature request related to a problem? Please describe.**
Add distributed evaluation example to show how to load model parameters for every GPU and how to reduce evaluation metrics on different GPU.

[2020-07-14 05:23] JuanPabloMontoya271 commented on #713
Hi, about this feature, I ended up doing the 3D Gradcam code by myself, I would be happy to share it with you if you want to implement it. Its the least I can do, this opensource project has helped me a lot in my projects.

:)

[2020-07-14 05:58] Nic-Ma commented on #713
Hi @JuanPabloMontoya271 ,

Cool! Thanks very much for sharing!
Glad to learn from it.
Or you can submit a PR directly if you like.

Thanks in advance.

[2020-07-14 07:08] jslalu opened #755 "DataLoader failed when num_workers greater than zero"
I am new to MONAI. When I set num_workers  greater than 0, the following error occurred. Does anybody have a solution to this problem?

RuntimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means that you are not using fork to start your
        child processes and you have forgotten to

[2020-07-14 07:44] Nic-Ma commented on #755
Hi @jslalu ,

May I know your software environment?
And what example program did your run?
Thanks.

[2020-07-14 10:43] jslalu commented on #755
@Nic-Ma I run the program in Windows 10, and here are versions of some key modules.

MONAI version: 0.2.0
Python version: 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)]
Numpy version: 1.18.5
Pytorch version: 1.5.1

Optional dependencies:
Pytorch Ignite version: 0.4.0
Nibabel version: 3.1.1
scikit-image version: 0.17.2
Pillow version: 7.2.0
Tensorboard version:

[2020-07-14 12:01] #747 closed

[2020-07-14 12:58] #751 closed

[2020-07-14 13:20] petteriTeikari commented on #750
@Nic-Ma "Double-load" as in when I start training on first epoch the GPU memory usage is ~2.7 GB, and on first validation set, the GPU memory usage goes to ~6.7 GB, and at the initial validation loading the memory use went above 7.2 GB briefly.

Which is not the behavior that I have seen with the standard "MONAI U-Net", which allocates the GPU ram it needs for the model at start?

And actually aft

[2020-07-14 13:27] Nic-Ma commented on #755
Hi @jslalu ,

I feel your issue is similar to https://github.com/Project-MONAI/MONAI/issues/306, it's a known issue of PyTorch.
Can we you add `main` function and try again?

Thanks.

[2020-07-14 13:43] Nic-Ma commented on #750
Hi @petteriTeikari ,

I checked your network implementation, unfortunately, I didn't find any explicit memory-related difference between your network and MONAI UNet.
Could you please help paste all your program here, maybe our PyTorch Lightning experts @marksgraham and @ericspod can also help take a look at your issue.

Thanks.

[2020-07-14 14:46] #754 closed

[2020-07-15 00:30] jslalu commented on #755
@Nic-Ma It works, but I feel no spped up in every iteration. Is it because my batch size is too small (batch_size = 5, num_workers = 5)? In which case will the num_worksers param make a difference?

Thanks.

[2020-07-15 04:18] YuhuaBillChen opened #759 "Elastic3D causes error when using mixed precision training (apex.amp)"
**Describe the bug**
When using the apex.amp to train a model with MONAI's Elastic3D transformation as input, it raises errors about "Double Tensor" is being used in the graph, which stops the mixed-precision training because amp assumes every tensor in the model is float32.
After removing the Elastic3D transform, the whole program works like a charm, so it must be the Elastic3D causing the error.

[2020-07-15 06:42] Nic-Ma commented on #755
Hi @jslalu ,

I think that's some common PyTorch topic, maybe you need to do some experiments for more details?
Please feel free to raise issues if related to MONAI bugs.

Thanks.

[2020-07-15 06:59] Nic-Ma commented on #759
Hi @YuhuaBillChen ,

Thanks for your experiments and detailed results.
As PyTorch is going to release v1.6 soon which will officially support AMP, we didn't enable AMP by NVIDIA Apex.
We will totally support AMP when PyTorch v1.6 released and try to make all modules compatible.
If you want to use Apex for your experiments now, maybe you can easily modify the code to work around first?

Thanks.

[2020-07-15 13:18] murraycutforth opened #761 "Incorrect operation of dense_patch_slices"
**Describe the bug**
I found that the sliding window inference function was much slower than expected. Looking into this, I found that the dense_patch_slices function is returning many duplicated slices for certain inputs.

**To Reproduce**
For example:

[code]

**Expected behavior**
dense_patch_slices should return a list of slice objects which cover the volume, overlap by the specified scan inte

[2020-07-15 15:53] petteriTeikari commented on #750
@Nic-Ma

I had a bit of look what is going on and actually yes the increase in GPU memory occurs always upon first validation (on first epoch), but similar funky nondeterministic error occurred during training with another error message though "AttributeError: 'Net' object has no attribute 'self' ": https://github.com/petteriTeikari/MONAI_lightning_segmentation/issues/1

I will test these without

[2020-07-15 16:42] Nic-Ma commented on #761
Hi @murraycutforth ,

Thanks very much for your bug report and detailed experiments!
I submitted PR https://github.com/Project-MONAI/MONAI/pull/763 to fix this issue.

Thanks.

[2020-07-15 17:38] Nic-Ma commented on #621
Hi @IsaacYangSLA ,

Could you please help provide your update here?
Really cool to see the versions now.
Thanks very much!

[2020-07-15 18:10] IsaacYangSLA commented on #621
Hi @Nic-Ma and @wyli , I just updated the document hosting website.  Here are the current versions, 0.1.0, 0.2.0, stable and latest.  0.1.0 and 0.2.0 were generated from those two tags.  Stable is the latest release tag and identical to 0.2.0 for now.  Latest is always the head of master branch.
When a new tag is added to the repo, which follows the semantic version [PEP 440]( https://www.python.o

[2020-07-15 18:11] #761 closed

[2020-07-15 22:50] Nic-Ma commented on #761
Hi @murraycutforth, PR has been merged, could you please help update to the latest code and verify again?

Thanks.

[2020-07-16 08:34] mjq93 opened #764 "minior comment error"
![image](https://user-images.githubusercontent.com/11666931/87648023-32ca0e00-c782-11ea-98fa-dcb1c3098c35.png)
![image](https://user-images.githubusercontent.com/11666931/87648182-42495700-c782-11ea-8df5-c89fddb5bc83.png)

[2020-07-16 11:02] shenao1994 opened #765 "How to input two different modal images"
I am a MONAI rookie.I checked the documentation, but did not find a detailed explanation. Now I have two modal images of T2 and ADC. Can you tell me the specific method of input? Thank you!

[2020-07-16 12:39] bartmch opened #767 "3d ignite classification doesn't work on multiple GPU's"
**Describe the bug**
I want to use all available GPU's on a classification task comparable to the [ignite classification example](https://github.com/Project-MONAI/MONAI/blob/master/examples/classification_3d_ignite/densenet_training_dict.py). When I change the trainer from 'trainer = create_supervised_trainer(net, opt, loss, device, False, prepare_batch=prepare_batch)' to 'trainer = create_supervi

[2020-07-16 13:38] shenao1994 commented on #765
`    train_files = [{"t2Img": t2Img, "adcImg": adcImg, "label": label} for t2Img, adcImg, label in
                   zip(t2_image_file_list[:10],
                       adc_image_file_list[:10],
                       image_label_list[:10])]`
......
`        for batch_data in train_loader:
            step += 1
            inputs, labels = batch_data["t2Img"].to(device), batch_data["label"].to(de

[2020-07-16 14:06] Nic-Ma commented on #764
Hi @mjq93 ,

Thanks for your feedback.
These 2 parameters work together to generate the label ratio, so I put the same dos-string for them.
Anyway, I submitted PR #768 to update the doc-string and make it more clear.

Thanks.

[2020-07-16 14:27] #764 closed

[2020-07-16 14:28] Nic-Ma opened #769 "Update distributed training to use "torch.distributed.launch""
**Is your feature request related to a problem? Please describe.**
According to known issue of PyTorch: https://discuss.pytorch.org/t/mp-spawn-and-dataloader-performances-issue/84891,
It's more efficient to update to use "torch.distributed.launch".

[2020-07-16 14:35] Nic-Ma commented on #765
Hi @shenao1994 ,

I checked your code, seems you can get "t2Img" and "adImg" from `batch_data` keys, so could you please explain more details about your question?

Thanks.

[2020-07-16 14:54] wyli commented on #769
hi Nic, for the distributed training we should discuss the current feasible
options/external packages, tradeoffs, and need a concrete plan before
diving into the implementation.

also we didn’t have time to show the efficiency of multi-gpu training with
a good example/tutorial, we should take this opportunity to look into that
as well. shall we have a meeting early next week for these?

On Thu, 16

[2020-07-16 14:58] Nic-Ma commented on #767
Hi @bartmch ,

1. The ignite classification example in MONAI is based on ignite v0.3.0, I checked the ignite API code and I think it can't support multiple gpus training as it doesn't have `DataParallel` logic in it.
2. And I think `device=None` means CPU in ignite instead of all GPUs: https://github.com/pytorch/ignite/blob/v0.3.0/ignite/engine/__init__.py, that's the root cause for your error.

S

[2020-07-16 15:06] Nic-Ma commented on #769
Hi @wyli ,

Yes, I agree with you on the plan.
1. @ericspod and I just developed a very simple example to show distributed training with PyTorch native APIs.
2. We discussed other options(ignite v0.4, Horovod, Lightning, etc.) and I think we need to investigate more before move on.
3. For next steps, I plan to discuss/experiment all possible solutions internally(or provide small examples for every

[2020-07-16 15:08] shenao1994 commented on #765
@Nic-Ma I want to know how to modify the input so that it can inputs two modals of t2 and adc.In other words, input t2 and adc in the dictionary as two channels.I can only input t2 images now.

[2020-07-16 15:14] Nic-Ma commented on #765
Hi @shenao1994 ,

I see, if you want to make them into 2 channels, you can use the `ConcatItemsd` transform:
https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/utility/dictionary.py#L387
And if your images don't have channel dim, please use `AddChanneld` first.

Thanks.

[2020-07-16 15:17] shenao1994 commented on #765
@Nic-Ma
It's very helpful to me!

Thanks!

[2020-07-16 18:42] wyli commented on #741
thanks, triple checked that the Colab instance works fine. perhaps the Jupyter notebook has some issue in a certain environment, please file a separate ticket with more details if needed.

[2020-07-16 18:42] #741 closed

[2020-07-16 18:49] wyli commented on #753
yes, I can replicate this issue. ITK-SANP is not happy with long long int as the data type. please consider using some other visualisation software, or change line 55 of `run_inference.py` from
[code]
to
[code]

(please feel free to reopen if the problem persists)

[2020-07-16 18:49] #753 closed

[2020-07-17 00:36] benjamin-gorman opened #776 "Adopt, promote, and enforce *automatic* import sorting"
**Is your feature request related to a problem? Please describe.**

An extension of #340 to cover imports.

**Describe the solution you'd like**

[isort](https://timothycrosley.github.io/isort/) seems to be the popular option. Was [worked on](https://github.com/psf/black/issues/333#issuecomment-653737073) to include a [black profile](https://timothycrosley.github.io/isort/docs/configuration/profil

[2020-07-17 02:49] shenao1994 commented on #765
@Nic-Ma Sorry to bother you again.I modified the code according to your prompt.I modified the code according to your prompt. However, an error occurred during operation. Please help me look at the code. I modified **in-channels=2**, but told me to input two channels. I don't know how to input separately.
`train_transforms = Compose(
        [
            LoadNiftid(keys=["t2Img", "adcImg"]),

[2020-07-17 06:08] Nic-Ma commented on #765
Hi @shenao1994 ,

I saw you didn't put the `ConcatItemsd` transform in the transform chain and you didn't load your labels.
If this is a segmentation task, suggest:
[code]

Thanks.

[2020-07-17 06:12] Nic-Ma commented on #776
Hi @benjamin-gorman ,

Looks like an interesting format tool, do you plan to work a PR?
Thanks.

[2020-07-17 06:36] shenao1994 commented on #765
@Nic-Ma
Thank you very much for your suggestion.It's a classification task.So Can I modify the code according to your method in a classification task?

[2020-07-17 06:38] Nic-Ma commented on #765
I think so, if classification, you don't need to resize or rotate on labels.
Thanks.

[2020-07-17 11:55] Nic-Ma opened #780 "Develop tutorial to show ensemble methods"
**Is your feature request related to a problem? Please describe.**
As we already have `EnsembleEvaluator` and `MeanEnsemble`, `VoteEnsemble`, it's better to develop a tutorial to show how to easily use them in practice.

[2020-07-17 12:23] #769 closed

[2020-07-17 16:13] benjamin-gorman commented on #776
Opened #781

[2020-07-17 18:04] Warvito opened #783 "Duplicate import in example "persistent_dataset_speed.ipynb""
**Describe the bug**
There is a duplicated "import time" in cell [1] in [persistent_dataset_speed.ipynb](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/persistent_dataset_speed.ipynb) .

[2020-07-17 18:08] Warvito commented on #783
There is also an unused import numpy as np

[2020-07-18 09:45] #783 closed

[2020-07-20 03:13] Nic-Ma opened #785 "Add sample CUDA program based on PyTorch C++ extension"
**Is your feature request related to a problem? Please describe.**
In order to set up CUDA CI / CD support, we need to add some test program for CUDA extension first.
May replace with some other programs when we have enough CUDA kernels later.

[2020-07-20 05:43] guoyingbo opened #787 "monai 0.2.0 windows OS with the error "_pickle.PicklingError" when run "spleen_segmentation_3d.ipynb""
**Describe the bug**
A clear and concise description of what the bug is.
when I run spleen_segmentation_3d.ipynb on windows 10
it report error report:
_pickle.PicklingError: Can't pickle <function CropForegroundd.<lambda> at 0x000001E4C0440168>: attribute lookup CropForegroundd.<lambda> on monai.transforms.croppad.dictionary failed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

[2020-07-20 07:25] wantinghuang opened #788 "Reproducibility clarification"
Hi, I have a few questions about reproducibility in MONAI.
MONAI states "reproducible" as its feature but we all know that PyTorch states that some of its API is a source of nondeterminism in [docs](https://pytorch.org/docs/stable/notes/randomness.html).
In this sense, how does MONAI prevent nondeterminism and maintain reproducibility?
Does this mean that MONAI avoid all the functions that caused

[2020-07-20 07:25] tvercaut opened #789 "CUDA implementation of higher-order image resampling (e.g. cubic spline)"
**Is your feature request related to a problem? Please describe.**
Pytorch's [`grid-sample`](https://pytorch.org/docs/stable/nn.functional.html#grid-sample) function provides a GPU implementation of linear interpolation for image redsampling. Registration networks and warping-based augmentation layers may benefit from higher-order image resampling which is currently not available in either pytorch

[2020-07-20 07:28] tvercaut commented on #95
As per our meeting, these efforts are of interest:
https://github.com/DeepRegNet/DeepReg
https://github.com/airlab-unibas/airlab

Also https://github.com/voxelmorph/voxelmorph/tree/master/pytorch but note that the code there is GPL licensed.

[2020-07-20 07:30] tvercaut commented on #315
This issue hinges on #785

[2020-07-20 08:16] wyli commented on #388
this now becomes relevant https://github.com/Project-MONAI/MONAI/issues/785 but we’ll create more specific tickets when necessary

[2020-07-20 10:24] Nic-Ma commented on #787
Hi @guoyingbo ,

Thanks for your interest here.
I think this is known issue of PyTorch multi-processing, you can find more details and solution here: https://github.com/Project-MONAI/MONAI/issues/735

Thanks.

[2020-07-20 10:33] Nic-Ma commented on #788
Hi @wantinghuang ,

Thanks for your interest in project MONAI.
For the reproducible features, currently, MONAI keeps the same as PyTorch, we build MONAI based on PyTorch, may try to optimize more features in future versions.
For Clara & MONAI questions, @pdogra89 could you please help share some description?

Thanks.

[2020-07-20 10:36] #755 closed

[2020-07-20 10:37] #765 closed

[2020-07-20 10:37] #759 closed

[2020-07-20 11:20] #701 closed

[2020-07-20 11:22] Nic-Ma commented on #621
Hi @IsaacYangSLA ,

Thanks very much for your update! Really impressive update for our doc web pages.

[2020-07-20 11:22] #621 closed

[2020-07-20 11:24] #593 closed

[2020-07-20 11:25] Nic-Ma commented on #562
We already have a very detailed document for PyTorch users:
https://colab.research.google.com/drive/1boqy7ENpKrqaJoxFlbHIBnIODAs1Ih1T

Thanks.

[2020-07-20 11:25] #562 closed

[2020-07-20 11:27] #361 closed

[2020-07-20 16:15] wyli commented on #787
added to the FAQ https://github.com/Project-MONAI/MONAI/wiki/Frequently-asked-questions-and-answers (please feel free to reopen)

[2020-07-20 16:15] #787 closed

[2020-07-21 03:21] Nic-Ma opened #791 "Add Gaussian Smooth transform"
**Is your feature request related to a problem? Please describe.**
As we already have `Gaussian filter` in MONAI, we can develop the Gaussian Smooth transform now, it's used in many libs, like ITK, BatchGenerator, Clara, etc.

[2020-07-21 10:50] shenao1994 opened #794 "About the error that occurs when transforms_compose"
Hi,I am a novice to MONAI, and I am building a program for classification. I want to input multi-modal images. So I use ConcatItemsd to input ADC and T2 images, but the program reports an error.
This is my code.

`  adc_train_data = '/Users/twelveshen/Desktop/Experiment2/train_data/Data_Extend/SPC+NPCvsNonCancer/originTrain/ADC'
    t2_train_data = '/Users/twelveshen/Desktop/Experiment2/train_data

[2020-07-21 13:46] wyli opened #795 "support of parallel inference in the EnsembleEvaluator"
**Is your feature request related to a problem? Please describe.**
The EnsembleEvaluator sequentially runs inferences with different models.
Since these inferences are independent, would be great to support running them in parallel.

**Describe the solution you'd like**
may need to refactor the EnsembleEvaluator

**Additional context**
https://github.com/Project-MONAI/MONAI/blob/3a8fe35f7801d661b5

[2020-07-21 14:25] #780 closed

[2020-07-21 16:58] #791 closed

[2020-07-21 17:45] zulubal01 opened #796 "Can I use multiple images as multi-channel input in trasnforms?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-22 06:59] Nic-Ma commented on #794
Hi @shenao1994 ,

Here is the error message in your code:
[code]
Seems your original image pairs are not the same shape, so you can't `ConcatItemsd` them directly.
And I saw you didn't concate items for validation transforms.
Maybe you can try with:
[code]

Thanks.

[2020-07-22 07:02] Nic-Ma commented on #796
Hi @zulubal01 ,

Thanks for your interest here.
Yes, you can use multiple images as multi-channels in ways:
1. If you images are in same shape, you can load them together by passing a list of file paths to `LoadNifti` or `LoadNiftid`.
2. If you images are not in same shape, you can load them separately and concate them by `ConcateItemsd`, similar to: https://github.com/Project-MONAI/MONAI/issues/7

[2020-07-22 07:05] shenao1994 commented on #794
@Nic-Ma
Thank you very much! It worked!

[2020-07-22 07:05] #794 closed

[2020-07-22 07:08] Nic-Ma opened #798 "Add distributed training example with Horovod"
**Is your feature request related to a problem? Please describe.**
Currently, we already have distributed training and evaluation examples based on PyTorch native APIs.
As Horovod is very popular in the distributed training area, add another example based on Horovod.

[2020-07-22 09:55] wyli commented on #776
update: #781 has been merged, need to revise the CI and auto formatted before closing this ticket

[2020-07-22 11:34] wyli opened #799 "Mute self-hosted CI tests on forked repo"
**Is your feature request related to a problem? Please describe.**
Several CI pipelines require MONAI's self-hosted CI machines, and those machines are not available to the contributor's forks. currently, local changes to external forks may also trigger some of the CI and fail the tests -- because of no access to the self-hosted.

**Describe the solution you'd like**
modify the ci configs to skip

[2020-07-22 15:29] wyli opened #801 "triggering integration tests for PR that is ready to merge"
**Is your feature request related to a problem? Please describe.**
currently each commit to a new/existing PR triggers a set of quick unit tests but not the integration tests,
would be great to provide an option (probably via the existing chatops) to trigger the integration tests before merging the PRs

[2020-07-23 00:23] arp95 commented on #363
@wyli
is this issue open? can i work on this?

[2020-07-23 00:53] arp95 opened #802 "Add LogSoftmax option in dice.py"
In the dice.py file we have options to add sigmoid or softmax to the output. We can also add LogSoftmax to the output to ensure numeric overflows dont take place.
Either we can replace the softmax operation by LogSoftmax or have both options available.
@wyli @Nic-Ma

[2020-07-23 03:09] Nic-Ma commented on #802
Hi @arp95 ,

Thanks for your feature request.
I submitted PR #803 to adjust the activation layers in losses and metrics.

Thanks.

[2020-07-23 03:11] Nic-Ma opened #804 "Add random gaussian smooth transform"
**Is your feature request related to a problem? Please describe.**
As we already have `GaussianSmooth` transform, need to add random version.

[2020-07-23 03:48] arp95 opened #806 "Adding more test cases for dense net"
Add more test cases for densenet in the tests folder. Also shouldn't we move the dense block to the blocks folder to make it reusable and also enable it's testing?
@Nic-Ma @wyli

[2020-07-23 09:00] martaranzini opened #807 "Training instability with Dice Loss/Tversky Loss"
I am training a 2D UNet to segment fetal MR images using MONAI and I have been observing some instability in the training when using MONAI Dice loss formulation. After some iteration, the loss jumps up and the network stops learning, as the gradients drop to zero. Here is an example (orange is loss on training set computed over 2D slices, blue is loss on validation computed over 3D volume).
![imag

[2020-07-23 10:23] wyli commented on #807
thanks for this nice report, will look into this

[2020-07-23 13:32] bartmch opened #808 "pass slices z dimension of 3d volume as batch dimension"
Hi, I have a volume with 3 color channels and 50 slices (e.g. c,x,y,z => 3,512,512,50) and I would like to feed this into a 2D classification model. I understand that for 2D classification the slices (z) can be seen as the batch size. How can I implement this into Monai? Are there any transforms that can do this operation?

[2020-07-23 13:34] wyli commented on #363
yes please go ahead, and once added please by default turn this feature off, otherwise it will affect quite a few other tests

[2020-07-23 13:56] wyli commented on #806
yes, would be nice to have more test cases for nd inputs. The dense block is not currently general enough, will need to expose more options (such as instance norm, different activations).

[2020-07-23 14:04] FabianIsensee commented on #807
Interesting observation. I must admit that I have never investigated this in depth in nnU-Net. I should also note that while the loss function defaults to `smooth=1`, nnU-Net actually uses `smooth=1e-5` (see here https://github.com/MIC-DKFZ/nnUNet/blob/9524dc33425627d1e4b21336a5202b1bcc8157e5/nnunet/training/network_training/nnUNetTrainer.py#L112).

Have you tried training the 2D configuration of

[2020-07-23 14:05] wyli commented on #808
could consider
- loading image into [C, H, W, D] shape
- ``RandSpatialCropd(roi_size=[-1,-1, 1])`` to randomly sample slices during training (output shape [C, H, W, 1])
- ``SqueezeDim(dim=3)`` (output shape [C, H, W])
the dataloader will add a new batch dim, making the output shape [B, C, H, W]

[2020-07-23 14:12] martaranzini commented on #807
No, I actually haven't tried and trained nnUnet with my data, but I can look into it in the next days and feedback whether I observe the same behaviour :)

[2020-07-23 14:36] #802 closed

[2020-07-23 14:37] wyli commented on #91
resolved by #793

[2020-07-23 14:37] #91 closed

[2020-07-23 14:41] FabianIsensee commented on #807
When you do, please beware that there is a memory leak on Ubuntu 18 and above with Turing cards. Unfortunately there is nothing I can do about it because this is related to mixed precision training with apex/amp (and also occurs with pytorch autocast). I already opened an issue about this and I hope someone will look into this. If you observe this on your system as well, please let me know. You ca

[2020-07-23 14:53] Nic-Ma opened #809 "black and mypy didn't format chars more than 120"
**Describe the bug**
I found some doc-strings > 120 but wasn't formatted or detected by CI, for example:
https://github.com/Project-MONAI/MONAI/commit/68cfbd345aeb3622b5434cb8671cc95998be3341#diff-c320296cf3910802a1348c3e65c09f29L44
and
https://github.com/Project-MONAI/MONAI/pull/803/commits/68cfbd345aeb3622b5434cb8671cc95998be3341#diff-22747695a3870bf9f59c050fd75e0600L51

[2020-07-23 14:55] wyli commented on #809
looks like a known issue of black https://github.com/psf/black/issues/144

[2020-07-23 15:16] #804 closed

[2020-07-24 03:09] #798 closed

[2020-07-24 03:34] Nic-Ma opened #811 "Develop distributed evaluation example based on Horovod"
**Is your feature request related to a problem? Please describe.**
Need an evaluation example to show how to allreduce metrics in Horovod and evaluate the model.

[2020-07-24 09:27] yiheng-wang-nv opened #813 "Implement AHNet"
Anisotropic Hybrid Network ( https://arxiv.org/abs/1711.08580 )

[2020-07-24 12:42] wyli opened #816 "support of stratified/repeated k-fold splits for cross validation in apps.dataset"
**Is your feature request related to a problem? Please describe.**
Currently the app level datasets support randomised training/validation splits,
this could be extended to have k-fold splits so that we could implement [nested/non-nested cross-validation](https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html#:~:text=Nested%20cross%2Dvalidation%20(CV),

[2020-07-25 18:37] petteriTeikari commented on #701
I came across again with this error when trying a custom loss outside the `Monai` and added one more volume to the dataloader, thus giving CPUs more stuff to compute. I could not get past 1st epoch.

Apparently it is the multiprocessing that is causing the headaches, thus making the problem a bit local to my machine and hard to reproduce.

And tried some of the fixes from there https://github.com/

[2020-07-25 19:00] saishanbhag opened #817 "3d medical image classification"
Hi,
It would be of great help if you can help me with the following - I'm working on detecting blockages in blood vessels using a video( CT scan) of the concerned region of the body. So basically i want to classify whether the video shows an example of clogged blood vessel or a freely flowing blood vessel. Could you suggest any MONAI package i can use to build the solution framework ?

[2020-07-25 23:06] Nic-Ma commented on #817
Hi @saishanbhag ,

Thanks for your interest here!
Basically, I think you can refer to this 3D medical image classification example: https://github.com/Project-MONAI/MONAI/tree/master/examples/classification_3d
And as video classification may be slightly different at the Z dimension, you need to think about whether it's the same as the 3D image.

Thanks.

[2020-07-25 23:12] Nic-Ma commented on #701
Hi @petteriTeikari ,

I see, so what's the latest status? Have you solved this issue?
I would suggest trying on some ubuntu machine to make sure the program is running as expected first.

Thanks.

[2020-07-26 07:27] petteriTeikari commented on #701
@Nic-Ma Yes I started training last night and it has not crashed by now so in that sense the fix seems to be working

[2020-07-26 15:21] saishanbhag commented on #817
Thanks for your prompt reply. I will try stacking the frames from the video to build a tensor similar to a 3D image.

[2020-07-26 22:57] #817 closed

[2020-07-26 22:58] Nic-Ma commented on #701
Sounds good!

[2020-07-26 23:27] #657 closed

[2020-07-26 23:54] #811 closed

[2020-07-27 07:15] wantinghuang commented on #788
Hi @Nic-Ma, thanks for your response.

[2020-07-27 20:40] brymrsh commented on #741
It works for me now, thanks for fix!

I also have integrated MONAI 0.2.0 into our AWS SageMaker ML service if interested I am happy to share for community.

Thanks,
Bryan Marsh
AWS Solution Architect
brymrsh@amazon.com

From: Wenqi Li <notifications@github.com>
Reply-To: Project-MONAI/MONAI <reply@reply.github.com>
Date: Saturday, July 11, 2020 at 5:57 AM
To: Project-MONAI/MONAI <MONAI@noreply.git

[2020-07-28 04:56] bartmch opened #818 "Current/upcoming Gradient visualisation functionalities?"
Hi, I'm currently using Captum in my Pytorch code to make my models more "explainable". Does Monai have any built-in functions such as DeepLift? If not, is there any such functionality on the roadmap?

[2020-07-28 07:26] shenao1994 opened #819 "This is a question about classification."
I am dividing a set of image data into five categories. I want to set the label like this, because these data are related. Can you tell me how to modify the related code?

**1   1 0 0 0 0
2   1 1 0 0 0
3   1 1 1 0 0
4   1 1 1 1 0
5   1 1 1 1 1**

Thanks！

[2020-07-28 10:27] wyli opened #820 "enhance the textual descriptions in the spleen segmentation example"
**Is your feature request related to a problem? Please describe.**
[the 3d segmentation notebook](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/spleen_segmentation_3d.ipynb) should include a few sentences about why/how the train_transforms/val_transforms are used.

For example, the preprocessing `CropForegroundd` can be confusing because "foreground" could indicate the abdo

[2020-07-28 10:43] wyli commented on #601
resolved by https://github.com/Project-MONAI/MONAI/pull/744

[2020-07-28 10:43] #601 closed

[2020-07-28 17:39] wyli commented on #293
looks like this become relevant as torch 1.6 is out https://github.com/pytorch/pytorch/releases/tag/v1.6.0

[2020-07-28 22:23] Nic-Ma commented on #293
I will try to add AMP support to our workflows, then add 2 examples: AMP training for spleen with native PyTorch, AMP training for spleen with MONAI workflow.

Thanks.

[2020-07-28 22:34] Nic-Ma commented on #818
Hi @bartmch ,

That's an interesting idea, we don't have such functions in MONAI so far.
I marked for discussion in MONAI working group.

Thanks.

[2020-07-28 22:38] Nic-Ma commented on #819
Hi @shenao1994 ,

What's your original label format? I feel you can write some script to convert them.
Is there some MONAI related requirement to convert labels? Maybe you want to develop a transform to convert in run-time?

Thanks.

[2020-07-28 22:41] Nic-Ma opened #821 "Add sharpen transform based on GaussianFilter"
**Is your feature request related to a problem? Please describe.**
We already have Gaussian smooth in MONAI, need also develop a sharpen transform referring to:
http://scipy-lectures.org/advanced/image_processing/auto_examples/plot_sharpen.html

[2020-07-29 00:42] shenao1994 commented on #819
The original label is [0, 1, 2, 3, 4]. But there is a connection between my data, so I want to set the label as I said.

[2020-07-29 00:55] acostanzo999 opened #823 "Implementation of HighResBlock and HighResNet having only 1 conv in residual block?"
Hi, I am modifying the preexisting HighResNet when I noticed in the class HighResBlock there is only one instance of Norm, Activation, Conv and not two like there is in the paper. Am I missing something or is this intentional. I know that the Block itself is repeated three times with one dialation and 6 more times with 2 different dialations.

[2020-07-29 09:32] michalhg opened #826 "bug in GeneralizedWassersteinDiceLoss"
in **GeneralizedWassersteinDiceLoss** the forward() is missing :

if not(target.type() in [torch.LongTensor, torch.cuda.LongTensor]):
            target = target.long()

since the wasserstein_distance_map expects flat_target to be a long  integer type tensor

please fix. otherwise it throws an error

[2020-07-29 10:10] jond01 opened #827 "MedIO for MONAI"
Dear MONAI members,

Your initiative looks very promising.
I noticed that you are currently working on the IO part of the project:
https://github.com/Project-MONAI/MONAI/wiki/IO-Working-Group-Meeting-Notes

We have recently released a python package *medio* whose objective is to facilitate the IO procedure for deep learning of medical images:
https://github.com/RSIP-Vision/medio
Medio uses ITK, Ni

[2020-07-29 11:13] Nic-Ma commented on #827
Hi @aylward and @mjorgecardoso ,

I labeled this ticket as `working group`, maybe you can raise to working group discussion.
Thanks.

[2020-07-29 11:14] Nic-Ma commented on #823
Hi @wyli ,

Could you please help double confirm this issue?
Thanks.

[2020-07-29 11:37] wyli commented on #823
the current highresblock could have N convolutional layers (https://github.com/Project-MONAI/MONAI/blob/master/monai/networks/nets/highresnet.py#L142) or do i misunderstand your question?

[2020-07-29 12:09] wyli commented on #827
we have been discussing a factory pattern which is similar to MedIO (as I understand it). Would you be happy to contribute the relevant logic into monai? we could continuously provide proper maintenance of this IO module. cc @ericspod @atbenmurray

[2020-07-29 12:09] Nic-Ma commented on #826
Hi @michalhg ,

Thanks for your bug report!
I will try to fix it soon.

[2020-07-29 12:15] wyli commented on #826
cc @LucasFidon

[2020-07-29 13:02] mjorgecardoso commented on #827
@wyli, fully agree. The IO wrapper/factory pattern is something we want to have WITHIN monai and not as an external dependency, as it will be highly intertwined with the transformation and data representation stacks.

@jond01, MONAI is trying to bring together and integrate multiple open source initiatives into the same stack. We are currently in the process of abstracting our IO stack to have som

[2020-07-29 14:09] #826 closed

[2020-07-29 15:07] #821 closed

[2020-07-29 15:20] jond01 commented on #827
Thanks for your quick responses.

My original idea was integrating MedIO into MONAI just like you have integrated NiBabel.
Keeping all the IO code inside the project sounds a bit challenging. I guess that at some point you would like to use ITK and PyDicom in addition to NiBabel, in order to support more general medical images input into MONAI.

In MedIO we faced various issues that you would also

[2020-07-29 15:38] #820 closed

[2020-07-29 19:37] acostanzo999 commented on #823
Thank you ahh sorry I didn't catch this earlier!

[2020-07-29 19:45] #823 closed

[2020-07-30 04:02] jillianlee opened #829 "Error with tensor size using ArrayDataset, but not with CacheDataset?"
Hello,

I'm trying to use `ArrayDataset` to train a UNet with a single channeled image. I have my own data augmentation procedure that passes array data of size (160, 160) to `ArrayDataset`. I use the only the minimum transforms as follows:
[code]
After running through the data loader, I get a tensor of size (1, 160, 160).

 I then try and use a UNet with configurations
`model = monai.networks.net

[2020-07-30 07:54] carlpe opened #831 "3D image transforms using own data"
Using Ubuntu server 18.04.

I have been testing some of the interesting tutorials on Monai. They are all functioning as expected.
I am now trying to use some own MR data for some of these tutorials, for example the 3D_image_transform tutorial, but I am encountering some errors which raises some questions.

The files I want to use for this are:
T1 image: /home/titan/data/test/images/test_009.nii
La

[2020-07-30 08:07] Nic-Ma opened #832 "Integration test failed on PyTorch 1.6"
**Describe the bug**
As PyTorch released v1.6 yesterday, we faced some issue when running 3D segmentation test:
[code]
Seems some behavior of PyTorch changed in v1.6.

[2020-07-30 08:17] mjorgecardoso commented on #827
Hi Jonathan,

One of the many aims within MONAI is to have a small dependency graph. Currently, it's only torch and numpy, and adding MedIO to the dependency tree would add MedIO and 5 other sub-dependencies. We are in the process of integrating python-ITK into our dependency tree, with several other backends as optional - thus the reason we want to have the IO backend wrapper within MONAI and not

[2020-07-30 09:59] wyli commented on #827
just wanted to add my understanding that MedIO looks very promising in unifying thirdparty IO interfaces, but at the moment it's also a bit risky for monai to rely on it because its roadmap/contributors' commitment/code quality assurance are unclear. On the other hand, would be very nice to see RSIP-Vision joining project monai and we'll have much lower R&D risks because monai has the open and act

[2020-07-30 14:35] jond01 commented on #827
I definitely understand your point @wyli and @mjorgecardoso.
Just to say, medio is already effective in multiple closed-source projects - and yet your conservative approach is legitimate.

I think that the future IO part of monai can be useful for its own, and better be disentangled from monai's main repository.
Let me suggest the following: the IO part of monai will be a distinct project, for exa

[2020-07-30 14:58] Nic-Ma commented on #829
Hi @jillianlee ,

Thanks for your interest here and experiments.
I think the expected shape of output data from DataLoader is `[B, C, H, W]`, but seems your shape is `[C, H, W]`.
May I know what's your batch size?

Thanks.

[2020-07-30 15:10] Nic-Ma commented on #831
Hi @carlpe ,

Thanks for your interest here.
I think it seems like some issue with python APIs instead of MONAI, could you please try to re-run the program and print all the things in `daa_dicts`?
And how many elements in your list? More than 9?

Thanks.

[2020-07-30 16:12] jillianlee commented on #829
Hi @Nic-Ma

The batch_size is set to 2 or 1 in both experiments for training and validation respectively.

Thanks,
Jillian

[2020-07-30 17:11] aylward commented on #827
Hi,

Interesting idea!   We talked about aspects of this in the I/O working group, and we encountered several challenges:
1) We could not agree on a dicom I/O package, but we could all agree that no single dicom package worked for everyone: gdcm, pydicom, and others were discussed and rejected as complete solutions
2) Extensibility was important: I/O is not just images (it includes bounding boxes,

[2020-07-31 02:29] #832 closed

[2020-07-31 06:52] carlpe commented on #831
Here is what I found:

![image](https://user-images.githubusercontent.com/54416001/89008508-1645de00-d30b-11ea-9ba8-acfa47c3a76b.png)

[2020-07-31 07:05] carlpe commented on #831
I added some more subjects to the server and then this happened:

![image](https://user-images.githubusercontent.com/54416001/89009461-e5ff3f00-d30c-11ea-8253-c6869995a04e.png)

Seems it did not work with only one subject

[2020-07-31 07:07] carlpe commented on #831
It works now that I added more 👍

[2020-07-31 08:22] Nic-Ma commented on #831
Sounds good!
As your code "[:-9]", it needs at least 9 items.

Thanks.

[2020-07-31 08:30] carlpe commented on #831
Oh ok, thank you!
Do not be surprized if I have more questions for you at a later stage =)

[2020-07-31 08:43] #831 closed

[2020-07-31 11:07] carlpe opened #835 "Segmentation tutorial output using own data"
Testing the spleen segmentation tutorial on some own data....
Everything is working fine up to the point of showing the output. It is blank.

What am I missing here?

![3](https://user-images.githubusercontent.com/54416001/89029409-afd2b700-d32e-11ea-9bb6-148fb38c93e3.png)

[2020-07-31 13:59] Nic-Ma opened #836 "Develop a tutorial about how to develop networks based on MONAI APIs"
**Is your feature request related to a problem? Please describe.**
We have very rich network layers, blocks, etc. and support both 2D and 3D, we also have layer factory to generate common layers. But currently, we don't have a step by step tutorial to show how to use the APIs to develop networks.

[2020-07-31 14:11] #785 closed

[2020-07-31 14:17] Nic-Ma commented on #835
Hi @carlpe ,

Maybe you can print out the raw value of `val_outputs` to verify whether it's all 0?

Thanks.

[2020-07-31 16:52] JuanPabloMontoya271 opened #838 "Is there a way to set window level values to all the images on the Compose"
Hi is there an specific tool to set the window values to the images?

[2020-08-03 03:39] Nic-Ma commented on #838
Hi @JuanPabloMontoya271 ,

What's the `window` you mean here? Image crop or some intensity adjustment?
Thanks.

[2020-08-03 03:41] Nic-Ma opened #839 "Add AMP support to workflows"
**Is your feature request related to a problem? Please describe.**
We have `FIXME` item in workflows with a reserved `amp` parameter.
Now PyTorch 1.6 is released, need to implement the feature.

[2020-08-03 03:52] yiheng-wang-nv opened #840 "Implement Vnet"
Vnet: https://arxiv.org/abs/1606.04797

[2020-08-03 07:09] carlpe commented on #835
Hi Nic,

Here is the print of val_outputs...

![image](https://user-images.githubusercontent.com/54416001/89155419-13482900-d569-11ea-8ab8-dc4cf845cf67.png)

[2020-08-03 07:17] Nic-Ma commented on #835
These are values of the corner, you need to print some values at center of the image.
I think you can also try to remove the `torch.argmax()` and **test every channel** when you plot the values and see whether it can plot something reasonable?

Thanks.

[2020-08-03 07:56] wyli commented on #840
duplicate of #96 ?

[2020-08-03 07:59] yiheng-wang-nv commented on #840
Sorry, I didn't see that, let me close this issue.

[2020-08-03 07:59] #840 closed

[2020-08-03 11:41] Nic-Ma opened #842 "Add random gaussian sharpen transform"
**Is your feature request related to a problem? Please describe.**
As we already have the `GaussianSharpen` transform, need to add the random version.

[2020-08-03 13:01] carlpe opened #844 "AttributeError: 'dict' object has no attribute 'to'"
Trying to run MednistGAN tutorial on some own nifti files.

Images (dict) are loaded and transformed as expected. When I attempt to train, I get an error:

AttributeError: 'dict' object has no attribute 'to'

![image](https://user-images.githubusercontent.com/54416001/89184942-c03a9a00-d599-11ea-9aed-90edcaee0368.png)

[2020-08-03 13:52] Nic-Ma commented on #829
OK, I can't guess the root cause now, could you please help paste your program here?
I don't know why the data is not batched after DataLoader.

Thanks.

[2020-08-03 13:56] Nic-Ma commented on #819
Sorry I can't help much with your question as it's not a MONAI issue and I don't quite understand your context.
Maybe you can write a script to `swtich case` the labels?
[code]

Thanks.

[2020-08-03 13:56] #808 closed

[2020-08-03 13:56] #796 closed

[2020-08-03 13:57] #788 closed

[2020-08-03 13:57] #767 closed

[2020-08-03 13:57] #750 closed

[2020-08-03 13:58] Nic-Ma commented on #721
Hi @wyli ,

Could you please help resolve this issue?
Thanks.

[2020-08-03 14:00] Nic-Ma commented on #844
Hi @carlpe ,

I think you should move the `value` of expected `key` in the dict to device, instead of move dict itself.
Thanks.

[2020-08-03 14:07] wyli commented on #721
I think it depends on your problem formulations. could model the output as probabilistic variables in [0, 1] or some confidence scores

[2020-08-03 14:07] #721 closed

[2020-08-03 17:07] #842 closed

[2020-08-03 23:38] jillianlee commented on #829
Hi @Nic-Ma

Here is my code below:

[code]

I think I may be confused about the intended input for ArrayDataset. Your posted examples using array data first export the data to Nifti files and then read them back in using a NiftiDataset. In the snippets in your docs for ArrayDataset, the input images seems to be a filename list of array data.

In my code here, I pass `train` which is a list of imag

[2020-08-04 00:40] Nic-Ma commented on #829
Hi @jillianlee ,

Could you please help check the data shape of `batch_data[0]` from `for batch_data in train_loader`?
I think you need to add several print logs to find out why the output data of DataLoader is not [B, C, H, W].

Thanks.

[2020-08-04 02:00] jillianlee commented on #829
Hi @Nic-Ma,

Both `batch_data[0]` and 'batch_data[1]` are size (1, 160, 160).

Additionally `train_loader.dataset[0][0]` is also size (1, 160, 160).

Best,
Jillian

[2020-08-04 04:06] JuanPabloMontoya271 commented on #838
The intensity adjustment, like described here:
https://radiopaedia.org/articles/windowing-ct#:~:text=The%20window%20level%20(WL)%2C,be%20brighter%20and%20vice%20versa.

[2020-08-04 07:12] carlpe commented on #844
It seems to be working now!

However I have run into a new issue, this time it is to do with the size parameters in the code.

![image](https://user-images.githubusercontent.com/54416001/89263930-63d78900-d632-11ea-9fde-f90d21478481.png)

![image](https://user-images.githubusercontent.com/54416001/89263971-7651c280-d632-11ea-8414-ae873497c52a.png)

Thanks for suggestions and feedback on this.

[2020-08-04 07:37] Nic-Ma commented on #844
Hi @ericspod , could you please help take a look this issue?
It's related to the GAN networks.

Thanks.

[2020-08-04 07:39] Nic-Ma commented on #838
Hi @JuanPabloMontoya271 ,

Maybe this transform is what you need: https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/intensity/dictionary.py#L269

Thanks.

[2020-08-04 12:49] ericspod commented on #844
The discriminator's `in_shape` parameter states the size of input images, your images are different from the 64x64 images the example uses so you'll have to adjust that value. The `start_shape` parameter of the generator is the shape of the tensor after the input latent vector is forwarded through the linear layer, this is going to be starting shape of the image which is upsampled by the layers sp

[2020-08-04 13:22] carlpe commented on #844
Hi Eric, thanks for reply.

I am not sure I understand everything yet. But does it make sense that because the inputs are 3D images with 400,400,400, I would need more to get it to work?

I assume that Discriminator in-shape should be 1,400,400 and start_shape 1,50,50 for the Generator. Given that I keep strides [2, 2, 2, 1]. I did try to run this with 1,400,400 and 1,50,50 ..  and I got a new err

[2020-08-04 13:33] zhongyiZhang18 opened #846 "Can you visualize the 3D Unet model in Spleen 3D segmentation example?"
The code is quite nice and tidy and it runs prefectly, but there is not much details about the model structure, especially for the res_units part.

Could you please visualize this model? Thx

[2020-08-04 14:01] ericspod commented on #844
If you have 3D inputs the discriminator and generator need to be given 3D sizes. The `in_shape` value should then be (1,400,400,400) which is a volume 400 cubed with a single channel. The `start_shape` for the generator should then be (1,50,50,50) or maybe even with a channel size larger than 1. I would also choose a much larger `latent_size` than what was in the original notebook, for a larger im

[2020-08-04 14:25] carlpe commented on #844
Good. I will try it tomorrow.

Thanks 👍

[2020-08-04 14:43] Nic-Ma commented on #846
Hi @ericspod ,

Could you please help provide some docs or introduction about the UNet?

Thanks.

[2020-08-04 15:54] #776 closed

[2020-08-04 15:54] #839 closed

[2020-08-04 16:07] hjmjohnson commented on #494
@benjamin-gorman Could you try to address this warning?

[2020-08-04 16:11] ericspod commented on #846
There was a previous question on this here: https://github.com/Project-MONAI/MONAI/issues/464 We had also discussed the structure in a paper on an earlier version of the network: https://link.springer.com/chapter/10.1007/978-3-030-12029-0_40

[2020-08-04 16:37] wyli commented on #293
fixed by https://github.com/Project-MONAI/MONAI/pull/841

[2020-08-04 16:37] #293 closed

[2020-08-04 16:41] #819 closed

[2020-08-04 17:16] benjamin-gorman commented on #494
### Solutions

[code]

[code]

### Context

https://github.com/python/mypy/issues/2427#issuecomment-384229898

https://github.com/python/mypy/issues/2427#issuecomment-480263443

### Progression of _enter_pr_4800

- Present in [master](https://github.com/python/cpython/blob/master/Lib/unittest/case.py#L252), [3.7](https://github.com/python/cpython/blob/3.7/Lib/unittest/case.py#L227), [3.8](https://

[2020-08-04 21:41] wyli commented on #807
I'm trying to replicate this issue with some synthetic data, looks like using `sigmoid=True` instead of `softmax=True` is much more stable. @martaranzini are you using the softmax=True option, and could you please try sigmoid=True if possible?

[2020-08-04 22:00] JuanPabloMontoya271 commented on #838
Thank you, yes that was the solution

[2020-08-04 22:00] #838 closed

[2020-08-04 22:05] martaranzini commented on #807
Hi @wyli
I was actually using `sigmoid=True` already in the experiments I reported in the issue. When using a single-channel output, I put `sigmoid=True` and `softmax=False`. Conversely, in the two-channel test I did, I used the softmax instead of the sigmoid. In both cases I would observe the reported behaviour.

We are also working on training the nnU-net on the same data to see if it shows the

[2020-08-04 22:54] wyli commented on #807
ok, thanks for the information, I haven't tested a single-channel case yet, I'll do that as well. for now two-channel + sigmoid seems to be more stable compared with two-channel + softmax. looks like it's independent of the choice of network afaik

[2020-08-04 23:12] wyli commented on #813
fixed by https://github.com/Project-MONAI/MONAI/pull/815, may need another PR to address the dependencies version issue (optional torchvision and pytorch)

[2020-08-04 23:12] #813 closed

[2020-08-04 23:59] Nic-Ma opened #847 "Execute distributed training on MSD dataset"
**Is your feature request related to a problem? Please describe.**
1. Run distributed training on DGX servers based on MSD dataset.
2. Tune parameters to achieve best performance.
3. Put the program into examples/
4. Write a document with charts to compare the benefits of distributed training, put the doc into docs/

Thanks.

[2020-08-05 00:00] Nic-Ma commented on #847
@YuanTingHsieh is working on it.
Thanks.

[2020-08-05 04:52] hasansari opened #849 "Saving outputs as Nifti files in Spleen Segmentation example with Pytorch Lightning"
Hi,

Thanks for your all your efforts to develop Monai and adding some nice examples to try it. I have tried the Spleen PyTorch lightning example with my data and training goes well. I am trying to load the generated .ckpt file, run iference and save the generated outputs as nifti files. Is there an example script for this as well?

[2020-08-05 08:49] carlpe commented on #844
I did manage to get around that error now. Using 1,400,400,400  and  1,50,50,50

However, it is too demanding for video memory. How would I proceed if I wanted to preprocess the images to smaller sizes before I ship them in?

RuntimeError: CUDA out of memory. Tried to allocate 74.51 GiB (GPU 0; 23.65 GiB total capacity; 2.67 MiB already allocated; 22.79 GiB free; 4.00 MiB reserved in total by PyTo

[2020-08-05 09:05] fepegar opened #851 "TypeError in transforms notebook"
Hi all,

I'm trying to run the `integrate_3rd_party_transforms` notebook on Google Colab, but it's not working. First, there's no line to install MONAI. Second, once installed, I get this error when trying to run the last cell:

[code]

[2020-08-05 09:48] martaranzini commented on #807
Ok, I see, thanks! I can try and test two-channel + sigmoid instead of softmax on my data as well and see if it gets more stable. I will let you know.

[2020-08-05 10:13] carlpe commented on #844
So, I resized all inputs to 64,64,64 - and now everything seems to be working. Although I wish there was some way to do this with the original size.,.

Thanks for help

[2020-08-05 10:29] ericspod commented on #844
Memory is often a challenge with 3D inputs, if you can't fit a batch of 1 into memory the alternative is to train on patches. One workflow is https://github.com/Project-MONAI/MONAI/blob/master/examples/workflows/unet_training_dict.py which uses `RandCropByPosNegLabeld` uring training and `SlidingWindowInferer` during evaluation.

[2020-08-05 10:30] carlpe commented on #844
Would that work with GAN also?

[2020-08-05 10:30] wyli opened #852 "unit tests with expected execution time"
**Is your feature request related to a problem? Please describe.**
in many cases it is necessary to check whether a unit test could finish within some expected execution time, in addition to the correctness checks of the outputs.

**Describe the solution you'd like**
this ticket looks for a generic timer wrapper for the unit testing module, so that it automatically fails a test (early) if the test

[2020-08-05 10:32] ericspod commented on #844
Depends on the exact GAN configuration you're using. If you train the discriminator on patches I could see it learning to tell real from synthetic effectively, but a generator would have a hard time learning how to create a coherent image patch-wise.

[2020-08-05 10:36] carlpe commented on #844
Yes, I see...

I will try to find a balanced size that fits into memory for now I think..

[2020-08-05 10:36] #844 closed

[2020-08-05 11:27] fepegar commented on #851
By the way, (most) TorchIO transforms now take dictionaries as input:

[code]

I hope this will make integration with MONAI easier.

[2020-08-05 11:30] #835 closed

[2020-08-05 15:06] elitap opened #854 "sliding_window_inference uses to much gpu memory if roi_size is small and images to infer large"
**Describe the bug**
sliding_window_inference runns ot of memory if roi_size is small and images to infer large

**To Reproduce**
evaluete a highres3dnet with images larger than 512x512x256 and roi_size of the sliding_window_inference option of [16,16,16] and the required gpu memory exceeds 8gb

**Expected behavior**
less memory should be used

**Environment (please complete the following informat

[2020-08-05 16:15] aylward opened #856 "Image I/O Proposal - Feedback Welcomed"
We have posted a draft proposal for Image I/O in MONAI, and we welcome developer and community feedback:

[Image I/O Proposal](https://github.com/Project-MONAI/MONAI/wiki/Image-IO-Proposal)

This is a high-level draft, and significant input and creativity are needed to turn it into something concrete and feasible.   Please give us your expert input by adding comments to this issue.

A brief summar

[2020-08-05 17:04] kayhan-batmanghelich commented on #856
MONAI will be a huge contribution to the community. Thank you for initiating it.

A couple of suggestions:
* I understand that this I/O is mostly about image data but is it possible to include a similar interface to read deformation field?
* Would you please include Freesurfer file format to your list (in case it is not already there).
* Could you please include histological formats in addition to

[2020-08-05 17:16] aylward opened #857 "Experiments Proposal: Customization, Reproducibility and Extensibility - Feedback Welcomed"
The Data, I/O, and Transform Working Groups recently met with a broad set of the MONAI developers to brainstorm on how to better address customization, reproducibility, and extensibility of MONAI.   We have drafted a proposal and need your expert feedback (posted as comments to this issue):

https://github.com/Project-MONAI/MONAI/wiki/Experiments-Proposal

**Background**
This proposal expands the

[2020-08-05 20:43] aylward commented on #856
Hi @kayhan-batmanghelich - Thanks for the feedback!

You raise several excellent points!

Regarding deformation fields - With ITK you will be able to read deformation fields as vector images, and therefore I would expect that the proposed IO method would work to access them via a data loader.   Clearly this is something we would need to test/investigate, but in theory, anything ITK can read should

[2020-08-05 23:47] Nic-Ma commented on #849
Hi @hasansari ,

Thanks for your interest and experiments here.
About how to load PyTorch model, do inference and save Nifti files, you can refer to:
https://github.com/Project-MONAI/MONAI/blob/master/examples/segmentation_3d/unet_evaluation_dict.py
Hi @marksgraham , please feel free to correct me if Lightning has some different ways to do these tasks.

Thanks.

[2020-08-05 23:59] Nic-Ma commented on #851
Hi @fepegar ,

Thanks very much for your effort to help verify this notebook.
We didn't test this notebook in Colab so far.
Could you please help double confirm whether the Decathlon dataset was loaded correctly?
And whether version of TorchIO can support dict now? I can update the notebook for this part later.

Thanks.

[2020-08-06 00:28] Nic-Ma commented on #852
Hi @IsaacYangSLA , as we discussed yesterday, this can be a next step optimization for our CI/CD.
Thanks.

[2020-08-06 05:39] Nic-Ma commented on #856
Hi @aylward ,

Thanks so much for your great summary!
Sounds good a proposal, may I know where I can find some python examples of ITK to load Nifti, PNG, numpy NPY files? Maybe we can start to develop the IO factory from these 3 existing formats in MONAI.

Thanks.

[2020-08-06 05:46] Nic-Ma commented on #857
Hi @wyli , is this proposal similar to the JSON/YAML config for training instead of writing python code?

Thanks.

[2020-08-06 06:39] Nic-Ma commented on #851
Hi @fepegar ,

I created a PR https://github.com/Project-MONAI/MONAI/pull/860 to update the TorchIO usage in the tutorial.
Thanks.

[2020-08-06 07:55] fepegar commented on #851
Hi @Nic-Ma,

Oh, sorry. I see now that the path to the data was local. I thought the notebook would be self-contained. I think it would be nice that

1. It was indeed self-contained and one can just press "Run all". MONAI can download the needed decathlon dataset, is that right?
2. A warning was raised if the input of a transform was empty. Have you considered this?

It does, it was added in https

[2020-08-06 09:06] #96 closed

[2020-08-06 09:08] yiheng-wang-nv opened #861 "Implement SegResnet"
Implement SegResnet [https://arxiv.org/abs/1810.11654](url), it wins the 1st place in Multimodal Brain Tumor Segmentation Challenge (BraTS) 2018

[2020-08-06 10:14] aylward commented on #856
Hi @Nic-Ma ,

Thanks for your input to the proposal!   It has been great working with you on the working groups, and I think the proposal is coming together well, but the real challenge will be devising a clean implementation!

The documentation for Wrapped ITK is available [in the Quick Start Guide](https://itkpythonpackage.readthedocs.io/en/master/Quick_start_guide.html).

Since ITK v5.1, readin

[2020-08-06 10:54] marksgraham opened #862 "Nonlinear histogram intensity transform"
**Describe the solution you'd like**
I think it would be useful to have a transform that provides random, nonlinear warping of an image's intensity histogram. This is motivated by research showing that strong contrast adjustments can force networks to focus on learning shapes, rather than intensity differences, increasing the generalisability of trained networks to new data, see e.g. [here](https:

[2020-08-06 11:23] wyli commented on #862
looks great, just wanted to note that some intensity mappings would cause information loss, for example, in the strong augmentation case, original intensities 5.5 to 7.5 are all mapped to about 8, the relevant tissues become indistinguishable in the transform output

[2020-08-06 11:27] wyli commented on #829
Hi both, it is indeed an issue (at least a documentation issue) just checked that in the previous example, changing `monai.data.Dataloader` to `torch.utils.data.DataLoader` then everything works fine.

I used these test cases:
[code]

[2020-08-06 11:37] wyli commented on #829
@Nic-Ma
[code]

[2020-08-06 11:39] Nic-Ma commented on #862
Hi @marksgraham ,

Welcome to contribute your idea to MONAI!
BTW, we have some similar intensity transforms:
https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/intensity/array.py#L300

https://github.com/Project-MONAI/MONAI/blob/master/monai/transforms/intensity/array.py#L554

Thanks.

[2020-08-06 12:04] wyli opened #863 "sphinx documentation warnings"
**Describe the bug**
building the documentation locally generates a couple of warnings:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `MONAI/docs`
2. ` pip install -U -r requirements.txt` to install doc deps
3. Run `make clean; make html`

**Expected behavior**
no warnings in the building log

**Environment (please complete the following information):**
[code]

[2020-08-06 12:25] Nic-Ma commented on #829
Thanks for your help @wyli !
I will try to verify and fix soon.

[2020-08-06 13:08] #851 closed

[2020-08-06 13:45] wyli commented on #251
this is mostly done, please open new tickets for further specific feature requests.

[2020-08-06 13:45] #251 closed

[2020-08-06 13:47] marksgraham commented on #849
Yes looks good, just note you can treat the `LightningModule` as the model itself, so modifying @Nic-Ma's example, assuming your module is called `Net` as in the lightning example provided in Monai:

[code]

[2020-08-06 13:54] Nic-Ma commented on #851
Hi @fepegar ,

We may try to move all notebooks to Colab later, and update to use DecathlonDataset.
Because we want to do a new refactoring iteration for datasets to support cross-validation soon, so I haven't changed notebooks.

Thanks.

[2020-08-06 14:15] jbschiratti opened #864 "Minor bug in example"
**Describe the bug**
In [`examples/classification_3d_ignite/densenet_training_array.py`](https://github.com/Project-MONAI/MONAI/blob/master/examples/classification_3d_ignite/densenet_training_array.py), the input MRI images have shape `(H, W, C)` but the `Resize` transform expects the channel axis to be first. This "bug" (it might be one although it has little impact) is found in the other classif

[2020-08-06 14:40] Nic-Ma commented on #829
Hi @jillianlee ,

Sorry for the bug, I committed PR #865 to fix this issue.
Thanks.

[2020-08-06 14:44] Nic-Ma commented on #864
Hi @jbschiratti ,

Thanks for your interest here.
The input MRI images are 3D images and have shape `(H, W, D)` without `channel` dim.
So we used `AddChannel` transform to add an additional channel-first dim(almost all transforms suppose channel-first).

Thanks.

[2020-08-06 14:46] jbschiratti commented on #864
@Nic-Ma Yes, you're right! Thanks

[2020-08-06 14:48] Nic-Ma commented on #864
Hi @jbschiratti ,

No problem, please feel free to raise issues or questions when you using MONAI.
Thanks.

[2020-08-06 15:09] #829 closed

[2020-08-06 15:29] Nic-Ma commented on #856
Hi @aylward ,

Thanks for your sharing!
I will verify all loading logic with some test program next week, then we can try to make a design ASAP maybe.
Thanks.

[2020-08-06 15:38] #864 closed

[2020-08-06 15:57] #863 closed

[2020-08-07 03:34] Nic-Ma opened #869 "Add distributed support for ROC_AUC metric"
**Is your feature request related to a problem? Please describe.**
As ignite doesn't support distributed training for `epoch-gather` metrics, we need to enhance `ROCAUC` referring to:
https://pytorch.org/docs/stable/distributed.html#torch.distributed.gather

[2020-08-07 05:06] hasansari commented on #849
Thank you very much. This seems very practical, but I just tried this and got the following error:

RuntimeError: Sizes of tensors must match except in dimension 1. Got 63 and 64 in dimension 2 (The offending index is 1)

Any ideas? Thank you in advance!

[2020-08-07 07:43] wyli commented on #869
this ticket needs the feedback/confirmation from the working group

[2020-08-07 07:46] #806 closed

[2020-08-07 08:19] wyli commented on #816
see also https://github.com/Project-MONAI/MONAI/issues/857

[2020-08-07 08:20] marksgraham commented on #849
What is the shape of your input, x, and how many layers are there in your
unet?

On Fri, 7 Aug 2020 at 06:06, hasansari <notifications@github.com> wrote:

[2020-08-07 08:37] Nic-Ma opened #871 "Add PyTorch AMP training / evaluation examples"
**Is your feature request related to a problem? Please describe.**
We already have AMP examples based on MONAI workflows, need to add AMP examples for pure PyTorch programs.

[2020-08-07 08:50] wyli opened #872 "Quality assurance of the MONAI/examples folder"
**Is your feature request related to a problem? Please describe.*
As the size and content scope of the `MONAI/examples` folder increase,
it's necessary to figure out the hardware/software requirements for running the examples,
and also provide some forms of quality assurance of the example codes.

**Describe the solution you'd like**
could automatically run the examples as a part of the automated

[2020-08-07 09:00] wyli commented on #857
Yes, I feel that is potentially an important submodule in order to achieve the overall goals. I think we should review and learn from the other existing packages and divide this ticket into smaller concrete steps forward.

[2020-08-07 10:25] #854 closed

[2020-08-07 15:18] arp95 commented on #872
@wyli Regarding the python files, we can setup running them during CI/CD right, but wont executing each file take time and increase build time?
Also, is there a way for running jupyter notebooks automatically, like through a command?

[2020-08-07 16:35] wyli commented on #872
yes, with this feature implemented, the CI/CD is likely to take significantly more time. but I think we should address it by a separate ticket (e.g. refactoring the CI job configures so that they could run in parallel and take less time).

for this ticket we need to implement some initial pipelines (welcome discussions) for:
- [x] checking the coding style
- checking that the examples work fine:

[2020-08-07 16:54] arp95 commented on #872
Thanks for the explanation. Regarding checking the syntax error, we can simply execute the python file during the CI/CD "python filename.py" and then give it some upper execution time limit? Also, if I can be of help here, I would like to contribute to some of the points mentioned above.

[2020-08-07 17:02] wyli commented on #872
thanks @arp95, would be great to have a simple `run_example_tests.sh` for those `python filename.py` commands with a timer (and perhaps some check of the commandline output logs with grep?), then we take another iteration to integrate the commands into the ci configure for example:
https://github.com/Project-MONAI/MONAI/blob/8f1c290b58ddfb4f9a9f5810916c3a7d48e26643/.github/workflows/setupapp.yml#L

[2020-08-07 17:32] arp95 commented on #872
sure. i will work on the shell script and then raise a pull request.

[2020-08-07 18:27] arp95 commented on #872
@wyli i was running the file "densenet_training_array.py". It requires the data to be downloaded from this website, https://brain-development.org/ixi-dataset/. Should we save the data in some MONAI google drive or online running or is there another way around this? Because we cant expect to be downloading data everytime during the CI/CD build right?

[2020-08-08 02:21] gagandaroach opened #875 "docker container autostarts Jupyter Notebook server with -jup tag"
**Is your feature request related to a problem? Please describe.**
Users of MONAI novice to docker or command line interfaces may feel uncomfortable entering the shell and launching jupyter notebook.

**Describe the solution you'd like**
[Tensorflow](https://www.tensorflow.org/install/docker#download_a_tensorflow_docker_image) and other libraries have a `-jup` tag variant on their published contai

[2020-08-09 21:18] dlabella29 opened #876 "Monai segmentation. Unable to use datasets besides Spleen."
**Issue
Unable to use other datasets besides Task09_Spleen from medicaldecathlon when running the spleen_segmentation_3d script.
I believe the issue is with the SpacingD, pixdim transform, but could be elsewhere.
The other organ dataset has same file tree structure.
I also tried the other dataset with resampled .nii images and labels to 1x1x1.

*Note: I imported into Pycharm and ran as .py file.
S

[2020-08-09 21:38] gagandaroach opened #877 "spleen_segmentation_3d_lightning Notebook Bug"
**Describe the bug**

Last cell in notebook "Check best model output with the input image and label"  does not execute.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Spleen Segmentation 3d Lightning Notebook
2. cell produces error:

**Expected behavior**
Model should successfully be evaluated

**Screenshots**

Identified by @benjamin-gorman in https://github.com/Project-MONAI/MONAI/blo

[2020-08-10 00:28] Nic-Ma commented on #877
Hi @marksgraham , could you please help double confirm and review Gagan's PR for this issue?

Thanks in advance.

[2020-08-10 01:34] Nic-Ma commented on #876
Hi @dlabella29 ,

Thanks for your interest and experiments here.
Could you please remove `Spacingd` and `CropForegroundd` then try again?
See whether you still can't train with other datasets.
If still wrong, add `DataStatsd` transform before `ScaleIntensityRanged` to print out debug information.

Thanks.

[2020-08-10 02:52] #877 closed

[2020-08-10 11:36] Nic-Ma opened #881 "There are several minor issues in new updated notebooks"
**Describe the bug**
We just had a very big update for all the notebooks which also brought some minor issues.
Reviewing in process, use this ticket to track:
1. Need to update the dataset paths to public dir instead of a personal home path.
2. Need to update the plot of CacheDataset notebook, used wrong data to plot.
3. Use torch.cuda to profile memory usage.
I will submit a PR to fix all the abo

[2020-08-10 11:40] #869 closed

[2020-08-10 12:50] #392 closed

[2020-08-10 13:28] jond01 commented on #856
Hi, great plan! I have some comments -

1. Choosing default conventions: from the examples I saw, *MONAI* currently uses *NiBabel* in `LoadNifti` and `Orientation` transforms. My suggestion is (a) merge these two transforms into one (also for itk-based `LoadImage`), (b) choose *MONAI*'s default convention for coordinate system and orientation codes, in order to maintain reproducibility via differe

[2020-08-10 13:37] jond01 commented on #827
Hi, it can probably work. We can contribute to your IO part according to the proposal (#856), let me know @wyli @mjorgecardoso.

[2020-08-10 15:55] Nic-Ma commented on #856
Hi @jond01 ,

Cool, thanks so much for your sharing!
Let me try to play with it this week and get back to you soon.

Thanks.

[2020-08-10 16:10] wyli commented on #872
I put those demo data here: https://www.dropbox.com/s/y890gb6axzzqff5/testing_ixi_t1.tar.gz?dl=1 please let me know if there's further issues

[2020-08-10 16:23] #871 closed

[2020-08-10 16:43] arp95 commented on #872
thanks for the help. will check it out and let you know if I face any issues.

[2020-08-10 21:19] gagandaroach opened #883 "Ctrl+C does not cancel workflow model training."
**Describe the bug**
When executing a python script that uses a MONAI workflow, Ctrl+C in terminal does not cancel the script. Instead, the current epoch is skipped and training resumes at the next epoch.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `MONAI/examples/workflows/unet_training_dict.py` in the foreground.
2. After training starts, issue SIGINT or ctrl+c to foreground pr

[2020-08-11 01:04] Nic-Ma commented on #883
Hi @gagandaroach ,

This is expected behavior of ignite.
Thanks.

[2020-08-11 01:31] Nic-Ma commented on #883
Hi @vfdev-5 ,

Could you please help double confirm it or provide more information?
Thanks in advance.

[2020-08-11 05:26] Nic-Ma commented on #881
Hi @ericspod and @wyli ,

I tried to use `torch.cuda.memory_summary()` to print out memory usage, but the output layout is incompatible with jupyter notebook. Good news is that jupyter notebook can "freeze" current GPU memory status after training, so I just added `nvidia-smi` after training, preview of latest notebook:
https://github.com/Nic-Ma/MONAI/blob/881-refine-notebooks/examples/notebooks/a

[2020-08-11 06:51] vfdev-5 commented on #883
@Nic-Ma the behaviour looks strange, let me run it from my side and inspect what happens. Normally, 1 or 2 Ctrl+C is sufficient to stop the training.

[2020-08-11 07:13] csudre opened #885 "Evaluation suite - loading input"
**Context**
Evaluation suite - Need to be able to address multiple input situations - Either a single pair of reference / output or a folder of matching pairs or numpy arrays already loaded to memory.

**Describe the solution you'd like**
Flexible evaluation suite where input can be a specified pair of images to load / a folder with subject matching pairs
Should also be able to handle existing num

[2020-08-11 08:48] wyli commented on #881
it seems the torch memory summary command worked here: https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/transform_speed.ipynb it shows Cur Usage/Peak Usage, not sure how accurate it is

[2020-08-11 09:03] wyli commented on #885
thanks @csudre, for those three use cases, the basic evaluation logic would be:
1. user-specified pair of images to load:
[code]
2. user-specified folder:
[code]
3. in memory arrays:
[code]

looks like what's missing just now is
- [ ] a `folder_to_list` utility to extract a data_list such as ``datalist = [{'img': 'subject-1.nii.gz', 'seg': 'subject-1-seg.nii.gz'}]`` from a user provided folder.
-

[2020-08-11 10:37] ericspod commented on #881
Either notebook looks fine but importantly the different is memory usage is shown with `nvidia-smi`. The other routines in the `torch.cuda` package give a lot of information on what is allocated, reserved, active, blocks, etc. It might be useful to have some profiling/logging mechanism in place to follow these statistics throughout training as well as CPU and main memory usage.

[2020-08-11 10:49] dlabella29 commented on #876
Hi @Nic-Ma ,

I tried removing CropForeground only for the spleen dataset, and it still worked.
When I also tried removing SpacingD from the spleen dataset, it did not work anymore...
It seems anytime SpacindD is not perfectly correct for any dataset, the model cannot train due to either the loss function calculation or data loading into the model.

(DataStatsd(keys=['image', 'label'], data_value=

[2020-08-11 11:20] Nic-Ma commented on #881
Hi @ericspod and @wyli ,

Thanks for your feedback, I made a mistake before. Updated the notebook to use `torch.cuda.memory_summary()`:
https://github.com/Nic-Ma/MONAI/blob/881-refine-notebooks/examples/notebooks/automatic_mixed_precision.ipynb
I think maybe it's good enough for current stage?

Thanks.

[2020-08-11 11:29] Nic-Ma commented on #876
Hi @dlabella29 ,

For your 2 problems, as the error message said:
1. "The proposed roi is larger than the image." If without `SpacingD` transform, some images are smaller than 96 at D dim.
You can try to use a smaller crop size, like (64, 64, 64) maybe.
2. If don't use `RandCropByPosNegLabeld`, you need to use `Resized` transform or other crop transform to make sure the images are in same size, ot

[2020-08-11 12:13] ericspod commented on #881
This will do for now, sure. It shows the differing memory usage as we'd expect from AMP.

[2020-08-11 13:21] csudre opened #886 "Evaluation suite - output"
**Context**
Following the evaluation process on a set of references / output pairs, an aggregated report should be produced

**Describe the solution you'd like**
2 separate aggregations should be proposed:
 * Raw aggregation - All the calculated metrics for each reference/output pair should be made available
 * Population aggregation - Core statistics of the metrics over the population of referenc

[2020-08-11 13:29] dlabella29 commented on #876
Hi @Nic-Ma

I figured out the issue.
Your recommendation to use DataStatsd let me realize that the other organs had a label intensity of [0,255] instead of [0,1].
Using the ScaleIntensity transform to go to [0,1] allowed the model to train successfully.

Thanks for the help!

Dom

[2020-08-11 13:32] Nic-Ma commented on #876
Cool! Please feel free to submit issue if you face any other problem or question.
Thanks.

[2020-08-11 13:44] csudre opened #887 "Evaluation suite - nan handling"
**Context**
Most of the evaluation metrics fall into non defined ranges (infinite numbers / division by 0) and these cases must be carefully treated when presenting the results and / or aggregating the data
The users need to be aware of nan values (and some nan values are actually valid outputs)

**Describe the solution you'd like**
The most flexible way to do this would be to be able to call a sp

[2020-08-11 13:58] csudre opened #888 "Evaluation suite - Generic consideration for segmentation tasks"
**Context**
Segmentation is not only based on binary masks and the evaluation suite should be able to handle other subtypes of data including multi-label and probabilistic output. The report of th

**Describe the solution you'd like**
For multi-label tasks, provide metrics both for each label and as an aggregation (weighted average, micro and macro average)
For probabilistic segmentation (compared

[2020-08-11 14:09] csudre opened #889 "Evaluation suite - Segmentation metrics"
**Context**
By default more than one metric should be used for any type of evaluation - For instance, Dice score should never be used on its own

**Describe the solution you'd like**
- All confusion matrix metrics [https://en.wikipedia.org/wiki/Sensitivity_and_specificity](https://en.wikipedia.org/wiki/Sensitivity_and_specificity)
- Hausdorff distance with argument for percentile
- Average distanc

[2020-08-11 20:58] vfdev-5 commented on #883
@Nic-Ma I inspected the code of `unet_training_dict.py` and it seems like that the issue is related to the code of monai's `StatsHandler` and the way how it is handling exceptions: https://github.com/Project-MONAI/MONAI/blob/04e1c345fc840f5a1b6504ee5857d5a9feb27d84/monai/handlers/stats_handler.py#L133-L145

This class catches and handles all exceptions by just logging them without re-posting them

[2020-08-11 21:59] Nic-Ma commented on #856
Hi @aylward ,

I tried to understand the ITK examples and get 2 quick questions:
1. May I know where I can find the doc-string for all ITK python APIs? I want to know what's the expected input data type and output data type of `itk.imread()`.
2. How to get the `meta_data` of loaded image with python APIs? Is it a `dict` type object? Where can I find a list of all the **expected keys** in this meta

[2020-08-12 00:10] Nic-Ma commented on #883
Hi @vfdev-5 ,

I submitted a PR #890 to fix this issue.
This is a minor question: I found that if we have several handlers attached to `EXCEPTION_RAISED` event, only the first handler will be called, is it expected?

Thanks.

[2020-08-12 00:27] vfdev-5 commented on #883
Hi @Nic-Ma,

Currently, ignite's engine can catch an exception in two places and execute attached handlers. If attached handler reraises the exception then it stops the handlers dequeing...
Handling `EXCEPTION_RAISED` events was coded in the very begining and probably needs to be updated to a more clear behaviour. Please, open an issue in ignite and we can discuss how to provide more natually expe

[2020-08-12 01:48] Nic-Ma commented on #883
Hi @vfdev-5 ,

I raised an issue to ignite: https://github.com/pytorch/ignite/issues/1234.
Thanks.

[2020-08-12 02:55] Nic-Ma opened #892 "Cache the Pos/Neg centers of RandPosNegCrop to accelerate training"
**Is your feature request related to a problem? Please describe.**
Currently, the `RandCropByPosNegLabel` transform can't be supported by `CacheDataset` because it's random transform.
Actually, we can only compute Positive and negative centers once, then randomly select centers to crop in every epoch.
So I suggest creating a separate transform `PosNegSampleCentersd(keys, label, image=None, postfix

[2020-08-12 02:58] Nic-Ma commented on #586
Mark: @yiheng-wang-nv is working on this task, I will refactor the PosNegCrop related transforms when it's merged.
Thanks.

[2020-08-12 05:48] Nic-Ma commented on #856
Hi @aylward ,

BTW, I submitted a draft PR to develop the IO APIs: https://github.com/Project-MONAI/MONAI/pull/893.
Got an error when I try to convert `ITKMetaDictObject` to python dict:
[code]

Do I misunderstand anything?

Thanks.

[2020-08-12 10:23] wyli opened #894 "Move jupyter notebooks out of the project-monai/monai repo"
**Background**
The `Project-MONAI/MONAI` repository now has [20 jupyter notebooks](https://github.com/Project-MONAI/MONAI/tree/master/examples/notebooks). They are mainly simple and intuitive working demos for the MONAI key features. With the upcoming MONAI educational events, MONAI will likely to have more demos in the form of jupyter notebooks.

**Proposal**
This ticket proposes to move the note

[2020-08-12 11:25] Nic-Ma commented on #894
Thanks @wyli for your summary and for raising this discussion.
I want to add some concerns about moving the notebooks out of current repo:
1. China users **can't access Google** websites, including Colab, I think this is a big risk if we move all notebooks to Colab.
And even with VPN, I feel it's very slow to open Colab web pages.
2. Currently, all the notebooks have a button "run in Colab", if us

[2020-08-12 11:51] wyli commented on #894
@Nic-Ma good points, just wanted to clarify the fact that

there are external dependencies in the notebooks, which are not covered by `monai/requirements.txt` or `monai/requirements-dev.txt`.

Great to know that the notebooks use the pip installed monai release. The cloned core codebase is not actually needed/used when running the demos, which is another indicator that the notebooks shouldn't be p

[2020-08-12 12:04] wyli commented on #894
just realised there's another issue of cyclic dependencies when releasing the package:
the notebooks require the tagging and releasing of the latest MONAI codebase,
but the tagging and releasing depend on the readiness of all components of the codebase which currently includes the notebook folders.

So, If the notebooks use the latest tagging release, the notebook and the core codebase should be m

[2020-08-12 12:28] Nic-Ma commented on #894
Hi @wyli ,

As we use `pip install monai` in notebooks now, notebooks don't have a dependency on explicit MONAI version.
I think we don't have this issue anymore?

Thanks.

[2020-08-12 12:59] ericspod commented on #894
There is an issue of dependency between the notebooks and the codebase, if we write a notebook to rely on the version of MONAI as committed with the notebook then that will be ahead of what we tag for pip. If what we choose to do is state that the notebooks should be for the most recent version installable via pip then they have to be explicitly written that way, which does exclude having experime

[2020-08-12 13:08] wyli commented on #894
for a concrete example, https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/automatic_mixed_precision.ipynb demonstrates the latest monai AMP capability, but `pip install monai` currently installs v0.2. v0.2 doesn't claim this feature. At least this causes confusions.

[2020-08-12 13:12] Nic-Ma commented on #894
Hi @ericspod and @wyli ,

Thanks for your sharing. About the dependency issue, currently, if the notebook doesn't have a dependency after MONAI v0.2, we use `pip install monai` in the notebook directly, if it depends on new features, we temporarily use the `pip install -qU git+https://github.com/Project-MONAI/MONAI` and I will remove this line when we tag and release v0.3. For example:
https://git

[2020-08-12 13:19] wyli commented on #894
One of the main goal of this feature request is to remove this temporarily workaround from the core codebase, now I'm confused...

[2020-08-12 13:55] Nic-Ma commented on #894
Hi @wyli ,

1. No matter where we put the notebooks, I think we need to re-run all of them to double confirm before every release.
2. And these 3 new notebooks can only run with the latest code before v0.3 release, so must install MONAI from master code even put notebooks into other repo or Colab, right?
Anyway, I already updated the AMP notebook in PR: https://github.com/Project-MONAI/MONAI/pull/

[2020-08-12 14:15] Nic-Ma opened #895 "Update all tests to use tempfile.TemporaryDirectory"
**Is your feature request related to a problem? Please describe.**
Currently, all the unit tests use `tempfile.mkdtemp` to create temp dir, as @ericspod suggested, it's better to use `tempfile.TemporaryDirectory` because cleanup is guaranteed even if the block within the context raises an exception.

[2020-08-12 14:44] #883 closed

[2020-08-12 15:13] aylward commented on #894
Perhaps it would be good to keep two or three key notebooks (getting started, spleen segmentation, and one other) in the MONAI repo.   I think it is a great idea to start a (or many) separate repo(s) for tutorials and other notebooks.

Also, you can automate the testing of a jupyter notebook.   See the script:
https://github.com/InsightSoftwareConsortium/ITKTubeTK/blob/master/CMake/EvaluateIPython

[2020-08-12 15:24] michalhg opened #896 "add support for UNET++"
UNET++ ustilizes skip connections to exploit multi-scale features for image segmentation. it added dense skip connection adn deep supervision to the original UNET
https://arxiv.org/pdf/1912.05074.pdf

please add this network to the networks file.
official keras implementation is given in : https://github.com/MrGiovanni/UNetPlusPlus

other pytorch implemetation is also given in : https://towardsdat

[2020-08-12 16:06] wyli commented on #889
I think we could start working on this and report back any issues (especially if they are related to #887 #888) cc @Nic-Ma @yiheng-wang-nv

[2020-08-12 16:39] aylward commented on #856
@Nic-Ma - Great work!!!

Matt McCormick ( @thewtex ) is the local ITK guru (and he leads most ITK development, including Wrapped ITK), and he provided the following answers for your two questions:

1) How to read doc-strings for imread() and all ITK python APIs?
- ITK Python API's have standard doc-strings. They can read with `help(itk.imread)` in a standard Python interpreter and `itk.imread?` in

[2020-08-12 22:45] Nic-Ma commented on #896
Hi @michalhg ,

Thanks for your feedback.
I marked this request for working group discussion.

Thanks.

[2020-08-12 22:50] Nic-Ma commented on #889
Sounds good! I will go through all the plan with @yiheng-wang-nv today.

Thanks.

[2020-08-13 02:48] Nic-Ma commented on #889
Hi @wyli ,

I totally agree to add more metrics as soon as possible, we are really short of metrics.
And I think most of the metrics are common or standard algorithms, should we re-implement them all in MONAI or leverage some 3rd packages?
When more metrics included, let's try to enhance metrics module with a detailed report and other cool features from working group.

Thanks.

[2020-08-13 03:41] yiheng-wang-nv opened #898 "Add Convolution transform"
A convolution manipulation with fixed filter weights is deterministic, thus it can be considered to be a new transform method. In addition, this feature is helpful for implementing #586

[2020-08-13 03:53] Nic-Ma commented on #856
Hi @thewtex,

Thanks very much for your explanation, it's much more clear for me now.
I think the `imageio` feature is still under development, we may consider it as a good standard meta-data when it's ready to use later.
Now I want to use python `dict` to store meta data in MONAI, which can be compatible with other readers, how can we easily convert `ITKMetaDictObject` to `dict`? I faced an issue

[2020-08-13 05:41] csudre commented on #889
Hi @wyli, @Nic-Ma !

As mentioned on the wiki page, there are a few implementations that can potentially be used:
[https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.directed_hausdorff.html](url)
[https://scikit-learn.org/stable/modules/model_evaluation.html](url)
[https://medium.com/pytorch/pytorch-lightning-metrics-35cb5ab31857](url)
[https://github.com/NifTK/NiftyNet/tr

[2020-08-13 07:50] wyli commented on #889
I think we could leverage the relatively mature packages such as scipy/scikit-learn as a starting point. We can always take more iterations to refactor them if there are concerns from the working group.

[2020-08-13 08:13] Nic-Ma commented on #889
Hi @wyli ,

I agree with scipy/scikit-learn for common metrics, and @yiheng-wang-nv will start from there.
And for medical specific metrics, let's discuss one by one whether to use 3rd package or port to MONAI.

Thanks.

[2020-08-13 09:50] yiheng-wang-nv commented on #898
use convolution to calculate how many positive pixels around is not feasible, since a large kernel size brings tremendous calculations, let me close this issue and think about other methods.

[2020-08-13 09:50] #898 closed

[2020-08-13 10:01] wyli commented on #898
integral image might be helpful? https://en.wikipedia.org/wiki/Summed-area_table

[2020-08-13 10:13] yiheng-wang-nv commented on #898
Thanks! Let me take a look!

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Wenqi Li <notifications@github.com>
发送时间: Thursday, August 13, 2020 6:01:48 PM
收件人: Project-MONAI/MONAI <MONAI@noreply.github.com>
抄送: Yiheng Wang <vennw@nvidia.com>; State change <state_change@noreply.github.com>
主题: Re: [Project-MONAI/MONAI] Add Convolution transform (#898)

integral imag

[2020-08-13 11:53] marksgraham commented on #877
Yes looks good to me!

[2020-08-13 13:17] #895 closed

[2020-08-14 05:23] talmazov opened #901 "cannot load dataset similar to spleen example"
I am trying to use unet_training_dict.py on my own set of data. I can generate the random test files the script requires and everything works fine. However, I tried to create a set of 5 CT scans that have the same dimensions as the spleen example (512,512,z). The spleen data does not load and it gives me the same error as my data, and it happens at the tuple check (which when disabled the data loa

[2020-08-14 06:17] Nic-Ma commented on #901
Hi @talmazov ,

Thanks for your interest and experiments with MONAI.
First of all, the voxel size of your image is different from spleen dataset, which will cause a different size after `Spacing` transform.
And please double-check the shape of your data, whether it contains a channel dim.
For example, in the `unet_training_dict.py` example, the generated data shape is `[128, 128, 128, 1]`, then we

[2020-08-14 06:38] talmazov commented on #901
I removed the spacing from the transform and that didn’t do anything. Also you mention that the shape is 512,512,512 but where is the depth defined in the example? ImageJ shows that the depth of the spleen CT varies and it is around 100 slices when I’m opening random scans from the set.

[2020-08-14 06:46] Nic-Ma commented on #901
Hi @talmazov , the depth is the last dim, maybe it's not 512, I don't exactly remember it, H and W should be 512.

Thanks.

[2020-08-14 07:15] carlpe opened #902 "GAN questions"
I am experimenting with GAN and have some general questions.

**1. How do I resume training from a given checkpoint?**

**2. How can I save my outputs with the spacing that I would prefer? I use the following code to save the outputs at the end, but everytime it outputs with spacing 1.0:**

![image](https://user-images.githubusercontent.com/54416001/90223249-fbe12980-de0d-11ea-8391-9f106e96aa6e.pn

[2020-08-14 07:58] Nic-Ma commented on #856
Hi @jond01 ,

Have you faced this issue at this line of MedIO?
https://github.com/RSIP-Vision/medio/blob/master/medio/backends/itk_io.py#L56
I tried exact same logic as yours to load the meta data of 1 Nifti image of spleen dataset, got:
[code]
The test code is in PR: #893.

Thanks.

[2020-08-14 08:06] Nic-Ma commented on #856
Hi @thewtex and @aylward ,

I tried to load a Nifti image and check the meta data, even I still can't convert the meta data to dict, I print out several information and found that:
The shape of numpy array is `[55, 512, 512]` and `dim[1]=512`, `dim[2]=512`, `dim[3]=55`.
May I know what's the dim order in ITK? It's `DHW` for 3D images? Should we unifty to `HWD` for all kinds of readers?
Really need

[2020-08-14 09:47] carlpe commented on #902
Another thing. What could be the reason for this phenomenon in GAN?

Here the d-loss goes to 250 and the g-loss to 0 after a set of epochs.

![image](https://user-images.githubusercontent.com/54416001/90236810-8c763480-de23-11ea-80ae-b69870ba1f9d.png)

I have resampled my images to different sizes..  it works well with (64,64,64) and (72,72,72).. But  when I try with (128,128,128).. then this happ

[2020-08-14 10:32] jond01 commented on #856
Hey @Nic-Ma, in medio you can get the metadata dictionary (called there header) with
[code]
------

It happens in the new version of itk for `'ITK_original_direction'` and `'ITK_original_spacing'` keys.
In medio we had to fix the version of itk:

My best suggestion, for now, is to use a try-except approach in `get_meta_dict` method.
If you really want to dive deeper, try to translate [`itk::Expose

[2020-08-14 11:04] wyli commented on #827
thank you, would be great to have your contribution.
@Nic-Ma and I will create new tickets to properly track our intention and progress towards #856

[2020-08-14 11:11] Nic-Ma commented on #856
Hi @jond01 ,

Thanks very much for your detailed explanation!!
I will try to use ITK 5.0.1 as you suggested.
About our current plan, first step is to develop `ImageReader`, `ITKReader`, `NibabelReader`, `LoadImage` transform.
`NibabelReader` will keep the existing features in MONAI, `ITKReader` will be only an experimental version here.
We will release the proposal and development plan for next st

[2020-08-14 11:27] Nic-Ma commented on #902
Hi @ericspod ,

Could you please help on this issue as you are expert on the GAN network and built GAN tutorial.
Thanks in advance.

[2020-08-14 14:24] thewtex commented on #856
A few clarifications on this commonly encountered, but important set of conventions:

- The shape of the numpy array produced by ITK, available with `image.shape`, `np.array(image).shape`, `itk.array_from_image(image)` is `DHW` / `k,j,i`. This is because of the default indexing for NumPy array's is [C-order](https://en.wikipedia.org/wiki/Row-_and_column-major_order). It is important to use this or

[2020-08-14 14:44] ericspod commented on #902
1. The [GAN workflow notebook](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/mednist_GAN_workflow.ipynb) uses `CheckpointSaver`, so to load use `CheckpointLoader`, such as in [this example](https://github.com/Project-MONAI/MONAI/blob/bbc5e063268182b2d79b02ddb5156a38528cb62a/examples/classification_3d_ignite/densenet_evaluation_array.py). There are other examples using this

[2020-08-14 15:12] carlpe commented on #902
Thanks for the feedback! I will try it later

[2020-08-14 15:43] Nic-Ma commented on #856
Hi @thewtex ,

Thanks for your clarification!
I will try to update and test soon.
1. `__dict__` sounds good a API to have.
2. Could you please help add an argument for the order of dims for numpy array? Default can be DHW?

Thanks.

[2020-08-15 08:13] jond01 commented on #856
+1

https://discourse.itk.org/t/importing-image-from-array-and-axis-reorder/1192/5
I think that you can use [`keep_axes=True`](https://github.com/InsightSoftwareConsortium/ITK/blob/2f90e91f50eee172694353903f523712ca8403f9/Wrapping/Generators/Python/itkExtras.py#L270).

[2020-08-16 00:24] Nic-Ma commented on #856
Hi @jond01 ,

Thanks for your suggestion! I updated the code in the latest commit.
And then I want to raise another request for ITK, do you guys think it's necessary to export all docs of python API at webpage? Like MONAI api-docs: https://docs.monai.io/en/latest/

Thanks.

[2020-08-16 02:33] joe-China-zhou opened #903 "can use yolo in monai ?"

[2020-08-16 05:24] dlabella29 commented on #876
Hi Nic,

I have encountered another issue.  I have been training ok with most nifti files in a certain organ dataset, however when I add in certain files I begin to receive a "roi end out of image space" error message.

I have tried modifying the CropForegroundd, CenterSpatialCropd, SpatialPadd. BorderPadd, Spacingdd, and spatial_size within RandCropByPosNegLabeld transforms.

The problematic file

[2020-08-16 05:25] dlabella29 commented on #876
Hi Nic,

I have encountered another issue. I have been training ok with most nifti files in a certain organ dataset, however when I add in certain files I begin to receive a "roi end out of image space" error message.

I have tried modifying the CropForegroundd, CenterSpatialCropd, SpatialPadd. BorderPadd, Spacingdd, and spatial_size within RandCropByPosNegLabeld transforms.

The problematic files

[2020-08-16 14:05] Nic-Ma commented on #903
Hi @joe-China-zhou ,

Actually, MONAI is very flexible, you don't need to use an end-to-end pipeline of MONAI.
Instead, you can only use the transforms or other modules in your YOLO pipeline.

Thanks.

[2020-08-16 14:09] Nic-Ma commented on #876
Hi @dlabella29 ,

Please use `DataStatsd` transform before the crop transform and check whether the image size is bigger than crop size.
If your image is smaller than crop size, you can reduce your crop size or pad your image before cropping.

Thanks.

[2020-08-17 02:28] joe-China-zhou commented on #903
Sorry, I don't quite understand what you mean. This is my first time to learn Monai and Yolo. If I don't use Yolo, how can I object detection medical images in Monai?

[2020-08-17 02:32] Nic-Ma commented on #903
Hi @joe-China-zhou ,

I mean you can use your own YOLO code and use MONAI's transforms or some modules to simplify part of your own code.
MONAI doesn't have image detection examples so far.

Thanks.

[2020-08-17 02:42] joe-China-zhou commented on #903
thanks

[2020-08-17 11:39] #903 closed

[2020-08-17 13:38] carlpe commented on #902
I tried with num_res_units=0  over the course of 1000 epochs now first (batch_size=10)

![image](https://user-images.githubusercontent.com/54416001/90402206-66f55f00-e09f-11ea-9bac-7f68011bcdc0.png)

Next I will set dropout to 0.15 and see difference.

The outputs are much better, and the "mode collapse" is not present here.

Do you recommend to add the "best_metric"  code from the GAN tutorial in

[2020-08-17 17:33] thewtex commented on #856
Great, I have added an issue to track this here: https://github.com/InsightSoftwareConsortium/ITK/issues/1957 . We can use these implementations directly, though, until that is out.

:+1:

Yes, good idea :bulb: I added this issue to track this: https://github.com/InsightSoftwareConsortium/ITKPythonPackage/issues/148

I am mostly AFK for the next month, but I will be able to implement these after.

[2020-08-17 18:34] ericspod commented on #902
It does look better. We didn't use any metrics in the tutorials so "best_metric" shouldn't be mentioned there. If you wanted to use some metric to assess how well the GAN is performing it would depend on the data but something like wasserstein distance or mamixmum mean discrepancy might be appropriate. We haven't these implemented in MONAI yet however.

[2020-08-17 20:08] carlpe commented on #902
Yes, a lot better indeed!

It seems as the best_metric is used on the GAN mednist  tutorial (https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/mednist_GAN_workflow.ipynb), but not on the GAN workflow notebook (https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/mednist_GAN_workflow.ipynb) as of now, or am I mistaken?

Nevertheless. I will continue my experimen

[2020-08-17 23:37] ericspod commented on #902
`best_metric` is included in the mednist tutorial by accident, it isn't actually used. We should remove it shortly.

The [Pytorch forums](https://discuss.pytorch.org) would be a good place to ask, and we're working on other venues for help and feedback with users.

[2020-08-18 01:42] Can-Zhao opened #906 "sliding_window_inference() in monai.inferers went wrong when roi_size=(M,N,1)"
**Describe the bug**
sliding_window_inference() gives NaN when roi_size=(M,N,1)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sliding_window_inference() in monai.inferers
2. Go to the line: run
slices = dense_patch_slices( image_size=(450, 344, 450), roi_size=(96, 96, 1), scan_interval=(72,72,0))

**Expected behavior**
You will get len(slices)=30, which should be 30*450 instead.

 -

[2020-08-18 01:51] Nic-Ma commented on #902
I submitted PR https://github.com/Project-MONAI/MONAI/pull/905 to remove the `best_metrics`.

Thanks.

[2020-08-18 07:32] carlpe commented on #902
The graph looks like this with dropout = 0.15 .. I did 5000 epochs with batch_size 10
![image](https://user-images.githubusercontent.com/54416001/90483514-19c3cc80-e135-11ea-84c3-08b691e2f0ce.png)

Example of result:
![image](https://user-images.githubusercontent.com/54416001/90483698-627b8580-e135-11ea-949f-ee8afc472f22.png)

Original input example:
![image](https://user-images.githubusercontent.

[2020-08-18 08:41] #902 closed

[2020-08-18 08:49] Nic-Ma commented on #906
Hi @Can-Zhao ,

Thanks for your feedback, the root cause is that you used `overlap = 0.25` but the ROI size of dim3 is `1`, so the interval is smaller than even `1`(`0.75`) and MONAI used `floor` to convert to int number.
I changed it to use `ceil` in PR #907 .

Thanks.

[2020-08-18 13:02] wyli opened #909 "image data reader and LoadImage transform refactoring"
This is a follow-up of #856 to track the progress of a preliminary IO refactoring.

**Goal**

The main goal of this ticket is to create a file format agnostic wrapper for the image inputs (`LoadImage` and `LoadImaged`).
A typical use case (enhancing the current [`NiftiDataset`](https://github.com/Project-MONAI/MONAI/blob/6a6f52f5f80e5c706f1f0976aa76b56af488d119/monai/data/nifti_reader.py#L21)) is:

[2020-08-18 13:12] wyli commented on #909
thanks for the discussion @Nic-Ma  let's use this ticket to raise any detailed technical issues

[2020-08-18 13:35] ericspod commented on #902
The mosaicing is perhaps a result of the use of transpose convolutions in the generator, if the kernel size is 3x3x3 they have less overlap over their inputs, so a pixel in one layer derives information from only one other in the previous layer. We were discussing the solution to this, using subpixel convolutions in place of just transpose convolutions, this does involve changing the generator's `

[2020-08-18 13:59] wyli commented on #894
thanks for the discussions, based on the feedback, we plan to migrate the notebooks to a separate repo, and retain a readme file in this repo with links to them (will categorise the links into essential tutorials, latest features etc.)

[2020-08-18 14:05] Nic-Ma opened #910 "torchvision is missing at all the optional import related config"
**Describe the bug**
Now we have `torchvision` as optional import for AHNet, but haven't added `torchvision` and `gdown` to all the optional import related config.

[2020-08-18 14:14] wyli commented on #861
fixed by #897

[2020-08-18 14:14] #861 closed

[2020-08-18 15:18] Can-Zhao commented on #906
Thank you!

[2020-08-18 15:21] #906 closed

[2020-08-18 22:41] IsaacYangSLA opened #911 "Add more combinations of different pytorch and cuda into test environments"
**Is your feature request related to a problem? Please describe.**
This is to include more test environments so that we can test MONAI in pytorch 1.5 and/or cuda 10.1.

**Describe the solution you'd like**
In CI, the workflow will install pytoch and pick up cuda version to build the underlying environment.  The usual test scripts can run on those different environemnts.

**Describe alternatives yo

[2020-08-19 01:00] Nic-Ma opened #913 "CacheDataset caches same content in every process of distributed training"
**Describe the bug**
During distributed training, `CacheDataset` can work well, but it caches all the data in every process, may need to figure out a solution to optimize it.

[2020-08-19 01:03] Nic-Ma opened #914 "Develop SmartCacheDataset based on CacheDataset"
**Is your feature request related to a problem? Please describe.**
For very big dataset, we should support to only cache and use part of the dataset to train for every epoch, create a background thread/process to replace the cached content for every epoch.
Need to handle the multi-threads and multi-processing issues clearly in this task.

see also https://docs.nvidia.com/clara/tlt-mi/clara-train-s

[2020-08-19 10:25] wyli commented on #135
closing this in favour of https://github.com/Project-MONAI/MONAI/issues/856

[2020-08-19 10:25] #135 closed

[2020-08-19 10:29] wyli commented on #604
please see #856

[2020-08-19 10:29] #604 closed

[2020-08-19 11:01] wyli opened #915 "revise monai.apps.DecathlonDataset to use AWS open data"
**Is your feature request related to a problem? Please describe.**
The dataset is now made available via [AWS open data](https://registry.opendata.aws/msd/), the relevant remote data fetching should be updated accordingly.

new URL format:
   - https://msd-for-monai.s3-us-west-2.amazonaws.com/TaskXX_YYYYYYYY.tar
   - (EU replica) https://msd-for-monai-eu.s3-eu-west-2.amazonaws.com/TaskXX_YYYYYYYY.

[2020-08-19 11:07] #911 closed

[2020-08-19 14:17] arp95 commented on #915
@wyli is this related to updating the dataset paths in the datasets.py file? Or we need to add new examples on how to download the data and use it? Thanks.

[2020-08-19 15:28] wyli commented on #915
Hi @arp95 thanks for your interest here, it'll be some enhancements on the downloading mechanism and the relevant testing pipelines, and probably removing dependencies of `gdown` in many places including the examples and tutorials.

[2020-08-19 15:42] arp95 commented on #915
@wyli just to understand properly, we were using gdown before for the data and now it is being replaced by aws? I mean can you elaborate more on the downloading mechanism and how is the data used here? Thanks.

[2020-08-19 16:54] mjorgecardoso commented on #915
We managed to get an agreement with AWS for a free S3 bucket under their open data program. Thus, we can download data directly and without any google limitations (download limits, china firewalls, etc). Data can be downloaded from s3 directly and efficiently using standard https, so no dependencies such as gdown are not necessary.

[2020-08-19 18:18] IsaacYangSLA opened #918 "Include CUDA11+PyTorch1.6 in CI envrionment"
**Is your feature request related to a problem? Please describe.**
This is to increase the combinations of test environments.

**Describe the solution you'd like**
Add one more item in environment, as well as the correspondent image/pytorch.

**Describe alternatives you've considered**
Currently, no clear alternative available.

**Additional context**
N/A

[2020-08-19 18:36] jillianlee opened #920 "2D Segmentation Example"
Hi There,

Do you plan on posting examples or workbooks for any 2D segmentation problems?

I'm having some issues trying to get predictions to work with 2D input data. The same data given in 3D to the same network works just fine, but when using the 2D data, all my masks come out black. I've tried changing quite a few of the parameters and optimizer settings but nothings helped. I think an example

[2020-08-19 19:20] arp95 commented on #915
thanks for clearing it up @mjorgecardoso

[2020-08-19 19:22] midmelody opened #921 "PersistentDataset errored out"
Regular Dataset works fine
train_dataset = Dataset(train_images, transform=train_transform)
But upon replacing this line with PersistentDataset as
train_dataset = PersistentDataset(train_images, transform=train_transform, cache_dir=persistent_cache)

Received error " Object of type 'ndarray' is not JSON serializable" at getting training sample, details below:

-------------------------------------

[2020-08-19 21:35] #918 closed

[2020-08-20 02:02] Nic-Ma commented on #920
Hi @jillianlee ,

Thanks for your interest here.
For 2D segmentation task, it should be just slightly different from 3D segmentation at `network` dims and `transform` shapes.
Could you please paste your test program and let me check some details?

Thanks.

[2020-08-20 02:07] Nic-Ma commented on #921
Hi @midmelody ,

Thanks for your bug report.
May I know what the data type of `train_images` in your test? List of arrays or list of dicts?
`PersistentDataset` should work on dict format data instead of array format data.

Thanks.

[2020-08-20 03:17] Nic-Ma commented on #921
And I think the root cause is that maybe your data was not loaded from files?
`PersistentDataset` expects data source to be file paths and run MD5 on the paths then use them as the key to cache data.
@hjmjohnson maybe can help double confirm.
I submitted PR #922 to clarify the docs of `PersistentDataset`.

Thanks.

[2020-08-20 03:20] Nic-Ma commented on #915
Hi @arp95 ,

Do you want to take this task? If yes, welcome to submit a PR for it.
Thanks.

[2020-08-20 05:33] #901 closed

[2020-08-20 05:34] Nic-Ma commented on #881
Merged into new repo: https://github.com/Project-MONAI/Tutorials
Close this ticket now.
Thanks.

[2020-08-20 05:34] #881 closed

[2020-08-20 05:37] Nic-Ma commented on #889
Mark: @yiheng-wang-nv is working these metrics proposals, will submit several PRs.
Thanks.

[2020-08-20 06:10] Vector-Wang opened #924 "Meta Learning Module"
## Introduction
Meta Learning is an emerging research direction of machine learning theory. [Learning to Reweight Examples for Robust Deep Learning](https://arxiv.org/abs/1803.09050) describled a reweight method based on meta learning. It's useful for corrupted and imblanced labels. [Here](https://github.com/danieltan07/learning-to-reweight-examples) is an unoffical pytorch implementation.  There

[2020-08-20 08:36] #921 closed

[2020-08-20 08:50] wyli commented on #894
- [x] created https://github.com/Project-MONAI/Tutorials
- [x] updated links on https://monai.io
- [x] update examples/readme.md, docs/highlights.md #917

[2020-08-20 09:17] wyli commented on #924
thanks @Vector-Wang. this looks very interesting, would you be happy to create a research prototype first?

ideally the PR would
- [ ] have a readme file (with reference of the original publication)
- [ ] depend on a publicly-available small dataset (or even synthetic data) so that we can quickly download the data and run/verify the research prototype
- [ ] simple scripts to show the key features

[2020-08-20 15:00] arp95 commented on #915
@Nic-Ma sure working on it. I need to remove the gdown dependency and replace the data urls with the new aws urls we have right?

[2020-08-20 15:41] Nic-Ma commented on #915
@arp95 , you can try to replace the data URLs first, then remove the down dependency.
Thanks.

[2020-08-20 15:42] #910 closed

[2020-08-20 15:58] arp95 commented on #915
@Nic-Ma sure. will work on that. Thanks.

[2020-08-20 16:08] Nic-Ma opened #925 "Execute all the tests on A100 GPU"
**Is your feature request related to a problem? Please describe.**
In order to make sure MONAI can be compatible with A100 GPU, need to execute all the tests(unit tests and integration tests) on a A100 GPU, we can test it internally.

[2020-08-20 16:11] Nic-Ma opened #926 "Add support to run distributed training tests in CI"
**Is your feature request related to a problem? Please describe.**
Now we already have some distributed training test cases, like: https://github.com/Project-MONAI/MONAI/blob/master/tests/test_handler_rocauc_dist.py
Need to be executed in our CI system.
We can run with **2 GPUs in 1 node** first.

[2020-08-20 16:16] Nic-Ma opened #927 "Add execute-time test for integration test cases"
**Is your feature request related to a problem? Please describe.**
We test the accuracy with determinism training in integration tests, need to also test the max execute-time.
Then we may also add this time test to many unit tests.

[2020-08-20 16:18] Nic-Ma opened #928 "Set up weekly build in CD system"
**Is your feature request related to a problem? Please describe.**
As we already have C++/CUDA code in MONAI, need to support weekly build to generate `preview` version wheel for users.

[2020-08-20 16:39] IsaacYangSLA commented on #926
This seems straightforward.  The CI job running inside the container can see all gpus.  So we can either add one item in the bash script, or run it as a separate step in CI.  I will try to include it.

[2020-08-20 18:56] #894 closed

[2020-08-20 23:21] Nic-Ma opened #931 "Add 2D segmentation example"
**Is your feature request related to a problem? Please describe.**
Recently, we have received request for 2D segmentation example for internal and external users, need to add it.

[2020-08-20 23:23] Nic-Ma commented on #909
Mark: completed 2 tasks in the list, will work on `NumpyReader`, `PILReader` in the next PR.
Thanks.

[2020-08-21 00:05] jillianlee commented on #920
Hi @Nic-Ma

I assumed as such, and I'm not getting any errors, it just seems like a vanishing gradient problem but the usual solutions are not helping. I've tried changing activation functions in the UNet, loss functions, optimizers and nothing has helped.

[code]

The network parameters, optimizer, and loss function seem to work fine with the 3D data fed from `ArrayDataset`.
When I perform sampli

[2020-08-21 01:47] Nic-Ma commented on #920
Hi @jillianlee ,

2 points I found here may be helpful:
1. As your data is in dict format, please use `monai.data.Dataset` or `monai.data.CacheDataset` instead of `ArrayDataset`.
2. Are you using the brain tumor dataset in Decathlon Task01 or original BraTS dataset? The labels are different in them.
I remember BraTS uses label `1, 2, 4`, you need to double confirm it.

Thanks.

[2020-08-21 05:20] jillianlee commented on #920
Hi @Nic-Ma

1. Oh right, my apologies. Previously I had used array data with the `ArrayDataset`, and I tried switching to dict type data to debug.
I switched to `Dataset` and no improvement.

2. I also just tried 1,2, and 4 for BraTS and no repair. The masks still all come out black

Essentially this entire code works perfectly fine with the 3D data, but as soon as its sliced into 2D images, it br

[2020-08-22 03:33] shrutishrestha opened #934 "Normalize my images with imagenet mean"
How can I normalize my data with the mean and standard deviation of imagenet? Here I see it calculates the mean and std from provided dataset but cannot normalize with mean lets say for 3 channel, giving mean ([0.485, 0.456, 0.406]) in subtrahend and std ([[0.229, 0.224, 0.225]]) in divisor produces error while using pretrained network

[2020-08-23 00:17] Nic-Ma opened #935 "Remove gdown dependency"
**Is your feature request related to a problem? Please describe.**
As we already moved Decathon dataset from Google drive to AWS, no need to use gdown.
Need to remove all the gdown dependency as a optional import.

see also https://github.com/Project-MONAI/MONAI/issues/915

[2020-08-23 02:56] uoysip opened #936 "2D Cell Segmentation Issue (Empty Output)"
Hello,

I have made some modifications to the `spleen_segmentation_3d_lightning.ipynb` notebook to work on a 2D public dataset (from http://celltrackingchallenge.net/). However, the trained model only outputs black images. I believe the issue is with the loss function parameters or the transforms but I could not fix the issue after experimenting with different configurations. I have attached the n

[2020-08-23 18:38] arp95 opened #938 "Add additional test cases (image tensor: 3D) for convolutions.py"
Currently test_convolutions.py consists of test cases for 2D image tensor. Add additonal test cases for convolutions.py for 3D image tensor case.

@Nic-Ma @wyli

[2020-08-23 22:41] jillianlee commented on #920
I'm also getting same behavior on the 2D HighResNet and VNet.

From what I've read on other forums its a common problem for class imbalanced problems. The suggested fixes include changing the activation functions to tanh or elu, which I have tried. Or changing the loss functions to Generalized Dice Loss, Tversky Loss, or Masked Dice loss. These adjustments haven't helped either.

[2020-08-24 08:28] kissievendor commented on #920
I am working on something similar. Could you share the whole code for ConvertLabel.

I think this also would be a nice addition to MONAI.

[2020-08-24 09:27] gagandaroach opened #939 "Question: How to use even sized kernels with Monai Convolution block?"
Hi All, I am working on rewriting [MC_GAN](https://github.com/HYOJINPARK/MC_GAN/blob/master/Model1/model.py) with the MONAI framework and have a question with the Monai Convolution block. Why are even number kernels not supported in the Monai Convolution block?

I am running into this problem with the block when my kernel size is an even number. The `monai.networks.layers.convutils.same_padding()`

[2020-08-24 11:29] #875 closed

[2020-08-24 11:59] ericspod commented on #935
We should have everything hosted in one place, ie. AWS, so we should migrate everything there. For other things which can be downloaded via URL we could keep if need be, I think even gdrive files can be had through URLs so gdown seems doubly unneeded.

[2020-08-24 13:42] Nic-Ma commented on #938
Hi @arp95 ,

Thanks for your suggestion.
I mark this as a contribution wanted task.

[2020-08-24 13:45] Nic-Ma commented on #939
Hi @ericspod ,

Could you please help share some suggestion here? I think you are expert on network layer topics.
Thanks in advance.

[2020-08-24 13:48] Nic-Ma commented on #935
Hi @ericspod ,

Thanks for your comments.
@wyli  what do you think? should we remove `gdown` now or leave it for v0.4 or any necessary concern to keep it?

Thanks.

[2020-08-24 13:59] arp95 commented on #938
sure. i am working on this task.
Thanks.

[2020-08-24 14:13] wyli commented on #936
I think the labels with "each cell having a different intensity" make the segmentation task very difficult (and using DiceLoss is properly not ideal), an easier task would be using some transforms to convert the labels into cell vs non-cell binary maps, and train the networks to do the binary prediction

[2020-08-24 14:37] wyli commented on #935
currently `monai.utils.download_url`will automatically try to use gdown if it's a google drive link, this is completely optional and not tightly coupled with the rest of monai functionality. I feel this might be helpful for the users to build some quick/lightweight demo? we could keep this minimal feature and add some lightweight unit tests for this function? (releasing via AWS open data requires

[2020-08-24 14:41] rijobro commented on #935
https://github.com/Project-MONAI/MONAI/blob/52e254ff3a87ccdd4c5d14c3a01b9d9fe5f9c855/monai/apps/utils.py#L80-L82

Unless I've misunderstood, if the link is a google drive, then `gdown` is used (i.e., it is not optional).

Presumably, this:
[code]
should be:

[code]

[2020-08-24 15:01] wyli commented on #939
I remember there were some concerns about implementing a generic padding interface without knowing the input size, this will cause some performance/model serialisation issues

[2020-08-24 15:29] ericspod commented on #939
The padding was the issue from how it was implemented originally. To pad for an even kernel size requires a slightly different pad scheme to ensure the output dimensions were the same as the input dimensions divided by the stride. With other values for stride, dilation, and whether the convolution was transpose or not, this wasn't easy to ensure. The intension of Convolution was to be used in plac

[2020-08-24 15:38] jillianlee commented on #920
Hi @kissievendor
[code]

Here is the whole code for ConvertLabel. Its modified from the BraTS example that they had previously posted in their examples folder (I believe its been taken down now?). I set it up this way to output only 1 binary label for 1 output channel. This combination of labels is mentioned in the BraTS reference paper. It is the combination that is visible from the FLAIR data.

[2020-08-24 15:47] carlpe commented on #902
Nice, I will try it out later.
One thing I did notice with some quick experimentung was that the outputs seemed to get better and less "mosaic" when increasing the kernel size. The time needed pr epoch went up though. I tried for example 21 in kernel size just for extreme test, and the mosaic 2as almost gone.

I did also notice that the kernel size needs to be an odd number and the strides an even

[2020-08-24 16:30] ericspod commented on #902
Yes that's expected error, I was discussing in another issue that the rational behind our Convolution class was to ensure an output's spatial size would be divided by the stride, but this works currently with odd kernel sizes only.

[2020-08-24 16:31] kissievendor commented on #920
Thanks!
Where does the MapTransform come from? It gives an error for me.

Have you had more luck with your training / loss?

[2020-08-24 18:11] gagandaroach commented on #939
Thanks @ericspod for the insightful response.

I ran into the shrinking output issue yesterday when I added a padding param to `Convolution.__init__` and set it to 0. For my use case I think adding a `nn.functional.pad` step to the `nn.sequential block` before the MONAI `Convolution` is unnecessary when the `torch.nn.Conv2d` can handle the issue in one line with a manual padding param. If the exce

[2020-08-24 20:01] ericspod commented on #939
The problem though is the padding for `Conv2d` or isn't sufficient to produce an output with the same shape given an even-sized kernel and a stride of 1:

[code]

Choosing to pad the input beforehand as well as pad in `Conv2d` can do this but when different stride or dilation values are used it becomes quite difficult to calculate what that pad should be. For example with a stride of 2 the expecte

[2020-08-24 20:40] jillianlee commented on #920
Oh you have to import MapTransform from monai transforms. Here are all my imports (although some are unused):
[code]

No, I've had no luck on 2D. Works fine on 3D though with all the same network and loss settings, so I'm not sure what's going on.

[2020-08-24 21:46] gagandaroach commented on #939
Ok I am better understanding the problem posed. By default PyTorch's [`Conv2d`](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html#torch.nn.Conv2d) drops the last column of the input when the k_size does not correlate with the output tensor. The MC GAN uses k_sizes of 4/8 because it is fixed for 128x128 size input.

About the Convolution init and same_padding, I like the current except

[2020-08-24 23:06] ericspod opened #940 "Modify SubpixelUpsample to Include Nearest Neighbour Resizing"
**Is your feature request related to a problem? Please describe.**
Nearest neighbour resizing is described in Aitken et al., 2017, "Checkerboard artifact free sub-pixel convolution" but this component of subpixel convolutions was missing from SubpixelUpsample .

**Describe the solution you'd like**
Adding the pad/pool layers to implement this to SubpixelUpsample .

[2020-08-25 00:16] bhaghighi commented on #931
Hi,
@Nic-Ma
Can this 2D segmentation example be in any human imaging area? for example 2D lung Chest Xray images?
I will work on this.

[2020-08-25 00:22] Nic-Ma commented on #931
Hi @bhaghighi ,

Sure, thanks for your interest here!
You can refer to https://github.com/Project-MONAI/MONAI/tree/master/examples/segmentation_3d and set up a 2D example.
And you can only use very few images in the lung chest x-ray dataset, like: https://github.com/Project-MONAI/MONAI/tree/master/examples/classification_3d

Thanks.

[2020-08-25 05:41] kissievendor commented on #920
Oh ofcourse! Thanks.
I am working with brain data and very small annotations. 3D could mean more info from other slices? Try training on different orientations (quickNAT) good luck!

[2020-08-25 07:11] carlpe commented on #902
I replaced the code the code in generator.py (screenshot left). But I am getting an error when I define the networks (screenshot left side) : ModuleAttributeError: 'Generator' object has no attribute 'use_shuffle'

![image](https://user-images.githubusercontent.com/54416001/91143483-e47a2a00-e6b2-11ea-8ef0-6de1283316e6.png)

[2020-08-25 09:23] wyli opened #943 "update base docker image to nvcr.io/nvidia/pytorch:20.07-py3"
**Is your feature request related to a problem? Please describe.**
update from nvcr.io/nvidia/`pytorch:20.03-py3` to `pytorch:20.07-py3` -- this image has a prebuilt pytorch 1.6.

need to double-check the monai full tests and address any issues

[2020-08-25 11:14] shrutishrestha opened #944 "change 3 channel image to 1 channel"
how to change 3 channel image to one channel during transformation. I did not find any function like transforms.grayscale to change into 1 channel image

[2020-08-25 11:56] Nic-Ma commented on #935
OK, let's keep `gdown` for a while.
Remove my ARB.

Thanks.

[2020-08-25 11:58] Nic-Ma opened #945 "Add SmartCacheHandler in MONAI workflow"
**Is your feature request related to a problem? Please describe.**
In order to seamlessly use `SmartCacheDataset` in MONAI workflows, we can create a ignite handler to automatically `start`, `update` and `shutdown` based on events.

[2020-08-25 12:00] Nic-Ma commented on #889
Hi @yiheng-wang-nv , please assign this ticket to yourself.

Thanks.

[2020-08-25 12:00] Nic-Ma commented on #943
I will update docker and rerun our AMP tutorial.

Thanks.

[2020-08-25 12:02] Nic-Ma commented on #944
Hi @shrutishrestha ,

Thanks for your suggestion, I think we can try to add such a transform.

Hi @wyli ,

Do we have some similar function in NiftyNet for reference?

Thanks.

[2020-08-25 12:19] #940 closed

[2020-08-25 13:53] wyli commented on #944
for RGB to grayscale, it could be implemented with the lambda transform in monai:
[code]

[2020-08-25 14:38] arp95 commented on #944
@wyli the mean values for the channels you have used here: [0.2125, 0.7154, 0.0721] are different to what we usually use for pytorch transforms: [0.485, 0.456, 0.406]. is there a specific reason for which values to use as the mean?

[2020-08-25 15:26] ericspod commented on #902
That was from my experimental code. Just remove line 155 and move lines 156-185 to the left.

[2020-08-25 15:32] carlpe commented on #902
Thanks ericspod 👍

[2020-08-25 15:54] wyli commented on #944
Hi @arp95 I think the values you provided are for channelwise normalisations, that's a different thing

[2020-08-25 18:45] wyli commented on #938
fixed by https://github.com/Project-MONAI/MONAI/pull/947

[2020-08-25 18:45] #938 closed

[2020-08-25 18:55] danieltudosiu opened #948 "PersistentDataset breaks if given existing folder"
**Describe the bug**
If we pass a string to the cache_dir argument of the PersistentDataset that points towards an already existing directory the dataset creation will error out.

**To Reproduce**
Create a folder (I used pathlib.Path.mkdir) and pass the absolute path string to cache_dir argument.

**Expected behavior**
The existing folder is used and caching happens.

**Actual behavior**
The follo

[2020-08-25 19:29] ericspod commented on #948
To add a little more, from what I see in the code the way in which we're calculating an MD5 hash isn't compatible with ndarray types so we should fix that or use some other way to deterministically choose cache filenames. No directory is being created in this class so if a non-existent directory is given (or the default None) nothing gets cached.

Also the key [here](https://github.com/Project-MON

[2020-08-25 20:08] wyli commented on #935
thanks @Nic-Ma, I'm closing this ticket with https://github.com/Project-MONAI/MONAI/pull/946 merged, please feel free to reopen if needed

[2020-08-25 20:08] #935 closed

[2020-08-25 20:27] gagandaroach commented on #939
Is it possible to add functionality for no norm layer in the Convolution block?

[2020-08-25 22:37] yiheng-wang-nv commented on #889
Hi @csudre @wyli could you please help to assign this ticket to me? Here I may not have the authority to self-assign

[2020-08-25 23:54] ericspod commented on #939
The argument `conv_only=True` will omit normalization, activation, and dropout from `Convolution`. To omit only normalization I've proposed the change [here](https://github.com/Project-MONAI/MONAI/pull/949).

[2020-08-26 00:12] gagandaroach commented on #939
Thank you, this will be helpful.

The initial conv in MC GAN G/D does not use normalization but does use activation. Subsequent blocks use both.

I think this issue can be closed now.

[2020-08-26 00:14] #914 closed

[2020-08-26 01:10] #939 closed

[2020-08-26 03:28] Nic-Ma commented on #948
Hi @ericspod ,

I submitted PR #951 to add support to create dir if not existing.
And I think we discussed how to hash numpy array before, it's not easy to hash float numbers, so I think maybe we can just fix the `not existing dir` issue in this ticket first?

Thanks.

[2020-08-26 06:04] shrutishrestha commented on #934
<img width="935" alt="Screen Shot 2020-08-26 at 11 13 12 AM" src="https://user-images.githubusercontent.com/33342277/91259241-d3521b80-e78d-11ea-8e28-17fe575beb8a.png">

in this Normalizeintensity when we perform channel wise operation then turn by turn image channels are taken as:
for i, d in enumerate(img):
    img[i] = self._normalize(d)

but, in the normalizing function  same set of subtrahend

[2020-08-26 09:01] robogast opened #952 "Preventing imports of all monai submodules"
When importing monai in any way, all submodules are automatically made available, e.g.:
`import monai` results in the root level `import transforms` being suddenly possible (instead of needing `from monai import transforms`)

This seems to me like undesirable behavior: any project that has a **local** `transforms` submodule is suddenly unable to import it, because this results in a name conflict w

[2020-08-26 09:16] #948 closed

[2020-08-26 10:16] wyli commented on #952
thanks for the nice bug report @robogast.

the root cause is this submodule importing doesn't consider the basemod https://github.com/Project-MONAI/MONAI/blob/9a501501f72fe053ad90c4433658536520f1bfb8/monai/utils/module.py#L52

changing the method to have a prefix basemod seems to address this issue, but @ericspod please confirm
[code]

[2020-08-26 14:40] ericspod commented on #952
This change does work for the importing but then causes problems with `unittest`, tests start complaining about `super` not working correctly: `TypeError: super(type, obj): obj must be an instance or subtype of type`. This comes up even though `obj` is an instance of `type`, Perhaps modules get imported multiple times somehow so there's two copies of definitions, I'll keep looking into it.

[2020-08-26 15:49] shrutishrestha opened #956 "How to use normalization after applying to tensor?"
<img width="935" alt="normalization library" src="https://user-images.githubusercontent.com/33342277/91325937-7aad6d80-e7e3-11ea-8eda-dac5d49e8f1e.png">

in PyTorch we used to do normalization after ToTensor so it could be normalized with mean and std like of imagenet [0.485, 0.456, 0.406] and std [0.229, 0.224, 0.225]

But here in monai, image should be in array and subtrahend and divisor also sh