[2022-10-31 09:57] #5390 closed

[2022-10-31 10:22] wyli commented on #5431
the latest version of torch `pip install torch` is not compatible with cuda 10.2
https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f84c7572c9/.github/workflows/pythonapp-gpu.yml#L59

[code]

[2022-10-31 10:56] wyli commented on #5431
since pytorch 1.13, CI/CD are migrated to cuda 11.6/11.7 https://pytorch.org/blog/PyTorch-1.13-release/

I think we should also do the migration, mainly to review the base image's cuda versions:
https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f84c7572c9/.github/workflows/setupapp.yml#L24

https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f84c7572c9

[2022-10-31 11:32] Marfi92 commented on #678
I start working on 3D unet for segmentation. I am using spleen_segmentation_3d_(1).ipynb script. I can run the code for your data. I got an error when I run it on my own dataset.
The size and dimensions of images are the same (512 512 x) and format nii.gz. the voxel spacing and origin and orientations of my data are different with yours.
voxel spacing: 1 1 1
origin and orientation 0 0 0
while for

[2022-10-31 12:44] #5427 closed

[2022-10-31 12:52] drbeh commented on #5412
CoNSeP dataset is now released under Apache 2.0, and can be used for any commercial and non-commercial use.

[2022-10-31 12:52] #5412 closed

[2022-10-31 12:57] wyli opened #5440 "adds a 2d registration bundle"
**Is your feature request related to a problem? Please describe.**

in addition to https://github.com/Project-MONAI/model-zoo/issues/171, a learning based registration bundle could be created based on https://github.com/Project-MONAI/tutorials/tree/main/2d_registration

[2022-10-31 12:58] beantr96 opened #5441 "ITKReader with inverse indexing does not work"
Hi team, I'm using monai.data.LoadImaged with ITKReader and the inverse_indexing option = True to load data. The MONAI version is 1.0.1 and ITK version 5.2.1post1. However, it leads to a segmentation fault error and breaks the dataloader. Downgrading MONAI to 0.9.0 seems to solve the issue but I wonder what the root cause is and how to solve it more efficiently.

Thanks.

[2022-10-31 13:17] drbeh commented on #5028
@KumoLiu has already implemented it in the tutorial and will port it to the monai core, maybe monai/apps/pathology.

[2022-10-31 13:56] wyli commented on #5441
thanks for reporting, assuming you are talking about `monai.transforms.LoadImaged` as there's no `monai.data.LoadImaged` class in monai. There's no `inverse_indexing` argument for that class, do you mean `reverse_indexing`?

if changing the argument doesn't work, could you please follow the bug reporting template to provide more details?

[2022-10-31 13:58] #5188 closed

[2022-10-31 13:58] drbeh opened #5442 "Prepare CoNSeP Dataset for HoVerNet"
Prepare CoNSeP Dataset for training the HoVerNet pipeline with cross validation

[2022-10-31 13:59] drbeh commented on #4879
#5442

[2022-10-31 13:59] #4879 closed

[2022-10-31 14:34] wyli opened #5444 "integration error monai/metrics/cumulative_average.py"
[code]

[2022-10-31 14:39] #5437 closed

[2022-10-31 14:52] wyli commented on #5444
I include a patch here 007f93ecb64252bae351f6b54ce940e714c8b8fe in https://github.com/Project-MONAI/MONAI/pull/5438

[2022-10-31 14:59] myron commented on #5444
Thank you. It seems `from numpy.typing import NDArray` might be only in the newer numpy versions https://numpy.org/devdocs/reference/typing.html#numpy.typing.NDArray, which is already in nvidia/pytorch containers

[2022-10-31 15:20] wyli commented on #5441
thanks, could you try:
[code]
instead of:
[code]
I think they are different when the loader has multiple workers...

[2022-10-31 15:56] mersad95zd commented on #5417
Thanks @PedroFerreiradaCosta @danieltudosiu, these are all very nice suggestions!
@wyli I'm a bit busy these days (sorry for my late reply), but will soon collaborate with @Can-Zhao to add these features.

[2022-10-31 16:03] #5444 closed

[2022-10-31 16:08] danieltudosiu commented on #5417
@mersad95zd me and @PedroFerreiradaCosta can work with you on implementing them. Internally we have code that is well documented and is ready to be merged into MONAI core nearly. Would you be ok if we join in on working on this?

[2022-10-31 16:27] #5285 closed

[2022-10-31 16:45] wyli commented on #5417
thanks @danieltudosiu and @PedroFerreiradaCosta, please go ahead and submit PRs, I think @mersad95zd and @Can-Zhao can help review them...

[2022-10-31 22:17] #3881 closed

[2022-11-01 05:12] #5310 closed

[2022-11-01 08:06] Marfi92 commented on #678
Hi Liu,
It works well. Thanks for the adorable project.
Have a nice day.

From: YunLiu ***@***.***>
Sent: Monday, October 31, 2022 4:19 PM
To: Project-MONAI/MONAI ***@***.***>
Cc: Marjan Firouznia ***@***.***>; Mention ***@***.***>
Subject: Re: [Project-MONAI/MONAI] UNet Training Error: Size of Tensors Mismatched (#678)

Hi @Marfi92<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2022-11-01 09:36] YanxuanLiu commented on #5431
should we reserve 10.2 for 1.12 and early version of pt?

[2022-11-01 09:40] wyli commented on #5431
good question, I was checking this earlier, I think cuda 10.2 is supported by all the pytorch versions before 1.13. so, maybe it's good to support 10.2, unless we have gpu driver issues for supporting both 10.x and 11.x

[2022-11-01 11:36] SiYeon-Kwon commented on #5439
@KumoLiu
I deleted 'img = Image.open(self.data_dict[str(label)][i]).convert('RGB')', but there was an error called 'local variable 'img' referenced before assignment.'
There was a problem because the variable img was declared before allocation, but the error message occurs in the next line.
  File "C:\Users\User\Desktop\my_project\MONAI\tumor.py", line 96, in __getitem__
    img = self.transform(i

[2022-11-01 12:55] SiYeon-Kwon commented on #5439
Hi, @KumoLiu
I deleted img = Image.open(self.data_dict[str(label)][i]).convert('RGB') and then, I made the variable img into a global variable.
When I set the img as a regional variable, there was a problem that it was used before allocation.
But the problem is, if I do this, I get an error saying that img is not defined.
What should I do?

[2022-11-01 13:54] Marfi92 commented on #678
Hi YunLiu,
When I extended my dataset with different dimensions in third dimension (527 527 70) (527 527 60) (527 527 80) with spacingd(.....(1,1,1)) I received image and labels with different dimension
Image shape (528, 528 , 65) and Label shape (340,340,129)
Would you please help me to handle this issue?
Thanks again for your help and time.

With this transformation
train_transforms = Compose(

[2022-11-02 07:57] Marfi92 commented on #678
Hi
I solved problem and the size of labels and images are similar after transformation. I have a problem in training step.
epoch 1/2
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
[<ipython-input-49-efab8ac501d1>](https://localhost:8080/#) in <module>
     21         )
     22         optimizer

[2022-11-02 08:04] KumoLiu commented on #678
Hi @Marfi92, you need to ensure the shape of the label and image is the same, maybe use `ResizeWithPadOrCrop`. Thanks!

[2022-11-02 08:10] KumoLiu commented on #5439
Hi @SiYeon-Kwon, you could apply transforms like this.
https://github.com/Project-MONAI/MONAI/blob/a9f9987fbc35e0088e7cd6f1536c35275e091806/monai/data/dataset.py#L85-L90

And I will transfer this issue to discussions, thanks!

[2022-11-02 08:34] KumoLiu commented on #678
Hi @Marfi92, I'm not sure, it's up to the shape you input to the network. Just added it to your `train_transforms` and `val_transforms`, thanks!

[2022-11-02 08:37] YanxuanLiu commented on #5431
for [MONAI/.github/workflows/pythonapp-gpu.yml](https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f84c7572c9/.github/workflows/pythonapp-gpu.yml#L34)
[code]
The cuda version in this image is 11.7, you can use this image for Pytorch 1.13 and later versions.

for [MONAI/.github/workflows/setupapp.yml](https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f

[2022-11-02 09:56] wyli commented on #5431
sure, I also tested `nvcr.io/nvidia/cuda:11.6.1-devel-ubuntu18.04` works fine with 1.13 and this script https://github.com/Project-MONAI/MONAI/blob/766f21f0f68b0594845b9e28fcbde9f84c7572c9/.github/workflows/pythonapp-gpu.yml#L76-L112

(both ubuntu18.04 and python 3.7 are deprecating next year though)

[2022-11-02 10:24] JHancox commented on #5357
@ericspod , @myron  - a bit late to the party, but facing a similar problem. In previous situations I have encountered, the last iteration batch size per epoch would either be rounded off to an n_gpu divisible number and the remaining (<n_gpu ) training examples would be skipped or, as @myron suggests, some inputs are, effectively, brought forward from the next epoch. Given that the training examp

[2022-11-02 10:52] Marfi92 commented on #678
Thanks for your help. It works.

[2022-11-02 16:00] beantr96 commented on #5441
Hi @wyli I think it still does not work for me. The only solution that I found so far is to downgrade MONAI to 0.9.0. But that version is a bit old so I'm looking for some alternative solution. Thanks...
![image](https://user-images.githubusercontent.com/25809806/199539108-52ddf2f6-d6a0-4ab6-b343-856e878db087.png)

[2022-11-02 16:16] Nic-Ma opened #5452 "Upgrade PyTorch base docker to 22.10"
**Is your feature request related to a problem? Please describe.**
As the new PyTorch docker had been released: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch.
It would be nice to update our dependency and CI tests to cover it.

[2022-11-02 16:28] wyli commented on #5452
Hi @Nic-Ma I'm working on it https://github.com/Project-MONAI/MONAI/tree/5431-torch-add113-drop17 and @YanxuanLiu will take over this

[2022-11-02 16:32] AHarouni opened #5453 "logging file should be optional in Bundle command instead erroring out"
running any bundle command with the wrong bundle log file would error with unclear cause

**To Reproduce**
[code]
you would get errors below
[code]
**Expected behavior**
- code should check on all files and give clear message if they don't exist
- I think logging should be optional, advanced users can add it when they need to debug

[2022-11-02 16:35] AHarouni opened #5454 "Low GPU utilization with spleen bundle"
Training with spleen bundle results in low gpu utilization.
I was expected optimized code to have 75 or 80% gpu utilization
![image](https://user-images.githubusercontent.com/61221417/199547943-d037f96a-3a99-49ab-8584-a347dd2ad35a.png)

[2022-11-02 16:40] AHarouni opened #5455 "Utils to generate infer and metadata to simplify bundle creation"
Creating a bundle is not a simple task. I am an all in monai user. I would like to write only 1 file the train.config (json or yml) file

Please provide a util to take a train config and generate the metadata.json and infer config needed for monai deploy and monai label

[2022-11-02 16:54] AHarouni opened #5457 "How to create bundle from existing training code"
Bundles are great feature. However I already have my own training loop as I needed to have more control (optimize gpu utilization, etc)

I am following same high level structure as pre transforms, infer, post transform.
How can I move this into a bundle so it would be used by model zoo, monai deploy and monai label?

Requests/ Suggestion:
Have interfaces for pre, post and infer similar to monai la

[2022-11-02 20:04] wyli commented on #5441
thanks, I couldn't replicate this issue locally. strange because 0.9.0 vs 1.0.1 the itkreader didn't have any change related to `reverse_indexing `. if you can share more detailed log or example image volumes I can look into this further

[2022-11-03 00:02] Nic-Ma commented on #5452
Hi @wyli ,

Cool! sounds good.

Thanks.

[2022-11-03 03:17] Nic-Ma commented on #5455
Please refer to the API: https://docs.monai.io/en/stable/_modules/monai/bundle/scripts.html#init_bundle.

Thanks.

[2022-11-03 03:23] yiheng-wang-nv commented on #5457
Hi @AHarouni , thanks for the interests to bundle. You can refer to this tutorial about how to build a bundle:

https://github.com/Project-MONAI/tutorials/blob/main/bundle/get_started.ipynb

[2022-11-03 03:28] Nic-Ma commented on #5453
Hi @AHarouni ,

Thanks for your feedback.
I think we have the check for the file exists: https://github.com/Project-MONAI/MONAI/blob/dev/monai/bundle/scripts.py#L533
And it's certainly optional, you can leave it to None if you don't want to see logging.

Thanks.

[2022-11-03 03:28] #5453 closed

[2022-11-03 03:29] #5455 closed

[2022-11-03 08:50] wyli opened #5461 "tests.test_wsireader unclosed file"
[code]

log: https://github.com/Project-MONAI/MONAI/actions/runs/3379844814/jobs/5612814925 (probably this is introduced much earlier, I only noticed just now)

cc @drbeh

[2022-11-03 15:20] wyli opened #5463 "parameter `filepath` of `download_and_extract`"
**Describe the bug**
[code]

it's not easy to set a valid `filepath` for `download_and_extract` and the error messages are not very intuitive.

would be great if the argument can be used to cache the downloaded file easily

[2022-11-03 15:58] luciaroccaro commented on #586
Hi, I am having the same issue described above.
I would like to crop patches cointaining a certain percentage of positive or negative labels, instead of considering the center voxel only.
Has this been solved somehow?
Thanks

[2022-11-03 17:04] thatgeeman opened #5465 "`bias=False` not passed in `ResNet` downsampling layer (`shortcut='B'`)"
Hi!

https://github.com/Project-MONAI/MONAI/blob/b05ef9cbae8d88c926a4b0f2e4f3468d310f3111/monai/networks/nets/resnet.py#L280

In the above line in the implementation of the ResNet, the downsampling layer is not expected to have a bias parameter. The argument is explicitly set to False in the 2D [torchvision implementation](https://github.com/pytorch/vision/blob/4d085f2e4ee86ac2b884305fb760f3c53cb1

[2022-11-03 17:07] ericspod commented on #5357
@JHancox The solution during training depends on how you're sampling from the dataset of course, if you're using a sampler that pulls a certain number of samples (which is independent of the dataset size) then you can always get mini-batches of the right size. The issue with validation is that you want to validate each input exactly once unless you're doing some sort of test-time augmentation. We

[2022-11-03 17:43] feliksh opened #5466 "Generalized Dice Loss - Reduction="none" + batch=True"
**Describe the bug**
`GeneralizedDiceLoss(..., reduction="none", batch=True)` does not return the expected shape.

**To Reproduce**
Steps to reproduce the behavior:

[code]
Correct behaviour, since I am asking for no reduction and batch=True:
[code]

While if you do the same with GeneralizedDiceLoss:
[code]
which is not correct, since again you are asking for no reduction and batch=True.

The rele

[2022-11-03 18:10] #5028 closed

[2022-11-03 18:16] JHancox commented on #5357
Agreed @ericspod - validation does need to go that extra distance to ensure precision (unless we mandate all test sets to be of size [5040](https://en.wikipedia.org/wiki/5040_(number)) :) )

[2022-11-03 19:47] AHarouni commented on #5457
Thanks @yiheng-wang-nv for your response. Yes I have seen and followed the notebook you referred to.

However, I think you miss understood my question. I am not starting from scratch. I already have my training loop and already have a model. I am interested in creating a bundle to consume it in deploy or monai label.

Currently I need to find my pre and post transforms and the infer method then co

[2022-11-04 04:44] yiheng-wang-nv commented on #5465
Hi @thatgeeman , thanks for posting this issue.

Hi @Douwe-Spaanderman , could you please help to answer this question? Thanks!

Thanks, welcome to create a PR to fix it!

[2022-11-04 10:32] KumoLiu commented on #5466
Hi @feliksh, thanks for pointing it out, I just create a PR #5468 to fix it.

[2022-11-04 12:15] drbeh opened #5469 "Make `HoVerNetLoss` to work with PyTorch<1.10"

[2022-11-04 12:26] wyli opened #5471 "config component shouldn't allow duplicated arguments"
**Describe the bug**
[code]

in this configuration example, the duplicated `num_workers` is currently quietly allowed, which is error-prone in my understanding

cc @Nic-Ma

[2022-11-04 13:05] drbeh opened #5472 "Verify pathology tumor detection bundle with monai 1.0.1 and PyTorch 1.13"

[2022-11-04 14:29] #5466 closed

[2022-11-04 15:07] Nic-Ma commented on #5454
Hi @AHarouni ,

Thanks for your feedback, we had some internal discussion, will try to optimize the performance of bundles in the future versions.

[2022-11-04 17:44] wyli commented on #3803
thanks for the discussion here, it's an issue handling the zero variance... I've included a patch in this PR to fix it https://github.com/Project-MONAI/MONAI/pull/5473.

@ebrahimebrahim I run your scripts and now the large kernels work fine. it's also quite efficient...

![Screenshot 2022-11-04 at 17 42 59](https://user-images.githubusercontent.com/831580/200041243-c203af4d-585b-43b7-b8f4-0f78de22

[2022-11-04 17:51] #5469 closed

[2022-11-04 18:19] #5331 closed

[2022-11-04 18:20] #5330 closed

[2022-11-07 09:33] feliksh commented on #5466
That's fantastic, impressed by the quickness. Well done, thank you!

[2022-11-07 11:27] rijobro commented on #5394
@wyli can we add something like this to our testing?
[code]

[2022-11-07 14:14] #3803 closed

[2022-11-07 14:58] drbeh commented on #5191
The NuCLS dataset with nuclei delineation is prepared. The annotations are created in a bootstrapping way from the original annotations in NuCLS using Mask-RCNN and refined using annotations from BCSS dataset. Thanks to @kheffah

[2022-11-07 14:58] #5191 closed

[2022-11-07 15:38] #4884 closed

[2022-11-07 16:58] #5431 closed

[2022-11-07 16:58] #5452 closed

[2022-11-07 20:13] bhosalems opened #5484 "Adding voxelmorph in MONAI?"
**Is your feature request related to a problem? Please describe.**
Adding 3d image registration model called voxelmorph https://arxiv.org/pdf/1809.05231.pdf.

**Describe the solution you'd like**
Trainable voxelmorph model.

[2022-11-08 00:09] #5386 closed

[2022-11-08 03:30] #5387 closed

[2022-11-08 08:16] yiheng-wang-nv opened #5485 "`NetAdapter` now does not support torchscript"
When I tried to update `pathology_tumor_detection` bundle to use monai 1.0.1, it raised torchscript error like:
[code]
On monai 0.9.1, no error happened, thus I checked the history of the implementation and found that this PR: https://github.com/Project-MONAI/MONAI/pull/4873 may raise the issue, and the key point is that within the unit test, there is no check on torchscript.

Therefore, should we

[2022-11-08 08:30] wyli commented on #5485
hi @yiheng-wang-nv thanks for reporting the issue, I'll look into it...

[2022-11-08 09:26] wyli opened #5487 "test error for rate limit"
[code]

this happens when there are frequent testing calls, I'll include a fix in https://github.com/Project-MONAI/MONAI/pull/5486

[2022-11-08 11:02] #5485 closed

[2022-11-08 11:02] #5487 closed

[2022-11-08 13:23] wyli opened #5488 "'epochs' parameter for `ShuffleBuffer`"
**Is your feature request related to a problem? Please describe.**
when creating a shuffled iterable dataset

[code]
the `ShuffleBuffer` supports only a single epoch of `datalist`
would be great to add `epochs` argument to the class for multiple epochs or infinite epochs.

Alternative solutions are:

- extending the data list: `monai.data.utils.resample_datalist(@datalist, epochs)`
- using the ite

[2022-11-08 14:22] wyli opened #5489 "developer's guide for monai.engines (+ bundle)"
**Is your feature request related to a problem? Please describe.**
would be great to have a developer's guide to provide details about how to use and extend `monai.engines` and the event handlers.

these will be useful in the context of developing new bundles

[2022-11-08 14:51] wyli commented on #5394
current status:

- deployed cpu minimal tests: https://github.com/Project-MONAI/MONAI/blob/e7bfac61f286782756c083f992e8efc2b14f18b1/.github/workflows/pythonapp-min.yml#L78
- jit testing error skipped https://github.com/Project-MONAI/MONAI/blob/e7bfac61f286782756c083f992e8efc2b14f18b1/tests/utils.py#L712-L715

[2022-11-08 16:18] #5344 closed

[2022-11-08 16:31] rachmadionl commented on #5312
hi @Nic-Ma,
I'm new to the whole open-source contributions (never done this before), but I'd like to give it a shot for this issue. May I help? What should I prepare and read first? Thanks in advance.

[2022-11-09 04:57] yiheng-wang-nv commented on #5472
hi @drbeh , this has been addressed in: https://github.com/Project-MONAI/model-zoo/pull/187
The torchscript part is not supported for 1.0.1 due to an updates of the network used, and since the incompatibility issue has been resolved in: https://github.com/Project-MONAI/MONAI/issues/5485 , the related support have be added back after the next 1.1 release.

[2022-11-09 05:21] yiheng-wang-nv opened #5493 "Implement Ensemble Dice"
Reference:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6454006/pdf/fbioe-07-00053.pdf

This metric is helpful for hovernet pipeline

cc @KumoLiu @drbeh

[2022-11-09 11:04] wyli opened #5497 "update `init_bundle` to follow the latest model zoo license format"
to make the initial bundle compatible with the model zoo, the `init_bundle` script should follow https://github.com/Project-MONAI/model-zoo/blob/dev/CONTRIBUTING.md#license-format

for example this file is not up-to-date:
https://github.com/Project-MONAI/MONAI/blob/1920d6de0b5c00305a1cf3708359dc7810774b99/monai/bundle/scripts.py#L866-L867

cc @yiheng-wang-nv

[2022-11-09 12:55] Joeycho opened #5498 "__call__() and _compute_metric() in SSIMMetric"
**Describe the bug**
Hello, I cannot store values as buffers in SSIMMetric, for calculating the metric later.

[code]

**To Reproduce**

1.
[code]

**Expected behavior**
[code]
**Screenshots**
[code]
**Environment**

Ensuring you use the relevant python executable, please paste the output of:

[code]

[2022-11-09 14:59] KumoLiu opened #5500 "Dim error in `HoVerNetLoss`"
**Describe the bug**
Since in `SobelGradients `, we need input with shape (C, H, W, [D]), but I find in `HoVerNetLoss`, it used shape with (B, H, W).
https://github.com/Project-MONAI/MONAI/blob/27362e482761985daac8d5ef732eb57b50c741f1/monai/transforms/post/array.py#L888-L890
https://github.com/Project-MONAI/MONAI/blob/27362e482761985daac8d5ef732eb57b50c741f1/monai/apps/pathology/losses/hovernet_lo

[2022-11-09 15:52] wyli commented on #3843
closing this for now by https://github.com/Project-MONAI/MONAI/pull/5365, please create follow-up tickets if it's not 100% addressed.

[2022-11-09 15:52] #3843 closed

[2022-11-09 16:33] drbeh commented on #5500
@KumoLiu @JHancox That's right! The Sobel gradient has changed but this one not. I'll submit a quick fix.

[2022-11-09 16:36] wyli opened #5501 "tests.test_sampler_dist -- windows"
log: https://github.com/Project-MONAI/MONAI/actions/runs/3429344900/jobs/5714838305

[code]

[2022-11-09 18:17] wyli commented on #5501
https://github.com/Project-MONAI/MONAI/pull/5494 included a patch

[2022-11-09 18:17] #5501 closed

[2022-11-09 19:57] #5441 closed

[2022-11-09 20:31] wyli commented on #4923
https://github.com/Project-MONAI/MONAI/pull/5240

[2022-11-09 20:31] #4923 closed

[2022-11-09 21:25] rachmadionl commented on #5312
hi @Nic-Ma,
I have read it just now, and I'll try to implement SomeOf. If I understnad it correctly, what I should do first before anything is to create a fork of MONAI repo, right?

[2022-11-09 23:53] Nic-Ma commented on #5312
@rachmadionl Exactly, thanks!

[2022-11-10 01:33] myron opened #5505 "LoadImageD NibabelReader preserve original data type"
It's currently seems impossible to load ".nib/.nib.gz" image in the original data type (e.g. label in uint8), it always converts to float.
In LoadImageD transform we have an option **dtype** , which states that if dtype==None, it should keep the original format, [but internally ](https://github.com/Project-MONAI/MONAI/blob/abdb591b926f22be262e5397a2e8638629d60f90/monai/transforms/io/dictionary.py#

[2022-11-10 10:42] wyli commented on #5484
that's not currently implemented in this codebase, contributions is greatly welcomed.

[2022-11-10 12:28] #5497 closed

[2022-11-10 12:28] danieltudosiu commented on #5417
Another note about the wide applications of SSIM and the requirements for diverse implementations that could be present in MONAI [1].

[[1] Mudeng, V., Kim, M. and Choe, S.W., 2022. Prospects of Structural Similarity Index for Medical Image Analysis. Applied Sciences, 12(8), p.3754.](https://www.mdpi.com/2076-3417/12/8/3754/htm)

[2022-11-10 14:26] beantr96 commented on #5441
Hi @wyli, I'm sorry for the late reply. I did some further analysis. Actually I was able to print the shape of the tensor but unable to print the tensor itself.

[code]
In addition, when I print `type(out["image"])`, MONAI 1.0.1 returns `<class 'monai.data.meta_tensor.MetaTensor'>` while MONAI 0.9.0 returns `<class 'itk.itkPyBufferPython.NDArrayITKBase'>`.

[2022-11-10 15:05] wyli opened #5508 "SaveImage flexible patch_index names"
**Describe the bug**
output filename's `id` is hard-coded as `meta_data.get(Key.PATCH_INDEX)` in `SaveImage`

https://github.com/Project-MONAI/MONAI/blob/7c57348591964b987bb1e18daedd9e10cf5e678a/monai/transforms/io/array.py#L424-L425

this should be flexible so that the output filename can be customizable, depending on the metadata and `SaveImage._data_index`.

[2022-11-10 15:27] #5498 closed

[2022-11-10 18:21] myron opened #5509 "LoadImageD and MetaTensor"
It's more of question to clarify, not a bug. can you help clarify plz

- LoadImage() and LoadImaged() always return MetaTensor. Is it by design?  I'm okay either way, just want to clarify. So we can't return the original data format ?

- line 281 `return img, img.meta if isinstance(img, MetaTensor) else meta_data`. The img seems to be always a MetaTensor, is that check necessary?

https://github.c

[2022-11-10 18:35] myron opened #5510 "InvertD() transform should preserve device of the output"
https://github.com/Project-MONAI/MONAI/blob/e44f3b904c8c599e46fdfa22758639c63b47ee59/monai/transforms/post/dictionary.py#L703-L706

Currently the inverse transform Invertd() always changes the output tensor device to `self.device` which is `cpu` (default initialization).  And there is no way to preserve the original device (if it's not know in advance).

- I recommend the default parameter  "devic

[2022-11-10 20:29] #5505 closed

[2022-11-10 22:13] wyli commented on #5509
it's possible to globally turn off the metatensor...
[code]

but these are not systematically tested for end-to-end workflows, for example, some transform inverting pipelines might not work properly...

[2022-11-10 22:35] myron commented on #5509
I see, thank you.  what about the last question:  lines 487 and 504 seems both convert to tensor internally, or can we remove line 487  `img = convert_to_tensor(im)` ?

[2022-11-10 23:10] myron opened #5511 "Spatial transforms / RandAffined/ Resampler should not change data type"
Spatial transforms are internally changing the input data type , e.g. for RandAffined and RandAffine.
A typical random tranform `RandAffined(keys=['image', 'label'], mode=['bilinear', 'nearest'])` where label (potentially uint8 type) only needs nearest neighbor interpolation, but will be converted to float32 or even float64 and will take more memory (and incurs an extra memory copy)

https://githu

[2022-11-10 23:21] wyli commented on #5509
I think it is about returning a fresh copy of the input, @rijobro perhaps can confirm

[2022-11-10 23:23] wyli commented on #5511
Perhaps a duplicate of https://github.com/Project-MONAI/MONAI/issues/3831 the backend doesn't support different styles.

[2022-11-11 09:57] wyli commented on #5510
I think setting `device=None` will preserve the device, or do I miss something here?

[2022-11-11 13:25] wyli commented on #4404
addressed by https://github.com/Project-MONAI/MONAI/pull/5377

[2022-11-11 13:30] wyli commented on #4392
addressed by https://github.com/Project-MONAI/MONAI/pull/5490

[2022-11-11 13:30] #4392 closed

[2022-11-11 16:35] #5510 closed

[2022-11-11 16:56] wyli commented on #4677
addressed by https://github.com/Project-MONAI/MONAI/pull/4819 regex support

[2022-11-11 16:56] #4677 closed

[2022-11-11 17:54] myron commented on #5510
you're right, the concept of `inverted_data.to(None)`  will keep the device, I though that it would not work.  apologies. I think it didn't work for me for some additional reason. thanks for updating the options defaults, it looks much better now and more consistent with other transforms

[2022-11-12 18:18] bhosalems commented on #5484
Thanks, I could add it as time permits. Can you point me to the right direction for contribution?

[2022-11-14 03:52] yiheng-wang-nv opened #5515 "Adjust the encoder freeze function on HoverNet"
In the original paper (https://arxiv.org/pdf/1812.06499.pdf), the freeze way is to freeze the whole encoder.

However, during their official implementation, the freeze way is different on the first residual block (see: https://github.com/vqdang/hover_net/blob/842964dc5d26ffe196d236d16fad16643a103850/models/hovernet/net_desc.py#L107)

We may need to adjust the freeze function to align with their im

[2022-11-14 07:48] KumoLiu opened #5517 "Transforms enhancement for HoVerNet"
In the original HoVerNet repo(https://github.com/vqdang/hover_net), they use imgaug(https://github.com/aleju/imgaug) to do data augmentation, which has several differences with MONAI.

- [x] add `new_key` in `Lambda` (addressed by #5526)
       Now in `Lambdad`, if we set overwrite to False, it will not return data after the Lambda function. We may add an argument called `new_key`, then if it is n

[2022-11-14 10:10] rijobro commented on #5509
Looking at the code, I'm not 100% sure if both are needed. I'm also not 100% which of them would create a deepcopy of the data. Feel free to mess around with it for a variety of inputs (`torch.Tensor`, `MetaTensor` and `np.ndarray`) and see how many copies are created (when debugging, you could do `print(img is im)` etc.). Also check for contiguous vs non-contiguous input, as the comment mentions

[2022-11-14 13:43] #5472 closed

[2022-11-14 14:00] drbeh commented on #5461
Closed as it is only a warning and happens in a specific situation so it is not worth to change the API for it.

[2022-11-14 14:19] wyli commented on #5461
this is not addressed yet, I think we keep this open so the other contributors may provide a good solution.

[2022-11-14 15:34] drbeh opened #5521 "HoVerNet ROI-based Inference"
The output of HoVerNet patch-based inference (80x80) does not match its input (270x270) and it cannot be corrected by resizing since it is the result of the center crop of the input (due to handling of borders). This will pose a problem when we want inference on larger ROI (>270) since using the current MONAI `SlidingWindowInferer`, we need to take care of each patch's borders (270-80) as well as

[2022-11-14 19:11] danieltudosiu commented on #5371
Any update on this? We are looking at implementing an AdversarialTrainer and would prefer to have if future-proofed to a degree.

[2022-11-14 19:15] wyli opened #5522 "mypy 0.991 update compatibility"
[code]

[2022-11-14 22:53] #5515 closed

[2022-11-15 01:51] #5442 closed

[2022-11-15 07:01] #5522 closed

[2022-11-15 08:37] wyli commented on #5517
thanks for the update, for `shuffle` in `compose` -- there are different ways to randomize `Compose`, I'd recommend making separate subclasses for it

[2022-11-15 12:30] ericspod commented on #5371
There hasn't been so we can discuss a solution for this later today.

[2022-11-15 13:56] wyli opened #5530 "Gradcam for models that return a single value"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/5528

<div type='discussions-op-text'>

<sup>Originally posted by **rajanish4** November 15, 2022</sup>
Hi there,

I am currently running Grad cam class for my binary classification model that returns a single value. I believe, the grad cam compute function requires multiple class labels for it to work.
So, i would like to request

[2022-11-15 18:19] thatgeeman commented on #5530
Hello 👋 I'd like a go at it if no one else is working on this 🤗

[2022-11-15 19:02] ntatsisk commented on #5441
Hi @wyli, I am also getting an error when reading images with ITKReader. My data must be quite similar to @beantr96 (Lung CTs from Tcia/Learn2Reg challenge). I am using `MONAI==1.0.1` and `itk==5.3rc4.post3`.  Here is a minimal reproducible example:

[code]

Output:
[code]

It does't appear related to `reverse_indexing` but I hope it is still not off-topic! Thanks :)

[2022-11-15 19:05] wyli commented on #5530
sure, please go ahead, let me know if you need any help

[2022-11-15 19:10] wyli commented on #5441
thanks for reporting @ntatsisk, that's addressed recently... https://github.com/Project-MONAI/MONAI/pull/5433 the patch will be released in December.

you can uninstall monai 1.0.1 and try `pip install monai-weekly` or install the current stable release of itk, that's 5.2.1

[2022-11-15 20:43] myron opened #5532 "bug: MetaTensor .shape() returns Tuple instead of torch.Size"
MetaTensor .shape() returns tuple instead of torch.Size. If MetaTensor is subclass of torch.Tensor, it should not change it methods

[code]

[2022-11-16 00:15] Nic-Ma commented on #5517
Hi @KumoLiu ,

Please don't mark "fix # XXX" for this ticket, and click the correct checkbox when PR merged.

Thanks.

[2022-11-16 02:15] myron commented on #3694
HI @phcerdan,  loss and metric are two different things, and it's usually not possible to define a generic correspondence.  Dice loss is used as an objective function for the Optimizer.  Dice loss value is computed as a soft dice , between probability maps and ground truth labels.  Where as Dice metric is a proper dice value, and computed after taking argmax() (to first convert soft probability ma

[2022-11-16 02:26] myron commented on #3694
@umgpy  it sounds like you are asking a completely different question in the same issue.  it sounds like you want to  report several metrics (Dice metric, Hausdorf.. metric, Surface.. metric) but select the best checkpoint  based on only Dice metric?   I do not see a problem here, just compute manually all metrics you want, and in your validation loop only use the dice value to save the checkpoint

[2022-11-16 07:13] prakashjayy commented on #5532
Yes. This is breaking detection too

https://github.com/Project-MONAI/MONAI/blob/356d2d2f41b473f588899d705bbc682308cee52c/monai/apps/detection/networks/retinanet_detector.py#L499

.numel() on tuple doesn't work

[2022-11-16 07:59] beantr96 commented on #5441
Hi @wyli, so is there any update from your side regarding the inverse_indexing issue?

[2022-11-16 08:03] wyli commented on #5441
I couldn't replicate the issue using your screenshots.

[2022-11-16 08:07] beantr96 commented on #5441
@wyli That's strange since me and my colleague in the team had the same issue. Have you tried printing the image tensor instead of just the shape. Printing the shape did occasionally work but printing the tensor always led to segmentation fault. Thanks for your help!

[2022-11-16 08:14] wyli commented on #5441
I don't have these inputs:
[code]

[2022-11-16 08:22] beantr96 commented on #5441
Hi @wyli I cannot upload those files since they are too large but any Medical Segmentation Decathlon (MSD) images have this issue as well. If you have MSD files perhaps could you try them? Many thanks!

[2022-11-16 08:33] wyli commented on #5441
yes I tried, for example `Task06_Lung/imagesTr/lung_001.nii.gz` and `Task06_Lung/labelsTr/lung_001.nii.gz` but couldn't reproduce.

[2022-11-16 15:57] wyli commented on #5488
closed by https://github.com/Project-MONAI/MONAI/pull/5480

[2022-11-16 15:57] #5488 closed

[2022-11-16 15:57] wyli commented on #5508
closed by https://github.com/Project-MONAI/MONAI/pull/5480

[2022-11-16 15:57] #5508 closed

[2022-11-16 17:04] #5500 closed

[2022-11-16 21:15] #3694 closed, assigned to nobody

[2022-11-17 04:48] #5532 closed

[2022-11-17 13:03] wyli opened #5537 "CLI command for inspecting checkpoints"
**Is your feature request related to a problem? Please describe.**
[code]
to display some information about the variables and shapes saved. I saw similar util in tensorflow:

https://github.com/tensorflow/tensorflow/blob/064c7a3120f1571d7c90a777c787571787973518/tensorflow/python/tools/inspect_checkpoint.py#L163-L171

would also be good to have an option of computing hash value, it's used when crea

[2022-11-17 21:53] drbeh opened #5539 "Pathology HoVerNet: Inference pipeline (large ROI)"

[2022-11-18 04:26] #5521 closed

[2022-11-18 09:49] demcbs opened #5540 "AddChannel use case not covered by EnsureChannelFirst (?)"
I have a part of my program where I load in an image manually and want to run it through my SlidingWindowInferer.
With monai 0.8.1 I used to add a channel dimension with AddChannel to the (3D) image, so the Inferer works. Since upgrading to 1.01 this stopped working, but adding another channel (as a mock batch dimension) made it work again. With the deprecation warning for AddChannel, however, thi

[2022-11-18 09:53] KumoLiu commented on #5540
Hi @demcbs, if you don't have channel dim, I think you could use `EnsureChannelFirst(channel_dim="no_channel")` to do the same thing with `AddChannel `.
Hope it can help you, thanks!

[2022-11-18 17:39] kate-sann5100 opened #5542 "Amend extract_levels for LocalNet"
**Is your feature request related to a problem? Please describe.**
In the current LocalNet implementation, the `extract_levels` arguments are not directly passed to its parent class `RegUNet.` Instead, the deepest level `max(extract_levels)` is passed as the `depth` argument. Consequentially, the `output_block` only takes decoded features at the deepest extract level as input.

**Describe the solu

[2022-11-18 20:12] #5542 closed

[2022-11-19 17:36] myron opened #5544 "DDP test error "CUDA error: out of memory""
Sometimes when submitting PRs, our automated validation pipeline fails due to this test: tests/test_cumulative_average_dist.py (I added this test in the past myself previously)

I can't reproduce it my local machines, it works fine.

with any new PR, sometimes it works, sometimes it gives the error below.  Always random. perhaps tests with DDP should be handled in some other way or is it unrelated

[2022-11-19 17:50] #5357 closed

[2022-11-19 17:52] myron commented on #5222
it seems, it's difficult to change this due to legacy reasons.  So users will have to manually specify ('instance', {affine:True}) to use instancenorm properly.

[2022-11-19 17:52] #5222 closed

[2022-11-19 22:03] myron commented on #5544
so, if I remove this test, the pipeline still fails, something is wrong with pipeline

https://github.com/Project-MONAI/MONAI/pull/5545

[2022-11-21 13:56] yiheng-wang-nv commented on #5200
Updates:

https://github.com/Project-MONAI/tutorials/issues/966 addresses 1), 2) and 3).
Later David Austin will contribute a separate tutorial for 4)

[2022-11-21 16:39] markus-hinsche opened #5551 "`series_name` doesn't work as expected"
I have a directory full of DICOM files of different series:
* series "38" has 96 slices,
* series "34" has 96 slices,
* series "46" has 88 slices,
* series "42" has 88 slices,

I use the following code to read
[code]

Since I am dealing with DICOM files(don't have .dcm ending though), I would expect  [ITKReader](https://docs.monai.io/en/stable/data.html#monai.data.ITKReader) to be the reader that

[2022-11-21 16:56] holgerroth commented on #4057
We also have this issue with nvflare where the path to downloaded model files contain the email address of the admin, e.g. `/t1_workspace/admin@nvflare.com/transfer/7def72a7-a224-403c-9969-2eb9da02db7b/workspace/app_server/FL_global_model.pt`

This causes a reference ID error with bundle.

[code]

[2022-11-21 17:10] Can-Zhao opened #5552 "FastMRI reader outputs Tensor which is not supported by Imageloader"
**Describe the bug**
FastMRI reader outputs Tensor which is not supported by Imageloader

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Install '....'
3. Run commands '....'

**Expected behavior**
[switch_endianness](https://github.com/binliunls/MONAI/blob/736053b49f837e382335df461155f407a2cd6ac5/monai/transforms/io/array.py#L271) function reports the bug, due to unsupport of

[2022-11-21 18:08] bhashemian opened #5553 "Promote Child Items to Top Level"
The MONAO dict-based transforms acts on the top level keys, for instance `data={"image": ..., "pred": ...}`; however, when the output is nested (like in the hovernet model), the actual data will lie one level below like `data={"image": ..., "pred": {"a":..., "b":...}}`.

Currently, if user want to apply transform on "a" or "b", it can use `Lambdad` and apply that transfrom on `data["pred"]` instea

[2022-11-21 19:36] MUKILAN-2003 commented on #920
Guys I am facing the issue the model not training the loss is stuck.

![image](https://user-images.githubusercontent.com/65155327/203143418-42552bf5-58b1-4d09-bbdc-99fead2550a8.png)

Is the model parameter and config are correct
[code]

What wrong is done ?

Thank's

[2022-11-21 21:21] OmarAshkar commented on #4887
+1 Looking forward to see this!

[2022-11-21 22:44] myron commented on #5553
Hi, I'm not familiar with this model, but i'm just curious  at which place do we get the output in this form `"pred": {"a":..., "b":...}}` during loading pipeline or post-processing after prediction? I don't think any loading, augmentation transforms produce such format.   or if the model  produces such output, can we simple reformat the output of the model? thank you

[2022-11-22 02:47] Nic-Ma commented on #4057
Hi @holgerroth ,

Thanks for your report, please note that: Something like: `{"test": "admin@nvflare.com"}` can work in the bundle, We just treat it as a reference in the 2 cases: (1) a string starts with "@", (2) a string starts with "$" and contains "@" in it.

Thanks.

[2022-11-22 02:58] drbeh commented on #5553
Hi @myron, we got this in the output of HoVerNet model.
[code]
https://github.com/Project-MONAI/MONAI/blob/77651add61b50f2a31fcc3c8b510d3179daa078c/monai/networks/nets/hovernet.py#L581-L586

Changing that will cause backward incompatibilities internally and externally.

[2022-11-22 03:43] myron commented on #5553
I see, thank you.  then if you have access to model output in the python code,  you could directly add those keys "horizontal_vertical", 'nucleus_prediction".. to you main dict
e.g. `batch_data.update(output["pred])`
this would save you from writing another monai transform.
but, I guess you don't have access to it in python code, then yes, you'd need a new transfor . I think there is a similar in-

[2022-11-22 04:46] #5544 closed

[2022-11-22 09:12] #5440 closed

[2022-11-22 13:55] mingxin-zheng opened #5558 "Auto3DSeg ensembler module doesn't work with Bundle Algorithms generated by the HPO Module"
**Describe the bug**

Auto3DSeg HPO module generates bundle algos and append the hyperparameters in the name of the bundle root folder

For examples, to perform a grid_search on learning rate (lr), folders will be like
.
├── dints_0_lr_0.0001
├── dints_0_lr_0.001
├── dints_0_lr_0.01
└── dints_0_lr_0.1

In the integration test and some possible usage scenarios, these bundle algorithms need to be en

[2022-11-22 15:25] KumoLiu opened #5559 "Binary prediction bug in `HoVerNetNuclearTypePostProcessing`"
**Describe the bug**
Now in `HoVerNetNuclearTypePostProcessing`, if set `return_binary` to True, it will change `inst_pred` in place which will affect instance map prediction.
https://github.com/Project-MONAI/MONAI/blob/72130602340847e15f2042b2bb1b64f6f46eeb93/monai/apps/pathology/transforms/post/dictionary.py#L543-L545
Also, users may not only want an instance information dictionary but a type pr

[2022-11-22 19:19] #5558 closed

[2022-11-22 20:40] myron opened #5564 "Autorunner AlgoEnsemble improvements"
we need to make a few fixes to autorunner and ensembler

 1. ~~BUG: AutoRunner().set_num_fold() does not update the enemble method num_folds.  So e.g. if the default method is AlgoEnsembleBestByFold (it'll be initialized with 5 folds by default), but when a user calls AutoRunner().set_num_fold(2), it only updates number of folds for training, and the ensembling will still look for 5 folds, which r

[2022-11-23 03:28] yiheng-wang-nv opened #5566 "Enhance the handler `ProbMapProducer` on checking/making output dir"
Currently, if `output_dir` is not existing, an error will be raised. I think a better way to address it is to do sth like the `SaveImaged` transform does (see: https://github.com/Project-MONAI/MONAI/blob/a8f67e4278d46b49a87488a41ba38431883e8907/monai/data/folder_layout.py#L95)

[2022-11-23 03:29] yiheng-wang-nv commented on #5566
Hi @drbeh , could you please help to enhance this feature? Thanks in advance.

[2022-11-23 05:52] #5559 closed

[2022-11-23 10:34] wyli opened #5568 "test_integration_autorunner.py" -> test_autorunner_hpo(self) , test for HPO. On my local machine it runs forever, and get stuck without any progress (no CPU or GPU usage)"
There is one integration test, I' unable to test in "test_integration_autorunner.py" -> test_autorunner_hpo(self) , test for HPO.  On my local machine it runs forever, and get stuck without any progress (no CPU or GPU usage).  Same behavior on old dev branch and on current (so it's unrelated to this PR).   So I've test everything except for HPO test there.

_Originally posted by @myron in https://

[2022-11-23 10:41] wyli commented on #5568
hi @mingxin-zheng @Nic-Ma, do you have time to simplify `test_autorunner_hpo`? the way it creates nni server and monitors the file system changes is not reliable and difficult to debug.

[2022-11-23 12:42] mingxin-zheng commented on #5568
Hi @wyli , yes, the autorunner test needs improvements. I would like to find out what is not needed and should be fixed first:
Here are a few feasible options for you to gauge:
- avoid having a web service in the integration test
- finding a way to get trial information and fail the test appropiately
- avoid running hpo with training. For example, just checking if the trial command is correct

[2022-11-23 12:52] wyli commented on #5568
thanks, maybe it's good enough to go for option 3 for now?

I have spent 5+ hours on option 2 but it's not easy, especially when we want to ensure the same testing behaviour across different testing environments

[2022-11-23 16:47] #5409 closed

[2022-11-23 16:53] wyli commented on #4604
thanks, we take this feature request into consideration when creating https://github.com/Project-MONAI/MONAI/pull/5436, we'll follow up on this with those trainable use cases

[2022-11-23 16:58] wyli commented on #5333
thanks, it could be included in this guide https://github.com/Project-MONAI/MONAI/blob/dev/docs/source/installation.md

[2022-11-23 17:40] #5553 closed, assigned to bhashemian

[2022-11-23 17:53] myron commented on #5568
I support option 3, to avoid running hpo,  since it's rather slow (perhaps we could run it only once a month, or not running it at all)

on top of being slow there is a small issue there,  that on 8gpus in silently hangs (because the current toy dataset is small). so it's confirmed to work on 2gpus, but it's not clear if it works well on more than 2 gpus.

[2022-11-23 18:20] myron opened #5573 "CacheDataset crashes with runtime_cache=True, num_workers=0 in DDP"
CacheDataset crashes with runtime_cache=True, num_workers=0 in DDP

This is because we try to convert a shared list (ListProxy) to a regular list, but must maintain a ListProxy since we're in DDP, and need to access the shared items from different processes.

the exact error is this , that is unable to convert. But even if we can convert, we should not do in DDP, since need a ListProxy

EDIT: expe

[2022-11-23 19:20] swilson314 opened #5574 "Potential 3D bug in EfficientNet Squeeze and Excitation layer"
efficientnet.py

[code]

I believe the image_size = [1, 1] in _make_same_padder() should actually be [1, 1, 1] for the EfficientNet to support 3D. This is just by inspection, but I suspect this oversight came from extending 2D code.

[2022-11-23 20:35] wyli opened #5575 "premerge flake8 config error"
**Describe the bug**
[code]
from

https://github.com/Project-MONAI/MONAI/blob/86f2573de3b6bf9dff5f4654320bdd88c7bb50e7/setup.cfg#L131-L132

[2022-11-23 23:37] #5566 closed

[2022-11-23 23:40] #5575 closed

[2022-11-24 03:21] #5417 closed

[2022-11-24 04:12] yiheng-wang-nv opened #5577 "unit test errors with GPU that enables tf32"
When using a GPU that enables tf32, some of the unit tests will fails:

1. `tests.test_dynunet.TestDynUNetWithInstanceNorm3dNVFuser`
2. `tests.test_bundle_download.TestLoad`
3. `tests.test_multi_scale.TestMultiScale`
4. `tests.test_integration_determinism`

If disable tf32, all these tests are fine:

![check_tf32](https://user-images.githubusercontent.com/68361391/203691474-abca21f1-7a5d-4f03-9d8c

[2022-11-24 05:03] ebrahimebrahim commented on #4604
What would it mean to compose DVFs?

Composing DDFs makes sense because the composite of two displacement fields is a displacement field. Resampling/warping an image via DDF $\vec{v}$ and then via DDF $\vec{u}$ is the same as resampling the image once via their composite. In MONAI this composite can be computed by
[code]
(e.g. [here](https://github.com/ebrahimebrahim/abcd-registration-experiments/

[2022-11-24 06:20] yiheng-wang-nv opened #5578 "flake8 released 6.0.0 and breaks our ci tests"
For examples:

in MONAI: https://github.com/Project-MONAI/MONAI/actions/runs/3535256520/jobs/5933068678
in model zoo:
https://github.com/Project-MONAI/model-zoo/actions/runs/3536887667/jobs/5938751674

I just noticed that flake8 releases its 6.0.0 version (https://github.com/PyCQA/flake8/commit/b9a7794c4f425ef8419081e6993f99419cc667ea), it may have some breaking changes that raise the issue.

[2022-11-24 07:32] wyli commented on #5578
duplicate of https://github.com/Project-MONAI/MONAI/issues/5575?

[2022-11-24 07:53] yiheng-wang-nv commented on #5578
Thanks! Let me change the cfg file in model zoo.

[2022-11-24 07:53] #5578 closed

[2022-11-24 10:43] wyli commented on #4604
DVF usually means dense velocity field, but according to the title of this ticket it used as an acronym for 'deformation vector field', in my understanding that's just dense displacement field...

[2022-11-24 13:44] wyli commented on #5574
agreed, would you like to contribute a fix?

[2022-11-24 16:44] ebrahimebrahim commented on #4604
That makes a lot more sense... IDK why I assumed everyone would use the monai acronyms

[2022-11-24 17:27] rijobro opened #5579 "pytorch warning with python 3.11"
**Describe the bug**
I'm getting a warning that is constantly printed with python 3.11. I'm using the `PersistentCacheDataset`, I suspect that is where the warning is coming from but can't currently breakpoint it. Warning is:

[2022-11-24 18:49] ericspod commented on #5577
Even if we use a tolerance of 1e-3 for tf32 only the greatest error reported in the test is above that. Most other tests pass so I wonder if there's something with the way this test works or how the network works that's introducing this unusual level of error. It's possible that the same computation could be done in a simpler way which reduces the error and we can get the test to pass with tf32.

[2022-11-24 22:30] myron opened #5580 "WSIReader, cucim , tifffile, performance regressions"
with pathology MIL classification tutorial, as an example
https://github.com/Project-MONAI/tutorials/blob/main/pathology/multiple_instance_learning/panda_mil_train_evaluate_pytorch_gpu.py

WSIReader is now imported from  `from monai.data.wsi_reader import WSIReader`. If changing the import to the old way (now deprecated)  `from monai.data.image_reader import WSIReader`, and setting backend=tifffil

[2022-11-25 17:11] swilson314 commented on #5574
Great, yes. I'm new to Monai, are there any special instructions?

[2022-11-25 17:15] wyli commented on #5574
Sure, the contributing guide has some details https://github.com/Project-MONAI/MONAI/blob/dev/CONTRIBUTING.md and please let me know if you have any specific questions

[2022-11-26 01:16] myron opened #5587 "Add a new bundle to model zoo: pathology MIL bundle"
Add a new bundle to model zoo for Multiple Instance Learning (MIL) classification from Whole Slide Images (WSI), similar to the tutorial in https://github.com/Project-MONAI/tutorials/tree/main/pathology/multiple_instance_learning

[2022-11-26 04:02] myron commented on #5573
@Nic-Ma
Here is a test program. It crashes due to disable_share_memory_cache()
Replacing ListProxy with List in another way is not a solution here, , since we actually need ListProxy here (always need it in multi-gpu)

[code]

[2022-11-26 11:10] wyli commented on #5573
thanks for the script, I can reproduce the issue. In my opinion, the root cause is that the ListProxy to list conversion should be done in a synchronized manner. So the fix could be:
[code]
what do you think? it's better than skipping the ListProxy to list conversion.

[2022-11-26 14:02] wyli opened #5591 "remove the deprecated lgtm tool"
![Screenshot 2022-11-26 at 14 01 35](https://user-images.githubusercontent.com/831580/204092614-1c5c1b39-1da4-4a22-806b-3e8df1fe698a.png)
LGTM tool is deprecating

[2022-11-26 14:06] wyli commented on #5591
app removed

[2022-11-26 14:06] #5591 closed

[2022-11-26 22:02] myron commented on #5573
I think the barrier is not issue. there are 2 issues
- we are unable convert to simple list with list(ListProxy).  The objects inside of ListProxy may belong to other processes already , and accessing such converted list will lead to errors (i think that's why it crashes)
- even if we can find a way to convert ListProxy->list (and the code above don't crash), it will fail the assert line, since we

[2022-11-28 02:44] moonforsun opened #5592 "Auto3DSeg: How to Set up Multiple Phase Data in Datalist JSON File?"
**Describe the bug**
I was able to run the Auto3DSeg based on the Task04_Hippocampus example. However, I was encountered the following bug on a customized dataset which I want to have multiple phase images as the network input. Any suggestion to how to use multiple phase data configured in the datalist json file?

**Environment**

================================
Printing MONAI config...
=========

[2022-11-28 03:07] Nic-Ma opened #5593 "Enhance warning for the case that image number is less than GPU number"
**Is your feature request related to a problem? Please describe.**
Issure reported by internal QA:
Currently, when image number is less than GPU number, we only check the case that partition dataset for ranks before training, then some GPU rank will have "epoch_length = 0":
https://github.com/Project-MONAI/MONAI/blob/dev/monai/engines/workflow.py#L274
But if we use `DistributedSampler`, it splits

[2022-11-28 08:47] wyli commented on #5573
- I didn't say that the list(ListProxy) is the issue. the issue is when some processes are doing the conversion, other processes are trying to simultaneously access the ListProxy.

- why is it needed to share the cache content in this case? a distributed sampler will divide data into subsets and each process will exclusively see a subset anyway.

[2022-11-28 11:16] wyli opened #5596 "regular conda tests don't work"
**Describe the bug**
resolving the dependencies took too long time.

https://github.com/Project-MONAI/MONAI/actions/runs/3485067482/jobs/5830262146
[code]

see also https://github.com/Project-MONAI/MONAI/issues/5088

[2022-11-28 14:06] drbeh commented on #4880
Trained on both original and fast mode.
@KumoLiu's training results on validation set:
- Fast mode: Dice - 0.834, PQ - 0.507, F1d - 0.737
- Original mode: Dice - 0.828, PQ - 0.490, F1d - 0.736

[2022-11-28 14:23] #4880 closed

[2022-11-28 15:41] myron commented on #5573
@wyli This is true only during the first training epoch (when all data is cached initially).  On the second iteration, distributed sampler will have a different random shuffle of all indices, and now each process has to access a different subset (which was previously cached by another process).

Here we do not pre-split the dataset into partitions,  we use the full dataset, and all processes can r

[2022-11-28 16:26] wyli commented on #5573
in your PR (https://github.com/Project-MONAI/MONAI/pull/5565) and the current dev branch, these two features can't coexist with a single option:

1) gpu-cache + runtime-cache + ddp
2) cpu-cache + runtime-cache + ddp when num_workers==0

option2 is probably just for debugging as num_workers==1 is almost always better in terms of performance.

what I'm suggesting in #5595 is to enable both of them,

[2022-11-28 16:47] myron commented on #5573
@Nic-Ma  you decide please. I only need the shared cache working with num_workers==0 in DDP.

[2022-11-28 17:23] dzenanz commented on #5333
I could update the docs. Could you assign me to this issue?

[2022-11-28 17:35] Ycblue opened #5599 ".ndpi file format not supported by cucim"
The WSIReader with 'cucim' backend is still unable to process WSIs with '.ndpi' extension.
I am aware, that switching the backend to 'openslide' will work, but it is quite inconvenient since I have a large dataset with slides of different formats and I want to benefit from the speed of cucim backend.

Just as a minimal example:

[code]

Is .ndpi support coming soon for Cucim or CuImage?
If not, is

[2022-11-28 20:42] acamargosonosa opened #5601 "Bug running docker"
**Describe the bug**
I am following the example of https://docs.monai.io/projects/monai-deploy-app-sdk/en/0.2.1/getting_started/tutorials/02_mednist_app.html

I was able to run everything but the part of the docker:
monai-deploy run mednist_app:latest input output

I am getting this error:
===================================================

(monai) sonosa@sonosa-MS-7B17:~/2022/ProjectsAI/monai$ m

[2022-11-29 02:20] mingxin-zheng opened #5603 "ITK 5.3.0 may break switch_endianness"
**Describe the bug**
ITK 5.2.1.post -> 5.3.0 may cause the following error in the freshly-built MONAI docker container.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Build the docker image
2. Run the `spleen_deepedit` and `swin_unetr_btcv` bundles

**Note**
This issue is discovered by someone else when trying the MONAI with bundle. I didn't verify the issue myself.

[2022-11-29 06:19] wyli commented on #5603
It's a known issue, has been addressed recently https://github.com/Project-MONAI/MONAI/issues/5432. The patch  is available on the Dev branch as well as monai-weekly, and will be included in monai 1.1 and onward

[2022-11-29 06:19] #5603 closed

[2022-11-29 06:58] wyli commented on #5599
cc @gigony

[2022-11-29 08:27] #5333 closed

[2022-11-29 09:08] faebstn96 commented on #1840
Hi @charliebudd, any updates on this?
Best
Fabi

[2022-11-29 10:10] wyli opened #5604 "test_auto3dseg_hpo OOM frequently"
run into this issue from time to time, would be great if the GPU memory footprint can be smaller cc @mingxin-zheng @Nic-Ma

[code]

<details>

[code]

</details>

[2022-11-29 10:32] wyli commented on #1840
Thanks @faebstn96, have you compared the backward pass with a naive PyTorch implementation, would you like to join one of our weekly dev meetings to discuss this? let me send you an email.

[2022-11-29 11:35] faebstn96 commented on #1840
Thanks for your invitation, I would be happy to join!
For development purpose I implemented a naive forward pass in PyTorch and tried to make the filter parameters trainable via autograd. As expected the performance was extremely poor in terms of speed and memory requirement (although the implementation was not really optimized). I did not directly compare the PyTorch implementation with the custo

[2022-11-29 13:20] #5088 closed

[2022-11-29 13:20] #5596 closed

[2022-11-29 13:22] wyli opened #5605 "fixes the missing type annotations"
**Is your feature request related to a problem? Please describe.**
running the mypy commands
[code]
generates the following warning messages, would be great to add type annotations to those functions.

[code]

The warning is because functions that do not have any annotations (neither for any argument nor for the return type) are not type-checked

[2022-11-29 20:08] myron commented on #5592
Unfortunately, at this moment, it's not supported,  the "image" key should a string (a single image file).
But we should be improving it soon.

[2022-11-30 07:29] KumoLiu opened #5609 "Nondeterministic in `HoVerNet`"
In the current `HoVerNet` implementation of MONAI, it uses `UpSample` with `NONTRAINABLE` mode which used [torch.nn.functional.interpolate()](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html#torch.nn.functional.interpolate) may cause nondeterministic.
https://github.com/Project-MONAI/MONAI/blob/d0db5fd9d4da3bc7027d22c52bb9c405c3b9e879/monai/networks/nets/hovernet.py#L

[2022-11-30 07:29] KumoLiu commented on #5609
cc @JHancox @drbeh, could you please double confirm it?

[2022-11-30 08:10] Shadow-Devil commented on #5605
Hi, I would like to work on this issue.

[2022-11-30 12:03] JHancox commented on #5609
@KumoLiu Is this non-determinism specific to Upsample? Also, doesn't it use torch.nn.Upsample rather than torch.nn.functional.interpolate?

[2022-11-30 12:11] KumoLiu commented on #5609
Yes, it uses [torch.nn.functional.interpolate()](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html#torch.nn.functional.interpolate) in torch.nn.UpSample.
https://github.com/pytorch/pytorch/blob/b136f3f310aa01a8b3c1e63dc0bfda8fd2234b06/torch/nn/modules/upsampling.py#L156

[2022-11-30 14:04] wyli opened #5611 "iter_patch memory consumption"
### Discussed in https://github.com/Project-MONAI/MONAI/discussions/5610

<div type='discussions-op-text'>

<sup>Originally posted by **schellenchris** November 30, 2022</sup>
Hello,

I was playing around with the GridPatchDataset / training with smaller Slices than the original volume, when I ran into some weird RAM OOM problems. After some investigation i noticed that line 290 in data/utils.py c

[2022-11-30 15:51] Nic-Ma commented on #5573
Hi @myron , @wyli ,

Sorry for the late response, I was busy with other project.
I personally feel this `sleep` logic in @wyli 's PR is not very robust, the "0.5s" time is slightly hacking:
[code]
If we don't have any other better solution, I would vote for @myron 's PR to drop the `gpu-cache + runtime-cache + ddp` feature. We drop the feature but make the overall logic more robust?
What do you th

[2022-11-30 18:02] wyli commented on #5611
there's additional issue if the padding `mode=None` and `copy_back=True`:
https://github.com/Project-MONAI/MONAI/blob/d0db5fd9d4da3bc7027d22c52bb9c405c3b9e879/monai/data/utils.py#L312-L313
the offset only works with padding

[2022-11-30 18:47] myron opened #5613 "CacheDataset shared memory, during torchrun multi-gpu training"
CacheDataset with shared memory crashes during torchrun distributed training

steps to reproduce, run `torchrun --nproc_per_node=2 main.py`

[code]

this errors doesn't accure if spawning multi-gpu processes manually (instead of torchrun).
this issue is  because "broadcast_object_list" checks for authkey in each process, and  torchrun has these keys different.

[2022-11-30 20:30] dongyang0122 commented on #5592
hi @moonforsun, thank you for raising the issue! we do not currently have the support for the list of image filenames, but it is in our development plan. You can still try Auto3DSeg with multi-phase or multi-modality images. But some modification on data formats is required. As Auto3DSeg supports datasets of [MSD](http://medicaldecathlon.com/). You can check how the multi-phase data is stored in T

[2022-11-30 20:47] drbeh opened #5616 "`HoVerNetNuclearTypePostProcessing` not working with default arguments"
**Describe the bug**
`HoVerNetNuclearTypePostProcessing` not working when `output_classes=None` and `return_centroid=False`, which are the default arguments for this transform.

[2022-11-30 20:50] drbeh opened #5617 "`HoVerNetPostProcessing` to include all branches"
`HoVerNetNuclearTypePostProcessing` processes the nuclear type branch and already post-processed output of other branches. Thus for nuclear prediction and hovermap, there is no single post processing transform, and the user should put together 5 different transforms with the right sequence.

It would be great to simplify this process for the user who want to use HoVerNet post processing.

[2022-11-30 23:09] myron opened #5619 "Failing unit test : tests/test_integration_segmentation_3d.py"
One of the integration tests always fails for me:

 **tests/test_integration_segmentation_3d.py**

I tried both on main and dev branches. Is it expected?  @wyli @Nic-Ma
thanks

[code]

[code]